<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.KeyCountCustomMapper">
    <sql id="Select_Clause">
        SELECT
        a.utm_source AS source_name,
        a.utm_term AS key_word,
        (
        SELECT
        COUNT(visit.id)
        FROM
        ht_utm_visit visit
        WHERE
        visit.utm_id = a.utm_id
        ) AS access_number,
        (
        SELECT
        COUNT(reg.id)
        FROM
        ht_utm_reg reg
        WHERE
        reg.utm_id = a.utm_id
        ) AS regist_number,
        (
        SELECT
        COUNT(users.user_id)
        FROM
        ht_utm_reg reg
        INNER JOIN ht_user users ON users.user_id = reg.user_id
        AND users.open_account = 1
        WHERE
        reg.utm_id = a.utm_id
        ) AS account_number
        FROM
        (
        SELECT DISTINCT
        utm.utm_source,
        utm.utm_id,
        utm.utm_term
        FROM
        ht_utm utm
        <where>
            <if test="sourceIdSrch != null and sourceIdSrch != ''">
                AND utm.utm_source = #{sourceIdSrch}
            </if>
            <if test="keyWordSrch != null and keyWordSrch != ''">
                AND utm.utm_term LIKE CONCAT( #{keyWordSrch}, '%')
            </if>
        </where>
        ) a
    </sql>

    <select id="countTotal" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.user.KeyCountRequest">
        SELECT COUNT(1) FROM ht_utm
        <where>
            <if test="sourceIdSrch != null and sourceIdSrch != ''">
                AND utm_source = #{sourceIdSrch}
            </if>
            <if test="keyWordSrch != null and keyWordSrch != ''">
                AND utm_term LIKE CONCAT( #{keyWordSrch}, '%')
            </if>
        </where>
    </select>

    <resultMap id="selectListMap" type="com.hyjf.am.vo.user.KeyCountVO">
        <result column="source_name" property="sourceName" jdbcType="VARCHAR" />
        <result column="key_word" property="keyWord" jdbcType="VARCHAR" />
        <result column="access_number" property="accessNumber" jdbcType="VARCHAR" />
        <result column="regist_number" property="registNumber" jdbcType="VARCHAR" />
        <result column="account_number" property="accountNumber" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="performanceMap" type="com.hyjf.am.vo.trade.OperationReportJobVO" >
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="sumAccount" property="sumAccount" jdbcType="DECIMAL" />
        <result column="dealMonth" property="dealMonth" jdbcType="VARCHAR" />
        <result column="dealSum" property="dealSum" jdbcType="INTEGER" />
        <result column="userId" property="userId" jdbcType="INTEGER" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="cityResultMap" type="com.hyjf.am.vo.trade.OperationReportJobVO" >
        <id column="citycode" property="citycode" jdbcType="INTEGER" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="cityname" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ageResultMap" type="com.hyjf.am.vo.trade.OperationReportJobVO" >
        <id column="sex" property="sex" jdbcType="INTEGER" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>

    <select id="searchAction" resultMap="selectListMap" parameterType="com.hyjf.am.resquest.user.KeyCountRequest">
        <include refid="Select_Clause" />
        <if test="limitStart >= 0" >
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>

    <select id="countRegistUser" resultType="java.lang.Integer">
        SELECT
        count(1) AS sumAccount
        FROM
        ht_user
        WHERE
        reg_time <![CDATA[ < ]]> DATE_FORMAT(CURDATE(), '%Y-%m-01')
    </select>

    <select id="getSexCount" resultMap="performanceMap" parameterType="java.util.List">
    SELECT
       CASE ui.sex
        WHEN 1 THEN
        "男"
        WHEN 2 THEN
        "女"
        ELSE
        "未知"
        END AS title,
        count(*) as dealSum
        FROM
        ht_user  u
        LEFT JOIN ht_user_info ui ON u.user_id = ui.user_id
        WHERE
        u.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                            #{item.userId}
        </foreach>

        GROUP BY
        CASE ui.sex
        WHEN 1 THEN
        "男"
        WHEN 2 THEN
        "女"
        ELSE
        "未知"
        END;
    </select>

    <select id="getAgeCount" resultMap="performanceMap" parameterType="java.util.List">
        SELECT
        CASE
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 60 THEN
        '60岁以上'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 50
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 59 THEN
        '50-59岁'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 40
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 49 THEN
        '40-49岁'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 30
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 39 THEN
        '30-39岁'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 18
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 29 THEN
        '18-29岁'
        END AS title,
        count(*) as dealSum
        FROM
        ht_user  u
        LEFT JOIN ht_user_info ui ON u.user_id = ui.user_id
        WHERE
        u.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>

        GROUP BY
        CASE
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 60 THEN
        '60岁以上'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 50
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 59 THEN
        '50-59岁'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 40
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 49 THEN
        '40-49岁'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 30
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 39 THEN
        '30-39岁'
        WHEN TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ >= ]]> 18
        AND TIMESTAMPDIFF(YEAR, ui.birthday, now()) <![CDATA[ <= ]]> 29 THEN
        '18-29岁'
        END;
    </select>
    <select id="getUserNames" resultMap="performanceMap" parameterType="java.util.List">
        SELECT
        u.user_id as userId,
        u.username as userName
        FROM
        ht_user  u
        WHERE
        u.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>
    </select>

    <!-- 	通过用户ID查询 用户年龄，用户地区 -->
    <select id="getUserAgeAndArea" resultMap="performanceMap">
        SELECT
        TIMESTAMPDIFF(YEAR, ui.birthday, now()) as dealSum,
        ui.idcard as title,
        ui.user_id as userId
        FROM
        ht_user_info ui
        WHERE
        ui.user_id = #{userId} LIMIT 1;
    </select>

    <select id="getTenderAgeByRange" resultType="int"  parameterType="com.hyjf.am.resquest.trade.OperationReportJobRequest">
        	SELECT
			count(t.user_id)
			FROM
			  ht_user  u
			  LEFT JOIN ht_user_info ui ON u.user_id = ui.user_id
			  WHERE  TIMESTAMPDIFF(YEAR, ui.birthday, now())  &lt;#{endAge}
			  and TIMESTAMPDIFF(YEAR, ui.birthday, now()) &gt;=#{firstAge}
			  AND    u.user_id in
            <foreach collection="operationReportJobVOList" index="index" item="item" open="(" separator="," close=")">
                #{item.userId}
            </foreach>
    </select>
    <!-- 	投资人性别分布 -->
    <select id="getTenderSexGroupBy" resultMap="ageResultMap"  parameterType="com.hyjf.am.resquest.trade.OperationReportJobRequest">
        SELECT
        ui.sex as sex,count(1) as count
        FROM
        ht_user  u
        LEFT JOIN ht_user_info ui ON u.user_id = ui.user_id
        WHERE ui.sex=2 or ui.sex=1
        AND    u.user_id in
        <foreach collection="operationReportJobVOList" index="index" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>
        group by ui.sex;
    </select>

    <select id="getTenderCityGroupByUserIds" resultMap="cityResultMap"  parameterType="java.util.List">
        SELECT
        LEFT(ui.idcard, 2) AS title, COUNT(u.user_id) AS count
        FROM
        ht_user  u
        LEFT JOIN ht_user_info ui ON u.user_id = ui.user_id
        WHERE    u.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.userId}
        </foreach>
        GROUP BY title
    </select>
</mapper>