<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.PlatformUserCountCustomizeMapper">

  <select id="getUserInfo" resultType="com.hyjf.am.user.dao.model.customize.PlatformUserCountCustomize">
	SELECT
      hu.reg_esb client,
      count(hu.user_id) registNumber,
      count(hb.user_id)accountNumber
      FROM
          ht_user hu
      LEFT JOIN ht_bank_open_account hb on hu.user_id = hb.user_id
      <where>
          <!-- hb.create_time 改为<= endTime if语句中的time统一 wgx-->
			<if test="startTime != null and startTime != ''">
                <!-- 优化sql(字段类型转换) timestamp-->
                AND hu.reg_time >= STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
                AND hb.create_time >= STR_TO_DATE(#{startTime},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="endTime != null and endTime != ''">
                <!-- 优化sql(字段类型转换) timestamp-->
                AND hu.reg_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                AND hb.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
      GROUP BY
          hu.reg_esb
  </select>
</mapper>