<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.QianleUserCustomizeMapper">
    <select id="queryQianleUser" resultType="java.lang.Integer">
            SELECT
                r.user_id
            FROM
                ht_utm_reg r
            LEFT JOIN ht_utm u ON u.utm_id = r.utm_id
            LEFT JOIN ht_utm_plat p ON  u.utm_source=p.source_name
            WHERE 1=1
            <if test="sourceId != null and sourceId !=''">
                AND  p.source_id=#{sourceId}
            </if>
    </select>


</mapper>

