<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.UserCustomizeMapper">
	<resultMap id="UserInfoForLogMap" type="com.hyjf.am.user.dao.model.customize.UserInfoForLogCustomize">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="idcard" property="idCard" jdbcType="VARCHAR" />
		<result column="user_role" property="userRole" jdbcType="INTEGER" />
		<result column="attribute" property="attribute" jdbcType="INTEGER" />
		<result column="open_account" property="openAccount" jdbcType="INTEGER" />
		<result column="bank_open_account" property="bankOpenAccount" jdbcType="INTEGER" />
		<result column="is51" property="is51" jdbcType="INTEGER" />
		<result column="user_status" property="userStatus" jdbcType="INTEGER" />
		<result column="recommend_name" property="recommendName" jdbcType="VARCHAR" />
		<result column="recommend_user_id" property="recommendUserId" jdbcType="INTEGER" />
		<result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="selectUserByUserId" resultMap="UserInfoForLogMap" parameterType="java.lang.Integer">
		SELECT
			hydu.user_id,
			hydu.username AS user_name,
			hydui.truename AS real_name,
			hydu.mobile,
			hydui.role_id AS user_role,
			hydui.attribute,
			hydu.open_account,
			hydu.`status` AS user_status,
			hydur.username AS recommend_name,
			hydur.user_id AS recommend_user_id,
			hydui.idcard,
			hydu.reg_time
		FROM
			ht_user hydu
			LEFT JOIN ht_user_info hydui ON hydu.user_id = hydui.user_id
			LEFT JOIN ht_spreads_user hydsu ON hydsu.user_id = hydu.user_id
			LEFT JOIN ht_user hydur ON hydur.user_id = hydsu.spreads_user_id
		WHERE hydu.user_id =#{userId,jdbcType=INTEGER}
	</select>
</mapper>
