<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.UserCustomizeMapper">
	<resultMap id="UserInfoForLogMap" type="com.hyjf.am.user.dao.model.customize.UserInfoForLogCustomize">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="idcard" property="idCard" jdbcType="VARCHAR" />
		<result column="user_role" property="userRole" jdbcType="INTEGER" />
		<result column="attribute" property="attribute" jdbcType="INTEGER" />
		<result column="open_account" property="openAccount" jdbcType="INTEGER" />
		<result column="bank_open_account" property="bankOpenAccount" jdbcType="INTEGER" />
		<result column="is51" property="is51" jdbcType="INTEGER" />
		<result column="user_status" property="userStatus" jdbcType="INTEGER" />
		<result column="recommend_name" property="recommendName" jdbcType="VARCHAR" />
		<result column="recommend_user_id" property="recommendUserId" jdbcType="INTEGER" />
		<result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="selectUserByUserId" resultMap="UserInfoForLogMap" parameterType="java.lang.Integer">
		SELECT
			hydu.user_id,
			hydu.username AS user_name,
			hydui.truename AS real_name,
			hydu.mobile,
			hydui.role_id AS user_role,
			hydui.attribute,
			hydu.open_account,
			hydu.`status` AS user_status,
			hydur.username AS recommend_name,
			hydur.user_id AS recommend_user_id,
			hydui.idcard,
			hydu.reg_time
		FROM
			ht_user hydu
			LEFT JOIN ht_user_info hydui ON hydu.user_id = hydui.user_id
			LEFT JOIN ht_spreads_user hydsu ON hydsu.user_id = hydu.user_id
			LEFT JOIN ht_user hydur ON hydur.user_id = hydsu.spreads_user_id
		WHERE hydu.user_id =#{userId,jdbcType=INTEGER}
	</select>

	<!-- 用户渠道信息 合规自查添加  -->
	<resultMap id="userUtmInfoMap" type="com.hyjf.am.user.dao.model.customize.UserUtmInfoCustomize">
		<result column="utm_id" property="sourceId" jdbcType="INTEGER" />
		<result column="utm_source" property="sourceName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getUserUtmInfo" resultMap="userUtmInfoMap" parameterType="java.lang.Integer">
		SELECT
		up.utm_id,
		up.utm_source
		FROM ht_user u
		LEFT JOIN ht_r_oa_users ou ON ou.hyd_id = u.user_id and ou.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od` ON `od`.`id` = `ou`.`departmentid` AND `od`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od2` ON `od2`.`id` = `od`.`parentid`
		LEFT JOIN ht_r_oa_department `od3` ON `od3`.`id` = `od2`.`parentid`
		LEFT JOIN ht_utm up ON up.utm_source = od3.`name`
		WHERE
		u.user_id =#{userId,jdbcType=INTEGER}
	</select>
	
	<resultMap id="loanSubjectCertificateAuthority" type="com.hyjf.am.vo.user.LoanSubjectCertificateAuthorityVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="CHAR" />
		<result column="id_type" property="idType" jdbcType="TINYINT" />
		<result column="id_no" property="idNo" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="customer_id" property="customerId" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getbatchAuthorityList" resultMap="loanSubjectCertificateAuthority" >
		SELECT
			u.user_id AS user_id,
			a.id_no AS id_no,
			a.customer_id AS customer_id
		FROM
			ht_loan_subject_certificate_authority a
			LEFT JOIN ht_user u ON u.mobile = a.mobile
		WHERE
			a.id_type = #{idType}
			AND a.id_no in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>

		UNION ALL
		SELECT
			user_id AS user_id,
			id_no AS id_no,
			customer_id AS customer_id
		FROM
			ht_certificate_authority
		WHERE
			id_type = #{idType}
			and id_no in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>
