<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.UserLargeScreenTwoCustomizeMapper" >
  
  <select id="getCurrentOwners" resultType="com.hyjf.am.vo.api.MonthDataStatisticsVO">
      SELECT customer_name AS currentOwner, customer_group AS customerGroup FROM ht_customer_task_config WHERE task_time = DATE_FORMAT(NOW(), '%Y-%m')
  </select>

  <select id="getCurrentOwnerUserIds" resultType="java.lang.Integer">
    SELECT user_id FROM ht_user_portrait
    <if test="currentOwner != null" >
      <where>
        AND current_owner = #{currentOwner}
      </where>
    </if>
  </select>

  <!-- 获取投屏采集到的所有的数据 -->
  <select id="getScreenTransferData" resultType="com.hyjf.am.vo.screen.ScreenTransferVO">
    SELECT  i.user_id userId,d3.name grdfatherName,d1.name deptName,u1.source_id sourceId,p.current_owner currentOwner,tc.customer_group groups,i.attribute attribute
    from ht_user_info i
    LEFT JOIN ht_spreads_user s ON i.user_id = s.user_id
    LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
    LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
    LEFT JOIN hyjf_user.ht_r_oa_department d2 ON d2.id = d1.parentid
    LEFT JOIN hyjf_user.ht_r_oa_department d3 ON d3.id = d2.parentid
    LEFT JOIN ht_utm_reg r ON r.user_id = i.user_id
    LEFT JOIN ht_utm u1 ON u1.utm_id = r.utm_id
    left JOIN ht_user_portrait p on i.user_id = p.user_id
    left join ht_customer_task_config tc on p.current_owner = tc.customer_name and task_time = DATE_FORMAT(NOW(),'%Y-%m')
    where 1=1
    AND i.role_id = 1
    and i.user_id in
    <foreach collection="list" item="item" separator="," open="(" close=")">
      #{item.userId}
    </foreach>
  </select>

</mapper> 