<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.UtmRegCustomizeMapper">

	<update id="updateFirstUtmReg" parameterType="map" >
	    UPDATE ht_utm_reg
		SET invest_amount = #{accountDecimal,jdbcType=DECIMAL},
		invest_project_type = #{projectType},
		invest_time = #{investTime},
		invest_project_period = #{investProjectPeriod}
		WHERE
			id = #{id,jdbcType=BIGINT}
  	</update>

	<resultMap id="UtmBaseResultMap" type="com.hyjf.am.vo.admin.UtmVO" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="source_id" property="sourceId" jdbcType="INTEGER" />
		<result column="source_name" property="sourceName" jdbcType="VARCHAR" />
		<result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
		<result column="attorn_flag" property="attornFlag" jdbcType="TINYINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_group_cd" property="createGroupCd" jdbcType="VARCHAR" />
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_group_cd" property="updateGroupCd" jdbcType="VARCHAR" />
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="source_type" property="sourceType" jdbcType="TINYINT" />
	</resultMap>

	<select id="getCountByParam" resultType="java.lang.Integer" parameterType="map" >
		SELECT COUNT(id) FROM ht_utm_plat
		<include refid="Where_Clause" />
	</select>
	<select id="getByPageList" resultMap="UtmBaseResultMap" parameterType="map" >
		SELECT * FROM ht_utm_plat
		<include refid="Where_Clause" />
	</select>
	<sql id="Where_Clause">
		<where>
			1 = 1
			<if test="sourceType != null and sourceType != ''" >
				and source_type =  #{sourceType}
			</if>
			<if test="sourceId != null and sourceId != ''" >
				and source_id =  #{sourceId}
			</if>
			<if test="delFlag != null and delFlag != ''" >
				and del_flag =  #{delFlag}
			</if>
		</where>
		<if test="limitStart != null and limitStart >= 0">
				limit #{limitStart} , #{limitEnd}
		</if>
	</sql>

	<select id="getUtmPlat" resultType="com.hyjf.am.vo.user.UtmPlatVO" parameterType="map" >
		SELECT id AS id,source_id sourceId,source_name sourceName,del_flag delFlag,attorn_flag attornFlag,remark remark, create_group_cd createGroupCd,
		create_user_id createUserId,create_time createTime,update_group_cd updateGroupCd,update_user_id updateUserId,update_time updateTime,source_type sourceType
		FROM ht_utm_plat
		<include refid="Where_Clause" />
	</select>

	<select id="getUtmByUtmId" resultType="com.hyjf.am.vo.admin.promotion.channel.UtmChannelVO" parameterType="String" >
		SELECT utm_id utmId, utm_source utmSource,source_id sourceId,utm_medium utmMedium,utm_term utmTerm,utm_content utmContent,
				utm_campaign utmCampaign,utm_referrer utmReferrer,link_address linkAddress,remark remark,STATUS STATUS
		FROM ht_utm
		where 1=1
		<if test="utmId != null and utmId != ''" >
			and utm_id =  ${utmId}
		</if>
	</select>
	
	<select id="getAccessNumber" resultType="INTEGER" parameterType="map">
		SELECT
			count(*)
		FROM
		ht_utm_visit a
		INNER JOIN ht_utm b ON a.utm_id = b.utm_id
		<where>
			<if test="sourceId != null and sourceId != ''">
				AND b.source_id = #{sourceId}
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.create_time <![CDATA[>=]]> #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.create_time <![CDATA[<=]]> #{dayEnd}
			</if>
		</where>
		
	</select>
	
	<select id="getRegistNumber" resultType="INTEGER" parameterType="map">
		SELECT
			count(*)
		from ht_utm_reg a INNER JOIN ht_utm b
		on a.utm_id = b.utm_id
		<where>
			<if test="sourceId != null and sourceId != ''">
				AND b.source_id = #{sourceId}
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.create_time <![CDATA[>=]]> #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.create_time <![CDATA[<=]]> #{dayEnd}
			</if>
		</where>
	</select>
	
	<select id="getOpenAccountNumber" resultType="INTEGER" parameterType="map">
		SELECT
			count(*)
		FROM
			ht_utm_reg a
		INNER JOIN ht_bank_open_account b ON a.user_id = b.user_id
		INNER JOIN ht_user_info c ON a.user_id = c.user_id
		<where>
			<if test="sourceId != null and sourceId != ''">
				AND b.source_id = #{sourceId}
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.create_time <![CDATA[>=]]> #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.create_time <![CDATA[<=]]> #{dayEnd}
			</if>
			<if test="type != null">
				AND c.attribute = #{type}
			</if>
		</where>
	</select>
	
	<select id="getUtmRegList" resultType="com.hyjf.am.user.dao.model.auto.UtmReg" parameterType="INTEGER">
		select * from ht_utm_reg a
			inner join ht_utm b
			on a.utm_id = b.utm_id
			left join ht_user_info c
			on a.user_id = c.user_id
			<where>
				<if test="sourceId != null and sourceId != ''">
					b.source_id = #{sourceId}
				</if>
				<if test="type !=null">
					c.attribute = 0
				</if>
			</where>
	</select>

	<select id="getRegisterAttrCount" resultType="DECIMAL" parameterType="map">
		SELECT
			count(*)
		FROM
			ht_user_info a
		<where>
			a.user_id in
			<if test="list != null">
				and hbt.user_id in
				<foreach collection="list" item="item" index="index" open="("  separator="," close=")" >
					#{item}
				</foreach>
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.create_time <![CDATA[>=]]> #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.create_time <![CDATA[<=]]> #{dayEnd}
			</if>
		</where>
	</select>
	
	<select id="getAccountNumber" resultType="DECIMAL" parameterType="map">
		SELECT
			count(*)
		FROM
			ht_user_info a
		<where>
			a.user_id in
			and a.account_esb = #{type}
			<if test="list != null">
				and hbt.user_id in
				<foreach collection="list" item="item" index="index" open="("  separator="," close=")" >
					#{item}
				</foreach>
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.create_time <![CDATA[>=]]> #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.create_time <![CDATA[<=]]> #{dayEnd}
			</if>
		</where>
	</select>

</mapper>