<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AccountRechargeCustomizeMapper">

	<resultMap id="AccountRechargeMapResult"
			   type="com.hyjf.am.trade.dao.model.customize.RechargeManagementCustomize">
		<result column="id" property="id" />
		<result column="nid" property="nid" /> <!-- 订单id -->
		<result column="user_id" property="userId" /> <!-- 用户名 -->
		<result column="roleid" property="roleId" /> <!-- 角色 -->
		<result column="username" property="username" /> <!-- 用户名 -->
		<result column="mobile" property="mobile" /> <!-- 手机号 -->
		<result column="user_attribute" property="userAttribute" /> <!-- 用户属性（当前） -->
		<result column="user_region_name" property="userRegionName" /> <!-- 用户所属一级分部（当前）-->
		<result column="user_branch_name" property="userBranchName" /> <!-- 用户所属二级分部（当前） -->
		<result column="user_department_name" property="userDepartmentName" /> <!-- 用户所属团队（当前） -->
		<result column="referrer_name" property="referrerName" /> <!-- 推荐人用户名（当前） -->
		<result column="referrer_user_id" property="referrerUserId" /> <!-- 推荐人ID（当前） -->
		<result column="referrer_true_name" property="referrerTrueName" /><!-- 推荐人姓名（当前） -->
		<result column="referrer_region_name" property="referrerRegionName" /><!-- 推荐人所属一级分部（当前） -->
		<result column="referrer_branch_name" property="referrerBranchName" /><!-- 推荐人所属二级分部（当前） -->
		<result column="referrer_department_name" property="referrerDepartmentName" /><!-- 推荐人所属团队（当前） -->
		<result column="bank_name" property="bankName" /> <!-- 充值银行 -->
		<result column="type" property="type" /> <!-- 充值方式 -->
		<result column="gate_type" property="gateType" /> <!-- 充值类型 -->
		<result column="status" property="status" /> <!-- z状态 -->
		<result column="user_property" property="userProperty" /> <!-- z状态 -->
		<result column="statusName" property="statusName" /> <!-- 转账状态 -->
		<result column="money" property="money" /> <!-- 充值金额 -->
		<result column="balance" property="balance" /> <!-- 可用金额 -->
		<result column="fee" property="fee" /> <!-- 手续费 -->
		<!--<result column="dianfuFee" property="dianfuFee" /> --><!-- 垫付手续费 -->
		<!--<result column="fee_from" property="feeFrom" /> &lt;!&ndash; 充值手续费收取方式 &ndash;&gt;-->
		<result column="client" property="client" /> <!-- 客户端 -->
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" /> <!-- 交易时间 -->
		<result column="outtime" property="outtime" /> <!-- 当前时间减去充值时间，秒数 -->
		<result column="cardid" property="cardid" /> <!-- 银行卡号 -->
		<result column="message" property="message" /> <!-- 失败原因 -->
		<result column="remark" property="remark" /> <!-- 备注-->
		<result column="bank_seq_no" property="seqNo" /><!-- 交易流水号 -->
		<result column="tx_date" property="txDate" /><!-- 发送日期 -->
		<result column="tx_time" property="txTime" /><!-- 发送时间 -->
		<result column="seq_no" property="bankSeqNo" /><!-- 系统跟踪号 -->
		<result column="account_id" property="accountId" /><!-- 电子账户 -->
		<result column="is_bank" property="isBank" />
	</resultMap>

	<select id="getRechargePrice" resultType="DECIMAL" parameterType="list">
		select sum(money) from ht_account_recharge a
		left join ht_user_info b on a.user_id = b.user_id
		<where>
			<if test="type != null">
				b.attribute=0
			</if>
			<if test="list != null">
				and a.user_id in
					<foreach collection="list" item="item" index="index" open="("  separator="," close=")" >
						#{item}
					</foreach>
			</if>
		</where>
	</select>

	<sql id="where-all-page-condition">
		<if test="userId != null and userId != 0">
			AND ui.user_id = #{userId}
		</if>
		<if test="nidSearch != null and nidSearch != 0">
			AND r.nid = #{nidSearch}
		</if>
		<if test="usernameSearch != null and usernameSearch != ''">
			AND r.username = #{usernameSearch}
		</if>
		<if test="statusSearch != null and statusSearch != ''">
			AND r.`status` = #{statusSearch}
		</if>
		<if test="typeSearch != null and typeSearch != '' ">
			AND r.gate_type = #{typeSearch}
		</if>
		<if test="typeSearch == null or typeSearch == '' ">
			AND r.gate_type <![CDATA[<>]]> 'ADMIN'
		</if>
		<if test="accountIdSearch != null and accountIdSearch != ''">
			AND r.`account_id` = #{accountIdSearch}
		</if>
		<if test="isBankSearch != null and isBankSearch != ''">
			AND r.`is_bank` = #{isBankSearch}
		</if>
		<if test="seqNoSearch != null and seqNoSearch != ''">
			AND r.`bank_seq_no` = #{seqNoSearch}
		</if>
		<if test="bankCodeSearch != null and bankCodeSearch != ''">
			AND r.payment = #{bankCodeSearch}
		</if>
		<if test="startDate != null and startDate != ''">
			AND r.create_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{startDate},'00:00:00'),'%Y-%m-%d %H:%i:%s')
		</if>
		<if test="endDate != null and endDate != ''">
			AND r.create_time  <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{endDate},'23:59:59'),'%Y-%m-%d %H:%i:%s')
		</if>
		<if test="clientTypeSearch != null and clientTypeSearch != ''">
			AND r.client = #{clientTypeSearch}
		</if>
		<!--<if test="userProperty != null and userProperty != ''">
			AND ui.attribute = #{userProperty,jdbcType=INTEGER}
		</if>-->
		<if test="roleIdSearch != null and roleIdSearch != 0">
			AND ui.role_id = #{roleIdSearch}
		</if>
	</sql>

	<select id="getAccountRechargeListCount" resultType="java.lang.Integer" parameterType="com.hyjf.am.trade.dao.model.auto.AccountRechargeExample">
		SELECT COUNT(1)

		FROM ht_account_recharge r
		<if test="usernameSearch != null and usernameSearch != ''">
			LEFT JOIN ht_r_user ru ON r.user_id= ru.user_id
		</if>
			LEFT JOIN ht_r_user ui ON r.user_id= ui.user_id
		<!-- LEFT JOIN
		ht_fee_config p ON r.payment= p.bank_code-->
		<!--<if test="bankCodeSearch != null and bankCodeSearch != ''">
			LEFT JOIN
			ht_bank_config b ON r.payment= b.code
		</if> -->
		WHERE 1=1
		<include refid="where-all-page-condition" />
		ORDER BY r.id DESC
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="getAccountRechargeList" resultMap="AccountRechargeMapResult" parameterType="com.hyjf.am.trade.dao.model.customize.RechargeManagementCustomize">
		SELECT
		t.id,
		t.user_id,
		t.username,
		u.mobile,
		t.nid,
		t.gate_type,
		t.remark,
		t.money,
		t.fee,
		t.type,
		t.balance,
		t.payment,
		t.statusName AS statusName,
		t.message,
		t.client,
		date_format(t.create_time, '%Y-%c-%d %H:%i:%s') AS 'create_time',
		t.bank_seq_no,
		t.tx_date,
		t.tx_time,
		t.seq_no,
		t.account_id,
		t.payment AS bank_name,
		su.username AS referrer_name,
		u.spreads_user_id AS `referrer_user_id`,
		su.truename AS `referrer_true_name`,
		`od6`.`name` AS `referrer_region_name`,
		`od5`.`name` AS `referrer_branch_name`,
		`od4`.`name` AS `referrer_department_name`,
		CASE u.role_id WHEN 1 THEN '出借人'	WHEN 2 THEN	'借款人' WHEN 3 THEN '担保机构'	END AS roleid,
		u.attribute AS user_attribute,
		CASE WHEN u.attribute = '1' THEN `od6`.`name` ELSE `od3`.`name`	END `user_region_name`,
		CASE WHEN u.attribute = '1' THEN `od5`.`name` ELSE `od2`.`name`	END `user_branch_name`,
		CASE WHEN u.attribute = '1' THEN `od4`.`name` ELSE `od`.`name`	END `user_department_name`,
		t.cardid,
		t.outtime,
		t.status,
		t.is_bank,
		u.attribute AS user_property
		FROM
		(SELECT r.user_id, r.username,
		r.nid,
		r.gate_type,
		r.remark,
		r.money, r.fee,
		r.balance ,r.payment,
		CASE r.`type` WHEN 0 THEN '线下充值' WHEN 1 THEN '线上充值' END AS type,
		CASE r.`status` WHEN 1 THEN '转账中' WHEN 2	THEN '成功' WHEN 4 THEN '终止' ELSE '失败' END as statusName ,
		CASE r.client WHEN 0 THEN 'PC' WHEN 1 THEN '微信' WHEN 2 THEN 'android' WHEN 3 THEN 'iOS' WHEN 4 THEN '线下充值' ELSE r.client END AS client,
		r.id, r.cardid,r.message,
		r.bank_seq_no,
		DATE_FORMAT(r.tx_date,'%Y-%m-%d') as tx_date,
		CONCAT(MID(lpad(r.tx_time,6,0),1,2),':',MID(lpad(r.tx_time,6,0),3,2),':',MID(lpad(r.tx_time,6,0),5,2)) as tx_time,
		r.seq_no,
		r.account_id,
		UNIX_TIMESTAMP()-UNIX_TIMESTAMP(r.create_time) as outtime,
		r.create_time,
		r.`status`,
		r.is_bank
		FROM
		ht_account_recharge r
		<if test="roleIdSearch != null and roleIdSearch != 0">
			LEFT JOIN
			ht_r_user ui ON r.user_id= ui.user_id
		</if>
		WHERE
		1=1
		<include refid="where-all-page-condition" />
		ORDER BY r.id DESC
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>) t
		LEFT JOIN ht_r_user u ON t.user_id= u.user_id
		LEFT JOIN ht_r_user su ON su.user_id = u.spreads_user_id
		LEFT JOIN ht_r_oa_users `ou` ON `ou`.hyd_id = u.user_id AND ou.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od` ON `od`.`id` = `ou`.`departmentid` AND `od`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od2` ON `od2`.`id` = `od`.`parentid`
		LEFT JOIN ht_r_oa_department `od3` ON `od3`.`id` = `od2`.`parentid`
		LEFT JOIN ht_r_oa_users `ou1` ON `ou1`.hyd_id = u.spreads_user_id AND ou1.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od4` ON `od4`.`id` = `ou1`.`departmentid` AND `od4`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od5` ON `od5`.`id` = `od4`.`parentid`
		LEFT JOIN ht_r_oa_department `od6` ON `od6`.`id` = `od5`.`parentid`
	</select>

</mapper>