<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hyjf.am.trade.dao.mapper.customize.AdminBorrowRepaymentInfoCustomizeMapper">


	<select id="countBorrowRepaymentInfo" resultType="java.lang.Integer"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentInfoRequset">
		SELECT
		COUNT(1)
		from ht_borrow AS b
		INNER JOIN ht_borrow_info AS binfo ON binfo.borrow_nid=b.borrow_nid
		INNER JOIN ht_borrow_recover AS br ON br.borrow_nid=b.borrow_nid
		LEFT join ht_borrow_tender AS t on br.tender_id=t.id
		<include refid="Where_Clause" />
	</select>
	<sql id="Where_Clause">
		<where>
			<!-- 出借nid -->
			<if test="nid != null and nid != ''">
				AND br.nid = #{nid}
			</if>
			<!-- 项目编号 -->
			<if test="borrowNid != null and borrowNid != ''">
				<if test="serchFlag == 0">
					AND b.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
				</if>
				<if test="serchFlag == 1">
					AND b.borrow_nid = #{borrowNid}
				</if>
			</if>
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND binfo.inst_code = #{instCodeSrch}
			</if>

			<!-- 借款人 -->
			<if test="borrowUserName != null and borrowUserName != ''">
				AND b.borrow_user_name LIKE CONCAT( #{borrowUserName},
				'%')
			</if>
			<!-- 出借人 -->
			<if test="recoverUserName != null and recoverUserName != ''">
				AND t.user_name LIKE CONCAT( #{recoverUserName},
				'%')
			</if>
			<!-- 还款状态 -->
			<if test="status != null and status != ''">
				AND br.recover_status = #{status}
			</if>
			<!-- 还款批次号 -->
			<if test="repayBatchNo != null and repayBatchNo != ''">
				AND br.repay_batch_no LIKE CONCAT( #{repayBatchNo}, '%')
			</if>
			<!-- 最后还款日 -->
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND b.repay_last_time <![CDATA[>=]]> UNIX_TIMESTAMP(#{timeStartSrch})
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND b.repay_last_time <![CDATA[<=]]> UNIX_TIMESTAMP(#{timeEndSrch})+86399
			</if>
			<!-- 计划编号 -->
			<if test="planNidSrch != null and planNidSrch != ''">
				AND b.plan_nid = #{planNidSrch}
			</if>
			<!-- 汇计划加入订单号 -->
			<if test="accedeOrderIdSrch != null and accedeOrderIdSrch != ''">
				AND br.accede_order_id = #{accedeOrderIdSrch}
			</if>
			<if test="yesTimeStartSrch != null and yesTimeStartSrch != ''">
				AND br.recover_yestime &gt; #{yesTimeStartSrch}
			</if>

			<if test=" yesTimeEndSrch != null and yesTimeEndSrch != ''">
				AND br.recover_yestime &lt; #{yesTimeEndSrch}
			</if>
		</where>
	</sql>

	<resultMap id="searchBorrowRepaymentInfoListResultMap"
			   type="com.hyjf.am.trade.dao.model.customize.AdminBorrowRepaymentInfoCustomize">
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="borrowNid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="repayOrgName" property="repayOrgName" jdbcType="VARCHAR" />
		<result column="borrowUserName" property="borrowUserName" jdbcType="VARCHAR" />
		<result column="borrowName" property="borrowName" jdbcType="VARCHAR" />
		<result column="projectType" property="projectType" jdbcType="VARCHAR" />
		<result column="projectTypeName" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrowPeriod" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrowApr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrowAccount" property="borrowAccount" jdbcType="VARCHAR" />
		<result column="borrowAccountYes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<result column="repayType" property="repayType" jdbcType="VARCHAR" />
		<result column="recoverUserId" property="recoverUserId" jdbcType="VARCHAR" />
		<!-- 出借人用户属性（当前） -->
		<result column="recover_user_attribute" property="recoverUserAttribute" jdbcType="VARCHAR" />
		<!-- 出借人所属一级分部（当前） -->
		<result column="recover_region_name" property="recoverRegionName" jdbcType="VARCHAR" />
		<!-- 出借人所属二级分部（当前） -->
		<result column="recover_branch_name" property="recoverBranchName" jdbcType="VARCHAR" />
		<!-- 出借人所属团队（当前） -->
		<result column="recover_department_name" property="recoverDepartmentName" jdbcType="VARCHAR" />
		<!-- 推荐人（当前） -->
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<!-- 推荐人ID（当前） -->
		<result column="referrer_user_id" property="referrerUserId" jdbcType="VARCHAR" />
		<!-- 推荐人姓名（当前） -->
		<result column="referrer_true_name" property="referrerTrueName" jdbcType="VARCHAR" />
		<!-- 推荐人所属一级分部（当前） -->
		<result column="referrer_region_name" property="referrerRegionName" jdbcType="VARCHAR" />
		<!-- 推荐人所属二级分部（当前） -->
		<result column="referrer_branch_name" property="referrerBranchName" jdbcType="VARCHAR" />
		<!-- 推荐人所属团队（当前） -->
		<result column="referrer_department_name" property="referrerDepartmentName" jdbcType="VARCHAR" />
		<result column="recoverUserName" property="recoverUserName" jdbcType="VARCHAR" />
		<result column="recoverPeriod" property="recoverPeriod" jdbcType="VARCHAR" />
		<result column="recoverTotal" property="recoverTotal" jdbcType="VARCHAR" />
		<result column="recoverCapital" property="recoverCapital" jdbcType="VARCHAR" />
		<result column="recoverInterest" property="recoverInterest" jdbcType="VARCHAR" />
		<result column="recoverAccount" property="recoverAccount" jdbcType="VARCHAR" />
		<result column="recoverFee" property="recoverFee" jdbcType="VARCHAR" />
		<result column="recoverCapitalYes" property="recoverCapitalYes" jdbcType="VARCHAR" />
		<result column="recoverInterestYes" property="recoverInterestYes" jdbcType="VARCHAR" />
		<result column="recoverAccountYes" property="recoverAccountYes" jdbcType="VARCHAR" />
		<result column="recoverCapitalWait" property="recoverCapitalWait" jdbcType="VARCHAR" />
		<result column="recoverInterestWait" property="recoverInterestWait" jdbcType="VARCHAR" />
		<result column="recoverAccountWait" property="recoverAccountWait" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="recoverLastTime" property="recoverLastTime" jdbcType="VARCHAR" />
		<result column="borrowStyle" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="repayActionTime" property="repayActionTime" jdbcType="VARCHAR" />
		<result column="repay_ordid" property="repayOrdid" jdbcType="VARCHAR" />
		<result column="repay_batch_no" property="repayBatchNo" jdbcType="VARCHAR" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="instName" property="instName" jdbcType="VARCHAR" />
		<result column="freezeOrderId" property="freezeOrderId" jdbcType="VARCHAR" />
		<result column="repayAccountAll" property="repayAccountAll" jdbcType="VARCHAR" />
		<result column="repayAccountCapital" property="repayAccountCapital" jdbcType="VARCHAR" />
		<result column="repayAccountInterest" property="repayAccountInterest" jdbcType="VARCHAR" />
		<result column="borrowManager" property="borrowManager" jdbcType="VARCHAR" />
		<result column="chargeDays" property="chargeDays" jdbcType="VARCHAR" />
		<result column="jianxi" property="jianxi" jdbcType="VARCHAR" />
		<result column="chargeInterest" property="chargeInterest" jdbcType="VARCHAR" />
		<result column="lateDays" property="lateDays" jdbcType="VARCHAR" />
		<result column="lateInterest" property="lateInterest" jdbcType="VARCHAR" />
		<result column="repayMoneySource" property="repayMoneySource" jdbcType="VARCHAR" />
		<result column="repayUsername" property="repayUsername" jdbcType="VARCHAR" />
		<result column="autoRepay" property="autoRepay" jdbcType="VARCHAR" />
		<result column="submitter" property="submitter" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectBorrowRepaymentInfoListForView" resultMap="searchBorrowRepaymentInfoListResultMap"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentInfoRequset">
		SELECT
		br.nid AS nid,
		br.borrow_nid AS borrowNid,
		b.user_id AS userId,
		b.borrow_user_name AS borrowUserName,
		binfo.name AS borrowName,
		binfo.repay_org_name as repayOrgName,
		b.borrow_style AS borrowStyle,
		binfo.project_Type AS projectType,
		bpt.borrow_name AS projectTypeName,
		b.borrow_Period AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.account AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs.name AS repayType,
		t.user_id AS recoverUserId,
		t.user_name AS recoverUserName,
		t.tender_user_attribute AS recover_user_attribute,
		t.invite_user_name AS referrer_name,
		t.invite_user_id AS referrer_user_id,
		iu.truename AS referrer_true_name,
		br.recover_period AS recoverPeriod,
		t.account AS recoverTotal,
		br.recover_capital AS recoverCapital,
		br.recover_interest AS recoverInterest,
		br.recover_Account AS recoverAccount,
		br.recover_fee AS recoverFee,
		br.recover_capital_yes AS recoverCapitalYes,
		br.recover_interest_yes AS recoverInterestYes,
		br.recover_Account_yes AS recoverAccountYes,
		br.recover_capital-br.recover_capital_yes AS recoverCapitalWait,
		br.recover_interest-br.recover_interest_yes AS recoverInterestWait,
		br.recover_Account-br.recover_Account_yes AS recoverAccountWait,
		br.recover_status AS status,
		if(b.repay_last_time='' OR b.repay_last_time='0' OR b.repay_last_time='null','',FROM_UNIXTIME(
		b.repay_last_time, '%Y-%m-%d' )) AS recoverLastTime,
		if(br.recover_yestime is null or br.recover_yestime='',
		'',FROM_UNIXTIME(br.recover_yestime, '%Y-%m-%d %H:%i:%s' )) as repayActionTime,
		br.repay_ordid AS repay_ordid,
		br.repay_batch_no AS repay_batch_no,
		hic.inst_name AS instName,
		b.plan_nid
		FROM
		ht_borrow AS b
		INNER JOIN ht_borrow_info AS binfo ON binfo.borrow_nid=b.borrow_nid
		INNER JOIN ht_borrow_recover AS br ON br.borrow_nid=b.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT join ht_borrow_tender AS t on br.tender_id=t.id
		LEFT JOIN ht_r_user AS iu ON t.user_id=iu.user_id
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = binfo.project_type
		LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
		<include refid="Where_Clause" />
		ORDER BY
		br.id DESC
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>


	<select id="sumBorrowRepaymentInfo"
			resultType="com.hyjf.am.trade.dao.model.customize.AdminBorrowRepaymentInfoCustomize"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentInfoRequset">
		SELECT
		SUM(br.recover_capital) AS recoverCapital,
		SUM(br.recover_interest) AS recoverInterest,
		SUM(br.recover_Account) AS
		recoverAccount,
		SUM(br.recover_fee) AS recoverFee
		from ht_borrow AS b
		INNER JOIN ht_borrow_info AS binfo ON binfo.borrow_nid=b.borrow_nid
		INNER JOIN ht_borrow_recover AS br ON br.borrow_nid=b.borrow_nid
		LEFT join ht_borrow_tender AS t on br.tender_id=t.id
		<include refid="Where_Clause" />
	</select>


	<select id="selectBorrowRepaymentInfoList" resultMap="searchBorrowRepaymentInfoListResultMap"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentInfoRequset">
		SELECT
		br.nid AS nid,
		br.borrow_nid AS borrowNid,
		u1.user_id AS userId,
		u1.username AS borrowUserName,
		hbi.name AS borrowName,
		hbi.repay_org_name as repayOrgName,
		b.borrow_style AS borrowStyle,
		b.project_Type AS projectType,
		bpt.borrow_name AS projectTypeName,
		b.borrow_Period AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.account AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs.name AS repayType,
		u2.user_id AS recoverUserId,
		u2.username AS recoverUserName,
		u2.attribute AS recover_user_attribute,
		CASE WHEN u2.attribute = '1' THEN `od6`.`name` ELSE `od3`.`name` END `recover_region_name`,
		CASE WHEN u2.attribute = '1' THEN `od5`.`name` ELSE `od2`.`name` END `recover_branch_name`,
		CASE WHEN u2.attribute = '1' THEN `od4`.`name` ELSE `od`.`name`  END `recover_department_name`,
		u3.username AS referrer_name,
		u3.user_id AS referrer_user_id,
		u3.truename AS referrer_true_name,
		`od6`.`name` AS `referrer_region_name`,
		`od5`.`name` AS `referrer_branch_name`,
		`od4`.`name` AS `referrer_department_name`,
		br.recover_period AS recoverPeriod,
		t.account AS recoverTotal,
		br.recover_capital AS recoverCapital,
		br.recover_interest AS recoverInterest,
		br.recover_Account AS recoverAccount,
		br.recover_fee AS recoverFee,
		br.recover_capital_yes AS recoverCapitalYes,
		br.recover_interest_yes AS recoverInterestYes,
		br.recover_Account_yes AS recoverAccountYes,
		br.recover_capital-br.recover_capital_yes AS recoverCapitalWait,
		br.recover_interest-br.recover_interest_yes AS recoverInterestWait,
		br.recover_Account-br.recover_Account_yes AS recoverAccountWait,
		br.recover_status AS status,
		if(b.repay_last_time='' OR b.repay_last_time='0' OR b.repay_last_time='null','',FROM_UNIXTIME(
		b.repay_last_time, '%Y-%m-%d' )) AS recoverLastTime,
		if(br.recover_yestime is null or br.recover_yestime='',
		'',FROM_UNIXTIME(br.recover_yestime, '%Y-%m-%d %H:%i:%s' )) as repayActionTime,
		br.repay_ordid AS repay_ordid,
		br.repay_batch_no AS repay_batch_no,
		hic.inst_name AS instName,
		b.plan_nid,
		IFNULL(flg.order_id,rflg.order_id) AS freezeOrderId,
		b.repay_account_all  as repayAccountAll,
		b.repay_account_capital as repayAccountCapital,
		b.repay_account_interest as repayAccountInterest,
		b.borrow_manager as borrowManager,
		br.charge_days as chargeDays,
		br.repay_charge_interest-br.charge_interest as jianxi,
		br.charge_interest as chargeInterest,
		br.late_days as lateDays,
		br.late_interest as lateInterest,
		CASE brr.repay_money_source WHEN 1 THEN '借款人还款' WHEN 2 THEN '机构垫付' WHEN 3 THEN '保证金垫付' ELSE '借款人还款' END  as repayMoneySource,
		brr.repay_username as repayUsername,
		CASE brr.auto_repay when 0
		then '手动还款'
		else '自动还款' end as autoRepay,
		ba.submitter as submitter
		FROM
		ht_borrow AS b
		INNER JOIN ht_borrow_info hbi ON hbi.borrow_nid=b.borrow_nid
		INNER JOIN ht_borrow_recover AS br ON br.borrow_nid=b.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT join ht_borrow_tender AS t on br.tender_id=t.id
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		LEFT JOIN ht_r_user AS u1 ON br.borrow_userid = u1.user_id
		LEFT JOIN ht_r_user AS u2 ON br.user_id = u2.user_id

		LEFT JOIN ht_r_oa_users `ou` ON `ou`.hyd_id = br.user_id AND ou.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od` ON `od`.`id` = `ou`.`departmentid` AND `od`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od2` ON `od2`.`id` = `od`.`parentid`
		LEFT JOIN ht_r_oa_department `od3` ON `od3`.`id` = `od2`.`parentid`


		LEFT JOIN ht_r_user AS u3 ON u2.spreads_user_id = u3.user_id
		LEFT JOIN ht_r_oa_users `ou1` ON `ou1`.hyd_id = u2.spreads_user_id AND ou1.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od4` ON `od4`.`id` = `ou1`.`departmentid` AND `od4`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od5` ON `od5`.`id` = `od4`.`parentid`
		LEFT JOIN ht_r_oa_department `od6` ON `od6`.`id` = `od5`.`parentid`
		LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = hbi.inst_code
		LEFT JOIN ht_bank_repay_org_freeze_log flg on flg.borrow_nid = b.borrow_nid and flg.del_flag = 0
		LEFT JOIN ht_bank_repay_freeze_log rflg on rflg.borrow_nid = b.borrow_nid and rflg.del_flag = 0
		Left join ht_borrow_apicron ba on br.borrow_nid=ba.borrow_nid and br.recover_period=ba.period_now and ba.api_type='1'
		left join ht_borrow_repay brr on brr.borrow_nid=br.borrow_nid and br.recover_period=brr.repay_period
		<include refid="Where_Clause" />
		ORDER BY
		br.id DESC
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="countBorrowRepaymentInfoExport" resultType="java.lang.Integer"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentInfoRequset">
		SELECT
		COUNT(1)
		from ht_borrow AS b
		INNER JOIN ht_borrow_info AS binfo ON binfo.borrow_nid=b.borrow_nid
		INNER JOIN ht_borrow_recover AS br ON br.borrow_nid=b.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT join ht_borrow_tender AS t on br.tender_id=t.id
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = binfo.project_type
		LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
		LEFT JOIN ht_bank_repay_org_freeze_log flg on flg.borrow_nid = b.borrow_nid and flg.del_flag = 0
		LEFT JOIN ht_bank_repay_freeze_log rflg on rflg.borrow_nid = b.borrow_nid and rflg.del_flag = 0
		<include refid="Where_Clause" />
		ORDER BY
		br.id DESC
	</select>

</mapper>