<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminHjhCommissionMapper">
    <!-- *****************************************查找计划提成列表***************************************** -->
    <resultMap id="detailResult" type="com.hyjf.am.vo.trade.hjh.HjhCommissionCustomizeVO">
		<result column="id" property="id" />
		<result column="borrow_nid" property="borrowNid" />
		<result column="ordid" property="ordid" />
		<result column="borrow_period" property="borrowPeriod" />
		<result column="lock_period" property="lockPeriod" />
		<result column="borrow_style" property="borrowStyle" />
		<result column="borrow_style_hjh" property="borrowStyleHjh" />
		<result column="referername" property="referername" />
		<result column="username" property="username" />
		<result column="truename" property="trueNameTender" />
		<result column="username_tender" property="usernameTender" />
		<result column="attribute" property="attribute" />
		<result column="referrer_user_name" property="referrerUserName" />
		<result column="expect_apr" property="expectApr" />
		<result column="attribute_tender" property="attributeTender" />
		<result column="attribute_name" property="attributeName" />
		<result column="is51" property="is51" />
		<result column="tender_user_id" property="tenderUserId" />
		<result column="account_tender" property="accountTender" />
		<result column="commission" property="commission" />
		<result column="status" property="status" />
		<result column="touzi_time" property="touziTime" />
		<result column="is51_name" property="is51Name" />
		<result column="rzqx" property="rzqx" />
		<result column="status_name" property="statusName" />
		<result column="region_name" property="regionName" jdbcType="VARCHAR" />
		<result column="branch_name" property="branchName" jdbcType="VARCHAR" />
		<result column="department_name" property="departmentName" jdbcType="VARCHAR" />
		<!-- <result column="account_id" property="accountId" /> -->
		<result column="send_time" property="sendTimeView" />
		<result column="tender_time" property="tenderTimeView" />
		<result column="count_interest_time" property="countInterestTimeView" />
		<result column="add_time" property="addTime" />
		<result column="isMonth" property="isMonth" />
	</resultMap>
    
    <select id="queryPushMoneyDetail" resultMap="detailResult" parameterType="com.hyjf.am.resquest.admin.HjhCommissionRequest">
		SELECT
			tc.id,
			tc.borrow_nid,
			tc.ordid,
			<!-- tc.account_id, -->
			b.borrow_period,
			b.borrow_style,		
			hhp.lock_period,
			hhp.borrow_style AS borrow_style_hjh,
			hhp.is_month AS isMonth,
			tc.`status`,
			tc.tender_user_id,
			hhp.borrow_style,
			IFNULL(hhp.expect_apr, 0.00) AS expect_apr,
			IFNULL(tc.account_tender, 0.00) AS account_tender,
			IFNULL(tc.commission, 0.00) AS commission,
			CASE
			WHEN 
			hha.count_interest_time > 0 
			THEN
				FROM_UNIXTIME(
					hha.count_interest_time,
					'%Y-%m-%d %H:%i:%s'
				)
			ELSE
				''
			END AS count_interest_time,
								CASE
			WHEN 
			hha.count_interest_time > 0 
			THEN
			hha.create_time
			ELSE
				''
			END AS add_time,
			
			FROM_UNIXTIME(tc.tender_time,'%Y-%m-%d %H:%i%:%s') as tender_time,
			
			<!-- FROM_UNIXTIME(IFNULL(tc.send_time, tc.update_time),'%Y-%m-%d %H:%i:%S') AS send_time, -->
			<!-- IFNULL(tc.send_time, tc.update_time) AS send_time, 因为微服务数据库会自动插入update_time，此时间不可靠-->

			IFNULL(tc.send_time, "") AS send_time,

			case b.borrow_style when 'endday' then CONCAT(b.borrow_period,'天') else CONCAT(b.borrow_period,'个月') end as rzqx,
			case tc.`status` when 1 then '已发放' else '未发放' end as status_name,
			t.invite_region_name as region_name,
			t.invite_branch_name as branch_name,
			t.invite_department_name as department_name,
			u.username,
			u2.username AS username_tender,
			case  when u.username=hha.user_name then hha.user_attribute when u.username=hha.invite_user_name then hha.invite_user_attribute else '' end as attribute,
			u2.attribute AS attribute_tender,
			u.truename
			
		FROM ht_tender_commission tc
		LEFT JOIN ht_borrow_tender t ON tc.tender_id= t.id
		LEFT JOIN ht_r_user u ON u.user_id= tc.user_id
		LEFT JOIN ht_borrow b ON b.borrow_nid= tc.borrow_nid
		LEFT JOIN ht_hjh_plan hhp ON hhp.plan_nid = tc.borrow_nid
		LEFT JOIN ht_r_user u2 ON u2.user_id= tc.tender_user_id
		LEFT JOIN ht_hjh_accede hha ON hha.accede_order_id = tc.ordid
		WHERE 1=1 AND tc.commission > 0 
		<include refid="where-all-page-condition-detail"/>
		ORDER BY tc.status ASC, tc.tender_time DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<sql id="where-all-page-condition-detail">
		<if test="tenderType != null and tenderType != ''">
			AND tc.tender_type = #{tenderType}
		</if>
		<if test="accedeOrderIdSearch != null and accedeOrderIdSearch != ''">
			AND tc.ordid = #{accedeOrderIdSearch}
		</if>
		<if test="borrowNidSearch != null and borrowNidSearch != ''">
			AND tc.borrow_nid = #{borrowNidSearch}
		</if>
		<if test="usernameSearch != null and usernameSearch != ''">
			AND u2.username = #{usernameSearch}
		</if>
		<if test="referernameSearch != null and referernameSearch != ''">
			AND u.username = #{referernameSearch}
		</if>
<!-- 		<if test="accountId != null and accountId != ''">
			AND tc.account_id = #{accountId}
		</if> -->
		<if test="startDate != null and startDate != ''">

			<!-- 优化sql(字段类型转换) int-->
			AND tc.tender_time &gt;= UNIX_TIMESTAMP(#{startDate})
		</if>
		<if test="endDate != null and endDate != ''">

			<!-- 优化sql(字段类型转换) int-->
			AND tc.tender_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endDate},' 23:59:59'))
		</if>
		<if test="startDateSend != null and startDateSend != ''">

			<!-- 优化sql(字段类型转换) int-->
			AND tc.send_time &gt;= UNIX_TIMESTAMP(#{startDateSend})
		</if>
		<if test="endDateSend != null and endDateSend != ''">

			<!-- 优化sql(字段类型转换) int-->
			AND tc.send_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endDateSend},' 23:59:59'))
		</if>
 		<!-- add 汇计划三期 添加检索条件"计划订单锁定时间" wxh 20180517 start -->

		<if test="startDatePlan != null and startDatePlan != ''">

			<!-- 优化sql(字段类型转换) int-->
			AND hha.count_interest_time &gt;= UNIX_TIMESTAMP(#{startDatePlan})
		</if>
		<if test="endDatePlan != null and endDatePlan != ''">

			<!-- 优化sql(字段类型转换) int-->
			AND hha.count_interest_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endDatePlan},' 23:59:59'))
		</if>
		
		<!-- add 汇计划三期 添加检索条件"计划订单锁定时间" wxh 20180517 end -->
		
		<if test="statusSearch != null and statusSearch!='' and statusSearch != 9">
			AND tc.status = #{statusSearch}
		</if>
		<if test="borrowNameSearch != null and borrowNameSearch != ''">
			AND b.`name` LIKE CONCAT( #{borrowNameSearch}, '%')
		</if>
		<if test="recoverDateStart != null and recoverDateStart != ''">
			<!-- 优化sql(字段类型转换) int-->
			AND b.recover_last_time >= UNIX_TIMESTAMP(#{recoverDateStart})
		</if>
		<if test="recoverDateEnd != null and recoverDateEnd != ''">
			<!-- 优化sql(字段类型转换) int-->
			AND b.recover_last_time <![CDATA[<=]]> UNIX_TIMESTAMP(CONCAT(#{recoverDateEnd},' 23:59:59'))
		</if>
		<if test="combotreeListSrch != null and combotreeListSrch != ''">
			AND tc.department_id in
			<foreach collection="combotreeListSrch" open="(" close=")" separator="," item="dep">
				#{dep}
			</foreach>
			AND tc.department_name is not null
		</if>
	</sql>
	
	<select id="queryPushMoneyDetailCount" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.HjhCommissionRequest">
		SELECT COUNT(1)
		FROM ht_tender_commission tc
		LEFT JOIN ht_borrow_tender t ON tc.tender_id= t.id
		LEFT JOIN ht_r_user u ON u.user_id= tc.user_id
		LEFT JOIN ht_borrow b ON b.borrow_nid= tc.borrow_nid
		LEFT JOIN ht_hjh_plan hhp ON hhp.plan_nid = tc.borrow_nid
		LEFT JOIN ht_r_user u2 ON u2.user_id= tc.tender_user_id
		LEFT JOIN ht_hjh_accede hha ON hha.accede_order_id = tc.ordid
		WHERE 1=1 AND tc.commission > 0
		<include refid="where-all-page-condition-detail"/>
	</select>
	
	<select id="queryPushMoneyTotle" resultType="java.util.HashMap" parameterType="com.hyjf.am.resquest.admin.HjhCommissionRequest">
		SELECT
			sum(tc.account_tender) AS tenderTotle,
			sum(tc.commission) AS commissionTotle
		FROM ht_tender_commission tc
		LEFT JOIN ht_borrow_tender t ON tc.tender_id= t.id
		LEFT JOIN ht_r_user u ON u.user_id= tc.user_id
		LEFT JOIN ht_borrow b ON b.borrow_nid= tc.borrow_nid
		LEFT JOIN ht_hjh_plan hhp ON hhp.plan_nid = tc.borrow_nid
		LEFT JOIN ht_r_user u2 ON u2.user_id= tc.tender_user_id
		LEFT JOIN ht_hjh_accede hha ON hha.accede_order_id = tc.ordid
		WHERE 1=1 AND tc.commission > 0 
		<include refid="where-all-page-condition-detail"/>
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<!-- 查询部门信息  -->
	<select id="getCrmDepartmentList" resultMap="DepartmentMap" >
		SELECT
			id,
			parentid,
			name,
			description,
			ishead,
			ishr,
			isfinance,
			cuttype,
			provinceid,
			cityid,
			header,
			manager,
			position_category,
			listorder
		FROM
			ht_r_oa_department
	</select>
	<resultMap id="DepartmentMap" type="com.hyjf.am.vo.admin.OADepartmentCustomizeVO" >
	  <id column="id" property="id" jdbcType="INTEGER" />
	  <result column="parentid" property="parentid" jdbcType="INTEGER" />
	  <result column="name" property="name" jdbcType="VARCHAR" />
	  <result column="description" property="description" jdbcType="VARCHAR" />
	  <result column="ishead" property="ishead" jdbcType="INTEGER" />
	  <result column="ishr" property="ishr" jdbcType="INTEGER" />
	  <result column="isfinance" property="isfinance" jdbcType="INTEGER" />
	  <result column="cuttype" property="cuttype" jdbcType="INTEGER" />
	  <result column="provinceid" property="provinceid" jdbcType="VARCHAR" />
	  <result column="cityid" property="cityid" jdbcType="VARCHAR" />
	  <result column="header" property="header" jdbcType="VARCHAR" />
	  <result column="manager" property="manager" jdbcType="VARCHAR" />
	  <result column="position_category" property="positionCategory" jdbcType="INTEGER" />
	  <result column="listorder" property="listorder" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 根据用户id 查询其在crm的员工属性   提成发放方式（1线上2线下）   -->
	<select id="queryCuttype" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
		SELECT CASE d.cuttype WHEN 1 THEN 3 WHEN 2 THEN 2 ELSE 0 END as cuttype
		FROM ht_r_oa_users ou 
		INNER JOIN ht_r_oa_department d on ou.departmentid= d.id
		WHERE ou.hyd_id= #{userId}
	</select>
</mapper>