<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminHjhLabelCustomizeMapper">
	<resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.customize.AdminHjhLabelCustomize" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="labelisUsed" property="labelisUsed" />
	    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
	    <result column="label_term_start" property="labelTermStart" jdbcType="INTEGER" />
	    <result column="label_term_end" property="labelTermEnd" jdbcType="INTEGER" />
	    <result column="label_term_type" property="labelTermType" jdbcType="VARCHAR" />
	    <result column="label_apr_start" property="labelAprStart" jdbcType="DECIMAL" />
	    <result column="label_apr_end" property="labelAprEnd" jdbcType="DECIMAL" />
	    <result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
	    <result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
	    <result column="label_payment_account_start" property="labelPaymentAccountStart" jdbcType="DECIMAL" />
	    <result column="label_payment_account_end" property="labelPaymentAccountEnd" jdbcType="DECIMAL" />
	    <result column="inst_code" property="instCode" jdbcType="VARCHAR" />
	    <result column="inst_name" property="instName" jdbcType="VARCHAR" />
	    <result column="asset_type" property="assetType" jdbcType="TINYINT" />
	    <result column="asset_type_name" property="assetTypeName" jdbcType="VARCHAR" />
	    <result column="project_type" property="projectType" jdbcType="TINYINT" />
	    <result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
	    <result column="is_credit" property="isCredit" jdbcType="TINYINT" />
	    <result column="is_late" property="isLate" jdbcType="TINYINT" />
	    <result column="credit_sum_max" property="creditSumMax" jdbcType="INTEGER" />
	    <result column="push_time_start" property="pushTimeStart" jdbcType="TIME" />
	    <result column="push_time_end" property="pushTimeEnd" jdbcType="TIME" />
	    <result column="remaining_days_start" property="remainingDaysStart" jdbcType="INTEGER" />
	    <result column="remaining_days_end" property="remainingDaysEnd" jdbcType="INTEGER" />
	    <result column="label_state" property="labelState" jdbcType="TINYINT" />
	    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
	    <result column="create_time" property="createTime" jdbcType="INTEGER" />
	    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
	    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
	    <result column="del_flag" property="delFlg" jdbcType="TINYINT" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR"/>
		<result column="createUser" property="createUser" jdbcType="VARCHAR"/>
		<result column="updateUser" property="updateUser" jdbcType="VARCHAR"/>
	 </resultMap>


	<select id="selectHjhLabelListById" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		ht_hjh_label la
		LEFT JOIN
		ht_hjh_allocation_engine en ON la.id = en.label_id
		
		left join hyjf_config.ht_admin ha on la.create_user_id = ha.id
		left join hyjf_config.ht_admin ha1 on la.update_user_id = ha1.id
		
		<include refid="Where_Clause" />
	</select>

	<sql id="Base_Column_List">
		la.id, la.label_name, la.label_term_start, la.label_term_end, la.label_term_type, la.label_apr_start,
	    la.label_apr_end, la.borrow_style, la.borrow_style_name, la.label_payment_account_start, la.label_payment_account_end,
	    la.inst_code, la.inst_name, la.asset_type, la.asset_type_name, la.project_type, la.project_type_name,
	    la.is_credit, is_late, la.credit_sum_max, la.push_time_start, la.push_time_end, la.remaining_days_start,
	    la.remaining_days_end, la.label_state, la.create_user_id, la.create_time, la.update_user_id, la.update_time,
	    la.del_flag,en.id AS labelisUsed,en.plan_nid,ha.truename createUser,ha1.truename updateUser
	</sql>


	<sql id="Where_Clause">
		<where>
			<!-- 标签id -->
			<if test="labelIdSrch != null and labelIdSrch != ''">
				AND la.id = #{labelIdSrch}
			</if>
			<if test="labelNameSrch!=null and labelNameSrch!=''">
				AND la.label_name like CONCAT( '%',#{labelNameSrch}, '%')
			</if>
			<if test="planNidSrch!=null and planNidSrch!=''">
				and en.plan_nid = #{planNidSrch}
			</if>
			<if test="instCodeSrch!=null and instCodeSrch!=''">
				and la.inst_code = #{instCodeSrch}
			</if>
			<if test="assetTypeSrch!=null">
				and la.asset_type = #{assetTypeSrch}
			</if>
			<if test="projectTypeSrch!=null">
				and la.project_type = #{projectTypeSrch}
			</if>
			<if test="borrowStyleSrch!=null and borrowStyleSrch!=''">
				and la.borrow_style = #{borrowStyleSrch}
			</if>
			<if test="labelStateSrch!=null">
				and la.label_state = #{labelStateSrch}
			</if>
			<if test="createTimeStartSrch!=null and createTimeStartSrch!=''">
				and la.create_time <![CDATA[>=]]> CONCAT(#{createTimeStartSrch},' 00:00:00')
			</if>
			<if test="createTimeEndSrch!=null and createTimeEndSrch!=''">
				and la.create_time <![CDATA[<=]]> CONCAT(#{createTimeEndSrch},' 23:59:59')
			</if>
			<if test="updateTimeStartSrch!=null and updateTimeStartSrch!=''">
				and la.update_time <![CDATA[>=]]> CONCAT(#{updateTimeStartSrch},' 00:00:00')
			</if>
			<if test="updateTimeEndSrch!=null and updateTimeEndSrch!=''">
				and la.update_time <![CDATA[<=]]> CONCAT(#{updateTimeEndSrch},' 23:59:59')
			</if>

		</where>
	</sql>

	<select id="selectHjhLabelList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List"/>
		FROM
		ht_hjh_label la
		left join
		ht_hjh_allocation_engine en ON la.id = en.label_id
		left join hyjf_config.ht_admin ha on la.create_user_id = ha.id
		left join hyjf_config.ht_admin ha1 on la.update_user_id = ha1.id
		<include refid="Where_Clause" />
		order by la.create_time DESC
		<if test="limitStart >= 0" >
			limit #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="getAdminHjhLabelCount" resultType="int" parameterType="java.util.Map">
		select
		count(0)
		FROM
		ht_hjh_label la
		left join
		ht_hjh_allocation_engine en ON la.id = en.label_id
		left join hyjf_config.ht_admin ha on la.create_user_id = ha.id
		left join hyjf_config.ht_admin ha1 on la.update_user_id = ha1.id
		<include refid="Where_Clause" />
	</select>

</mapper>