<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminAutoTenderExceptionMapper">
	<resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.customize.AdminPlanAccedeListCustomize">
		<!-- 加入订单号 -->
		<result column="accede_order_id" property="planOrderId" />
		<!-- 计划编号 -->
		<result column="plan_nid" property="debtPlanNid" />
		<!-- 加入明细用户ID -->
		<result column="user_id" property="userId" />
		<!-- 加入明细用户名 -->
		<result column="user_name" property="userName" />
		<!-- 用户属性 -->
		<result column="user_attribute" property="userAttribute" />
		<!-- 用户属性 -->
		<result column="attribute" property="attribute" />
		<!-- 锁定期 -->
		<result column="lock_period" property="debtLockPeriod" />
		<!-- 锁定期 0 天 1 个月 -->
		<result column="is_month" property="isMonth" />
		<!-- 推荐人用户名 -->
		<result column="referee_name" property="refereeUserName" />
		<result column="recommend_attr" property="recommendAttr" />
		<!-- 加入计划时推荐人用户名(二期需求-不变) -->
		<result column="invite_name" property="inviteName" />
		<!-- 加入金额 -->
		<result column="accede_account" property="accedeAccount" />
		<!-- 已出借金额 -->
		<result column="already_invest" property="alreadyInvest" />
		<!-- 平台 0PC，1微信，2安卓APP，3IOS，4其他'-->
		<result column="client" property="platform" />
		<!-- 订单状态：0自动投标中 1锁定中 2退出中 3已退出-->
		<result column="order_status" property="orderStatus" />
		<!-- 加入时间 -->
		<result column="create_time" property="createTime" />
		<!-- 计息时间 -->
		<result column="count_interest_time" property="countInterestTime" />
		<!-- 协议发送状态 ：0未发送 1已发送-->
		<result column="send_status" property="sendStatus" />
		<!-- 提成计算状态:0:未计算,1:已计算'，2:计算失败,-->
		<result column="commission_status" property="commissionStatus" />
		<!-- 提成计算时间 -->
		<result column="commission_count_time" property="commissionCountTime" />
		<!-- 可投金额 -->
		<result column="available_invest_account" property="availableInvestAccount" />
		<!-- 预期年化 -->
		<!-- <result column="expect_apr" property="expectApr" /> -->
		<!-- 优惠券 -->
		<result column="coupon_code" property="couponCode" />
		<!-- 出借状态 -->
		<result column="plan_invest_status" property="debtPlanStatus" />
		<!-- 出借类型 -->
		<result column="tender_type" property="tenderType" />
		<!-- 待(收)还总额 -->
		<result column="wait_total" property="waitTotal" />
		<!-- 待(收)还本金 -->
		<result column="wait_captical" property="waitCaptical" />
		<!-- 待(收)还利息 -->
		<result column="wait_interest" property="waitInterest" />
		<!-- 异常返回码 -->
		<result column="resp_code" property="respCode" />
		<!-- 异常返回错误信息 -->
		<result column="resp_desc" property="respDesc" />
		<result column="invite_user_regionname" property="inviteUserRegionname" />
		<result column="invite_user_branchname" property="inviteUserBranchname" />
		<result column="invite_user_departmentname" property="inviteUserDepartmentname" />
		<result column="invite_user_attributename" property="inviteUserAttributeName" />

		<result column="invite_user_branchname1" property="inviteUserBranchname1" />
		<result column="invite_user_departmentname1" property="inviteUserDepartmentname1" />
		<result column="invite_user_regionname1" property="inviteUserRegionname1" />

		<result column="invite_user_branchname2" property="inviteUserBranchname2" />
		<result column="invite_user_departmentname2" property="inviteUserDepartmentname2" />
		<result column="invite_user_regionname2" property="inviteUserRegionname2" />
		<result column="referee_user_id" property="refereeUserId" />
		<result column="referee_true_name" property="refereeTrueName" />
		<result column="invite_true_name" property="inviteTrueName" />
		<result column="invite_user_id" property="inviteUserId" />

		<!--合同状态-->
		<result column="contractStatus" property="contractStatus"  />
		<!--合同编号-->
		<result column="contract_number" property="contractNumber"  />
		<!--合同下载地址-->
		<result column="download_url" property="downloadUrl"  />
		<!--合同查看地址-->
		<result column="viewpdf_url" property="viewpdfUrl"  />
		<!--脱敏后合同查看地址-->
		<result column="img_url" property="imgUrl"  />
		<!-- 汇计划三期新增 -->
		<!--加入时预期年化率-->
		<result column="expectApr" property="expectApr"  />
		<!--计算用加入金额-->
		<result column="jAccedeAccount" property="jAccedeAccount"  />
		<!--计算用已出借金额-->
		<result column="jalreadyInvest" property="jalreadyInvest"  />
		<!--计划剩余可投额度(可用余额)-->
		<result column="availableInvestAccount" property="availableInvestAccount"  />
		<!--计划冻结额度-->
		<result column="frostAccount" property="frostAccount"  />
		<!--公允价值-->
		<result column="fairValue" property="fairValue"  />
		<!--实际出借利率-->
		<result column="actualApr" property="actualApr"  />
		<!--出借笔数-->
		<result column="investCounts" property="investCounts"  />
		<!--匹配期-->
		<result column="matchDates" property="matchDates"  />
		<!--计划名称-->
		<result column="borrow_nid" property="borrowNid"  />
		<result column="status" property="status"  />
		<result column="is_last" property="isLast"  />
		<result column="resp_code" property="respCode"  />
		<result column="resp_desc" property="respDesc"  />
		<result column="update_time" property="updateTime"  />
	</resultMap>

	<select id="selectAccedeExceptionList" resultMap="BaseResultMap" parameterType="Map">
		SELECT
		hdp.lock_period,
		hdp.is_month,
		hdp.expect_apr,
		hdp.plan_invest_status,
		hdpa.user_id,
		hdpa.accede_order_id,
		hdpa.user_name,
		hdpa.client,
		hdpa.user_attribute,
		hdpa.plan_nid,
		hdpa.accede_account,
		hdpa.already_invest,
		hdpa.order_status,
		hdpa.wait_total,
		hdpa.wait_captical,
		hdpa.wait_interest,
		IFNULL(FROM_UNIXTIME( IF(hdpa.count_interest_time=0,NULL,hdpa.count_interest_time), '%Y-%m-%d' ),'') AS count_interest_time,
		hdpa.send_status,
		hdpa.commission_status,
		hdpa.available_invest_account,
		IFNULL(FROM_UNIXTIME( IF(hdpa.commission_count_time=0,NULL,hdpa.commission_count_time), '%Y-%m-%d %H:%i' ),'') AS commission_count_time,
		hdpa.create_time,
		hdpa.create_time AS add_time_long,
		hdpa.invite_user_name AS invite_name,
		tmp.borrow_nid as borrow_nid,
		tmp.status as status,
		tmp.is_last as is_last,
		tmp.resp_code as resp_code,
		tmp.resp_desc as resp_desc,
		tmp.update_time as update_time
		FROM
		ht_hjh_accede hdpa
		LEFT JOIN
		ht_hjh_plan hdp ON hdpa.plan_nid = hdp.plan_nid
		LEFT JOIN
		ht_hjh_plan_borrow_tmp tmp ON hdpa.accede_order_id = tmp.accede_order_id
		<where>
			<if test="debtPlanNid != null and debtPlanNid != ''">
				AND hdp.plan_nid LIKE CONCAT(#{debtPlanNid}, '%')
			</if>
			<if test="accedeOrderId != null and accedeOrderId != ''">
				AND hdpa.accede_order_id LIKE CONCAT(#{accedeOrderId}, '%')
			</if>
			<if test="userName != null and userName != ''">
				AND hdpa.user_name LIKE CONCAT(#{userName},'%')
			</if>
			<if test="orderStatus != null and orderStatus != ''">
				AND hdpa.order_status <![CDATA[>=]]> #{orderStatus}
			</if>
			<if test="platform != null and platform != ''">
				AND hdpa.client = #{platform}
			</if>
			<if test="searchStartDate != null and searchStartDate !='' ">
				AND hdpa.create_time <![CDATA[>=]]> CONCAT(#{searchStartDate},' 00:00:00')
			</if>
			<if test="searchEndDate != null and searchEndDate !='' ">
				AND hdpa.create_time <![CDATA[<=]]> CONCAT(#{searchEndDate}' 23:59:59')
			</if>
		</where>
		ORDER BY
		add_time_long DESC
		<if test="limitStart != null and limitEnd > 0" >
			limit #{limitStart} , #{limitEnd}
		</if>
	</select>
	<select id="countAccedeExceptionRecord" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(*) AS record_count
		FROM
		ht_hjh_accede hdpa
		LEFT JOIN
		ht_hjh_plan hdp ON hdpa.plan_nid = hdp.plan_nid
		<where>
			<if test="debtPlanNid != null and debtPlanNid != ''">
				AND hdp.plan_nid LIKE CONCAT( #{debtPlanNid}, '%')
			</if>
			<if test="accedeOrderId != null and accedeOrderId != ''">
				AND hdpa.accede_order_id LIKE CONCAT( #{accedeOrderId}, '%')
			</if>
			<if test="userName != null and userName != ''">
				AND hdpa.user_name LIKE CONCAT(#{userName},'%')
			</if>
			<if test="orderStatus != null and orderStatus != ''">
				AND hdpa.order_status <![CDATA[>=]]> #{orderStatus}
			</if>
			<if test="platform != null and platform != ''">
				AND hdpa.client = #{platform}
			</if>
			<if test="searchStartDate != null and searchStartDate !='' ">
				AND hdpa.create_time <![CDATA[>=]]> CONCAT(#{searchStartDate},' 00:00:00')
			</if>
			<if test="searchEndDate != null and searchEndDate !='' ">
				AND hdpa.create_time <![CDATA[<=]]> CONCAT(#{searchEndDate}' 23:59:59')
			</if>
		</where>
	</select>

</mapper>