<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hyjf.am.trade.dao.mapper.customize.AdminAccountCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			hydu.open_account = 1
			<if test="userName != null and userName !='' ">
				AND hydu.username LIKE CONCAT(
				#{userName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="account != null and account !='' ">
				AND hydac.chinapnr_usrid = #{account,jdbcType=VARCHAR}
			</if>
			<if test="idCard != null and idCard !='' ">
				AND hydui.idcard LIKE CONCAT(
				#{idCard,jdbcType=VARCHAR}, '%')
			</if>
			<if test="userProperty != null and userProperty != ''">
				AND hydui.attribute = #{userProperty,jdbcType=INTEGER}
			</if>
			<if test="realName != null and realName !='' ">
				AND hydui.truename LIKE CONCAT(
				#{realName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="openAccountPlat != null and openAccountPlat !='' ">
				AND hydu.account_esb =
				#{openAccountPlat,jdbcType=VARCHAR}
			</if>
			<if test="openTimeStart != null and openTimeStart !='' ">
				AND hydac.addtime <![CDATA[>=]]>
				unix_timestamp(#{openTimeStart,jdbcType=VARCHAR})
			</if>
			<if test="openTimeEnd != null and openTimeEnd !='' ">
				AND hydac.addtime <![CDATA[<=]]>
				unix_timestamp(#{openTimeEnd,jdbcType=VARCHAR})
			</if>
		</where>
	</sql>

	<resultMap id="AccountListPOMap"
		type="com.hyjf.am.trade.dao.model.customize.AdminAccountListCustomize">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="username" property="userName" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="user_property" property="userProperty" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="customer_account" property="customerAccount"
			jdbcType="VARCHAR" />
		<result column="account_status_name" property="accountStatusName"
			jdbcType="VARCHAR" />
		<result column="open_account_plat" property="openAccountPlat"
			jdbcType="INTEGER" />
		<result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
		<result column="sex" property="sex"  jdbcType="VARCHAR" />
		<result column="birthday" property="birthday"  jdbcType="VARCHAR" />
		<result column="regist_area" property="registArea"  jdbcType="VARCHAR" />
		<result column="idcard" property="idcard"  jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectAccountList" resultMap="AccountListPOMap"
		parameterType="Map">
		SELECT
		h.user_id,
		h.username,
		h.truename AS real_name,
		h.idcard AS id_card,
		h.attribute,
		h.birthday,
		h.sex,
		h.idcard,
		concat( province,city,area) as regist_area,
		pna.`name` AS user_property,
		pnoap.`name` AS account_status_name,
		h.chinapnr_usrid AS account,
		h.chinapnr_usrcustid AS customer_account,
		pnoa.`name` AS open_account_plat,
		FROM_UNIXTIME( h.addtime, '%Y-%m-%d %H:%i:%s' ) AS open_time
		FROM
			(SELECT 
				hydu.user_id,
				hydu.username,
				hydui.truename,
				hydui.idcard,
				hydui.attribute,
				hydui.birthday,
				hydui.sex,
				province, city, area,
				hydac.chinapnr_usrid,
				hydac.chinapnr_usrcustid,
				hydac.addtime,
				hydu.open_account,
				hydu.account_esb
			 FROM 
			ht_users hydu
			LEFT JOIN ht_users_info hydui ON hydu.user_id = hydui.user_id
			LEFT JOIN ht_account_chinapnr hydac ON hydac.user_id = hydu.user_id
			<include refid="Where_Clause" />
			ORDER BY hydac.addtime DESC
			<if test="limitStart != null and limitEnd !=null" >
				LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
			</if>
			) h
		LEFT JOIN ht_param_name pna ON cast(h.attribute AS CHAR) = pna.name_cd AND pna.name_class = 'USER_PROPERTY'
		LEFT JOIN ht_param_name pnoap ON CAST(h.open_account AS CHAR) = pnoap.name_cd AND pnoap.name_class = 'ACCOUNT_STATUS'
		LEFT JOIN ht_param_name pnoa ON CAST(h.account_esb AS CHAR) = pnoa.name_cd AND pnoa.name_class = 'CLIENT'
	</select>
	<select id="countRecordTotal" resultType="java.lang.Integer"
		parameterType="Map">
		<choose>
			<when test='whereFlag == "0"'>
				SELECT
					COUNT(hydu.user_id)
				FROM
					ht_users hydu
				<include refid="Where_Clause" />
			</when>
			<otherwise>
				SELECT
				COUNT(hydu.user_id)
				FROM
				ht_users hydu
				LEFT JOIN ht_users_info hydui ON hydu.user_id =
				hydui.user_id
				LEFT JOIN ht_account_chinapnr hydac ON
				hydac.user_id = hydu.user_id
				<include refid="Where_Clause" />
			</otherwise>
		</choose>
	</select>


	<update id="updateOfLoansTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_frost = IFNULL(bank_frost,0) - #{bankFrost,jdbcType=DECIMAL},
		bank_await = IFNULL(bank_await,0) + #{bankAwait,jdbcType=DECIMAL},
		bank_await_capital = IFNULL(bank_await_capital,0) + #{bankAwaitCapital,jdbcType=DECIMAL},
		bank_await_interest = IFNULL(bank_await_interest,0) + #{bankAwaitInterest,jdbcType=DECIMAL},
		bank_invest_sum = IFNULL(bank_invest_sum,0) + #{bankInvestSum,jdbcType=DECIMAL},
		bank_frost_cash = IFNULL(bank_frost_cash,0) - #{bankFrostCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateOfLoansTenderHjh" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		plan_interest_wait = IFNULL(plan_interest_wait,0) + #{planInterestWait,jdbcType=DECIMAL},
		plan_account_wait = IFNULL(plan_account_wait,0) + #{planAccountWait,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 计划放款后出借人金额变化  -->
	<!-- 汇计划二期去掉bank_frost_cash操作 bank_frost_cash = IFNULL(bank_frost_cash,0) - #{bankFrostCash,jdbcType=DECIMAL},-->
	<update id="updateOfPlanLoansTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_frost = IFNULL(plan_frost,0) - #{planFrost,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	
	
	
	<update id="updateOfRTBLoansTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_await = IFNULL(bank_await,0) + #{bankAwait,jdbcType=DECIMAL},
		bank_await_interest = IFNULL(bank_await_interest,0) + #{bankAwaitInterest,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>

	<update id="updateOfDebtInvest" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_frost = IFNULL(plan_frost,0) - #{planFrost,jdbcType=DECIMAL},
		plan_accede_frost = IFNULL(plan_accede_frost,0) -
		#{planAccedeFrost,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfLoansBorrow" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
		bank_wait_repay = IFNULL(bank_wait_repay,0) +
		#{bankWaitRepay,jdbcType=DECIMAL},
		bank_wait_capital = IFNULL(bank_wait_capital,0) + #{bankWaitCapital,jdbcType=DECIMAL},
		bank_wait_interest = IFNULL(bank_wait_interest,0) +
		#{bankWaitInterest,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfRepayTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
		bank_await = IFNULL(bank_await,0) - #{bankAwait,jdbcType=DECIMAL},
		bank_await_capital = IFNULL(bank_await_capital,0) - #{bankAwaitCapital,jdbcType=DECIMAL},
		bank_await_interest = IFNULL(bank_await_interest,0) - #{bankAwaitInterest,jdbcType=DECIMAL},
		bank_interest_sum = IFNULL(bank_interest_sum,0) + #{bankInterestSum,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 汇计划还款出借人金额变化 -->
	<update id="updateOfRepayPlanTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL},
		<if test="planFrost != null">
			plan_frost = IFNULL(plan_frost,0) + #{planFrost,jdbcType=DECIMAL}
		</if>
		<if test="planBalance != null">
			plan_balance = IFNULL(plan_balance,0) + #{planBalance,jdbcType=DECIMAL}
		</if>
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateOfRepayCouponHtj" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		total = IFNULL(total,0) + #{total,jdbcType=DECIMAL},
		balance = IFNULL(balance,0) + #{balance,jdbcType=DECIMAL},
		await = IFNULL(await,0) - #{await,jdbcType=DECIMAL},
		plan_interest_wait = IFNULL(plan_interest_wait,0) -
		#{planInterestWait,jdbcType=DECIMAL},
		plan_account_wait = IFNULL(plan_account_wait,0) - #{planAccountWait,jdbcType=DECIMAL},
		plan_repay_interest=IFNULL(plan_repay_interest,0) +
		#{planRepayInterest,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfRepayCouponHjh" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
		bank_interest_sum = IFNULL(bank_interest_sum,0) + #{bankInterestSum,jdbcType=DECIMAL},
		plan_interest_wait = IFNULL(plan_interest_wait,0) - #{planInterestWait,jdbcType=DECIMAL},
		plan_account_wait = IFNULL(plan_account_wait,0) -  #{planAccountWait,jdbcType=DECIMAL},
		plan_repay_interest=IFNULL(plan_repay_interest,0) + #{planRepayInterest,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanRepayTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		total = IFNULL(total,0) + #{total,jdbcType=DECIMAL},
		plan_balance = IFNULL(plan_balance,0) + #{planBalance,jdbcType=DECIMAL},
		await = IFNULL(await,0) - #{await,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfRepayBorrow" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		total = IFNULL(total,0) - #{total,jdbcType=DECIMAL},
		balance = IFNULL(balance,0) - #{balance,jdbcType=DECIMAL},
		expend = IFNULL(expend,0) + #{expend,jdbcType=DECIMAL},
		repay = IFNULL(repay,0) - #{repay,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfRepayBorrowFreeze" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_balance = IFNULL(bank_balance,0) - #{bankBalance,jdbcType=DECIMAL},
		bank_frost = IFNULL(bank_frost,0) + #{bankFrost,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) - #{bankBalanceCash,jdbcType=DECIMAL},
		bank_frost_cash = IFNULL(bank_frost_cash,0) + #{bankFrostCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfRepayBorrowUser" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) - #{bankTotal,jdbcType=DECIMAL},
		bank_frost = IFNULL(bank_frost,0) - #{bankFrost,jdbcType=DECIMAL},
		bank_wait_repay = IFNULL(bank_wait_repay,0) - #{bankWaitRepay,jdbcType=DECIMAL},
		bank_wait_capital = IFNULL(bank_wait_capital,0) - #{bankWaitCapital,jdbcType=DECIMAL},
		bank_wait_interest = IFNULL(bank_wait_interest,0) - #{bankWaitInterest,jdbcType=DECIMAL},
		bank_frost_cash = IFNULL(bank_frost_cash,0) - #{bankFrostCash,jdbcType=DECIMAL},
		bank_wait_repay_org = IFNULL(bank_wait_repay_org,0) - #{bankWaitRepayOrg,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- modify by cwyang 担保机构还款成功后,想应的冻结金额和总额减少 -->
	<update id="updateOfRepayOrgUser" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) - #{bankTotal,jdbcType=DECIMAL},
		bank_frost = IFNULL(bank_frost,0) - #{bankFrost,jdbcType=DECIMAL},
		bank_await = IFNULL(bank_await,0) - #{bankAwait,jdbcType=DECIMAL},
		bank_await_capital = IFNULL(bank_await_capital,0) - #{bankAwaitCapital,jdbcType=DECIMAL},
		bank_wait_repay = IFNULL(bank_wait_repay,0) - #{bankWaitRepay,jdbcType=DECIMAL},
		bank_frost_cash = IFNULL(bank_frost_cash,0) + #{bankFrostCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfRepayOrgBorrowUser" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_wait_repay = IFNULL(bank_wait_repay,0) + #{bankWaitRepay,jdbcType=DECIMAL},
		bank_wait_capital = IFNULL(bank_wait_capital,0) + #{bankWaitCapital,jdbcType=DECIMAL},
		bank_wait_interest = IFNULL(bank_wait_interest,0) - #{bankWaitInterest,jdbcType=DECIMAL},
		bank_wait_repay_org = IFNULL(bank_wait_repay_org,0) - #{bankWaitRepayOrg,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!--modify by cwyang 去除出借完成后对银行可提现账户余额bank_frost_cash的变更,此账户余额应该扣减  2017-4-28-->
	<update id="updateOfTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_balance = IFNULL(bank_balance,0) - #{bankBalance,jdbcType=DECIMAL},
		bank_frost = IFNULL(bank_frost,0) + #{bankFrost,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) - #{bankBalanceCash,jdbcType=DECIMAL},
		bank_frost_cash = IFNULL(bank_frost_cash,0) + #{bankFrostCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfTransfer" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		balance = IFNULL(balance,0) - #{balance,jdbcType=DECIMAL},
		total = IFNULL(total,0) - #{total,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateAppointAccount" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		balance = IFNULL(balance,0) + #{balance,jdbcType=DECIMAL},
		frost = IFNULL(frost,0) - #{frost,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_accede_frost = IFNULL(plan_accede_frost,0) + #{planAccedeFrost,jdbcType=DECIMAL},
		plan_accede_balance = IFNULL(plan_accede_balance,0) -
		#{planAccedeBalance,jdbcType=DECIMAL},
		plan_frost = IFNULL(plan_frost,0) + #{planFrost,jdbcType=DECIMAL},
		plan_balance = IFNULL(plan_balance,0) - #{planBalance,jdbcType=DECIMAL},
		version = IFNULL(version,0) + 1
		where
		user_id = #{userId,jdbcType=INTEGER}
		AND version = #{version,jdbcType=DECIMAL}
	</update>
	<update id="updateOfPlanCreditAssign" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_balance = IFNULL(plan_balance,0) - #{planBalance,jdbcType=DECIMAL},
		plan_accede_balance = IFNULL(plan_accede_balance,0) -
		#{planAccedeBalance,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanCreditSeller" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_balance = IFNULL(plan_balance,0) + #{planBalance,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanUnFreeze" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_frost = IFNULL(plan_frost,0) - #{planFrost,jdbcType=DECIMAL},
		plan_balance = IFNULL(plan_balance,0) + #{planBalance,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanRepayUnFreeze" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_balance = IFNULL(plan_balance,0) + #{planBalance,jdbcType=DECIMAL},
		plan_frost = IFNULL(plan_frost,0) - #{planFrost,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanRepay" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_balance = IFNULL(plan_balance,0) - #{planBalance,jdbcType=DECIMAL},
		balance = IFNULL(balance,0) + #{balance,jdbcType=DECIMAL},
		plan_repay_interest=IFNULL(plan_repay_interest,0) +
		#{planRepayInterest,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanRepayAll" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		await =CASE WHEN await=#{await,jdbcType=DECIMAL} THEN 0 ELSE
		IFNULL(await,0) - #{await,jdbcType=DECIMAL} end,
		plan_account_wait = CASE WHEN plan_account_wait=#{planAccountWait,jdbcType=DECIMAL}
		THEN 0 ELSE IFNULL(plan_account_wait,0) -
		#{planAccountWait,jdbcType=DECIMAL} end,
		plan_capital_wait = CASE WHEN plan_capital_wait=#{planCapitalWait,jdbcType=DECIMAL}
		THEN 0 ELSE IFNULL(plan_capital_wait,0) -
		#{planCapitalWait,jdbcType=DECIMAL} end,
		plan_interest_wait = CASE WHEN plan_interest_wait=#{planInterestWait,jdbcType=DECIMAL}
		THEN 0 ELSE IFNULL(plan_interest_wait,0) -
		#{planInterestWait,jdbcType=DECIMAL} end
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanFreeze" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_frost = IFNULL(plan_frost,0) + #{planFrost,jdbcType=DECIMAL},
		plan_balance = IFNULL(plan_balance,0) - #{planBalance,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanJoin" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		plan_account_wait = IFNULL(plan_account_wait,0) + #{planAccountWait,jdbcType=DECIMAL},
		plan_capital_wait = IFNULL(plan_capital_wait,0) + #{planCapitalWait,jdbcType=DECIMAL},
		plan_interest_wait = IFNULL(plan_interest_wait,0) + #{planInterestWait,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateOfPlanBalance" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		plan_balance = IFNULL(plan_balance,0) + #{planBalance,jdbcType=DECIMAL}
		<if test="planAccedeBalance != null and planAccedeBalance != ''">
			,plan_accede_balance = IFNULL(plan_accede_balance,0) +
			#{planAccedeBalance,jdbcType=DECIMAL}
		</if>
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>

	<!-- 进入锁定期后 修改账户总资产 待收收益-->
	<update id="updateBankTotalForLockPlan" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		plan_account_wait = IFNULL(plan_account_wait,0) + #{planAccountWait,jdbcType=DECIMAL},
		plan_capital_wait = IFNULL(plan_capital_wait,0) + #{planCapitalWait,jdbcType=DECIMAL},
		plan_interest_wait = IFNULL(plan_interest_wait,0) + #{planInterestWait,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>

	<!-- *****************************************银行存管****************************************************** -->

	<sql id="Bank_Where_Clause">
		<where>
			hydu.bank_open_account = 1
			<if test="userName != null and userName !='' ">
				AND hydu.username LIKE CONCAT(
				#{userName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="mobile != null and mobile !='' ">
				AND hydu.mobile LIKE CONCAT(
				#{mobile,jdbcType=VARCHAR}, '%')
			</if>
			<if test="customerAccount != null and customerAccount !='' ">
				AND hboa.account = #{customerAccount,jdbcType=VARCHAR}
			</if>
			<if test="idCard != null and idCard !='' ">
				AND hydui.idcard LIKE CONCAT(
				#{idCard,jdbcType=VARCHAR}, '%')
			</if>
			<if test="realName != null and realName !='' ">
				AND hydui.truename LIKE CONCAT(
				#{realName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="openAccountPlat != null and openAccountPlat !='' ">
				AND hydu.bank_account_esb =
				#{openAccountPlat,jdbcType=VARCHAR}
			</if>
			<if test="openTimeStart != null and openTimeStart !='' ">
				AND  hboa.create_time <![CDATA[>=]]>
				 timestamp(#{openTimeStart,jdbcType=VARCHAR})
			</if>
			<if test="openTimeEnd != null and openTimeEnd !='' ">
				AND hboa.create_time <![CDATA[<=]]>
				 timestamp(#{openTimeEnd,jdbcType=VARCHAR})
			</if>
		</where>
	</sql>

	<resultMap id="BankAccountListPOMap"
		type="com.hyjf.am.trade.dao.model.customize.AdminAccountListCustomize">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="username" property="userName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />


		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="customer_account" property="customerAccount"
			jdbcType="VARCHAR" />
		<result column="account_status_name" property="accountStatusName"
			jdbcType="VARCHAR" />
		<result column="open_account_plat" property="openAccountPlat"
			jdbcType="INTEGER" />
		<result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="selectBankAccountList" resultMap="BankAccountListPOMap"
		parameterType="Map">
		SELECT
		hydu.user_id,
		hydu.username,
		hydu.mobile,
		hydui.truename AS real_name,
		hydui.idcard AS id_card,
		pnoap.`name` AS account_status_name,
		hbc.card_no AS account,
		hboa.account AS customer_account,
		pnoa.`name` AS open_account_plat,
		date_format(hboa.create_time,'%Y-%m-%d %H:%i:%s') AS open_time
		FROM
		ht_users hydu
		LEFT JOIN ht_users_info hydui ON hydu.user_id =
		hydui.user_id
		INNER JOIN ht_bank_open_account hboa ON hboa.user_id =
		hydu.user_id
		LEFT JOIN ht_bank_card hbc ON hbc.user_id = hydu.user_id
		LEFT JOIN ht_param_name pnoap ON CAST(hydu.open_account AS CHAR) =
		pnoap.name_cd AND pnoap.name_class = 'ACCOUNT_STATUS'
		LEFT JOIN
		ht_param_name pnoa ON CAST(hydu.bank_account_esb AS CHAR) = pnoa.name_cd
		AND pnoa.name_class = 'CLIENT'
		<include refid="Bank_Where_Clause" />
		ORDER BY hboa.create_time DESC
		<if test="limitStart != null and limitEnd !=null">
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>
	<select id="countBankRecordTotal" resultType="java.lang.Integer"
		parameterType="Map">
		SELECT
		COUNT(hydu.user_id)
		FROM
		ht_users hydu
		LEFT JOIN ht_users_info hydui ON hydu.user_id =
		hydui.user_id
		INNER JOIN ht_bank_open_account hboa ON hboa.user_id =
		hydu.user_id
		LEFT JOIN ht_bank_card hbc ON hbc.user_id = hydu.user_id
		LEFT JOIN ht_param_name pnoap ON CAST(hydu.open_account AS CHAR) =
		pnoap.name_cd AND pnoap.name_class = 'ACCOUNT_STATUS'
		LEFT JOIN
		ht_param_name pnoa ON CAST(hydu.account_esb AS CHAR) = pnoa.name_cd
		AND pnoa.name_class = 'CLIENT'
		<include refid="Bank_Where_Clause" />
	</select>

	<update id="updateOfSynBalance" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>


	<update id="updateOfBankMerchantAccountSynBalance" parameterType="com.hyjf.am.trade.dao.model.auto.BankMerchantAccount">
		update ht_bank_merchant_account
		set
		account_balance = IFNULL(account_balance,0) + #{accountBalance,jdbcType=DECIMAL},
		available_balance = IFNULL(available_balance,0) +
		#{availableBalance,jdbcType=DECIMAL}
		where
		account_code = #{accountCode,jdbcType=INTEGER}
	</update>
	
	<update id="updateUserWithdrawSuccess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		total = IFNULL(total,0) - #{total,jdbcType=DECIMAL},
		balance = IFNULL(balance,0) - #{balance,jdbcType=DECIMAL},
		expend = IFNULL(expend,0) + #{expend,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>

	<update id="updateUserWithdrawFail" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		total = IFNULL(total,0) + #{total,jdbcType=DECIMAL},
		balance = IFNULL(balance,0) + #{balance,jdbcType=DECIMAL},
		expend = IFNULL(expend,0) - #{expend,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateBankRechargeSuccess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateBankWithdrawSuccess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) - #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) - #{bankBalance,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) - #{bankBalanceCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateManualReverseSuccess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateCreditSellerSuccess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
			bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
			bank_await = IFNULL(bank_await,0) - #{bankAwait,jdbcType=DECIMAL},
			bank_await_capital = IFNULL(bank_await_capital,0) - #{bankAwaitCapital,jdbcType=DECIMAL},
			bank_await_interest = IFNULL(bank_await_interest,0) - #{bankAwaitInterest,jdbcType=DECIMAL},
			bank_interest_sum = IFNULL(bank_interest_sum,0) + #{bankInterestSum,jdbcType=DECIMAL},
			bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateCreditAssignSuccess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
			bank_balance = IFNULL(bank_balance,0) - #{bankBalance,jdbcType=DECIMAL},
			bank_await = IFNULL(bank_await,0) + #{bankAwait,jdbcType=DECIMAL},
			bank_await_capital = IFNULL(bank_await_capital,0) + #{bankAwaitCapital,jdbcType=DECIMAL},
			bank_await_interest = IFNULL(bank_await_interest,0) + #{bankAwaitInterest,jdbcType=DECIMAL},
			bank_invest_sum = IFNULL(bank_invest_sum,0) + #{bankInvestSum,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 债权迁移后,更新加息出借用户的待收总额,待收利息,账户总资产-->
	<update id="updateTenderUserAccount" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
			bank_await = IFNULL(bank_await,0) + #{bankAwait,jdbcType=DECIMAL},
			bank_await_interest = IFNULL(bank_await_interest,0) + #{bankAwaitInterest,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 债权迁移后,更新用户的累计出借 -->
	<update id="updateUserAccountInvestSum" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_invest_sum = IFNULL(bank_invest_sum,0) + #{bankInvestSum,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 债权迁移后,更新用户的累计收益 -->
	<update id="updateUserAccountInterestSum" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_interest_sum = IFNULL(bank_interest_sum,0) + IFNULL(plan_repay_interest,0) + #{bankInterestSum,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 债权迁移后,更新借款人的待还总额 -->	
	<update id="updateBorrowUserBankWaitRepay" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_wait_repay = IFNULL(bank_wait_repay,0) + #{bankWaitRepay,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 债权迁移后,更新借款人的账户总资产 -->
	<update id="updateBankTotal" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_total = IFNULL(bank_balance,0) + IFNULL(bank_frost,0) + IFNULL(bank_await,0)
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>
	<!-- 债权迁移后,更新加息出借用户的待收总额,待收利息,账户总资产-->
	<update id="updateIncreaseInterestSubtract" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_total = IFNULL(bank_total,0) - #{bankTotal,jdbcType=DECIMAL},
			bank_await = IFNULL(bank_await,0) - #{bankAwait,jdbcType=DECIMAL},
			bank_await_interest = IFNULL(bank_await_interest,0) - #{bankAwaitInterest,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>

	<update id="updateOfPlanAccedeTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
		bank_invest_sum = IFNULL(bank_invest_sum,0) + #{bankInvestSum,jdbcType=DECIMAL},
		plan_balance = IFNULL(plan_balance,0) - #{planBalance,jdbcType=DECIMAL},
		plan_frost = IFNULL(plan_frost,0) + #{planFrost,jdbcType=DECIMAL},
		plan_account_wait = IFNULL(plan_account_wait,0) + #{planAccountWait,jdbcType=DECIMAL},
		plan_capital_wait = IFNULL(plan_capital_wait,0) + #{planCapitalWait,jdbcType=DECIMAL},
		plan_interest_wait = IFNULL(plan_interest_wait,0) + #{planInterestWait,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<update id="updateAccountForHjhProcess" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		<set>
			<if test="bankTotal != null">
				bank_total = IFNULL(bank_total,0) +
				#{bankTotal,jdbcType=DECIMAL},
			</if>
			<if test="bankInvestSum != null">
				bank_invest_sum = IFNULL(bank_invest_sum,0) +
				#{bankInvestSum,jdbcType=DECIMAL},
			</if>
			<if test="planBalance != null">
				plan_balance = IFNULL(plan_balance,0) +
				#{planBalance,jdbcType=DECIMAL},
			</if>
			<if test="planFrost != null">
				plan_frost = IFNULL(plan_frost,0) +
				#{planFrost,jdbcType=DECIMAL},
			</if>
			<if test="planAccountWait != null">
				plan_account_wait = IFNULL(plan_account_wait,0) +
				#{planAccountWait,jdbcType=DECIMAL},
			</if>
			<if test="planCapitalWait != null">
				plan_capital_wait = IFNULL(plan_capital_wait,0) +
				#{planCapitalWait,jdbcType=DECIMAL},
			</if>
			<if test="planInterestWait != null">
				plan_interest_wait = IFNULL(plan_interest_wait,0) +
				#{planInterestWait,jdbcType=DECIMAL},
			</if>
		</set>
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 变更计划还款账户数据 add by cwyang 2017-8-25-->
	<update id="updateOfPlanRepayAccount" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
			bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
			bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
			plan_account_wait = IFNULL(plan_account_wait,0) - #{planAccountWait,jdbcType=DECIMAL},
			plan_capital_wait = IFNULL(plan_capital_wait,0) - #{planCapitalWait,jdbcType=DECIMAL},
			plan_interest_wait = IFNULL(plan_interest_wait,0) - #{planInterestWait,jdbcType=DECIMAL},
			bank_interest_sum = IFNULL(bank_interest_sum,0) + #{bankInterestSum,jdbcType=DECIMAL},
			plan_frost = IFNULL(plan_frost,0) - #{planFrost,jdbcType=DECIMAL},
			plan_balance = IFNULL(plan_balance,0) - #{planBalance,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>

	<!-- 账户分佣,更新转出用户账户信息 -->
	<update id="updateOfSubCommissionTransfer" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_total = IFNULL(bank_total,0) - #{bankTotal,jdbcType=DECIMAL},
		bank_balance = IFNULL(bank_balance,0) - #{bankBalance,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
	</update>
    <!-- 账户分佣,更新转入用户账户信息 -->
    <update id="updateOfSubCommissionTransferIn" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
        update ht_account
        set
        bank_total = IFNULL(bank_total,0) + #{bankTotal,jdbcType=DECIMAL},
        bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL}
        where
        user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>