<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hyjf.am.trade.dao.mapper.customize.AdminBorrowRepaymentCustomizeMapper">
	<sql id="Where_Clause">
		<where>
			<!-- 项目编号 -->
			<if test="borrowNid != null and borrowNid != ''">
				AND b.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
			</if>
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND binfo.inst_code = #{instCodeSrch}
			</if>
			<!-- 借款期限 -->
			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period = #{borrowPeriod}
			</if>
			<!-- 借款人 -->
			<if test="borrowUserName != null and borrowUserName != ''">
				AND b.borrow_user_name LIKE CONCAT( #{borrowUserName}, '%')
			</if>

			<!-- 还款方式 -->
			<if test="repayStyleType != null and repayStyleType != ''">
				AND bs.nid = #{repayStyleType}
			</if>

			<!-- 还款状态0还款中,1已还款 -->
			<if test="statusSrch != null and statusSrch != ''">
				<if test="statusSrch ==0">
					AND b.status= 4
				</if>
				<if test="statusSrch ==1">
					 and br.repay_status=0 and br.advance_status!=3
				</if>
				<if test="statusSrch ==2">
					AND b.status= 8
				</if>
			</if>
			<!-- 最后还款日 -->
			<if test="repayLastTimeStartSrch != null and repayLastTimeStartSrch != ''">
				AND br.repay_time <![CDATA[>=]]>
				unix_timestamp(#{repayLastTimeStartSrch})
			</if>
			<if test="repayLastTimeEndSrch != null and repayLastTimeEndSrch != ''">
				AND br.repay_time <![CDATA[<=]]>
				unix_timestamp(#{repayLastTimeEndSrch})+86399
			</if>
			<!-- 发布日期 -->
			<if test="verifyTimeStartSrch != null and verifyTimeStartSrch != ''">
				AND b.verify_time <![CDATA[>=]]>
				unix_timestamp(#{verifyTimeStartSrch})
			</if>
			<if test="verifyTimeEndSrch != null and verifyTimeEndSrch != ''">
				AND b.verify_time <![CDATA[<=]]>
				unix_timestamp(#{verifyTimeEndSrch})+86399
			</if>
			<!-- 计划编号 -->
			<if test="planNidSrch != null and planNidSrch != ''">
				AND b.plan_nid = #{planNidSrch}
			</if>
			<!-- 汇计划加入订单号 -->
			<if test="accedeOrderIdSrch != null and accedeOrderIdSrch != ''">
				AND recover.accede_order_id = #{accedeOrderIdSrch}
			</if>
			<!-- 实际还款日 -->
			<if test="actulRepayTimeStartSrch != null and actulRepayTimeStartSrch != ''">
				AND br.repay_action_time <![CDATA[>=]]>
				unix_timestamp(#{actulRepayTimeStartSrch})
			</if>
			<if test="actulRepayTimeEndSrch != null and actulRepayTimeEndSrch != ''">
				AND br.repay_action_time <![CDATA[<=]]>
				unix_timestamp(#{actulRepayTimeEndSrch})+86399
			</if>
		</where>
	</sql>

	<resultMap id="searchBorrowRepaymentListResultMap" type="com.hyjf.am.trade.dao.model.customize.AdminBorrowRepaymentCustomize">
		<result column="borrowNid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="borrowUserName" property="borrowUserName" jdbcType="VARCHAR" />
		<result column="borrowName" property="borrowName" jdbcType="VARCHAR" />
		<result column="projectType" property="projectType" jdbcType="VARCHAR" />
		<result column="projectTypeName" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrowPeriod" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrowApr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrowAccount" property="borrowAccount" jdbcType="VARCHAR" />
		<result column="borrowAccountYes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<result column="repayType" property="repayType" jdbcType="VARCHAR" />
		<result column="repayStyleType" property="repayStyleType" jdbcType="VARCHAR" />
		<result column="repayAccountCapital" property="repayAccountCapital" jdbcType="VARCHAR" />
		<result column="repayAccountInterest" property="repayAccountInterest" jdbcType="VARCHAR" />
		<result column="repayAccountAll" property="repayAccountAll" jdbcType="VARCHAR" />
		<result column="borrowManager" property="borrowManager" jdbcType="VARCHAR" />
		<result column="repayFee" property="repayFee" jdbcType="VARCHAR" />
		<result column="repayAccountCapitalYes" property="repayAccountCapitalYes" jdbcType="VARCHAR" />
		<result column="repayAccountInterestYes" property="repayAccountInterestYes" jdbcType="VARCHAR" />
		<result column="repayAccountYes" property="repayAccountYes" jdbcType="VARCHAR" />
		<result column="repayAccountCapitalWait" property="repayAccountCapitalWait" jdbcType="VARCHAR" />
		<result column="repayAccountInterestWait" property="repayAccountInterestWait" jdbcType="VARCHAR" />
		<result column="repayAccountWait" property="repayAccountWait" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="repayStatus" property="repayStatus" jdbcType="VARCHAR" />
		<result column="repayLastTime" property="repayLastTime" jdbcType="VARCHAR" />
		<result column="repayNextTime" property="repayNextTime" jdbcType="VARCHAR" />
		<result column="verifyTime" property="verifyTime" jdbcType="VARCHAR" />
		<result column="borrowStyle" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="repayMoneySource" property="repayMoneySource" jdbcType="VARCHAR" />
		<result column="repayActionTime" property="repayActionTime" jdbcType="VARCHAR" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="instName" property="instName" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="regist_user_name" property="registUserName" jdbcType="VARCHAR" />
		<result column="freezeOrderId" property="freezeOrderId" jdbcType="VARCHAR" />
		<result column="repayFeeWait" property="repayFeeWait" jdbcType="VARCHAR" />
		<result column="repayFeeYes" property="repayFeeYes" jdbcType="VARCHAR" />
		<result column="chargeInterest" property="chargeInterest" jdbcType="VARCHAR" />
		<result column="chargePenaltyInterest" property="chargePenaltyInterest" jdbcType="VARCHAR" />
		<result column="lateInterest" property="lateInterest" jdbcType="VARCHAR" />
		<result column="borrowFullTime" property="borrowFullTime" jdbcType="VARCHAR" />
		<result column="recoverLastTime" property="recoverLastTime" jdbcType="VARCHAR" />
		<result column="repayAccountInterestAll" property="repayAccountInterestAll" jdbcType="VARCHAR" />
		<result column="repayAccountCapitalYesAll" property="repayAccountCapitalYesAll" jdbcType="VARCHAR" />
		<result column="repayAccountInterestYesAll" property="repayAccountInterestYesAll" jdbcType="VARCHAR" />
		<result column="repayFeeYesAll" property="repayFeeYesAll" jdbcType="VARCHAR" />
		<result column="repayAccountCapitalWaitAll" property="repayAccountCapitalWaitAll" jdbcType="VARCHAR" />
		<result column="repayAccountInterestWaitAll" property="repayAccountInterestWaitAll" jdbcType="VARCHAR" />
		<result column="repayFeeWaitAll" property="repayFeeWaitAll" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectBorrowRepaymentList" resultMap="searchBorrowRepaymentListResultMap" parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentRequest">
		SELECT
		br.borrow_nid AS borrowNid,
		u.user_id AS userId,
		u.username AS borrowUserName,
		binfo.name AS borrowName,
		b.borrow_style AS borrowStyle,
		b.project_Type AS projectType,
		bpt.borrow_name AS projectTypeName,
		CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE
		CONCAT(b.borrow_period, '个月') END AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.borrow_account_yes AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs.name AS repayType,
		b.verify_time As verifyTime,
		bs.nid AS repayStyleType,
		binfo.repay_org_name,
		b.create_user_name,
		b.regist_user_name,
		b.repay_account_capital AS repayAccountCapital,
		b.repay_account_interest AS repayAccountInterest,
		b.repay_account_all repayAccountAll,
		b.borrow_manager AS borrowManager,
		br.repay_fee AS repayFee,
		b.repay_account_capital_yes AS repayAccountCapitalYes,
		b.repay_account_interest_yes AS repayAccountInterestYes,
		b.repay_account_yes AS repayAccountYes,
		b.repay_account_capital-b.repay_account_capital_yes AS repayAccountCapitalWait,
		b.repay_account_interest_wait AS repayAccountInterestWait,
		b.repay_account_wait AS repayAccountWait,
		b.status AS status,
		if(br.repay_status=0 and br.advance_status=3 ,'2',br.repay_status) as  repayStatus,
		if(b.repay_last_time='' OR b.repay_last_time='0' OR b.repay_last_time='null','',FROM_UNIXTIME(
		b.repay_last_time, '%Y-%m-%d' )) AS repayLastTime,
		if(br.repay_time='' OR br.repay_time='0' OR br.repay_time='null','',FROM_UNIXTIME(
		br.repay_time, '%Y-%m-%d' )) AS repayNextTime,
		IF ( br.repay_status=1 AND br.repay_action_time <![CDATA[ > ]]> 0 ,
		CASE br.repay_money_source WHEN 1 THEN '借款人还款' WHEN 2 THEN '机构垫付' WHEN 3 THEN '保证金垫付' ELSE '借款人还款' END ,
		''
		) AS repayMoneySource,
		CASE WHEN br.repay_action_time  <![CDATA[ > ]]>  0 AND br.repay_status=1 THEN FROM_UNIXTIME(br.repay_action_time,'%Y-%m-%d %H:%i:%s') ELSE '' END as repayActionTime,
		b.plan_nid,

		hic.inst_name as instName,

		binfo.borrow_measures_instit as webName,
		rflg.order_id AS freezeOrderId,
		br.repay_fee-b.repay_fee_normal as repayFeeWait,
		b.repay_fee_normal as repayFeeYes,
		br.charge_interest as chargeInterest,
		br.charge_penalty_interest as chargePenaltyInterest,
		br.late_interest as lateInterest,
		b.borrow_full_time as borrowFullTime,
		b.recover_last_time as recoverLastTime
		FROM ht_borrow AS b
		INNER JOIN ht_borrow_repay AS br on b.borrow_nid=br.borrow_nid
		LEFT JOIN ht_r_user u ON b.user_id = u.user_id
		INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		LEFT JOIN ht_hjh_inst_config hic on binfo.inst_code = hic.inst_code
		LEFT JOIN ht_bank_repay_freeze_log rflg on rflg.borrow_nid = b.borrow_nid and rflg.del_flag = 0
		<include refid="Where_Clause" />
		ORDER BY
		br.id DESC
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>



	<select id="countBorrowRepayment" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentRequest">
		SELECT
		COUNT(1)
		FROM ht_borrow AS b
		INNER JOIN ht_borrow_repay AS br on b.borrow_nid=br.borrow_nid
		LEFT JOIN ht_r_user u ON b.user_id = u.user_id
		INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)


		LEFT JOIN ht_hjh_inst_config hic on binfo.inst_code = hic.inst_code
		LEFT JOIN ht_bank_repay_freeze_log rflg on rflg.borrow_nid = b.borrow_nid and rflg.del_flag = 0
		<include refid="Where_Clause" />
	</select>

	<select id="sumBorrowRepayment" resultType="com.hyjf.am.trade.dao.model.customize.AdminBorrowRepaymentCustomize" parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentRequest">
		SELECT
		SUM(b.borrow_account_yes) AS borrowAccountYes,
		SUM(b.repay_account_all) AS repayAccountAll,
		SUM(br.repay_fee) AS repayFee,
		SUM(b.repay_account_interest) as repayAccountInterestAll,
		SUM(b.repay_account_capital_yes) as repayAccountCapitalYesAll,
		SUM(b.repay_account_interest_yes) as repayAccountInterestYesAll,
		SUM(b.repay_fee_normal)as repayFeeYesAll,
		SUM(b.repay_account_capital-b.repay_account_capital_yes)as repayAccountCapitalWaitAll,
		SUM(b.repay_account_interest_wait)as repayAccountInterestWaitAll,
		SUM(br.repay_fee-b.repay_fee_normal)as repayFeeWaitAll
		FROM ht_borrow AS b
		INNER JOIN ht_borrow_repay AS br on b.borrow_nid=br.borrow_nid
		LEFT JOIN ht_r_user u ON b.user_id = u.user_id
		INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)


		LEFT JOIN ht_hjh_inst_config hic on binfo.inst_code = hic.inst_code
		LEFT JOIN ht_bank_repay_freeze_log rflg on rflg.borrow_nid = b.borrow_nid and rflg.del_flag = 0
		<include refid="Where_Clause" />
	</select>

	<resultMap id="searchBorrowRepaymentPlanListResultMap"
			   type="com.hyjf.am.trade.dao.model.customize.AdminBorrowRepaymentPlanCustomize">
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="borrowNid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="borrowUserName" property="borrowUserName" jdbcType="VARCHAR" />
		<result column="borrowName" property="borrowName" jdbcType="VARCHAR" />
		<result column="projectType" property="projectType" jdbcType="VARCHAR" />
		<result column="projectTypeName" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrowPeriod" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrowApr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrowAccount" property="borrowAccount" jdbcType="VARCHAR" />
		<result column="borrowAccountYes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<result column="repayType" property="repayType" jdbcType="VARCHAR" />
		<result column="repayPeriod" property="repayPeriod" jdbcType="VARCHAR" />
		<result column="repayCapital" property="repayCapital" jdbcType="VARCHAR" />
		<result column="repayInterest" property="repayInterest" jdbcType="VARCHAR" />
		<result column="repayAccount" property="repayAccount" jdbcType="VARCHAR" />
		<result column="repayFee" property="repayFee" jdbcType="VARCHAR" />
		<result column="tiqiantianshu" property="tiqiantianshu" jdbcType="VARCHAR" />
		<result column="shaohuanlixi" property="shaohuanlixi" jdbcType="VARCHAR" />
		<result column="yanqitianshu" property="yanqitianshu" jdbcType="VARCHAR" />
		<result column="yanqilixi" property="yanqilixi" jdbcType="VARCHAR" />
		<result column="yuqitianshu" property="yuqitianshu" jdbcType="VARCHAR" />
		<result column="yuqilixi" property="yuqilixi" jdbcType="VARCHAR" />
		<result column="yinghuanzonge" property="yinghuanzonge" jdbcType="VARCHAR" />
		<result column="shihuanzonge" property="shihuanzonge" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="repayActionTime" property="repayActionTime" jdbcType="VARCHAR" />
		<result column="repayLastTime" property="repayLastTime" jdbcType="VARCHAR" />
		<result column="verify_time" property="verifyTime" jdbcType="VARCHAR" />
		<result column="repayMoneySource" property="repayMoneySource" jdbcType="VARCHAR" />
		<result column="instName" property="instName" jdbcType="VARCHAR" />
		<result column="repayAccountCapitalWait" property="repayAccountCapitalWait" jdbcType="VARCHAR" />
		<result column="repayAccountInterestWait" property="repayAccountInterestWait" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="submitter" property="submitter" jdbcType="VARCHAR" />
		<result column="autoRepay" property="autoRepay" jdbcType="VARCHAR" />
		<result column="planNid" property="planNid" jdbcType="VARCHAR" />
		<result column="repayAccountYes" property="repayAccountYes" jdbcType="VARCHAR" />
		<result column="extraYieldRepayStatus" property="extraYieldRepayStatus" jdbcType="VARCHAR" />
		<result column="repay_org_name" property="repayOrgName" jdbcType="VARCHAR" />
		<result column="verifyTime" property="verifyTime" jdbcType="VARCHAR" />
		<result column="borrowFullTime" property="borrowFullTime" jdbcType="VARCHAR" />
		<result column="recoverLastTime" property="recoverLastTime" jdbcType="VARCHAR" />
		<result column="repayAccountCapitalYes" property="repayAccountCapitalYes" jdbcType="VARCHAR" />
		<result column="repayAccountInterestYes" property="repayAccountInterestYes" jdbcType="VARCHAR" />
		<result column="chargeInterest" property="chargeInterest" jdbcType="VARCHAR" />
		<result column="chargePenaltyInterest" property="chargePenaltyInterest" jdbcType="VARCHAR" />
		<result column="yihuanfuwufei" property="yihuanfuwufei" jdbcType="VARCHAR" />
		<result column="entrustedUserName" property="entrustedUserName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Borrow_Repayment_Plan_Where_Clause">
		<where>
		
							<!-- 还款期数 -->
			<if test="repayPeriod != null and repayPeriod != ''">
				AND rp.repay_period = #{repayPeriod}
			</if>
					<!-- 借款人 -->
			<if test="borrowUserName != null and borrowUserName != ''">
				AND b.borrow_user_name LIKE CONCAT( #{borrowUserName}, '%')
			</if>
			<!-- 计划编号 -->
			<if test="planNid != null and planNid != ''">
				AND b.plan_nid = #{planNid}
			</if>
			<!-- 项目编号 -->
			<if test="borrowNid != null and borrowNid != ''">
				AND b.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
			</if>
			<!-- 借款标题 -->
			<if test="borrowName != null and borrowName != ''">
				AND binfo.name LIKE CONCAT( #{borrowName}, '%')
			</if>
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND binfo.inst_code = #{instCodeSrch}
			</if>

			<!-- 还款状态0还款中,1已还款 -->
			<!-- 还款状态 -->
			<if test="statusSrch != null and statusSrch != ''">
			<if test="statusSrch ==0">
					AND rp.repay_status = #{statusSrch} and br.advance_status!=3
				</if>
				<if test="statusSrch ==1">
					and br.repay_status=#{statusSrch}
				</if>
				<if test="statusSrch ==2">
					AND rp.repay_status = 0
					and  rp.advance_status=3
				</if>
			</if>
			<!-- 最后还款日 -->
			<if test="repayLastTimeStartSrch != null and repayLastTimeStartSrch != ''">
				AND rp.repay_time <![CDATA[>=]]>
				unix_timestamp(#{repayLastTimeStartSrch})
			</if>
			<if test="repayLastTimeEndSrch != null and repayLastTimeEndSrch != ''">
				AND rp.repay_time <![CDATA[<=]]>
				unix_timestamp(#{repayLastTimeEndSrch})+86399
			</if>
			<!-- 发布日期 -->
			<if test="verifyTimeStartSrch != null and verifyTimeStartSrch != ''">
				AND b.verify_time <![CDATA[>=]]>
				unix_timestamp(#{verifyTimeStartSrch})
			</if>
			<if test="verifyTimeEndSrch != null and verifyTimeEndSrch != ''">
				AND b.verify_time <![CDATA[<=]]>
				unix_timestamp(#{verifyTimeEndSrch})+86399
			</if>
			<if test="actulRepayTimeStartSrch != null and actulRepayTimeStartSrch != ''">
				AND rp.repay_action_time <![CDATA[>=]]> unix_timestamp(#{actulRepayTimeStartSrch})
			</if>
			<if test="actulRepayTimeEndSrch != null and actulRepayTimeEndSrch != ''">
				AND rp.repay_action_time <![CDATA[<=]]> unix_timestamp(#{actulRepayTimeEndSrch}) + 86399
			</if>
		</where>
	</sql>

	<select id="countBorrowRepaymentPlan" resultType="java.lang.Integer"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentPlanRequest">
			select sum(tmpcount) from  (
				SELECT
				COUNT(1) as tmpcount
				from
				ht_borrow_repay_plan AS rp
				INNER JOIN
				ht_borrow AS b ON rp.borrow_nid=b.borrow_nid
				INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
				Left join ht_borrow_apicron ba on rp.borrow_nid=ba.borrow_nid and rp.repay_period=ba.period_now and ba.api_type='1'
				<include refid="Borrow_Repayment_Plan_Where_Clause" />
				UNION ALL
				SELECT
				COUNT(1) as tmpcount
				from
				ht_borrow_repay AS rp
				INNER JOIN
				ht_borrow AS b ON rp.borrow_nid=b.borrow_nid and b.borrow_style in ('end','endday')
				INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
				Left join ht_borrow_apicron ba on rp.borrow_nid=ba.borrow_nid and rp.repay_period=ba.period_now and ba.api_type='1'
				<include refid="Borrow_Repayment_Plan_Where_Clause" />
			) t
		
	</select>


	<!-- #提前天数,少还利息,延期天数,延期利息,逾期天数,逾期利息,应还总额,实还总额,还没加 -->
	<select id="selectBorrowRepaymentPlanList" resultMap="searchBorrowRepaymentPlanListResultMap"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentPlanRequest">
			 select * from(
			 	select
				rp.nid AS nid,
				b.borrow_nid AS borrowNid,
				u.user_id AS userId,
				u.username AS borrowUserName,
				binfo.name AS borrowName,
				hic.inst_name AS instName,
				b.project_Type AS
				projectType,
				CASE
				WHEN b.project_Type = 0 THEN '汇保贷'
				WHEN b.project_Type
				= 1 THEN '汇典贷'
				WHEN
				b.project_Type = 2 THEN '汇小贷'
				WHEN b.project_Type = 3
				THEN '汇车贷'
				WHEN
				b.project_Type = 4 THEN '新手标'
				END AS projectTypeName,
				b.borrow_Period AS borrowPeriod,
				b.borrow_Apr AS borrowApr,
				b.account AS
				borrowAccount,
				b.borrow_account_yes AS borrowAccountYes,
				bs.name AS
				repayType,
				rp.repay_period AS repayPeriod,
				rp.repay_capital AS
				repayCapital,
				rp.repay_interest AS repayInterest,
				rp.repay_account+rp.charge_interest+rp.late_interest+rp.late_interest_wait AS
				repayAccount,
				rp.repay_fee AS repayFee,
				rp.charge_days AS tiqiantianshu,
				rp.charge_interest AS
				shaohuanlixi,
				'' AS yanqitianshu,
				'' AS yanqilixi,
				rp.late_days AS yuqitianshu,
				if(rp.repay_status='1',rp.late_interest,rp.late_interest_wait)
				AS yuqilixi,
				rp.repay_account_yes AS yinghuanzonge,
				rp.charge_penalty_interest AS shihuanzonge,
				if(rp.repay_status=0 and  rp.advance_status=3,2,rp.repay_status) AS
				status,
				if(rp.repay_action_time='' OR rp.repay_action_time='0' OR rp.repay_action_time='null',
				'',FROM_UNIXTIME(rp.repay_action_time,'%Y-%m-%d %H:%i:%s' )) AS repayActionTime,
				if(rp.repay_time='' OR rp.repay_time='0' OR rp.repay_time='null',
				'',FROM_UNIXTIME(rp.repay_time, '%Y-%m-%d' )) AS repayLastTime,
				if(rp.repay_action_time is null OR rp.repay_action_time='' OR rp.repay_action_time='0',
				'', CASE rp.repay_money_source WHEN 1 THEN '借款人还款' WHEN 2 THEN '机构垫付' WHEN 3 THEN '保证金垫付' ELSE '借款人还款' END ) as repayMoneySource,
				b.repay_account_capital-b.repay_account_capital_yes AS repayAccountCapitalWait,
				b.repay_account_interest_wait AS repayAccountInterestWait,
				b.plan_nid as planNid,
				rp.repay_account_yes as repayAccountYes,
				if(ba.status is null OR ba.status='',
				'未提交', CASE ba.status WHEN 1 THEN '还款请求中' WHEN 2 THEN '还款请求成功' WHEN 9 THEN '还款处理中' WHEN 3 THEN '还款校验成功' WHEN 4 THEN '还款校验失败' WHEN 5 THEN '还款失败' WHEN 6 THEN '还款成功' WHEN 7 THEN '还款请求失败' WHEN 8 THEN '还款部分成功' ELSE '待还款' END ) as extraYieldRepayStatus,
				ba.user_name as userName,
				ba.submitter,
				CASE rp.auto_repay when 0
				then '手动还款'
				else '自动还款' end as autoRepay,
				b.verify_time,
				binfo.repay_org_name,
				b.verify_time as verifyTime,
				b.borrow_full_time as borrowFullTime,
				b.recover_last_time as recoverLastTime,
				rp.repay_capital_yes as repayAccountCapitalYes,
		        rp.repay_interest_yes as repayAccountInterestYes,
		        if(rp.repay_type='wait_yes',rp.repay_fee,0) as yihuanfuwufei,
				binfo.entrusted_user_name as entrustedUserName
				from
				ht_borrow_repay AS rp
				INNER JOIN ht_borrow AS b ON
				rp.borrow_nid=b.borrow_nid and b.borrow_style in ('end','endday')
				INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
				LEFT JOIN ht_borrow_style AS bs on
				b.borrow_style=bs.nid
				LEFT JOIN ht_r_user u ON b.user_id =
				u.user_id
				LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
				Left join ht_borrow_apicron ba on rp.borrow_nid=ba.borrow_nid and rp.repay_period=ba.period_now and ba.api_type='1'
			 	<include refid="Borrow_Repayment_Plan_Where_Clause" />
			 	UNION ALL
			 	select
				rp.nid AS nid,
				b.borrow_nid AS borrowNid,
				u.user_id AS userId,
				u.username AS borrowUserName,
				binfo.name AS borrowName,
				hic.inst_name AS instName,
				b.project_Type AS
				projectType,
				CASE
				WHEN b.project_Type = 0 THEN '汇保贷'
				WHEN b.project_Type
				= 1 THEN '汇典贷'
				WHEN
				b.project_Type = 2 THEN '汇小贷'
				WHEN b.project_Type = 3
				THEN '汇车贷'
				WHEN
				b.project_Type = 4 THEN '新手标'
				END AS projectTypeName,
				b.borrow_Period AS borrowPeriod,
				b.borrow_Apr AS borrowApr,
				b.account AS
				borrowAccount,
				b.borrow_account_yes AS borrowAccountYes,
				bs.name AS
				repayType,
				rp.repay_period AS repayPeriod,
				rp.repay_capital AS
				repayCapital,
				rp.repay_interest AS repayInterest,
				rp.repay_account+rp.charge_interest+rp.late_interest+rp.late_interest_wait AS
				repayAccount,
				rp.repay_fee AS repayFee,
				rp.charge_days AS tiqiantianshu,
				rp.charge_interest AS
				shaohuanlixi,
				'' AS yanqitianshu,
				'' AS yanqilixi,
				rp.late_days AS yuqitianshu,
				if(rp.repay_status='1',rp.late_interest,rp.late_interest_wait)
				AS yuqilixi,
				rp.repay_account_yes AS yinghuanzonge,
				rp.charge_penalty_interest AS shihuanzonge,
				if(rp.repay_status=0 and  rp.advance_status=3,2,rp.repay_status) AS
				status,
				if(rp.repay_action_time='' OR rp.repay_action_time='0' OR rp.repay_action_time='null',
				'',FROM_UNIXTIME(rp.repay_action_time,'%Y-%m-%d %H:%i:%s' )) AS repayActionTime,
				if(rp.repay_time='' OR rp.repay_time='0' OR rp.repay_time='null',
				'',FROM_UNIXTIME(rp.repay_time, '%Y-%m-%d' )) AS repayLastTime,
				if(rp.repay_action_time is null OR rp.repay_action_time='' OR rp.repay_action_time='0',
				'', CASE rp.repay_money_source WHEN 1 THEN '借款人还款' WHEN 2 THEN '机构垫付' WHEN 3 THEN '保证金垫付' ELSE '借款人还款' END ) as repayMoneySource,
				b.repay_account_capital-b.repay_account_capital_yes AS repayAccountCapitalWait,
				b.repay_account_interest_wait AS repayAccountInterestWait,
				b.plan_nid as planNid,
				rp.repay_account_yes as repayAccountYes,
				if(ba.status is null OR ba.status='',
				'未提交', CASE ba.status WHEN 1 THEN '还款请求中' WHEN 2 THEN '还款请求成功' WHEN 9 THEN '还款处理中' WHEN 3 THEN '还款校验成功' WHEN 4 THEN '还款校验失败' WHEN 5 THEN '还款失败' WHEN 6 THEN '还款成功' WHEN 7 THEN '还款请求失败' WHEN 8 THEN '还款部分成功' ELSE '待还款' END ) as extraYieldRepayStatus,
				ba.user_name as userName,
				ba.submitter,
				CASE rp.auto_repay when 0
				then '手动还款'
				else '自动还款' end as autoRepay,
				b.verify_time,
				binfo.repay_org_name,
				b.verify_time as verifyTime,
				b.borrow_full_time as borrowFullTime,
				b.recover_last_time as recoverLastTime,
				rp.repay_capital_yes as repayAccountCapitalYes,
		        rp.repay_interest_yes as repayAccountInterestYes,
		        if(rp.repay_type='wait_yes',rp.repay_fee,0) as yihuanfuwufei,
				binfo.entrusted_user_name as entrustedUserName
				from
				ht_borrow_repay_plan AS rp
				INNER JOIN ht_borrow AS b ON
				rp.borrow_nid=b.borrow_nid
				INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
				LEFT JOIN ht_borrow_style AS bs on
				b.borrow_style=bs.nid
				LEFT JOIN ht_r_user u ON b.user_id =
				u.user_id
				LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
				Left join ht_borrow_apicron ba on rp.borrow_nid=ba.borrow_nid and rp.repay_period=ba.period_now and ba.api_type='1'
				<include refid="Borrow_Repayment_Plan_Where_Clause" />
			 ) tt
			ORDER BY
			tt.repayLastTime ASC
			<if test="limitStart >= 0">
				LIMIT #{limitStart} , #{limitEnd}
			</if>
	</select>


	<select id="sumBorrowRepaymentPlanInfo"
			resultType="com.hyjf.am.trade.dao.model.customize.AdminBorrowRepaymentPlanCustomize"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentPlanRequest">
		select
		SUM(rp.repay_capital) AS repayCapital,
		SUM(rp.repay_interest) AS
		repayInterest,
		SUM(rp.repay_account) AS repayAccount,
		SUM(rp.repay_fee) AS repayFee
		from
		ht_borrow_repay_plan AS rp
		INNER JOIN ht_borrow AS b ON rp.borrow_nid=b.borrow_nid
		INNER JOIN  ht_borrow_info  AS binfo on b.borrow_nid=binfo.borrow_nid
		<include refid="Borrow_Repayment_Plan_Where_Clause" />
	</select>

	<select id="exportRepayClkActBorrowRepaymentInfoListOld" resultMap="searchBorrowRepaymentPlanListResultMap"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentPlanRequest">
		select *from(
		SELECT
		br.nid AS nid,
		br.borrow_nid AS borrowNid,
		u.user_id AS userId,
		u.username AS borrowUserName,
		binfo.NAME AS borrowName,
		hic.inst_name AS instName,
		bpt.borrow_name AS projectTypeName,
		CASE
		WHEN b.borrow_style = 'endday' THEN
		CONCAT(b.borrow_period, '天')
		ELSE
		CONCAT(b.borrow_period, '个月')
		END AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.borrow_account_yes AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs. NAME AS repayType,
		FROM_UNIXTIME(b.verify_time, '%Y-%m-%d %H:%i:%s' ) AS verify_time,
		'1' AS repayPeriod,
		b.repay_account_capital AS repayCapital,
		b.repay_account_interest AS repayInterest,
		b.repay_account_all AS repayAccount,
		br.repay_fee AS repayFee,
		'' AS tiqiantianshu,
		'' AS shaohuanlixi,
		'' AS yanqitianshu,
		'' AS yanqilixi,
		'' AS yuqitianshu,
		'' AS yuqilixi,
		'' AS yinghuanzonge,
		'' AS shihuanzonge,

		IF (
		b. STATUS = 4,
		0,

		IF (b. STATUS = 5, 1, '')
		) AS STATUS,
		CASE
		WHEN br.repay_action_time > 0
		AND br.repay_status = 1 THEN
		FROM_UNIXTIME(
		br.repay_action_time,
		'%Y-%m-%d %H:%i:%s'
		)
		ELSE
		''
		END AS repayActionTime,

		IF (
		b.repay_last_time = ''
		OR b.repay_last_time = '0'
		OR b.repay_last_time = 'null',
		'',
		FROM_UNIXTIME(
		b.repay_last_time,
		'%Y-%m-%d'
		)
		) AS repayLastTime,

		IF (
		br.repay_status = 1
		AND br.repay_action_time > 0,
		CASE br.repay_money_source
		WHEN 1 THEN
		'借款人还款'
		WHEN 2 THEN
		'机构垫付'
		WHEN 3 THEN
		'保证金垫付'
		ELSE
		'借款人还款'
		END,
		''
		) AS repayMoneySource
		FROM ht_borrow AS b
		INNER JOIN ht_borrow_info AS binfo  on b.borrow_nid=binfo.borrow_nid
		INNER JOIN ht_borrow_repay AS br on b.borrow_nid=br.borrow_nid
		LEFT JOIN ht_r_user u ON b.user_id = u.user_id
		LEFT JOIN ht_borrow_style AS bs on b.borrow_style=bs.nid
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		LEFT JOIN ht_borrow_apicron as ba on b.borrow_nid = ba.borrow_nid and ba.api_type = 1 and ba.status <![CDATA[<>]]> 6
		LEFT JOIN ht_hjh_inst_config hic on binfo.inst_code = hic.inst_code
		<include refid="RepaymentInfoList_Where_Clause" />
		AND b.borrow_style in ('end','endday')
		UNION ALL
		SELECT
		rp.nid AS nid,
		b.borrow_nid AS borrowNid,
		u.user_id AS userId,
		u.username AS borrowUserName,
		binfo.NAME AS borrowName,
		hic.inst_name AS instName,
		CASE
		WHEN b.project_Type = 0 THEN
		'汇保贷'
		WHEN b.project_Type = 1 THEN
		'汇典贷'
		WHEN b.project_Type = 2 THEN
		'汇小贷'
		WHEN b.project_Type = 3 THEN
		'汇车贷'
		WHEN b.project_Type = 4 THEN
		'新手标'
		END AS projectTypeName,
		CONCAT(b.borrow_period, '个月') AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.account AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs. NAME AS repayType,
		FROM_UNIXTIME(b.verify_time, '%Y-%m-%d %H:%i:%s' ) AS verify_time,
		rp.repay_period AS repayPeriod,
		rp.repay_capital AS repayCapital,
		rp.repay_interest AS repayInterest,
		rp.repay_account AS repayAccount,
		rp.repay_fee AS repayFee,
		'' AS tiqiantianshu,
		'' AS shaohuanlixi,
		'' AS yanqitianshu,
		'' AS yanqilixi,
		'' AS yuqitianshu,
		'' AS yuqilixi,
		'' AS yinghuanzonge,
		'' AS shihuanzonge,
		rp.repay_status AS STATUS,

		IF (
		rp.repay_action_time = ''
		OR rp.repay_action_time = '0'
		OR rp.repay_action_time = 'null',
		'',
		FROM_UNIXTIME(
		rp.repay_action_time,
		'%Y-%m-%d %H:%i:%s'
		)
		) AS repayActionTime,

		IF (
		rp.repay_time = ''
		OR rp.repay_time = '0'
		OR rp.repay_time = 'null',
		'',
		FROM_UNIXTIME(rp.repay_time, '%Y-%m-%d')
		) AS repayLastTime,

		IF (
		rp.repay_action_time IS NULL
		OR rp.repay_action_time = ''
		OR rp.repay_action_time = '0',
		'',
		CASE rp.repay_money_source
		WHEN 1 THEN
		'借款人还款'
		WHEN 2 THEN
		'机构垫付'
		WHEN 3 THEN
		'保证金垫付'
		ELSE
		'借款人还款'
		END
		) AS repayMoneySource
		from
		ht_borrow_repay_plan AS rp
		INNER JOIN ht_borrow AS b ON
		rp.borrow_nid=b.borrow_nid
		INNER JOIN ht_borrow_info AS binfo  on b.borrow_nid=binfo.borrow_nid
		LEFT JOIN ht_borrow_style AS bs on
		b.borrow_style=bs.nid
		LEFT JOIN ht_r_user u ON b.user_id =
		u.user_id
		LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
		<include refid="RepaymentInfoList_Where_Clause" />
		AND b.borrow_style in ('principal','month','endmonth')
		ORDER BY verify_time DESC,borrowNid ASC, repayPeriod+0 ASC) as resultMap
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>
	<select id="exportRepayClkActBorrowRepaymentInfoListCount" resultType="java.lang.Integer"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentPlanRequest">
			select sum(nid) from (
		SELECT
		count(1) nid
        FROM
        ht_borrow AS b
        INNER JOIN ht_borrow_repay AS br ON b.borrow_nid = br.borrow_nid
        INNER JOIN ht_borrow_info hbi ON b.borrow_nid=hbi.borrow_nid
        LEFT JOIN ht_r_user u ON b.user_id = u.user_id
        LEFT JOIN ht_borrow_style AS bs ON b.borrow_style = bs.nid
        LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		LEFT JOIN ht_borrow_apicron as ba ON b.borrow_nid = ba.borrow_nid and ba.api_type = 1 and ba.status <![CDATA[<>]]> 6
        LEFT JOIN ht_hjh_inst_config hic ON hbi.inst_code = hic.inst_code
		<include refid="Where_Clause_New" />
		AND b.borrow_style in ('end','endday')
		UNION ALL
		SELECT
		count(1) nid
        FROM
        ht_borrow_repay_plan AS rp
        INNER JOIN ht_borrow AS b ON rp.borrow_nid = b.borrow_nid
        INNER JOIN ht_borrow_info hbi ON b.borrow_nid=hbi.borrow_nid
        LEFT JOIN ht_borrow_style AS bs ON b.borrow_style = bs.nid
        LEFT JOIN ht_r_user u ON b.user_id = u.user_id
        LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = hbi.inst_code
        LEFT JOIN ht_borrow_repay br ON br.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		<include refid="Where_Clause1" />
		) as count
	</select>

	<sql id="Where_Clause_New">
		<where>
			<!-- 投资nid -->
			<if test="nid != null and nid != ''">
				AND br.nid = #{nid}
			</if>
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND hbi.inst_code = #{instCodeSrch}
			</if>
			<!-- 借款编号 -->
			<if test="borrowNid != null and borrowNid != ''">
				AND br.borrow_nid LIKE CONCAT('%', #{borrowNid}, '%')
			</if>
			<!-- 借款标题 -->
			<if test="borrowName != null and borrowName != ''">
				AND hbi.name LIKE CONCAT('%', #{borrowName},
				'%')
			</if>
			<!-- 还款状态 -->
			<if test="status != null and status != ''">
				AND br.repay_status = #{status}
			</if>
			<!-- 最后还款日 -->
			<if test="repayLastTimeStartSrch != null and repayLastTimeStartSrch != ''">
				AND br.repay_time <![CDATA[>=]]>
				unix_timestamp(#{repayLastTimeStartSrch})
			</if>
			<if test="repayLastTimeEndSrch != null and repayLastTimeEndSrch != ''">
				AND br.repay_time <![CDATA[<=]]>
				unix_timestamp(#{repayLastTimeEndSrch})+86399
			</if>
			<!-- 发布日期 -->
			<if test="verifyTimeStartSrch != null and verifyTimeStartSrch != ''">
				AND b.verify_time <![CDATA[>=]]>
				unix_timestamp(#{verifyTimeStartSrch})
			</if>
			<if test="verifyTimeEndSrch != null and verifyTimeEndSrch != ''">
				AND b.verify_time <![CDATA[<=]]>
				unix_timestamp(#{verifyTimeEndSrch})+86399
			</if>
			<if test="actulRepayTimeStartSrch != null and actulRepayTimeStartSrch != ''">
				AND br.repay_action_time <![CDATA[>=]]> unix_timestamp(#{actulRepayTimeStartSrch})
			</if>
			<if test="actulRepayTimeEndSrch != null and actulRepayTimeEndSrch != ''">
				AND br.repay_action_time <![CDATA[<=]]> unix_timestamp(#{actulRepayTimeEndSrch}) + 86399
			</if>
		</where>
	</sql>
	<sql id="Where_Clause1">
		<where>
			<!-- 投资nid -->
			<if test="nid != null and nid != ''">
				AND rp.nid = #{nid}
			</if>
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND hbi.inst_code = #{instCodeSrch}
			</if>
			<!-- 借款编号 -->
			<if test="borrowNid != null and borrowNid != ''">
				AND b.borrow_nid LIKE CONCAT('%', #{borrowNid}, '%')
			</if>
			<!-- 借款标题 -->
			<if test="borrowName != null and borrowName != ''">
				AND hbi.name LIKE CONCAT('%', #{borrowName},
				'%')
			</if>
			<!-- 还款状态 -->
			<if test="status != null and status != ''">
				AND rp.repay_status = #{status}
			</if>
			<!-- 最后还款日 -->
			<if test="repayLastTimeStartSrch != null and repayLastTimeStartSrch != ''">
				AND br.repay_time <![CDATA[>=]]>
				unix_timestamp(#{repayLastTimeStartSrch})
			</if>
			<if test="repayLastTimeEndSrch != null and repayLastTimeEndSrch != ''">
				AND br.repay_time <![CDATA[<=]]>
				unix_timestamp(#{repayLastTimeEndSrch})+86399
			</if>
			<!-- 发布日期 -->
			<if test="verifyTimeStartSrch != null and verifyTimeStartSrch != ''">
				AND b.verify_time <![CDATA[>=]]>
				unix_timestamp(#{verifyTimeStartSrch})
			</if>
			<if test="verifyTimeEndSrch != null and verifyTimeEndSrch != ''">
				AND b.verify_time <![CDATA[<=]]>
				unix_timestamp(#{verifyTimeEndSrch})+86399
			</if>
			<if test="actulRepayTimeStartSrch != null and actulRepayTimeStartSrch != ''">
				AND br.repay_action_time <![CDATA[>=]]> unix_timestamp(#{actulRepayTimeStartSrch})
			</if>
			<if test="actulRepayTimeEndSrch != null and actulRepayTimeEndSrch != ''">
				AND br.repay_action_time <![CDATA[<=]]> unix_timestamp(#{actulRepayTimeEndSrch}) + 86399
			</if>
		</where>
	</sql>
	<select id="exportRepayClkActBorrowRepaymentInfoList" resultMap="searchBorrowRepaymentPlanListResultMap"
			parameterType="com.hyjf.am.resquest.admin.BorrowRepaymentPlanRequest">
        select  * from (
		SELECT
		 b.plan_nid as planNid,
		 hbi.repay_org_name as repayOrgName,
		 b.recover_last_time as recoverLastTime,
		 br.repay_capital_yes as repayAccountCapitalYes,
		 br.repay_interest_yes as repayAccountInterestYes,
		 br.charge_interest as chargeInterest,
		 br.charge_penalty_interest as chargePenaltyInterest,
		  if(br.repay_type='wait_yes',br.repay_fee,0) as yihuanfuwufei,
		br.nid AS nid,
		br.borrow_nid AS borrowNid,
		u.user_id AS userId,
		u.username AS borrowUserName,
        hbi. NAME AS borrowName,
		hic.inst_name AS instName,
		bpt.borrow_name AS projectTypeName,
		CASE
		WHEN b.borrow_style = 'endday' THEN
		CONCAT(b.borrow_period, '天')
		ELSE
		CONCAT(b.borrow_period, '个月')
		END AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.borrow_account_yes AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs. NAME AS repayType,
		FROM_UNIXTIME(b.verify_time, '%Y-%m-%d %H:%i:%s' ) AS verify_time,
		'1' AS repayPeriod,
		b.repay_account_capital AS repayCapital,
		b.repay_account_interest AS repayInterest,
		b.repay_account_all AS repayAccount,
		br.repay_fee AS repayFee,
		br.charge_days AS tiqiantianshu,
		br.charge_interest AS shaohuanlixi,
		'' AS yanqitianshu,
		'' AS yanqilixi,
		br.late_days AS yuqitianshu,
		br.late_interest AS yuqilixi,
		b.repay_account_all AS yinghuanzonge,
		b.repay_account_yes AS shihuanzonge,
		IF (
		b. STATUS = 4,
		0,

		IF (b. STATUS = 5, 1, '')
		) AS STATUS,
		CASE
		WHEN br.repay_action_time > 0
		AND br.repay_status = 1 THEN
		FROM_UNIXTIME(
		br.repay_action_time,
		'%Y-%m-%d %H:%i:%s'
		)
		ELSE
		''
		END AS repayActionTime,

		IF (
		b.repay_last_time = ''
		OR b.repay_last_time = '0'
		OR b.repay_last_time = 'null',
		'',
		FROM_UNIXTIME(
		b.repay_last_time,
		'%Y-%m-%d'
		)
		) AS repayLastTime,

		IF (
		br.repay_status = 1
		AND br.repay_action_time > 0,
		CASE br.repay_money_source
		WHEN 1 THEN
		'借款人还款'
		WHEN 2 THEN
		'机构垫付'
		WHEN 3 THEN
		'保证金垫付'
		ELSE
		'借款人还款'
		END,
		''
		) AS repayMoneySource,
		b.repay_account_capital-b.repay_account_capital_yes AS repayAccountCapitalWait,
		b.repay_account_interest_wait AS repayAccountInterestWait
        FROM
        ht_borrow AS b
        INNER JOIN ht_borrow_repay AS br ON b.borrow_nid = br.borrow_nid
        INNER JOIN ht_borrow_info hbi ON b.borrow_nid=hbi.borrow_nid
        LEFT JOIN ht_r_user u ON b.user_id = u.user_id
        LEFT JOIN ht_borrow_style AS bs ON b.borrow_style = bs.nid
        LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
        LEFT JOIN ht_borrow_apicron as ba ON b.borrow_nid = ba.borrow_nid and ba.api_type = 1 and ba.status <![CDATA[<>]]> 6
        LEFT JOIN ht_hjh_inst_config hic ON hbi.inst_code = hic.inst_code
		<include refid="Where_Clause_New" />
		AND b.borrow_style in ('end','endday')
		UNION ALL
		SELECT
		b.plan_nid as planNid,
		 hbi.repay_org_name as repayOrgName,
		 b.recover_last_time as recoverLastTime,
		 rp.repay_capital_yes as repayAccountCapitalYes,
		 rp.repay_interest_yes as repayAccountInterestYes,
		 rp.charge_interest as chargeInterest,
		 rp.charge_penalty_interest as chargePenaltyInterest,
		  if(rp.repay_type='wait_yes',rp.repay_fee,0) as yihuanfuwufei,
		rp.nid AS nid,
		b.borrow_nid AS borrowNid,
		u.user_id AS userId,
		u.username AS borrowUserName,
        hbi. NAME AS borrowName,
		hic.inst_name AS instName,
		bpt.borrow_name AS projectTypeName,
		CONCAT(b.borrow_period, '个月') AS borrowPeriod,
		b.borrow_Apr AS borrowApr,
		b.account AS borrowAccount,
		b.borrow_account_yes AS borrowAccountYes,
		bs. NAME AS repayType,
		FROM_UNIXTIME(b.verify_time, '%Y-%m-%d %H:%i:%s' ) AS verify_time,
		rp.repay_period AS repayPeriod,
		rp.repay_capital AS repayCapital,
		rp.repay_interest AS repayInterest,
		rp.repay_account AS repayAccount,
		rp.repay_fee AS repayFee,
		rp.charge_days AS tiqiantianshu,
		rp.charge_interest AS shaohuanlixi,
		'' AS yanqitianshu,
		'' AS yanqilixi,
		rp.late_days AS yuqitianshu,
		rp.late_interest AS yuqilixi,
		b.repay_account_all AS yinghuanzonge,
		b.repay_account_yes AS shihuanzonge,
		rp.repay_status AS STATUS,

		IF (
		rp.repay_action_time = ''
		OR rp.repay_action_time = '0'
		OR rp.repay_action_time = 'null',
		'',
		FROM_UNIXTIME(
		rp.repay_action_time,
		'%Y-%m-%d %H:%i:%s'
		)
		) AS repayActionTime,

		IF (
		rp.repay_time = ''
		OR rp.repay_time = '0'
		OR rp.repay_time = 'null',
		'',
		FROM_UNIXTIME(rp.repay_time, '%Y-%m-%d')
		) AS repayLastTime,

		IF (
		rp.repay_action_time IS NULL
		OR rp.repay_action_time = ''
		OR rp.repay_action_time = '0',
		'',
		CASE rp.repay_money_source
		WHEN 1 THEN
		'借款人还款'
		WHEN 2 THEN
		'机构垫付'
		WHEN 3 THEN
		'保证金垫付'
		ELSE
		'借款人还款'
		END
		) AS repayMoneySource,
		b.repay_account_capital-b.repay_account_capital_yes AS repayAccountCapitalWait,
		b.repay_account_interest_wait AS repayAccountInterestWait
        FROM
        ht_borrow_repay_plan AS rp
        INNER JOIN ht_borrow AS b ON rp.borrow_nid = b.borrow_nid
        INNER JOIN ht_borrow_info hbi ON b.borrow_nid=hbi.borrow_nid
        LEFT JOIN ht_borrow_style AS bs ON b.borrow_style = bs.nid
        LEFT JOIN ht_r_user u ON b.user_id = u.user_id
        LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = hbi.inst_code
        LEFT JOIN ht_borrow_repay br ON br.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = CAST(b.project_type AS CHAR)
		<include refid="Where_Clause1" />
		ORDER BY verify_time ASC,borrowNid ASC, repayPeriod+0 ASC) t
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>
	<sql id="RepaymentInfoList_Where_Clause">
		<where>
			<!-- 发布日期 -->
			<if test="verifyTimeStartSrch != null and verifyTimeStartSrch != ''">
				AND b.verify_time <![CDATA[>=]]>
				unix_timestamp(#{verifyTimeStartSrch})
			</if>
			<if test="verifyTimeEndSrch != null and verifyTimeEndSrch != ''">
				AND b.verify_time <![CDATA[<=]]>
				unix_timestamp(#{verifyTimeEndSrch})+86399
			</if>
		</where>
	</sql>


	<resultMap id="selectBorrowInfoResultMap" type="com.hyjf.am.trade.dao.model.customize.AdminRepayDelayCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="username" property="borrowUserName" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="account" property="borrowAccount" jdbcType="VARCHAR" />
		<result column="borrow_account_yes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<result column="repay_last_time" property="repayLastTime" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="repay_account_wait" property="repayAccountWait" jdbcType="VARCHAR" />
		<result column="interestCapitalWait" property="interestCapitalWait" jdbcType="VARCHAR" />
		<result column="repay_org_name" property="repayOrgName" jdbcType="VARCHAR" />
		<result column="recoverLastTime" property="recoverLastTime" jdbcType="VARCHAR" />
		<result column="repayAccountAll" property="repayAccountAll" jdbcType="VARCHAR" />
		<result column="principalInterest" property="principalInterest" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectBorrowInfo" resultMap="selectBorrowInfoResultMap" parameterType="Map">
		SELECT
			b.borrow_nid,
			b.user_id,
			binfo.`name` AS borrow_name,
			b.borrow_user_name username,
			FORMAT(b.account, 2) AS account,
			b.borrow_style,
			bs.`name` AS borrow_style_name,
			binfo.project_type,
			bpt.borrow_name AS project_type_name,
			CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
			b.borrow_apr,
			FORMAT(b.borrow_account_yes, 2) AS borrow_account_yes,
            IF(b.repay_last_time IS NULL OR b.repay_last_time = '' OR b.repay_last_time='0' OR b.repay_last_time = 'null', '', FROM_UNIXTIME(b.repay_last_time, '%Y-%m-%d' )) AS repay_last_time,
            b.repay_account_wait,
            b.repay_account_interest_wait+repay_account_capital_wait as  interestCapitalWait,
            binfo.repay_org_name,
            b.recover_last_time as recoverLastTime,
            b.repay_account_all+b.borrow_service repayAccountAll,
             b.repay_account_all as principalInterest
		FROM
		    ht_borrow b
			INNER JOIN ht_borrow_info binfo ON b.borrow_nid = binfo.borrow_nid
			LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
			LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = binfo.project_type
		WHERE
			b.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>

</mapper>