<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminHjhCreditTenderCustomizeMapper">

	<select id="countDebtCreditTender" resultType="java.lang.Integer" parameterType="map">
		SELECT
		  COUNT(1)
		FROM
			ht_hjh_debt_credit_tender ct
		INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid AND bc.credit_nid = ct.credit_nid
		INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		<include refid="Where_Clause" />
	</select>
	<sql id="Where_Clause">
		<where>
			<!-- 承接人用户名 -->
			<if test="assignUserName != null and assignUserName != ''">
				AND ct.user_name LIKE CONCAT( #{assignUserName}, '%')
			</if>
			<!-- 承接人计划编号 -->
			<if test="assignPlanNid != null and assignPlanNid != ''">
				AND ct.assign_plan_nid LIKE CONCAT( #{assignPlanNid}, '%')
			</if>
			<!--应产品要求模糊匹配改成精确匹配 2018年6月12日18:36:34 start -->
			<!-- 承接人计划订单号 -->
			<if test="assignPlanOrderId != null and assignPlanOrderId != ''">
				AND ct.assign_plan_order_id = #{assignPlanOrderId}
			</if>
			<!-- 用户名 -->
			<if test="creditUserName != null and creditUserName != ''">
				AND ct.credit_user_name LIKE CONCAT( #{creditUserName}, '%')
			</if>
			<!--应产品要求模糊匹配改成精确匹配 2018年6月12日18:36:34 start-->
			<!-- 债转编号 -->
			<if test="creditNid != null and creditNid != ''">
				AND ct.credit_nid = #{creditNid}
			</if>
			<!--应产品要求模糊匹配改成精确匹配 2018年6月12日18:36:34 end-->
			<!-- 原始项目编号 -->
			<if test="borrowNid != null and borrowNid != ''">
				AND ct.borrow_nid = #{borrowNid}
			</if>
			<!-- 承接类型 0 自动承接 1手动承接 -->
			<if test="assignType != null and assignType != ''">
				AND ct.assign_type LIKE CONCAT( #{assignType}, '%')
			</if>
			<!-- 原始项目编号 -->
			<if test="repayStyle != null and repayStyle != ''">
				AND bs.nid = #{repayStyle}
			</if>

			<!-- 时间  只有am admin改了，am trade 没改-->
			<if test="assignTimeStart != null and assignTimeStart != ''">
				<!-- 优化sql(字段类型转换) timestamp-->
				AND ct.create_time >= STR_TO_DATE(#{assignTimeStart},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="assignTimeEnd != null and assignTimeEnd != ''">
				<!-- 优化sql(字段类型转换) timestamp-->
				AND ct.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{assignTimeEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="tenderType != null and tenderType != ''">
				AND ct.tender_type = #{tenderType}
			</if>
            <if test="sellOrderId != null and sellOrderId != ''">
                AND bc.plan_order_id = #{sellOrderId}
            </if>
			<if test="stateSrch != null and stateSrch != '' and stateSrch != 'W'">
				AND bce.state = #{stateSrch}
			</if>
			<!-- 查询未开始 -->
			<if test="stateSrch != null and stateSrch != '' and stateSrch == 'W'">
				AND bce.id is null
			</if>
		</where>
	</sql>
	
	
	<resultMap id="DebtCreditTenderMap" type="com.hyjf.am.vo.trade.hjh.HjhCreditTenderCustomizeVO">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="assign_user_name" property="assignUserName" jdbcType="VARCHAR" />
		<result column="assign_user_id" property="userId" jdbcType="VARCHAR" />
		<result column="assign_plan_nid" property="assignPlanNid" jdbcType="VARCHAR" />
		<result column="assign_plan_order_id" property="assignPlanOrderId" jdbcType="VARCHAR" />
		<result column="assign_order_id" property="assignOrderId" jdbcType="VARCHAR" />
		<result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
		<result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="repay_style_name" property="repayStyleName" jdbcType="VARCHAR" />
		<result column="assign_capital" property="assignCapital" jdbcType="VARCHAR" />
		<result column="assign_interest_advance" property="assignInterestAdvance" jdbcType="VARCHAR" />
		<result column="assign_pay" property="assignPay" jdbcType="VARCHAR" />
		<result column="assign_type_name" property="assignTypeName" jdbcType="VARCHAR" />
		<result column="assign_time" property="assignTime" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="assign_period" property="assignPeriod" jdbcType="VARCHAR" />
		<!--合同状态-->
		<result column="contractStatus" property="contractStatus"  />
		<!--合同编号-->
		<result column="contract_number" property="contractNumber"  />
		<!--合同下载地址-->
		<result column="download_url" property="downloadUrl"  />
		<!--合同查看地址-->
		<result column="viewpdf_url" property="viewpdfUrl"  />
		<!--脱敏后合同查看地址-->
		<result column="img_url" property="imgUrl"  />
		<!--是否复投承接-->
		<result column="tender_type" property="tenderType"/>
		<!--债转服务费-->
		<result column="assign_service_fee" property="assignServiceFee"/>
		<!--债转服务费率-->
		<result column="assign_service_apr" property="assignServiceApr"/>
		<!--原投资订单号-->
		<result column="sell_order_id" property="sellOrderId"/>
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="stateDesc" property="stateDesc" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectDebtCreditTenderList" resultMap="DebtCreditTenderMap" parameterType="map">
		SELECT
			ct.id,
			ct.user_name AS assign_user_name,
			ct.user_id AS assign_user_id,
			ct.assign_plan_nid,
			ct.assign_plan_order_id,
			ct.assign_order_id,
			ct.credit_user_name,
			ct.credit_nid,
			ct.borrow_nid,
			bs.`name` AS repay_style_name,
			ct.assign_capital,
			ct.assign_interest_advance,
			ct.assign_pay,
			ct.assign_type AS assign_type_name,
			
<!-- 			FROM_UNIXTIME(
				ct.create_time,
				'%Y-%m-%d %H:%i:%s'
			) AS assign_time, -->
			DATE_FORMAT(ct.create_time, '%Y-%m-%d %H:%i:%s' ) AS assign_time,
			
			CASE WHEN b.borrow_style = 'endday' OR b.borrow_style = 'end' THEN 1 ELSE b.borrow_period END AS borrow_period,
 			bc.assign_period,
		    hta.status AS contractStatus,
			hta.contract_number AS contract_number,
			hta.download_url AS download_url,
			hta.viewpdf_url AS viewpdf_url,
			hta.img_url AS img_url,
			CASE WHEN ct.tender_type = 1 THEN  '是' ELSE '否' END  AS  tender_type,
			ct.assign_service_fee AS assign_service_fee,
			CASE WHEN ct.assign_service_apr <![CDATA[<>]]> 0 then  ct.assign_service_apr ELSE '0.00' END AS assign_service_apr,
            bc.plan_order_id AS sell_order_id,
			bce.`state`,
			CASE bce.`state`
			WHEN 'A' THEN
			'初始'
			WHEN 'S' THEN
			'成功'
			WHEN 'F' THEN
			'失败'
			ELSE
			'未开始'
			END stateDesc
		FROM
			ht_hjh_debt_credit_tender ct
		INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid AND bc.credit_nid = ct.credit_nid
		INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
		LEFT JOIN ht_bank_credit_end bce ON bce.org_order_id = ct.assign_order_id
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN ht_tender_agreement hta ON hta.tender_nid = ct.assign_order_id
	   <include refid="Where_Clause" />
		ORDER BY bc.id DESC
	   <if  test="limitStart != null and limitEnd != null">
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<resultMap id="sumMap" type="com.hyjf.am.vo.trade.hjh.HjhCreditTenderSumVO">
		<result column="sumAssignCapital" property="sumAssignCapital" jdbcType="VARCHAR" />
		<result column="sumAssignInterestAdvance" property="sumAssignInterestAdvance" jdbcType="VARCHAR" />
		<result column="sumAssignPay" property="sumAssignPay" jdbcType="VARCHAR" />
		<result column="sumAssignServiceFee" property="sumAssignServiceFee" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getHjhCreditTenderCalcSumByParam" resultMap="sumMap" parameterType="map" >
	    select
		  sum(ct.assign_capital) AS sumAssignCapital,
          sum(ct.assign_interest_advance) AS  sumAssignInterestAdvance,
		  sum(ct.assign_pay) AS  sumAssignPay,
		  sum(ct.assign_service_fee) AS sumAssignServiceFee
	    from ht_hjh_debt_credit_tender ct
			INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid AND bc.credit_nid = ct.credit_nid
		<if test="repayStyle != null and repayStyle != ''">
			INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
			LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		</if>
	    <include refid="Where_Clause" />
    </select>
</mapper>