<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminHjhDebtCreditCustomizeMapper">

    <resultMap id="DebtCreditMap" type="com.hyjf.am.trade.dao.model.customize.AdminHjhDebtCreditCustomize">
        <result column="id"							property="id" 						jdbcType="VARCHAR" />
        <result column="plan_nid" 					property="planNid" 					jdbcType="VARCHAR" />
        <result column="plan_order_id" 				property="planOrderId" 				jdbcType="VARCHAR" />
        <result column="order_id" 				property="orderId" 				jdbcType="VARCHAR" />
        <result column="assign_id" 				property="assignId" 				jdbcType="VARCHAR" />
        <result column="plan_nid_new" 				property="planNidNew" 			    jdbcType="VARCHAR" />
        <result column="user_name" 					property="userName" 				jdbcType="VARCHAR" />
        <result column="credit_nid" 				property="creditNid" 				jdbcType="VARCHAR" />
        <result column="borrow_nid" 				property="borrowNid" 				jdbcType="VARCHAR" />
        <result column="borrow_apr" 				property="borrowApr" 				jdbcType="VARCHAR" />
        <result column="repay_style_name" 			property="repayStyleName" 			jdbcType="VARCHAR" />
        <result column="credit_capital" 			property="creditCapital" 			jdbcType="VARCHAR" />
        <result column="liquidation_fair_value" 	property="liquidationFairValue" 		jdbcType="VARCHAR" />
        <result column="actual_apr" 				property="actualApr" 				jdbcType="VARCHAR" />
        <result column="assign_account" 			property="assignAccount" 			jdbcType="VARCHAR" />
        <result column="credit_account_wait" 		property="creditAccountWait" 			jdbcType="VARCHAR" />
        <result column="assign_capital" 			property="assignCapital" 			jdbcType="VARCHAR" />
        <result column="assign_advance_interest" 	property="assignAdvanceInterest" 	jdbcType="VARCHAR" />
        <result column="account_receive" 			property="accountReceive" 			jdbcType="VARCHAR" />
        <result column="liquidates_time" 			property="liquidatesTime" 			jdbcType="VARCHAR" />
        <result column="credit_status_name" 		property="creditStatusName" 		jdbcType="VARCHAR" />
        <result column="repay_status_name" 		    property="repayStatusName" 		    jdbcType="VARCHAR" />
        <result column="borrow_period" 				property="borrowPeriod" 			jdbcType="VARCHAR" />
        <result column="assign_period" 				property="assignPeriod" 			jdbcType="VARCHAR" />
        <result column="liquidates_period" 			property="liquidatesPeriod" 		jdbcType="VARCHAR" />
        <result column="repay_next_time" 			property="repayNextTime" 			jdbcType="VARCHAR" />
        <result column="end_time" 					property="endTime" 					jdbcType="VARCHAR" />
        <result column="credit_status" 				property="creditStatus" 			jdbcType="VARCHAR" />
        <result column="repay_status" 				property="repayStatus" 					jdbcType="VARCHAR" />
        <result column="label_name"       			property="labelName" 				jdbcType="VARCHAR" />
        <result column="remain_credit"              property="remainCredit"             jdbcType="VARCHAR"/>
        <result column="endDate"                    property="endDate"                  jdbcType="DATE"/>
    </resultMap>

    <sql id="Where_Clause">
        <where>
            <!-- 出让人计划编号 -->
            <if test="planNid != null and planNid != ''">
                AND dc.plan_nid = #{planNid}
            </if>
            <!-- 出让人计划订单号 -->
            <if test="planOrderId != null and planOrderId != ''">
                AND dc.plan_order_id = #{planOrderId}
            </if>
            <!-- 出让人出借订单号 -->
            <if test="orderId != null and orderId != ''">
                AND dc.invest_order_id = #{orderId}
            </if>
            <!-- 出让人承接订单号 -->
            <if test="assignId != null and assignId != ''">
                AND dc.sell_order_id = #{assignId}
            </if>
            <!-- 清算后计划编号 -->
            <if test="planNidNew != null and planNidNew != ''">
                AND dc.plan_nid_new = #{planNidNew}
            </if>
            <!-- 债转编号 -->
            <if test="creditNid != null and creditNid != ''">
                AND dc.credit_nid = #{creditNid}
            </if>
            <!-- 债转编号 -->
            <if test="borrowNid != null and borrowNid != ''">
                AND dc.borrow_nid = #{borrowNid}
            </if>
            <!-- 用户名 -->
            <if test="userName != null and userName != ''">
                AND dc.user_name = #{userName}
            </if>
            <!-- 还款方式 -->
            <if test="repayStyle != null and repayStyle != ''">
                AND bs.id = #{repayStyle}
            </if>
            <!-- 转让状态 -->
            <if test="creditStatus != null and creditStatus != ''">
                AND dc.credit_status = #{creditStatus}
            </if>
            <!-- 还款状态-->
            <if test="repayStatus != null and repayStatus != ''">
                AND dc.repay_status = #{repayStatus}
            </if>
            <!-- 还款状态-->
            <if test="repayStatus != null and repayStatus != ''">
                AND dc.repay_status = #{repayStatus}
            </if>
            <!-- 清算时间 -->
            <if test="liquidatesTimeStart != null and liquidatesTimeStart != ''">
                <!-- sqlbug(比较类型不一致) -->
                AND dc.create_time >= STR_TO_DATE(#{liquidatesTimeStart},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="liquidatesTimeEnd != null and liquidatesTimeEnd != ''">
                <!-- sqlbug(比较类型不一致) -->
                AND dc.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{liquidatesTimeEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="endDateStart != null and endDateStart!=''">
                and hha.end_date <![CDATA[>=]]> CONCAT(#{endDateStart},' 00:00:00')
            </if>
            <if test="endDateEnd != null and endDateEnd!=''">
                and hha.end_date <![CDATA[<=]]> CONCAT(#{endDateEnd},' 23:59:59')
            </if>
            <!-- 下期还款时间 -->
            <if test="repayNextTimeStart != null and repayNextTimeStart != ''">
                AND dc.credit_repay_next_time <![CDATA[>=]]>unix_timestamp(CONCAT(#{repayNextTimeStart},' 00:00:00'))
            </if>
            <if test="repayNextTimeEnd != null and repayNextTimeEnd != ''">
                AND dc.credit_repay_next_time <![CDATA[<=]]>unix_timestamp(CONCAT(#{repayNextTimeEnd},' 23:59:59'))
            </if>
            <if test="creditCapitalWait != null and creditCapitalWait != ''">
                AND dc.credit_capital_wait = #{creditCapitalWait}
            </if>
            <!-- 债转结束时间 -->
            <if test="endTimeStart != null and endTimeStart != ''">
                AND dc.end_time <![CDATA[>=]]>unix_timestamp(CONCAT(#{endTimeStart},' 00:00:00'))
            </if>
            <if test="endTimeEnd != null and endTimeEnd != ''">
                AND dc.end_time <![CDATA[<=]]>unix_timestamp(CONCAT(#{endTimeEnd},' 23:59:59'))
            </if>
            <if test="actualAprStartSrch != null and actualAprStartSrch != ''">
                AND dc.actual_apr >= #{actualAprStartSrch}
            </if>
            <if test="actualAprEndSrch != null and actualAprEndSrch != ''">
                AND dc.actual_apr <![CDATA[ <= ]]> #{actualAprEndSrch}
            </if>
            <if test="labelName != null and labelName != ''">
                AND dc.label_name  like concat('%',#{labelName},'%')
            </if>
        </where>
    </sql>

    <select id="countDebtCredit" resultType="java.lang.Integer" parameterType="map">
        SELECT
        COUNT(1)
        FROM
        ht_hjh_debt_credit dc
        INNER JOIN ht_borrow b ON dc.borrow_nid = b.borrow_nid
        INNER JOIN ht_hjh_plan dp ON dp.plan_nid = dc.plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        left join ht_hjh_accede hha on dc.plan_order_id = hha.accede_order_id
        <include refid="Where_Clause" />
    </select>

    <select id="selectDebtCreditList" resultMap="DebtCreditMap" parameterType="map">
        SELECT
        dc.id,
        dc.plan_nid,
        dc.plan_nid_new,
        dc.plan_order_id,
        dc.invest_order_id as order_id,
        dc.sell_order_id as assign_id,
        dc.user_name,
        dc.credit_nid,
        dc.borrow_nid,
        dc.borrow_apr,
        bs.`name` AS repay_style_name,
        dc.credit_capital,
        dc.liquidation_fair_value,
        dc.actual_apr,
        dc.credit_account_wait,
        dc.credit_account_assigned AS assign_account,
        dc.credit_capital_assigned AS assign_capital,
        dc.credit_interest_advance_assigned AS assign_advance_interest,
        dc.credit_income AS account_receive,
        dc.credit_status,
        dc.repay_status,
        DATE_FORMAT( dc.create_time, '%Y-%m-%d %H:%i:%s' ) AS liquidates_time,
        CASE WHEN b.borrow_style = 'endday' OR b.borrow_style = 'end' THEN 1 ELSE b.borrow_period END AS borrow_period,
        dc.assign_period,
        dc.liquidates_period,
        dc.label_name,
        ( dc.liquidation_fair_value - dc.credit_capital_assigned - dc.credit_interest_advance_assigned ) as remain_credit,
        FROM_UNIXTIME(IF(dc.end_time=0, NULL, dc.end_time),'%Y-%m-%d %H:%i:%s') AS end_time,
        CASE WHEN b.borrow_style = 'endday' OR b.borrow_style = 'end' THEN FROM_UNIXTIME(dc.credit_repay_end_time,'%Y-%m-%d %H:%i:%s')  ELSE
        FROM_UNIXTIME(dc.credit_repay_next_time,'%Y-%m-%d %H:%i:%s') END AS repay_next_time,
        hha.end_date endDate
        FROM
        ht_hjh_debt_credit dc
        INNER JOIN ht_borrow b ON dc.borrow_nid = b.borrow_nid
        INNER JOIN ht_hjh_plan dp ON dp.plan_nid = dc.plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        left join ht_hjh_accede hha on dc.plan_order_id = hha.accede_order_id
        <include refid="Where_Clause" />
        ORDER BY dc.create_time DESC
        <if  test="limitStart != null and limitEnd != null and limitStart >= 0">
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>

    <!--查询展示列表的金额总计数据-->
    <select id="selectDebtCreditTotal" resultType="java.util.HashMap" parameterType="map">
        SELECT
        SUM(dc.credit_capital) AS  creditCapital,
        SUM(dc.liquidation_fair_value) AS liquidationFairValue,
        SUM(dc.credit_capital_assigned ) AS assignCapital,
        SUM(dc.credit_interest_advance_assigned) AS assignAdvanceInterest,
        SUM(dc.credit_income) AS accountReceive,
        (SUM(dc.liquidation_fair_value) - SUM(dc.credit_capital_assigned) - SUM(dc.credit_interest_advance_assigned) ) AS  remainCredit
        FROM
        ht_hjh_debt_credit dc
        INNER JOIN ht_borrow b ON dc.borrow_nid = b.borrow_nid
        INNER JOIN ht_hjh_plan dp ON dp.plan_nid = dc.plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        left join ht_hjh_accede hha on dc.plan_order_id = hha.accede_order_id
        <include refid="Where_Clause" />
        ORDER BY dc.create_time DESC
    </select>

</mapper>