<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AssetListServiceCustomizeMapper">
	<resultMap id="resultMap" type="com.hyjf.am.vo.admin.AssetListCustomizeVO">
		<result column="asset_id" property="assetId" jdbcType="VARCHAR" />
		<result column="inst_code" property="instCode" jdbcType="VARCHAR" />
		<result column="asset_type" property="assetType" jdbcType="VARCHAR" />
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
		<result column="asset_type_name" property="assetTypeName" jdbcType="VARCHAR" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="account_id" property="accountId" jdbcType="VARCHAR" />
		<result column="truename" property="truename" jdbcType="VARCHAR" />
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="verify_status" property="verifyStatus" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="recieve_time" property="recieveTime" jdbcType="VARCHAR" />
		<result column="label_name" property="labelName" jdbcType="VARCHAR" />
		<result column="bank_open_account" property="bankOpenAccount" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_type" property="userType" jdbcType="VARCHAR" />
	</resultMap>
	<select id="queryAssetList" resultMap="resultMap" parameterType="Map">
		SELECT
			hpa.asset_id,
			hpa.inst_code,
			hpa.asset_type,
			hic.inst_name,
			hat.asset_type_name,
			hpa.borrow_nid,
			hpa.plan_nid,
			hpa.user_name,
			hpa.mobile,
			hpa.account_id,
			<!-- pnusertype.name AS user_type, -->
		    u.user_type,
			CONCAT(substr(hpa.truename, 1, 1),'**') truename,
			CONCAT(substr(hpa.idcard, 1, 4),'************') idcard,
			FORMAT(hpa.account, 2) account,
			CASE WHEN hpa.borrow_style = 'endday' THEN CONCAT(hpa.borrow_period, '天') ELSE CONCAT(hpa.borrow_period, '个月') END borrow_period,
			bs.name borrow_style_name,
			hpa.verify_status AS verify_status,
			hpa.status AS status,
			FROM_UNIXTIME( hpa.recieve_time, '%Y-%m-%d %H:%i:%s' ) AS recieve_time,
			hpa.label_name,
			hpa.user_id,
			<!-- 如果ht_r_user里面有truename说明是开户成功，是否银行开户,0未开户,1已开户 -->
			CASE 
				WHEN 
				u.truename IS NULL 
				THEN '0' 
				ELSE 
				'1' 
			END AS bank_open_account
			
			FROM ht_hjh_plan_asset hpa 
			LEFT JOIN ht_hjh_inst_config hic on hpa.inst_code = hic.inst_code
			LEFT JOIN ht_hjh_asset_type hat on hpa.inst_code = hat.inst_code AND hpa.asset_type = hat.asset_type
			LEFT JOIN ht_borrow_style bs on hpa.borrow_style = bs.nid
			LEFT JOIN ht_r_user u on hpa.user_id = u.user_id
	   		<include refid="Where_Clause" />
			ORDER BY
			hpa.verify_status, hpa.recieve_time DESC
 			 <if test="limitStart != null and limitEnd !=null" >
				LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
			</if>
	</select>

    <!-- 保证金不足列表 -->
    <select id="findBZJBZList" resultMap="resultMap" parameterType="Map">
        SELECT
        hpa.asset_id,
        hpa.inst_code,
        hpa.asset_type,
        hic.inst_name,
        hat.asset_type_name,
        hpa.borrow_nid,
        hpa.plan_nid,
        hpa.user_name,
        hpa.mobile,
        hpa.account_id,
        <!-- pnusertype.name AS user_type, -->
        u.user_type,
        CONCAT(substr(hpa.truename, 1, 1),'**') truename,
        CONCAT(substr(hpa.idcard, 1, 4),'************') idcard,
        FORMAT(hpa.account, 2) account,
        CASE WHEN hpa.borrow_style = 'endday' THEN CONCAT(hpa.borrow_period, '天') ELSE CONCAT(hpa.borrow_period, '个月') END borrow_period,
        bs.name borrow_style_name,
        hpa.verify_status AS verify_status,
        hpa.status AS status,
        FROM_UNIXTIME( hpa.recieve_time, '%Y-%m-%d %H:%i:%s' ) AS recieve_time,
        hpa.label_name,
        hpa.user_id,
        <!-- 如果ht_r_user里面有truename说明是开户成功，是否银行开户,0未开户,1已开户 -->
        CASE
        WHEN
        u.truename IS NULL
        THEN '0'
        ELSE
        '1'
        END AS bank_open_account

        FROM ht_hjh_plan_asset hpa
        LEFT JOIN ht_hjh_inst_config hic on hpa.inst_code = hic.inst_code
        LEFT JOIN ht_hjh_asset_type hat on hpa.inst_code = hat.inst_code AND hpa.asset_type = hat.asset_type
        LEFT JOIN ht_borrow_style bs on hpa.borrow_style = bs.nid
        LEFT JOIN ht_r_user u on hpa.user_id = u.user_id
        <include refid="Where_Clause_bzjbz" />
        ORDER BY
        hpa.verify_status, hpa.recieve_time DESC
        <if test="limitStart != null and limitEnd !=null" >
            LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
        </if>
    </select>


	<select id="getBZJBZCount" parameterType="Map" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM ht_hjh_plan_asset hpa
		LEFT JOIN ht_hjh_inst_config hic on hpa.inst_code = hic.inst_code
		LEFT JOIN ht_hjh_asset_type hat on hpa.inst_code = hat.inst_code AND hpa.asset_type = hat.asset_type
		LEFT JOIN ht_borrow_style bs on hpa.borrow_style = bs.nid
		LEFT JOIN ht_r_user u on hpa.user_id = u.user_id
		<include refid="Where_Clause_bzjbz" />
	</select>


	<sql id="Where_Clause">
		<where>
			<!-- 资产编号 -->
 			<if test="assetIdSrch != null and assetIdSrch != ''">
				AND hpa.asset_id =#{assetIdSrch}
			</if> 
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND hpa.inst_code=#{instCodeSrch}
			</if>
			<!-- 产品类型	-->
			<if test="assetTypeSrch != null and assetTypeSrch != ''">
				AND hpa.asset_type=#{assetTypeSrch}
			</if>
			<!-- 项目编号 -->
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND hpa.borrow_nid LIKE CONCAT( #{borrowNidSrch}, '%')
			</if>
			<!-- 计划编号 -->
			<if test="planNidSrch != null and planNidSrch != ''">
				AND hpa.plan_nid LIKE CONCAT( #{planNidSrch}, '%')
			</if>
			<!-- 用户名 -->
			<if test="userNameSrch != null and userNameSrch != ''">
				AND hpa.user_name LIKE CONCAT( #{userNameSrch}, '%')
			</if>
			<!-- 标的名称 -->
			<if test="labelNameSrch != null and labelNameSrch != ''">
				AND hpa.label_name LIKE CONCAT( #{labelNameSrch}, '%')
			</if>
			<!-- 开户状态 -->
			<if test="bankOpenAccountSrch != null and bankOpenAccountSrch != ''">
				AND u.bank_open_account=#{bankOpenAccountSrch}
			</if>
			<!-- 审核状态 -->
			<if test="verifyStatusSrch != null and verifyStatusSrch != ''">
				AND hpa.verify_status=#{verifyStatusSrch}
			</if>
			<!-- 项目状态 -->
			<if test="statusSrch != null and statusSrch != ''">
				AND hpa.`status`=#{statusSrch}
			</if>
			<!-- 推送时间 -->
			<if test="recieveTimeStartSrch != null and recieveTimeStartSrch != ''">
				AND hpa.recieve_time<![CDATA[>=]]>unix_timestamp(#{recieveTimeStartSrch})
			</if>
			<!-- 推送时间 -->
			<if test="recieveTimeEndSrch != null and recieveTimeEndSrch != ''">
				AND hpa.recieve_time<![CDATA[<=]]>unix_timestamp(#{recieveTimeEndSrch})+86399
			</if>
			<!-- 借款类型 -->
			<if test="userTypeSrch != null and userTypeSrch != ''">
				AND u.user_type=#{userTypeSrch}
			</if>
		</where>
	</sql>

	<!-- 保证金不足 -->
	<sql id="Where_Clause_bzjbz">
		<where>
			<!-- 资产编号 -->
			<if test="assetIdSrch != null and assetIdSrch != ''">
				AND hpa.asset_id =#{assetIdSrch}
			</if>
			<!-- 资产来源 -->
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND hpa.inst_code=#{instCodeSrch}
			</if>
			<!-- 产品类型	-->
			<if test="assetTypeSrch != null and assetTypeSrch != ''">
				AND hpa.asset_type=#{assetTypeSrch}
			</if>
			<!-- 项目编号 -->
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND hpa.borrow_nid LIKE CONCAT( #{borrowNidSrch}, '%')
			</if>
			<!-- 计划编号 -->
			<if test="planNidSrch != null and planNidSrch != ''">
				AND hpa.plan_nid LIKE CONCAT( #{planNidSrch}, '%')
			</if>
			<!-- 用户名 -->
			<if test="userNameSrch != null and userNameSrch != ''">
				AND hpa.user_name LIKE CONCAT( #{userNameSrch}, '%')
			</if>
			<!-- 标的名称 -->
			<if test="labelNameSrch != null and labelNameSrch != ''">
				AND hpa.label_name LIKE CONCAT( #{labelNameSrch}, '%')
			</if>
			<!-- 开户状态 -->
			<if test="bankOpenAccountSrch != null and bankOpenAccountSrch != ''">
				AND u.bank_open_account=#{bankOpenAccountSrch}
			</if>
			<!-- 审核状态 -->
			<if test="verifyStatusSrch != null and verifyStatusSrch != ''">
				AND hpa.verify_status=#{verifyStatusSrch}
			</if>
			<!-- 项目状态 -->
			<if test="statusSrch != null and statusSrch != ''">
				AND hpa.`status` in
				<foreach collection="statusSrch" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<!-- 推送时间 -->
			<if test="recieveTimeStartSrch != null and recieveTimeStartSrch != ''">
				AND hpa.recieve_time<![CDATA[>=]]>unix_timestamp(#{recieveTimeStartSrch})
			</if>
			<!-- 推送时间 -->
			<if test="recieveTimeEndSrch != null and recieveTimeEndSrch != ''">
				AND hpa.recieve_time<![CDATA[<=]]>unix_timestamp(#{recieveTimeEndSrch})+86399
			</if>
			<!-- 借款类型 -->
			<if test="userTypeSrch != null and userTypeSrch != ''">
				AND u.user_type=#{userTypeSrch}
			</if>
		</where>
	</sql>


	<resultMap id="selectAssetDetailMap" type="com.hyjf.am.vo.admin.AssetDetailCustomizeVO">
		<result column="asset_id" property="assetId" jdbcType="VARCHAR"/>
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="truename" property="truename" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="VARCHAR"/>
		<result column="age" property="age" jdbcType="VARCHAR"/>
		<result column="marriage" property="marriage" jdbcType="VARCHAR"/>
		<result column="work_city" property="workCity" jdbcType="VARCHAR"/>
		<result column="position" property="position" jdbcType="VARCHAR"/>
		<result column="idcard" property="idcard" jdbcType="VARCHAR"/>
		<result column="domicile" property="domicile" jdbcType="VARCHAR"/>
		<result column="credit_level" property="creditLevel" jdbcType="VARCHAR"/>
		<result column="useage" property="useage" jdbcType="VARCHAR"/>
		<result column="monthly_income" property="monthlyIncome" jdbcType="VARCHAR"/>
		<result column="first_payment" property="firstPayment" jdbcType="VARCHAR"/>
		<result column="second_payment" property="secondPayment" jdbcType="VARCHAR"/>
		<result column="cost_introdution" property="costIntrodution" jdbcType="VARCHAR"/>
		<result column="overdue_times" property="overdueTimes" jdbcType="VARCHAR"/>
		<result column="overdue_amount" property="overdueAmount" jdbcType="VARCHAR"/>
		<result column="litigation" property="litigation" jdbcType="VARCHAR"/>
		<result column="credit_level" property="creditLevel" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectAssetDetail" resultMap="selectAssetDetailMap" parameterType="Map">
		SELECT
			CONCAT(substr(hpa.truename, 1, 1),'**') truename,
			hpa.sex,
			hpa.age,
			hpa.marriage,
			hpa.work_city,
			hpa.position,
			CONCAT(substr(hpa.idcard, 1, 4),'************') idcard,
			hpa.domicile,
			hpa.credit_level,
			IFNULL(hpn.name,hpa.useage) as useage,
			hpa.monthly_income,
			hpa.first_payment,
			hpa.second_payment,
			hpa.cost_introdution,
			hpa.overdue_times,
			FORMAT(hpa.overdue_amount, 2) overdue_amount,
			hpa.litigation,
			hpa.credit_level,
			CONCAT(substr(hpa.borrow_company_name, 1, 2),'**************') borrow_company_name,
			hpa.registration_area,
			hpa.registered_capital,
			hpa.industry_involved,
			hpa.registration_date,
			CONCAT(substr(hpa.legal_person, 1, 1),'*') legal_person,
			CONCAT(substr(hpa.unified_social_credit_code, 1, 2),'****************') unified_social_credit_code,
			hpa.main_business,
			hpa.financial_situation
		FROM ht_hjh_plan_asset hpa
		LEFT JOIN ht_param_name hpn ON hpa.useage = hpn.name_cd AND hpn.name_class = 'FINANCE_PURPOSE'
		<include refid="Where_Clause" />
	</select>
	
<!-- 	<sql id="Where_Detail_Clause">
		<where>
			资产编号
			<if test="assetIdSrch != null and assetIdSrch != ''">
				AND hpa.asset_id=#{assetIdSrch}
			</if>
			资产来源
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND hpa.inst_code=#{instCodeSrch}
			</if>
		</where>
	</sql> -->
	
	<select id="countAssetList" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.AssetListRequest">
		SELECT
		  COUNT(1)
		FROM ht_hjh_plan_asset hpa 
		<!-- LEFT JOIN ht_user u on hpa.user_id = u.user_id -->
		LEFT JOIN ht_r_user u on hpa.user_id = u.user_id
		<include refid="Where_Clause" />
	</select>
	
	<select id="getSumAccount" resultType="java.math.BigDecimal" parameterType="com.hyjf.am.resquest.admin.AssetListRequest">
		  SELECT
		    SUM(hpa.account)
		  FROM
			ht_hjh_plan_asset hpa 
		  <!-- LEFT JOIN ht_user u on hpa.user_id = u.user_id -->
		  LEFT JOIN ht_r_user u on hpa.user_id = u.user_id
		<include refid="Where_Clause" />
	</select>
</mapper>