<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BankMerchantAccountListCustomizeMapper" >
  <resultMap id="bankMerchantAccountListMap"
             type="com.hyjf.am.trade.dao.model.customize.BankMerchantAccountListCustomize">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" /> <!-- 交易日期 -->
    <result column="seq_no" property="seqNo" /> <!-- 流水号 -->
    <result column="order_id" property="orderId" /> <!-- 订单号 -->
    <result column="region_name" property="regionName" /> <!-- 分公司 -->
    <result column="branch_name" property="branchName" /> <!-- 分部  -->
    <result column="department_name" property="departmentName" /> <!-- 团队  -->
    <result column="username" property="userName" /> <!-- 用户名  -->
    <result column="account_id" property="accountId" /> <!-- 电子帐号  -->
    <result column="type" property="type" /> <!-- 收支类型  -->
    <result column="type_str" property="typeStr" /> <!-- 收支类型  -->
    <result column="trans_type" property="transType" /> <!-- 交易类型  -->
    <result column="trans_type_str" property="transTypeStr" /> <!-- 交易类型 -->
    <result column="amount" property="amount" /> <!-- 交易金额 -->
    <result column="status" property="status" /> <!-- 交易状态  -->
    <result column="status_str" property="statusStr" /> <!-- 交易状态  -->
    <result column="bank_account_balance" property="bankAccountBalance" /> <!-- 账户可用金额  -->
    <result column="bank_account_frost" property="bankAccountFrost" /> <!-- 账户冻结金额  -->
    <result column="remark" property="remark" /> <!-- 备注  -->
  </resultMap>

  <sql id="Where_Clause">
    <if test="seqNo != null and seqNo != ''">
      AND hbmal.seq_no LIKE CONCAT('%', #{seqNo,jdbcType=VARCHAR}, '%')
    </if>
    <if test="orderId != null and orderId != ''">
      AND hbmal.order_id LIKE CONCAT('%', #{orderId,jdbcType=VARCHAR}, '%')
    </if>
    <if test="accountId != null and accountId != ''">
      AND hbmal.account_id LIKE CONCAT('%', #{accountId,jdbcType=VARCHAR}, '%')
    </if>
    <if test="type != null">
      AND hbmal.type = #{type}
    </if>
    <if test="transType != null">
      AND hbmal.trans_type = #{transType}
    </if>
    <if test="status != null">
      AND hbmal.`status` = #{status}
    </if>

    <if test="typeList != null">
      AND hbmal.type IN
      <foreach collection="typeList" item="item" index="index" open="("  separator="," close=")" >
        #{item}
      </foreach>
    </if>
    <if test="transTypeList != null">
      AND hbmal.trans_type IN
      <foreach collection="transTypeList" item="item" index="index" open="("  separator="," close=")" >
        #{item}
      </foreach>
    </if>
    <if test="statusList != null">
      AND hbmal.`status` IN
      <foreach collection="statusList" item="item" index="index" open="("  separator="," close=")" >
        #{item}
      </foreach>
    </if>
    <if test="timeStartSrch != null ">
      AND hbmal.create_time &gt;= #{timeStartSrch}
    </if>
    <if test="timeEndSrch != null">
      AND hbmal.create_time &lt;= #{timeEndSrch}
    </if>
  </sql>

  <select id="selectRecordList" resultMap="bankMerchantAccountListMap"
          parameterType="com.hyjf.am.resquest.admin.BankRedPacketAccountListRequest">
    SELECT
    hbmal.id id,
    hbmal.user_id user_id,
    hu.username username,
    hbmal.create_time create_time,
    hbmal.seq_no seq_no,
    hbmal.order_id order_id,
    hbmal.region_name region_name,
    hbmal.branch_name branch_name,
    hbmal.department_name department_name,
    hbmal.account_id account_id,
    hbmal.type type,
    hpn2.`name` type_str,
    hbmal.trans_type trans_type,
    hpn1.`name` trans_type_str,
    hbmal.amount amount,
    hbmal.`status` status,
    hpn3.`name` status_str,
    hbmal.bank_account_balance bank_account_balance,
    hbmal.bank_account_frost bank_account_frost,
    hbmal.remark remark
    FROM
    ht_bank_merchant_account_list hbmal
    LEFT JOIN ht_r_user hu ON hbmal.user_id = hu.user_id
    WHERE
    hbmal.bank_account_code=#{bankAccountCode}
    <include refid="Where_Clause"/>
    ORDER BY hbmal.create_time DESC
    <if test="limitStart >= 0" >
      LIMIT #{limitStart} , #{limitEnd}
    </if>
  </select>

  <select id="countByExample" resultType="java.lang.Integer"
          parameterType="com.hyjf.am.resquest.admin.BankRedPacketAccountListRequest">
    SELECT
    COUNT(1)
    FROM
    ht_bank_merchant_account_list hbmal
    LEFT JOIN ht_r_user hu ON hbmal.user_id = hu.user_id
    WHERE
    hbmal.bank_account_code=#{bankAccountCode}
    <include refid="Where_Clause"/>

  </select>

</mapper>

