<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowTenderInfoCustomizeMapper">
	<resultMap id="borrowTenderInfo" type="com.hyjf.am.trade.dao.model.customize.BorrowTenderInfoCustomize">
		<id column="nid" property="nid" />
		<result column="account" property="tenderAccount" />
		<result column="user_id" property="userId" />
		<result column="borrow_nid" property="borrowNid" />
		<result column="project_type" property="projectType" />
		<result column="borrow_style" property="borrowStyle" />
		<result column="borrow_period" property="borrowPeriod" />
	</resultMap>
	<select id="getBorrowTenderInfo" resultMap="borrowTenderInfo" parameterType="java.util.Map">
		SELECT
			t.nid,
			t.account,
		    t.user_id,
			b.borrow_nid,
			b.project_type,
			b.borrow_style,
			b.borrow_period
		FROM
			ht_borrow_tender t
		INNER JOIN ht_borrow b ON t.borrow_nid = b.borrow_nid
		WHERE
			t.nid = #{nid}
		AND t.user_id = #{userId}
	</select>
	
	<select id="getCouponProfitTime" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			c.coupon_profit_time
		FROM
			ht_coupon_tender t
		INNER JOIN ht_coupon_user u ON t.coupon_grant_id = u.id
		INNER JOIN hyjf_coupon_config c ON u.coupon_code = c.coupon_code
		WHERE t.order_id=#{nid}
	</select>
	
	<select id="countMoneyByBorrowId" resultType="java.lang.String" parameterType="Map" >
    SELECT
		SUM(hydbt.account) as count
		FROM ht_borrow_tender hydbt
		WHERE 1=1
		<if test="borrowNid != null and borrowNid != ''" >
	      	and hydbt.borrow_nid =  #{borrowNid}
	    </if>
  </select>
</mapper>