<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowInvestCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<!-- 项目编号 -->
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND bt.borrow_nid LIKE CONCAT( #{borrowNidSrch}, '%')
			</if>
			<!-- 借款期限 -->
			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period=#{borrowPeriod}
			</if>
			<!-- 用户名 -->
			<if test="usernameSrch != null and usernameSrch != ''">
				AND bt.user_name LIKE CONCAT( #{usernameSrch}, '%')
			</if>
			<!-- 推荐人 -->
			<if test="referrerNameSrch != null and referrerNameSrch != ''">
				AND bt.invite_user_name LIKE CONCAT( #{referrerNameSrch}, '%')
			</if>
			<!-- 还款方式 -->
			<if test="borrowStyleSrch != null and borrowStyleSrch != ''">
				AND b.borrow_style = #{borrowStyleSrch}
			</if>
			<!-- 操作平台 -->
			<if test="clientSrch != null and clientSrch != ''">
				AND bt.client = #{clientSrch}
			</if>
			<!-- 出借时间 -->
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND bt.create_time <![CDATA[>=]]> STR_TO_DATE(#{timeStartSrch}, '%Y-%m-%d %H:%i:%s')
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND bt.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{timeEndSrch}, ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
			<!-- 出借方式 -->
			<if test="investType != null and investType != ''">
				AND bt.invest_type = #{investType}
			</if>
			<!--  计划编号 -->
			<if test="planNidSrch != null and planNidSrch != ''">
				AND b.plan_nid = #{planNidSrch}
			</if>
			<!--  汇计划加入订单号 -->
			<if test="accedeOrderIdSrch != null and accedeOrderIdSrch != ''">
				AND bt.accede_order_id = #{accedeOrderIdSrch}
			</if>

			<if test="tenderType != null and tenderType != ''">
				AND bt.tender_type = #{tenderType}
			</if>
			<if test="reAuthPassStartTime != null and reAuthPassStartTime != ''">
				AND b.reverify_time <![CDATA[>=]]>  unix_timestamp(#{reAuthPassStartTime})
			</if>
			<if test="reAuthPassEndTime != null and reAuthPassEndTime != ''">
				AND b.reverify_time <![CDATA[<=]]>  unix_timestamp(#{reAuthPassEndTime})+86399
			</if>
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND bi.inst_code = #{instCodeSrch}
			</if>
			<if test="productType != null and productType != ''">
				AND  b.project_type = #{productType}
			</if>
		</where>
	</sql>
	
	<select id="countBorrowInvest" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.BorrowInvestRequest">
		SELECT
			COUNT(1)
		FROM
		    ht_borrow_tender bt
		INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
        INNER JOIN ht_borrow_info bi ON bt.borrow_nid = bi.borrow_nid
		<include refid="Where_Clause" />
	</select>
	
	<select id="selectBorrowInvestAccount" resultType="java.lang.String" parameterType="com.hyjf.am.resquest.admin.BorrowInvestRequest">
		SELECT
			FORMAT(SUM(bt.account), 2) AS account
		FROM
		    ht_borrow_tender bt
		  INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
          INNER JOIN ht_borrow_info bi ON bt.borrow_nid = bi.borrow_nid
		<include refid="Where_Clause" />
	</select>
	
	<resultMap id="selectBorrowInvestListMap" type="com.hyjf.am.trade.dao.model.customize.BorrowInvestCustomize">
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="operating_deck" property="operatingDeck" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="userid" property="userId" jdbcType="VARCHAR" />
		<result column="user_property" property="tenderUserAttribute" jdbcType="VARCHAR" />
		<result column="resendMessage" property="resendMessage" jdbcType="VARCHAR" />
		<result column="investType" property="investType" jdbcType="VARCHAR" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
		<result column="product_type" property="productType"  />
		<result column="reverify_time" property="reAuthPassTime"  />
        <!--合同状态-->
        <result column="contractStatus" property="contractStatus"  />
        <!--合同编号-->
		<result column="contract_number" property="contractNumber"  />
        <!--合同下载地址-->
        <result column="download_url" property="downloadUrl"  />
        <!--合同查看地址-->
        <result column="viewpdf_url" property="viewpdfUrl"  />
        <!--脱敏后合同查看地址-->
        <result column="img_url" property="imgUrl"  />
		<!--是否复投投标-->
		<result column="tender_type" property="tenderType"/>
	</resultMap>
	<select id="selectBorrowInvestList" resultMap="selectBorrowInvestListMap" parameterType="com.hyjf.am.resquest.admin.BorrowInvestRequest">
		SELECT
			bi.`name` AS borrow_name,
			bt.user_name AS username,
			bt.invite_user_name AS referrer_name,
			bt.borrow_nid,
			bt.user_id AS userid,
			bt.nid AS nid,
			CONCAT(b.borrow_apr, '%') borrow_apr,
			CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
			CASE WHEN b.`status` = 4
			THEN 1
			WHEN b.`status` = 5
			THEN 1
			ELSE 0 END  resendMessage,
			bs.`name` AS borrow_style_name,
			FORMAT(bt.account, 2) AS account,
			bt.client AS operating_deck,
			bt.tender_user_attribute AS user_property,
			bt.invest_type AS investType,
			DATE_FORMAT( bt.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
			hic.inst_name,
			b.plan_nid,
			IFNULL(FROM_UNIXTIME( IF(b.reverify_time=0,NULL,b.reverify_time), '%Y-%m-%d %H:%i:%s' ),'') AS reverify_time,
			bpt.borrow_name AS product_type,
			hta.status AS contractStatus,
			hta.contract_number AS contract_number,
			hta.download_url AS download_url,
			hta.viewpdf_url AS viewpdf_url,
			hta.img_url AS img_url,
			CASE WHEN bt.tender_type = 1 THEN '是' ELSE '否' END  AS  tender_type
		FROM
			ht_borrow_tender bt
		INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
		INNER JOIN ht_borrow_info bi ON bt.borrow_nid = bi.borrow_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = bi.inst_code
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = b.project_type
		LEFT JOIN ht_tender_agreement hta ON hta.tender_nid = bt.nid
	    <include refid="Where_Clause" />
		  ORDER BY
		    bt.create_time DESC, bt.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
	<resultMap id="exportBorrowInvestListMap" type="com.hyjf.am.trade.dao.model.customize.BorrowInvestCustomize">
		<!-- 项目编号 -->
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 借款人ID -->
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<!-- 借款人用户名 -->
		<result column="username" property="username" jdbcType="VARCHAR" />
		<!-- 借款标题 -->
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 项目类型 -->
		<result column="borrow_project_type_name" property="borrowProjectTypeName" jdbcType="VARCHAR" />
		<!-- 借款期限 -->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 出借利率 -->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 还款方式 -->
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<!-- 出借订单号 -->
		<result column="tender_order_num" property="tenderOrderNum" jdbcType="VARCHAR" />
		<!-- 冻结订单号 -->
		<result column="freeze_order_num" property="freezeOrderNum" jdbcType="VARCHAR" />
		<!-- 出借人用户名 -->
		<result column="tender_username" property="tenderUsername" jdbcType="VARCHAR" />
		<!-- 出借人ID -->
		<result column="tender_user_id" property="tenderUserId" jdbcType="VARCHAR" />
		<!-- 出借人用户属性（当前） -->
		<result column="tender_user_attribute_now" property="tenderUserAttributeNow" jdbcType="VARCHAR" />
		<!-- 出借人所属一级分部（当前） -->
		<result column="tender_region_name" property="tenderRegionName" jdbcType="VARCHAR" />
		<!-- 出借人所属二级分部（当前） -->
		<result column="tender_branch_name" property="tenderBranchName" jdbcType="VARCHAR" />
		<!-- 出借人所属团队（当前） -->
		<result column="tender_department_name" property="tenderDepartmentName" jdbcType="VARCHAR" />
		<!-- 推荐人（当前） -->
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<!-- 推荐人ID（当前） -->
		<result column="referrer_user_id" property="referrerUserId" jdbcType="VARCHAR" />
		<!-- 推荐人姓名（当前） -->
		<result column="referrer_true_name" property="referrerTrueName" jdbcType="VARCHAR" />
		<!-- 推荐人所属一级分部（当前） -->
		<result column="referrer_region_name" property="referrerRegionName" jdbcType="VARCHAR" />
		<!-- 推荐人所属二级分部（当前） -->
		<result column="referrer_branch_name" property="referrerBranchName" jdbcType="VARCHAR" />
		<!-- 推荐人所属团队（当前） -->
		<result column="referrer_department_name" property="referrerDepartmentName" jdbcType="VARCHAR" />
		<!-- 出借人用户属性（出借时） -->
		<result column="tender_user_attribute" property="tenderUserAttribute" jdbcType="VARCHAR" />
		<!-- 推荐人用户属性（出借时） -->
		<result column="invite_user_attribute" property="inviteUserAttribute" jdbcType="VARCHAR" />
		<!-- 推荐人（出借时） -->
		<result column="tender_referrer_username" property="tenderReferrerUsername" jdbcType="VARCHAR" />
		<!-- 推荐人ID（出借时） -->
		<result column="tender_referrer_user_id" property="tenderReferrerUserId" jdbcType="VARCHAR" />
		<!-- 一级分部（出借时） -->
		<result column="department_level_1_name" property="departmentLevel1Name" jdbcType="VARCHAR" />
		<!-- 二级分部（出借时） -->
		<result column="department_level_2_name" property="departmentLevel2Name" jdbcType="VARCHAR" />
		<!-- 团队（出借时） -->
		<result column="team_name" property="teamName" jdbcType="VARCHAR" />
		<!-- 出借金额 -->
		<result column="account" property="account" jdbcType="VARCHAR" />
		<!-- 操作平台 -->
		<result column="operating_deck" property="operatingDeck" jdbcType="VARCHAR" />
		<!-- 出借时间 -->
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<!-- 出借类型 -->
		<result column="investType" property="investType" jdbcType="VARCHAR" />
		<!-- 计划编号 -->
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<!-- 资产来源-->
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
		<!--合同编号-->
		<result column="contractNumber" property="contractNumber" jdbcType="VARCHAR" />
		<!--合同状态-->
		<result column="contractStatus" property="contractStatus" jdbcType="VARCHAR" />
		<!--合同名称-->
		<result column="contractName" property="contractName" jdbcType="VARCHAR" />
		<!--模板编号-->
		<result column="templetId" property="templetId" jdbcType="VARCHAR" />
		<!--合同生成时间-->
		<result column="contractCreateTime" property="contractCreateTime" jdbcType="VARCHAR" />
		<!--合同签署时间-->
		<result column="contractSignTime" property="contractSignTime" jdbcType="VARCHAR" />
		<!--是否复投投标-->
		<result column="tender_type" property="tenderType" jdbcType="VARCHAR"/>
		<!--当时渠道来源-->
		<result column="utmSource1" property="utmSource1" jdbcType="VARCHAR"/>
		<!--当前渠道来源-->
		<result column="utmSource2" property="utmSource2" jdbcType="VARCHAR"/>
		
	</resultMap>
	<select id="exportBorrowInvestList" resultMap="exportBorrowInvestListMap" parameterType="com.hyjf.am.resquest.admin.BorrowInvestRequest">
		SELECT
			b.borrow_nid AS borrow_nid,
			b.user_id AS user_id,
			b.borrow_user_name AS username,
			bi.`name` AS borrow_name,
			bpt.borrow_name AS borrow_project_type_name,
			CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
			CONCAT(b.borrow_apr, '%') borrow_apr,
			bs.`name` AS borrow_style_name,
			bt.nid AS tender_order_num,
			bt.nid AS freeze_order_num,
			bt.user_name AS tender_username,
			bt.user_id AS tender_user_id,
			u.attribute AS tender_user_attribute_now,
			CASE WHEN u.attribute = '1' THEN `od6`.`name` ELSE `od3`.`name` END `tender_region_name`,
			CASE WHEN u.attribute = '1' THEN `od5`.`name` ELSE `od2`.`name` END `tender_branch_name`,
			CASE WHEN u.attribute = '1' THEN `od4`.`name` ELSE `od`.`name`  END `tender_department_name`,
			'' AS utm_source,
			spu.username AS referrer_name,
			spu.user_id AS referrer_user_id,
			spu.truename AS referrer_true_name,
			`od6`.`name` AS `referrer_region_name`,
			`od5`.`name` AS `referrer_branch_name`,
			`od4`.`name` AS `referrer_department_name`,
			bt.tender_user_attribute,
			bt.invite_user_attribute,
			bt.invite_user_id AS tender_referrer_user_id,
			bt.invite_user_name AS tender_referrer_username,
			bt.invite_region_name AS department_level_1_name,
			bt.invite_branch_name AS department_level_2_name,
			bt.invite_department_name AS team_name,
			bt.account AS account,
			bt.client AS operating_deck,
			DATE_FORMAT( bt.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
			bt.invest_type AS investType,
			b.plan_nid,
			hta.status AS contractStatus,
			hta.contract_number AS contractNumber,
			hta.contract_name AS contractName,
			hta.templet_id AS templetId,
			CASE WHEN hta.contract_create_time IS NOT NULL THEN
			FROM_UNIXTIME(hta.contract_create_time, '%Y-%m-%d %H:%i:%s' )
			ELSE '' END AS contractCreateTime,
			CASE WHEN hta.contract_sign_time IS NOT NULL AND hta.contract_sign_time!=0 THEN
			FROM_UNIXTIME(hta.contract_sign_time, '%Y-%m-%d %H:%i:%s' )
			ELSE '' END AS contractSignTime,
			CASE WHEN bt.tender_type = 1 THEN '是' ELSE '否' END  AS  tender_type,
			if(bt.create_time<![CDATA[<]]>'2019-5-31 0:0:0',utm2.utm_source,utm.utm_source) as utmSource1,
			utm2.utm_source utmSource2
		FROM
			ht_borrow_tender bt
		INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
		INNER JOIN ht_borrow_info bi ON bt.borrow_nid = bi.borrow_nid
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = b.project_type
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN ht_r_user u ON u.user_id = bt.user_id
		LEFT JOIN ht_r_user spu ON spu.user_id = u.spreads_user_id
		LEFT JOIN ht_r_oa_users `ou` ON `ou`.hyd_id = bt.user_id AND ou.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od` ON `od`.`id` = `ou`.`departmentid` AND `od`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od2` ON `od2`.`id` = `od`.`parentid`
		LEFT JOIN ht_r_oa_department `od3` ON `od3`.`id` = `od2`.`parentid`
		LEFT JOIN ht_r_oa_users `ou1` ON `ou1`.hyd_id = spu.user_id AND ou1.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN ht_r_oa_department `od4` ON `od4`.`id` = `ou1`.`departmentid` AND `od4`.id IS NOT NULL
		LEFT JOIN ht_r_oa_department `od5` ON `od5`.`id` = `od4`.`parentid`
		LEFT JOIN ht_r_oa_department `od6` ON `od6`.`id` = `od5`.`parentid`
		LEFT JOIN ht_tender_agreement hta ON hta.tender_nid = bt.nid
		left join hyjf_user.ht_utm utm on utm.utm_id=bt.tender_user_utm_id
		left join hyjf_user.ht_utm_reg reg on bt.user_id=reg.user_id
		left join hyjf_user.ht_utm utm2 on utm2.utm_id=reg.utm_id
	    <include refid="Where_Clause" />
		ORDER BY
		    bt.create_time DESC, bt.id DESC
		<if test="limitStart >= 0" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="sumBorrowInvest" resultType="java.lang.String" parameterType="com.hyjf.am.resquest.admin.BorrowInvestRequest">
		SELECT
			SUM(bt.account) AS account
		FROM
			ht_borrow_tender bt
		INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
	    <include refid="Where_Clause" />
	</select>

	<resultMap id="selectBorrowListMap" type="com.hyjf.am.trade.dao.model.customize.BorrowListCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 项目标题 -->
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="userId" property="userId" />
		<result column="applicant" property="applicant" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="borrow_full_time" property="borrowFullTime" jdbcType="VARCHAR" />
		<result column="reverify_time" property="reverifyTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 -->
		<result column="recover_last_time" property="recoverLastTime" jdbcType="VARCHAR" />
		<!-- 放款完成时间 -->
		<result column="recover_last_day" property="recoverLastDay" jdbcType="VARCHAR" />
		<!-- 已借到金额 -->
		<result column="borrow_account_yes" property="borrowAccountYes" jdbcType="VARCHAR" />
		<!-- 剩余金额 -->
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 借款进度 -->
		<result column="borrow_account_scale" property="borrowAccountScale" jdbcType="VARCHAR" />
		<!-- 借款进度 -->
		<result column="borrow_publisher" property="borrowPublisher" jdbcType="VARCHAR" />
		<!-- 加息率 -->
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
		<!-- 融通宝编号 -->
		<result column="borrow_asset_number" property="borrowAssetNumber" jdbcType="VARCHAR" />
		<!-- 协议期限 -->
		<result column="contract_period" property="contractPeriod" jdbcType="VARCHAR" />
		<!-- 期限类型 -->
		<result column="borrow_period_type" property="borrowPeriodType" jdbcType="VARCHAR" />
		<!-- 项目最小出借金额 万-->
		<result column="tender_account_min_wan" property="tenderAccountMinWan" jdbcType="VARCHAR" />
		<!-- 倍增金额  increaseMoney-->
		<result column="increase_money" property="increaseMoney" jdbcType="VARCHAR" />
		<!-- 复审用户名-->
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<!--  担保机构用户名-->
		<result column="repay_org_name" property="repayOrgUserName" jdbcType="VARCHAR" />
		<!--  计划编号 -->
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<!--  资产来源 -->
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
		<!-- 标签名称 -->
		<result column="labelName" property="labelName" jdbcType="VARCHAR" />
		<!-- 借款方姓名 -->
		<result column="truename" property="truename" jdbcType="VARCHAR" />
		<result column="businame" property="businame" jdbcType="VARCHAR" />
		<result column="usertype" property="userType" jdbcType="VARCHAR" />
		<result column="verify_time" property="verifyTime" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectBorrowList" resultMap="selectBorrowListMap" parameterType="String">
		SELECT
		bi.borrow_increase_money increase_money,
		truncate(bi.tender_account_min/10000,2) tender_account_min_wan,
		bi.contract_period,
		bi.borrow_extra_yield,
		bi.borrow_asset_number,
		bi.borrow_publisher,
		CASE WHEN b.borrow_style = 'endday' THEN '天' ELSE '个月' END AS borrow_period_type,
		b.borrow_nid,
		bi.`name` AS borrow_name,
		bi.project_name,
		bi.applicant,
		b.borrow_user_name AS username,
		b.user_id AS userId,
		FORMAT(b.account, 2) AS account,
		FORMAT(b.borrow_account_yes, 2) AS borrow_account_yes,
		FORMAT(b.borrow_account_wait, 2) AS borrow_account_wait,
		CONCAT(TRUNCATE((b.borrow_account_yes/b.account)*100,2), '%') borrow_account_scale,
		b.borrow_style,
		bs.`name` AS borrow_style_name,
		b.project_type,
		bpt.borrow_name AS project_type_name,
		CASE WHEN borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
		CONCAT(b.borrow_apr, '%') borrow_apr,
		FROM_UNIXTIME( b.reverify_time, '%Y-%m-%d %H:%i:%s' ) AS reverify_time,
		CASE
		WHEN ( b.`status` = 0 )  OR ( b.`status` = 0 AND b.verify_status = 0 )  THEN '初审中'
		WHEN ( b.`status` = 0 AND ( b.verify_status = 1 OR b.verify_status = 3 ))   THEN '待发布'
		WHEN ( b.`status` = 1 AND b.borrow_status = 1 AND b.borrow_account_yes <![CDATA[<]]> b.account AND b.verify_time + ( b.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '出借中'
		WHEN ( b.`status` = 1 AND b.reverify_time = '0' AND ( ( b.reverify_status = 0 AND b.borrow_account_yes <![CDATA[>=]]> b.account ) OR ( b.verify_time + ( b.borrow_valid_time * 24 * 60 *60 ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) ) ) THEN '复审中'
		WHEN ( b.`status` = 3 AND b.repay_full_status = 0 ) THEN '还款中'
		WHEN ( b.`status` = 3 AND b.repay_full_status = 1 ) THEN '已还款'
		WHEN b.`status` = 2 THEN '已流标'
		ELSE
		''
		END AS `status`,
		DATE_FORMAT( b.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
		CASE WHEN b.borrow_full_time IS NOT NULL THEN FROM_UNIXTIME( b.borrow_full_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS borrow_full_time,
		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS recover_last_time,
		CASE WHEN b.recover_last_time <![CDATA[<>]]> 0 AND b.recover_last_time IS NOT NULL THEN FROM_UNIXTIME( b.recover_last_time, '%Y-%m-%d' ) ELSE '' END AS recover_last_day
		FROM ht_borrow b
	  	INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = b.project_type
		where b.borrow_nid = #{borrowNid}
		ORDER BY
		b.create_time DESC, b.id DESC

	</select>
</mapper>