<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowFirstCustomizeMapper">

	<sql id="Where_Clause">
		<where>
		    b.`status` = 1
		    AND (habt.auto_record != 1 OR habt.auto_record IS NULL)
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND b.borrow_nid LIKE CONCAT( #{borrowNidSrch}, '%')
			</if>
			<if test="borrowPeriod != null and borrowPeriod != ''">
				AND b.borrow_period=#{borrowPeriod}
			</if>
			<if test="usernameSrch != null and usernameSrch != ''">
				AND ( u.truename LIKE CONCAT( #{usernameSrch}, '%') OR u.username LIKE CONCAT( #{usernameSrch}, '%') )
			</if>
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND b.create_time <![CDATA[>=]]> STR_TO_DATE(#{timeStartSrch}, '%Y-%m-%d %H:%i:%s')
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND b.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{timeEndSrch}, ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="verifyStatusSrch != null and verifyStatusSrch != ''">
				AND b.verify_status = #{verifyStatusSrch}
			</if>
			<if test="instCodeSrch != null and instCodeSrch != ''">
				AND bi.inst_code = #{instCodeSrch}
			</if>
		</where>
	</sql>

	<select id="countBorrowFirst" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.BorrowFirstRequest">
		SELECT
			COUNT(1)
		FROM
			ht_borrow b
		LEFT JOIN ht_borrow_info bi ON
			b.borrow_nid = bi.borrow_nid
		LEFT JOIN ht_hjh_asset_borrowtype habt ON
			b.project_type = habt.borrow_cd
			AND bi.inst_code = habt.inst_code
			AND bi.asset_type = habt.asset_type
			AND habt.is_open = 1
		LEFT JOIN ht_r_user u ON b.user_id = u.user_id
		<include refid="Where_Clause" />
	</select>

	<resultMap id="selectBorrowFirstListMap" type="com.hyjf.am.trade.dao.model.customize.BorrowFirstCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="ontime" property="ontime" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="is_bail" property="isBail" jdbcType="VARCHAR" />
		<result column="verify_status_name" property="verifyStatusName" jdbcType="VARCHAR" />
		<result column="verify_status" property="verifyStatus" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<!--  资产来源 -->	
		<result column="inst_name" property="instName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectBorrowFirstList" resultMap="selectBorrowFirstListMap" parameterType="com.hyjf.am.resquest.admin.BorrowFirstRequest">
		SELECT
			b.borrow_nid,
			u.username,
			bi.`name` AS borrow_name,
			FORMAT(b.account, 2) AS account,
			CONCAT(b.borrow_apr, '%') borrow_apr,
			CASE
			WHEN borrow_style = 'endday' THEN
			CONCAT(b.borrow_period, '天')
			ELSE
			CONCAT(b.borrow_period, '个月')
			END borrow_period,
			bb.borrow_nid AS is_bail,
			CASE WHEN b.ontime IS NULL OR b.ontime = 0 THEN '' ELSE FROM_UNIXTIME( b.ontime, '%Y-%m-%d %H:%i:%s' ) END ontime,
			DATE_FORMAT(b.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
			b.verify_status,
			b.project_type,
			hic.inst_name
		FROM
			ht_borrow b
		LEFT JOIN ht_borrow_info bi ON b.borrow_nid = bi.borrow_nid
		LEFT JOIN ht_borrow_bail bb ON b.borrow_nid = bb.borrow_nid
		LEFT JOIN ht_r_user u ON b.user_id = u.user_id
		LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = bi.inst_code
		LEFT JOIN ht_hjh_asset_borrowtype habt ON
			b.project_type = habt.borrow_cd
			AND bi.inst_code = habt.inst_code
			AND bi.asset_type = habt.asset_type
			AND habt.is_open = 1
	    <include refid="Where_Clause" />
		ORDER BY
		  b.create_time DESC, b.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	<select id="sumBorrowFirstAccount" resultType="java.lang.String" parameterType="com.hyjf.am.resquest.admin.BorrowFirstRequest">
		SELECT
			FORMAT(SUM(b.account), 2) AS accountSum
		FROM
			ht_borrow b
		LEFT JOIN ht_borrow_info bi ON
			b.borrow_nid = bi.borrow_nid
		LEFT JOIN ht_hjh_asset_borrowtype habt ON
			b.project_type = habt.borrow_cd
			AND bi.inst_code = habt.inst_code
			AND bi.asset_type = habt.asset_type
			AND habt.is_open = 1
		<include refid="Where_Clause" />
	</select>
</mapper>