<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowProjectTypeCustomizeMapper">
    <sql id="Where_Clause">
        <where>
        </where>
    </sql>

    <resultMap id="getProjectTypeListMap" type="com.hyjf.am.vo.trade.borrow.BorrowProjectTypeVO">
        <result column="borrow_project_type" property="borrowProjectType" jdbcType="VARCHAR" />
        <result column="borrow_cd" property="borrowCd" jdbcType="VARCHAR" />
        <result column="method_name" property="methodName" jdbcType="VARCHAR" />
        <result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
        <result column="borrow_class" property="borrowClass" jdbcType="VARCHAR" />
        <result column="invest_start" property="investStart" jdbcType="VARCHAR" />
        <result column="invest_end" property="investEnd" jdbcType="VARCHAR" />
        <result column="increase_money" property="increaseMoney" jdbcType="VARCHAR" />
        <result column="interest_coupon" property="interestCoupon" jdbcType="VARCHAR" />
        <result column="taste_money" property="tasteMoney" jdbcType="VARCHAR" />
        <result column="invest_user_type" property="investUserType" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="repay_name" property="repayName" jdbcType="VARCHAR" />
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
        <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
        <result column="increase_interest_flag" property="increaseInterestFlag" jdbcType="INTEGER" />
    </resultMap>
    <select id="selectProjectTypeCount" resultType="java.lang.Integer" parameterType="com.hyjf.am.vo.trade.borrow.BorrowProjectTypeVO">
        SELECT
        count(z.id)
        FROM
        (select typ.id from ht_borrow_project_type typ
        LEFT JOIN ht_borrow_project_repay pr ON typ.borrow_class = pr.borrow_class
        GROUP BY
        pr.borrow_class	,
        typ.borrow_project_type,
        typ.id,
        typ.borrow_cd,
        typ.borrow_name,
        typ.borrow_class,
        typ.invest_start,
        typ.invest_end,
        typ.increase_money,
        typ.interest_coupon,
        typ.taste_money,
        typ.invest_user_type,
        typ. status,
        typ.remark,
        typ.create_user_id,
        typ.update_user_id
        <include refid="Where_Clause" />
        ORDER BY
        typ.id)z
    </select>

    <select id="selectProjectTypeList" resultMap="getProjectTypeListMap" parameterType="com.hyjf.am.vo.trade.borrow.BorrowProjectTypeVO">
        SELECT
        pn1.name as borrow_project_type,
        typ.borrow_cd,
        typ.borrow_name,
        typ.borrow_class,
        typ.invest_start,
        typ.invest_end,
        typ.increase_money,
        typ.interest_coupon,
        typ.taste_money,
        typ.invest_user_type,
        typ.status,
        typ.remark,
        typ.create_user_id,
        typ.update_user_id,
        GROUP_CONCAT("【", pr.method_name, "】") AS repay_name,
        typ.increase_interest_flag
        FROM
        ht_borrow_project_type typ
        LEFT JOIN hyjf_config.ht_param_name pn1 ON typ.borrow_project_type = pn1.name_cd AND pn1.name_class = 'BORROW_PROJTCT'
        LEFT JOIN ht_borrow_project_repay pr ON typ.borrow_class = pr.borrow_class
        GROUP BY
        pr.borrow_class	,
        typ.borrow_project_type,
        typ.id,
        typ.borrow_cd,
        typ.borrow_name,
        typ.borrow_class,
        typ.invest_start,
        typ.invest_end,
        typ.increase_money,
        typ.interest_coupon,
        typ.taste_money,
        typ.invest_user_type,
        typ. status,
        typ.remark,
        typ.create_user_id,
        typ.update_user_id
        <include refid="Where_Clause" />
        ORDER BY
        typ.id
        <if test="limitStart >= 0" >
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>

    <select id="selectByBorrowCd" resultMap="getProjectTypeListMap" parameterType="com.hyjf.am.vo.trade.borrow.BorrowProjectTypeVO">
        SELECT
        typ.borrow_project_type,
        typ.borrow_cd,
        typ.borrow_name,
        typ.borrow_class,
        typ.invest_start,
        typ.invest_end,
        typ.increase_money,
        typ.interest_coupon,
        typ.taste_money,
        typ.invest_user_type,
        typ.status,
        typ.remark,
        typ.create_user_id,
        typ.update_user_id,
        GROUP_CONCAT("", pr.repay_method, "") AS method_name,
        typ.increase_interest_flag
        FROM
        ht_borrow_project_type typ
        LEFT JOIN ht_borrow_project_repay pr ON typ.borrow_class = pr.borrow_class
        where typ.borrow_cd=#{borrowCd}
    </select>

    <select id="selectProjectTypeListGroupBy" resultMap="getProjectTypeListMap" parameterType="com.hyjf.am.vo.trade.borrow.BorrowProjectTypeVO">
        SELECT
        id,
        borrow_project_type,
        borrow_cd,
        borrow_name,
        borrow_class,
        invest_user_type,
        `status`,
        invest_start,
        invest_end,
        remark,
        create_user_id,
        create_time,
        update_user_id,
        update_time,
        increase_money,
        interest_coupon,
        taste_money,
        increase_interest_flag
        FROM
        ht_borrow_project_type
        where
        `status`=0
        and borrow_name != '融通宝'
        <if test="limitStart >= 0" >
            and borrowProjectType = 'HZT'
        </if>

        GROUP BY
        borrow_class

        ORDER BY id asc;
    </select>
</mapper>