<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowAuthCustomizeMapper">
	<sql id="Where_Clause">
		<where>
			<if test="user_id != null and user_id != ''">
				hydb.user_id = #{user_id,jdbcType=INTEGER}
			</if>
			<if test="borrowNid != null and borrowNid != ''">
				AND hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''">
				AND hydb.status = #{status,jdbcType=INTEGER}
			</if>
			<if test="entrusted_flg != null and entrusted_flg != ''">
				AND hbi.entrusted_flg = #{entrusted_flg,jdbcType=INTEGER}
			</if>
			<if test="startDate != null and startDate != ''">
				AND hydb.create_time  between #{startDate,jdbcType=INTEGER} and #{endDate,jdbcType=INTEGER}
			</if>
		</where>
	</sql>

	<sql id="Where_Clause_authed">
		<where>
			<if test="user_id != null and user_id != ''">
				hydb.user_id = #{user_id,jdbcType=INTEGER}
			</if>
			<if test="borrowNid != null and borrowNid != ''">
				AND hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
			</if>
			<if test="entrusted_flg != null and entrusted_flg != ''">
				AND hbi.entrusted_flg = #{entrusted_flg,jdbcType=INTEGER}
			</if>
			<if test="startDate != null and startDate != ''">
				AND hbi.trustee_pay_time  between #{startDate,jdbcType=INTEGER} and #{endDate,jdbcType=INTEGER}
			</if>
			AND hydb.status between 1 and 6
		</where>
	</sql>

	<resultMap id="borrowListMap" type="com.hyjf.am.vo.trade.repay.BorrowAuthCustomizeVO">
		<id column="borrow_nid" property="borrow_nid" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrow_name" jdbcType="VARCHAR" />
		<!-- 还款方式（月、日） -->
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<!-- 借款利率 -->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 借款期限 -->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 借款金额 -->
		<result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
		<!-- 标的添加时间 -->
		<result column="add_time" property="time" jdbcType="VARCHAR" />
		<!-- 应还总额 -->
		<result column="repay_account_all" property="repayAccountAll" jdbcType="VARCHAR" />
		<!-- 受托支付用户名 -->
		<result column="entrusted_user_name" property="entrustedUserName" jdbcType="VARCHAR" />
		<!-- 受托支付真实姓名 -->
		<result column="entrusted_rel_name" property="entrustedRelName" jdbcType="VARCHAR" />
		<!-- 受托支付完成时间 -->
		<result column="trustee_pay_time" property="trusteePayTime" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 查询待授权标的标的列表 -->
	<select id="searchBorrowNeedAuthList" resultMap="borrowListMap" parameterType="Map">
		SELECT
		hydb.borrow_nid,
		hbi.`name` AS borrow_name,
		hydbs.`name` AS borrow_style,
		hydb.borrow_apr,
		CASE WHEN hydb.borrow_style = 'endday' THEN CONCAT(hydb.borrow_period, '天') ELSE CONCAT(hydb.borrow_period, '个月') END borrow_period,
		hydb.account AS borrow_account,
		date_format(hydb.create_time, '%Y-%m-%d %H:%i:%s') AS add_time,
		hydb.repay_account_all AS repay_account_all,
		hbi.entrusted_user_name AS entrusted_user_name,
		CASE
		WHEN hbi.trustee_pay_time != 0
		THEN FROM_UNIXTIME( hbi.trustee_pay_time, '%Y-%m-%d %H:%i:%s' )
		ELSE ''
		END AS trustee_pay_time,
		hydbu.truename AS entrusted_rel_name
		FROM
		ht_borrow hydb
		left join ht_borrow_info hbi on hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		LEFT JOIN ht_r_user hydbu ON hbi.entrusted_user_id = hydbu.user_id
		<include refid="Where_Clause" />
		ORDER BY
		hydb.id asc
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<!-- 查询待授权标的数量 -->
	<select id="countBorrowNeedAuthRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(hydb.borrow_nid) AS total
		FROM
		ht_borrow hydb
		left join ht_borrow_info hbi on hydb.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		<include refid="Where_Clause" />
	</select>

	<!-- 查询已授权标的列表 -->
	<select id="searchBorrowAuthedList" resultMap="borrowListMap" parameterType="Map">
		SELECT
		hydb.borrow_nid,
		hbi.`name` AS borrow_name,
		hydbs.`name` AS borrow_style,
		hydb.borrow_apr,
		CASE WHEN hydb.borrow_style = 'endday' THEN CONCAT(hydb.borrow_period, '天') ELSE CONCAT(hydb.borrow_period, '个月') END borrow_period,
		hydb.account AS borrow_account,
		date_format(hydb.create_time, '%Y-%m-%d %H:%i:%s') AS add_time,
		hydb.repay_account_all AS repay_account_all,
		hbi.entrusted_user_name AS entrusted_user_name,
		CASE
		WHEN hbi.trustee_pay_time != 0
		THEN FROM_UNIXTIME( hbi.trustee_pay_time, '%Y-%m-%d %H:%i:%s' )
		ELSE ''
		END AS trustee_pay_time,
		hydbu.truename AS entrusted_rel_name
		FROM
		ht_borrow hydb
		left join ht_borrow_info hbi on hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		LEFT JOIN ht_r_user hydbu ON hbi.entrusted_user_id = hydbu.user_id
		<include refid="Where_Clause_authed" />
		ORDER BY
		hbi.trustee_pay_time desc
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<!-- 查询已授权标的数量 -->
	<select id="countBorrowAuthedRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(hydb.borrow_nid) AS total
		FROM
		ht_borrow hydb
		left join ht_borrow_info hbi on hydb.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		<include refid="Where_Clause_authed" />
	</select>
</mapper>