<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowCreditTenderCustomizeMapper">


	<!-- 管理后台   汇转让   还款计划  已承接债转  数目 -->
	<select id="countBorrowCreditRepay" resultType="java.lang.Integer" >
		SELECT
		COUNT(hct.assign_nid) AS total
		FROM ht_credit_tender hct
		<include refid="WHERE_COLUMN"/>
	</select>


	<select id="searchBorrowCreditRepay" resultType="com.hyjf.am.trade.dao.model.customize.AdminBorrowCreditTenderCustomize">
		select
		hct.user_name AS userName,
		hct.credit_user_name AS creditUserName,
		CASE
        when bw.`status`=8 then 2
		else hct.status end AS status,
		hct.bid_nid AS bidNid,
		hct.credit_nid AS creditNid,
		hct.credit_tender_nid AS creditTenderNid,
		hct.assign_nid AS assignNid,
		hct.assign_capital AS assignCapital,
		hct.assign_account AS assignAccount,
		hct.assign_interest AS assignInterest,
		hct.assign_price AS assignPrice,
		hct.assign_pay AS assignPay,
		hct.assign_repay_account AS assignRepayAccount,
		(select sum(manage_fee) from ht_credit_repay where assign_nid= hct.assign_nid) AS creditFee,
		CASE
		WHEN hct.assign_repay_end_time != 0 THEN
		FROM_UNIXTIME(hct.assign_repay_end_time, '%Y-%m-%d')
		ELSE
		''
		END AS assignRepayEndTime,
		CASE
		WHEN hct.assign_repay_next_time != 0 THEN
		FROM_UNIXTIME(hct.assign_repay_next_time, '%Y-%m-%d')
		ELSE
		''
		END AS assignRepayNextTime,
		DATE_FORMAT(hct.create_time,'%Y-%c-%d %h:%i:%s') AS addTime
		FROM ht_credit_tender hct
		left join ht_borrow  bw on bw.borrow_nid=hct.bid_nid
		<include refid="WHERE_COLUMN"/>
		ORDER BY
		hct.create_time DESC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<select id="sumBorrowCreditRepay" resultType="com.hyjf.am.vo.admin.BorrowCreditRepaySumVO">
		select
		    SUM(hct.assign_capital) AS sumAssignCapital,
		    SUM(hct.assign_account) AS sumAssignAccount,
		    SUM(hct.assign_interest) AS sumAssignInterest,
		    SUM(hct.assign_price) AS sumAssignPrice,
		    SUM(hct.assign_pay) AS sumAssignPay,
		    SUM(hct.assign_repay_account) AS sumAssignRepayAccount,
		    SUM((select sum(manage_fee) from ht_credit_repay where assign_nid= hct.assign_nid)) AS sumCreditFee
	    FROM ht_credit_tender hct
		<include refid="WHERE_COLUMN"/>
	</select>

	<sql id="WHERE_COLUMN">
		<where>
			<if test="userName != null and userName != ''">
				AND hct.user_name = #{userName}
			</if>
			<if test="creditUserName != null and creditUserName != ''">
				AND hct.credit_user_name  = #{creditUserName}
			</if>
			<if test="creditNid != null and creditNid != ''">
				AND hct.credit_nid = #{creditNid}
			</if>
			<if test="bidNid != null and bidNid!= ''">
				AND hct.bid_nid = #{bidNid}
			</if>
			<if test="assignNid != null and assignNid != ''">
				AND hct.assign_nid = #{assignNid}
			</if>
			<if test="status != null and status != ''">
				AND hct.status = #{status}
			</if>
			<if test="assignRepayNextTimeStart != null and assignRepayNextTimeStart != ''">
				<!-- 优化sql(字段类型转换) int-->
				AND hct.assign_repay_next_time &gt;= UNIX_TIMESTAMP(#{assignRepayNextTimeStart})
			</if>
			<if test="assignRepayNextTimeEnd != null and assignRepayNextTimeEnd != ''">
				<!-- 优化sql(字段类型转换) int-->
				AND hct.assign_repay_next_time &lt;= UNIX_TIMESTAMP(CONCAT(#{assignRepayNextTimeEnd},' 23:59:59'))
			</if>
			<if test="addTimeStart != null and addTimeStart != ''">
				<!-- 优化sql(字段类型转换) timestamp-->
				AND hct.create_time >= STR_TO_DATE(#{addTimeStart},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="addTimeEnd != null and addTimeEnd != ''">
				<!-- 优化sql(字段类型转换) timestamp-->
				AND hct.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{addTimeEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
	</sql>

	 <!-- *******************************************还款明细*************************************************************    -->

	<select id="getCreditRepayInfoList" resultType="com.hyjf.am.vo.trade.borrow.BorrowCreditRepayInfoVO">
		SELECT
			hbi.borrow_nid as borrowNid,
			hbi.name as borrowName,
			hb.borrow_style as borrowStyle,
			cr.recover_period as recoverPeriod,
	  		cr.assign_capital as assignCapital,
			cr.assign_interest as assignInterest,
			cr.assign_account as assignAccount,
			cr.manage_fee as manageFee,
			cr.status,
		    CASE WHEN  cr.assign_repay_next_time > 0 THEN FROM_UNIXTIME( cr.assign_repay_next_time, '%Y-%m-%d' )
		    ELSE '' END as assignRepayNextTime
		FROM ht_credit_repay cr
		LEFT JOIN ht_borrow_info  hbi on hbi.borrow_nid = cr.bid_nid
		LEFT JOIN ht_borrow hb on hb.borrow_nid = cr.bid_nid
		WHERE assign_nid = #{assignNid}
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<select id="sumCreditRepayInfo" resultType="Map">
		select
		  SUM(cr.assign_capital) AS sumAssignCapital,
		  SUM(cr.assign_interest) AS sumAssignInterest,
		  SUM(cr.assign_account) AS sumAssignAccount,
		  SUM(cr.manage_fee) AS sumManageFee
   		 from ht_credit_repay cr
		LEFT JOIN ht_borrow_info  hbi on hbi.borrow_nid = cr.bid_nid
		LEFT JOIN ht_borrow hb on hb.borrow_nid = cr.bid_nid
		WHERE assign_nid = #{assignNid}
		<!--<if test="limitStart != null and limitEnd !=null" >-->
			<!-- LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}-->
		<!--</if>-->
	</select>

	<!-- **********************************        承接列表       *********************************************************-->
	<select id="countBorrowCreditTender" resultType="int">
		SELECT
		  COUNT(1)
		FROM
		  ht_credit_tender ct
        INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid AND bc.credit_nid = ct.credit_nid
        <include refid="TENDER_WHERE_COLUMN"/>
	</select>

	<select id="searchBorrowCreditTender" resultType="com.hyjf.am.vo.admin.BorrowCreditTenderVO">
		SELECT
		ct.assign_nid              AS assignNid,
		ct.client             	 AS client,
		ct.credit_nid              AS creditNid,
		ct.bid_nid                 AS bidNid,
		ct.credit_user_name      AS creditUserName,
		CASE WHEN credit_users.attribute = 0 THEN '无主单' WHEN credit_users.attribute = 1 THEN '有主单'  WHEN credit_users.attribute = 2 THEN '线下员工'  WHEN credit_users.attribute = 3 THEN '线上员工'ELSE '' END recommendAttrCreditSelf,
		`od3_credit`.`name` AS `regionNameCreditSelf`,
		`od2_credit`.`name` AS `branchNameCreditSelf`,
		`od_credit`.`name` AS `departmentNameCreditSelf`,


		ct.user_name                 AS userName,
		CASE WHEN pna_u.attribute = 0 THEN '无主单' WHEN pna_u.attribute = 1 THEN '有主单'  WHEN pna_u.attribute = 2 THEN '线下员工'  WHEN pna_u.attribute = 3 THEN '线上员工'ELSE '' END recommendAttrSelf,
		`od3_u`.`name` AS `regionNameSelf`,
		`od2_u`.`name` AS `branchNameSelf`,
		`od_u`.`name` AS `departmentNameSelf`,
		FORMAT(ct.assign_capital, 2)          AS assignCapital,
		FORMAT(bc.credit_discount, 2)         AS creditDiscount,
		FORMAT(ct.assign_capital, 2)          AS assignCapitalPrice,
		FORMAT(ct.assign_price, 2)            AS assignPrice,
		FORMAT(ct.assign_interest_advance, 2) AS assignInterestAdvance,
		FORMAT(ct.credit_fee, 2)              AS creditFee,
		FORMAT(ct.assign_pay, 2)              AS assignPay,
		DATE_FORMAT(ct.create_time, '%Y-%m-%d %H:%i:%s')  AS addTime,
		u_re.username AS recommendName,
		CASE WHEN u_re.attribute = 0 THEN '无主单' WHEN u_re.attribute = 1 THEN '有主单'  WHEN u_re.attribute = 2 THEN '线下员工'  WHEN u_re.attribute = 3 THEN '线上员工'ELSE '' END recommendAttr,
		`od3_re`.`name` AS `regionName`,
		`od2_re`.`name` AS `branchName`,
		`od_re`.`name` AS `departmentName`,

		u_credit_re.username AS recommendNameCredit,
		CASE WHEN u_credit_re.attribute = 0 THEN '无主单' WHEN u_credit_re.attribute = 1 THEN '有主单'  WHEN u_credit_re.attribute = 2 THEN '线下员工'  WHEN u_credit_re.attribute = 3 THEN '线上员工'ELSE '' END recommendAttrCredit,
		`od3_credit_re`.`name` AS `regionNameCredit`,
		`od2_credit_re`.`name` AS `branchNameCredit`,
		`od_credit_re`.`name` AS `departmentNameCredit`,

		ct.invite_user_name AS inviteUserName,
		CASE WHEN ct.invite_user_attribute = 0 THEN '无主单' WHEN ct.invite_user_attribute = 1 THEN '有主单'  WHEN ct.invite_user_attribute = 2 THEN '线下员工'  WHEN ct.invite_user_attribute = 3 THEN '线上员工'ELSE '' END inviteUserAttribute,
		ct.invite_user_regionname AS inviteUserRegionname,
		ct.invite_user_branchname AS inviteUserBranchname,
		ct.invite_user_departmentname AS inviteUserDepartmentname,

		ct.invite_user_credit_name AS inviteUserCreditName,
		CASE WHEN ct.invite_user_credit_attribute = 0 THEN '无主单' WHEN ct.invite_user_credit_attribute = 1 THEN '有主单'  WHEN ct.invite_user_credit_attribute = 2 THEN '线下员工'  WHEN ct.invite_user_credit_attribute = 3 THEN '线上员工'ELSE '' END inviteUserCreditAttribute,
		ct.invite_user_credit_regionname AS inviteUserCreditRegionname,
		ct.invite_user_credit_branchname AS inviteUserCreditBranchname,
		ct.invite_user_credit_departmentname AS inviteUserCreditDepartmentname,

		hta.status AS contractStatus,
		hta.contract_number AS contractNumber,
		ct.user_id as userId,
		ct.credit_tender_nid as creditTenderNid,
		hta.download_url AS downloadUrl,
		hta.viewpdf_url AS viewUrl,
		hta.img_url AS imgUrl,
		bce.`state`,
		CASE bce.`state`
		WHEN 'A' THEN
		'初始'
		WHEN 'S' THEN
		'成功'
		WHEN 'F' THEN
		'失败'
		ELSE
		'未开始'
		END stateDesc

		FROM
		ht_credit_tender ct
		INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid AND bc.credit_nid = ct.credit_nid
		LEFT JOIN ht_bank_credit_end bce ON bce.org_order_id = ct.assign_nid
		LEFT JOIN ht_r_user pna_u ON pna_u.user_id = ct.user_id
		-- LEFT JOIN huiyingdai_users_info hui ON u.user_id = hui.user_id
		-- LEFT JOIN hyjf_param_name pna_u ON cast(hui.attribute AS CHAR) = pna_u.name_cd AND pna_u.name_class = 'USER_PROPERTY'
		LEFT JOIN `ht_r_oa_users` `ou_u` ON `ou_u`.hyd_id = pna_u.user_id AND ou_u.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN `ht_r_oa_department` `od_u` ON `od_u`.`id` = `ou_u`.`departmentid` AND `od_u`.id IS NOT NULL
		LEFT JOIN `ht_r_oa_department` `od2_u` ON `od2_u`.`id` = `od_u`.`parentid`
		LEFT JOIN `ht_r_oa_department` `od3_u` ON `od3_u`.`id` = `od2_u`.`parentid`

		-- LEFT JOIN huiyingdai_spreads_users hydsu ON u.user_id = hydsu.user_id
		LEFT JOIN ht_r_user u_re ON u_re.user_id = pna_u.spreads_user_id
		-- LEFT JOIN huiyingdai_users_info hui_re ON hui_re.user_id = hydsu.spreads_userid
		-- LEFT JOIN hyjf_param_name pna_re ON cast(hui_re.attribute AS CHAR) = pna_re.name_cd AND pna_re.name_class = 'USER_PROPERTY'
		LEFT JOIN `ht_r_oa_users` `ou_re` ON `ou_re`.hyd_id = u_re.user_id AND ou_re.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN `ht_r_oa_department` `od_re` ON `od_re`.`id` = `ou_re`.`departmentid` AND `od_re`.id IS NOT NULL
		LEFT JOIN `ht_r_oa_department` `od2_re` ON `od2_re`.`id` = `od_re`.`parentid`
		LEFT JOIN `ht_r_oa_department` `od3_re` ON `od3_re`.`id` = `od2_re`.`parentid`


		LEFT JOIN ht_r_user credit_users ON credit_users.user_id = ct.credit_user_id
		-- LEFT JOIN huiyingdai_users_info hui_credit ON hui_credit.user_id = credit_users.user_id
		-- LEFT JOIN hyjf_param_name pna_credit ON cast(hui_credit.attribute AS CHAR) = pna_credit.name_cd AND pna_credit.name_class = 'USER_PROPERTY'
		LEFT JOIN `ht_r_oa_users` `ou_credit` ON `ou_credit`.hyd_id = pna_u.user_id AND ou_credit.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN `ht_r_oa_department` `od_credit` ON `od_credit`.`id` = `ou_credit`.`departmentid` AND `od_credit`.id IS NOT NULL
		LEFT JOIN `ht_r_oa_department` `od2_credit` ON `od2_credit`.`id` = `od_credit`.`parentid`
		LEFT JOIN `ht_r_oa_department` `od3_credit` ON `od3_credit`.`id` = `od2_credit`.`parentid`


		-- LEFT JOIN huiyingdai_spreads_users hydsu_credit ON credit_users.user_id = hydsu_credit.user_id
		LEFT JOIN ht_r_user u_credit_re ON u_credit_re.user_id = credit_users.spreads_user_id
		-- LEFT JOIN huiyingdai_users_info ui_credit_re ON ui_credit_re.user_id = hydsu_credit.spreads_userid
		-- LEFT JOIN hyjf_param_name pna_credit_re ON cast(ui_credit_re.attribute AS CHAR) = pna_credit_re.name_cd AND pna_credit_re.name_class = 'USER_PROPERTY'
		LEFT JOIN `ht_r_oa_users` `ou_credit_re` ON `ou_credit_re`.hyd_id = u_credit_re.user_id AND ou_credit_re.user_status IN ('E','Q1','Q11','Q2','Q21')
		LEFT JOIN `ht_r_oa_department` `od_credit_re` ON `od_credit_re`.`id` = `ou_credit_re`.`departmentid` AND `od_credit_re`.id IS NOT NULL
		LEFT JOIN `ht_r_oa_department` `od2_credit_re` ON `od2_credit_re`.`id` = `od_credit_re`.`parentid`
		LEFT JOIN `ht_r_oa_department` `od3_credit_re` ON `od3_credit_re`.`id` = `od2_credit_re`.`parentid`

		-- LEFT JOIN hyjf_param_name pna_re_tender ON cast(ct.invite_user_attribute AS CHAR) = pna_re_tender.name_cd AND pna_re_tender.name_class = 'USER_PROPERTY'
		-- LEFT JOIN hyjf_param_name pna_re_credit_tender ON cast(ct.invite_user_credit_attribute AS CHAR) = pna_re_credit_tender.name_cd AND pna_re_credit_tender.name_class = 'USER_PROPERTY'


		LEFT JOIN ht_tender_agreement hta ON hta.tender_nid = ct.assign_nid
		<include refid="TENDER_WHERE_COLUMN"/>
		ORDER BY
		bc.create_time DESC
		<if test="limitStart != null  and limitEnd != null" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>

	</select>

	<select id="sumCreditTender" resultType="Map">
		SELECT
		  SUM(ct.assign_capital)          AS sumAssignCapital,
		  SUM(ct.assign_capital)          AS sumAssignCapitalPrice,
		  SUM(ct.assign_price)            AS sumAssignPrice,
		  SUM(ct.assign_interest_advance) AS sumAssignInterestAdvance,
		  SUM(ct.credit_fee)              AS sumCreditFee,
		  SUM(ct.assign_pay)              AS sumAssignPay
		FROM
		  ht_credit_tender ct
        INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid AND bc.credit_nid = ct.credit_nid
		<include refid="TENDER_WHERE_COLUMN"/>
	</select>


	<sql id="TENDER_WHERE_COLUMN">
		<where>
			<!-- 项目编号 -->
			<if test="bidNid != null and bidNid != ''">
				AND bc.bid_nid LIKE CONCAT( #{bidNid}, '%')
			</if>
			<!-- 债转编号 -->
			<if test="creditNid != null and creditNid != ''">
				AND bc.credit_nid LIKE CONCAT( #{creditNid}, '%')
			</if>
			<!-- 用户名 -->
			<if test="userName != null and userName != ''">
				AND ct.user_name LIKE CONCAT( #{userName}, '%')
			</if>
			<!-- 承接人-->
			<if test="creditUserName != null and creditUserName != ''">
				AND ct.credit_user_name LIKE CONCAT( #{creditUserName}, '%')
			</if>
			<!-- 订单号-->
			<if test="assignNid != null and assignNid != ''">
				AND ct.assign_nid LIKE CONCAT( #{assignNid}, '%')
			</if>
			<!-- 客户端-->
			<if test="client != null and client != ''">
				AND ct.client=#{client}
			</if>
			<if test="stateSrch != null and stateSrch != '' and stateSrch != 'W'">
				AND bce.state = #{stateSrch}
			</if>
			<!-- 查询未开始 -->
			<if test="stateSrch != null and stateSrch != '' and stateSrch == 'W'">
				AND bce.id is null
			</if>
			<!-- 时间 -->
			<if test="addTimeStart != null and addTimeStart != ''">
				<!-- 优化sql(字段类型转换) timestamp-->
				AND ct.create_time >= STR_TO_DATE(#{addTimeStart},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="addTimeEnd != null and addTimeEnd != ''">
				<!-- 优化sql(字段类型转换) timestamp-->
				AND ct.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{addTimeEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
	</sql>

	<select id="getHzrTenderPrice" resultType="DECIMAL" parameterType="map">
		select sum(hbt.account) from ht_credit_tender hct
		<where>
			<if test="list != null">
				and hct.user_id in
				<foreach collection="list" item="item" index="index" open="("  separator="," close=")" >
					#{item}
				</foreach>
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND hct.create_time <![CDATA[>=]]> #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND hct.create_time <![CDATA[<=]]> #{dayEnd}
			</if>
		</where>
	</select>


	<select id="getCreditListCount" resultType="int">
		SELECT
		count(hct.assign_id)
		FROM
		ht_credit_tender hct
		<where>
			<if test="creditNid != null and creditNid != ''">
				AND hct.credit_nid = #{creditNid}
			</if>
		</where>
	</select>

	<select id="getCreditTenderList" resultType="com.hyjf.am.vo.trade.CreditTenderListCustomizeVO">
		SELECT
		hct.assign_id AS id,
		CONCAT(
		substring(hu.truename, 1, 1),
		'**'
		) AS userName,
		-- CASE WHEN hui.vip_id IS NOT NULL THEN 1 ELSE 0 END AS is_vip,
		SUBSTRING(FORMAT(hct.assign_capital,4),1,LENGTH(FORMAT(hct.assign_capital,4))-2) AS assignCapital,
		date_format(hct.create_time, '%Y-%m-%d %H:%i:%s') AS assignTime,
		hct.client AS client
		FROM
		ht_credit_tender hct
		LEFT JOIN ht_r_user hu ON hu.user_id = hct.user_id

		<where>
			<if test="creditNid != null and creditNid != ''">
				AND hct.credit_nid = #{creditNid}
			</if>
		</where>
		ORDER BY
		hct.create_time DESC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>


	<select id="getServiceFee" resultType="String">
		SELECT SUM(credit_fee) AS creditFee
			FROM ht_credit_tender
		  WHERE credit_nid = #{creditNid}
	</select>



	<!-- 获取用户转让记录详情 -->
	<select id="getCreditTenderAssignPay" resultType="String" parameterType="java.util.Map">
		SELECT
		CASE WHEN hbc.credit_capital_assigned = 0 THEN 0.00
		ELSE
		(select  sum(hct.assign_pay)-sum(hct.credit_fee) from ht_credit_tender hct
		where 1=1
		<!-- 债转编号-->
		<if test="creditNid != null and creditNid !=''">
			AND hct.credit_nid = #{creditNid}
		</if>
		)
		END AS assignPay

		FROM
		ht_borrow_credit hbc
		<where>
			<if test="userId != null and userId != ''">
				AND hbc.credit_user_id = #{userId}
			</if>
			<!-- 债转编号-->
			<if test="creditNid != null and creditNid !=''">
				AND hbc.credit_nid = #{creditNid}
			</if>
		</where>
	</select>
</mapper>