<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowRepayAgreementCustomizeMapper">

    <sql id="Where_Clause">
        <where>
            <!-- 还款状态-->
            <if test="repayStatus != null and repayStatus != ''">
                AND rp.repay_status = #{repayStatus}
            </if>
            <!-- 出借nid -->
            <if test="borrowNidSrch != null and borrowNidSrch != ''">
                AND rp.borrow_nid = #{borrowNidSrch}
            </if>
            <!-- 最后还款日 -->
            <if test="timeStartSrch != null and timeStartSrch != ''">
                AND rp.repay_time <![CDATA[>=]]>
                unix_timestamp(#{timeStartSrch})
            </if>
            <if test="timeEndSrch != null and timeEndSrch != ''">
                AND rp.repay_time <![CDATA[<=]]>
                unix_timestamp(#{timeEndSrch})+86399
            </if>
        </where>
    </sql>

    <select id="countBorrowRepayPlan" resultType="java.lang.Integer"
            parameterType="com.hyjf.am.resquest.admin.BorrowRepayAgreementAmRequest">
        SELECT
        COUNT(1)
        FROM
        ht_borrow_repay_plan AS rp
        INNER JOIN ht_borrow AS b ON rp.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = rp.borrow_nid AND rp.repay_period = hba.period_now
        <include refid="Where_Clause" />
        AND rp.repay_money_source=2
        AND hba.api_type = 1
        AND cast(hba.`status` AS CHAR) = '6'
    </select>

    <select id="countBorrowRepay" resultType="java.lang.Integer"
            parameterType="com.hyjf.am.resquest.admin.BorrowRepayAgreementAmRequest">
        SELECT
        COUNT(1)
        FROM
        ht_borrow_repay AS rp
        INNER JOIN ht_borrow AS b ON rp.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = rp.borrow_nid AND rp.repay_period = hba.period_now
        <include refid="Where_Clause" />
        AND rp.repay_money_source=2
        AND hba.api_type = 1
        AND cast(hba.`status` AS CHAR) = '6'
    </select>

    <resultMap id="searchBorrowRepayAgreementListResultMap"
               type="com.hyjf.am.vo.admin.BorrowRepayAgreementCustomizeVO">
        <result column="repayUserId" property="repayUserId" jdbcType="VARCHAR" />
        <result column="repayUsername" property="repayUsername" jdbcType="VARCHAR" />
        <result column="borrowNid" property="borrowNid" jdbcType="VARCHAR" />
        <result column="borrowProjectSource" property="borrowProjectSource" jdbcType="VARCHAR" />
        <result column="nid" property="nid" jdbcType="VARCHAR" />
        <result column="repayPeriod" property="repayPeriod" jdbcType="VARCHAR" />
        <result column="repayCapital" property="repayCapital" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="isMonth" property="isMonth" jdbcType="TINYINT" />
        <result column="repayYseTime" property="repayYseTime"
                jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectBorrowRepayPlan" resultMap="searchBorrowRepayAgreementListResultMap"
            parameterType="com.hyjf.am.resquest.admin.BorrowRepayAgreementAmRequest">
        SELECT
        rp.repay_user_id AS repayUserId,
        rp.repay_username AS repayUsername,
        rp.borrow_nid AS borrowNid,
        hic.inst_name AS borrowProjectSource,
        b.plan_nid AS nid,
        1 AS isMonth,
        rp.repay_period AS repayPeriod,
        rp.repay_account_all AS repayCapital,
        b.user_id AS userId,
        b.borrow_user_name AS userName,
        if(rp.repay_time='' OR rp.repay_time='0' OR rp.repay_time='null',
        '',FROM_UNIXTIME(rp.repay_time, '%Y-%m-%d' )) AS repayYseTime
        FROM
        ht_borrow_repay_plan AS rp
        INNER JOIN ht_borrow AS b ON rp.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_info binfo ON binfo.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = rp.borrow_nid AND rp.repay_period = hba.period_now
        LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
        <include refid="Where_Clause" />
        AND rp.repay_money_source=2
        AND hba.api_type = 1
        AND cast(hba.`status` AS CHAR) = '6'
        ORDER BY
        rp.repay_time ASC,b.id ASC
        LIMIT 0 , 36
    </select>

    <select id="selectBorrowRepay" resultMap="searchBorrowRepayAgreementListResultMap"
            parameterType="com.hyjf.am.resquest.admin.BorrowRepayAgreementAmRequest">
        SELECT
        rp.repay_user_id AS repayUserId,
        rp.repay_username AS repayUsername,
        rp.borrow_nid AS borrowNid,
        hic.inst_name AS borrowProjectSource,
        b.plan_nid AS nid,
        1 AS isMonth,
        rp.repay_period AS repayPeriod,
        rp.repay_account_all AS repayCapital,
        b.user_id AS userId,
        b.borrow_user_name AS userName,
        if(rp.repay_time='' OR rp.repay_time='0' OR rp.repay_time='null',
        '',FROM_UNIXTIME(rp.repay_time, '%Y-%m-%d' )) AS repayYseTime
        FROM
        ht_borrow_repay AS rp
        INNER JOIN ht_borrow AS b ON rp.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_info binfo ON binfo.borrow_nid = b.borrow_nid
        LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = rp.borrow_nid AND rp.repay_period = hba.period_now
        LEFT JOIN ht_hjh_inst_config hic ON hic.inst_code = binfo.inst_code
        <include refid="Where_Clause" />
        AND rp.repay_money_source=2
        AND hba.api_type = 1
        AND cast(hba.`status` AS CHAR) = '6'
        ORDER BY
        rp.repay_time ASC,b.id ASC
        LIMIT 0 , 36
    </select>
</mapper>