<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowCreditCustomizeMapper">

    <select id="getBorrowCreditDetail" resultType="com.hyjf.am.vo.trade.borrow.BorrowCreditDetailVO" parameterType="map">
        SELECT	hb.project_type type,
        hbi.company_or_personal AS comOrPer,
        hb.borrow_nid AS borrowNid,
        hb.borrow_apr AS borrowApr,
        hb.borrow_style AS borrowStyle,
        hbc.credit_nid AS creditNid,
        hbc.tender_nid AS tenderNid,
        hbc.credit_capital AS creditCapital,
        (
        hbc.credit_capital - hbc.credit_capital_assigned
        ) AS creditAssignCapital,
        hbc.credit_discount AS creditDiscount,
        hbc.credit_term AS creditTerm,
        hbc.credit_term_hold AS creditTermHold,
        CASE
        WHEN hb.borrow_style = 'endday' THEN
        CONCAT(hb.borrow_period, '天')
        ELSE
        CONCAT(hb.borrow_period, '个月')
        END borrowPeriod,
        hbc.credit_price AS creditPrice,
        FROM_UNIXTIME(
        hbc.create_time,
        '%Y-%m-%d %H:%i:%s'
        ) AS creditTime,
        hbc.create_time AS creditTimeInt,
        hu.truename AS creditUserTrueName,
        hbc.credit_user_id AS creditUserId,
        hbc.credit_repay_end_time AS creditRepayEndTime,
        CASE
        WHEN hb.`status` = 0
        AND hb.verify_status = 1 THEN
        '10'
        WHEN hb.`status` = 1
        AND hb.borrow_status = 1
        AND hb.borrow_account_yes <![CDATA[<]]> hb.account
        AND (
        hb.verify_time + (
        hb.borrow_valid_time * 24 * 60 * 60
        ) > UNIX_TIMESTAMP(NOW())
        ) THEN
        '11'
        WHEN hb.`status` = 1
        AND hb.reverify_time = '0'
        AND (
        (
        hb.reverify_status = 0
        AND hb.borrow_account_yes >= hb.account
        )
        OR (
        hb.verify_time + (
        hb.borrow_valid_time * 24 * 60 * 60
        ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW())
        )
        ) THEN
        '12'
        WHEN hb.`status` = 3
        AND hb.repay_full_status = 0 THEN
        '13'
        WHEN hb.`status` = 3
        AND hb.repay_full_status = 1 THEN
        '14'
        <!-- WHEN hb.`status` = 2 THEN
            '15' -->
        ELSE
        ''
        END AS `status`
        FROM
        ht_borrow_credit hbc
        LEFT JOIN ht_borrow hb ON hbc.bid_nid = hb.borrow_nid
        LEFT JOIN ht_borrow_info hbi on hbi.borrow_nid = hbc.bid_nid
        LEFT JOIN ht_r_user hu ON hu.user_id = hbc.credit_user_id
        WHERE
        hbc.credit_nid = #{creditNid}
    </select>



    <select id="getAppCreditDetailByCreditNid" resultType="com.hyjf.am.vo.trade.hjh.AppCreditDetailCustomizeVO" parameterType="java.util.Map">
        SELECT
        <!-- 项目编号 -->
        hbc.credit_nid AS creditNid,
        <!-- 画面表示的项目编号 -->
        CONCAT('HZR',hbc.credit_nid ) AS creditNidPage,
        <!-- 项目期限 -->
        CONCAT(hbc.credit_term ,'天') AS borrowPeriod,
        <!-- 项目期限 -->
        hbc.credit_term AS creditTerm,
        <!-- 债权已 持有天数 -->
        hbc.credit_term_hold creditTermHold,
        <!-- 债转状态 -->
        hbc.credit_status AS status,
        <!-- 债转本金 -->
        hbc.credit_capital AS creditCapital,
        <!-- 项目剩余 可出借金额 -->
        (hbc.credit_capital - hbc.credit_capital_assigned) AS investAccount,
        <!-- 折价比率 -->
        hbc.credit_discount AS creditDiscount,
        <!-- 还款方式 -->
        hydbs.name AS repayStyle,
        <!-- 原项目 -->
        hbc.bid_nid AS bidNid,
        <!-- 原表年化利率 -->
        hbc.bid_apr AS bidApr,
        <!-- 转让时间 -->
        FROM_UNIXTIME(hbc.create_time,'%Y-%m-%d %H:%i:%s') AS creditTime,
        <!-- 截止时间 -->
        FROM_UNIXTIME(hbc.end_time,'%Y-%m-%d %H:%i:%s') AS endTime,
        <!-- 成功时间 -->
        FROM_UNIXTIME(hbc.assign_time,'%Y-%m-%d %H:%i:%s') AS assignTime,
        <!-- 出借进度 -->
        truncate(hbc.credit_capital_assigned/hbc.credit_capital*100,2) AS borrowSchedule,
        <!-- 标的详情 -->
        hb.invest_level AS investLevel
        FROM
        ht_borrow_credit hbc
        LEFT JOIN ht_borrow hb ON hbc.bid_nid = hb.borrow_nid
        LEFT JOIN ht_borrow_style hydbs ON hydbs.nid = hb.borrow_style
        WHERE
        hbc.credit_nid = #{creditNid}
    </select>

    <select id="getBorrowCreditList4Admin" resultMap="selectBorrowCreditListMap" parameterType="Map">
        SELECT
        bc.credit_id,
        bc.credit_nid,
        bc.credit_user_id,
        CASE
        WHEN bc.client = 1 THEN '微信'
        WHEN bc.client = 2 THEN 'android'
        WHEN bc.client = 3 THEN  'ios'
        WHEN bc.client = 0 THEN  'pc'
        ELSE '其他' END  as client,
        bc.bid_nid,
        bc.credit_user_name  userName,
        FORMAT(bc.credit_capital, 2) AS credit_capital,
        FORMAT(bc.credit_capital, 2) AS credit_capital_price,
        CONCAT(credit_discount, '%') AS credit_discount,
        FORMAT(bc.credit_price, 2) AS credit_price,
        bc.credit_capital_assigned,
        CASE
        WHEN bc.credit_status = '1' THEN '停止'
        WHEN bc.credit_status = '2' THEN '完全承接'
        ELSE
        '进行中'
        END AS credit_status_name,
        CASE
        when b.`status`=8 then '逾期中'
        WHEN bc.repay_status= 0 THEN '未还款'
        WHEN bc.repay_status = 1 THEN '还款成功'
        WHEN bc.repay_status = 2 THEN '还款失败'
        ELSE '还款失败' END AS repay_status_name,
        CASE
        WHEN bc.credit_status = '1' THEN '1'
        WHEN bc.credit_status = '2' THEN '2'
        ELSE
        CASE
        WHEN bc.end_time  <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) THEN '1'
        ELSE
        '0'
        END
        END AS credit_status,
        date_format(bc.create_time, '%Y-%m-%d %H:%i:%s')  AS add_time,
        CASE WHEN b.repay_last_time != 0 AND b.repay_last_time IS NOT NULL THEN FROM_UNIXTIME( b.repay_last_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS repay_last_time
        FROM
        ht_borrow_credit bc
        INNER JOIN ht_borrow b ON bc.bid_nid = b.borrow_nid
        -- LEFT JOIN ht_r_user u ON u.user_id = bc.credit_user_id
        <include refid="Where_Clause" />
        ORDER BY
        bc.create_time DESC
        <if test="limitStart != null and limitEnd != null" >
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>

    <select id="countBorrowCreditList4Admin" parameterType="map" resultType="int">
        SELECT
        count(bc.credit_id)
        FROM
        ht_borrow_credit bc
        INNER JOIN ht_borrow b ON bc.bid_nid = b.borrow_nid
        <include refid="Where_Clause" />

    </select>

    <select id="getBorrowCreditTotalCount" resultMap="sumBorrowCreditMap"  parameterType="map">

        SELECT
        SUM(bc.credit_capital) AS credit_capital,
        SUM(bc.credit_capital) AS credit_capital_price,
        SUM(bc.credit_price) AS credit_price,
        SUM(bc.credit_capital_assigned) AS credit_capital_assigned
        FROM
        ht_borrow_credit bc
        INNER JOIN ht_borrow b ON bc.bid_nid = b.borrow_nid
        <include refid="Where_Clause" />
    </select>



    <resultMap id="sumBorrowCreditMap" type="com.hyjf.am.vo.admin.BorrowCreditSumVO">
        <result column="credit_capital" property="sumCreditCapital" jdbcType="VARCHAR" />
        <result column="credit_capital_price" property="sumCreditCapitalPrice" jdbcType="VARCHAR" />
        <result column="credit_price" property="sumCreditPrice" jdbcType="VARCHAR" />
        <result column="credit_capital_assigned" property="sumCreditCapitalAssigned" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="selectBorrowCreditListMap" type="com.hyjf.am.trade.dao.model.customize.AdminBorrowCreditCustomize">
        <result column="credit_id" property="creditId" jdbcType="VARCHAR" />
        <result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
        <result column="bid_nid" property="bidNid" jdbcType="VARCHAR" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="credit_capital" property="creditCapital" jdbcType="VARCHAR" />
        <result column="credit_discount" property="creditDiscount" jdbcType="VARCHAR" />
        <result column="credit_capital_price" property="creditCapitalPrice" jdbcType="VARCHAR" />
        <result column="credit_price" property="creditPrice" jdbcType="VARCHAR" />
        <result column="credit_capital_assigned" property="creditCapitalAssigned" jdbcType="VARCHAR" />
        <result column="credit_status_name" property="creditStatusName" jdbcType="VARCHAR" />
        <result column="repay_status_name" property="repayStatusName" jdbcType="VARCHAR" />
        <result column="credit_status" property="creditStatus" jdbcType="VARCHAR" />
        <result column="add_time" property="addTime" jdbcType="VARCHAR" />
        <result column="repay_last_time" property="repayLastTime" jdbcType="VARCHAR" />
        <result column="client" property="client" jdbcType="VARCHAR" />
        <result column="credit_user_id" property="creditUserId" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Where_Clause">
        <where>
            <!-- 项目编号 -->
            <if test="bidNid != null and bidNid != ''">
                AND bc.bid_nid LIKE CONCAT( #{bidNid}, '%')
            </if>
            <!-- 债转编号 -->
            <if test="creditNid != null and creditNid != ''">
                AND bc.credit_nid LIKE CONCAT( #{creditNid}, '%')
            </if>
            <!-- 用户名 -->
            <if test="userName != null and userName != ''">
                AND bc.credit_user_name LIKE CONCAT( #{userName}, '%')
            </if>
            <!-- 承接人-->
            <if test="creditUsername != null and creditUsername != ''">
                AND credit_users.username LIKE CONCAT( #{creditUsername}, '%')
            </if>
            <!-- 订单号-->
            <if test="assignNid != null and assignNid != ''">
                AND ct.assign_nid LIKE CONCAT( #{assignNid}, '%')
            </if>
            <!-- 客户端-->
            <if test="client != null and client != ''">
                AND bc.client=#{client}
            </if>
            <!-- 转让状态 -->
            <if test="creditStatus == '1'.toString()">
                AND ( bc.credit_status = 1 OR ( bc.credit_status = 0 AND bc.end_time  <![CDATA[<]]> UNIX_TIMESTAMP(NOW()) ) )
            </if>
            <!-- 转让状态 -->
            <if test="creditStatus == '2'.toString()">
                AND bc.credit_status = 2
            </if>
            <!-- 转让状态 -->
            <if test="creditStatus == '0'.toString()">
                AND ( bc.credit_status = 0 AND bc.end_time  <![CDATA[>=]]> UNIX_TIMESTAMP(NOW()) )
            </if>
            <!-- 时间 -->
            <if test="timeStart != null and timeStart != ''">
                <!-- 优化sql(字段类型转换) timestamp-->
                AND bc.create_time >= STR_TO_DATE(#{timeStart},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="timeEnd != null and timeEnd != ''">
                <!-- 优化sql(字段类型转换) timestamp-->
                AND bc.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{timeEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>
        </where>
    </sql>

    <!--admin:债转详情count-->
    <select id="countBorrowCreditInfo4Admin" resultType="java.lang.Integer" >
        SELECT
        COUNT(1)
        FROM
        ht_credit_tender ct
        INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid AND bc.credit_nid = ct.credit_nid
        WHERE  ct.credit_nid = #{creditNid}
    </select>



    <resultMap id="selectBorrowCreditInfoListMap" type="com.hyjf.am.trade.dao.model.customize.AdminBorrowCreditCustomize">
        <!-- 订单号 -->
        <result column="assign_nid" property="assignNid" jdbcType="VARCHAR" />
        <!-- 债转编号 -->
        <result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
        <!-- 项目编号 -->
        <result column="bid_nid" property="bidNid" jdbcType="VARCHAR" />
        <!-- 出让人 -->
        <result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
        <!-- 认购人 -->
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <!-- 转让本金 -->
        <result column="assign_capital" property="assignCapital" jdbcType="VARCHAR" />
        <!-- 折让率 -->
        <result column="credit_discount" property="creditDiscount" jdbcType="VARCHAR" />

        <!-- 转让价格(assign_price) -->
        <result column="assign_capital_price" property="assignCapitalPrice" jdbcType="VARCHAR" />
        <!-- 认购金额 -->
        <result column="assign_price" property="assignPrice" jdbcType="VARCHAR" />

        <!-- 垫付利息 -->
        <result column="assign_interest_advance" property="assignInterestAdvance" jdbcType="VARCHAR" />
        <!-- 服务费 -->
        <result column="credit_fee" property="creditFee" jdbcType="VARCHAR" />
        <!-- 支付金额 -->
        <result column="assign_pay" property="assignPay" jdbcType="VARCHAR" />
        <!-- 认购时间 -->
        <result column="add_time" property="addTime" jdbcType="VARCHAR" />
        <!-- 客户端 -->
        <result column="client" property="client" jdbcType="INTEGER" />
        <!-- 承接用户推荐人用户名-->
        <result column="recommend_name" property="recommendName"/>
        <!-- 承接用户推荐人属性 -->
        <result column="recommend_attr" property="recommendAttr"/>
        <!-- 承接人部门信息-->
        <result column="regionName" property="regionName"/>
        <!-- 承接人部门信息-->
        <result column="branchName" property="branchName"/>
        <!-- 承接人部门信息 -->
        <result column="departmentName" property="departmentName"/>
        <!-- 出让用户推荐人用户名 -->
        <result column="recommend_name_credit" property="recommendNameCredit"/>
        <!-- 出让用户推荐人属性-->
        <result column="recommend_attr_credit" property="recommendAttrCredit"/>
        <!-- 出让人部门信息-->
        <result column="regionNameCredit" property="regionNameCredit"/>
        <!-- 出让人部门信息 -->
        <result column="branchNameCredit" property="branchNameCredit"/>
        <!-- 出让人部门信息-->
        <result column="departmentNameCredit" property="departmentNameCredit"/>
        <result column="invite_user_name" property="inviteUserName"/>
        <result column="invite_user_attribute" property="inviteUserAttribute"/>
        <result column="invite_user_regionname" property="inviteUseRegionname"/>
        <result column="invite_user_branchname" property="inviteUserBranchname"/>
        <result column="invite_user_departmentname" property="inviteUserDepartmentName"/>
        <result column="invite_user_credit_name" property="inviteUserCreditName"/>
        <result column="invite_user_credit_attribute" property="inviteUserCreditAttribute"/>
        <result column="invite_user_credit_regionname" property="inviteUserCreditRegionName"/>
        <result column="invite_user_credit_branchname" property="inviteUserCreditBranchName"/>
        <result column="invite_user_credit_departmentname" property="inviteUserCreditDepartmentName"/>

        <result column="recommend_attr_self" property="recommendAttrSelf"/>
        <result column="regionNameSelf" property="regionNameSelf"/>
        <result column="branchNameSelf" property="branchNameSelf"/>
        <result column="departmentNameSelf" property="departmentNameSelf"/>

        <result column="recommend_attr_credit_self" property="recommendAttrCreditSelf"/>
        <result column="regionNameCreditSelf" property="regionNameCreditSelf"/>
        <result column="branchNameCreditSelf" property="branchNameCreditSelf"/>
        <result column="departmentNameCreditSelf" property="departmentNameCreditSelf"/>
        <!--合同状态-->
        <result column="contractStatus" property="contractStatus"/>
        <!--合同编号-->
        <result column="contract_number" property="contract_number"/>
        <!-- 承接人用户ID -->
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <!-- 原始出借订单号 -->
        <result column="credit_tender_nid" property="creditTenderNid" jdbcType="VARCHAR" />
        <!--合同下载地址-->
        <result column="download_url" property="downloadUrl"  />
        <!--合同查看地址-->
        <result column="viewpdf_url" property="viewpdfUrl"  />
        <!--脱敏后合同查看地址-->
        <result column="img_url" property="imgUrl"  />
    </resultMap>



    <!--admin:债转详情list-->
    <select id="searchBorrowCreditInfo4Admin" resultMap="selectBorrowCreditInfoListMap" >
        SELECT
        ct.assign_nid ,
        ct.client ,
        ct.credit_nid  ,
        ct.bid_nid  ,
        ct.user_name ,
        ct.credit_user_name,
        FORMAT(ct.assign_capital, 2)          AS assign_capital,
        FORMAT(bc.credit_discount, 2)         AS credit_discount,
        FORMAT(ct.assign_capital, 2)          AS assign_capital_price,
        FORMAT(ct.assign_price, 2)            AS assign_price,
        FORMAT(ct.assign_interest_advance, 2) AS assign_interest_advance,
        FORMAT(ct.credit_fee, 2)              AS credit_fee,
        FORMAT(ct.assign_pay, 2)              AS assign_pay,
        DATE_FORMAT(ct.create_time, '%Y-%c-%d %H:%i:%s')  AS add_time
        FROM
        ht_credit_tender ct
        INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid AND bc.credit_nid = ct.credit_nid
        WHERE  ct.credit_nid = #{creditNid}
        ORDER BY
        bc.create_time DESC
        <if test="limitStart > 0 and limitEnd > 0" >
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>


    <resultMap id="sumBorrowCreditInfoMap" type="com.hyjf.am.vo.admin.BorrowCreditInfoSumVO">
        <result column="assign_capital" property="sumAssignCapital" jdbcType="VARCHAR" />
        <result column="assign_capital_price" property="sumAssignCapitalPrice" jdbcType="VARCHAR" />
        <result column="assign_price" property="sumAssignPrice" jdbcType="VARCHAR" />
        <result column="assign_interest_advance" property="sumAssignInterestAdvance" jdbcType="VARCHAR" />
        <result column="credit_fee" property="sumCreditFee" jdbcType="VARCHAR" />
        <result column="assign_pay" property="sumAssignPay" jdbcType="VARCHAR" />
    </resultMap>

    <!--债转详情合计-->
    <select id="sumBorrowCreditInfoData" resultMap="sumBorrowCreditInfoMap" >
        SELECT
        SUM(ct.assign_capital)          AS assign_capital,
        SUM(ct.assign_capital)          AS assign_capital_price,
        SUM(ct.assign_price)            AS assign_price,
        SUM(ct.assign_interest_advance) AS assign_interest_advance,
        SUM(ct.credit_fee)              AS credit_fee,
        SUM(ct.assign_pay)              AS assign_pay
        FROM
        ht_credit_tender ct
        INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid AND bc.credit_nid = ct.credit_nid
        WHERE  ct.credit_nid = #{creditNid}
    </select>

    <select id="sumUnderTakeAmount" resultType="String">
        SELECT
        SUM(hhdct.assign_capital) AS sumAccount
        FROM
        ht_hjh_debt_credit_tender hhdct

        WHERE   hhdct.borrow_nid = #{borrowNid,jdbcType=VARCHAR}

    </select>

    <select id="selectProjectUndertakeList" resultType="com.hyjf.am.vo.trade.borrow.ProjectUndertakeListVO">
        SELECT
        CONCAT(substring(hydu.username, 1, 1),'**') AS userName,
        0 as vipId,
        0 as vipLevel,
        SUBSTRING(FORMAT(hhdct.assign_capital,4),1,LENGTH(FORMAT(hhdct.assign_capital,4))-2) AS account,
        hhdct.client AS client,
        date_format( hhdct.create_time,'%Y-%c-%d %H:%i:%s')  AS undertakeTime
        FROM
        ht_hjh_debt_credit_tender hhdct
        LEFT JOIN ht_r_user hydu ON hhdct.user_id = hydu.user_id

        <where>
            hhdct.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
        </where>
        ORDER BY hhdct.create_time DESC
        <if test="limitStart != null and limitEnd !=null" >
            LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
        </if>
    </select>



</mapper>