<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BorrowRegistCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			b.`status` = 0
			AND (habt.auto_record != 1 OR b.regist_status = 3 OR b.regist_status = 4 OR habt.auto_record IS NULL)
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND b.borrow_nid LIKE CONCAT( #{borrowNidSrch}, '%')
			</if>
			<if test="borrowPeriodSrch != null and borrowPeriodSrch != ''">
				AND b.borrow_period=#{borrowPeriodSrch}
			</if>
			<if test="usernameSrch != null and usernameSrch != ''">
				AND b.borrow_user_name LIKE CONCAT( #{usernameSrch}, '%')
			</if>
			<if test="projectTypeSrch != null and projectTypeSrch != ''">
				AND b.project_type = #{projectTypeSrch}
			</if>
			<if test="borrowStyleSrch != null and borrowStyleSrch != ''">
				AND b.borrow_style = #{borrowStyleSrch}
			</if>
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND b.create_time <![CDATA[>=]]> STR_TO_DATE(#{timeStartSrch}, '%Y-%m-%d %H:%i:%s')
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND b.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{timeEndSrch}, ' 23:59:59'),'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="registStatusSrch != null and registStatusSrch != ''">
				AND b.regist_status = #{registStatusSrch}
			</if>
		</where>
	</sql>

	<select id="getRegistCount" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.BorrowRegistListRequest">
		SELECT
		COUNT(1)
		FROM
		ht_borrow b
		LEFT JOIN ht_borrow_info bi ON
		bi.borrow_nid = b.borrow_nid
		LEFT JOIN ht_hjh_asset_borrowtype habt ON
		b.project_type = habt.borrow_cd
		AND bi.inst_code = habt.inst_code
		AND bi.asset_type = habt.asset_type
		AND habt.is_open = 1
		<include refid="Where_Clause" />
	</select>

	<resultMap id="selectBorrowFirstListMap" type="com.hyjf.am.trade.dao.model.customize.BorrowRegistCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="regist_status_name" property="registStatusName" jdbcType="VARCHAR" />
		<result column="regist_status" property="registStatus" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="selectBorrowRegistList" resultMap="selectBorrowFirstListMap" parameterType="com.hyjf.am.resquest.admin.BorrowRegistListRequest">
		SELECT
		b.borrow_nid,
		bi.`name` AS borrow_name,
		b.borrow_user_name AS username,
		FORMAT(b.account, 2) AS account,
		CONCAT(b.borrow_apr, '%') borrow_apr,
		CASE
		WHEN borrow_style = 'endday' THEN
		CONCAT(b.borrow_period, '天')
		ELSE
		CONCAT(b.borrow_period, '个月')
		END borrow_period,
		b.borrow_style,
		bs.`name` AS borrow_style_name,
		bpt.borrow_name AS project_type_name,
		DATE_FORMAT(b.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
		b.regist_status,
		b.project_type
		FROM
		ht_borrow b
		LEFT JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = b.project_type
		LEFT JOIN ht_hjh_asset_borrowtype habt ON
		b.project_type = habt.borrow_cd
		AND bi.inst_code = habt.inst_code
		AND bi.asset_type = habt.asset_type
		AND habt.is_open = 1
		<include refid="Where_Clause" />
		ORDER BY
		b.create_time DESC, b.id DESC
		<if test="limitStart >= 0" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>
	<select id="sumBorrowRegistAccount" resultType="java.lang.String" parameterType="com.hyjf.am.resquest.admin.BorrowRegistListRequest">
		SELECT
		FORMAT(SUM(b.account), 2) AS accountSum
		FROM
		ht_borrow b
		LEFT JOIN ht_borrow_info bi ON
		bi.borrow_nid = b.borrow_nid
		LEFT JOIN ht_hjh_asset_borrowtype habt ON
		b.project_type = habt.borrow_cd
		AND bi.inst_code = habt.inst_code
		AND bi.asset_type = habt.asset_type
		AND habt.is_open = 1
		<include refid="Where_Clause" />
	</select>
	<select id="selectRegistCancelConfirm" resultType="com.hyjf.am.vo.admin.BorrowRegistCancelConfirmCustomizeVO" parameterType="string">
		SELECT
			b.borrow_nid AS borrowNid,
			bi.`name` AS borrowName,
			b.borrow_user_name AS borrowUserName,
			FORMAT(b.account, 2) AS account,
			CONCAT(b.borrow_apr, '%') borrowApr,
			CASE
		WHEN borrow_style = 'endday' THEN
			CONCAT(b.borrow_period, '天')
		ELSE
			CONCAT(b.borrow_period, '个月')
		END borrowPeriod,
		 b.borrow_style AS borrowStyle,
		 bs.`name` AS borrowStyleName,
		 bpt.borrow_name AS projectTypeName,
		 IFNULL(bi.repay_org_name,'') AS repayOrgName,
		 DATE_FORMAT(
			b.create_time,
			'%Y-%m-%d %H:%i:%s'
		) AS createTime,
		 DATE_FORMAT(
			b.regist_time,
			'%Y-%m-%d %H:%i:%s'
		) AS registTime,
		 b.regist_user_name AS registUserName,
		 CASE
		WHEN b.`status` = 0 THEN
			'备案中'
		WHEN b.`status` = 1 THEN
			'初审中'
		WHEN b.`status` = 2 THEN
			'投资中'
		WHEN b.`status` = 3 THEN
			'复审中'
		WHEN b.`status` = 4 THEN
			'还款中'
		WHEN b.`status` = 5 THEN
			'已还款'
		WHEN b.`status` = 8 THEN
			'逾期中'
		ELSE
			''
		END AS borrowStatus,
		 CASE
		WHEN b.regist_status = 0 THEN
			'初始'
		WHEN b.regist_status = 1 THEN
			'备案中'
		WHEN b.regist_status = 2 THEN
			'备案成功'
		WHEN b.regist_status = 3 THEN
			'撤销备案'
		WHEN b.regist_status = 4 THEN
			'备案失败'
		ELSE
			''
		END AS registStatus
		FROM
			ht_borrow b
		LEFT JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = b.project_type
		WHERE b.borrow_nid = #{borrowNid}
	</select>
</mapper>