<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.HjhBailConfigLogCustomizeMapper">
    <resultMap id="BaseResultMap" type="com.hyjf.am.vo.admin.BailConfigLogCustomizeVO" >
        <result column="inst_name" property="instName" jdbcType="VARCHAR" />
        <result column="modify_column" property="modifyColumn" jdbcType="VARCHAR" />
        <result column="before_value" property="beforeValue" jdbcType="VARCHAR" />
        <result column="after_value" property="afterValue" jdbcType="VARCHAR" />
        <result column="username" property="createUserName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTimeStr" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Where_Clause">
        <where>
            <if test="instCodeSrch != null and instCodeSrch !='' ">
                AND hhbcl.inst_code = #{instCodeSrch,jdbcType=VARCHAR}
            </if>
            <if test="modifyColumnSrch != null and modifyColumnSrch != ''">
                AND hhbcl.modify_column = #{modifyColumnSrch,jdbcType=INTEGER}
            </if>
            <if test="createUserNameSrch != null and createUserNameSrch != ''">
                AND ha.username = #{createUserNameSrch,jdbcType=INTEGER}
            </if>
            <if test="startDate != null and startDate !='' ">
                AND STR_TO_DATE(hhbcl.create_time,'%Y-%m-%d') <![CDATA[>=]]>
                STR_TO_DATE(#{startDate,jdbcType=VARCHAR},'%Y-%m-%d')
            </if>
            <if test="endDate != null and endDate !='' ">
                AND STR_TO_DATE(hhbcl.create_time,'%Y-%m-%d') <![CDATA[<=]]>
                STR_TO_DATE(#{endDate,jdbcType=VARCHAR},'%Y-%m-%d')
            </if>
        </where>
    </sql>

    <select id="selectHjhBailConfigLogList" resultMap="BaseResultMap"
            parameterType="com.hyjf.am.resquest.admin.BailConfigLogRequest">
        SELECT
        hhbcl.id,
        hhbcl.inst_code,
        hhic.inst_name,
        hhbcl.modify_column,
        hhbcl.before_value,
        hhbcl.after_value,
        ha.username,
        DATE_FORMAT(hhbcl.create_time,'%Y-%m-%d %H:%i:%s') AS create_time
        FROM
        ht_hjh_bail_config_log hhbcl
        INNER JOIN ht_hjh_inst_config hhic ON hhbcl.inst_code = hhic.inst_code
        INNER JOIN hyjf_config.ht_admin ha ON hhbcl.create_user_id = ha.id
        <include refid="Where_Clause" />
        ORDER BY hhbcl.create_time DESC
        <if test="limitStart != null and limitEnd !=null" >
            LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
        </if>
    </select>

    <select id="countHjhBailConfigLog" resultType="java.lang.Integer"
            parameterType="com.hyjf.am.resquest.admin.BailConfigLogRequest">
        SELECT
        COUNT(hhbcl.id)
        FROM
        ht_hjh_bail_config_log hhbcl
        INNER JOIN ht_hjh_inst_config hhic ON hhbcl.inst_code = hhic.inst_code
        INNER JOIN hyjf_config.ht_admin ha ON hhbcl.create_user_id = ha.id
        <include refid="Where_Clause" />
    </select>

</mapper>