<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.HjhReInvestDebtCustomizeMapper">
    <resultMap id="HjhReInvestDebtMap" type="com.hyjf.am.trade.dao.model.customize.HjhReInvestDebtCustomize">
        <result column="assign_plan_nid" property="assignPlanNid" jdbcType="VARCHAR" />
        <!-- 计划订单号 -->
        <result column="assign_plan_order_id" property="assignPlanOrderId" jdbcType="VARCHAR" />
        <!-- 承接订单号 -->
        <result column="assign_order_id" property="assignOrderId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
        <result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
        <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
        <result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
        <result column="assign_capital" property="assignCapital" jdbcType="VARCHAR" />
        <result column="assign_interest_advance" property="assignInterestAdvance" jdbcType="VARCHAR" />
        <result column="assign_pay" property="assignPay" jdbcType="VARCHAR" />
        <result column="assign_type" property="assignType" jdbcType="VARCHAR" />
        <result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
        <result column="assign_period" property="assignPeriod" jdbcType="VARCHAR" />
        <!--<result column="create_time" property="assignOrderDate" jdbcType="VARCHAR" />-->
        <result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
        <result column="assign_time" property="assignTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Where_Clause">
        <where>
            ct.tender_type = 1
            <if test="planNid != null and planNid != ''">
                AND hp.plan_nid = #{planNid }
            </if>
            <if test="dateStart != null and dateStart != ''">
                AND  ct.create_time <![CDATA[ >= ]]> #{dateStart}
            </if>
            <if test="dateEnd != null and dateEnd != ''">
                AND  ct.create_time <![CDATA[ <= ]]> #{dateEnd}
            </if>
            <if test="assignPlanOrderIdSrch != null and assignPlanOrderIdSrch != ''">
                AND ct.assign_plan_order_id = #{assignPlanOrderIdSrch }
            </if>
            <if test="assignPlanNidSrch != null and assignPlanNidSrch != ''">
                AND ct.assign_plan_nid = #{assignPlanNidSrch }
            </if>
            <if test="assignOrderIdSrch != null and assignOrderIdSrch != ''">
                AND ct.assign_order_id = #{assignOrderIdSrch }
            </if>
            <if test="userNameSrch != null and userNameSrch != ''">
                AND ct.user_name = #{userNameSrch }
            </if>
            <if test="creditUserNameSrch != null and creditUserNameSrch != ''">
                AND ct.credit_user_name = #{creditUserNameSrch }
            </if>
            <if test="creditNidSrch != null and creditNidSrch != ''">
                AND ct.credit_nid = #{creditNidSrch }
            </if>
            <if test="borrowNidSrch != null and borrowNidSrch != ''">
                AND ct.borrow_nid = #{borrowNidSrch }
            </if>
            <if test="assignTypeSrch != null and assignTypeSrch != ''">
                AND ct.assign_type = #{assignTypeSrch }
            </if>
            <if test="borrowStyleSrch != null and borrowStyleSrch != ''">
                AND bs.`name` = #{borrowStyleSrch }
            </if>
        </where>
    </sql>

    <select id="queryReInvestDebtCount" resultType="java.lang.Integer" parameterType="com.hyjf.am.trade.dao.model.customize.HjhReInvestDebtCustomize">
        SELECT
        count(*) AS recordTotal
        FROM
        ht_hjh_debt_credit_tender ct
        INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid	AND bc.credit_nid = ct.credit_nid
        INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
        LEFT JOIN ht_hjh_plan hp ON hp.plan_nid = ct.assign_plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        <include refid="Where_Clause" />
    </select>

    <select id="queryReinvestDebtList" resultMap="HjhReInvestDebtMap" parameterType="com.hyjf.am.trade.dao.model.customize.HjhReInvestDebtCustomize">
        SELECT
        hp.plan_nid,
        ct.assign_plan_nid,
        ct.assign_order_id,
        ct.assign_plan_order_id,
        ct.user_name,
        ct.credit_user_name,
        ct.credit_nid,
        ct.borrow_nid,
        bs.`name` AS borrow_style,
        ct.assign_capital,
        ct.assign_interest_advance,
        ct.assign_pay,
        ct.assign_type,
        CASE
        WHEN b.borrow_style = 'endday'
        OR b.borrow_style = 'end'
        THEN
        1
        ELSE
        b.borrow_period
        END AS borrow_period,
        assign_period,
        DATE_FORMAT(ct.create_time, '%Y-%m-%d %H:%i:%s') AS assign_time
        FROM
        ht_hjh_debt_credit_tender ct
        INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid	AND bc.credit_nid = ct.credit_nid
        INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
        LEFT JOIN ht_hjh_plan hp ON hp.plan_nid = ct.assign_plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        <include refid="Where_Clause" />
        ORDER BY
        ct.create_time DESC
        <if test="limitStart != null and limitEnd !=null" >
            LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryReInvestDebtTotal" resultType="com.hyjf.am.trade.dao.model.customize.HjhReInvestDebtCustomize" parameterType="com.hyjf.am.trade.dao.model.customize.HjhReInvestDebtCustomize">
        SELECT
        SUM(ct.assign_capital) as assignCapital,
        SUM(ct.assign_interest_advance) as assignInterestAdvance,
        SUM(ct.assign_pay) as assignPay
        FROM
        ht_hjh_debt_credit_tender ct
        INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid	AND bc.credit_nid = ct.credit_nid
        INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
        LEFT JOIN ht_hjh_plan hp ON hp.plan_nid = ct.assign_plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        <include refid="Where_Clause" />
    </select>

    <select id="exportReInvestDebts" resultMap="HjhReInvestDebtMap" parameterType="com.hyjf.am.trade.dao.model.customize.HjhReInvestDebtCustomize">
        SELECT
        hp.plan_nid,
        ct.assign_plan_nid,
        ct.assign_plan_order_id,
        ct.user_name,
        ct.credit_user_name,
        ct.credit_nid,
        ct.borrow_nid,
        b.borrow_style,
        ct.assign_capital,
        ct.assign_interest_advance,
        ct.assign_pay,
        ct.assign_type,
        CASE
        WHEN b.borrow_style = 'endday'
        OR b.borrow_style = 'end' THEN
        1
        ELSE
        b.borrow_period
        END AS borrow_period,
        assign_period,
        FROM_UNIXTIME(
        ct.create_time,
        '%Y-%m-%d %H:%i:%s'
        ) AS assign_time
        FROM
        ht_hjh_debt_credit_tender ct
        INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid	AND bc.credit_nid = ct.credit_nid
        INNER JOIN ht_borrow b ON ct.borrow_nid = b.borrow_nid
        LEFT JOIN ht_hjh_plan hp ON hp.plan_nid = ct.assign_plan_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
        <include refid="Where_Clause" />
        ORDER BY
        ct.create_time DESC
    </select>
</mapper>