<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.HjhReInvestDetailCustomizeMapper">
    <resultMap id="HjhReInvestDetailCustomizeMapper" type="com.hyjf.am.trade.dao.model.customize.HjhReInvestDetailCustomize">
        <result column="accede_order_id" property="accedeOrderId" jdbcType="VARCHAR" />
        <result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
        <result column="username" property="userName" jdbcType="VARCHAR" />
        <result column="invite" property="inviteUserName" jdbcType="VARCHAR" />
        <result column="attribute" property="userAttribute" jdbcType="VARCHAR" />
        <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
        <result column="expect_apr" property="expectApr" jdbcType="VARCHAR" />
        <result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
        <result column="is_month" property="isMonth" jdbcType="VARCHAR" />
        <result column="account" property="accedeAccount" jdbcType="VARCHAR" />
        <result column="borrow_style_name" property="borrowStyle" jdbcType="VARCHAR" />
        <result column="invest_type" property="investType" jdbcType="VARCHAR" />
        <result column="count_interest_time" property="countInterestTime" jdbcType="VARCHAR" />
        <result column="add_time" property="addTime" jdbcType="VARCHAR" />
        <result column="borrow_period_view" property="borrowPeriodView" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Where_Clause">
        <where>
            bt.tender_type = 1
            <if test="planNid != null and planNid != ''">
                AND ha.plan_nid = #{planNid }
            </if>
            <if test="date != null ">
                AND  bt.create_time <![CDATA[ >= ]]> #{date}
            </if>
            <if test="datee != null">
                AND  bt.create_time <![CDATA[ <= ]]> #{datee}
            </if>
            <if test="accedeOrderIdSrch != null and accedeOrderIdSrch != ''">
                AND bt.accede_order_id = #{accedeOrderIdSrch }
            </if>
            <if test="userNameSrch != null and userNameSrch != ''">
                AND hu.username = #{userNameSrch }
            </if>
            <if test="borrowNidSrch != null and borrowNidSrch != ''">
                AND bt.borrow_nid = #{borrowNidSrch }
            </if>
            <if test="lockPeriodSrch != null and lockPeriodSrch != ''">
                AND hb.borrow_period = #{lockPeriodSrch }
            </if>
            <if test="investTypeSrch != null and investTypeSrch != ''">
                AND bt.invest_type = #{investTypeSrch }
            </if>
            <if test="borrowStyleSrch != null and borrowStyleSrch != ''">
                AND bs.`name` = #{borrowStyleSrch }
            </if>
        </where>
    </sql>

    <select id="queryReInvestDetails" resultMap="HjhReInvestDetailCustomizeMapper" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowTenderExample">
        SELECT
        bt.accede_order_id,
        hp.plan_nid,
        hu.username,
        hu.username as invite,
        hu.attribute,
        bt.borrow_nid,
        concat(hp.expect_apr,'%') as expect_apr,
        hb.borrow_period,
        concat(
        hb.borrow_period,
        (IF(hb.borrow_style = 'endday','天','个月'))
        ) AS borrow_period_view,
        CASE WHEN hb.borrow_style = 'endday' THEN '天' ELSE '个月' END AS is_month,
        bt.account,
        bs.`name` AS borrow_style_name,
        bt.invest_type,
        CASE WHEN ha.count_interest_time <![CDATA[<>]]> 0 AND ha.count_interest_time IS NOT NULL THEN FROM_UNIXTIME( ha.count_interest_time, '%Y-%m-%d %H:%i:%s' ) ELSE '' END AS count_interest_time,
        CASE WHEN bt.create_time <![CDATA[<>]]> 0 AND bt.create_time IS NOT NULL THEN bt.create_time ELSE '' END AS add_time
        FROM
        ht_borrow_tender bt
        LEFT JOIN ht_hjh_accede ha ON bt.accede_order_id = ha.accede_order_id
        LEFT JOIN ht_hjh_plan hp ON ha.plan_nid = hp.plan_nid
        LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
        LEFT JOIN ht_borrow hb ON hb.borrow_nid = bt.borrow_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = hb.borrow_style
        <include refid="Where_Clause" />
        ORDER BY
        bt.create_time DESC
        <if test="limitStart != null and limitEnd !=null" >
            LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
        </if>
    </select>

    <select id="queryReInvestDetailCount" resultType="java.lang.Integer" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowTenderExample">
        SELECT
        count(*) AS recordTotal
        FROM
        ht_borrow_tender bt
        LEFT JOIN ht_hjh_accede ha ON bt.accede_order_id = ha.accede_order_id
        LEFT JOIN ht_hjh_plan hp ON ha.plan_nid = hp.plan_nid
        LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
        --         LEFT JOIN ht_users hur ON hu.referrer = hur.user_id
        --         LEFT JOIN ht_users_info hui ON hui.user_id = bt.user_id
        LEFT JOIN ht_borrow hb ON hb.borrow_nid = bt.borrow_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = hb.borrow_style
        <include refid="Where_Clause" />
    </select>

    <select id="queryReInvestDetailTotal" resultType="java.lang.String" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowTenderExample">
        SELECT
        SUM(bt.account) as totalQty
        FROM
        ht_borrow_tender bt
        LEFT JOIN ht_hjh_accede ha ON bt.accede_order_id = ha.accede_order_id
        LEFT JOIN ht_hjh_plan hp ON ha.plan_nid = hp.plan_nid
        LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
--         LEFT JOIN ht_users hur ON hu.referrer = hur.user_id
--         LEFT JOIN ht_users_info hui ON hui.user_id = bt.user_id
        LEFT JOIN ht_borrow hb ON hb.borrow_nid = bt.borrow_nid
        LEFT JOIN ht_borrow_style bs ON bs.nid = hb.borrow_style
        <include refid="Where_Clause" />
    </select>
</mapper>