<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.OperationReportJobCustomizeMapper">

    <resultMap id="ageResultMap" type="com.hyjf.am.vo.trade.OperationReportJobVO" >
	    <id column="sex" property="sex" jdbcType="INTEGER" />
	    <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="cityResultMap" type="com.hyjf.am.vo.trade.OperationReportJobVO" >
	    <id column="citycode" property="citycode" jdbcType="INTEGER" />
	    <result column="count" property="count" jdbcType="INTEGER" />
	    <result column="cityname" property="name" jdbcType="VARCHAR" />
    </resultMap>


    <!-- 	每月交易金额 -->
	<select id="getAccountByMonth" resultType="java.math.BigDecimal">
		SELECT
		sum(account)
		FROM
		(
		-- 直投
		SELECT
		br.recover_capital AS account -- 放款金额
		FROM
		ht_borrow_recover br
		INNER JOIN ht_borrow b ON b.borrow_nid = br.borrow_nid
		WHERE
		b.recover_last_time <![CDATA[ <= ]]> UNIX_TIMESTAMP(#{endDate}) -- 放款时间
		AND b.recover_last_time >= UNIX_TIMESTAMP(#{beginDate})
		AND br.accede_order_id IS NULL
		UNION ALL
		-- 汇计划
		SELECT
		sum(a.accede_account) AS account -- 加入金额
		FROM
		ht_hjh_accede a
		WHERE
		a.count_interest_time <![CDATA[ <= ]]> #{endDate} -- 加入时间
		AND a.count_interest_time >= #{beginDate}
		AND a.order_status >= 3
		UNION ALL
		-- 债转
		SELECT
		sum(assign_capital) AS account -- 承接本金
		FROM
		ht_credit_tender ct
		WHERE
		ct.create_time <![CDATA[ <= ]]> #{endDate} -- 承接时间
		AND ct.create_time >= #{beginDate}
		) t
	</select>
	<!-- 	每月交易笔数 -->
	<select id="getTradeCountByMonth" resultType="int">
		SELECT
		sum(account)
		FROM
		(
		-- 直投
		SELECT
		count(*) AS account -- 放款笔数
		FROM
		ht_borrow_tender br
		INNER JOIN ht_borrow b ON b.borrow_nid = br.borrow_nid
		WHERE
		b.recover_last_time <![CDATA[ <= ]]> UNIX_TIMESTAMP(#{endDate}) -- 放款时间
		AND b.recover_last_time >= UNIX_TIMESTAMP(#{beginDate})
		AND br.accede_order_id IS NULL -- 刨除汇计划
		UNION ALL
		-- 汇计划
		SELECT
		count(*) AS account -- 加入笔数
		FROM
		ht_hjh_accede a
		WHERE
		a.count_interest_time <![CDATA[ <= ]]> #{endDate} -- 加入时间
		AND a.count_interest_time >= #{beginDate}

		UNION ALL
		-- 债转
		SELECT
		count(*) AS account -- 承接笔数
		FROM
		ht_credit_tender ct
		WHERE
		ct.create_time <![CDATA[ <= ]]> #{endDate} -- 承接时间
		AND ct.create_time >= #{beginDate}
		) t
	</select>
	
	
	<!-- 	累计交易笔数 -->
	<select id="getTradeCount" parameterType="java.util.Date" resultType="int">
		SELECT
			sum(counts)
		FROM
			(
				SELECT
					count(1) AS counts
				FROM
					ht_borrow_tender br
				INNER JOIN ht_borrow b ON b.borrow_nid = br.borrow_nid
					where br.status = 1 and br.accede_order_id IS NULL

				UNION ALL
					SELECT
						count(1) AS counts
					FROM
						ht_credit_tender

				UNION ALL
				  SELECT
					count(1) AS counts
				  FROM
					ht_hjh_accede
			) tmp
	</select>
	
	
	<!-- 	统计出借人总数，截至日期为上个月的最后一天 -->
	<select id="getTenderCount"  parameterType="java.util.Date" resultType="int">
<!-- 		select count(*) from ht_users where reg_time &lt;= unix_timestamp(#{date}) -->
		select count(*) from(
			SELECT user_id FROM ht_borrow_tender where create_time &lt;=#{date}
			UNION
			SELECT user_id FROM ht_credit_tender where create_time &lt;=#{date}
			UNION
			SELECT user_id  FROM ht_borrow_tender_cpn WHERE create_time &lt;=#{date}
			UNION
			SELECT user_id  FROM ht_hjh_accede  WHERE create_time &lt;=#{date}
		) as tmp
	</select>	
	<!-- 累计交易总额 -->
	<select id="getTotalCount"   resultType="java.math.BigDecimal">
		SELECT
		  sum(account)
		FROM
		  (
		-- 直投
			SELECT
			  br.recover_capital AS account -- 放款金额
			FROM
			  ht_borrow_recover br
			INNER JOIN ht_borrow b ON b.borrow_nid = br.borrow_nid
			WHERE
			br.accede_order_id is null
			union ALL
		 -- 汇计划
			select
			  sum(a.accede_account) as account -- 加入金额
			 from
				ht_hjh_accede  a

			UNION ALL
		-- 债转
			 select
			   sum(assign_capital) AS account -- 承接本金
			  from
				 ht_credit_tender ct

			 UNION ALL
		-- 汇添金
			  select
			   sum(repay_capital) as account -- 应还本金
			  from
				ht_debt_plan_accede

			 UNION ALL
		 -- 汇添利
			  SELECT
				sum(amount) AS account  -- 加入金额
			  FROM
				  ht_product_list
			  WHERE
				  invest_status = 0  -- 投标成功

		  )t
	</select>
	<!-- 累计用户收益 -->
	<select id="getTotalInterest"   resultType="java.math.BigDecimal">
		SELECT
			sum(account)
		FROM
		(
			-- 直投
			SELECT
				br.recover_interest_yes AS account -- 已收利息
			FROM
				ht_borrow_recover br
			WHERE
				br.accede_order_id IS NULL
			UNION ALL
				-- 汇计划
				SELECT
					sum(a.received_interest) AS account -- 已收利息
				FROM
					ht_hjh_accede a
				UNION ALL
					-- 汇添金
					SELECT
						sum(repay_interest_yes) AS account -- 已收利息
					FROM
						ht_debt_plan_accede
					UNION ALL
						-- 汇添利
						SELECT
							sum(interest) AS account -- 加入金额
						FROM
							ht_product_list
						WHERE
							invest_status = 0 -- 投标成功
		) t
	</select>

<!-- 	平均满标时间 -->
	<select id="getFullBillAverageTime"   resultType="float">
		
		SELECT 
		    SUM(borrow_full_time - verify_time) / COUNT(*) / 60
		FROM
		    ht_borrow
		WHERE
		    verify_time  &lt;= unix_timestamp(#{date})
	</select>	
	
	<!--代偿金额 -->
	<select id="getRepayTotal"  parameterType="java.util.Date" resultType="java.math.BigDecimal">

		 select SUM(br.recover_capital_wait)
			FROM  ht_borrow b
		 LEFT JOIN ht_borrow_recover br ON b.borrow_nid = br.borrow_nid
		 WHERE br.recover_time <![CDATA[>=]]> UNIX_TIMESTAMP(#{date})
		 and (br.recover_yestime is null or br.recover_yestime <![CDATA[>]]>UNIX_TIMESTAMP(#{date}) )

	</select>	

<!-- 	借贷笔数 -->
	<select  id="getLoanNum"  parameterType="java.util.Date" resultType="int">
		select count(*) from ht_borrow where create_time &lt;= #{date}
	</select>
<!-- 	人均出借金额 -->
	<select id="getPerInvestTotal" resultType="java.math.BigDecimal">
		select sum(bank_invest_sum)/count(*) from ht_account where bank_invest_sum>0
	</select>
	
	<select id="getInvestLastDate" parameterType="java.util.Date" resultType="java.lang.Double"  >
		select sum(count) from(
		select sum(already_invest) as count from ht_hjh_accede where  create_time &lt;= #{date} union all
		select sum(accede_account) as count from ht_debt_plan_accede where create_time &lt;= #{date} union all
		select sum(account) from ht_borrow_tender where create_time &lt;= #{date}) as tmp

	</select>
</mapper>