<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.SubCommissionListConfigCustomizeMapper">
    <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.SubCommissionListConfig" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="truename" property="truename" jdbcType="CHAR" />
        <result column="username" property="username" jdbcType="CHAR" />
        <result column="role_name" property="roleName" jdbcType="CHAR" />
        <result column="user_type" property="userType" jdbcType="CHAR" />
        <result column="bank_open_account" property="bankOpenAccount" jdbcType="CHAR" />
        <result column="account" property="account" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="cooperate_num" property="cooperateNum" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
        <result column="update_user_name" property="updateUserName" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Where_Clause">
        <where>
            <!--  -->
            <if test="userNameSrch != null and userNameSrch != ''">
                AND c.username LIKE CONCAT( #{userNameSrch}, '%')
            </if>
            <if test="trueNameSrch != null and trueNameSrch != ''">
                AND c.truename LIKE CONCAT( #{trueNameSrch}, '%')
            </if>
            <if test="roleNameSrch != null and roleNameSrch != '' and roleNameSrchS == '其他'">
                AND c.role_name = #{roleNameSrch}
            </if>
            <if test="roleNameSrch != null and roleNameSrch != '' and (roleNameSrch == '投资人' or roleNameSrch == '出借人')">
                AND c.role_name in ('投资人','出借人')
            </if>
            <if test="roleNameSrch != null and roleNameSrch != '' and (roleNameSrch == '担保机构' or roleNameSrch == '垫付机构')">
                AND c.role_name in ('担保机构','垫付机构')
            </if>
            <!--  -->
            <if test="userTypeSrch != null and userTypeSrch != ''">
                AND c.user_type = #{userTypeSrch}
            </if>
            <if test="accountSrch != null and accountSrch != ''">
                AND c.account LIKE CONCAT( #{accountSrch}, '%')
            </if>
            <if test="statusSrch != null and statusSrch != ''">
                AND c.status = #{statusSrch}
            </if>
            <!-- 时间 -->
            <if test="recieveTimeStartSrch != null and recieveTimeStartSrch != ''">
                <!-- 优化sql(字段类型转换) timestamp-->
                AND c.create_time >= STR_TO_DATE(#{recieveTimeStartSrch},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test="recieveTimeEndSrch != null and recieveTimeEndSrch != ''">
                <!-- 优化sql(字段类型转换) timestamp-->
                AND c.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{recieveTimeEndSrch},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
            </if>

        </where>
    </sql>

    <select id="getSubConfigListCountByPage" resultType="java.lang.Integer" parameterType="Map">
        SELECT
        COUNT(*)
        FROM ht_sub_commission_list_config c
        <include refid="Where_Clause" />
    </select>

    <!--  获取列表 -->
    <select id="getSubConfigListByPage" resultMap="BaseResultMap" parameterType="Map" >
        select
        <if test="distinct" >
            distinct
        </if>
        id, user_id, username, truename,
        CASE
        WHEN role_name='投资人' THEN '出借人'
        WHEN role_name='担保机构' THEN '垫付机构'
        else role_name end role_name,
        user_type, bank_open_account, account, `status`, cooperate_num,
        remark, create_user_id, create_user_name,
        DATE_FORMAT( c.create_time, '%Y-%m-%d %H:%i:%s' ) create_time, update_user_id, update_user_name,
        DATE_FORMAT( c.update_time, '%Y-%m-%d %H:%i:%s' ) update_time
        from ht_sub_commission_list_config c
        <include refid="Where_Clause" />
        ORDER BY create_time DESC
        <if test="limitStart >= 0" >
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="getSubConfigRecordById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        id, user_id, username, truename,
      CASE role_name
       WHEN '出借人' THEN
            '1'
        WHEN '投资人' THEN
            '1'
        WHEN '借款人' THEN
            '2'
        WHEN '担保机构' THEN
            ' 3 '
        WHEN '垫付机构' THEN
            ' 3 '
       END AS role_name,
       CASE user_type
       WHEN '个人用户' THEN
           '0'
       WHEN '普通用户' THEN '0'
       WHEN '企业用户' THEN
          '1'
       END AS user_type,
        bank_open_account,
        account, `status`, cooperate_num,
        remark, create_user_id, create_user_name, create_time, update_user_id, update_user_name,update_time
        from ht_sub_commission_list_config
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSubConfig" parameterType="com.hyjf.am.trade.dao.model.auto.SubCommissionListConfig" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ht_sub_commission_list_config (user_id, username,truename, role_name,
        user_type, bank_open_account, account,
        `status`, cooperate_num, remark, create_user_id,
        create_user_name, create_time, update_user_id,
        update_user_name)
        values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=CHAR},#{truename,jdbcType=CHAR}, #{roleName,jdbcType=CHAR},
        #{userType,jdbcType=CHAR}, #{bankOpenAccount,jdbcType=CHAR}, #{account,jdbcType=CHAR},
        #{status,jdbcType=TINYINT},#{cooperateNum,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER},
        #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER},
        #{updateUserName,jdbcType=VARCHAR})
    </insert>

    <update id="updateSubConfigByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.SubCommissionListConfig" >
        update ht_sub_commission_list_config
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="username != null" >
                username = #{username,jdbcType=CHAR},
            </if>
            <if test="truename != null" >
                truename = #{truename,jdbcType=CHAR},
            </if>
            <if test="roleName != null" >
                role_name = #{roleName,jdbcType=CHAR},
            </if>
            <if test="userType != null" >
                user_type = #{userType,jdbcType=CHAR},
            </if>
            <if test="bankOpenAccount != null" >
                bank_open_account = #{bankOpenAccount,jdbcType=CHAR},
            </if>
            <if test="account != null" >
                account = #{account,jdbcType=CHAR},
            </if>
            <if test="status != null" >
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="cooperateNum != null" >
                cooperate_num = #{cooperateNum,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="createUserName != null" >
                create_user_name = #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=INTEGER},
            </if>
            <if test="updateUserName != null" >
                update_user_name = #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from ht_sub_commission_list_config
        where id = #{id,jdbcType=INTEGER}
    </delete>


</mapper>