<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.message.dao.mapper.auto.MessagePushMsgHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_code" property="tagCode" jdbcType="VARCHAR" />
    <result column="msg_code" property="msgCode" jdbcType="VARCHAR" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="msg_image_url" property="msgImageUrl" jdbcType="VARCHAR" />
    <result column="msg_content" property="msgContent" jdbcType="VARCHAR" />
    <result column="msg_terminal" property="msgTerminal" jdbcType="VARCHAR" />
    <result column="msg_action" property="msgAction" jdbcType="TINYINT" />
    <result column="msg_action_url" property="msgActionUrl" jdbcType="VARCHAR" />
    <result column="msg_destination_type" property="msgDestinationType" jdbcType="TINYINT" />
    <result column="msg_destination" property="msgDestination" jdbcType="VARCHAR" />
    <result column="msg_user_id" property="msgUserId" jdbcType="INTEGER" />
    <result column="msg_send_status" property="msgSendStatus" jdbcType="TINYINT" />
    <result column="msg_read_count_android" property="msgReadCountAndroid" jdbcType="INTEGER" />
    <result column="msg_read_count_ios" property="msgReadCountIos" jdbcType="INTEGER" />
    <result column="msg_firstread_plat" property="msgFirstreadPlat" jdbcType="TINYINT" />
    <result column="msg_jpush_id" property="msgJpushId" jdbcType="VARCHAR" />
    <result column="msg_jpush_pro_id" property="msgJpushProId" jdbcType="VARCHAR" />
    <result column="msg_jpush_zyb_id" property="msgJpushZybId" jdbcType="VARCHAR" />
    <result column="msg_jpush_zzb_id" property="msgJpushZzbId" jdbcType="VARCHAR" />
    <result column="msg_jpush_yxb_id" property="msgJpushYxbId" jdbcType="VARCHAR" />
    <result column="msg_jpush_znb_id" property="msgJpushZnbId" jdbcType="VARCHAR" />
    <result column="msg_remark" property="msgRemark" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="INTEGER" />
    <result column="msg_destination_count_ios" property="msgDestinationCountIos" jdbcType="INTEGER" />
    <result column="msg_destination_count_android" property="msgDestinationCountAndroid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="CHAR" />
    <result column="lastupdate_time" property="lastupdateTime" jdbcType="INTEGER" />
    <result column="lastupdate_user_id" property="lastupdateUserId" jdbcType="INTEGER" />
    <result column="lastupdate_user_name" property="lastupdateUserName" jdbcType="CHAR" />
    <result column="msg_jpush_zyb2_id" property="msgJpushZyb2Id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tag_id, tag_code, msg_code, msg_title, msg_image_url, msg_content, msg_terminal, 
    msg_action, msg_action_url, msg_destination_type, msg_destination, msg_user_id, msg_send_status, 
    msg_read_count_android, msg_read_count_ios, msg_firstread_plat, msg_jpush_id, msg_jpush_pro_id, 
    msg_jpush_zyb_id, msg_jpush_zzb_id, msg_jpush_yxb_id, msg_jpush_znb_id, msg_remark, 
    send_time, msg_destination_count_ios, msg_destination_count_android, create_time, 
    create_user_id, create_user_name, lastupdate_time, lastupdate_user_id, lastupdate_user_name, 
    msg_jpush_zyb2_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_message_push_msg_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_message_push_msg_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hyjf_message_push_msg_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistoryExample" >
    delete from hyjf_message_push_msg_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistory" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_message_push_msg_history (tag_id, tag_code, msg_code, 
      msg_title, msg_image_url, msg_content, 
      msg_terminal, msg_action, msg_action_url, 
      msg_destination_type, msg_destination, msg_user_id, 
      msg_send_status, msg_read_count_android, msg_read_count_ios, 
      msg_firstread_plat, msg_jpush_id, msg_jpush_pro_id, 
      msg_jpush_zyb_id, msg_jpush_zzb_id, msg_jpush_yxb_id, 
      msg_jpush_znb_id, msg_remark, send_time, 
      msg_destination_count_ios, msg_destination_count_android, 
      create_time, create_user_id, create_user_name, 
      lastupdate_time, lastupdate_user_id, lastupdate_user_name, 
      msg_jpush_zyb2_id)
    values (#{tagId,jdbcType=INTEGER}, #{tagCode,jdbcType=VARCHAR}, #{msgCode,jdbcType=VARCHAR}, 
      #{msgTitle,jdbcType=VARCHAR}, #{msgImageUrl,jdbcType=VARCHAR}, #{msgContent,jdbcType=VARCHAR}, 
      #{msgTerminal,jdbcType=VARCHAR}, #{msgAction,jdbcType=TINYINT}, #{msgActionUrl,jdbcType=VARCHAR}, 
      #{msgDestinationType,jdbcType=TINYINT}, #{msgDestination,jdbcType=VARCHAR}, #{msgUserId,jdbcType=INTEGER}, 
      #{msgSendStatus,jdbcType=TINYINT}, #{msgReadCountAndroid,jdbcType=INTEGER}, #{msgReadCountIos,jdbcType=INTEGER}, 
      #{msgFirstreadPlat,jdbcType=TINYINT}, #{msgJpushId,jdbcType=VARCHAR}, #{msgJpushProId,jdbcType=VARCHAR}, 
      #{msgJpushZybId,jdbcType=VARCHAR}, #{msgJpushZzbId,jdbcType=VARCHAR}, #{msgJpushYxbId,jdbcType=VARCHAR}, 
      #{msgJpushZnbId,jdbcType=VARCHAR}, #{msgRemark,jdbcType=VARCHAR}, #{sendTime,jdbcType=INTEGER}, 
      #{msgDestinationCountIos,jdbcType=INTEGER}, #{msgDestinationCountAndroid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=CHAR}, 
      #{lastupdateTime,jdbcType=INTEGER}, #{lastupdateUserId,jdbcType=INTEGER}, #{lastupdateUserName,jdbcType=CHAR}, 
      #{msgJpushZyb2Id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistory" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_message_push_msg_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagCode != null" >
        tag_code,
      </if>
      <if test="msgCode != null" >
        msg_code,
      </if>
      <if test="msgTitle != null" >
        msg_title,
      </if>
      <if test="msgImageUrl != null" >
        msg_image_url,
      </if>
      <if test="msgContent != null" >
        msg_content,
      </if>
      <if test="msgTerminal != null" >
        msg_terminal,
      </if>
      <if test="msgAction != null" >
        msg_action,
      </if>
      <if test="msgActionUrl != null" >
        msg_action_url,
      </if>
      <if test="msgDestinationType != null" >
        msg_destination_type,
      </if>
      <if test="msgDestination != null" >
        msg_destination,
      </if>
      <if test="msgUserId != null" >
        msg_user_id,
      </if>
      <if test="msgSendStatus != null" >
        msg_send_status,
      </if>
      <if test="msgReadCountAndroid != null" >
        msg_read_count_android,
      </if>
      <if test="msgReadCountIos != null" >
        msg_read_count_ios,
      </if>
      <if test="msgFirstreadPlat != null" >
        msg_firstread_plat,
      </if>
      <if test="msgJpushId != null" >
        msg_jpush_id,
      </if>
      <if test="msgJpushProId != null" >
        msg_jpush_pro_id,
      </if>
      <if test="msgJpushZybId != null" >
        msg_jpush_zyb_id,
      </if>
      <if test="msgJpushZzbId != null" >
        msg_jpush_zzb_id,
      </if>
      <if test="msgJpushYxbId != null" >
        msg_jpush_yxb_id,
      </if>
      <if test="msgJpushZnbId != null" >
        msg_jpush_znb_id,
      </if>
      <if test="msgRemark != null" >
        msg_remark,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="msgDestinationCountIos != null" >
        msg_destination_count_ios,
      </if>
      <if test="msgDestinationCountAndroid != null" >
        msg_destination_count_android,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="lastupdateTime != null" >
        lastupdate_time,
      </if>
      <if test="lastupdateUserId != null" >
        lastupdate_user_id,
      </if>
      <if test="lastupdateUserName != null" >
        lastupdate_user_name,
      </if>
      <if test="msgJpushZyb2Id != null" >
        msg_jpush_zyb2_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagCode != null" >
        #{tagCode,jdbcType=VARCHAR},
      </if>
      <if test="msgCode != null" >
        #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null" >
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgImageUrl != null" >
        #{msgImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgTerminal != null" >
        #{msgTerminal,jdbcType=VARCHAR},
      </if>
      <if test="msgAction != null" >
        #{msgAction,jdbcType=TINYINT},
      </if>
      <if test="msgActionUrl != null" >
        #{msgActionUrl,jdbcType=VARCHAR},
      </if>
      <if test="msgDestinationType != null" >
        #{msgDestinationType,jdbcType=TINYINT},
      </if>
      <if test="msgDestination != null" >
        #{msgDestination,jdbcType=VARCHAR},
      </if>
      <if test="msgUserId != null" >
        #{msgUserId,jdbcType=INTEGER},
      </if>
      <if test="msgSendStatus != null" >
        #{msgSendStatus,jdbcType=TINYINT},
      </if>
      <if test="msgReadCountAndroid != null" >
        #{msgReadCountAndroid,jdbcType=INTEGER},
      </if>
      <if test="msgReadCountIos != null" >
        #{msgReadCountIos,jdbcType=INTEGER},
      </if>
      <if test="msgFirstreadPlat != null" >
        #{msgFirstreadPlat,jdbcType=TINYINT},
      </if>
      <if test="msgJpushId != null" >
        #{msgJpushId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushProId != null" >
        #{msgJpushProId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushZybId != null" >
        #{msgJpushZybId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushZzbId != null" >
        #{msgJpushZzbId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushYxbId != null" >
        #{msgJpushYxbId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushZnbId != null" >
        #{msgJpushZnbId,jdbcType=VARCHAR},
      </if>
      <if test="msgRemark != null" >
        #{msgRemark,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="msgDestinationCountIos != null" >
        #{msgDestinationCountIos,jdbcType=INTEGER},
      </if>
      <if test="msgDestinationCountAndroid != null" >
        #{msgDestinationCountAndroid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=CHAR},
      </if>
      <if test="lastupdateTime != null" >
        #{lastupdateTime,jdbcType=INTEGER},
      </if>
      <if test="lastupdateUserId != null" >
        #{lastupdateUserId,jdbcType=INTEGER},
      </if>
      <if test="lastupdateUserName != null" >
        #{lastupdateUserName,jdbcType=CHAR},
      </if>
      <if test="msgJpushZyb2Id != null" >
        #{msgJpushZyb2Id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistoryExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_message_push_msg_history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_message_push_msg_history
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tagId != null" >
        tag_id = #{record.tagId,jdbcType=INTEGER},
      </if>
      <if test="record.tagCode != null" >
        tag_code = #{record.tagCode,jdbcType=VARCHAR},
      </if>
      <if test="record.msgCode != null" >
        msg_code = #{record.msgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.msgTitle != null" >
        msg_title = #{record.msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.msgImageUrl != null" >
        msg_image_url = #{record.msgImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.msgContent != null" >
        msg_content = #{record.msgContent,jdbcType=VARCHAR},
      </if>
      <if test="record.msgTerminal != null" >
        msg_terminal = #{record.msgTerminal,jdbcType=VARCHAR},
      </if>
      <if test="record.msgAction != null" >
        msg_action = #{record.msgAction,jdbcType=TINYINT},
      </if>
      <if test="record.msgActionUrl != null" >
        msg_action_url = #{record.msgActionUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.msgDestinationType != null" >
        msg_destination_type = #{record.msgDestinationType,jdbcType=TINYINT},
      </if>
      <if test="record.msgDestination != null" >
        msg_destination = #{record.msgDestination,jdbcType=VARCHAR},
      </if>
      <if test="record.msgUserId != null" >
        msg_user_id = #{record.msgUserId,jdbcType=INTEGER},
      </if>
      <if test="record.msgSendStatus != null" >
        msg_send_status = #{record.msgSendStatus,jdbcType=TINYINT},
      </if>
      <if test="record.msgReadCountAndroid != null" >
        msg_read_count_android = #{record.msgReadCountAndroid,jdbcType=INTEGER},
      </if>
      <if test="record.msgReadCountIos != null" >
        msg_read_count_ios = #{record.msgReadCountIos,jdbcType=INTEGER},
      </if>
      <if test="record.msgFirstreadPlat != null" >
        msg_firstread_plat = #{record.msgFirstreadPlat,jdbcType=TINYINT},
      </if>
      <if test="record.msgJpushId != null" >
        msg_jpush_id = #{record.msgJpushId,jdbcType=VARCHAR},
      </if>
      <if test="record.msgJpushProId != null" >
        msg_jpush_pro_id = #{record.msgJpushProId,jdbcType=VARCHAR},
      </if>
      <if test="record.msgJpushZybId != null" >
        msg_jpush_zyb_id = #{record.msgJpushZybId,jdbcType=VARCHAR},
      </if>
      <if test="record.msgJpushZzbId != null" >
        msg_jpush_zzb_id = #{record.msgJpushZzbId,jdbcType=VARCHAR},
      </if>
      <if test="record.msgJpushYxbId != null" >
        msg_jpush_yxb_id = #{record.msgJpushYxbId,jdbcType=VARCHAR},
      </if>
      <if test="record.msgJpushZnbId != null" >
        msg_jpush_znb_id = #{record.msgJpushZnbId,jdbcType=VARCHAR},
      </if>
      <if test="record.msgRemark != null" >
        msg_remark = #{record.msgRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=INTEGER},
      </if>
      <if test="record.msgDestinationCountIos != null" >
        msg_destination_count_ios = #{record.msgDestinationCountIos,jdbcType=INTEGER},
      </if>
      <if test="record.msgDestinationCountAndroid != null" >
        msg_destination_count_android = #{record.msgDestinationCountAndroid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=CHAR},
      </if>
      <if test="record.lastupdateTime != null" >
        lastupdate_time = #{record.lastupdateTime,jdbcType=INTEGER},
      </if>
      <if test="record.lastupdateUserId != null" >
        lastupdate_user_id = #{record.lastupdateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.lastupdateUserName != null" >
        lastupdate_user_name = #{record.lastupdateUserName,jdbcType=CHAR},
      </if>
      <if test="record.msgJpushZyb2Id != null" >
        msg_jpush_zyb2_id = #{record.msgJpushZyb2Id,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_message_push_msg_history
    set id = #{record.id,jdbcType=INTEGER},
      tag_id = #{record.tagId,jdbcType=INTEGER},
      tag_code = #{record.tagCode,jdbcType=VARCHAR},
      msg_code = #{record.msgCode,jdbcType=VARCHAR},
      msg_title = #{record.msgTitle,jdbcType=VARCHAR},
      msg_image_url = #{record.msgImageUrl,jdbcType=VARCHAR},
      msg_content = #{record.msgContent,jdbcType=VARCHAR},
      msg_terminal = #{record.msgTerminal,jdbcType=VARCHAR},
      msg_action = #{record.msgAction,jdbcType=TINYINT},
      msg_action_url = #{record.msgActionUrl,jdbcType=VARCHAR},
      msg_destination_type = #{record.msgDestinationType,jdbcType=TINYINT},
      msg_destination = #{record.msgDestination,jdbcType=VARCHAR},
      msg_user_id = #{record.msgUserId,jdbcType=INTEGER},
      msg_send_status = #{record.msgSendStatus,jdbcType=TINYINT},
      msg_read_count_android = #{record.msgReadCountAndroid,jdbcType=INTEGER},
      msg_read_count_ios = #{record.msgReadCountIos,jdbcType=INTEGER},
      msg_firstread_plat = #{record.msgFirstreadPlat,jdbcType=TINYINT},
      msg_jpush_id = #{record.msgJpushId,jdbcType=VARCHAR},
      msg_jpush_pro_id = #{record.msgJpushProId,jdbcType=VARCHAR},
      msg_jpush_zyb_id = #{record.msgJpushZybId,jdbcType=VARCHAR},
      msg_jpush_zzb_id = #{record.msgJpushZzbId,jdbcType=VARCHAR},
      msg_jpush_yxb_id = #{record.msgJpushYxbId,jdbcType=VARCHAR},
      msg_jpush_znb_id = #{record.msgJpushZnbId,jdbcType=VARCHAR},
      msg_remark = #{record.msgRemark,jdbcType=VARCHAR},
      send_time = #{record.sendTime,jdbcType=INTEGER},
      msg_destination_count_ios = #{record.msgDestinationCountIos,jdbcType=INTEGER},
      msg_destination_count_android = #{record.msgDestinationCountAndroid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_user_name = #{record.createUserName,jdbcType=CHAR},
      lastupdate_time = #{record.lastupdateTime,jdbcType=INTEGER},
      lastupdate_user_id = #{record.lastupdateUserId,jdbcType=INTEGER},
      lastupdate_user_name = #{record.lastupdateUserName,jdbcType=CHAR},
      msg_jpush_zyb2_id = #{record.msgJpushZyb2Id,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistory" >
    update hyjf_message_push_msg_history
    <set >
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagCode != null" >
        tag_code = #{tagCode,jdbcType=VARCHAR},
      </if>
      <if test="msgCode != null" >
        msg_code = #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null" >
        msg_title = #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgImageUrl != null" >
        msg_image_url = #{msgImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null" >
        msg_content = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgTerminal != null" >
        msg_terminal = #{msgTerminal,jdbcType=VARCHAR},
      </if>
      <if test="msgAction != null" >
        msg_action = #{msgAction,jdbcType=TINYINT},
      </if>
      <if test="msgActionUrl != null" >
        msg_action_url = #{msgActionUrl,jdbcType=VARCHAR},
      </if>
      <if test="msgDestinationType != null" >
        msg_destination_type = #{msgDestinationType,jdbcType=TINYINT},
      </if>
      <if test="msgDestination != null" >
        msg_destination = #{msgDestination,jdbcType=VARCHAR},
      </if>
      <if test="msgUserId != null" >
        msg_user_id = #{msgUserId,jdbcType=INTEGER},
      </if>
      <if test="msgSendStatus != null" >
        msg_send_status = #{msgSendStatus,jdbcType=TINYINT},
      </if>
      <if test="msgReadCountAndroid != null" >
        msg_read_count_android = #{msgReadCountAndroid,jdbcType=INTEGER},
      </if>
      <if test="msgReadCountIos != null" >
        msg_read_count_ios = #{msgReadCountIos,jdbcType=INTEGER},
      </if>
      <if test="msgFirstreadPlat != null" >
        msg_firstread_plat = #{msgFirstreadPlat,jdbcType=TINYINT},
      </if>
      <if test="msgJpushId != null" >
        msg_jpush_id = #{msgJpushId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushProId != null" >
        msg_jpush_pro_id = #{msgJpushProId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushZybId != null" >
        msg_jpush_zyb_id = #{msgJpushZybId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushZzbId != null" >
        msg_jpush_zzb_id = #{msgJpushZzbId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushYxbId != null" >
        msg_jpush_yxb_id = #{msgJpushYxbId,jdbcType=VARCHAR},
      </if>
      <if test="msgJpushZnbId != null" >
        msg_jpush_znb_id = #{msgJpushZnbId,jdbcType=VARCHAR},
      </if>
      <if test="msgRemark != null" >
        msg_remark = #{msgRemark,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="msgDestinationCountIos != null" >
        msg_destination_count_ios = #{msgDestinationCountIos,jdbcType=INTEGER},
      </if>
      <if test="msgDestinationCountAndroid != null" >
        msg_destination_count_android = #{msgDestinationCountAndroid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=CHAR},
      </if>
      <if test="lastupdateTime != null" >
        lastupdate_time = #{lastupdateTime,jdbcType=INTEGER},
      </if>
      <if test="lastupdateUserId != null" >
        lastupdate_user_id = #{lastupdateUserId,jdbcType=INTEGER},
      </if>
      <if test="lastupdateUserName != null" >
        lastupdate_user_name = #{lastupdateUserName,jdbcType=CHAR},
      </if>
      <if test="msgJpushZyb2Id != null" >
        msg_jpush_zyb2_id = #{msgJpushZyb2Id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.message.dao.model.auto.MessagePushMsgHistory" >
    update hyjf_message_push_msg_history
    set tag_id = #{tagId,jdbcType=INTEGER},
      tag_code = #{tagCode,jdbcType=VARCHAR},
      msg_code = #{msgCode,jdbcType=VARCHAR},
      msg_title = #{msgTitle,jdbcType=VARCHAR},
      msg_image_url = #{msgImageUrl,jdbcType=VARCHAR},
      msg_content = #{msgContent,jdbcType=VARCHAR},
      msg_terminal = #{msgTerminal,jdbcType=VARCHAR},
      msg_action = #{msgAction,jdbcType=TINYINT},
      msg_action_url = #{msgActionUrl,jdbcType=VARCHAR},
      msg_destination_type = #{msgDestinationType,jdbcType=TINYINT},
      msg_destination = #{msgDestination,jdbcType=VARCHAR},
      msg_user_id = #{msgUserId,jdbcType=INTEGER},
      msg_send_status = #{msgSendStatus,jdbcType=TINYINT},
      msg_read_count_android = #{msgReadCountAndroid,jdbcType=INTEGER},
      msg_read_count_ios = #{msgReadCountIos,jdbcType=INTEGER},
      msg_firstread_plat = #{msgFirstreadPlat,jdbcType=TINYINT},
      msg_jpush_id = #{msgJpushId,jdbcType=VARCHAR},
      msg_jpush_pro_id = #{msgJpushProId,jdbcType=VARCHAR},
      msg_jpush_zyb_id = #{msgJpushZybId,jdbcType=VARCHAR},
      msg_jpush_zzb_id = #{msgJpushZzbId,jdbcType=VARCHAR},
      msg_jpush_yxb_id = #{msgJpushYxbId,jdbcType=VARCHAR},
      msg_jpush_znb_id = #{msgJpushZnbId,jdbcType=VARCHAR},
      msg_remark = #{msgRemark,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=INTEGER},
      msg_destination_count_ios = #{msgDestinationCountIos,jdbcType=INTEGER},
      msg_destination_count_android = #{msgDestinationCountAndroid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=CHAR},
      lastupdate_time = #{lastupdateTime,jdbcType=INTEGER},
      lastupdate_user_id = #{lastupdateUserId,jdbcType=INTEGER},
      lastupdate_user_name = #{lastupdateUserName,jdbcType=CHAR},
      msg_jpush_zyb2_id = #{msgJpushZyb2Id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>