<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.trade.BorrowCustomizeMapper">
    <select id="countInvest" resultType="INTEGER" parameterType="INTEGER">
        SELECT SUM(a) FROM (SELECT COUNT(*) a FROM ht_borrow_tender WHERE user_id = #{userId}
          UNION ALL
        SELECT COUNT(*) a FROM ht_credit_tender WHERE user_id = #{userId}
          UNION ALL
        SELECT COUNT(*) a FROM ht_borrow_tender_cpn WHERE user_id = #{userId}
          UNION ALL
        SELECT COUNT(*) a FROM ht_hjh_accede  WHERE user_id =  #{userId})b
    </select>

    <update id="updateOfBorrow" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET b.borrow_account_yes = b.borrow_account_yes + #{borrowAccountYes,jdbcType=DECIMAL},
		b.borrow_account_wait = b.borrow_account_wait - #{borrowAccountYes,jdbcType=DECIMAL},
		b.borrow_service = CAST(
		(
			CAST(
				CASE
				WHEN b.borrow_service IS NULL THEN
					'0'
				ELSE
					b.borrow_service
				END AS DECIMAL(65,2)
			) + #{borrowService,jdbcType=DECIMAL}
		) AS CHAR),
		b.borrow_account_scale =TRUNCATE((b.borrow_account_yes/b.account)*100,2),
		b.tender_times = b.tender_times + 1
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>

    <update id="updateOfFullBorrow" parameterType="map" >
	    UPDATE huiyingdai_borrow b
		SET b.borrow_full_status = 1,
		b.`status` = 3,
		b.borrow_full_time = unix_timestamp(now())
		WHERE
			b.id = #{borrowId,jdbcType=INTEGER}
  	</update>


</mapper>