<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.trade.BorrowCreditCustomizeMapper">

    <select id="getBorrowCreditDetail" resultType="com.hyjf.am.vo.trade.borrow.BorrowCreditDetailVO" parameterType="map">
        SELECT	hb.project_type type,
        hb.company_or_personal AS comOrPer,
        hb.borrow_nid AS borrowNid,
        hb.borrow_apr AS borrowApr,
        hb.borrow_style AS borrowStyle,
        hbc.credit_nid AS creditNid,
        hbc.tender_nid AS tenderNid,
        hbc.credit_capital AS creditCapital,
        (
        hbc.credit_capital - hbc.credit_capital_assigned
        ) AS creditAssignCapital,
        hbc.credit_discount AS creditDiscount,
        hbc.credit_term AS creditTerm,
        hbc.credit_term_hold AS creditTermHold,
        CASE
        WHEN hb.borrow_style = 'endday' THEN
        CONCAT(hb.borrow_period, '天')
        ELSE
        CONCAT(hb.borrow_period, '个月')
        END borrowPeriod,
        hbc.credit_price AS creditPrice,
        FROM_UNIXTIME(
        hbc.add_time,
        '%Y-%m-%d %H:%i:%s'
        ) AS creditTime,
        hbc.add_time AS creditTimeInt,
        hui.truename AS creditUserTrueName,
        hbc.credit_user_id AS creditUserId,
        hbc.credit_repay_end_time AS creditRepayEndTime,
        CASE
        WHEN hb.`status` = 0
        AND hb.verify_status = 1 THEN
        '10'
        WHEN hb.`status` = 1
        AND hb.borrow_status = 1
        AND hb.borrow_account_yes <![CDATA[<]]> hb.account
        AND (
        hb.verify_time + (
        hb.borrow_valid_time * 24 * 60 * 60
        ) > UNIX_TIMESTAMP(NOW())
        ) THEN
        '11'
        WHEN hb.`status` = 1
        AND hb.reverify_time = '0'
        AND (
        (
        hb.reverify_status = 0
        AND hb.borrow_account_yes >= hb.account
        )
        OR (
        hb.verify_time + (
        hb.borrow_valid_time * 24 * 60 * 60
        ) <![CDATA[<]]> UNIX_TIMESTAMP(NOW())
        )
        ) THEN
        '12'
        WHEN hb.`status` = 3
        AND hb.repay_full_status = 0 THEN
        '13'
        WHEN hb.`status` = 3
        AND hb.repay_full_status = 1 THEN
        '14'
        <!-- WHEN hb.`status` = 2 THEN
            '15' -->
        ELSE
        ''
        END AS `status`
        FROM
        ht_borrow_credit hbc
        LEFT JOIN ht_borrow hb ON hbc.bid_nid = hb.borrow_nid
        LEFT JOIN ht_users hu ON hu.user_id = hbc.credit_user_id
        LEFT JOIN ht_users_info hui ON hui.user_id = hu.user_id
        WHERE
        hbc.credit_nid = #{creditNid}
    </select>



    <select id="getAppCreditDetailByCreditNid" resultType="com.hyjf.am.vo.trade.hjh.AppCreditDetailCustomizeVO" parameterType="java.util.Map">
        SELECT
        <!-- 项目编号 -->
        hbc.credit_nid AS creditNid,
        <!-- 画面表示的项目编号 -->
        CONCAT('HZR',hbc.credit_nid ) AS creditNidPage,
        <!-- 项目期限 -->
        CONCAT(hbc.credit_term ,'天') AS borrowPeriod,
        <!-- 项目期限 -->
        hbc.credit_term AS creditTerm,
        <!-- 债权已 持有天数 -->
        hbc.credit_term_hold creditTermHold,
        <!-- 债转状态 -->
        hbc.credit_status AS status,
        <!-- 债转本金 -->
        hbc.credit_capital AS creditCapital,
        <!-- 项目剩余 可投资金额 -->
        (hbc.credit_capital - hbc.credit_capital_assigned) AS investAccount,
        <!-- 折价比率 -->
        hbc.credit_discount AS creditDiscount,
        <!-- 还款方式 -->
        hydbs.name AS repayStyle,
        <!-- 原项目 -->
        hbc.bid_nid AS bidNid,
        <!-- 原表年化利率 -->
        hbc.bid_apr AS bidApr,
        <!-- 转让时间 -->
        FROM_UNIXTIME(hbc.add_time,'%Y-%m-%d %H:%i:%s') AS creditTime,
        <!-- 截止时间 -->
        FROM_UNIXTIME(hbc.end_time,'%Y-%m-%d %H:%i:%s') AS endTime,
        <!-- 成功时间 -->
        FROM_UNIXTIME(hbc.assign_time,'%Y-%m-%d %H:%i:%s') AS assignTime,
        <!-- 投资进度 -->
        truncate(hbc.credit_capital_assigned/hbc.credit_capital*100,2) AS borrowSchedule
        FROM
        ht_borrow_credit hbc
        LEFT JOIN ht_borrow hb ON hbc.bid_nid = hb.borrow_nid
        LEFT JOIN ht_borrow_style hydbs ON hydbs.nid = hb.borrow_style
        WHERE
        hbc.credit_nid = #{creditNid}
    </select>


</mapper>