<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>成功 - 汇盈金服官网</title>
</head>
<body>
	<article class="main-content">
        <div class="container result">
            <div class="result-content">
            	<div class="result-top">
            		<img src="${ctx}/dist/images/result/register-success.png" alt="" />
            	</div>
				<div class="register-success result-mid">
					<h3>${message}</h3>
				</div>
				<p class="count-down"><a href="${ctx}/user/pandect/pandect.do">返回用户中心</a>，<span>5</span>秒后自动跳转</p>
				</div>
            </div>
        </div>
    </article>
</body>
</html>
