<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" th:href="@{/css/main.css}" />
<title>Thymeleaf 表单示例</title>
</head>
<body>
    <h2>Thymeleaf 表单示例</h2>
    <form action="openBankAccount" method="post">
        <lable for="trueName" class="kh-lable">姓名</lable>
        <input type="text" name="trueName" id="trueName"  value="" /><br/>
        <label >身份证号码:</label>
        <input  name="idNo" id="idNo" type="text"  value="" /><br/>
        <label >用户银行卡号:</label>
        <input type="text"  name="cardNo" id="cardNo"  value="" /> <br/>

        <label >手机号码:</label>
        <input type="text" name="mobile" id="mobile" size="10" value="" /><br/>
        <label >验证码:</label>
        <input type="text" name="smsCode" id="smsCode"   size="10" value="" /><br/>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>