<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE"/>
    <logger name="springfox.documentation" level="ERROR"/>

    <!-- 测试环境. 多个使用逗号隔开. -->
    <springProfile name="test">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO"/>
        <logger name="com.hyjf" level="INFO"/>
    </springProfile>

    <!-- 开发环境. 多个使用逗号隔开. -->
    <springProfile name="dev">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO"/>
        <logger name="com.hyjf" level="DEBUG"/>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR"/>
        <logger name="com.hyjf" level="INFO"/>
    </springProfile>

    <property name ="BATCH_FILE_DIR" value="/hyjfdata/log" />
    <property name="BATCH_FILE_NAME" value="hyjf-am-trade-batch.log" />
    <!-- 配置job日志输出至单独的日志文件中 -->
    <appender name="BATCH_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${BATCH_FILE_DIR}/${BATCH_FILE_NAME}</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${BATCH_FILE_DIR}/${BATCH_FILE_NAME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder
                class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <!-- 日志输出编码 -->
            <charset>UTF-8</charset>
            <immediateFlush>true</immediateFlush>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

    <!--需要将日志单独输出的包路径-->
    <logger name="com.hyjf.cs.trade.controller.batch" additivity="false" level="INFO">
        <appender-ref ref="BATCH_LOG"/>
    </logger>
    <logger name="com.hyjf.cs.trade.service.batch" additivity="false" level="INFO">
        <appender-ref ref="BATCH_LOG"/>
    </logger>

</configuration>