<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.config.dao.mapper.customize.SubmissionsCustomizeMapper">

	<sql id="Where_Clause">
			<if test="userId != null ">
				AND	s.user_id = #{userId}
			</if>
			
			<if test="sysType != null and sysType != ''">
				AND s.sys_type = #{sysType}
			</if>
			<if test="sysVersion != null and sysVersion != ''">
				AND	s.sys_version LIKE CONCAT(#{sysVersion},'%')
			</if>
			<if test="platformVersion != null and platformVersion != ''">
				AND	s.platform_version LIKE CONCAT(#{platformVersion},'%')
			</if>
			<if test="phoneType != null and phoneType != ''">
				AND s.phone_type LIKE CONCAT(#{phoneType},'%')
			</if>
			<if test="content != null and content != ''">
				AND s.content LIKE CONCAT(#{content},'%')
			</if>
		    <if test="addTimeStart != null and addTimeStart != ''">
				AND s.create_time <![CDATA[>=]]> unix_timestamp(#{addTimeStart,jdbcType=VARCHAR})
			</if>
			<if test="addTimeEnd != null and addTimeEnd != ''">
				AND s.create_time <![CDATA[<=]]> unix_timestamp(#{addTimeEnd,jdbcType=VARCHAR})
			</if>
	</sql>
	<resultMap id="SubmissionsMapResult"
		type="com.hyjf.am.vo.config.SubmissionsCustomizeVO">
		<result column="userId" property="userId" jdbcType="INTEGER" /> <!-- 用户id -->
		<result column="id" property="submissionsId" jdbcType="INTEGER" /> <!-- 用户名 -->
		<result column="sys_type" property="sysType" jdbcType="INTEGER" /> <!-- 系统类别  -->
		<result column="sys_version" property="sysVersion" jdbcType="VARCHAR" /> <!-- 平台版本号  -->
		<result column="platform_version" property="platformVersion" jdbcType="VARCHAR" /> <!-- 平台版本号  -->
		<result column="phone_type" property="phoneType" jdbcType="VARCHAR" /> <!-- 手机型号  -->
		<result column="content" property="content" jdbcType="VARCHAR" /> <!-- 反馈内容  -->
		<result column="addtime" property="addTime" jdbcType="VARCHAR" /> <!-- 添加时间 -->
	</resultMap>

	<!-- 根据条件 查询意见反馈信息  -->
	<select id="queryRecordList" resultMap="SubmissionsMapResult"
		parameterType="java.util.Map">
		SELECT
			s.user_id userId,
			s.id,
			s.sys_type,
			s.sys_version,
			s.platform_version,
			s.phone_type,
			s.content,
			s.create_time addtime
		FROM
			ht_submissions s
		where s.sys_type in(0,1,2,3,4)
		<include refid="Where_Clause" />
		ORDER BY s.create_time DESC
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	
	<!-- 根据条件 查询意见反馈信息  -->
	<select id="countRecordTotal" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			count(s.id)
		FROM
			ht_submissions s
		where s.sys_type in(0,1,2,3,4)
		<include refid="Where_Clause" />
	</select>


	<update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.config.dao.model.customize.SubmissionsWithBLOBs" >
		update ht_submissions
		<set >
			<if test="title != null" >
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="problem != null" >
				problem = #{problem,jdbcType=VARCHAR},
			</if>
			<if test="userId != null" >
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="sysType != null" >
				sys_type = #{sysType,jdbcType=INTEGER},
			</if>
			<if test="sysVersion != null" >
				sys_version = #{sysVersion,jdbcType=VARCHAR},
			</if>
			<if test="state != null" >
				`state` = #{state,jdbcType=INTEGER},
			</if>
			<if test="platformVersion != null" >
				platform_version = #{platformVersion,jdbcType=VARCHAR},
			</if>
			<if test="phoneType != null" >
				phone_type = #{phoneType,jdbcType=VARCHAR},
			</if>
			<if test="replytime != null" >
				replytime = #{replytime,jdbcType=INTEGER},
			</if>
			<if test="addtime != null" >
				create_time = #{addtime,jdbcType=INTEGER},
			</if>
			<if test="content != null" >
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
			<if test="img != null" >
				img = #{img,jdbcType=LONGVARCHAR},
			</if>
			<if test="reply != null" >
				reply = #{reply,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>

