<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" th:href="@{/css/main.css}" />
<title>充值模拟页面</title>
</head>
<body>
    <h2>充值模拟页面</h2>
    <form action="page">
        <lable for="userId" class="kh-lable">lastSrvAuthCode</lable>
        <input type="text" name="lastSrvAuthCode" id="lastSrvAuthCode"  value="" /><br/>
        
        <lable for="mobile" class="kh-lable">smsCode</lable>
        <input type="text" name="smsCode" id="smsCode"  value="" /><br/>
        
        <input type="submit" value="提交"/>
    </form>
</body>
</html>