<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.config.dao.mapper.auto.PoundageLedgerMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.config.dao.model.auto.PoundageLedger" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="truename" property="truename" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="service_ratio" property="serviceRatio" jdbcType="DECIMAL" />
    <result column="credit_ratio" property="creditRatio" jdbcType="DECIMAL" />
    <result column="manage_ratio" property="manageRatio" jdbcType="DECIMAL" />
    <result column="investor_company_id" property="investorCompanyId" jdbcType="INTEGER" />
    <result column="investor_company" property="investorCompany" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="explan" property="explan" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, username, truename, account, `type`, `source`, service_ratio, credit_ratio, 
    manage_ratio, investor_company_id, investor_company, project_type, `status`, explan, 
    create_user_id, update_user_id, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedgerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_poundage_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_poundage_ledger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_poundage_ledger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedgerExample" >
    delete from ht_poundage_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedger" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_poundage_ledger (user_id, username, truename, 
      account, `type`, `source`, 
      service_ratio, credit_ratio, manage_ratio, 
      investor_company_id, investor_company, project_type, 
      `status`, explan, create_user_id, 
      update_user_id, create_time, update_time
      )
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{truename,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{source,jdbcType=VARCHAR}, 
      #{serviceRatio,jdbcType=DECIMAL}, #{creditRatio,jdbcType=DECIMAL}, #{manageRatio,jdbcType=DECIMAL}, 
      #{investorCompanyId,jdbcType=INTEGER}, #{investorCompany,jdbcType=VARCHAR}, #{projectType,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{explan,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{updateUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedger" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_poundage_ledger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="truename != null" >
        truename,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="source != null" >
        `source`,
      </if>
      <if test="serviceRatio != null" >
        service_ratio,
      </if>
      <if test="creditRatio != null" >
        credit_ratio,
      </if>
      <if test="manageRatio != null" >
        manage_ratio,
      </if>
      <if test="investorCompanyId != null" >
        investor_company_id,
      </if>
      <if test="investorCompany != null" >
        investor_company,
      </if>
      <if test="projectType != null" >
        project_type,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="explan != null" >
        explan,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="serviceRatio != null" >
        #{serviceRatio,jdbcType=DECIMAL},
      </if>
      <if test="creditRatio != null" >
        #{creditRatio,jdbcType=DECIMAL},
      </if>
      <if test="manageRatio != null" >
        #{manageRatio,jdbcType=DECIMAL},
      </if>
      <if test="investorCompanyId != null" >
        #{investorCompanyId,jdbcType=INTEGER},
      </if>
      <if test="investorCompany != null" >
        #{investorCompany,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="explan != null" >
        #{explan,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedgerExample" resultType="java.lang.Integer" >
    select count(*) from ht_poundage_ledger
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_poundage_ledger
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.truename != null" >
        truename = #{record.truename,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.source != null" >
        `source` = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceRatio != null" >
        service_ratio = #{record.serviceRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.creditRatio != null" >
        credit_ratio = #{record.creditRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.manageRatio != null" >
        manage_ratio = #{record.manageRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.investorCompanyId != null" >
        investor_company_id = #{record.investorCompanyId,jdbcType=INTEGER},
      </if>
      <if test="record.investorCompany != null" >
        investor_company = #{record.investorCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.projectType != null" >
        project_type = #{record.projectType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.explan != null" >
        explan = #{record.explan,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_poundage_ledger
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      truename = #{record.truename,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=TINYINT},
      `source` = #{record.source,jdbcType=VARCHAR},
      service_ratio = #{record.serviceRatio,jdbcType=DECIMAL},
      credit_ratio = #{record.creditRatio,jdbcType=DECIMAL},
      manage_ratio = #{record.manageRatio,jdbcType=DECIMAL},
      investor_company_id = #{record.investorCompanyId,jdbcType=INTEGER},
      investor_company = #{record.investorCompany,jdbcType=VARCHAR},
      project_type = #{record.projectType,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=TINYINT},
      explan = #{record.explan,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedger" >
    update ht_poundage_ledger
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="source != null" >
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="serviceRatio != null" >
        service_ratio = #{serviceRatio,jdbcType=DECIMAL},
      </if>
      <if test="creditRatio != null" >
        credit_ratio = #{creditRatio,jdbcType=DECIMAL},
      </if>
      <if test="manageRatio != null" >
        manage_ratio = #{manageRatio,jdbcType=DECIMAL},
      </if>
      <if test="investorCompanyId != null" >
        investor_company_id = #{investorCompanyId,jdbcType=INTEGER},
      </if>
      <if test="investorCompany != null" >
        investor_company = #{investorCompany,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        project_type = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="explan != null" >
        explan = #{explan,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.config.dao.model.auto.PoundageLedger" >
    update ht_poundage_ledger
    set user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      truename = #{truename,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT},
      `source` = #{source,jdbcType=VARCHAR},
      service_ratio = #{serviceRatio,jdbcType=DECIMAL},
      credit_ratio = #{creditRatio,jdbcType=DECIMAL},
      manage_ratio = #{manageRatio,jdbcType=DECIMAL},
      investor_company_id = #{investorCompanyId,jdbcType=INTEGER},
      investor_company = #{investorCompany,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      explan = #{explan,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>