<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.auto.HjhUserAuthMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.auto.HjhUserAuth" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="auto_inves_status" property="autoInvesStatus" jdbcType="TINYINT" />
    <result column="auto_credit_status" property="autoCreditStatus" jdbcType="TINYINT" />
    <result column="auto_withdraw_status" property="autoWithdrawStatus" jdbcType="TINYINT" />
    <result column="auto_consume_status" property="autoConsumeStatus" jdbcType="TINYINT" />
    <result column="auto_create_time" property="autoCreateTime" jdbcType="INTEGER" />
    <result column="auto_order_id" property="autoOrderId" jdbcType="VARCHAR" />
    <result column="auto_credit_order_id" property="autoCreditOrderId" jdbcType="VARCHAR" />
    <result column="auto_credit_time" property="autoCreditTime" jdbcType="INTEGER" />
    <result column="auto_bid_time" property="autoBidTime" jdbcType="INTEGER" />
    <result column="auto_bid_end_time" property="autoBidEndTime" jdbcType="VARCHAR" />
    <result column="auto_payment_status" property="autoPaymentStatus" jdbcType="TINYINT" />
    <result column="auto_payment_time" property="autoPaymentTime" jdbcType="INTEGER" />
    <result column="auto_payment_end_time" property="autoPaymentEndTime" jdbcType="VARCHAR" />
    <result column="auto_repay_status" property="autoRepayStatus" jdbcType="TINYINT" />
    <result column="auto_repay_time" property="autoRepayTime" jdbcType="INTEGER" />
    <result column="auto_repay_end_time" property="autoRepayEndTime" jdbcType="VARCHAR" />
    <result column="inves_cancel_time" property="invesCancelTime" jdbcType="VARCHAR" />
    <result column="credit_cancel_time" property="creditCancelTime" jdbcType="VARCHAR" />
    <result column="payment_cancel_time" property="paymentCancelTime" jdbcType="VARCHAR" />
    <result column="repay_cancel_time" property="repayCancelTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_name, auto_inves_status, auto_credit_status, auto_withdraw_status, 
    auto_consume_status, auto_create_time, auto_order_id, auto_credit_order_id, auto_credit_time, 
    auto_bid_time, auto_bid_end_time, auto_payment_status, auto_payment_time, auto_payment_end_time, 
    auto_repay_status, auto_repay_time, auto_repay_end_time, inves_cancel_time, credit_cancel_time, 
    payment_cancel_time, repay_cancel_time, create_time, create_user, update_time, update_user, 
    del_flg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuthExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hyjf_hjh_user_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hyjf_hjh_user_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hyjf_hjh_user_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuthExample" >
    delete from hyjf_hjh_user_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuth" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_hjh_user_auth (user_id, user_name, auto_inves_status, 
      auto_credit_status, auto_withdraw_status, auto_consume_status, 
      auto_create_time, auto_order_id, auto_credit_order_id, 
      auto_credit_time, auto_bid_time, auto_bid_end_time, 
      auto_payment_status, auto_payment_time, auto_payment_end_time, 
      auto_repay_status, auto_repay_time, auto_repay_end_time, 
      inves_cancel_time, credit_cancel_time, payment_cancel_time, 
      repay_cancel_time, create_time, create_user, 
      update_time, update_user, del_flg
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{autoInvesStatus,jdbcType=TINYINT}, 
      #{autoCreditStatus,jdbcType=TINYINT}, #{autoWithdrawStatus,jdbcType=TINYINT}, #{autoConsumeStatus,jdbcType=TINYINT}, 
      #{autoCreateTime,jdbcType=INTEGER}, #{autoOrderId,jdbcType=VARCHAR}, #{autoCreditOrderId,jdbcType=VARCHAR}, 
      #{autoCreditTime,jdbcType=INTEGER}, #{autoBidTime,jdbcType=INTEGER}, #{autoBidEndTime,jdbcType=VARCHAR}, 
      #{autoPaymentStatus,jdbcType=TINYINT}, #{autoPaymentTime,jdbcType=INTEGER}, #{autoPaymentEndTime,jdbcType=VARCHAR}, 
      #{autoRepayStatus,jdbcType=TINYINT}, #{autoRepayTime,jdbcType=INTEGER}, #{autoRepayEndTime,jdbcType=VARCHAR}, 
      #{invesCancelTime,jdbcType=VARCHAR}, #{creditCancelTime,jdbcType=VARCHAR}, #{paymentCancelTime,jdbcType=VARCHAR}, 
      #{repayCancelTime,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{createUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER}, #{delFlg,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuth" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hyjf_hjh_user_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="autoInvesStatus != null" >
        auto_inves_status,
      </if>
      <if test="autoCreditStatus != null" >
        auto_credit_status,
      </if>
      <if test="autoWithdrawStatus != null" >
        auto_withdraw_status,
      </if>
      <if test="autoConsumeStatus != null" >
        auto_consume_status,
      </if>
      <if test="autoCreateTime != null" >
        auto_create_time,
      </if>
      <if test="autoOrderId != null" >
        auto_order_id,
      </if>
      <if test="autoCreditOrderId != null" >
        auto_credit_order_id,
      </if>
      <if test="autoCreditTime != null" >
        auto_credit_time,
      </if>
      <if test="autoBidTime != null" >
        auto_bid_time,
      </if>
      <if test="autoBidEndTime != null" >
        auto_bid_end_time,
      </if>
      <if test="autoPaymentStatus != null" >
        auto_payment_status,
      </if>
      <if test="autoPaymentTime != null" >
        auto_payment_time,
      </if>
      <if test="autoPaymentEndTime != null" >
        auto_payment_end_time,
      </if>
      <if test="autoRepayStatus != null" >
        auto_repay_status,
      </if>
      <if test="autoRepayTime != null" >
        auto_repay_time,
      </if>
      <if test="autoRepayEndTime != null" >
        auto_repay_end_time,
      </if>
      <if test="invesCancelTime != null" >
        inves_cancel_time,
      </if>
      <if test="creditCancelTime != null" >
        credit_cancel_time,
      </if>
      <if test="paymentCancelTime != null" >
        payment_cancel_time,
      </if>
      <if test="repayCancelTime != null" >
        repay_cancel_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="autoInvesStatus != null" >
        #{autoInvesStatus,jdbcType=TINYINT},
      </if>
      <if test="autoCreditStatus != null" >
        #{autoCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="autoWithdrawStatus != null" >
        #{autoWithdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="autoConsumeStatus != null" >
        #{autoConsumeStatus,jdbcType=TINYINT},
      </if>
      <if test="autoCreateTime != null" >
        #{autoCreateTime,jdbcType=INTEGER},
      </if>
      <if test="autoOrderId != null" >
        #{autoOrderId,jdbcType=VARCHAR},
      </if>
      <if test="autoCreditOrderId != null" >
        #{autoCreditOrderId,jdbcType=VARCHAR},
      </if>
      <if test="autoCreditTime != null" >
        #{autoCreditTime,jdbcType=INTEGER},
      </if>
      <if test="autoBidTime != null" >
        #{autoBidTime,jdbcType=INTEGER},
      </if>
      <if test="autoBidEndTime != null" >
        #{autoBidEndTime,jdbcType=VARCHAR},
      </if>
      <if test="autoPaymentStatus != null" >
        #{autoPaymentStatus,jdbcType=TINYINT},
      </if>
      <if test="autoPaymentTime != null" >
        #{autoPaymentTime,jdbcType=INTEGER},
      </if>
      <if test="autoPaymentEndTime != null" >
        #{autoPaymentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="autoRepayStatus != null" >
        #{autoRepayStatus,jdbcType=TINYINT},
      </if>
      <if test="autoRepayTime != null" >
        #{autoRepayTime,jdbcType=INTEGER},
      </if>
      <if test="autoRepayEndTime != null" >
        #{autoRepayEndTime,jdbcType=VARCHAR},
      </if>
      <if test="invesCancelTime != null" >
        #{invesCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="creditCancelTime != null" >
        #{creditCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="paymentCancelTime != null" >
        #{paymentCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="repayCancelTime != null" >
        #{repayCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuthExample" resultType="java.lang.Integer" >
    select count(*) from hyjf_hjh_user_auth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hyjf_hjh_user_auth
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.autoInvesStatus != null" >
        auto_inves_status = #{record.autoInvesStatus,jdbcType=TINYINT},
      </if>
      <if test="record.autoCreditStatus != null" >
        auto_credit_status = #{record.autoCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="record.autoWithdrawStatus != null" >
        auto_withdraw_status = #{record.autoWithdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="record.autoConsumeStatus != null" >
        auto_consume_status = #{record.autoConsumeStatus,jdbcType=TINYINT},
      </if>
      <if test="record.autoCreateTime != null" >
        auto_create_time = #{record.autoCreateTime,jdbcType=INTEGER},
      </if>
      <if test="record.autoOrderId != null" >
        auto_order_id = #{record.autoOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.autoCreditOrderId != null" >
        auto_credit_order_id = #{record.autoCreditOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.autoCreditTime != null" >
        auto_credit_time = #{record.autoCreditTime,jdbcType=INTEGER},
      </if>
      <if test="record.autoBidTime != null" >
        auto_bid_time = #{record.autoBidTime,jdbcType=INTEGER},
      </if>
      <if test="record.autoBidEndTime != null" >
        auto_bid_end_time = #{record.autoBidEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.autoPaymentStatus != null" >
        auto_payment_status = #{record.autoPaymentStatus,jdbcType=TINYINT},
      </if>
      <if test="record.autoPaymentTime != null" >
        auto_payment_time = #{record.autoPaymentTime,jdbcType=INTEGER},
      </if>
      <if test="record.autoPaymentEndTime != null" >
        auto_payment_end_time = #{record.autoPaymentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.autoRepayStatus != null" >
        auto_repay_status = #{record.autoRepayStatus,jdbcType=TINYINT},
      </if>
      <if test="record.autoRepayTime != null" >
        auto_repay_time = #{record.autoRepayTime,jdbcType=INTEGER},
      </if>
      <if test="record.autoRepayEndTime != null" >
        auto_repay_end_time = #{record.autoRepayEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.invesCancelTime != null" >
        inves_cancel_time = #{record.invesCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creditCancelTime != null" >
        credit_cancel_time = #{record.creditCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentCancelTime != null" >
        payment_cancel_time = #{record.paymentCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.repayCancelTime != null" >
        repay_cancel_time = #{record.repayCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.delFlg != null" >
        del_flg = #{record.delFlg,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hyjf_hjh_user_auth
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      auto_inves_status = #{record.autoInvesStatus,jdbcType=TINYINT},
      auto_credit_status = #{record.autoCreditStatus,jdbcType=TINYINT},
      auto_withdraw_status = #{record.autoWithdrawStatus,jdbcType=TINYINT},
      auto_consume_status = #{record.autoConsumeStatus,jdbcType=TINYINT},
      auto_create_time = #{record.autoCreateTime,jdbcType=INTEGER},
      auto_order_id = #{record.autoOrderId,jdbcType=VARCHAR},
      auto_credit_order_id = #{record.autoCreditOrderId,jdbcType=VARCHAR},
      auto_credit_time = #{record.autoCreditTime,jdbcType=INTEGER},
      auto_bid_time = #{record.autoBidTime,jdbcType=INTEGER},
      auto_bid_end_time = #{record.autoBidEndTime,jdbcType=VARCHAR},
      auto_payment_status = #{record.autoPaymentStatus,jdbcType=TINYINT},
      auto_payment_time = #{record.autoPaymentTime,jdbcType=INTEGER},
      auto_payment_end_time = #{record.autoPaymentEndTime,jdbcType=VARCHAR},
      auto_repay_status = #{record.autoRepayStatus,jdbcType=TINYINT},
      auto_repay_time = #{record.autoRepayTime,jdbcType=INTEGER},
      auto_repay_end_time = #{record.autoRepayEndTime,jdbcType=VARCHAR},
      inves_cancel_time = #{record.invesCancelTime,jdbcType=VARCHAR},
      credit_cancel_time = #{record.creditCancelTime,jdbcType=VARCHAR},
      payment_cancel_time = #{record.paymentCancelTime,jdbcType=VARCHAR},
      repay_cancel_time = #{record.repayCancelTime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      del_flg = #{record.delFlg,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuth" >
    update hyjf_hjh_user_auth
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="autoInvesStatus != null" >
        auto_inves_status = #{autoInvesStatus,jdbcType=TINYINT},
      </if>
      <if test="autoCreditStatus != null" >
        auto_credit_status = #{autoCreditStatus,jdbcType=TINYINT},
      </if>
      <if test="autoWithdrawStatus != null" >
        auto_withdraw_status = #{autoWithdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="autoConsumeStatus != null" >
        auto_consume_status = #{autoConsumeStatus,jdbcType=TINYINT},
      </if>
      <if test="autoCreateTime != null" >
        auto_create_time = #{autoCreateTime,jdbcType=INTEGER},
      </if>
      <if test="autoOrderId != null" >
        auto_order_id = #{autoOrderId,jdbcType=VARCHAR},
      </if>
      <if test="autoCreditOrderId != null" >
        auto_credit_order_id = #{autoCreditOrderId,jdbcType=VARCHAR},
      </if>
      <if test="autoCreditTime != null" >
        auto_credit_time = #{autoCreditTime,jdbcType=INTEGER},
      </if>
      <if test="autoBidTime != null" >
        auto_bid_time = #{autoBidTime,jdbcType=INTEGER},
      </if>
      <if test="autoBidEndTime != null" >
        auto_bid_end_time = #{autoBidEndTime,jdbcType=VARCHAR},
      </if>
      <if test="autoPaymentStatus != null" >
        auto_payment_status = #{autoPaymentStatus,jdbcType=TINYINT},
      </if>
      <if test="autoPaymentTime != null" >
        auto_payment_time = #{autoPaymentTime,jdbcType=INTEGER},
      </if>
      <if test="autoPaymentEndTime != null" >
        auto_payment_end_time = #{autoPaymentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="autoRepayStatus != null" >
        auto_repay_status = #{autoRepayStatus,jdbcType=TINYINT},
      </if>
      <if test="autoRepayTime != null" >
        auto_repay_time = #{autoRepayTime,jdbcType=INTEGER},
      </if>
      <if test="autoRepayEndTime != null" >
        auto_repay_end_time = #{autoRepayEndTime,jdbcType=VARCHAR},
      </if>
      <if test="invesCancelTime != null" >
        inves_cancel_time = #{invesCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="creditCancelTime != null" >
        credit_cancel_time = #{creditCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="paymentCancelTime != null" >
        payment_cancel_time = #{paymentCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="repayCancelTime != null" >
        repay_cancel_time = #{repayCancelTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.user.dao.model.auto.HjhUserAuth" >
    update hyjf_hjh_user_auth
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      auto_inves_status = #{autoInvesStatus,jdbcType=TINYINT},
      auto_credit_status = #{autoCreditStatus,jdbcType=TINYINT},
      auto_withdraw_status = #{autoWithdrawStatus,jdbcType=TINYINT},
      auto_consume_status = #{autoConsumeStatus,jdbcType=TINYINT},
      auto_create_time = #{autoCreateTime,jdbcType=INTEGER},
      auto_order_id = #{autoOrderId,jdbcType=VARCHAR},
      auto_credit_order_id = #{autoCreditOrderId,jdbcType=VARCHAR},
      auto_credit_time = #{autoCreditTime,jdbcType=INTEGER},
      auto_bid_time = #{autoBidTime,jdbcType=INTEGER},
      auto_bid_end_time = #{autoBidEndTime,jdbcType=VARCHAR},
      auto_payment_status = #{autoPaymentStatus,jdbcType=TINYINT},
      auto_payment_time = #{autoPaymentTime,jdbcType=INTEGER},
      auto_payment_end_time = #{autoPaymentEndTime,jdbcType=VARCHAR},
      auto_repay_status = #{autoRepayStatus,jdbcType=TINYINT},
      auto_repay_time = #{autoRepayTime,jdbcType=INTEGER},
      auto_repay_end_time = #{autoRepayEndTime,jdbcType=VARCHAR},
      inves_cancel_time = #{invesCancelTime,jdbcType=VARCHAR},
      credit_cancel_time = #{creditCancelTime,jdbcType=VARCHAR},
      payment_cancel_time = #{paymentCancelTime,jdbcType=VARCHAR},
      repay_cancel_time = #{repayCancelTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>