<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallcenterHztInvestCustomizeMapper">

	<resultMap id="selectBorrowInvestListMap" type="com.hyjf.am.trade.dao.model.customize.callcenter.CallcenterHztInvestCustomize">
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="operating_deck" property="operatingDeck" jdbcType="VARCHAR" />
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="userid" property="userId" jdbcType="VARCHAR" />
		<result column="user_property" property="tenderUserAttribute" jdbcType="VARCHAR" />
		<result column="resendMessage" property="resendMessage" jdbcType="VARCHAR" />
		<result column="investType" property="investType" jdbcType="VARCHAR" />
		<result column="borrowExtraYield" property="borrowExtraYield" jdbcType="DECIMAL" />
	</resultMap>
	<select id="getBorrowInvestList" resultMap="selectBorrowInvestListMap" parameterType="com.hyjf.am.resquest.callcenter.CallcenterHztInvestRequest">
		SELECT
		  info.name AS borrow_name,
		  bt.user_name AS username,
		  bt.invite_user_name AS referrer_name,
		  bt.borrow_nid,
		  bt.user_id AS userid,
		  bt.nid AS nid,
		  CONCAT(b.borrow_apr, '%') borrow_apr,
		  CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
		  CASE WHEN b.`status` = 4 
		  THEN 1
		  WHEN b.`status` = 5
		  THEN 1
		  ELSE 0 END  resendMessage,
		  bs.`name` AS borrow_style_name,
		  FORMAT(bt.account, 2) AS account,
		  bt.client AS operating_deck,
		  bt.tender_user_attribute AS user_property,
		  bt.invest_type AS investType,
		  iii.borrow_extra_yield AS borrowExtraYield,
		  FROM_UNIXTIME( bt.add_time, '%Y-%m-%d %H:%i:%s' ) AS addtime
		FROM
			ht_borrow_tender bt
		  INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
		  INNER JOIN ht_borrow_info info ON bt.borrow_nid = info.borrow_nid
		  LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		  LEFT JOIN ht_increase_interest_invest iii ON iii.tender_id = bt.id
	    <include refid="Where_Clause" />
		  ORDER BY
		    bt.add_time DESC, bt.id DESC
		<if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitSize}
	    </if>
	</select>
	<sql id="Where_Clause">
		<where>
			<!-- 用户ID -->
			<if test="userId != null and userId !=''">
				AND bt.user_id = #{userId}
			</if>
		</where>
	</sql>
</mapper>