<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallcenterHztInvestCustomizeMapper">

	<resultMap id="selectBorrowInvestListMap" type="com.hyjf.am.trade.dao.model.customize.callcenter.CallcenterHztInvestCustomize">
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="operating_deck" property="operatingDeck" jdbcType="VARCHAR" />
		<result column="addtime" property="addtime" jdbcType="VARCHAR" />
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="userid" property="userId" jdbcType="VARCHAR" />
		<result column="user_property" property="tenderUserAttribute" jdbcType="VARCHAR" />
		<result column="resendMessage" property="resendMessage" jdbcType="VARCHAR" />
		<result column="investType" property="investType" jdbcType="VARCHAR" />
		<result column="borrowExtraYield" property="borrowExtraYield" jdbcType="DECIMAL" />
	</resultMap>
	<select id="getBorrowInvestList" resultMap="selectBorrowInvestListMap" parameterType="com.hyjf.am.resquest.callcenter.CallcenterHztInvestRequest">
		SELECT
		  info.name AS borrow_name,
		  bt.user_name AS username,
		  bt.invite_user_name AS referrer_name,
		  bt.borrow_nid,
		  bt.user_id AS userid,
		  bt.nid AS nid,
		  CONCAT(b.borrow_apr, '%') borrow_apr,
		  CASE WHEN b.borrow_style = 'endday' THEN CONCAT(b.borrow_period, '天') ELSE CONCAT(b.borrow_period, '个月') END borrow_period,
		  CASE WHEN b.`status` = 4 
		  THEN 1
		  WHEN b.`status` = 5
		  THEN 1
		  ELSE 0 END  resendMessage,
		  bs.`name` AS borrow_style_name,
		  FORMAT(bt.account, 2) AS account,
		  bt.client AS operating_deck,
		  bt.tender_user_attribute AS user_property,
		  bt.invest_type AS investType,
		  iii.borrow_extra_yield AS borrowExtraYield,
		  FROM_UNIXTIME( bt.add_time, '%Y-%m-%d %H:%i:%s' ) AS addtime
		FROM
			ht_borrow_tender bt
		  INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
		  INNER JOIN ht_borrow_info info ON bt.borrow_nid = info.borrow_nid
		  LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		  LEFT JOIN ht_increase_interest_invest iii ON iii.tender_id = bt.id
	    <include refid="Where_Clause" />
		  ORDER BY
		    bt.add_time DESC, bt.id DESC
		<if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitSize}
	    </if>
	</select>
	<sql id="Where_Clause">
		<where>
			<!-- 用户ID -->
			<if test="userId != null and userId !=''">
				AND bt.user_id = #{userId}
			</if>
		</where>
	</sql>
	

	<resultMap id="ResultMap" type="com.hyjf.am.trade.dao.model.customize.callcenter.CallcenterHtjInvestCustomize">
		<!-- 推荐人 -->
		<result column="referee_name" property="refereeUserName" jdbcType="VARCHAR" />
		<!-- 计划编号 -->
		<result column="plan_nid" property="debtPlanNid" jdbcType="VARCHAR" />
		<!-- 预期年化 -->
		<result column="expect_apr" property="expectApr" jdbcType="VARCHAR" />
		<!-- 期限 -->
		<result column="debt_lock_period" property="debtLockPeriod" jdbcType="VARCHAR" />
		<!-- 加入金额 -->
		<result column="accede_account" property="accedeAccount" jdbcType="VARCHAR" />
		<!-- 还款方式 -->
		<result column="repayment_method" property="repaymentMethod" jdbcType="VARCHAR" />
		<!-- 用户属性 -->
		<result column="user_attribute" property="userAttribute" jdbcType="VARCHAR" />
		<!-- 平台 -->
		<result column="client" property="platform" jdbcType="VARCHAR" />
		<!-- 加入时间 -->
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getHtjBorrowInvestList" resultMap="ResultMap" parameterType="com.hyjf.am.resquest.callcenter.CallcenterHtjInvestRequest">
		SELECT
			hdpa.invite_user_name referee_name,
			hdpa.plan_nid,
			CONCAT(hdp.expect_apr,'%') expect_apr,
			CONCAT(hdp.debt_lock_period,'个月') debt_lock_period,
			hdpa.accede_account,
			'到期一次性还本付息' repayment_method,
			CASE hdpa.user_attribute
			WHEN 0 THEN
				'无主单'
			WHEN 1 THEN
				'有主单'
			WHEN 2 THEN
				'线下员工'
			WHEN 3 THEN
				'线上员工'
			ELSE
				''
			END AS user_attribute,
			hdpa.client client,
			CASE
				WHEN hcc.coupon_type = '1' THEN '体验金'
				WHEN hcc.coupon_type = '2' THEN '加息券'
				WHEN hcc.coupon_type = '3' THEN '代金券'
			ELSE
				'现金'
			END AS tender_type,
			FROM_UNIXTIME(hdpa.create_time,'%Y-%m-%d %H:%i') AS create_time,
			hdpa.create_time AS add_time_long
		FROM
			ht_debt_plan_accede hdpa
		LEFT JOIN 
			ht_debt_plan hdp ON hdpa.plan_nid = hdp.debt_plan_nid
		LEFT JOIN ht_coupon_real_tender hcrt ON hcrt.real_tender_id = hdpa.accede_order_id	
		LEFT JOIN ht_coupon_tender hct ON hct.order_id = hcrt.coupon_tender_id	
		LEFT JOIN ht_coupon_user hcu ON hcu.id = hct.coupon_grant_id
		LEFT JOIN ht_coupon_config hcc ON hcc.coupon_code = hcu.coupon_code
		<include refid="Where_Htj_Clause" />
		ORDER BY hdpa.create_time DESC
		<if test="limitStart != null and limitStart >= 0" >
			limit #{limitStart} , #{limitSize}
		</if>
	</select>
	<sql id="Where_Htj_Clause">
		<where>
			<if test="userName != null and userName !=''">
				AND hdpa.user_name = #{userName}
			</if>
		</where>
	</sql>
</mapper>