<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallcenterRechargeCustomizeMapper">
	<resultMap id="RechargeMapResult"
		type="com.hyjf.am.trade.dao.model.customize.callcenter.CallCenterRechargeCustomize">
		<result column="id" property="id" />
		<result column="nid" property="nid" /> <!-- 订单id -->
		<result column="user_id" property="userId" /> <!-- 用户名 -->
		<result column="username" property="username" /> <!-- 用户名 -->
		<result column="mobile" property="mobile" /> <!-- 手机号 -->
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" /> <!-- 推荐人用户名（当前） -->
		<result column="referrer_user_id" property="referrerUserId" jdbcType="VARCHAR" /> <!-- 推荐人ID（当前） -->
		<result column="referrer_true_name" property="referrerTrueName" jdbcType="VARCHAR" /><!-- 推荐人姓名（当前） -->
		<result column="referrer_region_name" property="referrerRegionName" jdbcType="VARCHAR" /><!-- 推荐人所属一级分部（当前） -->
		<result column="referrer_branch_name" property="referrerBranchName" jdbcType="VARCHAR" /><!-- 推荐人所属二级分部（当前） -->
		<result column="referrer_department_name" property="referrerDepartmentName" jdbcType="VARCHAR" /><!-- 推荐人所属团队（当前） -->
		<result column="bank_name" property="bankName" /> <!-- 充值银行 -->
		<result column="type" property="type" /> <!-- 充值方式 -->
		<result column="gate_type" property="gateType" /> <!-- 充值类型 -->
		<result column="status" property="status" /> <!-- z状态 -->
		<result column="money" property="money" /> <!-- 充值金额 -->
		<result column="balance" property="balance" /> <!-- 可用金额 -->
		<result column="fee" property="fee" /> <!-- 手续费 -->
		<result column="dianfuFee" property="dianfuFee" /> <!-- 垫付手续费 -->
		<result column="client" property="client" /> <!-- 客户端 -->
		<result column="create_time" property="createTime" /> <!-- 交易时间 -->
		<result column="message" property="message" /> <!-- 失败原因 -->
		<result column="bank_seq_no" property="seqNo" /><!-- 交易流水号 -->
	</resultMap>

	<sql id="where-all-page-condition">
		<if test="userId != null and userId != 0">
			AND r.user_id = #{userId}
		</if>
	</sql>

	<select id="queryRechargeList" resultMap="RechargeMapResult"
		parameterType="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallcenterRechargeCustomizeMapper">
		SELECT
			t.username,
			#{mobile} AS mobile,
			t.nid,
			t.gate_type,
			t.money,
			t.fee,
			0 AS dianfuFee,
			t.balance,
			t.status,
			t.message,
			t.client,
			t.create_time,
			t.bank_seq_no,
			t.isBank,
			t.payment AS bank_name
		FROM
			(SELECT
				r.username,
				r.nid,
				r.gate_type,
				r.money,
				r.fee,
				r.balance,
				r.payment,
				r.`status` AS status ,
				r.`is_bank` AS isBank ,
				FROM_UNIXTIME(r.add_time,'%Y-%m-%d %H:%i:%S') as create_time,
				CASE r.client WHEN 0 THEN 'PC'
				WHEN 1 THEN '微信' WHEN 2 THEN
				'android' WHEN
				3 THEN 'iOS' WHEN 4 THEN '线下充值' ELSE r.client
				END AS client,
				r.message,
				r.bank_seq_no
				FROM
				ht_account_recharge r
				WHERE
				1=1
				<include refid="where-all-page-condition" />
				ORDER BY r.id DESC
				<if test="limitStart >= 0">
					LIMIT #{limitStart} , #{limitEnd}
				</if>) t
	</select>
</mapper>

