<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallcenterWithdrawCustomizeMapper">

	<select id="getWithdrawRecordList" resultType="com.hyjf.am.trade.dao.model.customize.callcenter.CallCenterWithdrawCustomize"
			parameterType="com.hyjf.am.resquest.callcenter.CallCenterBaseRequest">
		SELECT
		a.bank_flag AS bankFlag,
		a.seq_no AS seqNo,
		#{userName} AS username,
		#{mobile} AS mobile,
		a.nid AS ordid,
		a.total,
		a.fee,
		a.credited,
		a.bank AS bank,
		a.account,
		FROM_UNIXTIME(
		a.add_time,
		'%Y-%m-%d %H:%i:%s'
		) AS addtimeStr,
		a.client AS clientStr,
		a.`status` AS `status`,
		a.reason AS reason
		FROM
		ht_account_withdraw a
		WHERE 1=1
		<if test="userId != null and userId != ''">
			AND a.user_id = #{userId}
		</if>
		ORDER BY
		a.add_time DESC
		<if test="limitStart >= 0" >
			limit #{limitStart} , #{limitEnd}
		</if>
	</select>

</mapper>