<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallCenterAccountDetailCustomizeMapper">
	<resultMap id="AccountDetailMapResult"
		type="com.hyjf.am.trade.dao.model.customize.callcenter.CallCenterAccountDetailCustomize">
		<result column="id" property="id" />
		<result column="user_id" property="userId" /> <!-- 用户id -->
		<result column="user_name" property="userName" /> <!-- 用户名 -->
		<result column="referrer_name" property="referrerName" /> <!-- 推荐人 -->
		<result column="referrer_group" property="referrerGroup" /> <!-- 推荐组 -->
		<result column="nid" property="nid" /> <!-- 订单号 -->
		<result column="type" property="type" /> <!-- 操作类型 -->
		<result column="trade_type" property="tradeType" /> <!-- 交易类型  -->
		<result column="amount" property="amount" /> <!-- 操作金额  -->
		<result column="balance" property="balance" /> <!-- 可用金额 -->
		<result column="frost" property="frost" /> <!-- 冻结金额 -->
		<result column="planBalance" property="planBalance"/><!-- 汇添金可用金额 -->
		<result column="planFrost" property="planFrost"/><!-- 汇添金冻结金额 -->
		<result column="remark" property="remark" /> <!-- 备注  -->
		<result column="create_time" property="createTime" /> <!-- 交易时间  -->
		<result column="is_bank" property="isBank" /> <!-- 是否是银行存管 -->
		<result column="account_id" property="accountId" /> <!-- 电子账号 -->
		<result column="seq_no" property="seqNo" /> <!-- 交易流水号  -->
		<result column="bank_balance" property="bankBalance" /> <!-- 银行存管余额  -->
		<result column="bank_frost" property="bankFrost" /> <!-- 银行存管冻结金额-->
		<result column="bank_total" property="bankTotal" /> <!-- 银行存管总资产-->
		<result column="check_status" property="checkStatus" /> <!-- 对账状态 -->
		<result column="trade_status" property="tradeStatus" /> <!-- 交易状态  -->
	</resultMap>
	<sql id="where-all-page-condition">
		<if test="userId != null and userId != 0">
			AND l.user_id = #{userId}
		</if>
	</sql>
	<select id="queryAccountDetails" resultMap="AccountDetailMapResult"
		parameterType="com.hyjf.am.trade.dao.mapper.customize.callcenter.CallCenterAccountDetailCustomizeMapper">
		SELECT
			l.id,
			#{userName} AS user_name,
			#{referrerName} AS referrer_name,
			l.nid,
			CASE l.type
		WHEN 1 THEN
			'收入'
		WHEN 2 THEN
			'支出'
		WHEN 3 THEN
			'冻结'
		WHEN 4 THEN
			'解冻'
		ELSE
			'其它'
		END AS type,
		 t.`name` AS trade_type,
		 l.amount,
		 l.balance,
		 IFNULL(l.frost, 0) AS frost,
		 IFNULL(l.plan_balance, 0) AS planBalance,
		 IFNULL(l.plan_frost, 0) AS planFrost,
		 l.remark,
		 FROM_UNIXTIME(
			l.create_time,
			'%Y-%m-%d %H:%i:%S'
		) AS 'create_time',
		 l.account_id,
		 l.is_bank,
		 l.seq_no,
		 IFNULL(l.bank_total, 0) AS bank_total,
		 IFNULL(l.bank_balance, 0) AS bank_balance,
		 IFNULL(l.bank_frost, 0) AS bank_frost,
		 l.trade_status,
		 l.check_status
		FROM
			ht_account_list l
		LEFT JOIN ht_account_trade t ON l.trade = t.`value`
		WHERE 1=1
		<include refid="where-all-page-condition"/>
		ORDER BY l.create_time DESC, l.id DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
</mapper>

