<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.CreditRepayMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.CreditRepay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="credit_user_id" property="creditUserId" jdbcType="INTEGER" />
    <result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="bid_nid" property="bidNid" jdbcType="VARCHAR" />
    <result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
    <result column="credit_tender_nid" property="creditTenderNid" jdbcType="VARCHAR" />
    <result column="assign_nid" property="assignNid" jdbcType="VARCHAR" />
    <result column="auth_code" property="authCode" jdbcType="VARCHAR" />
    <result column="assign_capital" property="assignCapital" jdbcType="DECIMAL" />
    <result column="assign_account" property="assignAccount" jdbcType="DECIMAL" />
    <result column="assign_interest" property="assignInterest" jdbcType="DECIMAL" />
    <result column="assign_interest_advance" property="assignInterestAdvance" jdbcType="DECIMAL" />
    <result column="assign_price" property="assignPrice" jdbcType="DECIMAL" />
    <result column="assign_pay" property="assignPay" jdbcType="DECIMAL" />
    <result column="assign_repay_account" property="assignRepayAccount" jdbcType="DECIMAL" />
    <result column="assign_repay_capital" property="assignRepayCapital" jdbcType="DECIMAL" />
    <result column="assign_repay_interest" property="assignRepayInterest" jdbcType="DECIMAL" />
    <result column="assign_repay_end_time" property="assignRepayEndTime" jdbcType="INTEGER" />
    <result column="assign_repay_last_time" property="assignRepayLastTime" jdbcType="INTEGER" />
    <result column="assign_repay_next_time" property="assignRepayNextTime" jdbcType="INTEGER" />
    <result column="assign_repay_yes_time" property="assignRepayYesTime" jdbcType="INTEGER" />
    <result column="assign_repay_period" property="assignRepayPeriod" jdbcType="INTEGER" />
    <result column="assign_create_date" property="assignCreateDate" jdbcType="INTEGER" />
    <result column="client" property="client" jdbcType="INTEGER" />
    <result column="recover_period" property="recoverPeriod" jdbcType="INTEGER" />
    <result column="manage_fee" property="manageFee" jdbcType="DECIMAL" />
    <result column="credit_repay_order_id" property="creditRepayOrderId" jdbcType="VARCHAR" />
    <result column="credit_repay_order_date" property="creditRepayOrderDate" jdbcType="VARCHAR" />
    <result column="advance_status" property="advanceStatus" jdbcType="TINYINT" />
    <result column="charge_days" property="chargeDays" jdbcType="INTEGER" />
    <result column="charge_interest" property="chargeInterest" jdbcType="DECIMAL" />
    <result column="delay_days" property="delayDays" jdbcType="INTEGER" />
    <result column="delay_interest" property="delayInterest" jdbcType="DECIMAL" />
    <result column="late_days" property="lateDays" jdbcType="INTEGER" />
    <result column="late_interest" property="lateInterest" jdbcType="DECIMAL" />
    <result column="debt_status" property="debtStatus" jdbcType="TINYINT" />
    <result column="add_ip" property="addIp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="charge_penalty_interest" property="chargePenaltyInterest" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_name, credit_user_id, credit_user_name, `status`, bid_nid, credit_nid, 
    credit_tender_nid, assign_nid, auth_code, assign_capital, assign_account, assign_interest, 
    assign_interest_advance, assign_price, assign_pay, assign_repay_account, assign_repay_capital, 
    assign_repay_interest, assign_repay_end_time, assign_repay_last_time, assign_repay_next_time, 
    assign_repay_yes_time, assign_repay_period, assign_create_date, client, recover_period, 
    manage_fee, credit_repay_order_id, credit_repay_order_date, advance_status, charge_days, 
    charge_interest, delay_days, delay_interest, late_days, late_interest, debt_status, 
    add_ip, create_time, charge_penalty_interest
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_credit_repay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_credit_repay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_credit_repay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepayExample" >
    delete from ht_credit_repay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepay" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_credit_repay (user_id, user_name, credit_user_id, 
      credit_user_name, `status`, bid_nid, 
      credit_nid, credit_tender_nid, assign_nid, 
      auth_code, assign_capital, assign_account, 
      assign_interest, assign_interest_advance, 
      assign_price, assign_pay, assign_repay_account, 
      assign_repay_capital, assign_repay_interest, 
      assign_repay_end_time, assign_repay_last_time, 
      assign_repay_next_time, assign_repay_yes_time, 
      assign_repay_period, assign_create_date, client, 
      recover_period, manage_fee, credit_repay_order_id, 
      credit_repay_order_date, advance_status, charge_days, 
      charge_interest, delay_days, delay_interest, 
      late_days, late_interest, debt_status, 
      add_ip, create_time, charge_penalty_interest
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{creditUserId,jdbcType=INTEGER}, 
      #{creditUserName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{bidNid,jdbcType=VARCHAR}, 
      #{creditNid,jdbcType=VARCHAR}, #{creditTenderNid,jdbcType=VARCHAR}, #{assignNid,jdbcType=VARCHAR}, 
      #{authCode,jdbcType=VARCHAR}, #{assignCapital,jdbcType=DECIMAL}, #{assignAccount,jdbcType=DECIMAL}, 
      #{assignInterest,jdbcType=DECIMAL}, #{assignInterestAdvance,jdbcType=DECIMAL}, 
      #{assignPrice,jdbcType=DECIMAL}, #{assignPay,jdbcType=DECIMAL}, #{assignRepayAccount,jdbcType=DECIMAL}, 
      #{assignRepayCapital,jdbcType=DECIMAL}, #{assignRepayInterest,jdbcType=DECIMAL}, 
      #{assignRepayEndTime,jdbcType=INTEGER}, #{assignRepayLastTime,jdbcType=INTEGER}, 
      #{assignRepayNextTime,jdbcType=INTEGER}, #{assignRepayYesTime,jdbcType=INTEGER}, 
      #{assignRepayPeriod,jdbcType=INTEGER}, #{assignCreateDate,jdbcType=INTEGER}, #{client,jdbcType=INTEGER}, 
      #{recoverPeriod,jdbcType=INTEGER}, #{manageFee,jdbcType=DECIMAL}, #{creditRepayOrderId,jdbcType=VARCHAR}, 
      #{creditRepayOrderDate,jdbcType=VARCHAR}, #{advanceStatus,jdbcType=TINYINT}, #{chargeDays,jdbcType=INTEGER}, 
      #{chargeInterest,jdbcType=DECIMAL}, #{delayDays,jdbcType=INTEGER}, #{delayInterest,jdbcType=DECIMAL}, 
      #{lateDays,jdbcType=INTEGER}, #{lateInterest,jdbcType=DECIMAL}, #{debtStatus,jdbcType=TINYINT}, 
      #{addIp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{chargePenaltyInterest,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepay" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_credit_repay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="creditUserId != null" >
        credit_user_id,
      </if>
      <if test="creditUserName != null" >
        credit_user_name,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="bidNid != null" >
        bid_nid,
      </if>
      <if test="creditNid != null" >
        credit_nid,
      </if>
      <if test="creditTenderNid != null" >
        credit_tender_nid,
      </if>
      <if test="assignNid != null" >
        assign_nid,
      </if>
      <if test="authCode != null" >
        auth_code,
      </if>
      <if test="assignCapital != null" >
        assign_capital,
      </if>
      <if test="assignAccount != null" >
        assign_account,
      </if>
      <if test="assignInterest != null" >
        assign_interest,
      </if>
      <if test="assignInterestAdvance != null" >
        assign_interest_advance,
      </if>
      <if test="assignPrice != null" >
        assign_price,
      </if>
      <if test="assignPay != null" >
        assign_pay,
      </if>
      <if test="assignRepayAccount != null" >
        assign_repay_account,
      </if>
      <if test="assignRepayCapital != null" >
        assign_repay_capital,
      </if>
      <if test="assignRepayInterest != null" >
        assign_repay_interest,
      </if>
      <if test="assignRepayEndTime != null" >
        assign_repay_end_time,
      </if>
      <if test="assignRepayLastTime != null" >
        assign_repay_last_time,
      </if>
      <if test="assignRepayNextTime != null" >
        assign_repay_next_time,
      </if>
      <if test="assignRepayYesTime != null" >
        assign_repay_yes_time,
      </if>
      <if test="assignRepayPeriod != null" >
        assign_repay_period,
      </if>
      <if test="assignCreateDate != null" >
        assign_create_date,
      </if>
      <if test="client != null" >
        client,
      </if>
      <if test="recoverPeriod != null" >
        recover_period,
      </if>
      <if test="manageFee != null" >
        manage_fee,
      </if>
      <if test="creditRepayOrderId != null" >
        credit_repay_order_id,
      </if>
      <if test="creditRepayOrderDate != null" >
        credit_repay_order_date,
      </if>
      <if test="advanceStatus != null" >
        advance_status,
      </if>
      <if test="chargeDays != null" >
        charge_days,
      </if>
      <if test="chargeInterest != null" >
        charge_interest,
      </if>
      <if test="delayDays != null" >
        delay_days,
      </if>
      <if test="delayInterest != null" >
        delay_interest,
      </if>
      <if test="lateDays != null" >
        late_days,
      </if>
      <if test="lateInterest != null" >
        late_interest,
      </if>
      <if test="debtStatus != null" >
        debt_status,
      </if>
      <if test="addIp != null" >
        add_ip,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="chargePenaltyInterest != null" >
        charge_penalty_interest,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="creditUserId != null" >
        #{creditUserId,jdbcType=INTEGER},
      </if>
      <if test="creditUserName != null" >
        #{creditUserName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="bidNid != null" >
        #{bidNid,jdbcType=VARCHAR},
      </if>
      <if test="creditNid != null" >
        #{creditNid,jdbcType=VARCHAR},
      </if>
      <if test="creditTenderNid != null" >
        #{creditTenderNid,jdbcType=VARCHAR},
      </if>
      <if test="assignNid != null" >
        #{assignNid,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="assignCapital != null" >
        #{assignCapital,jdbcType=DECIMAL},
      </if>
      <if test="assignAccount != null" >
        #{assignAccount,jdbcType=DECIMAL},
      </if>
      <if test="assignInterest != null" >
        #{assignInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignInterestAdvance != null" >
        #{assignInterestAdvance,jdbcType=DECIMAL},
      </if>
      <if test="assignPrice != null" >
        #{assignPrice,jdbcType=DECIMAL},
      </if>
      <if test="assignPay != null" >
        #{assignPay,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayAccount != null" >
        #{assignRepayAccount,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayCapital != null" >
        #{assignRepayCapital,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayInterest != null" >
        #{assignRepayInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayEndTime != null" >
        #{assignRepayEndTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayLastTime != null" >
        #{assignRepayLastTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayNextTime != null" >
        #{assignRepayNextTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayYesTime != null" >
        #{assignRepayYesTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayPeriod != null" >
        #{assignRepayPeriod,jdbcType=INTEGER},
      </if>
      <if test="assignCreateDate != null" >
        #{assignCreateDate,jdbcType=INTEGER},
      </if>
      <if test="client != null" >
        #{client,jdbcType=INTEGER},
      </if>
      <if test="recoverPeriod != null" >
        #{recoverPeriod,jdbcType=INTEGER},
      </if>
      <if test="manageFee != null" >
        #{manageFee,jdbcType=DECIMAL},
      </if>
      <if test="creditRepayOrderId != null" >
        #{creditRepayOrderId,jdbcType=VARCHAR},
      </if>
      <if test="creditRepayOrderDate != null" >
        #{creditRepayOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="advanceStatus != null" >
        #{advanceStatus,jdbcType=TINYINT},
      </if>
      <if test="chargeDays != null" >
        #{chargeDays,jdbcType=INTEGER},
      </if>
      <if test="chargeInterest != null" >
        #{chargeInterest,jdbcType=DECIMAL},
      </if>
      <if test="delayDays != null" >
        #{delayDays,jdbcType=INTEGER},
      </if>
      <if test="delayInterest != null" >
        #{delayInterest,jdbcType=DECIMAL},
      </if>
      <if test="lateDays != null" >
        #{lateDays,jdbcType=INTEGER},
      </if>
      <if test="lateInterest != null" >
        #{lateInterest,jdbcType=DECIMAL},
      </if>
      <if test="debtStatus != null" >
        #{debtStatus,jdbcType=TINYINT},
      </if>
      <if test="addIp != null" >
        #{addIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chargePenaltyInterest != null" >
        #{chargePenaltyInterest,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepayExample" resultType="java.lang.Integer" >
    select count(*) from ht_credit_repay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_credit_repay
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.creditUserId != null" >
        credit_user_id = #{record.creditUserId,jdbcType=INTEGER},
      </if>
      <if test="record.creditUserName != null" >
        credit_user_name = #{record.creditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.bidNid != null" >
        bid_nid = #{record.bidNid,jdbcType=VARCHAR},
      </if>
      <if test="record.creditNid != null" >
        credit_nid = #{record.creditNid,jdbcType=VARCHAR},
      </if>
      <if test="record.creditTenderNid != null" >
        credit_tender_nid = #{record.creditTenderNid,jdbcType=VARCHAR},
      </if>
      <if test="record.assignNid != null" >
        assign_nid = #{record.assignNid,jdbcType=VARCHAR},
      </if>
      <if test="record.authCode != null" >
        auth_code = #{record.authCode,jdbcType=VARCHAR},
      </if>
      <if test="record.assignCapital != null" >
        assign_capital = #{record.assignCapital,jdbcType=DECIMAL},
      </if>
      <if test="record.assignAccount != null" >
        assign_account = #{record.assignAccount,jdbcType=DECIMAL},
      </if>
      <if test="record.assignInterest != null" >
        assign_interest = #{record.assignInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.assignInterestAdvance != null" >
        assign_interest_advance = #{record.assignInterestAdvance,jdbcType=DECIMAL},
      </if>
      <if test="record.assignPrice != null" >
        assign_price = #{record.assignPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.assignPay != null" >
        assign_pay = #{record.assignPay,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayAccount != null" >
        assign_repay_account = #{record.assignRepayAccount,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayCapital != null" >
        assign_repay_capital = #{record.assignRepayCapital,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayInterest != null" >
        assign_repay_interest = #{record.assignRepayInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayEndTime != null" >
        assign_repay_end_time = #{record.assignRepayEndTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayLastTime != null" >
        assign_repay_last_time = #{record.assignRepayLastTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayNextTime != null" >
        assign_repay_next_time = #{record.assignRepayNextTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayYesTime != null" >
        assign_repay_yes_time = #{record.assignRepayYesTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayPeriod != null" >
        assign_repay_period = #{record.assignRepayPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.assignCreateDate != null" >
        assign_create_date = #{record.assignCreateDate,jdbcType=INTEGER},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=INTEGER},
      </if>
      <if test="record.recoverPeriod != null" >
        recover_period = #{record.recoverPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.manageFee != null" >
        manage_fee = #{record.manageFee,jdbcType=DECIMAL},
      </if>
      <if test="record.creditRepayOrderId != null" >
        credit_repay_order_id = #{record.creditRepayOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.creditRepayOrderDate != null" >
        credit_repay_order_date = #{record.creditRepayOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.advanceStatus != null" >
        advance_status = #{record.advanceStatus,jdbcType=TINYINT},
      </if>
      <if test="record.chargeDays != null" >
        charge_days = #{record.chargeDays,jdbcType=INTEGER},
      </if>
      <if test="record.chargeInterest != null" >
        charge_interest = #{record.chargeInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.delayDays != null" >
        delay_days = #{record.delayDays,jdbcType=INTEGER},
      </if>
      <if test="record.delayInterest != null" >
        delay_interest = #{record.delayInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.lateDays != null" >
        late_days = #{record.lateDays,jdbcType=INTEGER},
      </if>
      <if test="record.lateInterest != null" >
        late_interest = #{record.lateInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.debtStatus != null" >
        debt_status = #{record.debtStatus,jdbcType=TINYINT},
      </if>
      <if test="record.addIp != null" >
        add_ip = #{record.addIp,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chargePenaltyInterest != null" >
        charge_penalty_interest = #{record.chargePenaltyInterest,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_credit_repay
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      credit_user_id = #{record.creditUserId,jdbcType=INTEGER},
      credit_user_name = #{record.creditUserName,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=TINYINT},
      bid_nid = #{record.bidNid,jdbcType=VARCHAR},
      credit_nid = #{record.creditNid,jdbcType=VARCHAR},
      credit_tender_nid = #{record.creditTenderNid,jdbcType=VARCHAR},
      assign_nid = #{record.assignNid,jdbcType=VARCHAR},
      auth_code = #{record.authCode,jdbcType=VARCHAR},
      assign_capital = #{record.assignCapital,jdbcType=DECIMAL},
      assign_account = #{record.assignAccount,jdbcType=DECIMAL},
      assign_interest = #{record.assignInterest,jdbcType=DECIMAL},
      assign_interest_advance = #{record.assignInterestAdvance,jdbcType=DECIMAL},
      assign_price = #{record.assignPrice,jdbcType=DECIMAL},
      assign_pay = #{record.assignPay,jdbcType=DECIMAL},
      assign_repay_account = #{record.assignRepayAccount,jdbcType=DECIMAL},
      assign_repay_capital = #{record.assignRepayCapital,jdbcType=DECIMAL},
      assign_repay_interest = #{record.assignRepayInterest,jdbcType=DECIMAL},
      assign_repay_end_time = #{record.assignRepayEndTime,jdbcType=INTEGER},
      assign_repay_last_time = #{record.assignRepayLastTime,jdbcType=INTEGER},
      assign_repay_next_time = #{record.assignRepayNextTime,jdbcType=INTEGER},
      assign_repay_yes_time = #{record.assignRepayYesTime,jdbcType=INTEGER},
      assign_repay_period = #{record.assignRepayPeriod,jdbcType=INTEGER},
      assign_create_date = #{record.assignCreateDate,jdbcType=INTEGER},
      client = #{record.client,jdbcType=INTEGER},
      recover_period = #{record.recoverPeriod,jdbcType=INTEGER},
      manage_fee = #{record.manageFee,jdbcType=DECIMAL},
      credit_repay_order_id = #{record.creditRepayOrderId,jdbcType=VARCHAR},
      credit_repay_order_date = #{record.creditRepayOrderDate,jdbcType=VARCHAR},
      advance_status = #{record.advanceStatus,jdbcType=TINYINT},
      charge_days = #{record.chargeDays,jdbcType=INTEGER},
      charge_interest = #{record.chargeInterest,jdbcType=DECIMAL},
      delay_days = #{record.delayDays,jdbcType=INTEGER},
      delay_interest = #{record.delayInterest,jdbcType=DECIMAL},
      late_days = #{record.lateDays,jdbcType=INTEGER},
      late_interest = #{record.lateInterest,jdbcType=DECIMAL},
      debt_status = #{record.debtStatus,jdbcType=TINYINT},
      add_ip = #{record.addIp,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      charge_penalty_interest = #{record.chargePenaltyInterest,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepay" >
    update ht_credit_repay
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="creditUserId != null" >
        credit_user_id = #{creditUserId,jdbcType=INTEGER},
      </if>
      <if test="creditUserName != null" >
        credit_user_name = #{creditUserName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="bidNid != null" >
        bid_nid = #{bidNid,jdbcType=VARCHAR},
      </if>
      <if test="creditNid != null" >
        credit_nid = #{creditNid,jdbcType=VARCHAR},
      </if>
      <if test="creditTenderNid != null" >
        credit_tender_nid = #{creditTenderNid,jdbcType=VARCHAR},
      </if>
      <if test="assignNid != null" >
        assign_nid = #{assignNid,jdbcType=VARCHAR},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="assignCapital != null" >
        assign_capital = #{assignCapital,jdbcType=DECIMAL},
      </if>
      <if test="assignAccount != null" >
        assign_account = #{assignAccount,jdbcType=DECIMAL},
      </if>
      <if test="assignInterest != null" >
        assign_interest = #{assignInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignInterestAdvance != null" >
        assign_interest_advance = #{assignInterestAdvance,jdbcType=DECIMAL},
      </if>
      <if test="assignPrice != null" >
        assign_price = #{assignPrice,jdbcType=DECIMAL},
      </if>
      <if test="assignPay != null" >
        assign_pay = #{assignPay,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayAccount != null" >
        assign_repay_account = #{assignRepayAccount,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayCapital != null" >
        assign_repay_capital = #{assignRepayCapital,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayInterest != null" >
        assign_repay_interest = #{assignRepayInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayEndTime != null" >
        assign_repay_end_time = #{assignRepayEndTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayLastTime != null" >
        assign_repay_last_time = #{assignRepayLastTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayNextTime != null" >
        assign_repay_next_time = #{assignRepayNextTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayYesTime != null" >
        assign_repay_yes_time = #{assignRepayYesTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayPeriod != null" >
        assign_repay_period = #{assignRepayPeriod,jdbcType=INTEGER},
      </if>
      <if test="assignCreateDate != null" >
        assign_create_date = #{assignCreateDate,jdbcType=INTEGER},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=INTEGER},
      </if>
      <if test="recoverPeriod != null" >
        recover_period = #{recoverPeriod,jdbcType=INTEGER},
      </if>
      <if test="manageFee != null" >
        manage_fee = #{manageFee,jdbcType=DECIMAL},
      </if>
      <if test="creditRepayOrderId != null" >
        credit_repay_order_id = #{creditRepayOrderId,jdbcType=VARCHAR},
      </if>
      <if test="creditRepayOrderDate != null" >
        credit_repay_order_date = #{creditRepayOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="advanceStatus != null" >
        advance_status = #{advanceStatus,jdbcType=TINYINT},
      </if>
      <if test="chargeDays != null" >
        charge_days = #{chargeDays,jdbcType=INTEGER},
      </if>
      <if test="chargeInterest != null" >
        charge_interest = #{chargeInterest,jdbcType=DECIMAL},
      </if>
      <if test="delayDays != null" >
        delay_days = #{delayDays,jdbcType=INTEGER},
      </if>
      <if test="delayInterest != null" >
        delay_interest = #{delayInterest,jdbcType=DECIMAL},
      </if>
      <if test="lateDays != null" >
        late_days = #{lateDays,jdbcType=INTEGER},
      </if>
      <if test="lateInterest != null" >
        late_interest = #{lateInterest,jdbcType=DECIMAL},
      </if>
      <if test="debtStatus != null" >
        debt_status = #{debtStatus,jdbcType=TINYINT},
      </if>
      <if test="addIp != null" >
        add_ip = #{addIp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chargePenaltyInterest != null" >
        charge_penalty_interest = #{chargePenaltyInterest,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.CreditRepay" >
    update ht_credit_repay
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      credit_user_id = #{creditUserId,jdbcType=INTEGER},
      credit_user_name = #{creditUserName,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      bid_nid = #{bidNid,jdbcType=VARCHAR},
      credit_nid = #{creditNid,jdbcType=VARCHAR},
      credit_tender_nid = #{creditTenderNid,jdbcType=VARCHAR},
      assign_nid = #{assignNid,jdbcType=VARCHAR},
      auth_code = #{authCode,jdbcType=VARCHAR},
      assign_capital = #{assignCapital,jdbcType=DECIMAL},
      assign_account = #{assignAccount,jdbcType=DECIMAL},
      assign_interest = #{assignInterest,jdbcType=DECIMAL},
      assign_interest_advance = #{assignInterestAdvance,jdbcType=DECIMAL},
      assign_price = #{assignPrice,jdbcType=DECIMAL},
      assign_pay = #{assignPay,jdbcType=DECIMAL},
      assign_repay_account = #{assignRepayAccount,jdbcType=DECIMAL},
      assign_repay_capital = #{assignRepayCapital,jdbcType=DECIMAL},
      assign_repay_interest = #{assignRepayInterest,jdbcType=DECIMAL},
      assign_repay_end_time = #{assignRepayEndTime,jdbcType=INTEGER},
      assign_repay_last_time = #{assignRepayLastTime,jdbcType=INTEGER},
      assign_repay_next_time = #{assignRepayNextTime,jdbcType=INTEGER},
      assign_repay_yes_time = #{assignRepayYesTime,jdbcType=INTEGER},
      assign_repay_period = #{assignRepayPeriod,jdbcType=INTEGER},
      assign_create_date = #{assignCreateDate,jdbcType=INTEGER},
      client = #{client,jdbcType=INTEGER},
      recover_period = #{recoverPeriod,jdbcType=INTEGER},
      manage_fee = #{manageFee,jdbcType=DECIMAL},
      credit_repay_order_id = #{creditRepayOrderId,jdbcType=VARCHAR},
      credit_repay_order_date = #{creditRepayOrderDate,jdbcType=VARCHAR},
      advance_status = #{advanceStatus,jdbcType=TINYINT},
      charge_days = #{chargeDays,jdbcType=INTEGER},
      charge_interest = #{chargeInterest,jdbcType=DECIMAL},
      delay_days = #{delayDays,jdbcType=INTEGER},
      delay_interest = #{delayInterest,jdbcType=DECIMAL},
      late_days = #{lateDays,jdbcType=INTEGER},
      late_interest = #{lateInterest,jdbcType=DECIMAL},
      debt_status = #{debtStatus,jdbcType=TINYINT},
      add_ip = #{addIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      charge_penalty_interest = #{chargePenaltyInterest,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>