<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.TenderUtmChangeLogMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nid" property="nid" jdbcType="VARCHAR" />
    <result column="tender_utm_id" property="tenderUtmId" jdbcType="INTEGER" />
    <result column="top_dept_id" property="topDeptId" jdbcType="INTEGER" />
    <result column="second_dept_id" property="secondDeptId" jdbcType="INTEGER" />
    <result column="third_dept_id" property="thirdDeptId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nid, tender_utm_id, top_dept_id, second_dept_id, third_dept_id, `operator`, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_borrow_tender_utmlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_borrow_tender_utmlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_borrow_tender_utmlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLogExample" >
    delete from ht_borrow_tender_utmlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_borrow_tender_utmlog (nid, tender_utm_id, top_dept_id, 
      second_dept_id, third_dept_id, `operator`, 
      update_time)
    values (#{nid,jdbcType=VARCHAR}, #{tenderUtmId,jdbcType=INTEGER}, #{topDeptId,jdbcType=INTEGER}, 
      #{secondDeptId,jdbcType=INTEGER}, #{thirdDeptId,jdbcType=INTEGER}, #{operator,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_borrow_tender_utmlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        nid,
      </if>
      <if test="tenderUtmId != null" >
        tender_utm_id,
      </if>
      <if test="topDeptId != null" >
        top_dept_id,
      </if>
      <if test="secondDeptId != null" >
        second_dept_id,
      </if>
      <if test="thirdDeptId != null" >
        third_dept_id,
      </if>
      <if test="operator != null" >
        `operator`,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="tenderUtmId != null" >
        #{tenderUtmId,jdbcType=INTEGER},
      </if>
      <if test="topDeptId != null" >
        #{topDeptId,jdbcType=INTEGER},
      </if>
      <if test="secondDeptId != null" >
        #{secondDeptId,jdbcType=INTEGER},
      </if>
      <if test="thirdDeptId != null" >
        #{thirdDeptId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLogExample" resultType="java.lang.Integer" >
    select count(*) from ht_borrow_tender_utmlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_borrow_tender_utmlog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nid != null" >
        nid = #{record.nid,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderUtmId != null" >
        tender_utm_id = #{record.tenderUtmId,jdbcType=INTEGER},
      </if>
      <if test="record.topDeptId != null" >
        top_dept_id = #{record.topDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.secondDeptId != null" >
        second_dept_id = #{record.secondDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.thirdDeptId != null" >
        third_dept_id = #{record.thirdDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.operator != null" >
        `operator` = #{record.operator,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_borrow_tender_utmlog
    set id = #{record.id,jdbcType=INTEGER},
      nid = #{record.nid,jdbcType=VARCHAR},
      tender_utm_id = #{record.tenderUtmId,jdbcType=INTEGER},
      top_dept_id = #{record.topDeptId,jdbcType=INTEGER},
      second_dept_id = #{record.secondDeptId,jdbcType=INTEGER},
      third_dept_id = #{record.thirdDeptId,jdbcType=INTEGER},
      `operator` = #{record.operator,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLog" >
    update ht_borrow_tender_utmlog
    <set >
      <if test="nid != null" >
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="tenderUtmId != null" >
        tender_utm_id = #{tenderUtmId,jdbcType=INTEGER},
      </if>
      <if test="topDeptId != null" >
        top_dept_id = #{topDeptId,jdbcType=INTEGER},
      </if>
      <if test="secondDeptId != null" >
        second_dept_id = #{secondDeptId,jdbcType=INTEGER},
      </if>
      <if test="thirdDeptId != null" >
        third_dept_id = #{thirdDeptId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        `operator` = #{operator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.TenderUtmChangeLog" >
    update ht_borrow_tender_utmlog
    set nid = #{nid,jdbcType=VARCHAR},
      tender_utm_id = #{tenderUtmId,jdbcType=INTEGER},
      top_dept_id = #{topDeptId,jdbcType=INTEGER},
      second_dept_id = #{secondDeptId,jdbcType=INTEGER},
      third_dept_id = #{thirdDeptId,jdbcType=INTEGER},
      `operator` = #{operator,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>