<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.BorrowProjectTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.BorrowProjectType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrow_project_type" property="borrowProjectType" jdbcType="VARCHAR" />
    <result column="borrow_cd" property="borrowCd" jdbcType="VARCHAR" />
    <result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
    <result column="borrow_class" property="borrowClass" jdbcType="VARCHAR" />
    <result column="invest_user_type" property="investUserType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="invest_start" property="investStart" jdbcType="VARCHAR" />
    <result column="invest_end" property="investEnd" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_group_id" property="createGroupId" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_group_id" property="updateGroupId" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="increase_money" property="increaseMoney" jdbcType="DECIMAL" />
    <result column="interest_coupon" property="interestCoupon" jdbcType="TINYINT" />
    <result column="taste_money" property="tasteMoney" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrow_project_type, borrow_cd, borrow_name, borrow_class, invest_user_type, 
    `status`, invest_start, invest_end, remark, create_group_id, create_user_id, create_time, 
    update_group_id, update_user_id, update_time, increase_money, interest_coupon, taste_money
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_borrow_project_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_borrow_project_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_borrow_project_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectTypeExample" >
    delete from ht_borrow_project_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_borrow_project_type (borrow_project_type, borrow_cd, borrow_name, 
      borrow_class, invest_user_type, `status`, 
      invest_start, invest_end, remark, 
      create_group_id, create_user_id, create_time, 
      update_group_id, update_user_id, update_time, 
      increase_money, interest_coupon, taste_money
      )
    values (#{borrowProjectType,jdbcType=VARCHAR}, #{borrowCd,jdbcType=VARCHAR}, #{borrowName,jdbcType=VARCHAR}, 
      #{borrowClass,jdbcType=VARCHAR}, #{investUserType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{investStart,jdbcType=VARCHAR}, #{investEnd,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createGroupId,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateGroupId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{increaseMoney,jdbcType=DECIMAL}, #{interestCoupon,jdbcType=TINYINT}, #{tasteMoney,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_borrow_project_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowProjectType != null" >
        borrow_project_type,
      </if>
      <if test="borrowCd != null" >
        borrow_cd,
      </if>
      <if test="borrowName != null" >
        borrow_name,
      </if>
      <if test="borrowClass != null" >
        borrow_class,
      </if>
      <if test="investUserType != null" >
        invest_user_type,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="investStart != null" >
        invest_start,
      </if>
      <if test="investEnd != null" >
        invest_end,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createGroupId != null" >
        create_group_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateGroupId != null" >
        update_group_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="increaseMoney != null" >
        increase_money,
      </if>
      <if test="interestCoupon != null" >
        interest_coupon,
      </if>
      <if test="tasteMoney != null" >
        taste_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowProjectType != null" >
        #{borrowProjectType,jdbcType=VARCHAR},
      </if>
      <if test="borrowCd != null" >
        #{borrowCd,jdbcType=VARCHAR},
      </if>
      <if test="borrowName != null" >
        #{borrowName,jdbcType=VARCHAR},
      </if>
      <if test="borrowClass != null" >
        #{borrowClass,jdbcType=VARCHAR},
      </if>
      <if test="investUserType != null" >
        #{investUserType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="investStart != null" >
        #{investStart,jdbcType=VARCHAR},
      </if>
      <if test="investEnd != null" >
        #{investEnd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createGroupId != null" >
        #{createGroupId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateGroupId != null" >
        #{updateGroupId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="increaseMoney != null" >
        #{increaseMoney,jdbcType=DECIMAL},
      </if>
      <if test="interestCoupon != null" >
        #{interestCoupon,jdbcType=TINYINT},
      </if>
      <if test="tasteMoney != null" >
        #{tasteMoney,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectTypeExample" resultType="java.lang.Integer" >
    select count(*) from ht_borrow_project_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_borrow_project_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowProjectType != null" >
        borrow_project_type = #{record.borrowProjectType,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowCd != null" >
        borrow_cd = #{record.borrowCd,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowName != null" >
        borrow_name = #{record.borrowName,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowClass != null" >
        borrow_class = #{record.borrowClass,jdbcType=VARCHAR},
      </if>
      <if test="record.investUserType != null" >
        invest_user_type = #{record.investUserType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.investStart != null" >
        invest_start = #{record.investStart,jdbcType=VARCHAR},
      </if>
      <if test="record.investEnd != null" >
        invest_end = #{record.investEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createGroupId != null" >
        create_group_id = #{record.createGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateGroupId != null" >
        update_group_id = #{record.updateGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.increaseMoney != null" >
        increase_money = #{record.increaseMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.interestCoupon != null" >
        interest_coupon = #{record.interestCoupon,jdbcType=TINYINT},
      </if>
      <if test="record.tasteMoney != null" >
        taste_money = #{record.tasteMoney,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_borrow_project_type
    set id = #{record.id,jdbcType=INTEGER},
      borrow_project_type = #{record.borrowProjectType,jdbcType=VARCHAR},
      borrow_cd = #{record.borrowCd,jdbcType=VARCHAR},
      borrow_name = #{record.borrowName,jdbcType=VARCHAR},
      borrow_class = #{record.borrowClass,jdbcType=VARCHAR},
      invest_user_type = #{record.investUserType,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=VARCHAR},
      invest_start = #{record.investStart,jdbcType=VARCHAR},
      invest_end = #{record.investEnd,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_group_id = #{record.createGroupId,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_group_id = #{record.updateGroupId,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      increase_money = #{record.increaseMoney,jdbcType=DECIMAL},
      interest_coupon = #{record.interestCoupon,jdbcType=TINYINT},
      taste_money = #{record.tasteMoney,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectType" >
    update ht_borrow_project_type
    <set >
      <if test="borrowProjectType != null" >
        borrow_project_type = #{borrowProjectType,jdbcType=VARCHAR},
      </if>
      <if test="borrowCd != null" >
        borrow_cd = #{borrowCd,jdbcType=VARCHAR},
      </if>
      <if test="borrowName != null" >
        borrow_name = #{borrowName,jdbcType=VARCHAR},
      </if>
      <if test="borrowClass != null" >
        borrow_class = #{borrowClass,jdbcType=VARCHAR},
      </if>
      <if test="investUserType != null" >
        invest_user_type = #{investUserType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="investStart != null" >
        invest_start = #{investStart,jdbcType=VARCHAR},
      </if>
      <if test="investEnd != null" >
        invest_end = #{investEnd,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createGroupId != null" >
        create_group_id = #{createGroupId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateGroupId != null" >
        update_group_id = #{updateGroupId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="increaseMoney != null" >
        increase_money = #{increaseMoney,jdbcType=DECIMAL},
      </if>
      <if test="interestCoupon != null" >
        interest_coupon = #{interestCoupon,jdbcType=TINYINT},
      </if>
      <if test="tasteMoney != null" >
        taste_money = #{tasteMoney,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowProjectType" >
    update ht_borrow_project_type
    set borrow_project_type = #{borrowProjectType,jdbcType=VARCHAR},
      borrow_cd = #{borrowCd,jdbcType=VARCHAR},
      borrow_name = #{borrowName,jdbcType=VARCHAR},
      borrow_class = #{borrowClass,jdbcType=VARCHAR},
      invest_user_type = #{investUserType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      invest_start = #{investStart,jdbcType=VARCHAR},
      invest_end = #{investEnd,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_group_id = #{createGroupId,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_group_id = #{updateGroupId,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      increase_money = #{increaseMoney,jdbcType=DECIMAL},
      interest_coupon = #{interestCoupon,jdbcType=TINYINT},
      taste_money = #{tasteMoney,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>