<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.BorrowUserMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.BorrowUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="currency_name" property="currencyName" jdbcType="VARCHAR" />
    <result column="reg_captial" property="regCaptial" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="litigation" property="litigation" jdbcType="VARCHAR" />
    <result column="cre_report" property="creReport" jdbcType="VARCHAR" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="staff" property="staff" jdbcType="INTEGER" />
    <result column="com_reg_time" property="comRegTime" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="social_credit_code" property="socialCreditCode" jdbcType="VARCHAR" />
    <result column="regist_code" property="registCode" jdbcType="VARCHAR" />
    <result column="main_business" property="mainBusiness" jdbcType="VARCHAR" />
    <result column="overdue_times" property="overdueTimes" jdbcType="VARCHAR" />
    <result column="overdue_amount" property="overdueAmount" jdbcType="VARCHAR" />
    <result column="is_certificate" property="isCertificate" jdbcType="TINYINT" />
    <result column="is_operation" property="isOperation" jdbcType="TINYINT" />
    <result column="is_finance" property="isFinance" jdbcType="TINYINT" />
    <result column="is_enterprise_creidt" property="isEnterpriseCreidt" jdbcType="TINYINT" />
    <result column="is_legal_person" property="isLegalPerson" jdbcType="TINYINT" />
    <result column="is_asset" property="isAsset" jdbcType="TINYINT" />
    <result column="is_purchase_contract" property="isPurchaseContract" jdbcType="TINYINT" />
    <result column="is_supply_contract" property="isSupplyContract" jdbcType="VARCHAR" />
    <result column="overdue_report" property="overdueReport" jdbcType="VARCHAR" />
    <result column="debt_situation" property="debtSituation" jdbcType="VARCHAR" />
    <result column="other_borrowed" property="otherBorrowed" jdbcType="VARCHAR" />
    <result column="is_funds" property="isFunds" jdbcType="VARCHAR" />
    <result column="is_managed" property="isManaged" jdbcType="VARCHAR" />
    <result column="is_ability" property="isAbility" jdbcType="VARCHAR" />
    <result column="is_overdue" property="isOverdue" jdbcType="VARCHAR" />
    <result column="is_complaint" property="isComplaint" jdbcType="VARCHAR" />
    <result column="is_punished" property="isPunished" jdbcType="VARCHAR" />
    <result column="corporate_code" property="corporateCode" jdbcType="VARCHAR" />
    <result column="registration_address" property="registrationAddress" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hyjf.am.trade.dao.model.auto.BorrowUser" extends="BaseResultMap" >
    <result column="other_info" property="otherInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrow_nid, username, area, currency_name, reg_captial, industry, litigation, 
    cre_report, credit, staff, com_reg_time, legal_person, social_credit_code, regist_code, 
    main_business, overdue_times, overdue_amount, is_certificate, is_operation, is_finance, 
    is_enterprise_creidt, is_legal_person, is_asset, is_purchase_contract, is_supply_contract, 
    overdue_report, debt_situation, other_borrowed, is_funds, is_managed, is_ability, 
    is_overdue, is_complaint, is_punished, corporate_code, registration_address
  </sql>
  <sql id="Blob_Column_List" >
    other_info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ht_borrow_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_borrow_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ht_borrow_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_borrow_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUserExample" >
    delete from ht_borrow_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUser" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_borrow_user (borrow_nid, username, area, 
      currency_name, reg_captial, industry, 
      litigation, cre_report, credit, 
      staff, com_reg_time, legal_person, 
      social_credit_code, regist_code, main_business, 
      overdue_times, overdue_amount, is_certificate, 
      is_operation, is_finance, is_enterprise_creidt, 
      is_legal_person, is_asset, is_purchase_contract, 
      is_supply_contract, overdue_report, debt_situation, 
      other_borrowed, is_funds, is_managed, 
      is_ability, is_overdue, is_complaint, 
      is_punished, corporate_code, registration_address, 
      other_info)
    values (#{borrowNid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{currencyName,jdbcType=VARCHAR}, #{regCaptial,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, 
      #{litigation,jdbcType=VARCHAR}, #{creReport,jdbcType=VARCHAR}, #{credit,jdbcType=INTEGER}, 
      #{staff,jdbcType=INTEGER}, #{comRegTime,jdbcType=VARCHAR}, #{legalPerson,jdbcType=VARCHAR}, 
      #{socialCreditCode,jdbcType=VARCHAR}, #{registCode,jdbcType=VARCHAR}, #{mainBusiness,jdbcType=VARCHAR}, 
      #{overdueTimes,jdbcType=VARCHAR}, #{overdueAmount,jdbcType=VARCHAR}, #{isCertificate,jdbcType=TINYINT}, 
      #{isOperation,jdbcType=TINYINT}, #{isFinance,jdbcType=TINYINT}, #{isEnterpriseCreidt,jdbcType=TINYINT}, 
      #{isLegalPerson,jdbcType=TINYINT}, #{isAsset,jdbcType=TINYINT}, #{isPurchaseContract,jdbcType=TINYINT}, 
      #{isSupplyContract,jdbcType=VARCHAR}, #{overdueReport,jdbcType=VARCHAR}, #{debtSituation,jdbcType=VARCHAR}, 
      #{otherBorrowed,jdbcType=VARCHAR}, #{isFunds,jdbcType=VARCHAR}, #{isManaged,jdbcType=VARCHAR}, 
      #{isAbility,jdbcType=VARCHAR}, #{isOverdue,jdbcType=VARCHAR}, #{isComplaint,jdbcType=VARCHAR}, 
      #{isPunished,jdbcType=VARCHAR}, #{corporateCode,jdbcType=VARCHAR}, #{registrationAddress,jdbcType=VARCHAR}, 
      #{otherInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUser" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_borrow_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowNid != null" >
        borrow_nid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="currencyName != null" >
        currency_name,
      </if>
      <if test="regCaptial != null" >
        reg_captial,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="litigation != null" >
        litigation,
      </if>
      <if test="creReport != null" >
        cre_report,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="staff != null" >
        staff,
      </if>
      <if test="comRegTime != null" >
        com_reg_time,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="socialCreditCode != null" >
        social_credit_code,
      </if>
      <if test="registCode != null" >
        regist_code,
      </if>
      <if test="mainBusiness != null" >
        main_business,
      </if>
      <if test="overdueTimes != null" >
        overdue_times,
      </if>
      <if test="overdueAmount != null" >
        overdue_amount,
      </if>
      <if test="isCertificate != null" >
        is_certificate,
      </if>
      <if test="isOperation != null" >
        is_operation,
      </if>
      <if test="isFinance != null" >
        is_finance,
      </if>
      <if test="isEnterpriseCreidt != null" >
        is_enterprise_creidt,
      </if>
      <if test="isLegalPerson != null" >
        is_legal_person,
      </if>
      <if test="isAsset != null" >
        is_asset,
      </if>
      <if test="isPurchaseContract != null" >
        is_purchase_contract,
      </if>
      <if test="isSupplyContract != null" >
        is_supply_contract,
      </if>
      <if test="overdueReport != null" >
        overdue_report,
      </if>
      <if test="debtSituation != null" >
        debt_situation,
      </if>
      <if test="otherBorrowed != null" >
        other_borrowed,
      </if>
      <if test="isFunds != null" >
        is_funds,
      </if>
      <if test="isManaged != null" >
        is_managed,
      </if>
      <if test="isAbility != null" >
        is_ability,
      </if>
      <if test="isOverdue != null" >
        is_overdue,
      </if>
      <if test="isComplaint != null" >
        is_complaint,
      </if>
      <if test="isPunished != null" >
        is_punished,
      </if>
      <if test="corporateCode != null" >
        corporate_code,
      </if>
      <if test="registrationAddress != null" >
        registration_address,
      </if>
      <if test="otherInfo != null" >
        other_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowNid != null" >
        #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null" >
        #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="regCaptial != null" >
        #{regCaptial,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="litigation != null" >
        #{litigation,jdbcType=VARCHAR},
      </if>
      <if test="creReport != null" >
        #{creReport,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="staff != null" >
        #{staff,jdbcType=INTEGER},
      </if>
      <if test="comRegTime != null" >
        #{comRegTime,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="socialCreditCode != null" >
        #{socialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="registCode != null" >
        #{registCode,jdbcType=VARCHAR},
      </if>
      <if test="mainBusiness != null" >
        #{mainBusiness,jdbcType=VARCHAR},
      </if>
      <if test="overdueTimes != null" >
        #{overdueTimes,jdbcType=VARCHAR},
      </if>
      <if test="overdueAmount != null" >
        #{overdueAmount,jdbcType=VARCHAR},
      </if>
      <if test="isCertificate != null" >
        #{isCertificate,jdbcType=TINYINT},
      </if>
      <if test="isOperation != null" >
        #{isOperation,jdbcType=TINYINT},
      </if>
      <if test="isFinance != null" >
        #{isFinance,jdbcType=TINYINT},
      </if>
      <if test="isEnterpriseCreidt != null" >
        #{isEnterpriseCreidt,jdbcType=TINYINT},
      </if>
      <if test="isLegalPerson != null" >
        #{isLegalPerson,jdbcType=TINYINT},
      </if>
      <if test="isAsset != null" >
        #{isAsset,jdbcType=TINYINT},
      </if>
      <if test="isPurchaseContract != null" >
        #{isPurchaseContract,jdbcType=TINYINT},
      </if>
      <if test="isSupplyContract != null" >
        #{isSupplyContract,jdbcType=VARCHAR},
      </if>
      <if test="overdueReport != null" >
        #{overdueReport,jdbcType=VARCHAR},
      </if>
      <if test="debtSituation != null" >
        #{debtSituation,jdbcType=VARCHAR},
      </if>
      <if test="otherBorrowed != null" >
        #{otherBorrowed,jdbcType=VARCHAR},
      </if>
      <if test="isFunds != null" >
        #{isFunds,jdbcType=VARCHAR},
      </if>
      <if test="isManaged != null" >
        #{isManaged,jdbcType=VARCHAR},
      </if>
      <if test="isAbility != null" >
        #{isAbility,jdbcType=VARCHAR},
      </if>
      <if test="isOverdue != null" >
        #{isOverdue,jdbcType=VARCHAR},
      </if>
      <if test="isComplaint != null" >
        #{isComplaint,jdbcType=VARCHAR},
      </if>
      <if test="isPunished != null" >
        #{isPunished,jdbcType=VARCHAR},
      </if>
      <if test="corporateCode != null" >
        #{corporateCode,jdbcType=VARCHAR},
      </if>
      <if test="registrationAddress != null" >
        #{registrationAddress,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUserExample" resultType="java.lang.Integer" >
    select count(*) from ht_borrow_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_borrow_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowNid != null" >
        borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.currencyName != null" >
        currency_name = #{record.currencyName,jdbcType=VARCHAR},
      </if>
      <if test="record.regCaptial != null" >
        reg_captial = #{record.regCaptial,jdbcType=VARCHAR},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.litigation != null" >
        litigation = #{record.litigation,jdbcType=VARCHAR},
      </if>
      <if test="record.creReport != null" >
        cre_report = #{record.creReport,jdbcType=VARCHAR},
      </if>
      <if test="record.credit != null" >
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.staff != null" >
        staff = #{record.staff,jdbcType=INTEGER},
      </if>
      <if test="record.comRegTime != null" >
        com_reg_time = #{record.comRegTime,jdbcType=VARCHAR},
      </if>
      <if test="record.legalPerson != null" >
        legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.socialCreditCode != null" >
        social_credit_code = #{record.socialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.registCode != null" >
        regist_code = #{record.registCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mainBusiness != null" >
        main_business = #{record.mainBusiness,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueTimes != null" >
        overdue_times = #{record.overdueTimes,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueAmount != null" >
        overdue_amount = #{record.overdueAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.isCertificate != null" >
        is_certificate = #{record.isCertificate,jdbcType=TINYINT},
      </if>
      <if test="record.isOperation != null" >
        is_operation = #{record.isOperation,jdbcType=TINYINT},
      </if>
      <if test="record.isFinance != null" >
        is_finance = #{record.isFinance,jdbcType=TINYINT},
      </if>
      <if test="record.isEnterpriseCreidt != null" >
        is_enterprise_creidt = #{record.isEnterpriseCreidt,jdbcType=TINYINT},
      </if>
      <if test="record.isLegalPerson != null" >
        is_legal_person = #{record.isLegalPerson,jdbcType=TINYINT},
      </if>
      <if test="record.isAsset != null" >
        is_asset = #{record.isAsset,jdbcType=TINYINT},
      </if>
      <if test="record.isPurchaseContract != null" >
        is_purchase_contract = #{record.isPurchaseContract,jdbcType=TINYINT},
      </if>
      <if test="record.isSupplyContract != null" >
        is_supply_contract = #{record.isSupplyContract,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueReport != null" >
        overdue_report = #{record.overdueReport,jdbcType=VARCHAR},
      </if>
      <if test="record.debtSituation != null" >
        debt_situation = #{record.debtSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.otherBorrowed != null" >
        other_borrowed = #{record.otherBorrowed,jdbcType=VARCHAR},
      </if>
      <if test="record.isFunds != null" >
        is_funds = #{record.isFunds,jdbcType=VARCHAR},
      </if>
      <if test="record.isManaged != null" >
        is_managed = #{record.isManaged,jdbcType=VARCHAR},
      </if>
      <if test="record.isAbility != null" >
        is_ability = #{record.isAbility,jdbcType=VARCHAR},
      </if>
      <if test="record.isOverdue != null" >
        is_overdue = #{record.isOverdue,jdbcType=VARCHAR},
      </if>
      <if test="record.isComplaint != null" >
        is_complaint = #{record.isComplaint,jdbcType=VARCHAR},
      </if>
      <if test="record.isPunished != null" >
        is_punished = #{record.isPunished,jdbcType=VARCHAR},
      </if>
      <if test="record.corporateCode != null" >
        corporate_code = #{record.corporateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationAddress != null" >
        registration_address = #{record.registrationAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.otherInfo != null" >
        other_info = #{record.otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ht_borrow_user
    set id = #{record.id,jdbcType=INTEGER},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      currency_name = #{record.currencyName,jdbcType=VARCHAR},
      reg_captial = #{record.regCaptial,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      litigation = #{record.litigation,jdbcType=VARCHAR},
      cre_report = #{record.creReport,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=INTEGER},
      staff = #{record.staff,jdbcType=INTEGER},
      com_reg_time = #{record.comRegTime,jdbcType=VARCHAR},
      legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      social_credit_code = #{record.socialCreditCode,jdbcType=VARCHAR},
      regist_code = #{record.registCode,jdbcType=VARCHAR},
      main_business = #{record.mainBusiness,jdbcType=VARCHAR},
      overdue_times = #{record.overdueTimes,jdbcType=VARCHAR},
      overdue_amount = #{record.overdueAmount,jdbcType=VARCHAR},
      is_certificate = #{record.isCertificate,jdbcType=TINYINT},
      is_operation = #{record.isOperation,jdbcType=TINYINT},
      is_finance = #{record.isFinance,jdbcType=TINYINT},
      is_enterprise_creidt = #{record.isEnterpriseCreidt,jdbcType=TINYINT},
      is_legal_person = #{record.isLegalPerson,jdbcType=TINYINT},
      is_asset = #{record.isAsset,jdbcType=TINYINT},
      is_purchase_contract = #{record.isPurchaseContract,jdbcType=TINYINT},
      is_supply_contract = #{record.isSupplyContract,jdbcType=VARCHAR},
      overdue_report = #{record.overdueReport,jdbcType=VARCHAR},
      debt_situation = #{record.debtSituation,jdbcType=VARCHAR},
      other_borrowed = #{record.otherBorrowed,jdbcType=VARCHAR},
      is_funds = #{record.isFunds,jdbcType=VARCHAR},
      is_managed = #{record.isManaged,jdbcType=VARCHAR},
      is_ability = #{record.isAbility,jdbcType=VARCHAR},
      is_overdue = #{record.isOverdue,jdbcType=VARCHAR},
      is_complaint = #{record.isComplaint,jdbcType=VARCHAR},
      is_punished = #{record.isPunished,jdbcType=VARCHAR},
      corporate_code = #{record.corporateCode,jdbcType=VARCHAR},
      registration_address = #{record.registrationAddress,jdbcType=VARCHAR},
      other_info = #{record.otherInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_borrow_user
    set id = #{record.id,jdbcType=INTEGER},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      currency_name = #{record.currencyName,jdbcType=VARCHAR},
      reg_captial = #{record.regCaptial,jdbcType=VARCHAR},
      industry = #{record.industry,jdbcType=VARCHAR},
      litigation = #{record.litigation,jdbcType=VARCHAR},
      cre_report = #{record.creReport,jdbcType=VARCHAR},
      credit = #{record.credit,jdbcType=INTEGER},
      staff = #{record.staff,jdbcType=INTEGER},
      com_reg_time = #{record.comRegTime,jdbcType=VARCHAR},
      legal_person = #{record.legalPerson,jdbcType=VARCHAR},
      social_credit_code = #{record.socialCreditCode,jdbcType=VARCHAR},
      regist_code = #{record.registCode,jdbcType=VARCHAR},
      main_business = #{record.mainBusiness,jdbcType=VARCHAR},
      overdue_times = #{record.overdueTimes,jdbcType=VARCHAR},
      overdue_amount = #{record.overdueAmount,jdbcType=VARCHAR},
      is_certificate = #{record.isCertificate,jdbcType=TINYINT},
      is_operation = #{record.isOperation,jdbcType=TINYINT},
      is_finance = #{record.isFinance,jdbcType=TINYINT},
      is_enterprise_creidt = #{record.isEnterpriseCreidt,jdbcType=TINYINT},
      is_legal_person = #{record.isLegalPerson,jdbcType=TINYINT},
      is_asset = #{record.isAsset,jdbcType=TINYINT},
      is_purchase_contract = #{record.isPurchaseContract,jdbcType=TINYINT},
      is_supply_contract = #{record.isSupplyContract,jdbcType=VARCHAR},
      overdue_report = #{record.overdueReport,jdbcType=VARCHAR},
      debt_situation = #{record.debtSituation,jdbcType=VARCHAR},
      other_borrowed = #{record.otherBorrowed,jdbcType=VARCHAR},
      is_funds = #{record.isFunds,jdbcType=VARCHAR},
      is_managed = #{record.isManaged,jdbcType=VARCHAR},
      is_ability = #{record.isAbility,jdbcType=VARCHAR},
      is_overdue = #{record.isOverdue,jdbcType=VARCHAR},
      is_complaint = #{record.isComplaint,jdbcType=VARCHAR},
      is_punished = #{record.isPunished,jdbcType=VARCHAR},
      corporate_code = #{record.corporateCode,jdbcType=VARCHAR},
      registration_address = #{record.registrationAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUser" >
    update ht_borrow_user
    <set >
      <if test="borrowNid != null" >
        borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null" >
        currency_name = #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="regCaptial != null" >
        reg_captial = #{regCaptial,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="litigation != null" >
        litigation = #{litigation,jdbcType=VARCHAR},
      </if>
      <if test="creReport != null" >
        cre_report = #{creReport,jdbcType=VARCHAR},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="staff != null" >
        staff = #{staff,jdbcType=INTEGER},
      </if>
      <if test="comRegTime != null" >
        com_reg_time = #{comRegTime,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="socialCreditCode != null" >
        social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="registCode != null" >
        regist_code = #{registCode,jdbcType=VARCHAR},
      </if>
      <if test="mainBusiness != null" >
        main_business = #{mainBusiness,jdbcType=VARCHAR},
      </if>
      <if test="overdueTimes != null" >
        overdue_times = #{overdueTimes,jdbcType=VARCHAR},
      </if>
      <if test="overdueAmount != null" >
        overdue_amount = #{overdueAmount,jdbcType=VARCHAR},
      </if>
      <if test="isCertificate != null" >
        is_certificate = #{isCertificate,jdbcType=TINYINT},
      </if>
      <if test="isOperation != null" >
        is_operation = #{isOperation,jdbcType=TINYINT},
      </if>
      <if test="isFinance != null" >
        is_finance = #{isFinance,jdbcType=TINYINT},
      </if>
      <if test="isEnterpriseCreidt != null" >
        is_enterprise_creidt = #{isEnterpriseCreidt,jdbcType=TINYINT},
      </if>
      <if test="isLegalPerson != null" >
        is_legal_person = #{isLegalPerson,jdbcType=TINYINT},
      </if>
      <if test="isAsset != null" >
        is_asset = #{isAsset,jdbcType=TINYINT},
      </if>
      <if test="isPurchaseContract != null" >
        is_purchase_contract = #{isPurchaseContract,jdbcType=TINYINT},
      </if>
      <if test="isSupplyContract != null" >
        is_supply_contract = #{isSupplyContract,jdbcType=VARCHAR},
      </if>
      <if test="overdueReport != null" >
        overdue_report = #{overdueReport,jdbcType=VARCHAR},
      </if>
      <if test="debtSituation != null" >
        debt_situation = #{debtSituation,jdbcType=VARCHAR},
      </if>
      <if test="otherBorrowed != null" >
        other_borrowed = #{otherBorrowed,jdbcType=VARCHAR},
      </if>
      <if test="isFunds != null" >
        is_funds = #{isFunds,jdbcType=VARCHAR},
      </if>
      <if test="isManaged != null" >
        is_managed = #{isManaged,jdbcType=VARCHAR},
      </if>
      <if test="isAbility != null" >
        is_ability = #{isAbility,jdbcType=VARCHAR},
      </if>
      <if test="isOverdue != null" >
        is_overdue = #{isOverdue,jdbcType=VARCHAR},
      </if>
      <if test="isComplaint != null" >
        is_complaint = #{isComplaint,jdbcType=VARCHAR},
      </if>
      <if test="isPunished != null" >
        is_punished = #{isPunished,jdbcType=VARCHAR},
      </if>
      <if test="corporateCode != null" >
        corporate_code = #{corporateCode,jdbcType=VARCHAR},
      </if>
      <if test="registrationAddress != null" >
        registration_address = #{registrationAddress,jdbcType=VARCHAR},
      </if>
      <if test="otherInfo != null" >
        other_info = #{otherInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUser" >
    update ht_borrow_user
    set borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      currency_name = #{currencyName,jdbcType=VARCHAR},
      reg_captial = #{regCaptial,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      litigation = #{litigation,jdbcType=VARCHAR},
      cre_report = #{creReport,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      staff = #{staff,jdbcType=INTEGER},
      com_reg_time = #{comRegTime,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
      regist_code = #{registCode,jdbcType=VARCHAR},
      main_business = #{mainBusiness,jdbcType=VARCHAR},
      overdue_times = #{overdueTimes,jdbcType=VARCHAR},
      overdue_amount = #{overdueAmount,jdbcType=VARCHAR},
      is_certificate = #{isCertificate,jdbcType=TINYINT},
      is_operation = #{isOperation,jdbcType=TINYINT},
      is_finance = #{isFinance,jdbcType=TINYINT},
      is_enterprise_creidt = #{isEnterpriseCreidt,jdbcType=TINYINT},
      is_legal_person = #{isLegalPerson,jdbcType=TINYINT},
      is_asset = #{isAsset,jdbcType=TINYINT},
      is_purchase_contract = #{isPurchaseContract,jdbcType=TINYINT},
      is_supply_contract = #{isSupplyContract,jdbcType=VARCHAR},
      overdue_report = #{overdueReport,jdbcType=VARCHAR},
      debt_situation = #{debtSituation,jdbcType=VARCHAR},
      other_borrowed = #{otherBorrowed,jdbcType=VARCHAR},
      is_funds = #{isFunds,jdbcType=VARCHAR},
      is_managed = #{isManaged,jdbcType=VARCHAR},
      is_ability = #{isAbility,jdbcType=VARCHAR},
      is_overdue = #{isOverdue,jdbcType=VARCHAR},
      is_complaint = #{isComplaint,jdbcType=VARCHAR},
      is_punished = #{isPunished,jdbcType=VARCHAR},
      corporate_code = #{corporateCode,jdbcType=VARCHAR},
      registration_address = #{registrationAddress,jdbcType=VARCHAR},
      other_info = #{otherInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowUser" >
    update ht_borrow_user
    set borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      currency_name = #{currencyName,jdbcType=VARCHAR},
      reg_captial = #{regCaptial,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      litigation = #{litigation,jdbcType=VARCHAR},
      cre_report = #{creReport,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=INTEGER},
      staff = #{staff,jdbcType=INTEGER},
      com_reg_time = #{comRegTime,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
      regist_code = #{registCode,jdbcType=VARCHAR},
      main_business = #{mainBusiness,jdbcType=VARCHAR},
      overdue_times = #{overdueTimes,jdbcType=VARCHAR},
      overdue_amount = #{overdueAmount,jdbcType=VARCHAR},
      is_certificate = #{isCertificate,jdbcType=TINYINT},
      is_operation = #{isOperation,jdbcType=TINYINT},
      is_finance = #{isFinance,jdbcType=TINYINT},
      is_enterprise_creidt = #{isEnterpriseCreidt,jdbcType=TINYINT},
      is_legal_person = #{isLegalPerson,jdbcType=TINYINT},
      is_asset = #{isAsset,jdbcType=TINYINT},
      is_purchase_contract = #{isPurchaseContract,jdbcType=TINYINT},
      is_supply_contract = #{isSupplyContract,jdbcType=VARCHAR},
      overdue_report = #{overdueReport,jdbcType=VARCHAR},
      debt_situation = #{debtSituation,jdbcType=VARCHAR},
      other_borrowed = #{otherBorrowed,jdbcType=VARCHAR},
      is_funds = #{isFunds,jdbcType=VARCHAR},
      is_managed = #{isManaged,jdbcType=VARCHAR},
      is_ability = #{isAbility,jdbcType=VARCHAR},
      is_overdue = #{isOverdue,jdbcType=VARCHAR},
      is_complaint = #{isComplaint,jdbcType=VARCHAR},
      is_punished = #{isPunished,jdbcType=VARCHAR},
      corporate_code = #{corporateCode,jdbcType=VARCHAR},
      registration_address = #{registrationAddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>