<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.CalculateInvestInterestMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tender_sum" property="tenderSum" jdbcType="DECIMAL" />
    <result column="interest_sum" property="interestSum" jdbcType="DECIMAL" />
    <result column="seven_day_tender_sum" property="sevenDayTenderSum" jdbcType="DECIMAL" />
    <result column="seven_day_interest_sum" property="sevenDayInterestSum" jdbcType="DECIMAL" />
    <result column="borrow_zero_one" property="borrowZeroOne" jdbcType="INTEGER" />
    <result column="borrow_one_three" property="borrowOneThree" jdbcType="INTEGER" />
    <result column="borrow_three_six" property="borrowThreeSix" jdbcType="INTEGER" />
    <result column="borrow_six_twelve" property="borrowSixTwelve" jdbcType="INTEGER" />
    <result column="borrow_twelve_up" property="borrowTwelveUp" jdbcType="INTEGER" />
    <result column="invest_one_down" property="investOneDown" jdbcType="INTEGER" />
    <result column="invest_one_five" property="investOneFive" jdbcType="INTEGER" />
    <result column="invest_five_ten" property="investFiveTen" jdbcType="INTEGER" />
    <result column="invest_ten_fifth" property="investTenFifth" jdbcType="INTEGER" />
    <result column="invest_fifth_up" property="investFifthUp" jdbcType="INTEGER" />
    <result column="bail_money" property="bailMoney" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tender_sum, interest_sum, seven_day_tender_sum, seven_day_interest_sum, borrow_zero_one, 
    borrow_one_three, borrow_three_six, borrow_six_twelve, borrow_twelve_up, invest_one_down, 
    invest_one_five, invest_five_ten, invest_ten_fifth, invest_fifth_up, bail_money, 
    update_time, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_calculate_invest_interest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_calculate_invest_interest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_calculate_invest_interest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterestExample" >
    delete from ht_calculate_invest_interest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterest" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_calculate_invest_interest (tender_sum, interest_sum, seven_day_tender_sum, 
      seven_day_interest_sum, borrow_zero_one, borrow_one_three, 
      borrow_three_six, borrow_six_twelve, borrow_twelve_up, 
      invest_one_down, invest_one_five, invest_five_ten, 
      invest_ten_fifth, invest_fifth_up, bail_money, 
      update_time, create_time)
    values (#{tenderSum,jdbcType=DECIMAL}, #{interestSum,jdbcType=DECIMAL}, #{sevenDayTenderSum,jdbcType=DECIMAL}, 
      #{sevenDayInterestSum,jdbcType=DECIMAL}, #{borrowZeroOne,jdbcType=INTEGER}, #{borrowOneThree,jdbcType=INTEGER}, 
      #{borrowThreeSix,jdbcType=INTEGER}, #{borrowSixTwelve,jdbcType=INTEGER}, #{borrowTwelveUp,jdbcType=INTEGER}, 
      #{investOneDown,jdbcType=INTEGER}, #{investOneFive,jdbcType=INTEGER}, #{investFiveTen,jdbcType=INTEGER}, 
      #{investTenFifth,jdbcType=INTEGER}, #{investFifthUp,jdbcType=INTEGER}, #{bailMoney,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterest" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_calculate_invest_interest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenderSum != null" >
        tender_sum,
      </if>
      <if test="interestSum != null" >
        interest_sum,
      </if>
      <if test="sevenDayTenderSum != null" >
        seven_day_tender_sum,
      </if>
      <if test="sevenDayInterestSum != null" >
        seven_day_interest_sum,
      </if>
      <if test="borrowZeroOne != null" >
        borrow_zero_one,
      </if>
      <if test="borrowOneThree != null" >
        borrow_one_three,
      </if>
      <if test="borrowThreeSix != null" >
        borrow_three_six,
      </if>
      <if test="borrowSixTwelve != null" >
        borrow_six_twelve,
      </if>
      <if test="borrowTwelveUp != null" >
        borrow_twelve_up,
      </if>
      <if test="investOneDown != null" >
        invest_one_down,
      </if>
      <if test="investOneFive != null" >
        invest_one_five,
      </if>
      <if test="investFiveTen != null" >
        invest_five_ten,
      </if>
      <if test="investTenFifth != null" >
        invest_ten_fifth,
      </if>
      <if test="investFifthUp != null" >
        invest_fifth_up,
      </if>
      <if test="bailMoney != null" >
        bail_money,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenderSum != null" >
        #{tenderSum,jdbcType=DECIMAL},
      </if>
      <if test="interestSum != null" >
        #{interestSum,jdbcType=DECIMAL},
      </if>
      <if test="sevenDayTenderSum != null" >
        #{sevenDayTenderSum,jdbcType=DECIMAL},
      </if>
      <if test="sevenDayInterestSum != null" >
        #{sevenDayInterestSum,jdbcType=DECIMAL},
      </if>
      <if test="borrowZeroOne != null" >
        #{borrowZeroOne,jdbcType=INTEGER},
      </if>
      <if test="borrowOneThree != null" >
        #{borrowOneThree,jdbcType=INTEGER},
      </if>
      <if test="borrowThreeSix != null" >
        #{borrowThreeSix,jdbcType=INTEGER},
      </if>
      <if test="borrowSixTwelve != null" >
        #{borrowSixTwelve,jdbcType=INTEGER},
      </if>
      <if test="borrowTwelveUp != null" >
        #{borrowTwelveUp,jdbcType=INTEGER},
      </if>
      <if test="investOneDown != null" >
        #{investOneDown,jdbcType=INTEGER},
      </if>
      <if test="investOneFive != null" >
        #{investOneFive,jdbcType=INTEGER},
      </if>
      <if test="investFiveTen != null" >
        #{investFiveTen,jdbcType=INTEGER},
      </if>
      <if test="investTenFifth != null" >
        #{investTenFifth,jdbcType=INTEGER},
      </if>
      <if test="investFifthUp != null" >
        #{investFifthUp,jdbcType=INTEGER},
      </if>
      <if test="bailMoney != null" >
        #{bailMoney,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterestExample" resultType="java.lang.Integer" >
    select count(*) from ht_calculate_invest_interest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_calculate_invest_interest
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tenderSum != null" >
        tender_sum = #{record.tenderSum,jdbcType=DECIMAL},
      </if>
      <if test="record.interestSum != null" >
        interest_sum = #{record.interestSum,jdbcType=DECIMAL},
      </if>
      <if test="record.sevenDayTenderSum != null" >
        seven_day_tender_sum = #{record.sevenDayTenderSum,jdbcType=DECIMAL},
      </if>
      <if test="record.sevenDayInterestSum != null" >
        seven_day_interest_sum = #{record.sevenDayInterestSum,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowZeroOne != null" >
        borrow_zero_one = #{record.borrowZeroOne,jdbcType=INTEGER},
      </if>
      <if test="record.borrowOneThree != null" >
        borrow_one_three = #{record.borrowOneThree,jdbcType=INTEGER},
      </if>
      <if test="record.borrowThreeSix != null" >
        borrow_three_six = #{record.borrowThreeSix,jdbcType=INTEGER},
      </if>
      <if test="record.borrowSixTwelve != null" >
        borrow_six_twelve = #{record.borrowSixTwelve,jdbcType=INTEGER},
      </if>
      <if test="record.borrowTwelveUp != null" >
        borrow_twelve_up = #{record.borrowTwelveUp,jdbcType=INTEGER},
      </if>
      <if test="record.investOneDown != null" >
        invest_one_down = #{record.investOneDown,jdbcType=INTEGER},
      </if>
      <if test="record.investOneFive != null" >
        invest_one_five = #{record.investOneFive,jdbcType=INTEGER},
      </if>
      <if test="record.investFiveTen != null" >
        invest_five_ten = #{record.investFiveTen,jdbcType=INTEGER},
      </if>
      <if test="record.investTenFifth != null" >
        invest_ten_fifth = #{record.investTenFifth,jdbcType=INTEGER},
      </if>
      <if test="record.investFifthUp != null" >
        invest_fifth_up = #{record.investFifthUp,jdbcType=INTEGER},
      </if>
      <if test="record.bailMoney != null" >
        bail_money = #{record.bailMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_calculate_invest_interest
    set id = #{record.id,jdbcType=INTEGER},
      tender_sum = #{record.tenderSum,jdbcType=DECIMAL},
      interest_sum = #{record.interestSum,jdbcType=DECIMAL},
      seven_day_tender_sum = #{record.sevenDayTenderSum,jdbcType=DECIMAL},
      seven_day_interest_sum = #{record.sevenDayInterestSum,jdbcType=DECIMAL},
      borrow_zero_one = #{record.borrowZeroOne,jdbcType=INTEGER},
      borrow_one_three = #{record.borrowOneThree,jdbcType=INTEGER},
      borrow_three_six = #{record.borrowThreeSix,jdbcType=INTEGER},
      borrow_six_twelve = #{record.borrowSixTwelve,jdbcType=INTEGER},
      borrow_twelve_up = #{record.borrowTwelveUp,jdbcType=INTEGER},
      invest_one_down = #{record.investOneDown,jdbcType=INTEGER},
      invest_one_five = #{record.investOneFive,jdbcType=INTEGER},
      invest_five_ten = #{record.investFiveTen,jdbcType=INTEGER},
      invest_ten_fifth = #{record.investTenFifth,jdbcType=INTEGER},
      invest_fifth_up = #{record.investFifthUp,jdbcType=INTEGER},
      bail_money = #{record.bailMoney,jdbcType=DECIMAL},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterest" >
    update ht_calculate_invest_interest
    <set >
      <if test="tenderSum != null" >
        tender_sum = #{tenderSum,jdbcType=DECIMAL},
      </if>
      <if test="interestSum != null" >
        interest_sum = #{interestSum,jdbcType=DECIMAL},
      </if>
      <if test="sevenDayTenderSum != null" >
        seven_day_tender_sum = #{sevenDayTenderSum,jdbcType=DECIMAL},
      </if>
      <if test="sevenDayInterestSum != null" >
        seven_day_interest_sum = #{sevenDayInterestSum,jdbcType=DECIMAL},
      </if>
      <if test="borrowZeroOne != null" >
        borrow_zero_one = #{borrowZeroOne,jdbcType=INTEGER},
      </if>
      <if test="borrowOneThree != null" >
        borrow_one_three = #{borrowOneThree,jdbcType=INTEGER},
      </if>
      <if test="borrowThreeSix != null" >
        borrow_three_six = #{borrowThreeSix,jdbcType=INTEGER},
      </if>
      <if test="borrowSixTwelve != null" >
        borrow_six_twelve = #{borrowSixTwelve,jdbcType=INTEGER},
      </if>
      <if test="borrowTwelveUp != null" >
        borrow_twelve_up = #{borrowTwelveUp,jdbcType=INTEGER},
      </if>
      <if test="investOneDown != null" >
        invest_one_down = #{investOneDown,jdbcType=INTEGER},
      </if>
      <if test="investOneFive != null" >
        invest_one_five = #{investOneFive,jdbcType=INTEGER},
      </if>
      <if test="investFiveTen != null" >
        invest_five_ten = #{investFiveTen,jdbcType=INTEGER},
      </if>
      <if test="investTenFifth != null" >
        invest_ten_fifth = #{investTenFifth,jdbcType=INTEGER},
      </if>
      <if test="investFifthUp != null" >
        invest_fifth_up = #{investFifthUp,jdbcType=INTEGER},
      </if>
      <if test="bailMoney != null" >
        bail_money = #{bailMoney,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.CalculateInvestInterest" >
    update ht_calculate_invest_interest
    set tender_sum = #{tenderSum,jdbcType=DECIMAL},
      interest_sum = #{interestSum,jdbcType=DECIMAL},
      seven_day_tender_sum = #{sevenDayTenderSum,jdbcType=DECIMAL},
      seven_day_interest_sum = #{sevenDayInterestSum,jdbcType=DECIMAL},
      borrow_zero_one = #{borrowZeroOne,jdbcType=INTEGER},
      borrow_one_three = #{borrowOneThree,jdbcType=INTEGER},
      borrow_three_six = #{borrowThreeSix,jdbcType=INTEGER},
      borrow_six_twelve = #{borrowSixTwelve,jdbcType=INTEGER},
      borrow_twelve_up = #{borrowTwelveUp,jdbcType=INTEGER},
      invest_one_down = #{investOneDown,jdbcType=INTEGER},
      invest_one_five = #{investOneFive,jdbcType=INTEGER},
      invest_five_ten = #{investFiveTen,jdbcType=INTEGER},
      invest_ten_fifth = #{investTenFifth,jdbcType=INTEGER},
      invest_fifth_up = #{investFifthUp,jdbcType=INTEGER},
      bail_money = #{bailMoney,jdbcType=DECIMAL},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>