<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.DebtCreditTenderMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.DebtCreditTender" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="credit_user_id" property="creditUserId" jdbcType="INTEGER" />
    <result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    <result column="repay_period" property="repayPeriod" jdbcType="INTEGER" />
    <result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
    <result column="invest_order_id" property="investOrderId" jdbcType="VARCHAR" />
    <result column="sell_order_id" property="sellOrderId" jdbcType="VARCHAR" />
    <result column="liquidates_plan_nid" property="liquidatesPlanNid" jdbcType="VARCHAR" />
    <result column="liquidates_plan_order_id" property="liquidatesPlanOrderId" jdbcType="VARCHAR" />
    <result column="assign_plan_nid" property="assignPlanNid" jdbcType="VARCHAR" />
    <result column="assign_plan_order_id" property="assignPlanOrderId" jdbcType="VARCHAR" />
    <result column="assign_order_id" property="assignOrderId" jdbcType="VARCHAR" />
    <result column="assign_order_date" property="assignOrderDate" jdbcType="VARCHAR" />
    <result column="assign_capital" property="assignCapital" jdbcType="DECIMAL" />
    <result column="assign_account" property="assignAccount" jdbcType="DECIMAL" />
    <result column="assign_interest" property="assignInterest" jdbcType="DECIMAL" />
    <result column="assign_repay_delay_interest" property="assignRepayDelayInterest" jdbcType="DECIMAL" />
    <result column="assign_repay_late_interest" property="assignRepayLateInterest" jdbcType="DECIMAL" />
    <result column="assign_interest_advance" property="assignInterestAdvance" jdbcType="DECIMAL" />
    <result column="assign_price" property="assignPrice" jdbcType="DECIMAL" />
    <result column="assign_pay" property="assignPay" jdbcType="DECIMAL" />
    <result column="repay_account_yes" property="repayAccountYes" jdbcType="DECIMAL" />
    <result column="repay_capital_yes" property="repayCapitalYes" jdbcType="DECIMAL" />
    <result column="repay_interest_yes" property="repayInterestYes" jdbcType="DECIMAL" />
    <result column="repay_account_wait" property="repayAccountWait" jdbcType="DECIMAL" />
    <result column="repay_capital_wait" property="repayCapitalWait" jdbcType="DECIMAL" />
    <result column="repay_interest_wait" property="repayInterestWait" jdbcType="DECIMAL" />
    <result column="assign_repay_end_time" property="assignRepayEndTime" jdbcType="INTEGER" />
    <result column="assign_repay_last_time" property="assignRepayLastTime" jdbcType="INTEGER" />
    <result column="assign_repay_next_time" property="assignRepayNextTime" jdbcType="INTEGER" />
    <result column="assign_repay_yes_time" property="assignRepayYesTime" jdbcType="INTEGER" />
    <result column="assign_repay_period" property="assignRepayPeriod" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="assign_type" property="assignType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="assign_service_fee" property="assignServiceFee" jdbcType="DECIMAL" />
    <result column="addip" property="addip" jdbcType="VARCHAR" />
    <result column="client" property="client" jdbcType="INTEGER" />
    <result column="web" property="web" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, user_name, credit_user_id, credit_user_name, borrow_nid, repay_period, 
    credit_nid, invest_order_id, sell_order_id, liquidates_plan_nid, liquidates_plan_order_id, 
    assign_plan_nid, assign_plan_order_id, assign_order_id, assign_order_date, assign_capital, 
    assign_account, assign_interest, assign_repay_delay_interest, assign_repay_late_interest, 
    assign_interest_advance, assign_price, assign_pay, repay_account_yes, repay_capital_yes, 
    repay_interest_yes, repay_account_wait, repay_capital_wait, repay_interest_wait, 
    assign_repay_end_time, assign_repay_last_time, assign_repay_next_time, assign_repay_yes_time, 
    assign_repay_period, del_flag, assign_type, `status`, assign_service_fee, addip, 
    client, web, create_time, create_user_id, create_user_name, update_time, update_user_id, 
    update_user_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTenderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_debt_credit_tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_debt_credit_tender
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_debt_credit_tender
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTenderExample" >
    delete from ht_debt_credit_tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTender" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_debt_credit_tender (user_id, user_name, credit_user_id, 
      credit_user_name, borrow_nid, repay_period, 
      credit_nid, invest_order_id, sell_order_id, 
      liquidates_plan_nid, liquidates_plan_order_id, 
      assign_plan_nid, assign_plan_order_id, assign_order_id, 
      assign_order_date, assign_capital, assign_account, 
      assign_interest, assign_repay_delay_interest, 
      assign_repay_late_interest, assign_interest_advance, 
      assign_price, assign_pay, repay_account_yes, 
      repay_capital_yes, repay_interest_yes, repay_account_wait, 
      repay_capital_wait, repay_interest_wait, assign_repay_end_time, 
      assign_repay_last_time, assign_repay_next_time, 
      assign_repay_yes_time, assign_repay_period, 
      del_flag, assign_type, `status`, 
      assign_service_fee, addip, client, 
      web, create_time, create_user_id, 
      create_user_name, update_time, update_user_id, 
      update_user_name)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{creditUserId,jdbcType=INTEGER}, 
      #{creditUserName,jdbcType=VARCHAR}, #{borrowNid,jdbcType=VARCHAR}, #{repayPeriod,jdbcType=INTEGER}, 
      #{creditNid,jdbcType=VARCHAR}, #{investOrderId,jdbcType=VARCHAR}, #{sellOrderId,jdbcType=VARCHAR}, 
      #{liquidatesPlanNid,jdbcType=VARCHAR}, #{liquidatesPlanOrderId,jdbcType=VARCHAR}, 
      #{assignPlanNid,jdbcType=VARCHAR}, #{assignPlanOrderId,jdbcType=VARCHAR}, #{assignOrderId,jdbcType=VARCHAR}, 
      #{assignOrderDate,jdbcType=VARCHAR}, #{assignCapital,jdbcType=DECIMAL}, #{assignAccount,jdbcType=DECIMAL}, 
      #{assignInterest,jdbcType=DECIMAL}, #{assignRepayDelayInterest,jdbcType=DECIMAL}, 
      #{assignRepayLateInterest,jdbcType=DECIMAL}, #{assignInterestAdvance,jdbcType=DECIMAL}, 
      #{assignPrice,jdbcType=DECIMAL}, #{assignPay,jdbcType=DECIMAL}, #{repayAccountYes,jdbcType=DECIMAL}, 
      #{repayCapitalYes,jdbcType=DECIMAL}, #{repayInterestYes,jdbcType=DECIMAL}, #{repayAccountWait,jdbcType=DECIMAL}, 
      #{repayCapitalWait,jdbcType=DECIMAL}, #{repayInterestWait,jdbcType=DECIMAL}, #{assignRepayEndTime,jdbcType=INTEGER}, 
      #{assignRepayLastTime,jdbcType=INTEGER}, #{assignRepayNextTime,jdbcType=INTEGER}, 
      #{assignRepayYesTime,jdbcType=INTEGER}, #{assignRepayPeriod,jdbcType=INTEGER}, 
      #{delFlag,jdbcType=TINYINT}, #{assignType,jdbcType=TINYINT}, #{status,jdbcType=INTEGER}, 
      #{assignServiceFee,jdbcType=DECIMAL}, #{addip,jdbcType=VARCHAR}, #{client,jdbcType=INTEGER}, 
      #{web,jdbcType=TINYINT}, #{createTime,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, 
      #{createUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, 
      #{updateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTender" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_debt_credit_tender
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="creditUserId != null" >
        credit_user_id,
      </if>
      <if test="creditUserName != null" >
        credit_user_name,
      </if>
      <if test="borrowNid != null" >
        borrow_nid,
      </if>
      <if test="repayPeriod != null" >
        repay_period,
      </if>
      <if test="creditNid != null" >
        credit_nid,
      </if>
      <if test="investOrderId != null" >
        invest_order_id,
      </if>
      <if test="sellOrderId != null" >
        sell_order_id,
      </if>
      <if test="liquidatesPlanNid != null" >
        liquidates_plan_nid,
      </if>
      <if test="liquidatesPlanOrderId != null" >
        liquidates_plan_order_id,
      </if>
      <if test="assignPlanNid != null" >
        assign_plan_nid,
      </if>
      <if test="assignPlanOrderId != null" >
        assign_plan_order_id,
      </if>
      <if test="assignOrderId != null" >
        assign_order_id,
      </if>
      <if test="assignOrderDate != null" >
        assign_order_date,
      </if>
      <if test="assignCapital != null" >
        assign_capital,
      </if>
      <if test="assignAccount != null" >
        assign_account,
      </if>
      <if test="assignInterest != null" >
        assign_interest,
      </if>
      <if test="assignRepayDelayInterest != null" >
        assign_repay_delay_interest,
      </if>
      <if test="assignRepayLateInterest != null" >
        assign_repay_late_interest,
      </if>
      <if test="assignInterestAdvance != null" >
        assign_interest_advance,
      </if>
      <if test="assignPrice != null" >
        assign_price,
      </if>
      <if test="assignPay != null" >
        assign_pay,
      </if>
      <if test="repayAccountYes != null" >
        repay_account_yes,
      </if>
      <if test="repayCapitalYes != null" >
        repay_capital_yes,
      </if>
      <if test="repayInterestYes != null" >
        repay_interest_yes,
      </if>
      <if test="repayAccountWait != null" >
        repay_account_wait,
      </if>
      <if test="repayCapitalWait != null" >
        repay_capital_wait,
      </if>
      <if test="repayInterestWait != null" >
        repay_interest_wait,
      </if>
      <if test="assignRepayEndTime != null" >
        assign_repay_end_time,
      </if>
      <if test="assignRepayLastTime != null" >
        assign_repay_last_time,
      </if>
      <if test="assignRepayNextTime != null" >
        assign_repay_next_time,
      </if>
      <if test="assignRepayYesTime != null" >
        assign_repay_yes_time,
      </if>
      <if test="assignRepayPeriod != null" >
        assign_repay_period,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="assignType != null" >
        assign_type,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="assignServiceFee != null" >
        assign_service_fee,
      </if>
      <if test="addip != null" >
        addip,
      </if>
      <if test="client != null" >
        client,
      </if>
      <if test="web != null" >
        web,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="creditUserId != null" >
        #{creditUserId,jdbcType=INTEGER},
      </if>
      <if test="creditUserName != null" >
        #{creditUserName,jdbcType=VARCHAR},
      </if>
      <if test="borrowNid != null" >
        #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="repayPeriod != null" >
        #{repayPeriod,jdbcType=INTEGER},
      </if>
      <if test="creditNid != null" >
        #{creditNid,jdbcType=VARCHAR},
      </if>
      <if test="investOrderId != null" >
        #{investOrderId,jdbcType=VARCHAR},
      </if>
      <if test="sellOrderId != null" >
        #{sellOrderId,jdbcType=VARCHAR},
      </if>
      <if test="liquidatesPlanNid != null" >
        #{liquidatesPlanNid,jdbcType=VARCHAR},
      </if>
      <if test="liquidatesPlanOrderId != null" >
        #{liquidatesPlanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="assignPlanNid != null" >
        #{assignPlanNid,jdbcType=VARCHAR},
      </if>
      <if test="assignPlanOrderId != null" >
        #{assignPlanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="assignOrderId != null" >
        #{assignOrderId,jdbcType=VARCHAR},
      </if>
      <if test="assignOrderDate != null" >
        #{assignOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="assignCapital != null" >
        #{assignCapital,jdbcType=DECIMAL},
      </if>
      <if test="assignAccount != null" >
        #{assignAccount,jdbcType=DECIMAL},
      </if>
      <if test="assignInterest != null" >
        #{assignInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayDelayInterest != null" >
        #{assignRepayDelayInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayLateInterest != null" >
        #{assignRepayLateInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignInterestAdvance != null" >
        #{assignInterestAdvance,jdbcType=DECIMAL},
      </if>
      <if test="assignPrice != null" >
        #{assignPrice,jdbcType=DECIMAL},
      </if>
      <if test="assignPay != null" >
        #{assignPay,jdbcType=DECIMAL},
      </if>
      <if test="repayAccountYes != null" >
        #{repayAccountYes,jdbcType=DECIMAL},
      </if>
      <if test="repayCapitalYes != null" >
        #{repayCapitalYes,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestYes != null" >
        #{repayInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="repayAccountWait != null" >
        #{repayAccountWait,jdbcType=DECIMAL},
      </if>
      <if test="repayCapitalWait != null" >
        #{repayCapitalWait,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestWait != null" >
        #{repayInterestWait,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayEndTime != null" >
        #{assignRepayEndTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayLastTime != null" >
        #{assignRepayLastTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayNextTime != null" >
        #{assignRepayNextTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayYesTime != null" >
        #{assignRepayYesTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayPeriod != null" >
        #{assignRepayPeriod,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="assignType != null" >
        #{assignType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="assignServiceFee != null" >
        #{assignServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=INTEGER},
      </if>
      <if test="web != null" >
        #{web,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTenderExample" resultType="java.lang.Integer" >
    select count(*) from ht_debt_credit_tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_debt_credit_tender
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.creditUserId != null" >
        credit_user_id = #{record.creditUserId,jdbcType=INTEGER},
      </if>
      <if test="record.creditUserName != null" >
        credit_user_name = #{record.creditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowNid != null" >
        borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="record.repayPeriod != null" >
        repay_period = #{record.repayPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.creditNid != null" >
        credit_nid = #{record.creditNid,jdbcType=VARCHAR},
      </if>
      <if test="record.investOrderId != null" >
        invest_order_id = #{record.investOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.sellOrderId != null" >
        sell_order_id = #{record.sellOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.liquidatesPlanNid != null" >
        liquidates_plan_nid = #{record.liquidatesPlanNid,jdbcType=VARCHAR},
      </if>
      <if test="record.liquidatesPlanOrderId != null" >
        liquidates_plan_order_id = #{record.liquidatesPlanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.assignPlanNid != null" >
        assign_plan_nid = #{record.assignPlanNid,jdbcType=VARCHAR},
      </if>
      <if test="record.assignPlanOrderId != null" >
        assign_plan_order_id = #{record.assignPlanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.assignOrderId != null" >
        assign_order_id = #{record.assignOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.assignOrderDate != null" >
        assign_order_date = #{record.assignOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.assignCapital != null" >
        assign_capital = #{record.assignCapital,jdbcType=DECIMAL},
      </if>
      <if test="record.assignAccount != null" >
        assign_account = #{record.assignAccount,jdbcType=DECIMAL},
      </if>
      <if test="record.assignInterest != null" >
        assign_interest = #{record.assignInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayDelayInterest != null" >
        assign_repay_delay_interest = #{record.assignRepayDelayInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayLateInterest != null" >
        assign_repay_late_interest = #{record.assignRepayLateInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.assignInterestAdvance != null" >
        assign_interest_advance = #{record.assignInterestAdvance,jdbcType=DECIMAL},
      </if>
      <if test="record.assignPrice != null" >
        assign_price = #{record.assignPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.assignPay != null" >
        assign_pay = #{record.assignPay,jdbcType=DECIMAL},
      </if>
      <if test="record.repayAccountYes != null" >
        repay_account_yes = #{record.repayAccountYes,jdbcType=DECIMAL},
      </if>
      <if test="record.repayCapitalYes != null" >
        repay_capital_yes = #{record.repayCapitalYes,jdbcType=DECIMAL},
      </if>
      <if test="record.repayInterestYes != null" >
        repay_interest_yes = #{record.repayInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="record.repayAccountWait != null" >
        repay_account_wait = #{record.repayAccountWait,jdbcType=DECIMAL},
      </if>
      <if test="record.repayCapitalWait != null" >
        repay_capital_wait = #{record.repayCapitalWait,jdbcType=DECIMAL},
      </if>
      <if test="record.repayInterestWait != null" >
        repay_interest_wait = #{record.repayInterestWait,jdbcType=DECIMAL},
      </if>
      <if test="record.assignRepayEndTime != null" >
        assign_repay_end_time = #{record.assignRepayEndTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayLastTime != null" >
        assign_repay_last_time = #{record.assignRepayLastTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayNextTime != null" >
        assign_repay_next_time = #{record.assignRepayNextTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayYesTime != null" >
        assign_repay_yes_time = #{record.assignRepayYesTime,jdbcType=INTEGER},
      </if>
      <if test="record.assignRepayPeriod != null" >
        assign_repay_period = #{record.assignRepayPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
      <if test="record.assignType != null" >
        assign_type = #{record.assignType,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.assignServiceFee != null" >
        assign_service_fee = #{record.assignServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="record.addip != null" >
        addip = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=INTEGER},
      </if>
      <if test="record.web != null" >
        web = #{record.web,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserName != null" >
        update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_debt_credit_tender
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      credit_user_id = #{record.creditUserId,jdbcType=INTEGER},
      credit_user_name = #{record.creditUserName,jdbcType=VARCHAR},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      repay_period = #{record.repayPeriod,jdbcType=INTEGER},
      credit_nid = #{record.creditNid,jdbcType=VARCHAR},
      invest_order_id = #{record.investOrderId,jdbcType=VARCHAR},
      sell_order_id = #{record.sellOrderId,jdbcType=VARCHAR},
      liquidates_plan_nid = #{record.liquidatesPlanNid,jdbcType=VARCHAR},
      liquidates_plan_order_id = #{record.liquidatesPlanOrderId,jdbcType=VARCHAR},
      assign_plan_nid = #{record.assignPlanNid,jdbcType=VARCHAR},
      assign_plan_order_id = #{record.assignPlanOrderId,jdbcType=VARCHAR},
      assign_order_id = #{record.assignOrderId,jdbcType=VARCHAR},
      assign_order_date = #{record.assignOrderDate,jdbcType=VARCHAR},
      assign_capital = #{record.assignCapital,jdbcType=DECIMAL},
      assign_account = #{record.assignAccount,jdbcType=DECIMAL},
      assign_interest = #{record.assignInterest,jdbcType=DECIMAL},
      assign_repay_delay_interest = #{record.assignRepayDelayInterest,jdbcType=DECIMAL},
      assign_repay_late_interest = #{record.assignRepayLateInterest,jdbcType=DECIMAL},
      assign_interest_advance = #{record.assignInterestAdvance,jdbcType=DECIMAL},
      assign_price = #{record.assignPrice,jdbcType=DECIMAL},
      assign_pay = #{record.assignPay,jdbcType=DECIMAL},
      repay_account_yes = #{record.repayAccountYes,jdbcType=DECIMAL},
      repay_capital_yes = #{record.repayCapitalYes,jdbcType=DECIMAL},
      repay_interest_yes = #{record.repayInterestYes,jdbcType=DECIMAL},
      repay_account_wait = #{record.repayAccountWait,jdbcType=DECIMAL},
      repay_capital_wait = #{record.repayCapitalWait,jdbcType=DECIMAL},
      repay_interest_wait = #{record.repayInterestWait,jdbcType=DECIMAL},
      assign_repay_end_time = #{record.assignRepayEndTime,jdbcType=INTEGER},
      assign_repay_last_time = #{record.assignRepayLastTime,jdbcType=INTEGER},
      assign_repay_next_time = #{record.assignRepayNextTime,jdbcType=INTEGER},
      assign_repay_yes_time = #{record.assignRepayYesTime,jdbcType=INTEGER},
      assign_repay_period = #{record.assignRepayPeriod,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=TINYINT},
      assign_type = #{record.assignType,jdbcType=TINYINT},
      `status` = #{record.status,jdbcType=INTEGER},
      assign_service_fee = #{record.assignServiceFee,jdbcType=DECIMAL},
      addip = #{record.addip,jdbcType=VARCHAR},
      client = #{record.client,jdbcType=INTEGER},
      web = #{record.web,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=INTEGER},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_user_name = #{record.updateUserName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTender" >
    update ht_debt_credit_tender
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="creditUserId != null" >
        credit_user_id = #{creditUserId,jdbcType=INTEGER},
      </if>
      <if test="creditUserName != null" >
        credit_user_name = #{creditUserName,jdbcType=VARCHAR},
      </if>
      <if test="borrowNid != null" >
        borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="repayPeriod != null" >
        repay_period = #{repayPeriod,jdbcType=INTEGER},
      </if>
      <if test="creditNid != null" >
        credit_nid = #{creditNid,jdbcType=VARCHAR},
      </if>
      <if test="investOrderId != null" >
        invest_order_id = #{investOrderId,jdbcType=VARCHAR},
      </if>
      <if test="sellOrderId != null" >
        sell_order_id = #{sellOrderId,jdbcType=VARCHAR},
      </if>
      <if test="liquidatesPlanNid != null" >
        liquidates_plan_nid = #{liquidatesPlanNid,jdbcType=VARCHAR},
      </if>
      <if test="liquidatesPlanOrderId != null" >
        liquidates_plan_order_id = #{liquidatesPlanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="assignPlanNid != null" >
        assign_plan_nid = #{assignPlanNid,jdbcType=VARCHAR},
      </if>
      <if test="assignPlanOrderId != null" >
        assign_plan_order_id = #{assignPlanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="assignOrderId != null" >
        assign_order_id = #{assignOrderId,jdbcType=VARCHAR},
      </if>
      <if test="assignOrderDate != null" >
        assign_order_date = #{assignOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="assignCapital != null" >
        assign_capital = #{assignCapital,jdbcType=DECIMAL},
      </if>
      <if test="assignAccount != null" >
        assign_account = #{assignAccount,jdbcType=DECIMAL},
      </if>
      <if test="assignInterest != null" >
        assign_interest = #{assignInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayDelayInterest != null" >
        assign_repay_delay_interest = #{assignRepayDelayInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayLateInterest != null" >
        assign_repay_late_interest = #{assignRepayLateInterest,jdbcType=DECIMAL},
      </if>
      <if test="assignInterestAdvance != null" >
        assign_interest_advance = #{assignInterestAdvance,jdbcType=DECIMAL},
      </if>
      <if test="assignPrice != null" >
        assign_price = #{assignPrice,jdbcType=DECIMAL},
      </if>
      <if test="assignPay != null" >
        assign_pay = #{assignPay,jdbcType=DECIMAL},
      </if>
      <if test="repayAccountYes != null" >
        repay_account_yes = #{repayAccountYes,jdbcType=DECIMAL},
      </if>
      <if test="repayCapitalYes != null" >
        repay_capital_yes = #{repayCapitalYes,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestYes != null" >
        repay_interest_yes = #{repayInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="repayAccountWait != null" >
        repay_account_wait = #{repayAccountWait,jdbcType=DECIMAL},
      </if>
      <if test="repayCapitalWait != null" >
        repay_capital_wait = #{repayCapitalWait,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestWait != null" >
        repay_interest_wait = #{repayInterestWait,jdbcType=DECIMAL},
      </if>
      <if test="assignRepayEndTime != null" >
        assign_repay_end_time = #{assignRepayEndTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayLastTime != null" >
        assign_repay_last_time = #{assignRepayLastTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayNextTime != null" >
        assign_repay_next_time = #{assignRepayNextTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayYesTime != null" >
        assign_repay_yes_time = #{assignRepayYesTime,jdbcType=INTEGER},
      </if>
      <if test="assignRepayPeriod != null" >
        assign_repay_period = #{assignRepayPeriod,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="assignType != null" >
        assign_type = #{assignType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="assignServiceFee != null" >
        assign_service_fee = #{assignServiceFee,jdbcType=DECIMAL},
      </if>
      <if test="addip != null" >
        addip = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=INTEGER},
      </if>
      <if test="web != null" >
        web = #{web,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCreditTender" >
    update ht_debt_credit_tender
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      credit_user_id = #{creditUserId,jdbcType=INTEGER},
      credit_user_name = #{creditUserName,jdbcType=VARCHAR},
      borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      repay_period = #{repayPeriod,jdbcType=INTEGER},
      credit_nid = #{creditNid,jdbcType=VARCHAR},
      invest_order_id = #{investOrderId,jdbcType=VARCHAR},
      sell_order_id = #{sellOrderId,jdbcType=VARCHAR},
      liquidates_plan_nid = #{liquidatesPlanNid,jdbcType=VARCHAR},
      liquidates_plan_order_id = #{liquidatesPlanOrderId,jdbcType=VARCHAR},
      assign_plan_nid = #{assignPlanNid,jdbcType=VARCHAR},
      assign_plan_order_id = #{assignPlanOrderId,jdbcType=VARCHAR},
      assign_order_id = #{assignOrderId,jdbcType=VARCHAR},
      assign_order_date = #{assignOrderDate,jdbcType=VARCHAR},
      assign_capital = #{assignCapital,jdbcType=DECIMAL},
      assign_account = #{assignAccount,jdbcType=DECIMAL},
      assign_interest = #{assignInterest,jdbcType=DECIMAL},
      assign_repay_delay_interest = #{assignRepayDelayInterest,jdbcType=DECIMAL},
      assign_repay_late_interest = #{assignRepayLateInterest,jdbcType=DECIMAL},
      assign_interest_advance = #{assignInterestAdvance,jdbcType=DECIMAL},
      assign_price = #{assignPrice,jdbcType=DECIMAL},
      assign_pay = #{assignPay,jdbcType=DECIMAL},
      repay_account_yes = #{repayAccountYes,jdbcType=DECIMAL},
      repay_capital_yes = #{repayCapitalYes,jdbcType=DECIMAL},
      repay_interest_yes = #{repayInterestYes,jdbcType=DECIMAL},
      repay_account_wait = #{repayAccountWait,jdbcType=DECIMAL},
      repay_capital_wait = #{repayCapitalWait,jdbcType=DECIMAL},
      repay_interest_wait = #{repayInterestWait,jdbcType=DECIMAL},
      assign_repay_end_time = #{assignRepayEndTime,jdbcType=INTEGER},
      assign_repay_last_time = #{assignRepayLastTime,jdbcType=INTEGER},
      assign_repay_next_time = #{assignRepayNextTime,jdbcType=INTEGER},
      assign_repay_yes_time = #{assignRepayYesTime,jdbcType=INTEGER},
      assign_repay_period = #{assignRepayPeriod,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=TINYINT},
      assign_type = #{assignType,jdbcType=TINYINT},
      `status` = #{status,jdbcType=INTEGER},
      assign_service_fee = #{assignServiceFee,jdbcType=DECIMAL},
      addip = #{addip,jdbcType=VARCHAR},
      client = #{client,jdbcType=INTEGER},
      web = #{web,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user_name = #{updateUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>