<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.DebtCompanyAuthenMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthen" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="authen_name" property="authenName" jdbcType="VARCHAR" />
    <result column="authen_time" property="authenTime" jdbcType="VARCHAR" />
    <result column="authen_sort_key" property="authenSortKey" jdbcType="INTEGER" />
    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    <result column="borrow_pre_nid" property="borrowPreNid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, authen_name, authen_time, authen_sort_key, borrow_nid, borrow_pre_nid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_debt_company_authen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_debt_company_authen
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_debt_company_authen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthenExample" >
    delete from ht_debt_company_authen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthen" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_debt_company_authen (authen_name, authen_time, authen_sort_key, 
      borrow_nid, borrow_pre_nid)
    values (#{authenName,jdbcType=VARCHAR}, #{authenTime,jdbcType=VARCHAR}, #{authenSortKey,jdbcType=INTEGER}, 
      #{borrowNid,jdbcType=VARCHAR}, #{borrowPreNid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthen" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_debt_company_authen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authenName != null" >
        authen_name,
      </if>
      <if test="authenTime != null" >
        authen_time,
      </if>
      <if test="authenSortKey != null" >
        authen_sort_key,
      </if>
      <if test="borrowNid != null" >
        borrow_nid,
      </if>
      <if test="borrowPreNid != null" >
        borrow_pre_nid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authenName != null" >
        #{authenName,jdbcType=VARCHAR},
      </if>
      <if test="authenTime != null" >
        #{authenTime,jdbcType=VARCHAR},
      </if>
      <if test="authenSortKey != null" >
        #{authenSortKey,jdbcType=INTEGER},
      </if>
      <if test="borrowNid != null" >
        #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowPreNid != null" >
        #{borrowPreNid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthenExample" resultType="java.lang.Integer" >
    select count(*) from ht_debt_company_authen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_debt_company_authen
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.authenName != null" >
        authen_name = #{record.authenName,jdbcType=VARCHAR},
      </if>
      <if test="record.authenTime != null" >
        authen_time = #{record.authenTime,jdbcType=VARCHAR},
      </if>
      <if test="record.authenSortKey != null" >
        authen_sort_key = #{record.authenSortKey,jdbcType=INTEGER},
      </if>
      <if test="record.borrowNid != null" >
        borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowPreNid != null" >
        borrow_pre_nid = #{record.borrowPreNid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_debt_company_authen
    set id = #{record.id,jdbcType=INTEGER},
      authen_name = #{record.authenName,jdbcType=VARCHAR},
      authen_time = #{record.authenTime,jdbcType=VARCHAR},
      authen_sort_key = #{record.authenSortKey,jdbcType=INTEGER},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      borrow_pre_nid = #{record.borrowPreNid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthen" >
    update ht_debt_company_authen
    <set >
      <if test="authenName != null" >
        authen_name = #{authenName,jdbcType=VARCHAR},
      </if>
      <if test="authenTime != null" >
        authen_time = #{authenTime,jdbcType=VARCHAR},
      </if>
      <if test="authenSortKey != null" >
        authen_sort_key = #{authenSortKey,jdbcType=INTEGER},
      </if>
      <if test="borrowNid != null" >
        borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowPreNid != null" >
        borrow_pre_nid = #{borrowPreNid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.DebtCompanyAuthen" >
    update ht_debt_company_authen
    set authen_name = #{authenName,jdbcType=VARCHAR},
      authen_time = #{authenTime,jdbcType=VARCHAR},
      authen_sort_key = #{authenSortKey,jdbcType=INTEGER},
      borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      borrow_pre_nid = #{borrowPreNid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>