<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.HjhAssetBorrowTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inst_code" property="instCode" jdbcType="VARCHAR" />
    <result column="asset_type" property="assetType" jdbcType="TINYINT" />
    <result column="borrow_cd" property="borrowCd" jdbcType="TINYINT" />
    <result column="is_open" property="isOpen" jdbcType="TINYINT" />
    <result column="auto_add" property="autoAdd" jdbcType="TINYINT" />
    <result column="auto_record" property="autoRecord" jdbcType="TINYINT" />
    <result column="auto_bail" property="autoBail" jdbcType="TINYINT" />
    <result column="auto_audit" property="autoAudit" jdbcType="TINYINT" />
    <result column="auto_review" property="autoReview" jdbcType="TINYINT" />
    <result column="auto_send_minutes" property="autoSendMinutes" jdbcType="INTEGER" />
    <result column="auto_review_minutes" property="autoReviewMinutes" jdbcType="INTEGER" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="repay_org_name" property="repayOrgName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_user" property="updateUser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inst_code, asset_type, borrow_cd, is_open, auto_add, auto_record, auto_bail, 
    auto_audit, auto_review, auto_send_minutes, auto_review_minutes, applicant, repay_org_name, 
    remark, create_user, create_time, update_user, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_hjh_asset_borrowtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_hjh_asset_borrowtype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_hjh_asset_borrowtype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowTypeExample" >
    delete from ht_hjh_asset_borrowtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_asset_borrowtype (inst_code, asset_type, borrow_cd, 
      is_open, auto_add, auto_record, 
      auto_bail, auto_audit, auto_review, 
      auto_send_minutes, auto_review_minutes, applicant, 
      repay_org_name, remark, create_user, 
      create_time, update_user, update_time
      )
    values (#{instCode,jdbcType=VARCHAR}, #{assetType,jdbcType=TINYINT}, #{borrowCd,jdbcType=TINYINT}, 
      #{isOpen,jdbcType=TINYINT}, #{autoAdd,jdbcType=TINYINT}, #{autoRecord,jdbcType=TINYINT}, 
      #{autoBail,jdbcType=TINYINT}, #{autoAudit,jdbcType=TINYINT}, #{autoReview,jdbcType=TINYINT}, 
      #{autoSendMinutes,jdbcType=INTEGER}, #{autoReviewMinutes,jdbcType=INTEGER}, #{applicant,jdbcType=VARCHAR}, 
      #{repayOrgName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_asset_borrowtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instCode != null" >
        inst_code,
      </if>
      <if test="assetType != null" >
        asset_type,
      </if>
      <if test="borrowCd != null" >
        borrow_cd,
      </if>
      <if test="isOpen != null" >
        is_open,
      </if>
      <if test="autoAdd != null" >
        auto_add,
      </if>
      <if test="autoRecord != null" >
        auto_record,
      </if>
      <if test="autoBail != null" >
        auto_bail,
      </if>
      <if test="autoAudit != null" >
        auto_audit,
      </if>
      <if test="autoReview != null" >
        auto_review,
      </if>
      <if test="autoSendMinutes != null" >
        auto_send_minutes,
      </if>
      <if test="autoReviewMinutes != null" >
        auto_review_minutes,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="repayOrgName != null" >
        repay_org_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instCode != null" >
        #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null" >
        #{assetType,jdbcType=TINYINT},
      </if>
      <if test="borrowCd != null" >
        #{borrowCd,jdbcType=TINYINT},
      </if>
      <if test="isOpen != null" >
        #{isOpen,jdbcType=TINYINT},
      </if>
      <if test="autoAdd != null" >
        #{autoAdd,jdbcType=TINYINT},
      </if>
      <if test="autoRecord != null" >
        #{autoRecord,jdbcType=TINYINT},
      </if>
      <if test="autoBail != null" >
        #{autoBail,jdbcType=TINYINT},
      </if>
      <if test="autoAudit != null" >
        #{autoAudit,jdbcType=TINYINT},
      </if>
      <if test="autoReview != null" >
        #{autoReview,jdbcType=TINYINT},
      </if>
      <if test="autoSendMinutes != null" >
        #{autoSendMinutes,jdbcType=INTEGER},
      </if>
      <if test="autoReviewMinutes != null" >
        #{autoReviewMinutes,jdbcType=INTEGER},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="repayOrgName != null" >
        #{repayOrgName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowTypeExample" resultType="java.lang.Integer" >
    select count(*) from ht_hjh_asset_borrowtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_hjh_asset_borrowtype
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.instCode != null" >
        inst_code = #{record.instCode,jdbcType=VARCHAR},
      </if>
      <if test="record.assetType != null" >
        asset_type = #{record.assetType,jdbcType=TINYINT},
      </if>
      <if test="record.borrowCd != null" >
        borrow_cd = #{record.borrowCd,jdbcType=TINYINT},
      </if>
      <if test="record.isOpen != null" >
        is_open = #{record.isOpen,jdbcType=TINYINT},
      </if>
      <if test="record.autoAdd != null" >
        auto_add = #{record.autoAdd,jdbcType=TINYINT},
      </if>
      <if test="record.autoRecord != null" >
        auto_record = #{record.autoRecord,jdbcType=TINYINT},
      </if>
      <if test="record.autoBail != null" >
        auto_bail = #{record.autoBail,jdbcType=TINYINT},
      </if>
      <if test="record.autoAudit != null" >
        auto_audit = #{record.autoAudit,jdbcType=TINYINT},
      </if>
      <if test="record.autoReview != null" >
        auto_review = #{record.autoReview,jdbcType=TINYINT},
      </if>
      <if test="record.autoSendMinutes != null" >
        auto_send_minutes = #{record.autoSendMinutes,jdbcType=INTEGER},
      </if>
      <if test="record.autoReviewMinutes != null" >
        auto_review_minutes = #{record.autoReviewMinutes,jdbcType=INTEGER},
      </if>
      <if test="record.applicant != null" >
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
      <if test="record.repayOrgName != null" >
        repay_org_name = #{record.repayOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_hjh_asset_borrowtype
    set id = #{record.id,jdbcType=INTEGER},
      inst_code = #{record.instCode,jdbcType=VARCHAR},
      asset_type = #{record.assetType,jdbcType=TINYINT},
      borrow_cd = #{record.borrowCd,jdbcType=TINYINT},
      is_open = #{record.isOpen,jdbcType=TINYINT},
      auto_add = #{record.autoAdd,jdbcType=TINYINT},
      auto_record = #{record.autoRecord,jdbcType=TINYINT},
      auto_bail = #{record.autoBail,jdbcType=TINYINT},
      auto_audit = #{record.autoAudit,jdbcType=TINYINT},
      auto_review = #{record.autoReview,jdbcType=TINYINT},
      auto_send_minutes = #{record.autoSendMinutes,jdbcType=INTEGER},
      auto_review_minutes = #{record.autoReviewMinutes,jdbcType=INTEGER},
      applicant = #{record.applicant,jdbcType=VARCHAR},
      repay_org_name = #{record.repayOrgName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowType" >
    update ht_hjh_asset_borrowtype
    <set >
      <if test="instCode != null" >
        inst_code = #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null" >
        asset_type = #{assetType,jdbcType=TINYINT},
      </if>
      <if test="borrowCd != null" >
        borrow_cd = #{borrowCd,jdbcType=TINYINT},
      </if>
      <if test="isOpen != null" >
        is_open = #{isOpen,jdbcType=TINYINT},
      </if>
      <if test="autoAdd != null" >
        auto_add = #{autoAdd,jdbcType=TINYINT},
      </if>
      <if test="autoRecord != null" >
        auto_record = #{autoRecord,jdbcType=TINYINT},
      </if>
      <if test="autoBail != null" >
        auto_bail = #{autoBail,jdbcType=TINYINT},
      </if>
      <if test="autoAudit != null" >
        auto_audit = #{autoAudit,jdbcType=TINYINT},
      </if>
      <if test="autoReview != null" >
        auto_review = #{autoReview,jdbcType=TINYINT},
      </if>
      <if test="autoSendMinutes != null" >
        auto_send_minutes = #{autoSendMinutes,jdbcType=INTEGER},
      </if>
      <if test="autoReviewMinutes != null" >
        auto_review_minutes = #{autoReviewMinutes,jdbcType=INTEGER},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="repayOrgName != null" >
        repay_org_name = #{repayOrgName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetBorrowType" >
    update ht_hjh_asset_borrowtype
    set inst_code = #{instCode,jdbcType=VARCHAR},
      asset_type = #{assetType,jdbcType=TINYINT},
      borrow_cd = #{borrowCd,jdbcType=TINYINT},
      is_open = #{isOpen,jdbcType=TINYINT},
      auto_add = #{autoAdd,jdbcType=TINYINT},
      auto_record = #{autoRecord,jdbcType=TINYINT},
      auto_bail = #{autoBail,jdbcType=TINYINT},
      auto_audit = #{autoAudit,jdbcType=TINYINT},
      auto_review = #{autoReview,jdbcType=TINYINT},
      auto_send_minutes = #{autoSendMinutes,jdbcType=INTEGER},
      auto_review_minutes = #{autoReviewMinutes,jdbcType=INTEGER},
      applicant = #{applicant,jdbcType=VARCHAR},
      repay_org_name = #{repayOrgName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>