<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.HjhAssetRiskInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="asset_id" property="assetId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="del_flg" property="delFlg" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoWithBLOBs" extends="BaseResultMap" >
    <result column="amazon_info" property="amazonInfo" jdbcType="LONGVARCHAR" />
    <result column="ebay_info" property="ebayInfo" jdbcType="LONGVARCHAR" />
    <result column="jingdong_info" property="jingdongInfo" jdbcType="LONGVARCHAR" />
    <result column="taobao_info" property="taobaoInfo" jdbcType="LONGVARCHAR" />
    <result column="tianmao_info" property="tianmaoInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, asset_id, create_user, create_time, update_user_id, update_time, del_flg
  </sql>
  <sql id="Blob_Column_List" >
    amazon_info, ebay_info, jingdong_info, taobao_info, tianmao_info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ht_hjh_asset_risk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_hjh_asset_risk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ht_hjh_asset_risk_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_hjh_asset_risk_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoExample" >
    delete from ht_hjh_asset_risk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_asset_risk_info (asset_id, create_user, create_time, 
      update_user_id, update_time, del_flg, 
      amazon_info, ebay_info, jingdong_info, 
      taobao_info, tianmao_info)
    values (#{assetId,jdbcType=VARCHAR}, #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, #{delFlg,jdbcType=TINYINT}, 
      #{amazonInfo,jdbcType=LONGVARCHAR}, #{ebayInfo,jdbcType=LONGVARCHAR}, #{jingdongInfo,jdbcType=LONGVARCHAR}, 
      #{taobaoInfo,jdbcType=LONGVARCHAR}, #{tianmaoInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoWithBLOBs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_asset_risk_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetId != null" >
        asset_id,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="amazonInfo != null" >
        amazon_info,
      </if>
      <if test="ebayInfo != null" >
        ebay_info,
      </if>
      <if test="jingdongInfo != null" >
        jingdong_info,
      </if>
      <if test="taobaoInfo != null" >
        taobao_info,
      </if>
      <if test="tianmaoInfo != null" >
        tianmao_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetId != null" >
        #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="amazonInfo != null" >
        #{amazonInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebayInfo != null" >
        #{ebayInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="jingdongInfo != null" >
        #{jingdongInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="taobaoInfo != null" >
        #{taobaoInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="tianmaoInfo != null" >
        #{tianmaoInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoExample" resultType="java.lang.Integer" >
    select count(*) from ht_hjh_asset_risk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_hjh_asset_risk_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.assetId != null" >
        asset_id = #{record.assetId,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.delFlg != null" >
        del_flg = #{record.delFlg,jdbcType=TINYINT},
      </if>
      <if test="record.amazonInfo != null" >
        amazon_info = #{record.amazonInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.ebayInfo != null" >
        ebay_info = #{record.ebayInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.jingdongInfo != null" >
        jingdong_info = #{record.jingdongInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.taobaoInfo != null" >
        taobao_info = #{record.taobaoInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.tianmaoInfo != null" >
        tianmao_info = #{record.tianmaoInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ht_hjh_asset_risk_info
    set id = #{record.id,jdbcType=INTEGER},
      asset_id = #{record.assetId,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      del_flg = #{record.delFlg,jdbcType=TINYINT},
      amazon_info = #{record.amazonInfo,jdbcType=LONGVARCHAR},
      ebay_info = #{record.ebayInfo,jdbcType=LONGVARCHAR},
      jingdong_info = #{record.jingdongInfo,jdbcType=LONGVARCHAR},
      taobao_info = #{record.taobaoInfo,jdbcType=LONGVARCHAR},
      tianmao_info = #{record.tianmaoInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_hjh_asset_risk_info
    set id = #{record.id,jdbcType=INTEGER},
      asset_id = #{record.assetId,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      del_flg = #{record.delFlg,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoWithBLOBs" >
    update ht_hjh_asset_risk_info
    <set >
      <if test="assetId != null" >
        asset_id = #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
      <if test="amazonInfo != null" >
        amazon_info = #{amazonInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="ebayInfo != null" >
        ebay_info = #{ebayInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="jingdongInfo != null" >
        jingdong_info = #{jingdongInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="taobaoInfo != null" >
        taobao_info = #{taobaoInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="tianmaoInfo != null" >
        tianmao_info = #{tianmaoInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfoWithBLOBs" >
    update ht_hjh_asset_risk_info
    set asset_id = #{assetId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=TINYINT},
      amazon_info = #{amazonInfo,jdbcType=LONGVARCHAR},
      ebay_info = #{ebayInfo,jdbcType=LONGVARCHAR},
      jingdong_info = #{jingdongInfo,jdbcType=LONGVARCHAR},
      taobao_info = #{taobaoInfo,jdbcType=LONGVARCHAR},
      tianmao_info = #{tianmaoInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAssetRiskInfo" >
    update ht_hjh_asset_risk_info
    set asset_id = #{assetId,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>