<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.IncreaseInterestInvestMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="invest_user_name" property="investUserName" jdbcType="VARCHAR" />
    <result column="tender_id" property="tenderId" jdbcType="INTEGER" />
    <result column="tender_nid" property="tenderNid" jdbcType="VARCHAR" />
    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    <result column="borrow_apr" property="borrowApr" jdbcType="DECIMAL" />
    <result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="DECIMAL" />
    <result column="borrow_period" property="borrowPeriod" jdbcType="INTEGER" />
    <result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
    <result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="loan_order_date" property="loanOrderDate" jdbcType="VARCHAR" />
    <result column="loan_order_id" property="loanOrderId" jdbcType="VARCHAR" />
    <result column="repay_interest" property="repayInterest" jdbcType="DECIMAL" />
    <result column="repay_interest_yes" property="repayInterestYes" jdbcType="DECIMAL" />
    <result column="repay_interest_wait" property="repayInterestWait" jdbcType="DECIMAL" />
    <result column="repay_times" property="repayTimes" jdbcType="INTEGER" />
    <result column="loan_amount" property="loanAmount" jdbcType="DECIMAL" />
    <result column="client" property="client" jdbcType="TINYINT" />
    <result column="addip" property="addip" jdbcType="VARCHAR" />
    <result column="web" property="web" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="invest_type" property="investType" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, invest_user_name, tender_id, tender_nid, borrow_nid, borrow_apr, borrow_extra_yield, 
    borrow_period, borrow_style, borrow_style_name, order_id, order_date, account, `status`, 
    loan_order_date, loan_order_id, repay_interest, repay_interest_yes, repay_interest_wait, 
    repay_times, loan_amount, client, addip, web, remark, invest_type, create_time, create_user_id, 
    create_user_name, update_time, update_user_id, update_user_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_increase_interest_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_increase_interest_invest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_increase_interest_invest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvestExample" >
    delete from ht_increase_interest_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvest" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_increase_interest_invest (user_id, invest_user_name, tender_id, 
      tender_nid, borrow_nid, borrow_apr, 
      borrow_extra_yield, borrow_period, borrow_style, 
      borrow_style_name, order_id, order_date, 
      account, `status`, loan_order_date, 
      loan_order_id, repay_interest, repay_interest_yes, 
      repay_interest_wait, repay_times, loan_amount, 
      client, addip, web, 
      remark, invest_type, create_time, 
      create_user_id, create_user_name, update_time, 
      update_user_id, update_user_name)
    values (#{userId,jdbcType=INTEGER}, #{investUserName,jdbcType=VARCHAR}, #{tenderId,jdbcType=INTEGER}, 
      #{tenderNid,jdbcType=VARCHAR}, #{borrowNid,jdbcType=VARCHAR}, #{borrowApr,jdbcType=DECIMAL}, 
      #{borrowExtraYield,jdbcType=DECIMAL}, #{borrowPeriod,jdbcType=INTEGER}, #{borrowStyle,jdbcType=VARCHAR}, 
      #{borrowStyleName,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{orderDate,jdbcType=VARCHAR}, 
      #{account,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{loanOrderDate,jdbcType=VARCHAR}, 
      #{loanOrderId,jdbcType=VARCHAR}, #{repayInterest,jdbcType=DECIMAL}, #{repayInterestYes,jdbcType=DECIMAL}, 
      #{repayInterestWait,jdbcType=DECIMAL}, #{repayTimes,jdbcType=INTEGER}, #{loanAmount,jdbcType=DECIMAL}, 
      #{client,jdbcType=TINYINT}, #{addip,jdbcType=VARCHAR}, #{web,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{investType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvest" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_increase_interest_invest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="investUserName != null" >
        invest_user_name,
      </if>
      <if test="tenderId != null" >
        tender_id,
      </if>
      <if test="tenderNid != null" >
        tender_nid,
      </if>
      <if test="borrowNid != null" >
        borrow_nid,
      </if>
      <if test="borrowApr != null" >
        borrow_apr,
      </if>
      <if test="borrowExtraYield != null" >
        borrow_extra_yield,
      </if>
      <if test="borrowPeriod != null" >
        borrow_period,
      </if>
      <if test="borrowStyle != null" >
        borrow_style,
      </if>
      <if test="borrowStyleName != null" >
        borrow_style_name,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="loanOrderDate != null" >
        loan_order_date,
      </if>
      <if test="loanOrderId != null" >
        loan_order_id,
      </if>
      <if test="repayInterest != null" >
        repay_interest,
      </if>
      <if test="repayInterestYes != null" >
        repay_interest_yes,
      </if>
      <if test="repayInterestWait != null" >
        repay_interest_wait,
      </if>
      <if test="repayTimes != null" >
        repay_times,
      </if>
      <if test="loanAmount != null" >
        loan_amount,
      </if>
      <if test="client != null" >
        client,
      </if>
      <if test="addip != null" >
        addip,
      </if>
      <if test="web != null" >
        web,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="investType != null" >
        invest_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="investUserName != null" >
        #{investUserName,jdbcType=VARCHAR},
      </if>
      <if test="tenderId != null" >
        #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="tenderNid != null" >
        #{tenderNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowNid != null" >
        #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowApr != null" >
        #{borrowApr,jdbcType=DECIMAL},
      </if>
      <if test="borrowExtraYield != null" >
        #{borrowExtraYield,jdbcType=DECIMAL},
      </if>
      <if test="borrowPeriod != null" >
        #{borrowPeriod,jdbcType=INTEGER},
      </if>
      <if test="borrowStyle != null" >
        #{borrowStyle,jdbcType=VARCHAR},
      </if>
      <if test="borrowStyleName != null" >
        #{borrowStyleName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="loanOrderDate != null" >
        #{loanOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="loanOrderId != null" >
        #{loanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="repayInterest != null" >
        #{repayInterest,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestYes != null" >
        #{repayInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestWait != null" >
        #{repayInterestWait,jdbcType=DECIMAL},
      </if>
      <if test="repayTimes != null" >
        #{repayTimes,jdbcType=INTEGER},
      </if>
      <if test="loanAmount != null" >
        #{loanAmount,jdbcType=DECIMAL},
      </if>
      <if test="client != null" >
        #{client,jdbcType=TINYINT},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
      <if test="web != null" >
        #{web,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="investType != null" >
        #{investType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvestExample" resultType="java.lang.Integer" >
    select count(*) from ht_increase_interest_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_increase_interest_invest
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.investUserName != null" >
        invest_user_name = #{record.investUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderId != null" >
        tender_id = #{record.tenderId,jdbcType=INTEGER},
      </if>
      <if test="record.tenderNid != null" >
        tender_nid = #{record.tenderNid,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowNid != null" >
        borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowApr != null" >
        borrow_apr = #{record.borrowApr,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowExtraYield != null" >
        borrow_extra_yield = #{record.borrowExtraYield,jdbcType=DECIMAL},
      </if>
      <if test="record.borrowPeriod != null" >
        borrow_period = #{record.borrowPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.borrowStyle != null" >
        borrow_style = #{record.borrowStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowStyleName != null" >
        borrow_style_name = #{record.borrowStyleName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.loanOrderDate != null" >
        loan_order_date = #{record.loanOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="record.loanOrderId != null" >
        loan_order_id = #{record.loanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.repayInterest != null" >
        repay_interest = #{record.repayInterest,jdbcType=DECIMAL},
      </if>
      <if test="record.repayInterestYes != null" >
        repay_interest_yes = #{record.repayInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="record.repayInterestWait != null" >
        repay_interest_wait = #{record.repayInterestWait,jdbcType=DECIMAL},
      </if>
      <if test="record.repayTimes != null" >
        repay_times = #{record.repayTimes,jdbcType=INTEGER},
      </if>
      <if test="record.loanAmount != null" >
        loan_amount = #{record.loanAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.client != null" >
        client = #{record.client,jdbcType=TINYINT},
      </if>
      <if test="record.addip != null" >
        addip = #{record.addip,jdbcType=VARCHAR},
      </if>
      <if test="record.web != null" >
        web = #{record.web,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.investType != null" >
        invest_type = #{record.investType,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserName != null" >
        update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_increase_interest_invest
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      invest_user_name = #{record.investUserName,jdbcType=VARCHAR},
      tender_id = #{record.tenderId,jdbcType=INTEGER},
      tender_nid = #{record.tenderNid,jdbcType=VARCHAR},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      borrow_apr = #{record.borrowApr,jdbcType=DECIMAL},
      borrow_extra_yield = #{record.borrowExtraYield,jdbcType=DECIMAL},
      borrow_period = #{record.borrowPeriod,jdbcType=INTEGER},
      borrow_style = #{record.borrowStyle,jdbcType=VARCHAR},
      borrow_style_name = #{record.borrowStyleName,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      order_date = #{record.orderDate,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=DECIMAL},
      `status` = #{record.status,jdbcType=INTEGER},
      loan_order_date = #{record.loanOrderDate,jdbcType=VARCHAR},
      loan_order_id = #{record.loanOrderId,jdbcType=VARCHAR},
      repay_interest = #{record.repayInterest,jdbcType=DECIMAL},
      repay_interest_yes = #{record.repayInterestYes,jdbcType=DECIMAL},
      repay_interest_wait = #{record.repayInterestWait,jdbcType=DECIMAL},
      repay_times = #{record.repayTimes,jdbcType=INTEGER},
      loan_amount = #{record.loanAmount,jdbcType=DECIMAL},
      client = #{record.client,jdbcType=TINYINT},
      addip = #{record.addip,jdbcType=VARCHAR},
      web = #{record.web,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      invest_type = #{record.investType,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_user_name = #{record.updateUserName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvest" >
    update ht_increase_interest_invest
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="investUserName != null" >
        invest_user_name = #{investUserName,jdbcType=VARCHAR},
      </if>
      <if test="tenderId != null" >
        tender_id = #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="tenderNid != null" >
        tender_nid = #{tenderNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowNid != null" >
        borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="borrowApr != null" >
        borrow_apr = #{borrowApr,jdbcType=DECIMAL},
      </if>
      <if test="borrowExtraYield != null" >
        borrow_extra_yield = #{borrowExtraYield,jdbcType=DECIMAL},
      </if>
      <if test="borrowPeriod != null" >
        borrow_period = #{borrowPeriod,jdbcType=INTEGER},
      </if>
      <if test="borrowStyle != null" >
        borrow_style = #{borrowStyle,jdbcType=VARCHAR},
      </if>
      <if test="borrowStyleName != null" >
        borrow_style_name = #{borrowStyleName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="loanOrderDate != null" >
        loan_order_date = #{loanOrderDate,jdbcType=VARCHAR},
      </if>
      <if test="loanOrderId != null" >
        loan_order_id = #{loanOrderId,jdbcType=VARCHAR},
      </if>
      <if test="repayInterest != null" >
        repay_interest = #{repayInterest,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestYes != null" >
        repay_interest_yes = #{repayInterestYes,jdbcType=DECIMAL},
      </if>
      <if test="repayInterestWait != null" >
        repay_interest_wait = #{repayInterestWait,jdbcType=DECIMAL},
      </if>
      <if test="repayTimes != null" >
        repay_times = #{repayTimes,jdbcType=INTEGER},
      </if>
      <if test="loanAmount != null" >
        loan_amount = #{loanAmount,jdbcType=DECIMAL},
      </if>
      <if test="client != null" >
        client = #{client,jdbcType=TINYINT},
      </if>
      <if test="addip != null" >
        addip = #{addip,jdbcType=VARCHAR},
      </if>
      <if test="web != null" >
        web = #{web,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="investType != null" >
        invest_type = #{investType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.IncreaseInterestInvest" >
    update ht_increase_interest_invest
    set user_id = #{userId,jdbcType=INTEGER},
      invest_user_name = #{investUserName,jdbcType=VARCHAR},
      tender_id = #{tenderId,jdbcType=INTEGER},
      tender_nid = #{tenderNid,jdbcType=VARCHAR},
      borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      borrow_apr = #{borrowApr,jdbcType=DECIMAL},
      borrow_extra_yield = #{borrowExtraYield,jdbcType=DECIMAL},
      borrow_period = #{borrowPeriod,jdbcType=INTEGER},
      borrow_style = #{borrowStyle,jdbcType=VARCHAR},
      borrow_style_name = #{borrowStyleName,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      order_date = #{orderDate,jdbcType=VARCHAR},
      account = #{account,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      loan_order_date = #{loanOrderDate,jdbcType=VARCHAR},
      loan_order_id = #{loanOrderId,jdbcType=VARCHAR},
      repay_interest = #{repayInterest,jdbcType=DECIMAL},
      repay_interest_yes = #{repayInterestYes,jdbcType=DECIMAL},
      repay_interest_wait = #{repayInterestWait,jdbcType=DECIMAL},
      repay_times = #{repayTimes,jdbcType=INTEGER},
      loan_amount = #{loanAmount,jdbcType=DECIMAL},
      client = #{client,jdbcType=TINYINT},
      addip = #{addip,jdbcType=VARCHAR},
      web = #{web,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      invest_type = #{investType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user_name = #{updateUserName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>