<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.NifaRepayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.NifaRepayInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="platform_no" property="platformNo" jdbcType="VARCHAR" />
    <result column="project_no" property="projectNo" jdbcType="VARCHAR" />
    <result column="payment_num" property="paymentNum" jdbcType="INTEGER" />
    <result column="payment_date" property="paymentDate" jdbcType="VARCHAR" />
    <result column="payment_principal" property="paymentPrincipal" jdbcType="VARCHAR" />
    <result column="payment_interest" property="paymentInterest" jdbcType="VARCHAR" />
    <result column="payment_source" property="paymentSource" jdbcType="INTEGER" />
    <result column="payment_situation" property="paymentSituation" jdbcType="INTEGER" />
    <result column="payment_principal_rest" property="paymentPrincipalRest" jdbcType="VARCHAR" />
    <result column="payment_interest_rest" property="paymentInterestRest" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, platform_no, project_no, payment_num, payment_date, payment_principal, payment_interest, 
    payment_source, payment_situation, payment_principal_rest, payment_interest_rest, 
    create_user_id, update_user_id, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_nifa_repay_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_nifa_repay_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_nifa_repay_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfoExample" >
    delete from ht_nifa_repay_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_nifa_repay_info (platform_no, project_no, payment_num, 
      payment_date, payment_principal, payment_interest, 
      payment_source, payment_situation, payment_principal_rest, 
      payment_interest_rest, create_user_id, update_user_id, 
      create_time, update_time)
    values (#{platformNo,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, #{paymentNum,jdbcType=INTEGER}, 
      #{paymentDate,jdbcType=VARCHAR}, #{paymentPrincipal,jdbcType=VARCHAR}, #{paymentInterest,jdbcType=VARCHAR}, 
      #{paymentSource,jdbcType=INTEGER}, #{paymentSituation,jdbcType=INTEGER}, #{paymentPrincipalRest,jdbcType=VARCHAR}, 
      #{paymentInterestRest,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_nifa_repay_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="platformNo != null" >
        platform_no,
      </if>
      <if test="projectNo != null" >
        project_no,
      </if>
      <if test="paymentNum != null" >
        payment_num,
      </if>
      <if test="paymentDate != null" >
        payment_date,
      </if>
      <if test="paymentPrincipal != null" >
        payment_principal,
      </if>
      <if test="paymentInterest != null" >
        payment_interest,
      </if>
      <if test="paymentSource != null" >
        payment_source,
      </if>
      <if test="paymentSituation != null" >
        payment_situation,
      </if>
      <if test="paymentPrincipalRest != null" >
        payment_principal_rest,
      </if>
      <if test="paymentInterestRest != null" >
        payment_interest_rest,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="platformNo != null" >
        #{platformNo,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null" >
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentNum != null" >
        #{paymentNum,jdbcType=INTEGER},
      </if>
      <if test="paymentDate != null" >
        #{paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="paymentPrincipal != null" >
        #{paymentPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="paymentInterest != null" >
        #{paymentInterest,jdbcType=VARCHAR},
      </if>
      <if test="paymentSource != null" >
        #{paymentSource,jdbcType=INTEGER},
      </if>
      <if test="paymentSituation != null" >
        #{paymentSituation,jdbcType=INTEGER},
      </if>
      <if test="paymentPrincipalRest != null" >
        #{paymentPrincipalRest,jdbcType=VARCHAR},
      </if>
      <if test="paymentInterestRest != null" >
        #{paymentInterestRest,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfoExample" resultType="java.lang.Integer" >
    select count(*) from ht_nifa_repay_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_nifa_repay_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.platformNo != null" >
        platform_no = #{record.platformNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projectNo != null" >
        project_no = #{record.projectNo,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentNum != null" >
        payment_num = #{record.paymentNum,jdbcType=INTEGER},
      </if>
      <if test="record.paymentDate != null" >
        payment_date = #{record.paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentPrincipal != null" >
        payment_principal = #{record.paymentPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentInterest != null" >
        payment_interest = #{record.paymentInterest,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentSource != null" >
        payment_source = #{record.paymentSource,jdbcType=INTEGER},
      </if>
      <if test="record.paymentSituation != null" >
        payment_situation = #{record.paymentSituation,jdbcType=INTEGER},
      </if>
      <if test="record.paymentPrincipalRest != null" >
        payment_principal_rest = #{record.paymentPrincipalRest,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentInterestRest != null" >
        payment_interest_rest = #{record.paymentInterestRest,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_nifa_repay_info
    set id = #{record.id,jdbcType=INTEGER},
      platform_no = #{record.platformNo,jdbcType=VARCHAR},
      project_no = #{record.projectNo,jdbcType=VARCHAR},
      payment_num = #{record.paymentNum,jdbcType=INTEGER},
      payment_date = #{record.paymentDate,jdbcType=VARCHAR},
      payment_principal = #{record.paymentPrincipal,jdbcType=VARCHAR},
      payment_interest = #{record.paymentInterest,jdbcType=VARCHAR},
      payment_source = #{record.paymentSource,jdbcType=INTEGER},
      payment_situation = #{record.paymentSituation,jdbcType=INTEGER},
      payment_principal_rest = #{record.paymentPrincipalRest,jdbcType=VARCHAR},
      payment_interest_rest = #{record.paymentInterestRest,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfo" >
    update ht_nifa_repay_info
    <set >
      <if test="platformNo != null" >
        platform_no = #{platformNo,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null" >
        project_no = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="paymentNum != null" >
        payment_num = #{paymentNum,jdbcType=INTEGER},
      </if>
      <if test="paymentDate != null" >
        payment_date = #{paymentDate,jdbcType=VARCHAR},
      </if>
      <if test="paymentPrincipal != null" >
        payment_principal = #{paymentPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="paymentInterest != null" >
        payment_interest = #{paymentInterest,jdbcType=VARCHAR},
      </if>
      <if test="paymentSource != null" >
        payment_source = #{paymentSource,jdbcType=INTEGER},
      </if>
      <if test="paymentSituation != null" >
        payment_situation = #{paymentSituation,jdbcType=INTEGER},
      </if>
      <if test="paymentPrincipalRest != null" >
        payment_principal_rest = #{paymentPrincipalRest,jdbcType=VARCHAR},
      </if>
      <if test="paymentInterestRest != null" >
        payment_interest_rest = #{paymentInterestRest,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.NifaRepayInfo" >
    update ht_nifa_repay_info
    set platform_no = #{platformNo,jdbcType=VARCHAR},
      project_no = #{projectNo,jdbcType=VARCHAR},
      payment_num = #{paymentNum,jdbcType=INTEGER},
      payment_date = #{paymentDate,jdbcType=VARCHAR},
      payment_principal = #{paymentPrincipal,jdbcType=VARCHAR},
      payment_interest = #{paymentInterest,jdbcType=VARCHAR},
      payment_source = #{paymentSource,jdbcType=INTEGER},
      payment_situation = #{paymentSituation,jdbcType=INTEGER},
      payment_principal_rest = #{paymentPrincipalRest,jdbcType=VARCHAR},
      payment_interest_rest = #{paymentInterestRest,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>