<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.NifaFieldDefinitionMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrowing_restrictions" property="borrowingRestrictions" jdbcType="VARCHAR" />
    <result column="judgments_based" property="judgmentsBased" jdbcType="VARCHAR" />
    <result column="repay_date_rule" property="repayDateRule" jdbcType="VARCHAR" />
    <result column="overdue_definition" property="overdueDefinition" jdbcType="VARCHAR" />
    <result column="overdue_responsibility" property="overdueResponsibility" jdbcType="VARCHAR" />
    <result column="overdue_process" property="overdueProcess" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrowing_restrictions, judgments_based, repay_date_rule, overdue_definition, 
    overdue_responsibility, overdue_process, create_user_id, update_user_id, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinitionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_nifa_field_definition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_nifa_field_definition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_nifa_field_definition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinitionExample" >
    delete from ht_nifa_field_definition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinition" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_nifa_field_definition (borrowing_restrictions, judgments_based, 
      repay_date_rule, overdue_definition, overdue_responsibility, 
      overdue_process, create_user_id, update_user_id, 
      create_time, update_time)
    values (#{borrowingRestrictions,jdbcType=VARCHAR}, #{judgmentsBased,jdbcType=VARCHAR}, 
      #{repayDateRule,jdbcType=VARCHAR}, #{overdueDefinition,jdbcType=VARCHAR}, #{overdueResponsibility,jdbcType=VARCHAR}, 
      #{overdueProcess,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinition" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_nifa_field_definition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowingRestrictions != null" >
        borrowing_restrictions,
      </if>
      <if test="judgmentsBased != null" >
        judgments_based,
      </if>
      <if test="repayDateRule != null" >
        repay_date_rule,
      </if>
      <if test="overdueDefinition != null" >
        overdue_definition,
      </if>
      <if test="overdueResponsibility != null" >
        overdue_responsibility,
      </if>
      <if test="overdueProcess != null" >
        overdue_process,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowingRestrictions != null" >
        #{borrowingRestrictions,jdbcType=VARCHAR},
      </if>
      <if test="judgmentsBased != null" >
        #{judgmentsBased,jdbcType=VARCHAR},
      </if>
      <if test="repayDateRule != null" >
        #{repayDateRule,jdbcType=VARCHAR},
      </if>
      <if test="overdueDefinition != null" >
        #{overdueDefinition,jdbcType=VARCHAR},
      </if>
      <if test="overdueResponsibility != null" >
        #{overdueResponsibility,jdbcType=VARCHAR},
      </if>
      <if test="overdueProcess != null" >
        #{overdueProcess,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinitionExample" resultType="java.lang.Integer" >
    select count(*) from ht_nifa_field_definition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_nifa_field_definition
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowingRestrictions != null" >
        borrowing_restrictions = #{record.borrowingRestrictions,jdbcType=VARCHAR},
      </if>
      <if test="record.judgmentsBased != null" >
        judgments_based = #{record.judgmentsBased,jdbcType=VARCHAR},
      </if>
      <if test="record.repayDateRule != null" >
        repay_date_rule = #{record.repayDateRule,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueDefinition != null" >
        overdue_definition = #{record.overdueDefinition,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueResponsibility != null" >
        overdue_responsibility = #{record.overdueResponsibility,jdbcType=VARCHAR},
      </if>
      <if test="record.overdueProcess != null" >
        overdue_process = #{record.overdueProcess,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_nifa_field_definition
    set id = #{record.id,jdbcType=INTEGER},
      borrowing_restrictions = #{record.borrowingRestrictions,jdbcType=VARCHAR},
      judgments_based = #{record.judgmentsBased,jdbcType=VARCHAR},
      repay_date_rule = #{record.repayDateRule,jdbcType=VARCHAR},
      overdue_definition = #{record.overdueDefinition,jdbcType=VARCHAR},
      overdue_responsibility = #{record.overdueResponsibility,jdbcType=VARCHAR},
      overdue_process = #{record.overdueProcess,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinition" >
    update ht_nifa_field_definition
    <set >
      <if test="borrowingRestrictions != null" >
        borrowing_restrictions = #{borrowingRestrictions,jdbcType=VARCHAR},
      </if>
      <if test="judgmentsBased != null" >
        judgments_based = #{judgmentsBased,jdbcType=VARCHAR},
      </if>
      <if test="repayDateRule != null" >
        repay_date_rule = #{repayDateRule,jdbcType=VARCHAR},
      </if>
      <if test="overdueDefinition != null" >
        overdue_definition = #{overdueDefinition,jdbcType=VARCHAR},
      </if>
      <if test="overdueResponsibility != null" >
        overdue_responsibility = #{overdueResponsibility,jdbcType=VARCHAR},
      </if>
      <if test="overdueProcess != null" >
        overdue_process = #{overdueProcess,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.NifaFieldDefinition" >
    update ht_nifa_field_definition
    set borrowing_restrictions = #{borrowingRestrictions,jdbcType=VARCHAR},
      judgments_based = #{judgmentsBased,jdbcType=VARCHAR},
      repay_date_rule = #{repayDateRule,jdbcType=VARCHAR},
      overdue_definition = #{overdueDefinition,jdbcType=VARCHAR},
      overdue_responsibility = #{overdueResponsibility,jdbcType=VARCHAR},
      overdue_process = #{overdueProcess,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>