<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.auto.TenderCommissionMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.TenderCommission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
    <result column="tender_type" property="tenderType" jdbcType="TINYINT" />
    <result column="ordid" property="ordid" jdbcType="VARCHAR" />
    <result column="tender_id" property="tenderId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="tender_user_id" property="tenderUserId" jdbcType="INTEGER" />
    <result column="tender_department_id" property="tenderDepartmentId" jdbcType="INTEGER" />
    <result column="account_tender" property="accountTender" jdbcType="DECIMAL" />
    <result column="tender_time" property="tenderTime" jdbcType="INTEGER" />
    <result column="send_time" property="sendTime" jdbcType="INTEGER" />
    <result column="commission" property="commission" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="compute_time" property="computeTime" jdbcType="INTEGER" />
    <result column="region_id" property="regionId" jdbcType="INTEGER" />
    <result column="branch_id" property="branchId" jdbcType="INTEGER" />
    <result column="region_name" property="regionName" jdbcType="VARCHAR" />
    <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, borrow_nid, tender_type, ordid, tender_id, user_id, department_id, tender_user_id, 
    tender_department_id, account_tender, tender_time, send_time, commission, `status`, 
    remark, compute_time, region_id, branch_id, region_name, branch_name, department_name, 
    account_id, check_status, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommissionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_tender_commission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_tender_commission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_tender_commission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommissionExample" >
    delete from ht_tender_commission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_tender_commission (borrow_nid, tender_type, ordid, 
      tender_id, user_id, department_id, 
      tender_user_id, tender_department_id, account_tender, 
      tender_time, send_time, commission, 
      `status`, remark, compute_time, 
      region_id, branch_id, region_name, 
      branch_name, department_name, account_id, 
      check_status, update_time)
    values (#{borrowNid,jdbcType=VARCHAR}, #{tenderType,jdbcType=TINYINT}, #{ordid,jdbcType=VARCHAR}, 
      #{tenderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{tenderUserId,jdbcType=INTEGER}, #{tenderDepartmentId,jdbcType=INTEGER}, #{accountTender,jdbcType=DECIMAL}, 
      #{tenderTime,jdbcType=INTEGER}, #{sendTime,jdbcType=INTEGER}, #{commission,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{computeTime,jdbcType=INTEGER}, 
      #{regionId,jdbcType=INTEGER}, #{branchId,jdbcType=INTEGER}, #{regionName,jdbcType=VARCHAR}, 
      #{branchName,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, 
      #{checkStatus,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommission" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_tender_commission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borrowNid != null" >
        borrow_nid,
      </if>
      <if test="tenderType != null" >
        tender_type,
      </if>
      <if test="ordid != null" >
        ordid,
      </if>
      <if test="tenderId != null" >
        tender_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="tenderUserId != null" >
        tender_user_id,
      </if>
      <if test="tenderDepartmentId != null" >
        tender_department_id,
      </if>
      <if test="accountTender != null" >
        account_tender,
      </if>
      <if test="tenderTime != null" >
        tender_time,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="commission != null" >
        commission,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="computeTime != null" >
        compute_time,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="branchId != null" >
        branch_id,
      </if>
      <if test="regionName != null" >
        region_name,
      </if>
      <if test="branchName != null" >
        branch_name,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borrowNid != null" >
        #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="tenderType != null" >
        #{tenderType,jdbcType=TINYINT},
      </if>
      <if test="ordid != null" >
        #{ordid,jdbcType=VARCHAR},
      </if>
      <if test="tenderId != null" >
        #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="tenderUserId != null" >
        #{tenderUserId,jdbcType=INTEGER},
      </if>
      <if test="tenderDepartmentId != null" >
        #{tenderDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="accountTender != null" >
        #{accountTender,jdbcType=DECIMAL},
      </if>
      <if test="tenderTime != null" >
        #{tenderTime,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="commission != null" >
        #{commission,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="computeTime != null" >
        #{computeTime,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        #{branchId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommissionExample" resultType="java.lang.Integer" >
    select count(*) from ht_tender_commission
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_tender_commission
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.borrowNid != null" >
        borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderType != null" >
        tender_type = #{record.tenderType,jdbcType=TINYINT},
      </if>
      <if test="record.ordid != null" >
        ordid = #{record.ordid,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderId != null" >
        tender_id = #{record.tenderId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.departmentId != null" >
        department_id = #{record.departmentId,jdbcType=INTEGER},
      </if>
      <if test="record.tenderUserId != null" >
        tender_user_id = #{record.tenderUserId,jdbcType=INTEGER},
      </if>
      <if test="record.tenderDepartmentId != null" >
        tender_department_id = #{record.tenderDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="record.accountTender != null" >
        account_tender = #{record.accountTender,jdbcType=DECIMAL},
      </if>
      <if test="record.tenderTime != null" >
        tender_time = #{record.tenderTime,jdbcType=INTEGER},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=INTEGER},
      </if>
      <if test="record.commission != null" >
        commission = #{record.commission,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.computeTime != null" >
        compute_time = #{record.computeTime,jdbcType=INTEGER},
      </if>
      <if test="record.regionId != null" >
        region_id = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.branchId != null" >
        branch_id = #{record.branchId,jdbcType=INTEGER},
      </if>
      <if test="record.regionName != null" >
        region_name = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null" >
        branch_name = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentName != null" >
        department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_tender_commission
    set id = #{record.id,jdbcType=INTEGER},
      borrow_nid = #{record.borrowNid,jdbcType=VARCHAR},
      tender_type = #{record.tenderType,jdbcType=TINYINT},
      ordid = #{record.ordid,jdbcType=VARCHAR},
      tender_id = #{record.tenderId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      department_id = #{record.departmentId,jdbcType=INTEGER},
      tender_user_id = #{record.tenderUserId,jdbcType=INTEGER},
      tender_department_id = #{record.tenderDepartmentId,jdbcType=INTEGER},
      account_tender = #{record.accountTender,jdbcType=DECIMAL},
      tender_time = #{record.tenderTime,jdbcType=INTEGER},
      send_time = #{record.sendTime,jdbcType=INTEGER},
      commission = #{record.commission,jdbcType=DECIMAL},
      `status` = #{record.status,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      compute_time = #{record.computeTime,jdbcType=INTEGER},
      region_id = #{record.regionId,jdbcType=INTEGER},
      branch_id = #{record.branchId,jdbcType=INTEGER},
      region_name = #{record.regionName,jdbcType=VARCHAR},
      branch_name = #{record.branchName,jdbcType=VARCHAR},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=VARCHAR},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommission" >
    update ht_tender_commission
    <set >
      <if test="borrowNid != null" >
        borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      </if>
      <if test="tenderType != null" >
        tender_type = #{tenderType,jdbcType=TINYINT},
      </if>
      <if test="ordid != null" >
        ordid = #{ordid,jdbcType=VARCHAR},
      </if>
      <if test="tenderId != null" >
        tender_id = #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="tenderUserId != null" >
        tender_user_id = #{tenderUserId,jdbcType=INTEGER},
      </if>
      <if test="tenderDepartmentId != null" >
        tender_department_id = #{tenderDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="accountTender != null" >
        account_tender = #{accountTender,jdbcType=DECIMAL},
      </if>
      <if test="tenderTime != null" >
        tender_time = #{tenderTime,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=INTEGER},
      </if>
      <if test="commission != null" >
        commission = #{commission,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="computeTime != null" >
        compute_time = #{computeTime,jdbcType=INTEGER},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="branchId != null" >
        branch_id = #{branchId,jdbcType=INTEGER},
      </if>
      <if test="regionName != null" >
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        branch_name = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.trade.dao.model.auto.TenderCommission" >
    update ht_tender_commission
    set borrow_nid = #{borrowNid,jdbcType=VARCHAR},
      tender_type = #{tenderType,jdbcType=TINYINT},
      ordid = #{ordid,jdbcType=VARCHAR},
      tender_id = #{tenderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      tender_user_id = #{tenderUserId,jdbcType=INTEGER},
      tender_department_id = #{tenderDepartmentId,jdbcType=INTEGER},
      account_tender = #{accountTender,jdbcType=DECIMAL},
      tender_time = #{tenderTime,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=INTEGER},
      commission = #{commission,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      compute_time = #{computeTime,jdbcType=INTEGER},
      region_id = #{regionId,jdbcType=INTEGER},
      branch_id = #{branchId,jdbcType=INTEGER},
      region_name = #{regionName,jdbcType=VARCHAR},
      branch_name = #{branchName,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>