<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.wbs.trade.dao.mapper.auto.RecoverMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.wbs.qvo.RecoverVO" >
    <result column="assetCustomerId" property="assetCustomerId" jdbcType="VARCHAR" />
    <result column="refundOrderNumber" property="refundOrderNumber" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
    <result column="productNo" property="productNo" jdbcType="VARCHAR" />
    <result column="entId" property="entId" jdbcType="INTEGER" />
    <result column="assetId" property="assetId" jdbcType="INTEGER" />
    <result column="expectedExitTime" property="expectedExitTime" jdbcType="VARCHAR" />
    <result column="actualExitTime" property="actualExitTime" jdbcType="VARCHAR" />
    <result column="expectedRepay" property="expectedRepay" jdbcType="DOUBLE" />
    <result column="actualRepay" property="actualRepay" jdbcType="DOUBLE" />
    <result column="expectedExitCapital" property="expectedExitCapital" jdbcType="DOUBLE" />
    <result column="actualExitCapital" property="actualExitCapital" jdbcType="DOUBLE" />
    <result column="expectedExitAmount" property="expectedExitAmount" jdbcType="DOUBLE" />
    <result column="actualExitAmount" property="actualExitAmount" jdbcType="DOUBLE" />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <select id="getRecoverInfo" resultMap="BaseResultMap"
          parameterType="com.hyjf.wbs.qvo.RecoverQO">
    select * from
    (SELECT
    br.user_id AS assetCustomerId,
    br.repay_ordid AS refundOrderNumber,
    br.nid AS orderNo,
    br.borrow_nid AS productNo,
    #{entId} AS entId,
    1 AS assetId,
    FROM_UNIXTIME(br.recover_time,'%Y-%m-%d') AS expectedExitTime,
    FROM_UNIXTIME(br.recover_yestime,'%Y-%m-%d') AS actualExitTime,
    br.recover_interest AS expectedRepay,
    br.recover_interest_yes AS actualRepay,
    br.recover_capital AS expectedExitCapital,
    br.recover_capital_yes AS actualExitCapital,
    br.recover_account AS expectedExitAmount,
    br.recover_account_yes AS actualExitAmount,
    br.recover_period AS period,
    1 AS status
    FROM ht_borrow_recover br
    LEFT JOIN ht_borrow b ON br.borrow_nid =b.borrow_nid
    LEFT JOIN hyjf_user.ht_utm_reg ur ON br.user_id = ur.user_id
    WHERE br.recover_status=1 and br.accede_order_id is null
    and b.borrow_style in ('principal','month','endmonth','endday','end')
    <if test="assetCustomerId != null and assetCustomerId != ''">
      AND br.user_id = #{assetCustomerId}
    </if>
    <!-- 财富端id  纳觅：8001大唐：8002千乐：8003 -->
    <if test="utmIds != null">
      AND ur.utm_id in
      <foreach collection="utmIds" item="item" index="index" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    UNION ALL
    SELECT
    brp.user_id AS assetCustomerId,
    brp.repay_order_id AS refundOrderNumber,
    brp.nid AS orderNo,
    brp.borrow_nid  AS productNo,
    #{entId} AS entId,
    1 AS assetId,
      FROM_UNIXTIME(brp.recover_time,'%Y-%m-%d') AS expectedExitTime,
      FROM_UNIXTIME(brp.recover_yestime,'%Y-%m-%d') AS actualExitTime,
    brp.recover_interest AS expectedRepay,
    brp.recover_interest_yes AS actualRepay,
    brp.recover_capital AS expectedExitCapital,
    brp.recover_capital_yes AS actualExitCapital,
    brp.recover_account AS expectedExitAmount,
    brp.recover_account_yes AS actualExitAmount,
    brp.recover_period AS period,
    1 AS status
    FROM ht_borrow_recover_plan brp
    LEFT JOIN ht_borrow b ON brp.borrow_nid =b.borrow_nid
    LEFT  JOIN hyjf_user.ht_utm_reg ur ON brp.user_id = ur.user_id
    WHERE brp.recover_status=1
    and brp.accede_order_id is null
    <if test="assetCustomerId != null and assetCustomerId != ''">
      AND br.user_id = #{assetCustomerId}
    </if>
    <!-- 财富端id  纳觅：8001大唐：8002千乐：8003 -->
    <if test="utmIds != null">
      AND ur.utm_id in
      <foreach collection="utmIds" item="item" index="index" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
union all
    SELECT
    ha.user_id AS assetCustomerId,
    ha.accede_order_id AS refundOrderNumber,
    ha.accede_order_id AS orderNo,
    ha.plan_nid  AS productNo,
    #{entId} AS entId,
    1 AS assetId,
    FROM_UNIXTIME(ha.quit_time,'%Y-%m-%d') AS expectedExitTime,
    FROM_UNIXTIME(ha.acctual_payment_time,'%Y-%m-%d') AS actualExitTime,
    ha.should_pay_interest AS expectedRepay,
    ha.received_interest AS actualRepay,
    ha.should_pay_capital AS expectedExitCapital,
    ha.received_capital AS actualExitCapital,
    ha.should_pay_total AS expectedExitAmount,
    ha.received_total AS actualExitAmount,
    ha.lock_period AS period,
    1 AS status
    FROM ht_hjh_accede ha
    LEFT JOIN ht_hjh_repay hr ON ha.accede_order_id=hr.accede_order_id
    AND hr.repay_status=2
    LEFT  JOIN hyjf_user.ht_utm_reg ur ON ha.user_id = ur.user_id
    WHERE ha.order_status=7
    <if test="assetCustomerId != null and assetCustomerId != ''">
      AND br.user_id = #{assetCustomerId}
    </if>
    <!-- 财富端id  纳觅：8001大唐：8002千乐：8003 -->
    <if test="utmIds != null">
      AND ur.utm_id in
      <foreach collection="utmIds" item="item" index="index" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    ) as recover
    <if test="limitStart >= 0">
      LIMIT #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="getRecoverCount" resultType="java.lang.Integer"
          parameterType="com.hyjf.wbs.qvo.RecoverQO">
    select count(*)
    from (SELECT
    br.user_id AS assetCustomerId
    FROM ht_borrow_recover br
    LEFT JOIN ht_borrow b ON br.borrow_nid =b.borrow_nid
    LEFT JOIN hyjf_user.ht_utm_reg ur ON br.user_id = ur.user_id
    WHERE br.recover_status=1 and br.accede_order_id is null
    and b.borrow_style in ('principal','month','endmonth','endday','end')
    <if test="assetCustomerId != null and assetCustomerId != ''">
      AND br.user_id = #{assetCustomerId}
    </if>
    <!-- 财富端id  纳觅：8001大唐：8002千乐：8003 -->
    <if test="utmIds != null">
      AND ur.utm_id in
      <foreach collection="utmIds" item="item" index="index" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    UNION ALL
    SELECT
    brp.user_id AS assetCustomerId
    FROM ht_borrow_recover_plan brp
    LEFT JOIN ht_borrow b ON brp.borrow_nid =b.borrow_nid
    LEFT  JOIN hyjf_user.ht_utm_reg ur ON brp.user_id = ur.user_id
    WHERE brp.recover_status=1  and brp.accede_order_id is null
    <if test="assetCustomerId != null and assetCustomerId != ''">
      AND br.user_id = #{assetCustomerId}
    </if>
    <!-- 财富端id  纳觅：8001大唐：8002千乐：8003 -->
    <if test="utmIds != null">
      AND ur.utm_id in
      <foreach collection="utmIds" item="item" index="index" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    union all
    SELECT
    ha.user_id AS assetCustomerId
    FROM ht_hjh_accede ha
    LEFT JOIN ht_hjh_repay hr ON ha.accede_order_id=hr.accede_order_id
    AND hr.repay_status=2
    LEFT  JOIN hyjf_user.ht_utm_reg ur ON ha.user_id = ur.user_id
    WHERE ha.order_status=7
    <if test="assetCustomerId != null and assetCustomerId != ''">
      AND br.user_id = #{assetCustomerId}
    </if>
    <!-- 财富端id  纳觅：8001大唐：8002千乐：8003 -->
    <if test="utmIds != null">
      AND ur.utm_id in
      <foreach collection="utmIds" item="item" index="index" open="("  close=")" separator=",">
        #{item}
      </foreach>
    </if>
    ) countR
  </select>
</mapper>