<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.config.dao.mapper.customize.HolidaysConfigCustomizeMapper">
	
	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO ht_holidays_config(day_time)
		<foreach collection="list" item="item" index="index" open="" close="" separator="union all">
			SELECT #{item.dayTime, jdbcType=DATE} as a FROM DUAL
		</foreach>
	</insert>

	<update id="batchUpdate" parameterType="java.util.List">
		update ht_holidays_config
		set  holiday_flag =
		<foreach collection="list" item="item" index="index"
				 separator=" " open="case id" close="end">
			when #{item.id} then #{item.holidayFlag}
		</foreach>
		where id in
		<foreach collection="list" index="index" item="item"
				 separator="," open="(" close=")">
			#{item.id}
		</foreach>
	</update>

	<delete id="deleteByYear">
		delete FROM ht_holidays_config where day_time <![CDATA[>=]]> STR_TO_DATE(concat(#{year},'0101'),"%Y%m%d")
			and day_time  <![CDATA[<]]> STR_TO_DATE(concat(#{year} + 1,'0101'),"%Y%m%d")
	</delete>

	<resultMap id="selectByMonthMap" type="com.hyjf.am.config.dao.model.auto.HolidaysConfig">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="day_time" property="dayTime" jdbcType="DATE" />
		<result column="holiday_flag" property="holidayFlag" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectByYearMonth" resultMap="selectByMonthMap">
		select * from ht_holidays_config
			where day_time <![CDATA[>=]]> STR_TO_DATE(concat(#{year},  LPAD(#{month},2,'0'),'01'),"%Y%m%d")
			and day_time  <![CDATA[<]]> DATE_ADD(STR_TO_DATE(CONCAT(#{year} ,LPAD(#{month},2,'0'),'01'),"%Y%m%d"),INTERVAL 1 MONTH)
	</select>

</mapper>