<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.config.dao.mapper.customize.JXBankConfigCustomizeMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.config.dao.model.auto.JxBankConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_icon" property="bankIcon" jdbcType="VARCHAR" />
    <result column="bank_logo" property="bankLogo" jdbcType="VARCHAR" />
    <result column="pay_alliance_code" property="payAllianceCode" jdbcType="VARCHAR" />
    <result column="quick_payment" property="quickPayment" jdbcType="TINYINT" />
    <result column="single_quota" property="singleQuota" jdbcType="DECIMAL" />
    <result column="single_card_quota" property="singleCardQuota" jdbcType="DECIMAL" />
    <result column="fee_withdraw" property="feeWithdraw" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="month_card_quota" property="monthCardQuota" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bank_name, bank_code, bank_icon, bank_logo, pay_alliance_code, quick_payment,
    single_quota, single_card_quota, fee_withdraw, remark, sort_id, create_user_id, create_time,
    update_user_id, update_time, del_flag, month_card_quota
  </sql>
  <select id="selectByQuickPayment" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from ht_jx_bank_config
	where quick_payment = #{quickPayment,jdbcType=INTEGER} and del_flag=0
      order by sort_id ASC,id ASC
  </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_jx_bank_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
      order by sort_id ASC,id ASC
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  
</mapper>