<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.auto.MspBlackdataMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.auto.MspBlackdata" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="VARCHAR" />
    <result column="lastOverdueDate" property="lastoverduedate" jdbcType="VARCHAR" />
    <result column="creditAddress" property="creditaddress" jdbcType="VARCHAR" />
    <result column="arrears" property="arrears" jdbcType="VARCHAR" />
    <result column="overdueDays" property="overduedays" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="residenceAddress" property="residenceaddress" jdbcType="VARCHAR" />
    <result column="currentAddress" property="currentaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, apply_id, createDate, lastOverdueDate, creditAddress, arrears, overdueDays, phone, 
    email, residenceAddress, currentAddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_msp_blackdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_msp_blackdata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_msp_blackdata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdataExample" >
    delete from ht_msp_blackdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdata" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_msp_blackdata (apply_id, createDate, lastOverdueDate, 
      creditAddress, arrears, overdueDays, 
      phone, email, residenceAddress, 
      currentAddress)
    values (#{applyId,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, #{lastoverduedate,jdbcType=VARCHAR}, 
      #{creditaddress,jdbcType=VARCHAR}, #{arrears,jdbcType=VARCHAR}, #{overduedays,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{residenceaddress,jdbcType=VARCHAR}, 
      #{currentaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdata" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_msp_blackdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="lastoverduedate != null" >
        lastOverdueDate,
      </if>
      <if test="creditaddress != null" >
        creditAddress,
      </if>
      <if test="arrears != null" >
        arrears,
      </if>
      <if test="overduedays != null" >
        overdueDays,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="residenceaddress != null" >
        residenceAddress,
      </if>
      <if test="currentaddress != null" >
        currentAddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="lastoverduedate != null" >
        #{lastoverduedate,jdbcType=VARCHAR},
      </if>
      <if test="creditaddress != null" >
        #{creditaddress,jdbcType=VARCHAR},
      </if>
      <if test="arrears != null" >
        #{arrears,jdbcType=VARCHAR},
      </if>
      <if test="overduedays != null" >
        #{overduedays,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="residenceaddress != null" >
        #{residenceaddress,jdbcType=VARCHAR},
      </if>
      <if test="currentaddress != null" >
        #{currentaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdataExample" resultType="java.lang.Integer" >
    select count(*) from ht_msp_blackdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_msp_blackdata
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.lastoverduedate != null" >
        lastOverdueDate = #{record.lastoverduedate,jdbcType=VARCHAR},
      </if>
      <if test="record.creditaddress != null" >
        creditAddress = #{record.creditaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.arrears != null" >
        arrears = #{record.arrears,jdbcType=VARCHAR},
      </if>
      <if test="record.overduedays != null" >
        overdueDays = #{record.overduedays,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.residenceaddress != null" >
        residenceAddress = #{record.residenceaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.currentaddress != null" >
        currentAddress = #{record.currentaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_msp_blackdata
    set id = #{record.id,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=VARCHAR},
      lastOverdueDate = #{record.lastoverduedate,jdbcType=VARCHAR},
      creditAddress = #{record.creditaddress,jdbcType=VARCHAR},
      arrears = #{record.arrears,jdbcType=VARCHAR},
      overdueDays = #{record.overduedays,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      residenceAddress = #{record.residenceaddress,jdbcType=VARCHAR},
      currentAddress = #{record.currentaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdata" >
    update ht_msp_blackdata
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="lastoverduedate != null" >
        lastOverdueDate = #{lastoverduedate,jdbcType=VARCHAR},
      </if>
      <if test="creditaddress != null" >
        creditAddress = #{creditaddress,jdbcType=VARCHAR},
      </if>
      <if test="arrears != null" >
        arrears = #{arrears,jdbcType=VARCHAR},
      </if>
      <if test="overduedays != null" >
        overdueDays = #{overduedays,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="residenceaddress != null" >
        residenceAddress = #{residenceaddress,jdbcType=VARCHAR},
      </if>
      <if test="currentaddress != null" >
        currentAddress = #{currentaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.user.dao.model.auto.MspBlackdata" >
    update ht_msp_blackdata
    set apply_id = #{applyId,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=VARCHAR},
      lastOverdueDate = #{lastoverduedate,jdbcType=VARCHAR},
      creditAddress = #{creditaddress,jdbcType=VARCHAR},
      arrears = #{arrears,jdbcType=VARCHAR},
      overdueDays = #{overduedays,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      residenceAddress = #{residenceaddress,jdbcType=VARCHAR},
      currentAddress = #{currentaddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>