<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.auto.MspShixininfosMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.auto.MspShixininfos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="shixin_id" property="shixinId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="paperNum" property="papernum" jdbcType="VARCHAR" />
    <result column="anliNum" property="anlinum" jdbcType="VARCHAR" />
    <result column="beizhixingrenlvxingStatus" property="beizhixingrenlvxingstatus" jdbcType="VARCHAR" />
    <result column="jutiStatus" property="jutistatus" jdbcType="VARCHAR" />
    <result column="lianTime" property="liantime" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="publicTime" property="publictime" jdbcType="VARCHAR" />
    <result column="zhixingCourt" property="zhixingcourt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, apply_id, shixin_id, `name`, paperNum, anliNum, beizhixingrenlvxingStatus, jutiStatus, 
    lianTime, province, publicTime, zhixingCourt
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfosExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_msp_shixininfos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_msp_shixininfos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_msp_shixininfos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfosExample" >
    delete from ht_msp_shixininfos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfos" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_msp_shixininfos (apply_id, shixin_id, `name`, 
      paperNum, anliNum, beizhixingrenlvxingStatus, 
      jutiStatus, lianTime, province, 
      publicTime, zhixingCourt)
    values (#{applyId,jdbcType=VARCHAR}, #{shixinId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{papernum,jdbcType=VARCHAR}, #{anlinum,jdbcType=VARCHAR}, #{beizhixingrenlvxingstatus,jdbcType=VARCHAR}, 
      #{jutistatus,jdbcType=VARCHAR}, #{liantime,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{publictime,jdbcType=VARCHAR}, #{zhixingcourt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfos" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_msp_shixininfos
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="shixinId != null" >
        shixin_id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="papernum != null" >
        paperNum,
      </if>
      <if test="anlinum != null" >
        anliNum,
      </if>
      <if test="beizhixingrenlvxingstatus != null" >
        beizhixingrenlvxingStatus,
      </if>
      <if test="jutistatus != null" >
        jutiStatus,
      </if>
      <if test="liantime != null" >
        lianTime,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="publictime != null" >
        publicTime,
      </if>
      <if test="zhixingcourt != null" >
        zhixingCourt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="shixinId != null" >
        #{shixinId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="papernum != null" >
        #{papernum,jdbcType=VARCHAR},
      </if>
      <if test="anlinum != null" >
        #{anlinum,jdbcType=VARCHAR},
      </if>
      <if test="beizhixingrenlvxingstatus != null" >
        #{beizhixingrenlvxingstatus,jdbcType=VARCHAR},
      </if>
      <if test="jutistatus != null" >
        #{jutistatus,jdbcType=VARCHAR},
      </if>
      <if test="liantime != null" >
        #{liantime,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="publictime != null" >
        #{publictime,jdbcType=VARCHAR},
      </if>
      <if test="zhixingcourt != null" >
        #{zhixingcourt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfosExample" resultType="java.lang.Integer" >
    select count(*) from ht_msp_shixininfos
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_msp_shixininfos
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.shixinId != null" >
        shixin_id = #{record.shixinId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.papernum != null" >
        paperNum = #{record.papernum,jdbcType=VARCHAR},
      </if>
      <if test="record.anlinum != null" >
        anliNum = #{record.anlinum,jdbcType=VARCHAR},
      </if>
      <if test="record.beizhixingrenlvxingstatus != null" >
        beizhixingrenlvxingStatus = #{record.beizhixingrenlvxingstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.jutistatus != null" >
        jutiStatus = #{record.jutistatus,jdbcType=VARCHAR},
      </if>
      <if test="record.liantime != null" >
        lianTime = #{record.liantime,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.publictime != null" >
        publicTime = #{record.publictime,jdbcType=VARCHAR},
      </if>
      <if test="record.zhixingcourt != null" >
        zhixingCourt = #{record.zhixingcourt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_msp_shixininfos
    set id = #{record.id,jdbcType=INTEGER},
      apply_id = #{record.applyId,jdbcType=VARCHAR},
      shixin_id = #{record.shixinId,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      paperNum = #{record.papernum,jdbcType=VARCHAR},
      anliNum = #{record.anlinum,jdbcType=VARCHAR},
      beizhixingrenlvxingStatus = #{record.beizhixingrenlvxingstatus,jdbcType=VARCHAR},
      jutiStatus = #{record.jutistatus,jdbcType=VARCHAR},
      lianTime = #{record.liantime,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      publicTime = #{record.publictime,jdbcType=VARCHAR},
      zhixingCourt = #{record.zhixingcourt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfos" >
    update ht_msp_shixininfos
    <set >
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="shixinId != null" >
        shixin_id = #{shixinId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="papernum != null" >
        paperNum = #{papernum,jdbcType=VARCHAR},
      </if>
      <if test="anlinum != null" >
        anliNum = #{anlinum,jdbcType=VARCHAR},
      </if>
      <if test="beizhixingrenlvxingstatus != null" >
        beizhixingrenlvxingStatus = #{beizhixingrenlvxingstatus,jdbcType=VARCHAR},
      </if>
      <if test="jutistatus != null" >
        jutiStatus = #{jutistatus,jdbcType=VARCHAR},
      </if>
      <if test="liantime != null" >
        lianTime = #{liantime,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="publictime != null" >
        publicTime = #{publictime,jdbcType=VARCHAR},
      </if>
      <if test="zhixingcourt != null" >
        zhixingCourt = #{zhixingcourt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.user.dao.model.auto.MspShixininfos" >
    update ht_msp_shixininfos
    set apply_id = #{applyId,jdbcType=VARCHAR},
      shixin_id = #{shixinId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      paperNum = #{papernum,jdbcType=VARCHAR},
      anliNum = #{anlinum,jdbcType=VARCHAR},
      beizhixingrenlvxingStatus = #{beizhixingrenlvxingstatus,jdbcType=VARCHAR},
      jutiStatus = #{jutistatus,jdbcType=VARCHAR},
      lianTime = #{liantime,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      publicTime = #{publictime,jdbcType=VARCHAR},
      zhixingCourt = #{zhixingcourt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>