<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.auto.ScreenConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.auto.ScreenConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="task_time" property="taskTime" jdbcType="VARCHAR" />
    <result column="new_passenger_goal" property="newPassengerGoal" jdbcType="DECIMAL" />
    <result column="old_passenger_goal" property="oldPassengerGoal" jdbcType="DECIMAL" />
    <result column="operational_goal" property="operationalGoal" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, task_time, new_passenger_goal, old_passenger_goal, operational_goal, `status`, 
    del_flag, create_user_id, update_user_id, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_screen_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_screen_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_screen_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfigExample" >
    delete from ht_screen_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_screen_config (task_time, new_passenger_goal, old_passenger_goal, 
      operational_goal, `status`, del_flag, 
      create_user_id, update_user_id, create_time, 
      update_time)
    values (#{taskTime,jdbcType=VARCHAR}, #{newPassengerGoal,jdbcType=DECIMAL}, #{oldPassengerGoal,jdbcType=DECIMAL}, 
      #{operationalGoal,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{delFlag,jdbcType=TINYINT}, 
      #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_screen_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskTime != null" >
        task_time,
      </if>
      <if test="newPassengerGoal != null" >
        new_passenger_goal,
      </if>
      <if test="oldPassengerGoal != null" >
        old_passenger_goal,
      </if>
      <if test="operationalGoal != null" >
        operational_goal,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskTime != null" >
        #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="newPassengerGoal != null" >
        #{newPassengerGoal,jdbcType=DECIMAL},
      </if>
      <if test="oldPassengerGoal != null" >
        #{oldPassengerGoal,jdbcType=DECIMAL},
      </if>
      <if test="operationalGoal != null" >
        #{operationalGoal,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfigExample" resultType="java.lang.Integer" >
    select count(*) from ht_screen_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_screen_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskTime != null" >
        task_time = #{record.taskTime,jdbcType=VARCHAR},
      </if>
      <if test="record.newPassengerGoal != null" >
        new_passenger_goal = #{record.newPassengerGoal,jdbcType=DECIMAL},
      </if>
      <if test="record.oldPassengerGoal != null" >
        old_passenger_goal = #{record.oldPassengerGoal,jdbcType=DECIMAL},
      </if>
      <if test="record.operationalGoal != null" >
        operational_goal = #{record.operationalGoal,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_screen_config
    set id = #{record.id,jdbcType=INTEGER},
      task_time = #{record.taskTime,jdbcType=VARCHAR},
      new_passenger_goal = #{record.newPassengerGoal,jdbcType=DECIMAL},
      old_passenger_goal = #{record.oldPassengerGoal,jdbcType=DECIMAL},
      operational_goal = #{record.operationalGoal,jdbcType=DECIMAL},
      `status` = #{record.status,jdbcType=TINYINT},
      del_flag = #{record.delFlag,jdbcType=TINYINT},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfig" >
    update ht_screen_config
    <set >
      <if test="taskTime != null" >
        task_time = #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="newPassengerGoal != null" >
        new_passenger_goal = #{newPassengerGoal,jdbcType=DECIMAL},
      </if>
      <if test="oldPassengerGoal != null" >
        old_passenger_goal = #{oldPassengerGoal,jdbcType=DECIMAL},
      </if>
      <if test="operationalGoal != null" >
        operational_goal = #{operationalGoal,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.user.dao.model.auto.ScreenConfig" >
    update ht_screen_config
    set task_time = #{taskTime,jdbcType=VARCHAR},
      new_passenger_goal = #{newPassengerGoal,jdbcType=DECIMAL},
      old_passenger_goal = #{oldPassengerGoal,jdbcType=DECIMAL},
      operational_goal = #{operationalGoal,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>