<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.auto.UserChangeLogMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.auto.UserChangeLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="TINYINT" />
    <result column="attribute" property="attribute" jdbcType="TINYINT" />
    <result column="recommend_user" property="recommendUser" jdbcType="VARCHAR" />
    <result column="is51" property="is51" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="borrower_type" property="borrowerType" jdbcType="TINYINT" />
    <result column="update_type" property="updateType" jdbcType="TINYINT" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, username, real_name, mobile, idcard, `role`, `attribute`, recommend_user, 
    is51, `status`, remark, borrower_type, update_type, update_user_id, update_user, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_user_change_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_user_change_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_user_change_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLogExample" >
    delete from ht_user_change_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_user_change_log (user_id, username, real_name, 
      mobile, idcard, `role`, 
      `attribute`, recommend_user, is51, 
      `status`, remark, borrower_type, 
      update_type, update_user_id, update_user, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{role,jdbcType=TINYINT}, 
      #{attribute,jdbcType=TINYINT}, #{recommendUser,jdbcType=VARCHAR}, #{is51,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{borrowerType,jdbcType=TINYINT}, 
      #{updateType,jdbcType=TINYINT}, #{updateUserId,jdbcType=INTEGER}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_user_change_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="role != null" >
        `role`,
      </if>
      <if test="attribute != null" >
        `attribute`,
      </if>
      <if test="recommendUser != null" >
        recommend_user,
      </if>
      <if test="is51 != null" >
        is51,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="borrowerType != null" >
        borrower_type,
      </if>
      <if test="updateType != null" >
        update_type,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=TINYINT},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=TINYINT},
      </if>
      <if test="recommendUser != null" >
        #{recommendUser,jdbcType=VARCHAR},
      </if>
      <if test="is51 != null" >
        #{is51,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="borrowerType != null" >
        #{borrowerType,jdbcType=TINYINT},
      </if>
      <if test="updateType != null" >
        #{updateType,jdbcType=TINYINT},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLogExample" resultType="java.lang.Integer" >
    select count(*) from ht_user_change_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_user_change_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.role != null" >
        `role` = #{record.role,jdbcType=TINYINT},
      </if>
      <if test="record.attribute != null" >
        `attribute` = #{record.attribute,jdbcType=TINYINT},
      </if>
      <if test="record.recommendUser != null" >
        recommend_user = #{record.recommendUser,jdbcType=VARCHAR},
      </if>
      <if test="record.is51 != null" >
        is51 = #{record.is51,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowerType != null" >
        borrower_type = #{record.borrowerType,jdbcType=TINYINT},
      </if>
      <if test="record.updateType != null" >
        update_type = #{record.updateType,jdbcType=TINYINT},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_user_change_log
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      `role` = #{record.role,jdbcType=TINYINT},
      `attribute` = #{record.attribute,jdbcType=TINYINT},
      recommend_user = #{record.recommendUser,jdbcType=VARCHAR},
      is51 = #{record.is51,jdbcType=TINYINT},
      `status` = #{record.status,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      borrower_type = #{record.borrowerType,jdbcType=TINYINT},
      update_type = #{record.updateType,jdbcType=TINYINT},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLog" >
    update ht_user_change_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        `role` = #{role,jdbcType=TINYINT},
      </if>
      <if test="attribute != null" >
        `attribute` = #{attribute,jdbcType=TINYINT},
      </if>
      <if test="recommendUser != null" >
        recommend_user = #{recommendUser,jdbcType=VARCHAR},
      </if>
      <if test="is51 != null" >
        is51 = #{is51,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="borrowerType != null" >
        borrower_type = #{borrowerType,jdbcType=TINYINT},
      </if>
      <if test="updateType != null" >
        update_type = #{updateType,jdbcType=TINYINT},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.user.dao.model.auto.UserChangeLog" >
    update ht_user_change_log
    set user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      `role` = #{role,jdbcType=TINYINT},
      `attribute` = #{attribute,jdbcType=TINYINT},
      recommend_user = #{recommendUser,jdbcType=VARCHAR},
      is51 = #{is51,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      borrower_type = #{borrowerType,jdbcType=TINYINT},
      update_type = #{updateType,jdbcType=TINYINT},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>