<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.admin.SmsCodeCustomizeMapper">


	<select id="queryUser" resultType="java.lang.String" parameterType="map">
		SELECT
		mobile
		FROM
		hyjf_user.ht_user u
		left JOIN ht_borrow_tender bt on u.user_id=bt.user_id
		<where>
			<if test="open_account!=3" >
				AND u.bank_open_account = #{open_account,jdbcType=INTEGER}
			</if>
			<if test="re_time_begin != null" >
				AND u.reg_time <![CDATA[>=]]> #{re_time_begin,jdbcType=INTEGER}
			</if>
			<if test="re_time_end != null" >
				AND u.reg_time <![CDATA[<=]]> #{re_time_end,jdbcType=INTEGER}
			</if>
			<if test="add_time_begin != null" >
				AND bt.create_time  <![CDATA[>=]]> #{add_time_begin,jdbcType=INTEGER}
			</if>
			<if test="add_time_end != null" >
				AND bt.create_time  <![CDATA[<=]]> #{add_time_end,jdbcType=INTEGER}
			</if>
			<if test="add_money_count != null" >
				AND (select SUM(account) from  ht_borrow_tender where user_id=u.user_id) <![CDATA[>]]> #{add_money_count,jdbcType=DECIMAL}
			</if>
		</where>
	</select>

	<select id="countUser" resultType="java.lang.Integer" parameterType="map">
		SELECT
		count(*)
		FROM
		hyjf_user.ht_user u
		left JOIN ht_borrow_tender bt on u.user_id=bt.user_id
		<where>
			<if test="open_account!=3" >
				AND u.bank_open_account = #{open_account,jdbcType=INTEGER}
			</if>
			<if test="re_time_begin != null" >
				AND u.reg_time <![CDATA[>=]]> #{re_time_begin,jdbcType=INTEGER}
			</if>
			<if test="re_time_end != null" >
				AND u.reg_time <![CDATA[<=]]> #{re_time_end,jdbcType=INTEGER}
			</if>
			<if test="add_time_begin != null" >
				AND bt.create_time  <![CDATA[>=]]> #{add_time_begin,jdbcType=INTEGER}
			</if>
			<if test="add_time_end != null" >
				AND bt.create_time  <![CDATA[<=]]> #{add_time_end,jdbcType=INTEGER}
			</if>
			<if test="add_money_count != null" >
				AND (select SUM(account) from  ht_borrow_tender where user_id=u.user_id) <![CDATA[>]]> #{add_money_count,jdbcType=DECIMAL}
			</if>
		</where>
	</select>
</mapper>