<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.hgreportdata.caijing.ZeroOneCustomizeMapper">

	<resultMap id="caijingMapResult" type="com.hyjf.am.trade.dao.model.customize.ZeroOneCaiJingCustomize">
		<result column="userIds" property="userIds" /> <!-- 用户id -->
		<result column="nid" property="nid" /> <!-- 出借订单号 -->
		<result column="borrowNid" property="borrowNid" /> <!-- 标的号-->
		<result column="account" property="account" /> <!-- 出借金额-->
		<result column="client" property="client" /><!-- 操作平台 -->
		<result column="createTime" property="createTime" /><!-- 时间 -->
		<result column="flag" property="flag" /><!-- 标识 -->
		<result column="freezeOrderId" property="freezeOrderId" /><!-- 冻结订单号 -->
		<result column="spentday" property="spentday" /><!-- 实际借款天数 -->
		<result column="repayTime" property="repayTime" /><!-- 还款日期 -->
	</resultMap>
	<select id="queryInvestRecordSub" resultMap="caijingMapResult" parameterType="Map">
		SELECT
			user_id as userIds,
			nid,
			borrow_nid AS borrowNid,
			account,
			client,
			date_format(create_time,'%Y-%m-%d %H:%i:%s') as createTime,
			'tender' as flag
		FROM
		ht_borrow_tender
		<where>
			<if test="searchStartDate != null and searchStartDate !='' ">
				AND create_time <![CDATA[>=]]> CONCAT(#{searchStartDate},' 00:00:00')
			</if>
			<if test="searchEndDate != null and searchEndDate !='' ">
				AND create_time <![CDATA[<=]]> CONCAT(#{searchEndDate},' 23:59:59')
			</if>
		</where>

		union all

		SELECT
			user_id as userIds,
			assign_nid as nid,
			credit_tender_nid AS borrowNid,
			assign_pay as account,
			client,
			date_format(create_time,'%Y-%m-%d %H:%i:%s') as createTime,
			'credit' as flag
		FROM
		ht_credit_tender
		<where>
			<if test="searchStartDate != null and searchStartDate !='' ">
				AND create_time <![CDATA[>=]]> CONCAT(#{searchStartDate},' 00:00:00')
			</if>
			<if test="searchEndDate != null and searchEndDate !='' ">
				AND create_time <![CDATA[<=]]> CONCAT(#{searchEndDate},' 23:59:59')
			</if>
		</where>
    </select>

	<select id="queryAdvancedRepaySub" resultMap="caijingMapResult" parameterType="Map">
		SELECT
			IFNULL(flg.order_id, rflg.order_id) AS freezeOrderId,
			ry.borrow_nid AS borrowNid,
			from_unixtime(ry.repay_yestime,'%Y-%m-%d %H:%i:%s') AS repayTime,
			CASE
			WHEN hw.borrow_style = 'endday' THEN
				DATEDIFF(
				from_unixtime(ry.repay_yestime),
				from_unixtime(hw.recover_last_time)
				)
			ELSE
				DATEDIFF(
				from_unixtime(ry.repay_yestime),
				from_unixtime(hw.recover_last_time)
				)
			END AS spentday,
			CASE
			WHEN flg.order_id != '' THEN
				flg.amount_freeze
			ELSE
				rflg.amount
			END AS account
		FROM
			ht_borrow_repay ry
		LEFT JOIN ht_borrow hw ON ry.borrow_nid = hw.borrow_nid
		LEFT JOIN ht_bank_repay_org_freeze_log flg ON flg.borrow_nid = ry.borrow_nid
			AND FROM_UNIXTIME(
			ry.repay_yestime,
			'%Y-%m-%d'
			) = date_format(flg.create_time, '%Y-%m-%d')  AND flg.del_flag = 0
		LEFT JOIN ht_bank_repay_freeze_log rflg ON rflg.borrow_nid = ry.borrow_nid
			AND FROM_UNIXTIME(
			ry.repay_yestime,
			'%Y-%m-%d'
			) = date_format(
			rflg.create_time,
			'%Y-%m-%d'
			)  AND rflg.del_flag = 0
		WHERE
			ry.repay_status = 1
			AND ry.repay_period > 1

		AND ry.repay_yestime <![CDATA[ < ]]> hw.repay_last_time
		AND hw.recover_last_time <![CDATA[>]]> unix_timestamp('2018-04-01 00:00:00')
		<if test="searchStartDate != null and searchStartDate !='' ">
		AND ry.repay_yestime  <![CDATA[>=]]> unix_timestamp(CONCAT(#{searchStartDate},' 00:00:00'))
		</if>
		<if test="searchEndDate != null and searchEndDate !='' ">
		AND ry.repay_yestime <![CDATA[<=]]> unix_timestamp(CONCAT(#{searchEndDate},' 23:59:59'))
		</if>
	</select>

	<resultMap id="caiJingBorrowResult" type="com.hyjf.am.vo.hgreportdata.caijing.ZeroOneBorrowDataVO">
		<result column="borrow_nid" property="id" />
		<result column="link" property="link" />
		<result column="title" property="title" />
		<result column="username" property="username" />
		<result column="userid" property="userid" />
		<result column="amount" property="amount" />
		<result column="borrow_period" property="borrow_period" />
		<result column="interest" property="interest" />
		<result column="asset_type" property="asset_type" />
		<result column="borrow_type" property="borrow_type" />
		<result column="product_type" property="product_type" />
		<result column="repay_type" property="repay_type" />
		<result column="percentage" property="percentage" />
		<result column="bid_state" property="bid_state" />
		<result column="reward" property="reward" />
		<result column="guarantee" property="guarantee" />
		<result column="credit" property="credit" />
		<result column="verify_time" property="verify_time" />
		<result column="reverify_time" property="reverify_time" />
		<result column="invest_count" property="invest_count" />
		<result column="borrow_detail" property="borrow_detail" />
		<result column="attribute1" property="attribute1" />
	</resultMap>

	<select id="queryBorrowRecordSub" resultMap="caiJingBorrowResult" parameterType="java.util.Map">
		SELECT
		b.borrow_nid,
		'borrow/borrowList' AS link,
		i.`name` AS title,
		b.account AS amount,
		CASE WHEN b.is_month = 0
		THEN CONCAT(b.borrow_period,'天')
		ELSE CONCAT(b.borrow_period,'个月')
		END AS borrow_period,
		(b.borrow_apr*0.01) AS interest,
		CASE WHEN i.asset_attributes = 1 THEN '抵押标'
		WHEN i.asset_attributes = 2 THEN '质押标'
		WHEN i.asset_attributes = 3 THEN '信用标'
		END AS asset_type,
		t.borrow_name as borrow_type,
		CASE WHEN b.plan_nid is not NULL THEN '智投'
		ELSE '散标' END AS product_type,
		CASE WHEN s.`name` = '先息后本' THEN '月付息到期还本'
		WHEN s.`name` = '按月计息，到期还本还息' THEN '按月到期还款'
		WHEN s.`name` = '按天计息，到期还本还息' THEN '按天到期还款'
		WHEN s.`name` = '等额本息' THEN '月分期付款'
		ELSE s.`name` END AS repey_type,
		1 as percentage,
		'成功' AS bid_status,
		'AA' AS credit,
		from_unixtime(b.verify_time,'%Y-%m-%d %H:%i:%s') AS verify_time,
		from_unixtime(b.reverify_time,'%Y-%m-%d %H:%i:%s') AS reverify_time,
		b.tender_times as invest_count,
		i.borrow_contents as borrow_detail,
		i.borrow_use as attribute1
		FROM ht_borrow b
		LEFT JOIN ht_borrow_info i ON i.borrow_nid = b.borrow_nid
		LEFT JOIN ht_borrow_project_type t ON t.borrow_cd = b.project_type
		LEFT JOIN ht_borrow_style s ON s.nid = b.borrow_style
		WHERE b.reverify_status = 6
		AND b.create_time <![CDATA[>=]]> #{dateStart}
		AND b.create_time <![CDATA[<=]]> #{dateEnd}

		UNION ALL

		SELECT
		c.credit_nid as id,
		'borrow/creditList' as link,
		c.bid_name as title,
		SUM(t.assign_pay) as amount,
		CONCAT(c.credit_term,'天') AS borrow_period,
		(c.bid_apr*0.01) as interest,
		CASE WHEN i.asset_attributes = 1 THEN '抵押标'
		WHEN i.asset_attributes = 2 THEN '质押标'
		WHEN i.asset_attributes = 3 THEN '信用标'
		END AS asset_type,
		CASE WHEN i.asset_attributes = 1 THEN '抵押标'
		WHEN i.asset_attributes = 2 THEN '质押标'
		WHEN i.asset_attributes = 3 THEN '信用标'
		END AS borrow_type,
		'散标' AS project_type,
		CASE WHEN s.`name` = '先息后本' THEN '月付息到期还本'
		WHEN s.`name` = '按月计息，到期还本还息' THEN '按月到期还款'
		WHEN s.`name` = '按天计息，到期还本还息' THEN '按天到期还款'
		WHEN s.`name` = '等额本息' THEN '月分期付款'
		ELSE s.`name` END AS repey_type,
		ROUND(SUM(t.assign_pay)/c.credit_account,4) AS percentage,
		'成功' AS bid_status,
		'AA' AS credit,
		c.create_time AS verify_time,
		c.end_time AS reverify_time,
		c.assign_num AS invest_count,
		i.borrow_contents as borrow_detail,
		i.borrow_use as attribute1
		FROM ht_borrow_credit c
		LEFT JOIN ht_credit_tender t ON t.credit_nid = c.credit_nid
		LEFT JOIN ht_borrow_info i ON i.borrow_nid = c.bid_nid
		LEFT JOIN ht_borrow b ON b.borrow_nid = c.bid_nid
		LEFT JOIN ht_borrow_style s ON s.nid = b.borrow_style
		WHERE c.credit_status = 1 and c.credit_status = 2
		AND c.credit_capital_assigned > 0
		AND c.create_time <![CDATA[>=]]> #{dateStart}
		AND c.create_time <![CDATA[<=]]> #{dateEnd}
		GROUP BY credit_id
	</select>
</mapper>