<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.config.dao.mapper.auto.SmsMailTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="mail_value" property="mailValue" jdbcType="VARCHAR" />
    <result column="mail_name" property="mailName" jdbcType="VARCHAR" />
    <result column="mail_status" property="mailStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" extends="BaseResultMap" >
    <result column="mail_content" property="mailContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mail_value, mail_name, mail_status, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    mail_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from huiyingdai_sms_mail_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from huiyingdai_sms_mail_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from huiyingdai_sms_mail_template
    where id = #{id,jdbcType=INTEGER}
      and mail_value = #{mailValue,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from huiyingdai_sms_mail_template
    where id = #{id,jdbcType=INTEGER}
      and mail_value = #{mailValue,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplateExample" >
    delete from huiyingdai_sms_mail_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyingdai_sms_mail_template (mail_value, mail_name, mail_status, 
      create_time, update_time, mail_content
      )
    values (#{mailValue,jdbcType=VARCHAR}, #{mailName,jdbcType=VARCHAR}, #{mailStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, #{mailContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into huiyingdai_sms_mail_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mailValue != null" >
        mail_value,
      </if>
      <if test="mailName != null" >
        mail_name,
      </if>
      <if test="mailStatus != null" >
        mail_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="mailContent != null" >
        mail_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mailValue != null" >
        #{mailValue,jdbcType=VARCHAR},
      </if>
      <if test="mailName != null" >
        #{mailName,jdbcType=VARCHAR},
      </if>
      <if test="mailStatus != null" >
        #{mailStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="mailContent != null" >
        #{mailContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplateExample" resultType="java.lang.Integer" >
    select count(*) from huiyingdai_sms_mail_template
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update huiyingdai_sms_mail_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mailValue != null" >
        mail_value = #{record.mailValue,jdbcType=VARCHAR},
      </if>
      <if test="record.mailName != null" >
        mail_name = #{record.mailName,jdbcType=VARCHAR},
      </if>
      <if test="record.mailStatus != null" >
        mail_status = #{record.mailStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.mailContent != null" >
        mail_content = #{record.mailContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update huiyingdai_sms_mail_template
    set id = #{record.id,jdbcType=INTEGER},
      mail_value = #{record.mailValue,jdbcType=VARCHAR},
      mail_name = #{record.mailName,jdbcType=VARCHAR},
      mail_status = #{record.mailStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      mail_content = #{record.mailContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update huiyingdai_sms_mail_template
    set id = #{record.id,jdbcType=INTEGER},
      mail_value = #{record.mailValue,jdbcType=VARCHAR},
      mail_name = #{record.mailName,jdbcType=VARCHAR},
      mail_status = #{record.mailStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" >
    update huiyingdai_sms_mail_template
    <set >
      <if test="mailName != null" >
        mail_name = #{mailName,jdbcType=VARCHAR},
      </if>
      <if test="mailStatus != null" >
        mail_status = #{mailStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="mailContent != null" >
        mail_content = #{mailContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and mail_value = #{mailValue,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" >
    update huiyingdai_sms_mail_template
    set mail_name = #{mailName,jdbcType=VARCHAR},
      mail_status = #{mailStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      mail_content = #{mailContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and mail_value = #{mailValue,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.config.dao.model.auto.SmsMailTemplate" >
    update huiyingdai_sms_mail_template
    set mail_name = #{mailName,jdbcType=VARCHAR},
      mail_status = #{mailStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
      and mail_value = #{mailValue,jdbcType=VARCHAR}
  </update>
</mapper>