<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.hgreportdata.bifa.BifaOperationReportJobCustomizeMapper">

	<select id="getLoanBalanceNum" resultType="int">
		select count(*) from ht_borrow where status in (4,7)
	</select>

</mapper>