<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyjf.am.borrow.dao.mapper.auto.HjhInstConfigMapper">
  <resultMap id="BaseResultMap" type="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inst_code" jdbcType="VARCHAR" property="instCode" />
    <result column="inst_name" jdbcType="VARCHAR" property="instName" />
    <result column="inst_type" jdbcType="TINYINT" property="instType" />
    <result column="capital_toplimit" jdbcType="DECIMAL" property="capitalToplimit" />
    <result column="commission_fee" jdbcType="DECIMAL" property="commissionFee" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="del_flg" jdbcType="TINYINT" property="delFlg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, inst_code, inst_name, inst_type, capital_toplimit, commission_fee, remark, create_user, 
    create_time, update_user, update_time, del_flg
  </sql>
  <select id="selectByExample" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_hjh_inst_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ht_hjh_inst_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ht_hjh_inst_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfigExample">
    delete from ht_hjh_inst_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_inst_config (inst_code, inst_name, inst_type, 
      capital_toplimit, commission_fee, remark, 
      create_user, create_time, update_user, 
      update_time, del_flg)
    values (#{instCode,jdbcType=VARCHAR}, #{instName,jdbcType=VARCHAR}, #{instType,jdbcType=TINYINT}, 
      #{capitalToplimit,jdbcType=DECIMAL}, #{commissionFee,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{delFlg,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_inst_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instCode != null">
        inst_code,
      </if>
      <if test="instName != null">
        inst_name,
      </if>
      <if test="instType != null">
        inst_type,
      </if>
      <if test="capitalToplimit != null">
        capital_toplimit,
      </if>
      <if test="commissionFee != null">
        commission_fee,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlg != null">
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="instCode != null">
        #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        #{instName,jdbcType=VARCHAR},
      </if>
      <if test="instType != null">
        #{instType,jdbcType=TINYINT},
      </if>
      <if test="capitalToplimit != null">
        #{capitalToplimit,jdbcType=DECIMAL},
      </if>
      <if test="commissionFee != null">
        #{commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfigExample" resultType="java.lang.Integer">
    select count(*) from ht_hjh_inst_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ht_hjh_inst_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.instCode != null">
        inst_code = #{record.instCode,jdbcType=VARCHAR},
      </if>
      <if test="record.instName != null">
        inst_name = #{record.instName,jdbcType=VARCHAR},
      </if>
      <if test="record.instType != null">
        inst_type = #{record.instType,jdbcType=TINYINT},
      </if>
      <if test="record.capitalToplimit != null">
        capital_toplimit = #{record.capitalToplimit,jdbcType=DECIMAL},
      </if>
      <if test="record.commissionFee != null">
        commission_fee = #{record.commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.delFlg != null">
        del_flg = #{record.delFlg,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ht_hjh_inst_config
    set id = #{record.id,jdbcType=INTEGER},
      inst_code = #{record.instCode,jdbcType=VARCHAR},
      inst_name = #{record.instName,jdbcType=VARCHAR},
      inst_type = #{record.instType,jdbcType=TINYINT},
      capital_toplimit = #{record.capitalToplimit,jdbcType=DECIMAL},
      commission_fee = #{record.commissionFee,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      del_flg = #{record.delFlg,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    update ht_hjh_inst_config
    <set>
      <if test="instCode != null">
        inst_code = #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        inst_name = #{instName,jdbcType=VARCHAR},
      </if>
      <if test="instType != null">
        inst_type = #{instType,jdbcType=TINYINT},
      </if>
      <if test="capitalToplimit != null">
        capital_toplimit = #{capitalToplimit,jdbcType=DECIMAL},
      </if>
      <if test="commissionFee != null">
        commission_fee = #{commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    update ht_hjh_inst_config
    set inst_code = #{instCode,jdbcType=VARCHAR},
      inst_name = #{instName,jdbcType=VARCHAR},
      inst_type = #{instType,jdbcType=TINYINT},
      capital_toplimit = #{capitalToplimit,jdbcType=DECIMAL},
      commission_fee = #{commissionFee,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="inst_code" jdbcType="VARCHAR" property="instCode" />
    <result column="inst_name" jdbcType="VARCHAR" property="instName" />
    <result column="inst_type" jdbcType="TINYINT" property="instType" />
    <result column="capital_toplimit" jdbcType="DECIMAL" property="capitalToplimit" />
    <result column="commission_fee" jdbcType="DECIMAL" property="commissionFee" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="del_flg" jdbcType="TINYINT" property="delFlg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, inst_code, inst_name, inst_type, capital_toplimit, commission_fee, remark, create_user, 
    create_time, update_user, update_time, del_flg
  </sql>
  <select id="selectByExample" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_hjh_inst_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ht_hjh_inst_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ht_hjh_inst_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfigExample">
    delete from ht_hjh_inst_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_inst_config (inst_code, inst_name, inst_type, 
      capital_toplimit, commission_fee, remark, 
      create_user, create_time, update_user, 
      update_time, del_flg)
    values (#{instCode,jdbcType=VARCHAR}, #{instName,jdbcType=VARCHAR}, #{instType,jdbcType=TINYINT}, 
      #{capitalToplimit,jdbcType=DECIMAL}, #{commissionFee,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateUser,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{delFlg,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_hjh_inst_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="instCode != null">
        inst_code,
      </if>
      <if test="instName != null">
        inst_name,
      </if>
      <if test="instType != null">
        inst_type,
      </if>
      <if test="capitalToplimit != null">
        capital_toplimit,
      </if>
      <if test="commissionFee != null">
        commission_fee,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlg != null">
        del_flg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="instCode != null">
        #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        #{instName,jdbcType=VARCHAR},
      </if>
      <if test="instType != null">
        #{instType,jdbcType=TINYINT},
      </if>
      <if test="capitalToplimit != null">
        #{capitalToplimit,jdbcType=DECIMAL},
      </if>
      <if test="commissionFee != null">
        #{commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null">
        #{delFlg,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfigExample" resultType="java.lang.Integer">
    select count(*) from ht_hjh_inst_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ht_hjh_inst_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.instCode != null">
        inst_code = #{record.instCode,jdbcType=VARCHAR},
      </if>
      <if test="record.instName != null">
        inst_name = #{record.instName,jdbcType=VARCHAR},
      </if>
      <if test="record.instType != null">
        inst_type = #{record.instType,jdbcType=TINYINT},
      </if>
      <if test="record.capitalToplimit != null">
        capital_toplimit = #{record.capitalToplimit,jdbcType=DECIMAL},
      </if>
      <if test="record.commissionFee != null">
        commission_fee = #{record.commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.delFlg != null">
        del_flg = #{record.delFlg,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ht_hjh_inst_config
    set id = #{record.id,jdbcType=INTEGER},
      inst_code = #{record.instCode,jdbcType=VARCHAR},
      inst_name = #{record.instName,jdbcType=VARCHAR},
      inst_type = #{record.instType,jdbcType=TINYINT},
      capital_toplimit = #{record.capitalToplimit,jdbcType=DECIMAL},
      commission_fee = #{record.commissionFee,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=INTEGER},
      update_user = #{record.updateUser,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=INTEGER},
      del_flg = #{record.delFlg,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    update ht_hjh_inst_config
    <set>
      <if test="instCode != null">
        inst_code = #{instCode,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        inst_name = #{instName,jdbcType=VARCHAR},
      </if>
      <if test="instType != null">
        inst_type = #{instType,jdbcType=TINYINT},
      </if>
      <if test="capitalToplimit != null">
        capital_toplimit = #{capitalToplimit,jdbcType=DECIMAL},
      </if>
      <if test="commissionFee != null">
        commission_fee = #{commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="delFlg != null">
        del_flg = #{delFlg,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.borrow.dao.model.auto.HjhInstConfig">
    update ht_hjh_inst_config
    set inst_code = #{instCode,jdbcType=VARCHAR},
      inst_name = #{instName,jdbcType=VARCHAR},
      inst_type = #{instType,jdbcType=TINYINT},
      capital_toplimit = #{capitalToplimit,jdbcType=DECIMAL},
      commission_fee = #{commissionFee,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_user = #{updateUser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      del_flg = #{delFlg,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>