<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="fm" name="fm" th:action='${bankForm.action }' method="post">
    <span th:if test="${bankForm.allParams}!=null">
        <div th:each="record:${bankForm.allParams }" >
            <input  th:name='${record.key }' th:id='${record.key }' th:text='${record.value}' />
        </div>
    </span>
</form>
<script>
    document.getElementById("fm").submit();
</script>
</body>
</html>