<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.market.dao.mapper.customize.market.DuibaPointsModifyCustomizeMapper">
    <resultMap id="DuibaPointsList" type="com.hyjf.am.vo.admin.DuibaPointsModifyVO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
        <result column="modify_order_id" property="modifyOrderId" jdbcType="VARCHAR" />
        <result column="points" property="points" jdbcType="DECIMAL" />
        <result column="total" property="total" jdbcType="DECIMAL" />
        <result column="points_type" property="pointsType" jdbcType="TINYINT" />
        <result column="pointsTypeStr" property="pointsTypeStr" jdbcType="VARCHAR" />
        <result column="modify_name" property="modifyName" jdbcType="VARCHAR" />
        <result column="review_name" property="reviewName" jdbcType="VARCHAR" />
        <result column="modify_reason" property="modifyReason" jdbcType="VARCHAR" />
        <result column="flow_order" property="flowOrder" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="statusStr" property="statusStr" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
    id, user_id, user_name, true_name, modify_order_id, points, total, points_type, modify_name,
    review_name, modify_reason, flow_order, `status`, remark, create_by, create_time,
    update_by, update_time
  </sql>

    <select id="selectDuibaPointsModifyList" resultMap="DuibaPointsList"
            parameterType="com.hyjf.am.resquest.admin.DuibaPointsRequest">
        SELECT
        hdpm.id,
        hdpm.user_id,
        hdpm.user_name,
        hdpm.true_name,
        hdpm.modify_order_id,
        hdpm.points,
        hdpm.total,
        hdpm.points_type,
        pn1.name as pointsTypeStr,
        hdpm.modify_name,
        hdpm.review_name,
        hdpm.modify_reason,
        hdpm.flow_order,
        hdpm.`status`,
        pn2.name as statusStr,
        hdpm.remark,
        hdpm.create_by,
        hdpm.create_time,
        hdpm.update_by,
        hdpm.update_time
        FROM
        ht_duiba_points_modify hdpm
        LEFT JOIN hyjf_config.ht_param_name pn1 ON hdpm.points_type = pn1.name_cd AND pn1.name_class = 'OPERATION_TYPE'
        LEFT JOIN hyjf_config.ht_param_name pn2 ON hdpm.`status` = pn2.name_cd AND pn2.name_class = 'AUDIT_STATUS'
        WHERE 1=1
        <if test="userNameSrch != null and userNameSrch != ''">
            AND hdpm.user_name = #{userNameSrch}
        </if>
        <if test="trueNameSrch != null and trueNameSrch != ''">
            AND hdpm.true_name = #{trueNameSrch}
        </if>
        <if test="modifyNameSrch != null and modifyNameSrch != ''">
            AND hdpm.modify_name = #{modifyNameSrch}
        </if>
        <if test="typeSrch != null">
            AND hdpm.`points_type` = #{typeSrch}
        </if>
        <if test="statusSrch != null">
            AND hdpm.`status` = #{statusSrch}
        </if>
        <if test="startDateSrch != null and startDateSrch != ''">
            AND hdpm.create_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{startDateSrch},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endDateSrch != null and endDateSrch != ''">
            AND hdpm.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{endDateSrch},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
        ORDER BY hdpm.create_time desc
        <if test="limitStart >= 0">
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>

    <select id="selectDuibaPointsModifyCount" resultType="java.lang.Integer"
            parameterType="com.hyjf.am.resquest.admin.DuibaPointsRequest">
        SELECT
        count(1)
        FROM
        ht_duiba_points_modify hdpm
        WHERE 1=1
        <if test="userNameSrch != null and userNameSrch != ''">
            AND hdpm.user_name = #{userNameSrch}
        </if>
        <if test="trueNameSrch != null and trueNameSrch != ''">
            AND hdpm.true_name = #{trueNameSrch}
        </if>
        <if test="modifyNameSrch != null and modifyNameSrch != ''">
            AND hdpm.modify_name = #{modifyNameSrch}
        </if>
        <if test="typeSrch != null">
            AND hdpm.`points_type` = #{typeSrch}
        </if>
        <if test="statusSrch != null">
            AND hdpm.`status` = #{statusSrch}
        </if>
        <if test="startDateSrch != null and startDateSrch != ''">
            AND hdpm.create_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{startDateSrch},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="endDateSrch != null and endDateSrch != ''">
            AND hdpm.create_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{endDateSrch},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
        </if>
    </select>
</mapper>
