<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.market.dao.mapper.customize.market.DuibaOrdersCustomizeMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.market.dao.model.auto.DuibaOrders" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="duiba_order_id" property="duibaOrderId" jdbcType="VARCHAR" />
    <result column="hy_order_id" property="hyOrderId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="exchange_content" property="exchangeContent" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="selling_price" property="sellingPrice" jdbcType="DECIMAL" />
    <result column="marking_price" property="markingPrice" jdbcType="DECIMAL" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="order_time" property="orderTime" jdbcType="INTEGER" />
    <result column="completion_time" property="completionTime" jdbcType="INTEGER" />
    <result column="delivery_status" property="deliveryStatus" jdbcType="TINYINT" />
    <result column="receiving_information" property="receivingInformation" jdbcType="VARCHAR" />
    <result column="recharge_state" property="rechargeState" jdbcType="VARCHAR" />
    <result column="processing_state" property="processingState" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, duiba_order_id, hy_order_id, user_name, true_name, user_id, exchange_content, 
    product_type, selling_price, marking_price, cost, order_status, order_time, completion_time, 
    delivery_status, receiving_information, recharge_state, processing_state, create_by, 
    create_time, update_by, update_time, remark
  </sql>

  <select id="selectDuibaOrderList" resultMap="BaseResultMap"
          parameterType="com.hyjf.am.resquest.admin.DuibaOrderRequest">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    ht_duiba_orders hdp
    WHERE 1=1
    <if test="duibaOrderIdSerach != null and duibaOrderIdSerach != ''">
      AND hdp.duiba_order_id = #{duibaOrderIdSerach}
    </if>
    <if test="hyOrderIdSerach != null and hyOrderIdSerach != ''">
      AND hdp.hy_order_id = #{hyOrderIdSerach}
    </if>
    <if test="userNameSerach != null and userNameSerach != ''">
      AND hdp.user_name = #{userNameSerach}
    </if>
    <if test="trueNameSerach != null and trueNameSerach != ''">
      AND hdp.true_name = #{trueNameSerach}
    </if>
    <if test="exchangeContentSerach != null and exchangeContentSerach != ''">
      AND hdp.exchange_content = #{exchangeContentSerach}
    </if>
    <if test="productTypeSerach != null and productTypeSerach != ''">
      AND hdp.product_type = #{productTypeSerach}
    </if>
    <if test="orderStatusSerach != null and orderStatusSerach != ''">
      AND hdp.order_status = #{orderStatusSerach}
    </if>
    <if test="orderTimeSerachStart != null and orderTimeSerachStart != ''">
      AND hdp.order_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{orderTimeSerachStart},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="orderTimeSerachEnd != null and orderTimeSerachEnd != ''">
      AND hdp.order_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{orderTimeSerachEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="completionTimeSerachStart != null and completionTimeSerachStart != ''">
      AND hdp.completion_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{completionTimeSerachStart},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="completionTimeSerachEnd != null and completionTimeSerachEnd != ''">
      AND hdp.completion_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{completionTimeSerachEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="deliveryStatusSerach != null and deliveryStatusSerach != ''">
      AND hdp.delivery_status = #{deliveryStatusSerach}
    </if>
    <if test="rechargeStateSerach != null and rechargeStateSerach != ''">
      AND hdp.recharge_state = #{rechargeStateSerach}
    </if>
    <if test="processingStateSerach != null and processingStateSerach != ''">
      AND hdp.processing_state = #{processingStateSerach}
    </if>
    <if test="limitStart >= 0">
      LIMIT #{limitStart} , #{limitEnd}
    </if>
  </select>

  <select id="selectDuibaOrderCount" resultMap="java.lang.Integer"
          parameterType="com.hyjf.am.resquest.admin.DuibaOrderRequest">
    SELECT
    count(1)
    FROM
    ht_duiba_orders hdp
    WHERE 1=1
    <if test="duibaOrderIdSerach != null and duibaOrderIdSerach != ''">
      AND hdp.duiba_order_id = #{duibaOrderIdSerach}
    </if>
    <if test="hyOrderIdSerach != null and hyOrderIdSerach != ''">
      AND hdp.hy_order_id = #{hyOrderIdSerach}
    </if>
    <if test="userNameSerach != null and userNameSerach != ''">
      AND hdp.user_name = #{userNameSerach}
    </if>
    <if test="trueNameSerach != null and trueNameSerach != ''">
      AND hdp.true_name = #{trueNameSerach}
    </if>
    <if test="exchangeContentSerach != null and exchangeContentSerach != ''">
      AND hdp.exchange_content = #{exchangeContentSerach}
    </if>
    <if test="productTypeSerach != null and productTypeSerach != ''">
      AND hdp.product_type = #{productTypeSerach}
    </if>
    <if test="orderStatusSerach != null and orderStatusSerach != ''">
      AND hdp.order_status = #{orderStatusSerach}
    </if>
    <if test="orderTimeSerachStart != null and orderTimeSerachStart != ''">
      AND hdp.order_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{orderTimeSerachStart},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="orderTimeSerachEnd != null and orderTimeSerachEnd != ''">
      AND hdp.order_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{orderTimeSerachEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="completionTimeSerachStart != null and completionTimeSerachStart != ''">
      AND hdp.completion_time <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{completionTimeSerachStart},' 00:00:00'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="completionTimeSerachEnd != null and completionTimeSerachEnd != ''">
      AND hdp.completion_time <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{completionTimeSerachEnd},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
    </if>
    <if test="deliveryStatusSerach != null and deliveryStatusSerach != ''">
      AND hdp.delivery_status = #{deliveryStatusSerach}
    </if>
    <if test="rechargeStateSerach != null and rechargeStateSerach != ''">
      AND hdp.recharge_state = #{rechargeStateSerach}
    </if>
    <if test="processingStateSerach != null and processingStateSerach != ''">
      AND hdp.processing_state = #{processingStateSerach}
    </if>
  </select>
</mapper>