<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.market.dao.mapper.customize.market.NewYearActivityCustomizeMapper">

    <select id="getNewYearActivityCount" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
        SELECT
        count(*)
        FROM
        hyjf_new_year_activity ya
        LEFT JOIN hyjf_new_year_activity_reward ar ON ya.user_id = ar.user_id
        LEFT JOIN huiyingdai_users dus ON dus.user_id= ya.user_id
        LEFT JOIN huiyingdai_users_info din ON din.user_id = ya.user_id
        <where>
            ya.invest_amount > 0
            <if test="username != null">
                and dus.username = #{username}
            </if>
            <if test="truename != null">
                and din.truename = #{truename}
            </if>

        </where>

    </select>
</mapper>