<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" th:href="@{/css/main.css}" />
<title>充值模拟页面</title>
</head>
<body>
    <h2>充值模拟页面</h2>
    <form action="page">
        <lable for="userId" class="kh-lable">用户ID</lable>
        <input type="text" name="userId" id="userId"  value="" /><br/>
        
        <lable for="mobile" class="kh-lable">手机号码</lable>
        <input type="text" name="mobile" id="mobile"  value="" /><br/>
        
        <label >充值金额:</label>
        <input  name="money" id="money" type="text"  value="99" /><br/>
        
        <input type="submit" value="提交"/>
    </form>
</body>
</html>