<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.config.dao.mapper.auto.JxBankConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.config.dao.model.auto.JxBankConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bank_id" property="bankId" jdbcType="INTEGER" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="pay_alliance_code" property="payAllianceCode" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_icon" property="bankIcon" jdbcType="VARCHAR" />
    <result column="bank_logo" property="bankLogo" jdbcType="VARCHAR" />
    <result column="quick_payment" property="quickPayment" jdbcType="TINYINT" />
    <result column="single_quota" property="singleQuota" jdbcType="DECIMAL" />
    <result column="single_card_quota" property="singleCardQuota" jdbcType="DECIMAL" />
    <result column="fee_withdraw" property="feeWithdraw" jdbcType="DECIMAL" />
    <result column="sort_id" property="sortId" jdbcType="SMALLINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="month_card_quota" property="monthCardQuota" jdbcType="DECIMAL" />
    <result column="android_market" property="androidMarket" jdbcType="VARCHAR" />
    <result column="ios_market" property="iosMarket" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bank_id, bank_name, pay_alliance_code, bank_code, bank_icon, bank_logo, quick_payment, 
    single_quota, single_card_quota, fee_withdraw, sort_id, remark, create_user_id, update_user_id, 
    create_time, update_time, del_flag, month_card_quota, android_market, ios_market
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ht_jx_bank_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ht_jx_bank_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ht_jx_bank_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfigExample" >
    delete from ht_jx_bank_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_jx_bank_config (bank_id, bank_name, pay_alliance_code, 
      bank_code, bank_icon, bank_logo, 
      quick_payment, single_quota, single_card_quota, 
      fee_withdraw, sort_id, remark, 
      create_user_id, update_user_id, create_time, 
      update_time, del_flag, month_card_quota, 
      android_market, ios_market)
    values (#{bankId,jdbcType=INTEGER}, #{bankName,jdbcType=VARCHAR}, #{payAllianceCode,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR}, #{bankIcon,jdbcType=VARCHAR}, #{bankLogo,jdbcType=VARCHAR}, 
      #{quickPayment,jdbcType=TINYINT}, #{singleQuota,jdbcType=DECIMAL}, #{singleCardQuota,jdbcType=DECIMAL}, 
      #{feeWithdraw,jdbcType=DECIMAL}, #{sortId,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT}, #{monthCardQuota,jdbcType=DECIMAL}, 
      #{androidMarket,jdbcType=VARCHAR}, #{iosMarket,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfig" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ht_jx_bank_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bankId != null" >
        bank_id,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="payAllianceCode != null" >
        pay_alliance_code,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="bankIcon != null" >
        bank_icon,
      </if>
      <if test="bankLogo != null" >
        bank_logo,
      </if>
      <if test="quickPayment != null" >
        quick_payment,
      </if>
      <if test="singleQuota != null" >
        single_quota,
      </if>
      <if test="singleCardQuota != null" >
        single_card_quota,
      </if>
      <if test="feeWithdraw != null" >
        fee_withdraw,
      </if>
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="monthCardQuota != null" >
        month_card_quota,
      </if>
      <if test="androidMarket != null" >
        android_market,
      </if>
      <if test="iosMarket != null" >
        ios_market,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bankId != null" >
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="payAllianceCode != null" >
        #{payAllianceCode,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankIcon != null" >
        #{bankIcon,jdbcType=VARCHAR},
      </if>
      <if test="bankLogo != null" >
        #{bankLogo,jdbcType=VARCHAR},
      </if>
      <if test="quickPayment != null" >
        #{quickPayment,jdbcType=TINYINT},
      </if>
      <if test="singleQuota != null" >
        #{singleQuota,jdbcType=DECIMAL},
      </if>
      <if test="singleCardQuota != null" >
        #{singleCardQuota,jdbcType=DECIMAL},
      </if>
      <if test="feeWithdraw != null" >
        #{feeWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="monthCardQuota != null" >
        #{monthCardQuota,jdbcType=DECIMAL},
      </if>
      <if test="androidMarket != null" >
        #{androidMarket,jdbcType=VARCHAR},
      </if>
      <if test="iosMarket != null" >
        #{iosMarket,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfigExample" resultType="java.lang.Integer" >
    select count(*) from ht_jx_bank_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_jx_bank_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bankId != null" >
        bank_id = #{record.bankId,jdbcType=INTEGER},
      </if>
      <if test="record.bankName != null" >
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.payAllianceCode != null" >
        pay_alliance_code = #{record.payAllianceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCode != null" >
        bank_code = #{record.bankCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bankIcon != null" >
        bank_icon = #{record.bankIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.bankLogo != null" >
        bank_logo = #{record.bankLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.quickPayment != null" >
        quick_payment = #{record.quickPayment,jdbcType=TINYINT},
      </if>
      <if test="record.singleQuota != null" >
        single_quota = #{record.singleQuota,jdbcType=DECIMAL},
      </if>
      <if test="record.singleCardQuota != null" >
        single_card_quota = #{record.singleCardQuota,jdbcType=DECIMAL},
      </if>
      <if test="record.feeWithdraw != null" >
        fee_withdraw = #{record.feeWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="record.sortId != null" >
        sort_id = #{record.sortId,jdbcType=SMALLINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
      <if test="record.monthCardQuota != null" >
        month_card_quota = #{record.monthCardQuota,jdbcType=DECIMAL},
      </if>
      <if test="record.androidMarket != null" >
        android_market = #{record.androidMarket,jdbcType=VARCHAR},
      </if>
      <if test="record.iosMarket != null" >
        ios_market = #{record.iosMarket,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_jx_bank_config
    set id = #{record.id,jdbcType=INTEGER},
      bank_id = #{record.bankId,jdbcType=INTEGER},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      pay_alliance_code = #{record.payAllianceCode,jdbcType=VARCHAR},
      bank_code = #{record.bankCode,jdbcType=VARCHAR},
      bank_icon = #{record.bankIcon,jdbcType=VARCHAR},
      bank_logo = #{record.bankLogo,jdbcType=VARCHAR},
      quick_payment = #{record.quickPayment,jdbcType=TINYINT},
      single_quota = #{record.singleQuota,jdbcType=DECIMAL},
      single_card_quota = #{record.singleCardQuota,jdbcType=DECIMAL},
      fee_withdraw = #{record.feeWithdraw,jdbcType=DECIMAL},
      sort_id = #{record.sortId,jdbcType=SMALLINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=INTEGER},
      update_user_id = #{record.updateUserId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=TINYINT},
      month_card_quota = #{record.monthCardQuota,jdbcType=DECIMAL},
      android_market = #{record.androidMarket,jdbcType=VARCHAR},
      ios_market = #{record.iosMarket,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfig" >
    update ht_jx_bank_config
    <set >
      <if test="bankId != null" >
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="payAllianceCode != null" >
        pay_alliance_code = #{payAllianceCode,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankIcon != null" >
        bank_icon = #{bankIcon,jdbcType=VARCHAR},
      </if>
      <if test="bankLogo != null" >
        bank_logo = #{bankLogo,jdbcType=VARCHAR},
      </if>
      <if test="quickPayment != null" >
        quick_payment = #{quickPayment,jdbcType=TINYINT},
      </if>
      <if test="singleQuota != null" >
        single_quota = #{singleQuota,jdbcType=DECIMAL},
      </if>
      <if test="singleCardQuota != null" >
        single_card_quota = #{singleCardQuota,jdbcType=DECIMAL},
      </if>
      <if test="feeWithdraw != null" >
        fee_withdraw = #{feeWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="sortId != null" >
        sort_id = #{sortId,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="monthCardQuota != null" >
        month_card_quota = #{monthCardQuota,jdbcType=DECIMAL},
      </if>
      <if test="androidMarket != null" >
        android_market = #{androidMarket,jdbcType=VARCHAR},
      </if>
      <if test="iosMarket != null" >
        ios_market = #{iosMarket,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyjf.am.config.dao.model.auto.JxBankConfig" >
    update ht_jx_bank_config
    set bank_id = #{bankId,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=VARCHAR},
      pay_alliance_code = #{payAllianceCode,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_icon = #{bankIcon,jdbcType=VARCHAR},
      bank_logo = #{bankLogo,jdbcType=VARCHAR},
      quick_payment = #{quickPayment,jdbcType=TINYINT},
      single_quota = #{singleQuota,jdbcType=DECIMAL},
      single_card_quota = #{singleCardQuota,jdbcType=DECIMAL},
      fee_withdraw = #{feeWithdraw,jdbcType=DECIMAL},
      sort_id = #{sortId,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      month_card_quota = #{monthCardQuota,jdbcType=DECIMAL},
      android_market = #{androidMarket,jdbcType=VARCHAR},
      ios_market = #{iosMarket,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>