<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.AdminUserAuthCustomizeMapper" >
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.customize.AdminUserAuthListCustomize" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="recommend_Name" property="recommendName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="auto_inves_status" property="autoInvesStatus" jdbcType="BIT" />
    <result column="auto_credit_status" property="autoCreditStatus" jdbcType="BIT" />
    <result column="auto_create_time" property="autoCreateTime" jdbcType="INTEGER" />
    <result column="auto_order_id" property="autoOrderId" jdbcType="VARCHAR" />
    <result column="auto_bid_end_time" property="autoInvesEndTime" jdbcType="VARCHAR" />
    <result column="auto_credit_end_time" property="autoCreditEndTime" jdbcType="VARCHAR" />
    <result column="inves_max_amt" property="invesMaxAmt" jdbcType="VARCHAR" />
    <result column="credit_max_amt" property="creditMaxAmt" jdbcType="VARCHAR" />
    <result column="auto_credit_order_id" property="autoCreditOrderId" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultLogMap" type="com.hyjf.am.user.dao.model.customize.AdminUserAuthLogListCustomize" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="BIT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="auth_type" property="authType" jdbcType="BIT" />
    <result column="operate_esb" property="operateEsb" jdbcType="BIT" />
    <result column="auth_create_time" property="creditTime" jdbcType="INTEGER" />
  </resultMap>


  <resultMap id="BaseResultPayMap" type="com.hyjf.am.user.dao.model.customize.AdminUserPayAuthCustomize" >
    <id column="user_id" property="userid" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="auto_payment_end_time" property="signEndDate" jdbcType="VARCHAR" />
    <result column="auto_payment_status" property="authType" jdbcType="INTEGER" />
    <result column="account" property="bankid" jdbcType="VARCHAR" />
    <result column="auto_payment_time" property="signDate" jdbcType="VARCHAR" />
    <result column="payment_max_amt" property="paymentMaxAmt" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultRePayMap" type="com.hyjf.am.user.dao.model.customize.AdminUserRePayAuthCustomize" >
    <id column="user_id" property="userid" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="auto_repay_end_time" property="signEndDate" jdbcType="VARCHAR" />
    <result column="auto_repay_status" property="authType" jdbcType="INTEGER" />
    <result column="account" property="bankid" jdbcType="VARCHAR" />
    <result column="auto_repay_time" property="signDate" jdbcType="VARCHAR" />
    <result column="repay_max_amt" property="repayMaxAmt" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Where_Clause">
    <where>
      hydua.`del_flag` = 0
      <if test="userName != null and userName !='' ">
        AND hydua.user_name LIKE CONCAT( #{userName}, '%')
      </if>
      <if test="recommendName != null and recommendName !='' ">
        AND hydur.username LIKE CONCAT( #{recommendName}, '%')
      </if>
      <if test="autoInvesStatus != null and autoInvesStatus !='' and autoInvesStatus !='2'">
        AND hydua.auto_inves_status = #{autoInvesStatus,jdbcType=INTEGER}
      </if>
      <if test="autoCreditStatus != null and autoCreditStatus !='' and autoCreditStatus !='2'">
        AND hydua.auto_credit_status = #{autoCreditStatus,jdbcType=INTEGER}
      </if>

      <if test="autoInvesStatus =='2'">
        AND hydua.inves_cancel_time IS NOT NULL AND hydua.auto_inves_status = 0
      </if>
      <if test="autoCreditStatus =='2'">
        AND hydua.credit_cancel_time IS NOT NULL AND hydua.auto_credit_status = 0
      </if>

      <if test="invesAddTimeStart != null and invesAddTimeStart != '' ">
        <!-- 优化sql(字段类型转换) -->
        AND hydua.auto_create_time >= UNIX_TIMESTAMP(CONCAT(#{invesAddTimeStart}))
      </if>
      <if test="invesAddTimeEnd != null and invesAddTimeEnd != ''">
        <!-- 优化sql(字段类型转换) -->
        AND hydua.auto_create_time <![CDATA[<=]]> UNIX_TIMESTAMP(CONCAT(#{invesAddTimeEnd},' 23:59:59'))
      </if>
      <if test="investEndTimeStart != null and investEndTimeStart != '' ">
        <!-- 优化sql(字段类型转换) -->
        AND hydua.auto_bid_end_time >= #{investEndTimeStart}
      </if>
      <if test="investEndTimeEnd != null and investEndTimeEnd != '' ">
        <!-- 优化sql(字段类型转换) -->
        AND hydua.auto_bid_end_time <![CDATA[<=]]> #{investEndTimeEnd}
      </if>
    </where>
  </sql>

  <sql id="Where_Clause_Log">
    <where>
      1=1
      <if test="userName != null and userName !='' ">
        AND hydual.user_name LIKE CONCAT( #{userName}, '%')
      </if>
      <if test="authType != null and authType !='' ">
        AND hydual.auth_type = #{authType,jdbcType=INTEGER}
      </if>
      <if test="orderId != null and orderId !='' ">
        AND hydual.order_id LIKE CONCAT( #{orderId}, '%')
      </if>
      <if test="addTimeStart != null and addTimeStart != '' ">
        <!-- 优化sql(字段类型转换) -->
        AND hydual.auth_create_time >= UNIX_TIMESTAMP(CONCAT(#{addTimeStart}))
      </if>
      <if test="addTimeEnd != null and addTimeEnd != ''">
        <!-- 优化sql(字段类型转换) -->
        AND hydual.auth_create_time <![CDATA[<=]]> UNIX_TIMESTAMP(CONCAT(#{addTimeEnd},' 23:59:59'))
      </if>
      <if test="orderStatus != null and orderStatus != ''">
        AND hydual.order_status = #{orderStatus,jdbcType=INTEGER}
      </if>
    </where>
  </sql>

  <select id="selectUserAuthList" resultMap="BaseResultMap" parameterType="Map">
    SELECT
    hydua.user_id AS user_id,
    hydua.user_name AS user_name,
    hydur.username AS recommend_name,
    hydur1.mobile AS mobile,
    CASE
    WHEN hydua.auto_inves_status = 1
    THEN '已授权'
    ELSE (CASE WHEN hydua.inves_cancel_time IS NOT NULL THEN '已解约' ELSE '未授权' END)
    END AS auto_inves_status,
    CASE
    WHEN hydua.auto_credit_status = 1
    THEN '已授权'
    ELSE (CASE WHEN hydua.credit_cancel_time IS NOT NULL THEN '已解约' ELSE '未授权' END)
    END AS auto_credit_status,
    FROM_UNIXTIME( hydua.auto_create_time, '%Y-%m-%d %H:%i:%s' ) AS auto_create_time,
    hydua.auto_order_id AS auto_order_id,
    DATE_FORMAT(STR_TO_DATE(hydua.auto_bid_end_time,'%Y%m%d'),'%Y-%m-%d') as auto_bid_end_time,
    DATE_FORMAT(STR_TO_DATE(hydua.auto_credit_end_time,'%Y%m%d'),'%Y-%m-%d') as auto_credit_end_time,
    hydua.inves_max_amt inves_max_amt,
    hydua.credit_max_amt,
    hydua.auto_credit_order_id AS auto_credit_order_id
    FROM
    ht_hjh_user_auth hydua
    LEFT JOIN ht_spreads_user hydsu ON hydsu.user_id = hydua.user_id
    LEFT JOIN ht_user hydur ON hydur.user_id = hydsu.spreads_user_id
    LEFT JOIN ht_user hydur1 ON hydur1.user_id= hydua.user_id
    <include refid="Where_Clause" />
    ORDER BY hydua.auto_create_time DESC
    <if test="limitStart != null and limitEnd !=null" >
      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
    </if>
  </select>

  <select id="countRecordTotal" resultType="java.lang.Integer" parameterType="Map">
    SELECT
    COUNT(hydua.user_id)
    FROM
    ht_hjh_user_auth hydua
    LEFT JOIN ht_spreads_user hydsu ON hydsu.user_id = hydua.user_id
    LEFT JOIN ht_user hydur ON hydur.user_id = hydsu.user_id
    <include refid="Where_Clause" />
  </select>

  <select id="countRecordTotalLog" resultType="java.lang.Integer" parameterType="Map">
    SELECT
    COUNT(hydual.user_id)
    FROM
    ht_hjh_user_auth_log hydual
    <include refid="Where_Clause_Log" />
  </select>

  <select id="selectUserAuthLogList" resultMap="BaseResultLogMap" parameterType="Map">
    SELECT
    hydual.order_id AS order_id,
    hydual.user_name AS user_name,
    CASE
    WHEN hydual.order_status = 0
    THEN '初始'
    WHEN hydual.order_status = 1
    THEN '成功'
    ELSE '失败' END AS order_status,
    hydual.auth_type AS auth_type,
    hydual.operate_esb AS operate_esb,
    FROM_UNIXTIME( hydual.auth_create_time, '%Y-%m-%d %H:%i:%s' ) AS auth_create_time
    FROM
    ht_hjh_user_auth_log hydual
    <include refid="Where_Clause_Log" />
    ORDER BY hydual.create_time DESC
    <if test="limitStart != null and limitEnd !=null" >
      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
    </if>
  </select>


  <update id="updatePayAuthRecord" >
    update ht_hjh_user_auth
    <set >
      auto_payment_end_time = #{1,jdbcType=VARCHAR},
      auto_payment_status = #{2,jdbcType=INTEGER}
    </set>
    where user_id  = #{0,jdbcType=INTEGER}
  </update>

  <select id="countRecordTotalPay" resultType="java.lang.Integer" parameterType="Map">
    SELECT
    COUNT(hydual.user_id)
    FROM
    ht_hjh_user_auth hydual,ht_bank_open_account bank
    <include refid="Where_Clause_Pay" />
  </select>



  <select id="selectUserPayAuthList" resultMap="BaseResultPayMap" parameterType="Map">
    SELECT
    hydual.user_id,
    hydual.user_name,
    hydur.mobile,
    CASE
    WHEN hydual.auto_payment_status = 0 and (hydual.payment_cancel_time is not null or  <![CDATA[ hydual.payment_cancel_time <>'' ]]> )  then 2
    WHEN hydual.auto_payment_status = 0 and (hydual.payment_cancel_time is null or hydual.payment_cancel_time='') then 0
    WHEN (hydual.auto_payment_status = 1)  then 1
    END AS auto_payment_status,
    CASE
    WHEN hydual.auto_payment_status = 0 THEN ''
    ELSE
    DATE_FORMAT(STR_TO_DATE(hydual.auto_payment_end_time, '%Y%m%d'),'%Y-%m-%d') END AS auto_payment_end_time,
    <!-- 	    hydual.auto_payment_status, -->
    <!-- 	    FROM_UNIXTIME(hydual.auto_payment_time,'%Y-%m-%d %H:%i:%s') AS auto_payment_time, -->
    CASE
    WHEN hydual.auto_payment_status = 0 THEN ''
    ELSE
    FROM_UNIXTIME(hydual.auto_payment_time,'%Y-%m-%d') END AS auto_payment_time,
    bank.account,
    hydual.payment_max_amt
    FROM
    ht_hjh_user_auth hydual
    LEFT JOIN ht_bank_open_account bank ON bank.user_id = hydual.user_id
    LEFT JOIN ht_user hydur ON hydur.user_id = hydual.user_id
    <include refid="Where_Clause_Pay" />
    ORDER BY bank.create_time DESC
    <if test="limitStart != null and limitEnd !=null" >
      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
    </if>
  </select>

  <sql id="Where_Clause_Pay">
    <where>
      hydual.user_id = bank.user_id
      <if test="userName != null and userName !='' ">
        AND hydual.user_name LIKE CONCAT( #{userName}, '%')
      </if>
      <if test="bankid != null and bankid !='' ">
        AND bank.account  LIKE CONCAT( #{bankid}, '%')
      </if>
      <if test="authType != null and authType !='' and authType !=2 ">
        AND hydual.auto_payment_status = #{authType,jdbcType=INTEGER} and (hydual.payment_cancel_time is null or hydual.payment_cancel_time='')
      </if>
      <if test="authTimeStart != null and authTimeStart != '' ">
        <!-- 优化sql(字段类型转换) int-->
        AND hydual.auto_payment_time <![CDATA[>=]]> UNIX_TIMESTAMP(#{authTimeStart})
        AND auto_payment_status = 1
      </if>
      <if test="authTimeEnd != null and authTimeEnd != ''">
        <!-- 优化sql(字段类型转换) int-->
        AND hydual.auto_payment_time <![CDATA[<=]]> UNIX_TIMESTAMP(CONCAT(#{authTimeEnd},' 23:59:59'))
        AND auto_payment_status = 1
      </if>

      <if test="authType ==2">
        AND (hydual.payment_cancel_time is not null or <![CDATA[ hydual.payment_cancel_time <>'' ]]>) AND hydual.auto_payment_status = 0
      </if>

      <if test="signTimeStart != null and signTimeStart != '' ">
        <!-- 优化sql(字段类型转换) varchar-->
        AND hydual.auto_payment_end_time <![CDATA[>=]]> CONCAT(UNIX_TIMESTAMP(#{signTimeStart}))
      </if>
      <if test="signTimeEnd != null and signTimeEnd != ''">

        <!-- 优化sql(字段类型转换) varchar-->
        AND hydual.auto_payment_end_time <![CDATA[<=]]> CONCAT(UNIX_TIMESTAMP(CONCAT(#{signTimeEnd},' 23:59:59')))
      </if>
    </where>
  </sql>

  <select id="countRecordTotalRePay" resultType="java.lang.Integer" parameterType="Map">
    SELECT
    COUNT(hydual.user_id)
    FROM
    ht_hjh_user_auth hydual
    LEFT JOIN ht_bank_open_account bank ON bank.user_id = hydual.user_id
    <include refid="Where_Clause_RePay" />
  </select>

  <sql id="Where_Clause_RePay">
    <where>
      hydual.user_id = bank.user_id
      <if test="userName != null and userName !='' ">
        AND hydual.user_name LIKE CONCAT( #{userName}, '%')
      </if>
      <if test="bankid != null and bankid !='' ">
        AND bank.account  LIKE CONCAT( #{bankid}, '%')
      </if>
      <if test="authType != null and authType !='' and authType !=2 ">
        <!--         AND hydual.auto_repay_status = #{authType,jdbcType=INTEGER} -->
        AND hydual.auto_repay_status = #{authType,jdbcType=INTEGER} and (hydual.repay_cancel_time is null or hydual.repay_cancel_time='')
      </if>
      <!--  authTimeStart authTimeEnd signTimeStart signTimeEnd auto_repay_time auto_repay_end_time 是否有错误？-->
      <if test="authTimeStart != null and authTimeStart != ''">
        <!-- 优化sql(字段类型转换) int-->
        AND hydual.auto_repay_time <![CDATA[>=]]> UNIX_TIMESTAMP(#{authTimeStart}) AND auto_repay_status = 1
      </if>
      <if test="authTimeEnd != null and authTimeEnd != ''">
        <!-- 优化sql(字段类型转换) varchar-->
        AND hydual.auto_repay_end_time <![CDATA[<=]]> CONCAT(UNIX_TIMESTAMP(CONCAT(#{authTimeStart},' 23:59:59'))) AND auto_repay_status = 1
      </if>

      <if test="authType ==2">
        <!--         AND hydual.repay_cancel_time IS NOT NULL AND hydual.auto_repay_status = 0 -->
        AND (hydual.repay_cancel_time is not null or <![CDATA[ hydual.repay_cancel_time <>'' ]]>) AND hydual.auto_repay_status = 0
      </if>
      <if test="signTimeStart != null and signTimeStart != ''">
        <!-- 优化sql(字段类型转换) int-->
        AND hydual.auto_repay_time <![CDATA[>=]]> UNIX_TIMESTAMP(#{signTimeStart})
      </if>
      <if test="signTimeEnd != null and signTimeEnd != ''">
        <!-- 优化sql(字段类型转换) varchar-->
        AND hydual.auto_repay_end_time <![CDATA[<=]]> CONCAT(UNIX_TIMESTAMP(CONCAT(#{signTimeEnd},' 23:59:59')))
      </if>
    </where>
  </sql>

  <select id="selectUserRePayAuthList" resultMap="BaseResultRePayMap" parameterType="Map">
    SELECT
    hydual.user_id,
    hydual.user_name,
    CASE
    WHEN hydual.auto_repay_status = 0 and (hydual.repay_cancel_time is not null or
    <![CDATA[ hydual.repay_cancel_time <>'' ]]> ) then 2
    WHEN hydual.auto_repay_status = 0 and (hydual.repay_cancel_time is null or hydual.repay_cancel_time='') then 0
    WHEN (hydual.auto_repay_status = 1) THEN 1
    END AS auto_repay_status,
    CASE
    WHEN hydual.auto_repay_status = 0 THEN ''
    ELSE
    DATE_FORMAT(
    STR_TO_DATE(
    hydual.auto_repay_end_time,
    '%Y%m%d'
    ),
    '%Y-%m-%d'
    ) END AS auto_repay_end_time,
    CASE WHEN hydual.auto_repay_status = 0 THEN ''
    ELSE
    FROM_UNIXTIME(
    hydual.auto_repay_time,
    '%Y-%m-%d'
    )END AS auto_repay_time,
    bank.account,
    hydual.repay_max_amt
    FROM
    ht_hjh_user_auth hydual
    LEFT JOIN ht_bank_open_account bank ON bank.user_id = hydual.user_id
    <include refid="Where_Clause_RePay"/>
    ORDER BY bank.create_time DESC
    <if test="limitStart != null and limitEnd !=null">
      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
    </if>
  </select>


  <update id="updateRePayAuthRecord" >
    update ht_hjh_user_auth
    <set >
      auto_repay_end_time = #{1,jdbcType=VARCHAR},
      auto_repay_status = #{2,jdbcType=INTEGER}
    </set>
    where user_id  = #{0,jdbcType=INTEGER}
  </update>


  <!--   判断是否可以解决 缴费授权 -->
  <select id="selectCanDismissPay" resultType="int">
  	SELECT 
   		SUM(count)
	FROM
	    (SELECT 
	        COUNT(*) AS count
	    FROM
	        ht_borrow_recover 
	    WHERE
	        recover_status = 0 and user_id=#{0}
	    UNION ALL 
	    SELECT 
	        COUNT(*) AS count
	    FROM
	        ht_credit_repay
	    WHERE
	        status = 0 and user_id=#{0}) tmp
  </select>

  <select id="selectCanDismissRePay" resultType="int">
  	select count(*) from ht_borrow_repay where   repay_status=0 and   user_id=  #{0}
  </select>

</mapper>