<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.BindCardExceptionCustomizeMapper">

	<resultMap id="bankCardListMap" type="com.hyjf.am.vo.admin.BindCardExceptionCustomizeVO">
		<result column="id" property="id" />
		<result column="user_id" property="userId" /> <!-- 用户id -->
		<result column="username" property="userName"/><!-- 用户名 -->
		<result column="account" property="accountId"/><!-- 用户电子账户号 -->
		<result column="card_no" property="cardNo"/><!-- 银行卡号 -->
		<result column="bank" property="bankName"/><!-- 银行名称 -->
	</resultMap>
	<sql id="Where_Clause">
		<where>
			<!-- 用户名 -->
			<if test="userNameSrch != null and userNameSrch != ''">
				hu.username LIKE CONCAT('%', #{userNameSrch}, '%')
			</if>
			<!-- 电子账户号 -->
			<if test="accountIdSrch != null and accountIdSrch != ''">
				AND hboa.`account` LIKE CONCAT('%', #{accountIdSrch}, '%')
			</if>
		</where>
	</sql>

	<!-- 获取用户银行卡列表件数 -->
	<select id="countBankCardList" parameterType="com.hyjf.am.resquest.admin.BindCardExceptionRequest" resultType="java.lang.Integer">
		SELECT
			count(hu.user_id)
		FROM
			ht_user hu
		INNER JOIN ht_bank_open_account hboa ON hu.user_id = hboa.user_id
		LEFT JOIN ht_bank_card hbc ON hu.user_id = hbc.user_id
		<include refid="Where_Clause" />
	</select>

	<!-- 获取用户银行卡列表 -->
	<select id="selectBankCardList" parameterType="com.hyjf.am.resquest.admin.BindCardExceptionRequest"  resultMap="bankCardListMap">
		SELECT
			hu.user_id,
			hu.username,
			hboa.account,
			hbc.bank,
			hbc.card_no
		FROM
			ht_user hu
		INNER JOIN ht_bank_open_account hboa ON hu.user_id = hboa.user_id
		LEFT JOIN ht_bank_card hbc ON hu.user_id = hbc.user_id
		<include refid="Where_Clause" />
		ORDER BY hu.reg_time desc
		<if test="limitStart >= 0" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>
		
	</select>
</mapper>