<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.ChangeLogCustomizeMapper">
  <resultMap id="BaseResultMap" type="com.hyjf.am.user.dao.model.customize.ChangeLogCustomize" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="attribute" property="attribute" jdbcType="INTEGER" />
    <result column="recommend_user" property="recommendUser" jdbcType="VARCHAR" />
    <result column="is51" property="is51" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="change_type" property="changeType" jdbcType="INTEGER" />
    <result column="change_userid" property="changeUserid" jdbcType="INTEGER" />
    <result column="change_user" property="changeUser" jdbcType="VARCHAR" />
    <result column="change_time" property="changeTime" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="borrower_type" property="borrowerType" jdbcType="VARCHAR" />
    <result column="idcard" property="idCard" jdbcType="VARCHAR" />
	<result column="utm_type" property="utmType" jdbcType="VARCHAR" />
	<result column="utm_source_id" property="utmSourceId" jdbcType="VARCHAR" />
  </resultMap>

	<sql id="where-all-page-condition">
		<if test="userId != null and userId != 0">
			AND l.user_id = #{userId}
		</if>
		<if test="username != null and username != ''">
			AND l.username LIKE CONCAT( #{username}, '%')
		</if>
		<if test="realName != null and realName != ''">
			AND l.real_name LIKE CONCAT( #{realName}, '%')
		</if>
		<if test="mobile != null and mobile != ''">
			AND l.mobile LIKE CONCAT( #{mobile}, '%')
		</if>
		<if test="recommendUser != null and recommendUser != ''">
			AND l.recommend_user LIKE CONCAT( #{recommendUser}, '%')
		</if>
		<if test="attribute != null and attribute != ''">
			AND l.attribute = #{attribute}
		</if>
		<if test="is51 != null and is51 != ''">
			AND l.is51 = #{is51}
		</if>
		<if test="changeType != null and changeType != ''">
			AND l.change_type = #{changeType}
		</if>
		<if test="startTime != null and startTime != ''">
			AND l.update_time &gt;= STR_TO_DATE(CONCAT(#{startTime},'00:00:00'
			),'%Y-%m-%d %H:%i:%s')
		</if>
		<if test="endTime != null and endTime != ''">
			AND l.update_time &lt;= STR_TO_DATE(CONCAT(#{endTime},'23:59:59'
			),'%Y-%m-%d %H:%i:%s')
		</if>
		<!--合规四期,添加邮箱查询 add by nxl-->
		<if test="email != null and email != ''">
			AND l.email =#{email}
		</if>
		<if test="utmType != null and utmType != ''">
			AND l.utm_type =#{utmType}
		</if>
		<if test="utmSourceId != null and utmSourceId != ''">
			AND l.utm_source_id =#{utmSourceId}
		</if>
	</sql>
	<select id="queryChangeLogCount" resultType="java.lang.Integer"
		parameterType="com.hyjf.am.user.dao.mapper.customize.ChangeLogCustomizeMapper">
		SELECT COUNT(1)
		from ht_user_change_log l
		
		WHERE 1=1
		<include refid="where-all-page-condition"/>
	</select>
	<select id="queryChangeLogByUserIdCount" resultType="java.lang.Integer"
			parameterType="com.hyjf.am.user.dao.mapper.customize.ChangeLogCustomizeMapper">
		SELECT COUNT(1)
		from ht_user_change_log l
		WHERE
		l.user_id = #{userId}
		AND utm_source_id is not null
		<include refid="where-all-page-condition"/>
	</select>
	<select id="queryChangeLogList" resultMap="BaseResultMap"
		parameterType="com.hyjf.am.user.dao.mapper.customize.ChangeLogCustomizeMapper">
		SELECT
		id,
		user_id,
		username,
		real_name,
		<!--mod by nxl 合规四期修改,手机号加密显示-->
		REPLACE (
		mobile,
		SUBSTR(mobile, 4, 4),
		'****'
		) AS mobile,
		idcard,
		`role`,
		`attribute`,
		recommend_user,
		is51,
		`status`,
		update_user_id AS change_userid,
		update_user AS change_user,
		DATE_FORMAT(
		update_time,
		'%Y-%m-%d %H:%i:%s'
		) AS change_time,
		remark,
		borrower_type,
		<!--add by nxl 合规四期修改,邮箱显示-->
		email,
		<!-- add by wx 增加修改渠道记录 -->
		<!-- ALTER TABLE `ht_user_change_log` ADD COLUMN `utm_name` VARCHAR(255) NULL DEFAULT NULL COMMENT '注册渠道' AFTER `email`; -->
		utm_name
		FROM
		ht_user_change_log l
		WHERE 1=1 
		<include refid="where-all-page-condition"/>
		ORDER BY l.update_time DESC
	    <if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	<insert id="insertSelective" parameterType="com.hyjf.am.user.dao.model.customize.ChangeLogCustomize" >
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into ht_user_change_log
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				user_id,
			</if>
			<if test="username != null" >
				username,
			</if>
			<if test="realName != null" >
				real_name,
			</if>
			<if test="mobile != null" >
				mobile,
			</if>
			<if test="idcard != null" >
				idcard,
			</if>
			<if test="role != null" >
				`role`,
			</if>
			<if test="attribute != null" >
				`attribute`,
			</if>
			<if test="recommendUser != null" >
				recommend_user,
			</if>
			<if test="is51 != null" >
				is51,
			</if>
			<if test="status != null" >
				`status`,
			</if>
			<if test="remark != null" >
				remark,
			</if>
			<if test="borrowerType != null" >
				borrower_type,
			</if>
			<if test="updateType != null" >
				update_type,
			</if>
			<if test="updateUserid != null" >
				update_user_id,
			</if>
			<if test="updateUser != null" >
				update_user,
			</if>
			<if test="updateTime != null" >
				update_time,
			</if>
			<if test="email != null" >
				email,
			</if>
			<if test="utmName != null" >
				utm_name,
			</if>
			<if test="utmType != null" >
				utm_type,
			</if>
			<if test="utmSourceId != null" >
				utm_source_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="username != null" >
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="realName != null" >
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null" >
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="idcard != null" >
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="role != null" >
				#{role,jdbcType=TINYINT},
			</if>
			<if test="attribute != null" >
				#{attribute,jdbcType=TINYINT},
			</if>
			<if test="recommendUser != null" >
				#{recommendUser,jdbcType=VARCHAR},
			</if>
			<if test="is51 != null" >
				#{is51,jdbcType=TINYINT},
			</if>
			<if test="status != null" >
				#{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null" >
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="borrowerType != null" >
				#{borrowerType,jdbcType=TINYINT},
			</if>
			<if test="updateType != null" >
				#{updateType,jdbcType=TINYINT},
			</if>
			<if test="updateUserid != null" >
				#{updateUserid,jdbcType=INTEGER},
			</if>
			<if test="updateUser != null" >
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="email != null" >
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="utmName != null" >
				#{utmName,jdbcType=VARCHAR},
			</if>
			<if test="utmType != null" >
				#{utmType,jdbcType=VARCHAR},
			</if>
			<if test="utmSourceId != null" >
				#{utmSourceId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>

