<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.ScreenDataJobCustomizeMapper">
	<resultMap id="repayListResultMap" type="com.hyjf.am.vo.trade.RepaymentPlanVO" >
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="accede_order_id" property="accedeOrderId" jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName" jdbcType="VARCHAR" />
		<result column="customer_group" property="customerGroup" jdbcType="INTEGER" />
		<result column="money" property="money" jdbcType="DECIMAL" />
		<result column="repayment_time" property="repaymentTime" jdbcType="TIMESTAMP" />
	</resultMap>


	<!--统计无主单用户查询散标待回款-->
	<select id="findRepayUser"  resultMap="repayListResultMap">
		select * from (
		SELECT
				r.borrow_nid,
				null as accede_order_id,
				r.user_id,
				from_unixtime(r.recover_time,'%Y-%m-%d') as repayment_time,
				(recover_account_wait-credit_amount) as money,
				c.customer_name,
				c.customer_group
		FROM
				   hyjf_trade.ht_borrow_recover r
		LEFT JOIN  ht_user_portrait p1 ON r.user_id=p1.user_id
		LEFT JOIN  ht_customer_task_config c on p1.current_owner=c.customer_name
		LEFT JOIN `ht_user_info` i ON r.user_id = i.user_id
		LEFT JOIN  ht_utm_reg r1  ON r1.user_id = i.user_id
		LEFT JOIN  ht_utm u1 ON u1.utm_id = r1.utm_id
		LEFT JOIN  ht_utm_plat p ON  u1.utm_source=p.source_name
		WHERE
			p.source_id<![CDATA[<>]]>349
		and i.attribute=0
		and	r.recover_account_wait > 0
		AND r.debt_status = 0
		AND r.credit_status IN (0, 1)
		AND r.recover_status = 0
		AND r.accede_order_id IS NULL
		AND r.recover_time <![CDATA[>=]]> #{startTime}
		AND r.recover_time <![CDATA[<=]]> #{endTime}
		union all
		SELECT
			r.borrow_nid,
			null as accede_order_id,
			r.user_id,
			from_unixtime(r.recover_time,'%Y-%m-%d') as repayment_time,
			(recover_account_wait-credit_amount) as money,
			c.customer_name,
			c.customer_group
		FROM
		hyjf_trade.ht_borrow_recover r
		LEFT JOIN `ht_user_info` i ON r.user_id = i.user_id
		LEFT JOIN  ht_user_portrait p ON r.user_id=p.user_id
		LEFT JOIN ht_customer_task_config c on p.current_owner=c.customer_name
		LEFT JOIN `ht_spreads_user` s ON r.user_id = s.user_id
		LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
		LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
		LEFT JOIN ht_r_oa_department d2 ON d2.id = d1.parentid
		LEFT JOIN ht_r_oa_department d3 ON d3.id = d2.parentid
		where  ou.user_status IN ( 'E', 'Q1', 'Q11', 'Q2', 'Q21' )
		and i.attribute<![CDATA[<>]]>0
		and d3.`name`='惠众'
		and (d1.`name`='电销' or d1.`name`='网络运营部')
		and	r.recover_account_wait > 0
		AND r.debt_status = 0
		AND r.credit_status IN (0, 1)
		AND r.recover_status = 0
		AND r.accede_order_id IS NULL
		AND recover_time <![CDATA[>=]]> #{startTime}
		AND recover_time <![CDATA[<=]]> #{endTime}
		union all
		select
		null as borrow_nid,
		a.accede_order_id ,
		a.user_id ,
		from_unixtime(a.end_date,'%Y-%m-%d') as  repayment_time ,
		a.wait_total as money ,
		c.customer_name,
		c.customer_group
		from hyjf_trade.ht_hjh_accede  a
		LEFT JOIN  ht_user_portrait p1 ON a.user_id=p1.user_id
		LEFT JOIN ht_customer_task_config c on p1.current_owner=c.customer_name
		LEFT JOIN `ht_user_info` i ON a.user_id = i.user_id
		LEFT JOIN  ht_utm_reg r1  ON r1.user_id = i.user_id
		LEFT JOIN  ht_utm u1 ON u1.utm_id = r1.utm_id
		LEFT JOIN  ht_utm_plat p ON  u1.utm_source=p.source_name
		WHERE
		p.source_id<![CDATA[<>]]>349
		and i.attribute=0
		and a.acctual_payment_time = 0
		and a.end_date != ''
		and a.end_date <![CDATA[>=]]> #{startTime}
		and a.end_date <![CDATA[<=]]> #{endTime}
			union all
		select
		null as borrow_nid,
		a.accede_order_id ,
		a.user_id ,
		from_unixtime(a.end_date,'%Y-%m-%d') as  repayment_time ,
		a.wait_total as money ,
		c.customer_name,
		c.customer_group
		from hyjf_trade.ht_hjh_accede  a
		LEFT JOIN `ht_user_info` i ON a.user_id = i.user_id
		LEFT JOIN  ht_user_portrait p ON a.user_id=p.user_id
		LEFT JOIN ht_customer_task_config c on p.current_owner=c.customer_name
		LEFT JOIN `ht_spreads_user` s ON a.user_id = s.user_id
		LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
		LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
		LEFT JOIN ht_r_oa_department d2 ON d2.id = d1.parentid
		LEFT JOIN ht_r_oa_department d3 ON d3.id = d2.parentid
		where  ou.user_status IN ( 'E', 'Q1', 'Q11', 'Q2', 'Q21' )
		and i.attribute<![CDATA[<>]]>0
		and d3.`name`='惠众'
		and (d1.`name`='电销' or d1.`name`='网络运营部')
		and a.acctual_payment_time = 0
		and a.end_date != ''
		and a.end_date <![CDATA[>=]]> #{startTime}
		and a.end_date <![CDATA[<=]]> #{endTime}
		) z
		limit #{limitStart},#{limitEnd};
	</select>

	<!--统计无主单用户查询散标待回款-->
	<select id="countRepayUser"  >
		select count(user_id) from (
		SELECT
				r.user_id
		FROM
				   hyjf_trade.ht_borrow_recover r
		LEFT JOIN  ht_user_portrait p1 ON r.user_id=p1.user_id
		LEFT JOIN  ht_customer_task_config c on p1.current_owner=c.customer_name
		LEFT JOIN `ht_user_info` i ON r.user_id = i.user_id
		LEFT JOIN  ht_utm_reg r1  ON r1.user_id = i.user_id
		LEFT JOIN  ht_utm u1 ON u1.utm_id = r1.utm_id
		LEFT JOIN  ht_utm_plat p ON  u1.utm_source=p.source_name
		WHERE
			p.source_id<![CDATA[<>]]>349
		and i.attribute=0
		and	r.recover_account_wait > 0
		AND r.debt_status = 0
		AND r.credit_status IN (0, 1)
		AND r.recover_status = 0
		AND r.accede_order_id IS NULL
		AND r.recover_time <![CDATA[>=]]> #{startTime}
		AND r.recover_time <![CDATA[<=]]> #{endTime}
		union all
		SELECT
			r.user_id
		FROM
		hyjf_trade.ht_borrow_recover r
		LEFT JOIN `ht_user_info` i ON r.user_id = i.user_id
		LEFT JOIN  ht_user_portrait p ON r.user_id=p.user_id
		LEFT JOIN ht_customer_task_config c on p.current_owner=c.customer_name
		LEFT JOIN `ht_spreads_user` s ON r.user_id = s.user_id
		LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
		LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
		LEFT JOIN ht_r_oa_department d2 ON d2.id = d1.parentid
		LEFT JOIN ht_r_oa_department d3 ON d3.id = d2.parentid
		where  ou.user_status IN ( 'E', 'Q1', 'Q11', 'Q2', 'Q21' )
		and i.attribute<![CDATA[<>]]>0
		and d3.`name`='惠众'
		and (d1.`name`='电销' or d1.`name`='网络运营部')
		and	r.recover_account_wait > 0
		AND r.debt_status = 0
		AND r.credit_status IN (0, 1)
		AND r.recover_status = 0
		AND r.accede_order_id IS NULL
		AND recover_time <![CDATA[>=]]> #{startTime}
		AND recover_time <![CDATA[<=]]> #{endTime}
		union all
		select
		a.user_id
		from hyjf_trade.ht_hjh_accede  a
		LEFT JOIN  ht_user_portrait p1 ON a.user_id=p1.user_id
		LEFT JOIN ht_customer_task_config c on p1.current_owner=c.customer_name
		LEFT JOIN `ht_user_info` i ON a.user_id = i.user_id
		LEFT JOIN  ht_utm_reg r1  ON r1.user_id = i.user_id
		LEFT JOIN  ht_utm u1 ON u1.utm_id = r1.utm_id
		LEFT JOIN  ht_utm_plat p ON  u1.utm_source=p.source_name
		WHERE
		p.source_id<![CDATA[<>]]>349
		and i.attribute=0
		and a.acctual_payment_time = 0
		and a.end_date != ''
		and a.end_date <![CDATA[>=]]> #{startTime}
		and a.end_date <![CDATA[<=]]> #{endTime}
			union all
		select
		a.user_id
		from hyjf_trade.ht_hjh_accede  a
		LEFT JOIN `ht_user_info` i ON a.user_id = i.user_id
		LEFT JOIN  ht_user_portrait p ON a.user_id=p.user_id
		LEFT JOIN ht_customer_task_config c on p.current_owner=c.customer_name
		LEFT JOIN `ht_spreads_user` s ON a.user_id = s.user_id
		LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
		LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
		LEFT JOIN ht_r_oa_department d2 ON d2.id = d1.parentid
		LEFT JOIN ht_r_oa_department d3 ON d3.id = d2.parentid
		where  ou.user_status IN ( 'E', 'Q1', 'Q11', 'Q2', 'Q21' )
		and i.attribute<![CDATA[<>]]>0
		and d3.`name`='惠众'
		and (d1.`name`='电销' or d1.`name`='网络运营部')
		and a.acctual_payment_time = 0
		and a.end_date != ''
		and a.end_date <![CDATA[>=]]> #{startTime}
		and a.end_date <![CDATA[<=]]> #{endTime}
		) z
	</select>
	<!--统计有主单用户查询散标待回款-->
<!--
	<select id="findRepayUserYouSan"  resultMap="repayListResultMap">
		SELECT
			r.borrow_nid,
			r.user_id,
			from_unixtime(r.recover_time,'%Y-%m-%d') as repayment_time,
			(recover_account_wait-credit_amount) as money,
			c.customer_name,
			c.customer_group
		FROM
		hyjf_trade.ht_borrow_recover r
		LEFT JOIN `ht_user_info` i ON r.user_id = i.user_id
		LEFT JOIN  ht_user_portrait p ON r.user_id=p.user_id
		LEFT JOIN ht_customer_task_config c on p.current_owner=c.customer_name
		LEFT JOIN `ht_spreads_user` s ON r.user_id = s.user_id
		LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
		LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
		LEFT JOIN ht_r_oa_department d2 ON d2.id = d1.parentid
		LEFT JOIN ht_r_oa_department d3 ON d3.id = d2.parentid
		where  ou.user_status IN ( 'E', 'Q1', 'Q11', 'Q2', 'Q21' )
		and i.attribute<![CDATA[<>]]>0
		and d3.`name`='惠众'
		and (d1.`name`='电销' or d1.`name`='网络运营部')
		and	r.recover_account_wait > 0
		AND r.debt_status = 0
		AND r.credit_status IN (0, 1)
		AND r.recover_status = 0
		AND r.accede_order_id IS NULL
		AND recover_time <![CDATA[>=]]> #{startTime}
		AND recover_time <![CDATA[<=]]> #{endTime}
	</select>

	&lt;!&ndash;统计无主单用户查询计划待回款&ndash;&gt;
	<select id="findRepayUserWuPlan"  resultMap="repayListResultMap">
		select
		a.user_id ,
		a.accede_order_id ,
		a.wait_total as money ,
		from_unixtime(a.end_date,'%Y-%m-%d') as  repayment_time ,
		c.customer_name,
		c.customer_group
		from hyjf_trade.ht_hjh_accede  a
		LEFT JOIN  ht_user_portrait p1 ON a.user_id=p1.user_id
		LEFT JOIN ht_customer_task_config c on p1.current_owner=c.customer_name
		LEFT JOIN `ht_user_info` i ON a.user_id = i.user_id
		LEFT JOIN  ht_utm_reg r1  ON r1.user_id = i.user_id
		LEFT JOIN  ht_utm u1 ON u1.utm_id = r1.utm_id
		LEFT JOIN  ht_utm_plat p ON  u1.utm_source=p.source_name
		WHERE
		p.source_id<![CDATA[<>]]>349
		and i.attribute=0
		and a.acctual_payment_time = 0
		and a.end_date != ''
		and a.end_date <![CDATA[>=]]> #{startTime}
		and a.end_date <![CDATA[<=]]> #{endTime};
	</select>

	&lt;!&ndash;统计有主单用户查询计划待回款&ndash;&gt;
	<select id="findRepayUserYouPlan"  resultMap="repayListResultMap">
		select
		a.user_id ,
		a.accede_order_id ,
		a.wait_total as money ,
		from_unixtime(a.end_date,'%Y-%m-%d') as  repayment_time ,
		c.customer_name,
		c.customer_group
		from hyjf_trade.ht_hjh_accede  a
		LEFT JOIN  ht_user_portrait p ON a.user_id=p.user_id
		LEFT JOIN ht_customer_task_config c on p.current_owner=c.customer_name
		LEFT JOIN `ht_spreads_user` s ON a.user_id = s.user_id
		LEFT JOIN ht_r_oa_users ou ON s.spreads_user_id = ou.hyd_id
		LEFT JOIN ht_r_oa_department d1 ON ou.departmentid = d1.id
		LEFT JOIN ht_r_oa_department d2 ON d2.id = d1.parentid
		LEFT JOIN ht_r_oa_department d3 ON d3.id = d2.parentid
		where  ou.user_status IN ( 'E', 'Q1', 'Q11', 'Q2', 'Q21' )
		and i.attribute<![CDATA[<>]]>0
		and d3.`name`='惠众'
		and (d1.`name`='电销' or d1.`name`='网络运营部')
		and a.acctual_payment_time = 0
		and a.end_date != ''
		and a.end_date <![CDATA[>=]]> #{startTime}
		and a.end_date <![CDATA[<=]]> #{endTime};
	</select>
-->
</mapper>