<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.SmsCountCustomizeMapper">

    <!-- 统计注册人数 -->
	<select id="querySmsCountLlist" parameterType="com.hyjf.am.resquest.user.SmsCountRequest"
            resultType="com.hyjf.am.user.dao.model.customize.SmsCountCustomize">
        select
        IFNULL(`od3`.`name`,'其他') AS `departmentName`,
        IFNULL(od3.id,0) as departmentId,
        sum(s.sms_number) as smsNumber,
        s.posttime as posttime,
        case when posttime > '2018-12-27' then (sum(s.sms_number) * 0.04)  else (sum(s.sms_number) * 0.042) end as smsMoney
        from ht_sms_count s
        LEFT JOIN ht_r_oa_department `od` on s.department_id = od.id
        LEFT JOIN ht_r_oa_department `od2` ON `od2`.`id` = `od`.`parentid`
        LEFT JOIN ht_r_oa_department `od3` ON `od3`.`id` = `od2`.`parentid`
        group by posttime,departmentName
        <trim prefix="having" prefixOverrides="AND |OR ">
        <if test="post_time_begin!=null">
            AND posttime <![CDATA[>=]]>  STR_TO_DATE(#{post_time_begin},'%Y-%m-%d')
        </if>
        <if test="post_time_end!= null">
            AND posttime  <![CDATA[<=]]> STR_TO_DATE(#{post_time_end},'%Y-%m-%d')
        </if>
        <if test="combotreeListSrch != null and combotreeListSrch != ''">
            AND departmentId in
            <foreach collection="combotreeListSrch" open="(" close=")" separator="," item="dep">
                #{dep}
            </foreach>
        </if>
        </trim>
        ORDER BY s.posttime desc
        <if test="limitStart >=0 and limitEnd > 0">
            LIMIT #{limitStart} , #{limitEnd}
        </if>
    </select>
    
    <select id="querySmsCountNumberTotal" resultType="com.hyjf.am.user.dao.model.customize.SmsCountCustomize"
            parameterType="com.hyjf.am.resquest.user.SmsCountRequest">
        select 	ifnull(sum(sms_number), 0) AS smsNumber,
        sum(CASE
        WHEN posttime > '2018-12-27' THEN
        (sms_number * 0.04)
        ELSE
        (sms_number * 0.042)
        END ) AS smsMoney  from ht_sms_count l
        <where>
            <if test="post_time_begin!=null">
                AND l.posttime <![CDATA[>=]]> STR_TO_DATE(#{post_time_begin},'%Y-%m-%d')
            </if>
            <if test="post_time_end!= null">
                AND l.posttime  <![CDATA[<=]]> STR_TO_DATE(#{post_time_end},'%Y-%m-%d')
            </if>
            <if test="departmentId!= null">
                AND l.department_id = #{departmentId}
            </if>
            <if test="posttime!= null">
                AND l.posttime =  STR_TO_DATE(#{posttime},'%Y-%m-%d')
            </if>
            <if test="combotreeListSrch != null and combotreeListSrch != ''">
                AND l.department_id in
                <foreach collection="combotreeListSrch" open="(" close=")" separator="," item="dep">
                    #{dep}
                </foreach>
            </if>
        </where>
    </select>
    
    <resultMap id="DepartmentInfoResultMap" type="com.hyjf.am.user.dao.model.customize.OADepartmentCustomize" >
	  <id column="id" property="id" jdbcType="INTEGER" />
	  <result column="parentid" property="parentid" jdbcType="INTEGER" />
	  <result column="name" property="name" jdbcType="VARCHAR" />
	  <result column="description" property="description" jdbcType="VARCHAR" />
	  <result column="ishead" property="ishead" jdbcType="INTEGER" />
	  <result column="ishr" property="ishr" jdbcType="INTEGER" />
	  <result column="isfinance" property="isfinance" jdbcType="INTEGER" />
	  <result column="cuttype" property="cuttype" jdbcType="INTEGER" />
	  <result column="provinceid" property="provinceid" jdbcType="VARCHAR" />
	  <result column="cityid" property="cityid" jdbcType="VARCHAR" />
	  <result column="header" property="header" jdbcType="VARCHAR" />
	  <result column="manager" property="manager" jdbcType="VARCHAR" />
	  <result column="position_category" property="positionCategory" jdbcType="INTEGER" />
	  <result column="listorder" property="listorder" jdbcType="INTEGER" />
	</resultMap>
    
    <select id="queryDepartmentInfo" resultMap="DepartmentInfoResultMap">
		SELECT
			id,
			parentid,
			name,
			description,
			ishead,
			ishr,
			isfinance,
			cuttype,
			provinceid,
			cityid,
			header,
			manager,
			position_category,
			listorder
		FROM
			ht_r_oa_department
	</select>
	
	<select id="selectCount" parameterType="com.hyjf.am.resquest.user.SmsCountRequest" resultType="INTEGER">
		select count(1) from (select
        IFNULL(`od3`.`name`,'其他') AS `departmentName`,
        IFNULL(od3.id,0) as departmentId,
        sum(s.sms_number) as smsNumber,
        s.posttime as posttime
        from ht_sms_count s
        LEFT JOIN ht_r_oa_department `od` on s.department_id = od.id
        LEFT JOIN ht_r_oa_department `od2` ON `od2`.`id` = `od`.`parentid`
        LEFT JOIN ht_r_oa_department `od3` ON `od3`.`id` = `od2`.`parentid`
        group by posttime,departmentName

        <trim prefix="having" prefixOverrides="AND |OR ">
        <if test="post_time_begin!=null">
            AND posttime <![CDATA[>=]]>  STR_TO_DATE(#{post_time_begin},'%Y-%m-%d')
        </if>
        <if test="post_time_end!= null">
            AND posttime  <![CDATA[<=]]> STR_TO_DATE(#{post_time_end},'%Y-%m-%d')
        </if>
        <if test="combotreeListSrch != null and combotreeListSrch != ''">
            AND departmentId in
            <foreach collection="combotreeListSrch" open="(" close=")" separator="," item="dep">
                #{dep}
            </foreach>
        </if>
        </trim>
        ORDER BY s.posttime desc
        ) t
    </select>

    <select id="queryUser" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT
        mobile
        FROM
        ht_user
        <where>
            <if test="re_time_begin != null" >
                AND create_time <![CDATA[>=]]> #{re_time_begin,jdbcType=INTEGER}
            </if>
            <if test="re_time_end != null" >
                AND create_time <![CDATA[<=]]> #{re_time_end,jdbcType=INTEGER}
            </if>
            <if test="open_account!= null and open_account == 1" >
                AND open_account = 1
            </if>
        </where>
    </select>

    <select id="getDeptByMobile" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT deptId, deptName FROM
        (
        SELECT od.id AS deptId, od. NAME AS deptName FROM  ht_user hu
        LEFT JOIN ht_r_oa_users ou ON hu.user_id = ou.hyd_id
        LEFT JOIN ht_r_oa_department od ON ou.departmentid = od.id
        WHERE
            hu.mobile = #{mobile}
            AND ou.user_status IN ('E', 'Q1', 'Q2', 'Q11', 'Q21')
        UNION ALL
        SELECT od.id AS deptId, od. NAME AS deptName FROM ht_user hu
        LEFT JOIN ht_r_oa_users ou ON hu.user_id = ou.hyd_id
        LEFT JOIN ht_r_oa_department od ON ou.departmentid = od.id
        WHERE
            hu.user_id = (
            SELECT
            hs.spreads_user_id
            FROM
            ht_user t INNER JOIN ht_spreads_user hs on t.user_id = hs.user_id
            WHERE
                t.mobile = #{mobile} limit 1)
                AND ou.user_status IN ('E', 'Q1', 'Q2', 'Q11', 'Q21')
        ) tt
        LIMIT 1;
    </select>

    <select id="querySms" resultType="com.hyjf.am.user.dao.model.customize.SmsCountCustomize"
            parameterType="com.hyjf.am.user.dao.model.customize.SmsCountCustomize">
        select l.id , l.department_id AS departmentId ,l.department_name AS departmentName ,l.sms_number AS smsNumber
        ,l.posttime ,l.create_time AS createTime from ht_sms_count l
        <where>
            <if test="post_time_begin!=null">
                AND l.posttime <![CDATA[>=]]> STR_TO_DATE(#{post_time_begin},'%Y-%m-%d')
            </if>
            <if test="post_time_end!= null">
                AND l.posttime  <![CDATA[<=]]> STR_TO_DATE(#{post_time_end},'%Y-%m-%d')
            </if>
            <if test="departmentId!= null">
                AND l.department_id = #{departmentId}
            </if>
            <if test="posttime!= null">
                AND l.posttime = STR_TO_DATE(#{posttime},'%Y-%m-%d')
            </if>
            <if test="combotreeListSrch != null and combotreeListSrch != ''">
                AND l.department_id in
                <foreach collection="combotreeListSrch" open="(" close=")" separator="," item="dep">
                    #{dep}
                </foreach>
            </if>
        </where>

    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO ht_sms_count (id,department_id,department_name,sms_number,posttime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.departmentId},#{item.departmentName},#{item.smsNumber},#{item.posttime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        id=VALUES(id),sms_number =
        VALUES
        (sms_number);
    </insert>

    <!-- 下面为临时使用 -->
    <select id="getuserIdAnddepartmentName" resultType="com.hyjf.am.user.dao.model.customize.SmsCountCustomize">
        SELECT
        hu.user_id AS id,
        od.id AS departmentId,
        od.`name` AS departmentName
        FROM
        ht_r_oa_users ou
        INNER JOIN ht_user hu ON hu.user_id = ou.hyd_id
        INNER JOIN ht_r_oa_department od ON ou.departmentid = od.id
        AND ou.user_status IN ('E', 'Q1', 'Q2', 'Q11', 'Q21');
    </select>

    <select id="selectUserListByMobile" resultType="com.hyjf.am.vo.user.UserVO" parameterType="list" >
        SELECT
        hydu.user_id AS userId,
        hs.spreads_user_id AS referrer,
        hydu.mobile AS mobile
        FROM
        ht_user hydu LEFT JOIN ht_spreads_user hs on hydu.user_id = hs.user_id
        WHERE  hydu.mobile in
        <foreach collection="list" item="item" index="index" open="("  separator="," close=")" >
            #{item}
        </foreach>
    </select>

    <insert id="insertBatchSmsCount" parameterType="java.util.List">
        INSERT INTO ht_sms_count (department_id,department_name,sms_number,posttime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.departmentId},#{item.departmentName},#{item.smsNumber},#{item.posttime})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        update ht_sms_count
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="sms_number =case" suffix="end">
                <foreach collection="list" item="i" index="index">
                    <if test="i.smsNumber!=null">
                        when id=#{i.id,jdbcType=INTEGER} then #{i.smsNumber,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>

    </update>

    <select id="selectRepeatSmsCount" resultType="java.lang.Integer">
        select count(*) from  (
        select count(id) as counts from ht_sms_count GROUP BY posttime,department_id having counts > 1 )as b;
    </select>

    <select id="selectRepeatSmsCountData"
            resultType="com.hyjf.am.user.dao.model.customize.SmsCountCustomize" parameterType="java.util.Map" >
        SELECT
            count(id) AS counts,
            sum(sms_number) AS smsNumber,
            GROUP_CONCAT(id) AS listRepeatId
        FROM
            ht_sms_count
        GROUP BY
            posttime,
            department_id
        HAVING
        counts > 1
        <if test="limitStart >=0 and limitEnd > 0">
            LIMIT #{limitStart} , #{limitEnd}
        </if>

    </select>

    <delete id="deleteBatch" >
        DELETE FROM ht_sms_count
        WHERE id in
            <foreach collection="array"  item="item" open="(" separator="," close=")"  >
                #{item}
            </foreach>
    </delete>

</mapper>