<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.UserPortraitManagerMapper">
	<resultMap id="UsersPortraitMap" type="com.hyjf.am.vo.user.UserPortraitVO">
		<id column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="sex" jdbcType="BIT" property="sex" />
		<result column="education" jdbcType="VARCHAR" property="education" />
		<result column="occupation" jdbcType="VARCHAR" property="occupation" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="interest" jdbcType="VARCHAR" property="interest" />
		<result column="interest_sum" jdbcType="DECIMAL" property="interestSum" />
		<result column="invest_sum" jdbcType="DECIMAL" property="investSum" />
		<result column="recharge_sum" jdbcType="DECIMAL" property="rechargeSum" />
		<result column="withdraw_sum" jdbcType="DECIMAL" property="withdrawSum" />
		<result column="login_active" jdbcType="VARCHAR" property="loginActive" />
		<result column="customer_source" jdbcType="VARCHAR" property="customerSource" />
		<result column="last_login_time" jdbcType="INTEGER" property="lastLoginTime" />
		<result column="last_recharge_time" jdbcType="INTEGER" property="lastRechargeTime" />
		<result column="last_withdraw_time" jdbcType="INTEGER" property="lastWithdrawTime" />
		<result column="invest_platform" jdbcType="INTEGER" property="investPlatform" />
		<result column="invest_age" jdbcType="BIT" property="investAge" />
		<result column="trade_number" jdbcType="INTEGER" property="tradeNumber" />
		<result column="current_owner" jdbcType="VARCHAR" property="currentOwner" />
		<result column="add_wechat" jdbcType="BIT" property="addWechat" />
		<result column="invest_process" jdbcType="VARCHAR" property="investProcess" />
		<result column="customer_complaint" jdbcType="VARCHAR" property="customerComplaint" />
		<result column="invite_customer" jdbcType="INTEGER" property="inviteCustomer" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="mobile" jdbcType="CHAR" property="mobile" />
		<result column="bank_total" jdbcType="DECIMAL" property="bankTotal" />
		<result column="fund_retention" jdbcType="DECIMAL" property="fundRetention" />
		<result column="last_repay_time" jdbcType="INTEGER" property="lastRepayTime" />
		<result column="invite_regist" jdbcType="INTEGER" property="inviteRegist" />
		<result column="invite_recharge" jdbcType="INTEGER" property="inviteRecharge" />
		<result column="invite_tender" jdbcType="INTEGER" property="inviteTender" />
		<result column="yield" jdbcType="DECIMAL" property="yield" />
		<result column="attribute" jdbcType="TINYINT" property="attribute" />
		<result column="bank_balance" jdbcType="DECIMAL" property="bankBalance" />
		<result column="account_await" jdbcType="DECIMAL" property="accountAwait" />
		<result column="bank_frost" jdbcType="DECIMAL" property="bankFrost" />
		<result column="lastRepayTimes" jdbcType="VARCHAR" property="lastRepayTimeS" />
		<result column="regTime" jdbcType="VARCHAR" property="regTime" />
	</resultMap>
	<sql id="Where_Clause_UserPortrait">
		<where>
			<if test="userName != null and userName !='' ">
				AND hup.user_name = #{userName}
			</if>
			<if test="mobile != null and mobile !='' ">
				AND hup.mobile = #{mobile}
			</if>
			<if test="sex != null and sex !=null ">
				AND hup.sex = #{sex}
			</if>

			<if test="ageStart != null  ">
				AND hup.age <![CDATA[>=]]> #{ageStart}
			</if>
			<if test="ageEnd != null  ">
				AND hup.age <![CDATA[<=]]>  #{ageEnd}
			</if>
			<if test="bankTotalStart != null ">
				AND hup.bank_total <![CDATA[>=]]> #{bankTotalStart}
			</if>
			<if test="bankTotalEnd != null  ">
				AND hup.bank_total <![CDATA[<=]]> #{bankTotalEnd}
			</if>
			<if test="interestSumStart != null ">
				AND hup.interest_sum <![CDATA[>=]]> #{interestSumStart}
			</if>
			<if test="interestSumEnd != null  ">
				AND hup.interest_sum <![CDATA[<=]]> #{interestSumEnd}
			</if>
			<if test="tradeNumberStart != null  ">
				AND hup.trade_number <![CDATA[>=]]> #{tradeNumberStart}
			</if>
			<if test="tradeNumberEnd != null  ">
				AND hup.trade_number <![CDATA[<=]]>  #{tradeNumberEnd}
			</if>
			<if test="currentOwner != null and currentOwner !='' ">
				AND hup.current_owner = #{currentOwner}
			</if>
			<if test="attribute != null ">
				AND hup.attribute = #{attribute}
			</if>
			<if test="investProcess != null and investProcess !='' ">
				AND hup.invest_process = #{investProcess}
			</if>
			<if test="regTimeStart != null and regTimeStart !='' ">
				AND hydur.reg_time <![CDATA[>=]]> str_to_date(#{regTimeStart},'%Y-%m-%d %H:%i:%s')
			</if>
			<if test="regTimeEnd != null and regTimeEnd !='' ">
				AND hydur.reg_time <![CDATA[<=]]> str_to_date(#{regTimeEnd},'%Y-%m-%d %H:%i:%s')
			</if>
		</where>
	</sql>
	<!-- 查询用户画像记录数 -->
	<select id="countRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(hup.user_id)
		FROM
		ht_user_portrait hup
		INNER JOIN ht_user hydur ON hydur.user_id = hup.user_id
		<include refid="Where_Clause_UserPortrait"/>
	</select>
	<!--查询用户画像记录 -->
	<select id="selectUserPortraitList" resultMap="UsersPortraitMap" parameterType="Map">
		SELECT
		hup.user_id,
		user_name,
		age,
		sex,
		education,
		occupation,
		city,
		interest,
		interest_sum,
		invest_sum,
		recharge_sum,
		withdraw_sum,
		login_active,
		customer_source,
		ROUND((unix_timestamp(now()) - last_login_time) / (60 * 60 * 24)) AS last_login_time,
		ROUND((	unix_timestamp(now()) - last_recharge_time) / (60 * 60 * 24)) AS last_recharge_time,
		ROUND((unix_timestamp(now()) - last_withdraw_time) / (60 * 60 * 24)) AS last_withdraw_time,
		invest_platform,
		invest_age,
		trade_number,
		current_owner,
		add_wechat,
		invest_process,
		customer_complaint,
		invite_customer,
		remark,
		-- INSERT (hup.mobile, 4, 4, '****') AS mobile,
		hup.mobile,
		bank_total,
		ROUND((hup.fund_retention), 2) AS fund_retention,
		hup.last_repay_time,
		from_unixtime(
		hup.last_repay_time,
		'%Y-%m-%d %H:%i:%s'
		) AS lastRepayTimes,
		date_format(
		hydur.reg_time,
		'%Y-%m-%d %H:%i:%s'
		) AS regTime,
		invite_regist,
		invite_recharge,
		invite_tender,
		hup.yield,
		attribute,
		hup.bank_balance,
		hup.account_await,
		hup.bank_frost
		FROM
		ht_user_portrait hup
		INNER JOIN ht_user hydur ON hydur.user_id = hup.user_id
		<include refid="Where_Clause_UserPortrait"/>
		ORDER BY hydur.reg_time DESC
		<if test="limitStart != null and limitEnd !=null ">
			limit #{limitStart},#{limitEnd}
		</if>
	</select>

	<select id="selectInvest" resultType="java.math.BigDecimal" parameterType="java.util.Map">
		SELECT
		p.invest_sum
		FROM ht_user_portrait p
		WHERE 1 = 1
		<if test="sex != null and sex != ''">
			AND sex = #{sex}
		</if>
		<if test="age != null">
			AND age = #{age}
		</if>
	</select>
</mapper>

