<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.user.dao.mapper.customize.WhereaboutsPageConfigCustomizeMapper">


	<resultMap id="selectMap" type="com.hyjf.am.vo.config.WhereaboutsPageVo">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="source_name" property="sourceName" jdbcType="VARCHAR" />
		<result column="utm_id" property="utmId" jdbcType="VARCHAR" />
		<result column="utm_source" property="utmSource" jdbcType="VARCHAR" />
		<result column="referrer" property="referrer" jdbcType="VARCHAR" />
		<result column="referrer_name" property="referrerName" jdbcType="VARCHAR" />
		<result column="jump_path" property="jumpPath" jdbcType="VARCHAR" />
		<result column="describe" property="describe" jdbcType="VARCHAR" />
		<result column="status_on" property="statusOn" />
	</resultMap>
	<sql id="Where_Clause">
		<where>
			hwpc.del_flag = 0
			<!-- 投资订单号 -->
			<if test="utmName != null and utmName != ''">
				AND utm.utm_source LIKE CONCAT( #{utmName}, '%')
			</if>
			<!-- 用户名 -->
			<if test="referrerName != null and referrerName != ''">
				AND hu.username LIKE CONCAT( #{referrerName}, '%')
			</if>
		</where>
	</sql>

	<select id="selectWhereaboutsPageList" resultMap="selectMap" parameterType="com.hyjf.am.resquest.admin.WhereaboutsPageRequest">
		SELECT
		hwpc.id id,
		hwpc.title title,
		hwpc.style style,
		utm.utm_source utm_source,
		hwpc.utm_id utm_id,
		plat.source_type source_name,
		hu.username referrer_name,
		hwpc.referrer referrer,
		hwpc.jump_path jump_path,
		hwpc.`describe` 'describe',
		hwpc.status_on
		FROM
		hyjf_user.ht_whereabouts_page_config hwpc
		LEFT JOIN hyjf_user.ht_utm utm ON hwpc.utm_id = utm.utm_id
		LEFT JOIN hyjf_user.ht_utm_plat plat ON utm.source_id = plat.source_id
		LEFT JOIN hyjf_user.ht_user hu ON hwpc.referrer = hu.user_id
		<include refid="Where_Clause" />
		<if test="limitStart >= 0" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="countWhereaboutsPage" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.WhereaboutsPageRequest">
		SELECT
		count(1)
		FROM
		hyjf_user.ht_whereabouts_page_config hwpc
		LEFT JOIN hyjf_user.ht_utm utm ON hwpc.utm_id = utm.utm_id
		LEFT JOIN hyjf_user.ht_utm_plat plat ON utm.source_id = plat.source_id
		LEFT JOIN hyjf_user.ht_user hu ON hwpc.referrer = hu.user_id
		<include refid="Where_Clause" />
	</select>
</mapper>

