<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.batch.BorrowUserStatisticsMapper">

    <select id="countBorrowUser" resultType="java.lang.Integer">
        SELECT (
			SELECT
				IFNULL(COUNT(DISTINCT m.card_no), 0)
			FROM
				ht_borrow b
			JOIN ht_borrow_maninfo m ON b.borrow_nid = m.borrow_nid
			WHERE
				b.`status` >= 4
			AND 5 >= b.`status`
		) + (
			SELECT
				IFNULL(
					COUNT(DISTINCT u.username),
					0
				)
			FROM
				ht_borrow b
			JOIN ht_borrow_user u ON b.borrow_nid = u.borrow_nid
			WHERE
				b.`status` >= 4
			AND 5 >= b.`status`
		)
    </select>
    
    <select id="countCurrentBorrowUser" resultType="java.lang.Integer">
        SELECT (
			SELECT
				IFNULL(COUNT(DISTINCT m.card_no), 0)
			FROM
				ht_borrow b
			JOIN ht_borrow_maninfo m ON b.borrow_nid = m.borrow_nid
			WHERE
				b.`status` = 4
		) + (
			SELECT
				IFNULL(
					COUNT(DISTINCT u.username),
					0
				)
			FROM
				ht_borrow b
			JOIN ht_borrow_user u ON b.borrow_nid = u.borrow_nid
			WHERE
				b.`status` = 4
		)
    </select>

    <select id="countCurrentTenderUser" resultType="java.lang.Integer">
        SELECT
			IFNULL(COUNT(a.user_id),0)
		FROM
			ht_account a
		WHERE
			a.bank_await > 0
			OR a.plan_account_wait > 0
    </select>
    
    <select id="sumBorrowUserMoney" resultType="java.math.BigDecimal" parameterType="java.util.Date">
		 select SUM(br.recover_capital_wait)
			FROM  ht_borrow b
		 LEFT JOIN ht_borrow_recover br ON b.borrow_nid = br.borrow_nid
		 WHERE br.recover_time <![CDATA[>=]]> UNIX_TIMESTAMP(#{date})
		 and (br.recover_yestime is null or br.recover_yestime <![CDATA[>]]>UNIX_TIMESTAMP(#{date}) )
    </select>

    <select id="sumBorrowUserMoneyTopOne" resultType="java.math.BigDecimal">
        	select sum(waitsum)
				from (SELECT  SUM(b.repay_account_capital_wait) AS waitsum
							FROM  ht_borrow b
							inner JOIN   (select borrow_nid,u.username from ht_borrow_user u
										union all
										select borrow_nid,card_no from ht_borrow_maninfo m
										) u  ON b.borrow_nid = u.borrow_nid
							WHERE    b.`status` = 4
							GROUP BY  u.username
						ORDER BY  SUM(b.repay_account_capital_wait) DESC
       			 LIMIT 1
		) a
    </select>

    <select id="sumBorrowUserMoneyTopTen" resultType="java.math.BigDecimal">
        select sum(waitsum)
			from (SELECT  SUM(b.repay_account_capital_wait) AS waitsum
						FROM  ht_borrow b
						inner JOIN   (select borrow_nid,u.username from ht_borrow_user u
									union all
									select borrow_nid,card_no from ht_borrow_maninfo m
									) u  ON b.borrow_nid = u.borrow_nid
						WHERE    b.`status` = 4
						GROUP BY  u.username
					ORDER BY  SUM(b.repay_account_capital_wait) DESC
					LIMIT 10
		  ) a
    </select>
</mapper>