<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.batch.TzjCustomizeMapper">

    <resultMap id="BaseResultMap" type="com.hyjf.am.trade.bean.TzjDayReportBean">
        <result column="tenderCount" property="tenderCount" jdbcType="INTEGER"/>
        <result column="tenderFirstCount" property="tenderFirstCount" jdbcType="INTEGER"/>
        <result column="tenderMoney" property="tenderMoney" jdbcType="DECIMAL"/>
        <result column="tenderFirstMoney" property="tenderFirstMoney" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 统计充值人数 -->
    <select id="getRechargeCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        ht_account_recharge r
        WHERE
        r.create_time <![CDATA[>=]]> #{startTime}
        AND r.create_time <![CDATA[<]]> #{endTime}
        AND r.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 投资人数、投资金额 -->
    <select id="getTenderInfo" resultMap="BaseResultMap">
        SELECT
        IFNULL(sum(temp.c),0) tenderCount,
        IFNULL(sum(temp.s),0) tenderMoney
        FROM
        (
        SELECT
        count(1) as c, IFNULL(SUM(t.account),0) as s
        FROM
        ht_borrow_tender t
        WHERE
            t.create_time <![CDATA[>=]]> #{startTime}
        AND t.create_time <![CDATA[<]]> #{endTime}
        AND t.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

        UNION

        SELECT
        count(1) as c, IFNULL(SUM(t.assign_pay),0) as s
        FROM
        ht_credit_tender t
        WHERE
        t.create_time <![CDATA[>=]]> #{startTime}
        AND t.create_time <![CDATA[<]]> #{endTime}
        AND t.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

        UNION
        SELECT
        count(1) as c, IFNULL(SUM(t.accede_account),0) as s
        FROM
        ht_hjh_accede t
        WHERE
        t.create_time <![CDATA[>=]]> #{startTime}
        AND t.create_time <![CDATA[<]]> #{endTime}
        AND t.user_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) temp
    </select>

    <!-- 首次投资人数、首次投资金额 -->
    <select id="getTenderFirstInfo" resultMap="BaseResultMap">
        SELECT
        IFNULL(sum(temp.c),0) tenderFirstCount,
        IFNULL(sum(temp.s),0) tenderFirstMoney
        FROM
        (
            SELECT
              count(1) as c, IFNULL(SUM(t.account),0) as s
            FROM
              ht_borrow_tender t
            WHERE
              t.create_time <![CDATA[>=]]> #{startTime}
                AND t.create_time <![CDATA[<]]> #{endTime}
                AND t.user_id in
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_borrow_tender t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_credit_tender t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_hjh_accede t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )


        UNION

            SELECT
              count(1) as c, IFNULL(SUM(t.assign_pay),0) as s
            FROM
              ht_credit_tender t
            WHERE
                t.create_time <![CDATA[>=]]> #{startTime}
                AND t.create_time <![CDATA[<]]> #{endTime}
                AND t.user_id in
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_borrow_tender t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )
                AND NOT EXISTS (
                SELECT
                    t1.user_id
                    FROM
                    ht_credit_tender t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_hjh_accede t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )

        UNION
            SELECT
              count(1) as c, IFNULL(SUM(t.accede_account),0) as s
            FROM
              ht_hjh_accede t
            WHERE
              t.create_time <![CDATA[>=]]> #{startTime}
                AND t.create_time <![CDATA[<]]> #{endTime}
                AND t.user_id in
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_borrow_tender t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_credit_tender t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )
                AND NOT EXISTS (
                    SELECT
                    t1.user_id
                    FROM
                    ht_hjh_accede t1
                    WHERE
                    t1.user_id = t.user_id
                    AND t1.create_time <![CDATA[<]]> t.create_time
                    )

        ) temp
    </select>

</mapper>