<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.coupon.CouponUserListCustomizeMapper">
	<sql id="Where_Clause">
		<where>
		    cu.del_flag = 0
		    <if test="userId != null and userId != ''">
				AND cu.user_id = #{userId}
			</if>
			<if test="usedFlag != null and usedFlag != ''">
				AND cu.used_flag = #{usedFlag}
			</if>
		</where>
	</sql>
	<resultMap id="selectCouponUserMap" type="com.hyjf.am.trade.dao.model.customize.trade.CouponUserListCustomize">
		<result column="id" property="id" />
		<result column="coupon_user_code" property="couponUserCode" />
	    <result column="coupon_name" property="couponName" />
	    <result column="content" property="content" />
	    <result column="coupon_profit_time" property="couponProfitTime" />
	    <result column="coupon_type" property="couponType" />
	    <result column="coupon_quota" property="couponQuota" />
	    <result column="add_time" property="addTime" />
	    <result column="end_time" property="endTime" />
	    <result column="coupon_system" property="couponSystem" />
	    <result column="project_type" property="projectType" />
	    <result column="coupon_from" property="couponFrom" />
	    <result column="tender_quota" property="tenderQuota" />
	    <result column="project_expiration_type" property="projectExpirationType" />
	    <result column="used_time_day" property="usedTimeDay" />
	    <result column="used_time_hour" property="usedTimeHour" />
	    <result column="project_nid" property="projectNid" />
	    <result column="tender_time_day" property="tenderTimeDay" />
	    <result column="tender_time_hour" property="tenderTimeHour" />
	    <result column="account" property="account" />
	    <result column="borrow_apr" property="borrowApr" />
	    <result column="borrow_period" property="borrowPeriod" />
	    <result column="recover_time" property="recoverTime" />
	    <result column="recover_yestime" property="recoverYesTime" />
	    <result column="recover_account" property="recoverAccount" />
	    <result column="recover_status" property="recoverStatus" />
	    <result column="tender_type" property="tenderType" />
		<result column="debt_plan_nid" property="debtPlanNid" />
		<result column="debt_lock_period" property="debtLockPeriod" />
		<result column="expect_apr" property="expectApr" />
		<result column="debt_plan_status" property="debtPlanStatus" />
		<result column="used_flag" property="usedFlag" />
		<result column="activity_id" property="activityId"/>
	</resultMap>

	<select id="selectCouponUserList" resultMap="selectCouponUserMap" parameterType="java.util.Map">
		SELECT
			cu.id,
			cu.coupon_user_code,
			cc.coupon_name,
			cc.content,
			cc.coupon_profit_time,
			CASE cc.coupon_type
		WHEN 1 THEN
			'体验金'
		WHEN 2 THEN
			'加息券'
		WHEN 3 THEN
			'代金券'
		END AS coupon_type,
		 CASE cc.coupon_type
		WHEN 1 THEN
			FORMAT(cc.coupon_quota, 0)
		WHEN 3 THEN
			FORMAT(cc.coupon_quota, 0)
		ELSE
			cc.coupon_quota
		END AS coupon_quota,
		 FROM_UNIXTIME(cu.add_time, '%Y.%m.%d') AS add_time,
	     FROM_UNIXTIME(cu.end_time, '%Y.%m.%d') AS end_time,
		 cc.coupon_system coupon_system,
		 cc.project_type project_type,
		cu.coupon_source coupon_from,
		CASE
		WHEN cc.tender_quota_type = 0 THEN
			'不限'
		WHEN cc.tender_quota_type = 1 THEN
			CONCAT(
				IF((cc.tender_quota_min>=10000 AND cc.tender_quota_min mod 10000=0),concat(cc.tender_quota_min div 10000,'万'),cc.tender_quota_min),
				'元~',
				IF((cc.tender_quota_max>=10000 AND cc.tender_quota_max mod 10000=0),concat(cc.tender_quota_max div 10000,'万'),cc.tender_quota_max),
				'元可用'
			)
		WHEN cc.tender_quota_type = 2 THEN
			CONCAT(
				'满',
				IF((cc.tender_quota>=10000 AND cc.tender_quota mod 10000=0),concat(cc.tender_quota div 10000,'万'),cc.tender_quota),
				'元可用'
			)
		WHEN cc.tender_quota_type = 3 THEN
			CONCAT(
				IF((cc.tender_quota>=10000 AND cc.tender_quota mod 10000=0),concat(cc.tender_quota div 10000,'万'),cc.tender_quota),
				'元（含）内可用'
			)
		ELSE
			'不限'
		END tender_quota,
		 CASE
		WHEN cc.project_expiration_type = 0 THEN
			'不限'
		WHEN cc.project_expiration_type = 1 THEN
			CONCAT(
				'',
				cc.project_expiration_length,
				'个月的项目'
			)
		WHEN cc.project_expiration_type = 2 THEN
			CONCAT(
				'',
				cc.project_expiration_length_min,
				'个月~',
				cc.project_expiration_length_max,
				'个月的项目'
			)
		WHEN cc.project_expiration_type = 3 THEN
			CONCAT(
				'≥',
				cc.project_expiration_length,
				'个月的项目'
			)
		WHEN cc.project_expiration_type = 4 THEN
			CONCAT(
				'≤',
				cc.project_expiration_length,
				'个月的项目'
			)
		ELSE
			'不限'
		END project_expiration_type,
		FROM_UNIXTIME(ct.add_time, '%Y-%m-%d') used_time_day,
		FROM_UNIXTIME(ct.add_time, '%H:%i') used_time_hour,
		bt.borrow_nid project_nid,
		FROM_UNIXTIME(bt.addtime, '%Y-%m-%d') tender_time_day,
		FROM_UNIXTIME(bt.addtime, '%H:%i:%s') tender_time_hour,
		bt.account,
		CONCAT(hb.borrow_apr, '%') borrow_apr,
		 CASE
		WHEN hb.borrow_style = 'endday' THEN
			CONCAT(hb.borrow_period, '天')
		ELSE
			CONCAT(hb.borrow_period, '个月')
		END borrow_period,
		FROM_UNIXTIME(cr.recover_time, '%Y-%m-%d') recover_time,
		FROM_UNIXTIME(cr.recover_yestime, '%Y-%m-%d') recover_yestime,
		IFNULL(bt.recover_account_wait,0) recover_account,
		CASE 
		WHEN cr.recover_status = 0 THEN '待还款'
		WHEN cr.recover_status = 1 THEN '已还款'
		ELSE ''
		END recover_status,
		bt.tender_type,
		hdp.debt_plan_nid,
		hdp.debt_lock_period,
		CONCAT(hdp.expect_apr, '%') AS expect_apr,
		hdp.debt_plan_status,
		cu.used_flag used_flag,
        cu.activity_id
		FROM
			ht_coupon_user cu
		JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		LEFT JOIN ht_r_user u ON cu.user_id = u.user_id
		LEFT JOIN ht_coupon_tender ct ON ct.coupon_grant_id = cu.id
	    LEFT JOIN ht_borrow_tender_cpn bt ON bt.nid = ct.order_id
	    LEFT JOIN ht_coupon_recover cr ON cr.tender_id = bt.nid AND cr.current_recover_flg = 1
	    LEFT JOIN ht_borrow hb ON hb.borrow_nid = bt.borrow_nid
	    LEFT JOIN ht_debt_plan hdp ON bt.borrow_nid = hdp.debt_plan_nid
		<include refid="Where_Clause" />
		 ORDER BY cu.update_time DESC, cu.coupon_code ASC
		<if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
    <select id="countCouponUserList" resultType="java.lang.Integer" parameterType="java.util.Map">
	    SELECT
			count(1)
		FROM
		    ht_coupon_user cu
		    JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		    LEFT JOIN ht_r_user u ON cu.user_id = u.user_id
		<include refid="Where_Clause" />
	</select>

</mapper>