<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AccountCustomizeMapper">

	
  	<update id="updateAccountAfterRepay" parameterType="com.hyjf.am.trade.dao.model.auto.Account" >
		update ht_account
		set
			bank_balance = IFNULL(bank_balance,0) + #{bankBalance,jdbcType=DECIMAL},
			bank_await = IFNULL(bank_await,0) - #{bankAwait,jdbcType=DECIMAL},
			bank_await_interest = IFNULL(bank_await_interest,0) - #{bankAwaitInterest,jdbcType=DECIMAL},
			bank_balance_cash = IFNULL(bank_balance_cash,0) + #{bankBalanceCash,jdbcType=DECIMAL},
			bank_interest_sum = IFNULL(bank_interest_sum,0) + #{bankInterestSum,jdbcType=DECIMAL}
		where
			user_id = #{userId,jdbcType=INTEGER}
	</update>

	<update id="updateOfTender" parameterType="com.hyjf.am.trade.dao.model.auto.Account">
		update ht_account
		set
		bank_balance = IFNULL(bank_balance,0) - #{bankBalance,jdbcType=DECIMAL},
		bank_frost = IFNULL(bank_frost,0) + #{bankFrost,jdbcType=DECIMAL},
		bank_balance_cash = IFNULL(bank_balance_cash,0) - #{bankBalanceCash,jdbcType=DECIMAL},
		bank_frost_cash = IFNULL(bank_frost_cash,0) + #{bankFrostCash,jdbcType=DECIMAL}
		where
		user_id = #{userId,jdbcType=INTEGER}
		AND bank_balance - #{bankBalance,jdbcType=DECIMAL} >= 0
	</update>

</mapper>