<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AccountRechargeCustomizeMapper">

	<resultMap id="RechargeMapResult" type="com.hyjf.am.vo.trade.account.AccountRechargeVO">
		<result column="id" property="id" />
		<result column="nid" property="nid" /> <!-- 订单id -->
		<result column="user_id" property="userId" /> <!-- 用户名 -->
		<result column="username" property="username" /> <!-- 用户名 -->
		<result column="bank_name" property="bankName" /> <!-- 充值银行 -->
		<result column="type" property="type" /> <!-- 充值方式 -->
		<result column="gate_type" property="gateType" /> <!-- 充值类型 -->
		<result column="status" property="status" /> <!-- z状态 -->
		<result column="statusName" property="statusName" /> <!-- 转账状态 -->
		<result column="money" property="money" /> <!-- 充值金额 -->
		<result column="balance" property="balance" /> <!-- 可用金额 -->
		<result column="fee" property="fee" /> <!-- 手续费 -->
		<result column="dianfuFee" property="dianfuFee" /> <!-- 垫付手续费 -->
		<result column="fee_from" property="feeFrom" /> <!-- 充值手续费收取方式 -->
		<result column="client" property="client" /> <!-- 客户端 -->
		<result column="create_time" property="createTime" /> <!-- 交易时间 -->
		<result column="cardid" property="cardid" /> <!-- 银行卡号 -->
		<result column="message" property="message" /> <!-- 失败原因 -->
		<result column="remark" property="remark" /> <!-- 备注-->
		<result column="bank_seq_no" property="seqNo" jdbcType="VARCHAR" /><!-- 交易流水号 -->
		<result column="tx_date" property="txDate" /><!-- 发送日期 -->
		<result column="tx_time" property="txTime" /><!-- 发送时间 -->
		<result column="seq_no" property="bankSeqNo" /><!-- 系统跟踪号 -->
		<result column="account_id" property="accountId" /><!-- 电子账户 -->
	</resultMap>

	<select id="getRechargePrice" resultType="DECIMAL" parameterType="list">
		select sum(money) from ht_account_recharge a
		left join ht_user_info b on a.user_id = b.user_id
		<where>
			<if test="type != null">
				b.attribute=0
			</if>
			<if test="list != null">
				and a.user_id in
					<foreach collection="list" item="item" index="index" open="("  separator="," close=")" >
						#{item}
					</foreach>
			</if>
		</where>
	</select>

</mapper>