<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminBankAccountCheckCustomizeMapper">
    <resultMap id="AccountCheckMapResult"
               type="com.hyjf.am.vo.admin.AdminBankAccountCheckCustomizeVO">
        <result column="id" property="id" />
        <result column="user_id" property="userId" /> <!-- 用户id -->
        <result column="username" property="userName" /> <!-- 用户名 -->
        <result column="create_date" property="createDate" /> <!-- 日期 -->
        <result column="nid" property="nId" /> <!-- 订单号 -->
        <result column="trade_type" property="tradeType" /> <!-- 交易类型  -->
        <result column="amount" property="amount" /> <!-- 交易金额  -->
        <result column="check_balance" property="accountBalance" /> <!-- 到帐金额  -->
        <result column="account_date" property="acountTime" /> <!-- 到账时间  -->
        <result column="check_date" property="checkDate" /> <!-- 对账时间  -->
        <result column="account_id" property="accountId" /> <!-- 电子账号 -->
        <result column="bank_seq_no" property="bankSeqNo" /> <!-- 交易流水号  -->
        <result column="check_status" property="checkStatus" /> <!-- 对账状态 -->
        <result column="trade_status" property="tradeStatus" /> <!-- 交易状态  -->
        <result column="type_id" property="typeId" /> <!-- 交易状态  -->
    </resultMap>

    <select id="queryAllBankOpenAccount" resultMap="AccountCheckMapResult"
            parameterType="com.hyjf.am.vo.admin.AdminBankAccountCheckCustomizeVO">
        SELECT
        a.account AS 'account_id',
        u.user_id,
        u.username
        FROM
        ht_bank_open_account a
        LEFT JOIN ht_users u ON u.user_id = a.user_id
        WHERE u.bank_open_account = 1
        <if test="userId != null and userId != 0">
            AND u.user_id = #{userId}
        </if>
    </select>

    <select id="queryAccountDeatilByBankSeqNo" resultMap="AccountCheckMapResult"
            parameterType="java.lang.String">
		SELECT
			a.id,
			a.bank_seq_no,
			a.amount,
			t.type_id,
			a.user_id
		FROM
			ht_account_list a
		LEFT JOIN ht_account_trade t
		ON t.`value` = a.trade
		WHERE
			1=1
		AND a.bank_seq_no = #{value}
	</select>

</mapper>

