<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AdminCouponRepayMonitorCustomizeMapper">

	<resultMap id="monitorMap" type="com.hyjf.am.trade.dao.model.customize.AdminCouponRepayMonitorCustomize">
		<id column="id" property="id" />
		<result column="day" property="day" />
		<result column="week" property="week" />
		<result column="interest_wait_total" property="interestWaitTotal" />
		<result column="interest_yes_total" property="interestYesTotal"/>
		<result column="interest_wait_total_all" property="interestWaitTotalAll"/>
		<result column="interest_yes_total_all" property="interestYesTotalAll"/>
		<result column="repay_gap" property="repayGap"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<select id="selectRecordList" resultMap="monitorMap" parameterType="Map">
		SELECT
			crm.id,
			crm.`day`,
			crm.`week`,
			crm.interest_wait_total,
			crm.interest_yes_total,
			IFNULL(crm.interest_yes_total, 0) - IFNULL(crm.interest_wait_total, 0) AS repay_gap,
		  crm.update_time
		FROM
			ht_coupon_repay_monitor crm
		WHERE crm.del_flag = 0
		<if test="timeStartSrch != null and timeStartSrch != ''">
		AND crm.`day` <![CDATA[>=]]> #{timeStartSrch}
		</if>
		<if test="timeEndSrch != null and timeEndSrch != ''">
		AND crm.`day` <![CDATA[<=]]> #{timeEndSrch}
		</if>
		ORDER BY
			UNIX_TIMESTAMP(crm.day) DESC
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	<select id="countRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
			count(crm.id)
		FROM
			ht_coupon_repay_monitor crm
		WHERE crm.del_flg = 0
		<if test="timeStartSrch != null and timeStartSrch != ''">
		AND crm.`day` <![CDATA[>=]]> #{timeStartSrch}
		</if>
		<if test="timeEndSrch != null and timeEndSrch != ''">
		AND crm.`day` <![CDATA[<=]]> #{timeEndSrch}
		</if>
		ORDER BY
			crm.`day` DESC
	</select>
	<select id="selectInterestSum" resultMap="monitorMap" parameterType="Map">
		SELECT
			SUM(IFNULL(crm.interest_wait_total, 0)) AS interest_wait_total_all,
			SUM(IFNULL(crm.interest_yes_total, 0)) AS interest_yes_total_all
		FROM
			ht_coupon_repay_monitor crm
		WHERE crm.del_flag = 0
		<if test="timeStartSrch != null and timeStartSrch != ''">
		AND crm.`day` <![CDATA[>=]]> #{timeStartSrch}
		</if>
		<if test="timeEndSrch != null and timeEndSrch != ''">
		AND crm.`day` <![CDATA[<=]]> #{timeEndSrch}
		</if>
	</select>
</mapper>