<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AppProjectListCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<if test="projectType == null or projectType == ''">
				(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
			</if>
			<if test="projectType != null and projectType != ''">
				hydbpt.borrow_project_type = 'HZT'
			</if>
			<if test="type != null and type != ''">
			 AND hydb.project_type = #{type,jdbcType=VARCHAR}
			</if>
			<if test="(type == null or type == '') and projectType!='CFH' and projectType!='ZQ'">
				AND hydb.project_type <![CDATA[<>]]> '4'
				<if test="projectType == 'HZT'">
					AND CASE
					WHEN  ( hb.status = 1 AND hb.verify_status = 3)
						THEN
							hb.ontime + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
						ELSE
							hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
					END
				</if>
			  AND hydb.project_type <![CDATA[<>]]> '11'
			  <!-- 融通宝过滤 -->
			  <if test="version != null and version != '' and '1.4.2' > version ">
			  AND hydb.project_type <![CDATA[<>]]> '13'
			  </if>
			</if> 
			<!-- 包含汇直投、尊享汇、新手汇  modify by cwyang 改版要求债权页面除新手汇项目其他出借项目 -->
			<if test="(type == null or type == '') and projectType=='CFH' ">
				AND hydb.project_type NOT IN (4,8)
				AND CASE
				WHEN ( hb.status = 1 AND ( hb.verify_status = 3 ))
					THEN
						hb.ontime + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
					ELSE
						hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
				END 
			</if>
			<!-- 包含汇直投、尊享汇、融通宝 -->
			<if test="(type == null or type == '') and projectType=='ZQ' ">
				AND hydb.project_type NOT IN (4,8)
				AND CASE
				WHEN ( hb.status = 1 AND ( hb.verify_status = 3 ))
					THEN
						hb.ontime + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
					ELSE
						hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) 
				END 
			</if>
			<if test="status == null or status == ''">
				AND 
		        ( 
		           ( hb.status = 1 AND hb.verify_status = 3 )
					OR ( hb.status = 2 AND hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
					OR ( hb.status = 3 )
					OR ( hb.status = 4 )
		        )
			</if>
			<choose>
				<!-- 获取待发布 -->
				<when test="status == '10'">
					AND ( hb.status = 1 AND hb.verify_status = 3 )
				</when>
				<!-- 获取 出借中 -->
				<when test="status == '11'">
					AND ( hb.status = 2 AND hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
				</when>
				<!-- 获取 投标结束 -->
				<when test="status == '12'">
					AND (hb.status = 3)
				</when>
				<!-- 获取 还款中 3天内-->
				<when test="status == '13'">
					AND (hb.status = 4 AND borrow_success_time <![CDATA[>=]]> UNIX_TIMESTAMP( NOW() )-(60*60*24*3))
				</when>
				<!-- 新手汇 定时发标 -->
				<when test="status == '14'">
				AND ( hb.status = 1 AND hydb.project_type = 4 AND hb.verify_status = 3 )
				</when>
				<!-- 新手汇 出借中 -->
				<when test="status == '15'">
				AND ( hb.status = 2 AND hydb.project_type = 4 AND hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
				</when>
				<!-- 新手汇 复审 -->
				<when test="status == '16'">
					AND ( hb.status = 3 AND hydb.project_type = 4  )
				</when>
				<!-- 新手汇 还款 -->
				<when test="status == '17'">
					AND ( hb.status = 4 AND hydb.project_type = 4  )
				</when>
			</choose>
			<if test="termStart != null and termStart != ''">
				AND CASE
				WHEN hb.borrow_style = 'endday' THEN
				hb.borrow_period/30 <![CDATA[>=]]>#{termStart,jdbcType=INTEGER}
				ELSE hb.borrow_period <![CDATA[>=]]>#{termStart,jdbcType=INTEGER}
				END
			</if>
			<if test="termEnd != null and termEnd != ''">
				AND
				CASE
				  WHEN hb.borrow_style = 'endday' THEN hb.borrow_period / 30 <![CDATA[<=]]> #{termEnd,jdbcType=INTEGER}
				  ELSE hb.borrow_period <![CDATA[<=]]> #{termEnd,jdbcType=INTEGER}
				END
			</if>
			<if test="interestStart != null and interestStart != ''">
				AND hb.borrow_apr <![CDATA[>=]]>#{interestStart,jdbcType=INTEGER}
			</if>
			<if test="interestEnd != null and interestEnd != ''">
				AND hb.borrow_apr <![CDATA[<=]]>#{interestEnd,jdbcType=INTEGER}
			</if>
			<if test="projectCd != null and projectCd != ''">
				AND hydbpt.borrow_cd = #{projectCd,jdbcType=INTEGER}
			</if>
			AND hb.is_show <![CDATA[<>]]> 1

			<if test="publishInstCode != null and publishInstCode != ''">
				AND (hydb.publish_inst_code = #{publishInstCode,jdbcType=VARCHAR} OR hydb.publish_inst_code ='0')
			</if>

		</where>
	</sql>

	<resultMap id="AppProjectListMap" type="com.hyjf.am.trade.dao.model.customize.AppProjectListCustomize">
		<!-- 项目id-->
		<id column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 项目标题 -->
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 子项目类型 -->
		<result column="borrow_desc" property="borrowDesc" jdbcType="VARCHAR" />
		<!-- 项目类型 (HZT,HXF)-->
		<result column="borrow_type" property="borrowType" jdbcType="VARCHAR" />
		<!-- 项目年华收益率-->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 项目总金额-->
		<result column="borrow_total" property="borrowTotalMoney" jdbcType="VARCHAR" />
		<!-- 项目期限-->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 项目期限int类型 -->
		<result column="borrow_period_int" property="borrowPeriodInt" jdbcType="INTEGER"/>
		<!-- 项目期限计量单位 -->
		<result column="borrow_period_type" property="borrowPeriodType" jdbcType="VARCHAR"/>
		<!-- 项目状态-->
		<result column="tstatus" property="status" jdbcType="VARCHAR" />
		<!-- 定时发标时间-->
		<result column="on_time" property="onTime" jdbcType="VARCHAR" />
		<!-- 项目进度-->
		<result column="borrow_schedule" property="borrowSchedule" jdbcType="VARCHAR" />
		<!-- 项目详情H5url-->
		<result column="borrow_url" property="borrowUrl" jdbcType="VARCHAR" />
			<!-- 是否用优惠券-->
		<result column="couponEnable" property="couponEnable" jdbcType="VARCHAR" />
			<!-- 加息率-->
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
		<result column="project_type_code" property="projectType" jdbcType="VARCHAR" />
		<result column="borrow_account_wait" property="borrowAccountWait" jdbcType="VARCHAR" />
		<!-- 是否产品加息-->
		<result column="increase_interest_flag" property="increaseInterestFlag" jdbcType="INTEGER" />
		<!-- 数据库的产品加息字段-->
		<result column="borrow_extra_yield_old" property="borrowExtraYieldOld" jdbcType="DECIMAL" />
	</resultMap>
	<select id="selectProjectList" resultMap="AppProjectListMap" parameterType="Map">
		SELECT
			hydbpt.borrow_class AS borrow_type,
			hydbpt.borrow_name AS borrow_desc,
			hydb.borrow_nid,
		
			hydb.borrow_nid AS borrow_name,
			
			hb.borrow_apr,
			CASE WHEN hb.borrow_style = 'endday' 
				THEN CONCAT(hb.borrow_period, '天') 
				ELSE CONCAT(hb.borrow_period, '个月') 
				END borrow_period,
			hb.borrow_period borrow_period_int,
			CASE WHEN hb.borrow_style = 'endday' THEN '天' ELSE '个月' END borrow_period_type,
			CASE
			WHEN hb.account >= 10000 THEN
					CASE
			WHEN hb.account % 10000 = 0 THEN
				CONCAT(
					FORMAT((hb.account / 10000), 0),
					'万'
				)
			WHEN hb.account % 10000 <![CDATA[<>]]> 0
			AND hb.account % 1000 = 0 THEN
				CONCAT(
					FORMAT(hb.account / 10000, 1),
					'万'
				)
			WHEN hb.account % 10000 <![CDATA[<>]]> 0
			AND hb.account % 1000 <![CDATA[<>]]> 0
			AND hb.account % 100 = 0 THEN
				CONCAT(
					FORMAT(hb.account / 10000, 2),
					'万'
				)
			WHEN hb.account % 10000 <![CDATA[<>]]> 0
			AND hb.account % 1000 <![CDATA[<>]]> 0
			AND hb.account % 100 <![CDATA[<>]]> 0
			AND hb.account % 10 = 0 THEN
				CONCAT(
					FORMAT(hb.account / 10000, 3),
					'万'
				)
			ELSE
				CONCAT(
					FORMAT(hb.account/ 10000, 4),
					'万'
				)
			END
			ELSE
				CONCAT(
					FORMAT(hb.account, 0),
					'元'
				)
			END AS borrow_total,
			hb.borrow_account_scale AS borrow_schedule,
			CASE
				WHEN hb.status = 1 AND hb.verify_status = 3 THEN '10'
				WHEN hb.status = 2 AND ( hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '11'
				WHEN hb.status = 3 THEN '12'
        		WHEN hb.status = 4 THEN '13'
        		<!-- WHEN hb.status = 3 AND hydb.repay_full_status = 1 THEN '14'
				WHEN hb.status = 2 THEN '15' -->
			ELSE
			  ''
			END AS tstatus,
			CONCAT(#{host},'?borrowNid=',hydb.borrow_nid) AS borrow_url,		
			CASE
				WHEN hb.status = 1 AND hb.verify_status =3
					THEN FROM_UNIXTIME( hb.ontime, '%m-%d %H:%i' )
			ELSE ''
			END AS on_time,
			(hydb.borrow_interest_coupon or hydb.borrow_taste_money) as couponEnable,
			case when hydb.borrow_extra_yield=0 then
			''
			else
			 	CONCAT('',hydb.borrow_extra_yield, '%')
			 end
			borrow_extra_yield,
			case 
			when hydb.project_type = 4 then 'XSH'
			when hydb.project_type = 11 then 'ZXH'
			when hydb.project_type = 13 then 'HJLC'
			else 'HZT'
			end project_type_code,
			IFNULL(hb.borrow_account_wait,0) borrow_account_wait,
			hydb.increase_interest_flag increase_interest_flag,
			hydb.borrow_extra_yield borrow_extra_yield_old
		FROM
			ht_borrow hydb
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		<include refid="Where_Clause" />
		ORDER BY
			hb.status ASC,
			<if test="planform != null and planform =='wx'" >
			hb.borrow_account_scale DESC,
			</if>
			CASE
				WHEN hb.status = '1' AND hb.verify_status = 3 AND hb.ontime IS NOT NULL AND LENGTH(trim(hb.ontime)) <![CDATA[>]]> 1
				THEN
					hb.ontime
			END ASC,
			CASE
				WHEN hb.status = '2'
				THEN hb.borrow_account_scale 
			END DESC,
			CASE
			WHEN hb.status = '2' and hb.borrow_account_scale=0
			THEN hydb.addtime
			END DESC,
			CASE
				WHEN hb.status = '3'
                THEN hydb.addtime
			END DESC,
			CASE
				WHEN hb.status = '4'
                THEN hydb.addtime
			END DESC
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	<select id="countProjectListRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
			 COUNT(hydb.borrow_nid) AS total
		FROM
			ht_borrow hydb
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		<include refid="Where_Clause" />
	</select>
	<resultMap id="AppProjectDetailMap" type="com.hyjf.am.trade.dao.model.customize.AppProjectDetailCustomize">
		<!-- 项目编号-->
		<id column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 项目大分类 projectType HZT 汇直投 HXF 汇消费  -->
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<!-- 项目大分类 projectType HZT 汇直投 HXF 汇消费  -->
		<result column="type" property="type" jdbcType="VARCHAR" />
		<!-- 项目大分类 projectType HZT 汇直投 HXF 汇消费  -->
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<!-- 还款方式 -->
		<result column="repay_style" property="repayStyle" jdbcType="VARCHAR" />
		<!-- 项目名称 -->
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 项目标题 -->
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<!-- 项目信息-->
		<result column="borrow_contents" property="borrowContents" jdbcType="VARCHAR" />
		<!-- 风控措施字段 -->
		<result column="borrow_measures_mea" property="borrowMeasuresMea" jdbcType="VARCHAR" />
		<!-- 融资用途 -->
		<result column="finance_purpose" property="financePurpose" jdbcType="VARCHAR" />
		<!-- 月薪收入 -->
		<result column="monthly_income" property="monthlyIncome" jdbcType="VARCHAR" />
		<!-- 还款来源 -->
		<result column="payment" property="payment" jdbcType="VARCHAR" />
		<!-- 第一还款来源 -->
		<result column="first_payment" property="firstPayment" jdbcType="VARCHAR" />
		<!-- 第二还款来源 -->
		<result column="second_payment" property="secondPayment" jdbcType="VARCHAR" />
		<!--  费用说明 -->
		<result column="cost_introdution" property="costIntrodution" jdbcType="VARCHAR" />
		<!-- 财务状况 -->
		<result column="fiance_condition" property="fianceCondition" jdbcType="VARCHAR" />
		<!-- 项目还款方式 -->
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<!-- 新老标的区分 0为老标 1位新标 网站改版添加 -->
		<result column="is_new" property="isNew" jdbcType="INTEGER" />
		<!-- 项目总额 account -->
		<result column="account" property="account" jdbcType="VARCHAR" />
		<!-- 项目总额 account -->
		<result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
		<!-- 授信额度 userCredit -->
		<result column="user_credit" property="userCredit" jdbcType="VARCHAR" />
		<!--  项目区分 comOrPer 项目是个人项目还是企业项目 1企业 2个人  -->
		<result column="com_or_per" property="comOrPer" jdbcType="VARCHAR" />
		<!-- 项目年化收益 -->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 项目期限 borrowPeriod -->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 可投金额 investAccount -->
		<result column="invest_account" property="investAccount" jdbcType="VARCHAR" />
		<!-- 项目进度 borrowSchedule -->
		<result column="borrow_schedule" property="borrowSchedule" jdbcType="VARCHAR" />
		<!-- 开标时间 onTime -->
		<result column="on_time" property="onTime" jdbcType="VARCHAR" />
		<!-- 发标时间 sendTime -->
		<result column="send_time" property="sendTime" jdbcType="VARCHAR" />
		<!-- 满标时间 fullTime -->
		<result column="full_time" property="fullTime" jdbcType="VARCHAR" />
		<!-- 项目状态 status 10 定时发标 11出借中 12复审中 13 还款中 14 已还款 15 已流标 -->
		<result column="status" property="status" jdbcType="VARCHAR" />
		<!-- 倍增金额  increaseMoney-->	
		<result column="increase_money" property="increaseMoney" jdbcType="VARCHAR" />
		<!-- 加息券 interestCoupon -->
		<result column="interest_coupon" property="interestCoupon" jdbcType="VARCHAR" />
		<!-- 体验金 tasteMoney -->
		<result column="taste_money" property="tasteMoney" jdbcType="VARCHAR" />
		<!-- 项目最小出借金额 -->
		<result column="tender_account_min" property="tenderAccountMin" jdbcType="VARCHAR" />
		<!-- 最大出借金额 tenderAccountMax -->
		<result column="tender_account_max" property="tenderAccountMax" jdbcType="VARCHAR" />
		<!-- 融通宝项目编号 borrowAssetNumber -->
		<result column="borrow_asset_number" property="borrowAssetNumber" jdbcType="VARCHAR" />
		<!-- 项目来源（风险缓释金） borrowProjectSource -->
		<result column="borrow_project_source" property="borrowProjectSource" jdbcType="VARCHAR" />
		<!-- 起息时间（风险缓释金） borrowInterestTime -->
		<result column="borrow_interest_time" property="borrowInterestTime" jdbcType="VARCHAR" />
		<!-- 到期时间（风险缓释金） borrowDueTime -->
		<result column="borrow_due_time" property="borrowDueTime" jdbcType="VARCHAR" />
		<!-- 保障方式（风险缓释金） borrowSafeguardWay -->
		<result column="borrow_safeguard_way" property="borrowSafeguardWay" jdbcType="VARCHAR" />
		<!-- 收益说明（风险缓释金） borrowIncomeDescription -->
		<result column="borrow_income_description" property="borrowIncomeDescription" jdbcType="VARCHAR" />
		<!-- 发行人（风险缓释金） borrowPublisher -->
		<result column="borrow_publisher" property="borrowPublisher" jdbcType="VARCHAR" />
		<!-- 产品加息收益率（风险缓释金） borrowExtraYield -->
		<result column="borrow_extra_yield" property="borrowExtraYield" jdbcType="VARCHAR" />
		<!-- 协议期限-->
		<result column="contract_period" property="contractPeriod" jdbcType="VARCHAR" />
		 <!-- 项目总额 account 万元-->
		<result column="borrow_account_wan" property="borrowAccountWan" jdbcType="VARCHAR" />
			<!-- 项目最小出借金额 万-->
		<result column="tender_account_min_wan" property="tenderAccountMinWan" jdbcType="VARCHAR" />
			<!-- 项目期限 borrowPeriod -->
		<result column="borrow_period_type" property="borrowPeriodType" jdbcType="VARCHAR" />
		<!-- 协议期数  -->
		<result column="recover_last_time" property="recoverLastTime" jdbcType="VARCHAR" />	
		<!-- 放款时间  -->
		<result column="verify_over_time" property="reverifyTime" jdbcType="VARCHAR" />
		<!-- 借款状态  -->
		<result column="borrow_status" property="borrowStatus" jdbcType="VARCHAR" />
		<!-- 项目进行状态  -->
		<result column="project_status" property="projectStatus" jdbcType="VARCHAR" />
		<!-- 项目ID  -->
		<result column="id" property="id" jdbcType="VARCHAR" />
		<!-- 申请人账号  -->
		<result column="borrow_user_name" property="borrowUserName" jdbcType="VARCHAR" />
		<!-- 项目申请人 -->
		<result column="applicant" property="applicant" jdbcType="VARCHAR" />
		<!-- 信用评级  -->
		<result column="borrow_level" property="borrowLevel" jdbcType="VARCHAR" />
		<!-- 是否产品加息-->
		<result column="increase_interest_flag" property="increaseInterestFlag" jdbcType="INTEGER" />
	</resultMap>
	<!-- 查询相应的项目的公共部分 -->
	<select id="selectProjectDetail" resultMap="AppProjectDetailMap" parameterType="Map">
		SELECT
			hydb.id as id,
			hydb.borrow_nid,
			hydb.tender_account_min,
			hydb.status AS borrow_status,
			hydb.reverify_status AS project_status,
			hydb.borrow_user_name borrow_user_name,
			hydb.applicant applicant,
			hydb.tender_account_max,
			hydbpt.borrow_class AS project_type,
			hydbpt.borrow_cd AS type,
			hydbpt.borrow_name AS type_name,
			hydb.name AS borrow_name,
			hydbs.name AS repay_style,
			hydb.project_name as project_name,
			hydb.borrow_contents,
			hydb.borrow_measures_mea,
			hydb.is_new,
			hydb.finance_purpose,
			hydb.monthly_income,
			hydb.payment,
			hydb.first_payment,
			hydb.second_payment,
			hydb.cost_introdution,
			hydb.fiance_condition,
			hb.borrow_style,
			SUBSTRING(FORMAT(hb.account,4),1,LENGTH(FORMAT(hb.account,4))-2) AS account,
			hydb.company_or_personal AS com_or_per,
			CASE
		WHEN hydb.company_or_personal = 2 THEN
			(
				SELECT
					SUBSTRING(FORMAT(m.credit,4),1,LENGTH(FORMAT(m.credit,4))-2)
				FROM
					ht_borrow_maninfo m
				WHERE
					m.borrow_nid = hydb.borrow_nid
			)
		ELSE
			(
				SELECT
					SUBSTRING(FORMAT(u.credit,4),1,LENGTH(FORMAT(u.credit,4))-2)
				FROM
					ht_borrow_users u
				WHERE
					u.borrow_nid = hydb.borrow_nid
			)
		END AS user_credit,
		hb.account AS borrow_account,
		 hb.borrow_apr,
		 CASE
		WHEN hb.borrow_style = 'endday' THEN
			CONCAT(hb.borrow_period, '')
		ELSE
			CONCAT(
				hb.borrow_period,
				''
			)
		END AS borrow_period,
		CASE WHEN hb.borrow_style = 'endday' THEN '天' ELSE '个月' END AS borrow_period_type,
		SUBSTRING(FORMAT(hb.borrow_account_wait,4),1,LENGTH(FORMAT(hb.borrow_account_wait,4))-2) AS invest_account,
		hb.borrow_account_scale AS borrow_schedule,
		 FROM_UNIXTIME(hb.verify_time,'%Y-%m-%d %H:%i' ) AS send_time,
		 FROM_UNIXTIME(hb.borrow_full_time,'%Y-%m-%d %H:%i' ) AS full_time,
		CASE 
			WHEN hb.status = 1 AND hb.verify_status = 3
				THEN FROM_UNIXTIME( hb.ontime, '%Y-%m-%d %H:%i:%s' )
		ELSE FROM_UNIXTIME(
					hb.verify_time,
					'%Y-%m-%d %H:%i'
					)
		END AS on_time,
		CASE
				WHEN hb.status = 1 AND hb.verify_status = 3 THEN '10'
				WHEN hb.status = 2 AND hydb.borrow_full_status = 0
				AND (
					hb.verify_time + (
						hb.borrow_valid_time * 24 * 60 * 60
					) > UNIX_TIMESTAMP(NOW())
				) THEN
					'11'
				WHEN hb.status = 3
				 THEN
					'12'
				WHEN hb.status = 4 THEN
					'13'
				WHEN hb.status = 5 THEN
					'14'
				<!-- WHEN hb.status = 2 THEN
					'15' -->
				ELSE
					''
				END AS status,
		hydb.borrow_increase_money increase_money,
		hydb.borrow_interest_coupon interest_coupon,
		hydb.borrow_taste_money taste_money,
		hydb.borrow_asset_number,
		hydb.borrow_project_source,
		hydb.borrow_interest_time,
		hydb.borrow_due_time,
		hydb.borrow_safeguard_way,
		hydb.borrow_income_description,
		hydb.borrow_publisher,
		case when borrowInfo.borrow_extra_yield=0 then
		''
		else
		CONCAT('',borrowInfo.borrow_extra_yield, '%')
		end
		borrow_extra_yield,
		hydb.contract_period,
		truncate(hb.account/10000,2) AS borrow_account_wan,
 		truncate(hydb.tender_account_min/10000,2) tender_account_min_wan,
		FROM_UNIXTIME(
		hydb.recover_last_time,
		'%Y年%m月%d日'
		) recover_last_time,
		FROM_UNIXTIME(
		re.create_time,
		'%Y-%m-%d %H:%i'
		) verify_over_time,
		hydb.borrow_level,
		hydb.increase_interest_flag increase_interest_flag,
		hydb.borrow_extra_yield borrow_extra_yield_old
		FROM
			ht_borrow hydb
		INNER JOIN ht_borrow_info borrowInfo ON borrowInfo.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_style hydbs ON hydbs.nid = hb.borrow_style
		LEFT JOIN ht_borrow_repay re ON re.borrow_nid = hydb.borrow_nid
		WHERE
			(
				hydbpt.borrow_project_type = 'HZT'
				OR hydbpt.borrow_project_type = 'HXF'
			)
		AND  (
			(
				(
					hb.status = 1
					AND hb.verify_status = 3
				)
			)
			OR (
				hb.status = 2
				AND hydb.borrow_full_status = 0
				AND (
					hb.verify_time + (
						hb.borrow_valid_time * 24 * 60 * 60
					) > UNIX_TIMESTAMP(NOW())
				)
			)
			OR (
				hb.status = 3
			)
			OR (
				hb.status = 4
			)
			OR (
				hb.status = 5
			)
			<!-- OR (hb.status = 2) -->
		)
		AND hydb.borrow_nid =#{borrowNid,jdbcType=VARCHAR}
	</select>
	<resultMap id="AppHzcProjectDetailMap" type="com.hyjf.am.trade.dao.model.customize.AppHzcProjectDetailCustomize">
		<!-- 项目名称 borrowName-->
		<id column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 所在地区 borrowAddress  -->
		<result column="borrow_address" property="borrowAddress" jdbcType="VARCHAR" />
		<!-- 项目类型 borrowType -->
		<result column="borrow_type" property="borrowType" jdbcType="VARCHAR" />
		<!-- 预估价值 guarantyValue -->
		<result column="guaranty_value" property="guarantyValue" jdbcType="VARCHAR" />
		<!-- 权属类别 ownershipCategory -->
		<result column="ownership_category" property="ownershipCategory" jdbcType="VARCHAR" />
		<!-- 资产成因 assetOrigin -->
		<result column="asset_origin" property="assetOrigin" jdbcType="VARCHAR" />
		<!-- 附件信息 attachmentInfo -->
		<result column="attachment_info" property="attachmentInfo" jdbcType="VARCHAR" />
	</resultMap>
	<select id="searchHzcProjectDetail" resultMap="AppHzcProjectDetailMap" parameterType="String">
		SELECT
			hydb.disposal_project_name AS borrow_name,
			hydb.disposal_area AS borrow_address,
			hydb.disposal_project_type AS borrow_type,
			hydb.disposal_predictive_value AS guaranty_value,
			hydb.disposal_ownership_category AS ownership_category,
			hydb.disposal_asset_origin AS asset_origin,
			hydb.disposal_attachment_info AS attachment_info
		FROM
			ht_borrow hydb
		WHERE
			hydb.borrow_nid =#{borrowNid,jdbcType=VARCHAR}
	</select>
	<resultMap id="AppHzcDisposalPlanMap" type="com.hyjf.am.trade.dao.model.customize.AppHzcDisposalPlanCustomize">
		<!-- 售价预估 priceEstimate-->
		<id column="price_estimate" property="priceEstimate" jdbcType="VARCHAR" />
		<!-- 处置周期 disposalPeriod  -->
		<result column="disposal_period" property="disposalPeriod" jdbcType="VARCHAR" />
		<!-- 处置渠道 disposalChannel -->
		<result column="disposal_channel" property="disposalChannel" jdbcType="VARCHAR" />
		<!-- 处置预案 disposalPlan -->
		<result column="disposal_plan" property="disposalPlan" jdbcType="VARCHAR" />
		<!-- 备注说明 remark -->
		<!-- <result column="remark" property="remark" jdbcType="VARCHAR" /> -->
	</resultMap>
	<select id="searchDisposalPlan" resultMap="AppHzcDisposalPlanMap" parameterType="String">
		SELECT
			hydb.disposal_price_estimate AS price_estimate,
			hydb.disposal_period,
			hydb.disposal_channel,
			<!-- hydb.disposal_note AS remark, -->
			hydb.disposal_result AS disposal_plan
		FROM
			ht_borrow hydb
		WHERE
			hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>


	<resultMap id="AppProjectCompanyDetailMap" type="com.hyjf.am.trade.dao.model.customize.AppProjectCompanyDetailCustomize">
		<!-- 项目描述 borrowContents -->
		<id column="borrow_contents" property="borrowContents" jdbcType="VARCHAR" />
		<!-- 项目名称  -->
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 所在地区 borrowAddress -->
		<result column="borrow_address" property="borrowAddress" jdbcType="VARCHAR" />
		<!-- 所属行业 borrowIndustry -->
		<result column="borrow_industry" property="borrowIndustry" jdbcType="VARCHAR" />
		<!-- 注册资本 borrowCapital -->
		<result column="reg_captial" property="regCaptial" jdbcType="VARCHAR" />
		<result column="reg_captial_format" property="regCaptialFormat" jdbcType="VARCHAR" />
		<!-- 注册时间 registTime -->
		<result column="regist_time" property="registTime" jdbcType="VARCHAR" />
		<!-- 财务状况 -->
		<result column="account_contents" property="accountContents" jdbcType="VARCHAR" />
		<!-- 融资主体 -->
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<!-- 涉诉-->
		<result column="litigation" property="litigation" jdbcType="VARCHAR" />
		<!-- 统一社会信用代码 -->
		<result column="social_credit_code" property="socialCreditCode" jdbcType="VARCHAR" />
		<!-- 注册号 -->
		<result column="regist_code" property="registCode" jdbcType="VARCHAR" />
		<!-- 主营业务 -->
		<result column="main_business" property="mainBusiness" jdbcType="VARCHAR" />
		<!-- 法人 -->
		<result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
		<!-- 在平台逾期次数 -->
		<result column="overdue_times" property="overdueTimes" jdbcType="VARCHAR" />
		<!-- 在平台逾期金额 -->
		<result column="overdue_amount" property="overdueAmount" jdbcType="VARCHAR" />
		<!-- 企贷审核信息 企业证件 0未审核 1已审核-->
		<result column="is_certificate" property="isCertificate" jdbcType="VARCHAR" />
		<!-- 企贷审核信息 经营状况 0未审核 1已审核 -->
		<result column="is_operation" property="isOperation" jdbcType="VARCHAR" />
		<!-- 企贷审核信息 财务状况 0未审核 1已审核 -->
		<result column="is_finance" property="isFinance" jdbcType="VARCHAR" />
		<!-- 企业信用 0未审核 1已审核 -->
		<result column="is_enterprise_creidt" property="isEnterpriseCreidt" jdbcType="VARCHAR" />
		<!-- 法人信息 0未审核 1已审核-->
		<result column="is_legal_person" property="isLegalPerson" jdbcType="VARCHAR" />
		<!-- 资产状况 0未审核 1已审核-->
		<result column="is_asset" property="isAsset" jdbcType="VARCHAR" />
		<!-- 购销合同 0未审核 1已审核-->
		<result column="is_purchase_contract" property="isPurchaseContract" jdbcType="VARCHAR" />
		<!-- 供销合同 0未审核 1已审核-->
		<result column="is_supply_contract" property="isSupplyContract" jdbcType="VARCHAR" />
		
	</resultMap>


	<select id="selectProjectCompanyDetail" resultMap="AppProjectCompanyDetailMap" parameterType="String">
		SELECT
			hydb.borrow_contents,
			CONCAT(
				hydbu.province,
				hydbu.city,
				hydbu.area
			) AS borrow_address,
			hydb.name as borrow_name,
			hydbu.industry AS borrow_industry,
			hydbu.reg_captial,
			SUBSTRING(FORMAT(hydbu.reg_captial,4),1,LENGTH(FORMAT(hydbu.reg_captial,4))-2) AS reg_captial_format,
			hydbu.com_reg_time AS regist_time,
			hydb.account_contents,
			hydbu.username AS company_name,
			hydbu.litigation,
			hydbu.social_credit_code,
			hydbu.regist_code,
			hydbu.main_business,
			hydbu.legal_person,
			hydbu.overdue_times,
			hydbu.overdue_amount,
			hydbu.is_certificate,
			hydbu.is_operation,
			hydbu.is_finance,
			hydbu.is_enterprise_creidt,
			hydbu.is_legal_person,
			hydbu.is_asset,
			hydbu.is_purchase_contract,
			hydbu.is_supply_contract
		FROM
			ht_borrow hydb
		LEFT JOIN ht_borrow_users hydbu ON hydb.borrow_nid = hydbu.borrow_nid
		WHERE
			hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		AND hydb.company_or_personal = 1
	</select>
	
	<resultMap id="AppPrjectAuthenInfoMap" type="com.hyjf.am.trade.dao.model.customize.AppProjectAuthenInfoCustomize">
		<!-- 证件名称 identifyDocument -->
		<id column="authen_name" property="authenName" jdbcType="VARCHAR" />
		<!-- 认证时间 identifyTime -->
		<result column="authen_time" property="authenTime" jdbcType="VARCHAR" />
		<!-- 认证状态 identifyStatus -->
		<result column="authen_status" property="authenStatus" jdbcType="VARCHAR" />
	</resultMap>
	<select id="searchProjectAuthenInfos" resultMap="AppPrjectAuthenInfoMap" parameterType="String">
		SELECT
			bca.authen_name,
			bca.authen_time,
			'0' AS authen_status
		FROM
			ht_borrow_company_authen bca
		WHERE
			bca.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		ORDER BY
			bca.authen_sort_key ASC
	</select>
	<resultMap id="RiskControlMap" type="com.hyjf.am.trade.dao.model.customize.AppRiskControlCustomize">
		<!-- 合作机构 partner -->
		<id column="partner" property="partner" jdbcType="VARCHAR" />
		<!-- 机构介绍 agencyIntroduction -->
		<result column="agency_introduction" property="agencyIntroduction" jdbcType="VARCHAR" />
		<!-- 操作流程 operatingProcess -->
		<result column="operating_process" property="operatingProcess" jdbcType="VARCHAR" />
		<!-- 风控措施 controlMeasures -->
		<result column="control_measures" property="controlMeasures" jdbcType="VARCHAR" />
		<!-- 抵押物信息 controlMort -->
		<result column="control_mort" property="controlMort" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectRiskControl" resultMap="RiskControlMap" parameterType="String">
		SELECT
			hydb.borrow_measures_instit AS partner,
			hydb.borrow_company_instruction AS agency_introduction,
			hydb.borrow_operating_process AS operating_process,
			hydb.borrow_measures_mea AS control_measures,
			hydb.borrow_measures_mort AS control_mort
		FROM
			ht_borrow hydb
		WHERE
			hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>
	<resultMap id="MortgageMap" type="com.hyjf.am.trade.dao.model.customize.AppMortgageCustomize">
		<!-- 房产类型 propertyType -->
		<id column="property_type" property="propertyType" jdbcType="VARCHAR" />
		<!-- 建筑面积 grossArea -->
		<result column="gross_area" property="grossArea" jdbcType="VARCHAR" />
		<!-- 抵押价值 guarantyValue -->
		<result column="guaranty_value" property="guarantyValue" jdbcType="VARCHAR" />
		<result column="houses_cnt" property="housesCnt" jdbcType="VARCHAR" />
		<result column="houses_belong" property="housesBelong" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectMortgageList" resultMap="MortgageMap" parameterType="String">
		SELECT
			pn.name AS property_type,
			bh.houses_area AS gross_area,
			bh.houses_toprice AS guaranty_value,
			bh.houses_cnt,
			bh.houses_belong
		FROM
			ht_borrow_houses bh
		LEFT JOIN ht_param_name pn ON bh.houses_type = pn.name_cd
		AND pn.name_class = 'HOUSES_TYPE'
		WHERE
			bh.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>
	<resultMap id="VehiclePledgeMap" type="com.hyjf.am.trade.dao.model.customize.AppVehiclePledgeCustomize">
		<!-- 车辆品牌 vehicleBrand -->
		<id column="vehicle_brand" property="vehicleBrand" jdbcType="VARCHAR" />
		<!-- 型号 vehicleModel -->
		<result column="vehicle_model" property="vehicleModel" jdbcType="VARCHAR" />
		<!-- 评估价（元）evaluationPrice -->
		<result column="evaluation_price" property="evaluationPrice" jdbcType="VARCHAR" />
		<!-- 产地 -->
		<result column="place" property="place" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectVehiclePledgeList" resultMap="VehiclePledgeMap" parameterType="String">
		SELECT
			bc.brand AS vehicle_brand,
			bc.model AS vehicle_model,
			bc.toprice AS evaluation_price,
			bc.place
		FROM
			ht_borrow_carinfo bc
		WHERE
			bc.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>
	<resultMap id="AppProjectConsumeListMap" type="com.hyjf.am.trade.dao.model.customize.AppProjectConsumeCustomize">
		<id column="name" property="name" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectProjectConsumeList" resultMap="AppProjectConsumeListMap" parameterType="Map">
		SELECT
			CONCAT(
				substring(hydcl.person_name, 1, 1),
				'**'
			) AS name,
			CONCAT(
				substring(hydcl.ident, 1, 6),
				'******',
				substring(hydcl.ident, 15, 4)
			) AS id_card,
			SUBSTRING(FORMAT(hydcl.credit_amount,4),1,LENGTH(FORMAT(hydcl.credit_amount,4))-2) AS account
		FROM
			ht_consume_list hydcl
		LEFT JOIN ht_borrow_info hydb ON hydb.consume_id = hydcl.consume_id
		<where>
			hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		</where>
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	<select id="countProjectConsumeListRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
			COUNT(hydcl.id)
		FROM
			ht_consume_list hydcl
			LEFT JOIN ht_borrow_info hydb ON hydb.consume_id= hydcl.consume_id
		<where>
			hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		</where>
	</select>
	
	<resultMap id="AppProjectInvestMap" type="com.hyjf.am.trade.dao.model.customize.AppProjectInvestListCustomize">
		<id column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="client" property="client" jdbcType="INTEGER" />
		<result column="client_name" property="clientName" jdbcType="VARCHAR" />
		<result column="invest_time" property="investTime" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectProjectInvestList" resultMap="AppProjectInvestMap" parameterType="Map">
		SELECT
			CONCAT(substring(hydbt.user_name,1,1),'**') AS user_name,
			SUBSTRING(FORMAT(hydbt.account,4),1,LENGTH(FORMAT(hydbt.account,4))-2) AS account,
			hydbt.client AS client,
			hydbt.client AS client_name,
		    date_format(hydbt.create_time, '%Y-%m-%d %H:%i:%s') AS invest_time
			FROM ht_borrow_tender hydbt
			-- LEFT JOIN ht_r_user hydu ON hydbt.user_id = hydu.user_id
		<where>
			hydbt.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		</where>
		ORDER BY hydbt.create_time DESC,hydbt.id DESC
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>



	<select id="countProjectInvestRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
			COUNT(hydbt.id)
			FROM ht_borrow_tender hydbt
		<where>
			hydbt.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		</where>
	</select>
	<select id="searchProjectFiles" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT
			b.files
		FROM
			ht_borrow_info b
		WHERE
			b.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>
	
	<select id="searchHTJProjectFiles" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT
			b.files
		FROM
			ht_debt_borrow b
		WHERE
			b.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>
	
	<sql id="Select_Clause">
		hydbpt.borrow_class AS borrow_type,
		hydbpt.borrow_name AS borrow_desc,
		hydb.borrow_nid,

		hydb.borrow_nid AS borrow_name,

		hb.borrow_apr,
		CASE WHEN hb.borrow_style = 'endday' THEN CONCAT(hb.borrow_period, '天') ELSE CONCAT(hb.borrow_period, '个月') END borrow_period,
		hb.borrow_period borrow_period_int,
		CASE WHEN hb.borrow_style = 'endday' THEN '天' ELSE '个月' END borrow_period_type,
		CASE
		WHEN hb.account >= 10000 THEN
				CASE
		WHEN hb.account % 10000 = 0 THEN
			CONCAT(
				FORMAT((hb.account / 10000), 0),
				'万'
			)
		WHEN hb.account % 10000 <![CDATA[<>]]> 0
		AND hb.account % 1000 = 0 THEN
			CONCAT(
				FORMAT(hb.account / 10000, 1),
				'万'
			)
		WHEN hb.account % 10000 <![CDATA[<>]]> 0
		AND hb.account % 1000 <![CDATA[<>]]> 0
		AND hb.account % 100 = 0 THEN
			CONCAT(
				FORMAT(hb.account / 10000, 2),
				'万'
			)
		WHEN hb.account % 10000 <![CDATA[<>]]> 0
		AND hb.account % 1000 <![CDATA[<>]]> 0
		AND hb.account % 100 <![CDATA[<>]]> 0
		AND hb.account % 10 = 0 THEN
			CONCAT(
				FORMAT(hb.account / 10000, 3),
				'万'
			)
		ELSE
			CONCAT(
				FORMAT(hb.account/ 10000, 4),
				'万'
			)
		END
		ELSE
			CONCAT(
				FORMAT(hb.account, 0),
				'元'
			)
		END AS borrow_total,
		hb.borrow_account_scale AS borrow_schedule,
		CASE
			WHEN hb.status = 1 AND hb.verify_status = 3 THEN '10'
			WHEN hb.status = 2 AND ( hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) ) THEN '11'
			WHEN hb.status = 3 THEN '12'
       		WHEN hb.status = 4 THEN '13'
       		<!-- WHEN hb.status = 3 AND hydb.repay_full_status = 1 THEN '14'
			WHEN hb.status = 2 THEN '15' -->
		ELSE
		  ''
		END AS tstatus,
		CONCAT(#{host},'?borrowNid=',hydb.borrow_nid) AS borrow_url,		
		CASE
			WHEN hb.status = 1 AND hb.verify_status =3
				THEN FROM_UNIXTIME( hb.ontime, '%m-%d %H:%i' )
		ELSE ''
		END AS on_time,
		(hydb.borrow_interest_coupon or hydb.borrow_taste_money) as couponEnable,
		case when hydb.borrow_extra_yield=0 then
		''
		else
		 	CONCAT('',hydb.borrow_extra_yield, '%')
		 end
		borrow_extra_yield,
		case 
		when hydb.project_type = 4 then 'XSH'
		when hydb.project_type = 11 then 'ZXH'
		when hydb.project_type = 13 then 'HJLC'
		else 'HZT'
		end project_type_code,
		IFNULL(hb.borrow_account_wait,0) borrow_account_wait
	</sql>
	
	<sql id="From_Clause">
		ht_borrow hb
		inner join ht_borrow_info hydb on hb.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
	</sql>
	
	<sql id="WhereList_Clause">
			hydbpt.borrow_project_type = 'HZT'
		AND hydb.project_type <![CDATA[<>]]> '4'
		AND hydb.project_type <![CDATA[<>]]> '11'
		<!-- 融通宝过滤 -->
		<if test="version != null and version != '' and '1.4.2' > version ">
		AND hydb.project_type <![CDATA[<>]]> '13'
		</if>
		AND hb.is_show <![CDATA[<>]]> 1

		<!-- 定向标过滤 -->
		<if test="publishInstCode != null and publishInstCode != ''">
			AND (hydb.publish_inst_code = #{publishInstCode,jdbcType=VARCHAR} OR hydb.publish_inst_code ='0')
		</if>

	</sql>
	
	<select id="selectHomeProjectList" resultMap="AppProjectListMap" parameterType="Map">
	    <!-- 出借中 -->
		(SELECT
			<include refid="Select_Clause" />
		FROM
        	<include refid="From_Clause" />
        WHERE
        	<include refid="WhereList_Clause" />
        	AND ( hb.status = 2 AND hb.verify_time + ( hb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
		ORDER BY
			hb.borrow_account_scale DESC,
			hb.verify_time DESC
	    LIMIT 0 , 5
	    )
		UNION ALL
		<!-- 待发布 -->
		(SELECT
		<include refid="Select_Clause" />
		FROM
		<include refid="From_Clause" />
		WHERE
		<include refid="WhereList_Clause" />
		AND ( hb.status = 1 AND hb.verify_status = 3 )
		ORDER BY
		CASE
		WHEN hb.status = '1' AND hb.verify_status = 3 AND hb.ontime IS NOT NULL AND LENGTH(trim(hb.ontime)) <![CDATA[>]]> 1
		THEN
		hb.ontime
		END ASC
		LIMIT 0 , 5
		)
	    UNION ALL
	    <!-- 复审中 -->
		(SELECT
			<include refid="Select_Clause" />
		FROM
        	<include refid="From_Clause" />
        WHERE
        	<include refid="WhereList_Clause" />
        	AND ( hb.status = 3)
        ORDER BY
			hb.borrow_full_time DESC
	    LIMIT 0 , 5
	    ) LIMIT 0 , 5
	</select>
	
	
	<select id="selectHomeRepayProjectList" resultMap="AppProjectListMap" parameterType="Map">
		<!-- 还款中 -->
		(SELECT
			<include refid="Select_Clause" />
		FROM
        	<include refid="From_Clause" />
        WHERE
        	<include refid="WhereList_Clause" />
        	AND (hb.status = 4 AND borrow_success_time <![CDATA[>=]]> UNIX_TIMESTAMP( NOW() )-(60*60*24*3))
		ORDER BY
			borrow_success_time DESC
	    LIMIT 0 , 5
	    )
	</select>

	<resultMap id="HjhPlanMap" type="com.hyjf.am.vo.trade.hjh.HjhPlanCustomizeVO">
		<id column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="plan_name" property="planName" jdbcType="VARCHAR" />
		<result column="expect_apr" property="planApr" jdbcType="VARCHAR" />
		<result column="lock_period" property="planPeriod" jdbcType="VARCHAR" />
		<result column="is_month" property="isMonth" jdbcType="VARCHAR" />
		<result column="available_invest_account" property="availableInvestAccount" jdbcType="VARCHAR" />
		<result column="plan_invest_status" property="status" jdbcType="VARCHAR" />
		<result column="plan_invest_status_name" property="statusName" jdbcType="VARCHAR" />
		<result column="coupon_config" property="couponEnable" jdbcType="VARCHAR" />
		<result column="order_by_available_invest_account" property="availableInvestAccountNew" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getIndexHjhExtensionPlanListByLockTime" resultMap="HjhPlanMap" parameterType="java.util.Map">

		<include refid="selectAppIndexTemplate" />
		ORDER BY t.order_by_lock_period ASC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<select id="getIndexHjhExtensionPlanList" resultMap="HjhPlanMap" parameterType="java.util.Map">
		<include refid="selectAppIndexTemplate" />
		ORDER BY t.order_by_status_name,t.order_by_available_invest_account ASC, t.order_by_lock_period ASC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>


	<sql id="selectAppIndexTemplate">
		SELECT t.* FROM (SELECT
		hp.id as order_by_id,
		hp.plan_nid AS plan_nid,
		hp.plan_name AS plan_name,
		hp.expect_apr AS expect_apr,
		CASE
		WHEN hp.borrow_style = 'endday'
		THEN CONCAT(hp.lock_period, '天')
		ELSE CONCAT(hp.lock_period, '个月')
		END AS lock_period,
		CASE
		WHEN hp.plan_invest_status = 1  AND FORMAT(hp.available_invest_account, 2) <![CDATA[>=]]> 0.00
		THEN CONCAT(
		FORMAT(
		hp.available_invest_account / 10000,
		2
		),
		'万'
		)
		WHEN hp.plan_invest_status = 2
		THEN '0.00 万'
		ELSE '0.00 万'
		END AS available_invest_account,
		CASE
		WHEN hp.plan_invest_status = 1 AND FORMAT(hp.available_invest_account, 2) <![CDATA[>=]]> 0.00
		THEN hp.available_invest_account
		ELSE 0
		END AS order_by_available_invest_account,
		hp.plan_invest_status AS plan_invest_status,
		CASE
		WHEN hp.plan_invest_status = 1
		AND FORMAT(hp.available_invest_account, 2) <![CDATA[<=]]> 0.00
		THEN '稍后开启'
		WHEN hp.plan_invest_status = 1
		<!--THEN '立即加入'-->
		<!-- mod by nxl 修改立即加入->授权服务 -->
		THEN '授权服务'
		WHEN hp.plan_invest_status = 2
		THEN '稍后开启'
		ELSE ''
		END AS plan_invest_status_name,
		CASE
		WHEN hp.plan_invest_status = 1
		AND FORMAT(hp.available_invest_account, 2) <![CDATA[<=]]> 0.00
		THEN 2
		WHEN hp.plan_invest_status = 1
		THEN 1
		WHEN hp.plan_invest_status = 2
		THEN 2
		ELSE 2
		END AS order_by_status_name,
		CASE
		WHEN hp.borrow_style = 'endday'
		THEN hp.lock_period
		ELSE hp.lock_period * 30
		END AS order_by_lock_period,
		coupon_config
		FROM
		ht_hjh_plan hp
		WHERE hp.del_flag = 0 AND hp.plan_display_status = 1) t
	</sql>

</mapper>