<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.AppTenderCreditCustomizeMapper">

	<sql id="Credit_Base_Column_List" >
		credit_id, 
		credit_nid, 
		credit_user_id,
		bid_nid, 
		bid_apr, 
		bid_name, 
		borrow_style,
		hbs.name AS borrow_style_name,
		ht_borrow_credit.tender_nid,
		credit_status, 
		credit_order, 
		credit_period, 
		credit_term, 
		credit_capital, 
		credit_account, 
		credit_interest, 
		credit_interest_advance, 
		credit_discount, 
		credit_income, 
		credit_fee, 
		credit_price, 
		credit_capital_assigned, 
		credit_interest_assigned, 
		credit_repay_account, 
		credit_repay_capital, 
		credit_repay_interest, 
		CASE
		WHEN credit_repay_end_time != 0 THEN
			FROM_UNIXTIME(credit_repay_end_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_end_time,
		CASE
		WHEN credit_repay_last_time != 0 THEN
			FROM_UNIXTIME(credit_repay_last_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_last_time,
		CASE
		WHEN credit_repay_next_time != 0 THEN
			FROM_UNIXTIME(credit_repay_next_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_next_time,
		CASE
		WHEN credit_repay_yes_time != 0 THEN
			FROM_UNIXTIME(credit_repay_yes_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_yes_time,
	    create_date, 
	    CASE
		WHEN create_time != 0 THEN
			FROM_UNIXTIME(create_time, '%Y-%m-%d %H:%i:%s')
		ELSE
			''
		END AS create_time,
		create_time AS create_time_int,
		CASE
		WHEN end_time != 0 THEN
			FROM_UNIXTIME(end_time, '%Y-%m-%d %H:%i:%s')
		ELSE
			''
		END AS end_time,
		CASE
		WHEN assign_time != 0 THEN
			FROM_UNIXTIME(assign_time, '%Y-%m-%d %H:%i:%s')
		ELSE
			''
		END AS assign_time,
		assign_num, 
		recover_period,
		TRUNCATE(credit_capital_assigned/credit_capital,2)*100 AS credit_inProgress,
		CONCAT(#{host},'?creditNid=',credit_nid) AS borrow_url
	</sql>
	
	<!-- 获取可转让的投资查询条件 -->
	<sql id="TenderToCredit_Where_Clause">
		<where>
			<if test="borrowNid != null and borrowNid != ''">
				AND hbr.borrow_nid = #{borrowNid}
			</if>
			<if test="tenderNid != null and tenderNid != ''">
				AND hbr.nid = #{tenderNid}
			</if>
			AND	hbr.recover_status = 0
			AND hb.project_type != 8
			AND hb.project_type != 13
			AND hb.repay_last_time <![CDATA[>=]]> (#{nowTime} + 24 * 3600 * 30)
			AND hb.borrow_style != 'month'
			AND hb.borrow_style != 'principal'
			AND hb.plan_nid IS NULL
			AND hb.inst_code = 10000000
			AND hbr.advance_status != 3
			AND hbr.delay_days = 0
			AND hbr.credit_time <![CDATA[<=]]> (#{nowTime} - 3600 * 24 * 3)
			AND hbr.recover_capital <![CDATA[>=]]> 1000
			AND (hbr.recover_capital-credit_amount) <![CDATA[>=]]> 1000
			AND hbr.create_time <![CDATA[<=]]> (#{nowTime} - 3600 * 24 * 30) 
			AND hbr.recover_time <![CDATA[>=]]> (#{nowTime} + 24 * 3600 * 3)
			AND hbr.addtime <![CDATA[<=]]> (#{nowTime} - 24 * 3600 * 3)
			AND CAST(IFNULL(hbr.repay_orddate,0) AS SIGNED)  <![CDATA[<]]> FROM_UNIXTIME((#{nowTime} - 24 * 3600 * 3),'%Y%m%d')
			AND hbr.user_id = #{userId}
			<!-- 分期标提前还款该月不允许债转 -->
			AND (
				CASE
				WHEN hb.borrow_style = 'endmonth' THEN
					(
						SELECT
							hbrp.recover_status AS recoverPlanStatus
						FROM
							ht_borrow_recover_plan hbrp
						WHERE
							hbrp.borrow_nid = hbr.borrow_nid
						AND hbrp.tender_id = hbr.tender_id
						AND hbrp.recover_period = (
							hb.borrow_period - hbr.recover_period + 1
						)
					)
				ELSE
					(hbr.recover_status)
				END
			)<![CDATA[<>]]>1
		</where>
	</sql>
	<resultMap id="CreditBaseResultMap" type="com.hyjf.am.trade.dao.model.customize.AppTenderCreditDetailCustomize" >
	    <id column="credit_id" property="creditId" />
	    <result column="credit_nid" property="creditNid" />
	    <result column="credit_user_id" property="creditUserId" />
	    <result column="bid_nid" property="bidNid" />
	    <result column="bid_apr" property="bidApr" />
	    <result column="bid_name" property="bidName" />
	    <result column="borrow_style" property="borrowStyle" />
	    <result column="borrow_style_name" property="borrowStyleName" />
	    <result column="tender_nid" property="tenderNid" />
	    <result column="credit_status" property="creditStatus" />
	    <result column="credit_order" property="creditOrder" />
	    <result column="credit_period" property="creditPeriod" />
	    <result column="credit_term" property="creditTerm" />
	    <result column="credit_capital" property="creditCapital" />
	    <result column="credit_account" property="creditAccount" />
	    <result column="credit_interest" property="creditInterest" />
	    <result column="credit_interest_advance" property="creditInterestAdvance" />
	    <result column="credit_discount" property="creditDiscount" />
	    <result column="credit_income" property="creditIncome" />
	    <result column="credit_fee" property="creditFee" />
	    <result column="credit_price" property="creditPrice" />
	    <result column="credit_capital_assigned" property="creditCapitalAssigned" />
	    <result column="credit_interest_assigned" property="creditInterestAssigned" />
	    <result column="credit_repay_account" property="creditRepayAccount" />
	    <result column="credit_repay_capital" property="creditRepayCapital" />
	    <result column="credit_repay_interest" property="creditRepayInterest" />
	    <result column="credit_repay_end_time" property="creditRepayEndTime" />
	    <result column="credit_repay_last_time" property="creditRepayLastTime" />
	    <result column="credit_repay_next_time" property="creditRepayNextTime" />
	    <result column="credit_repay_yes_time" property="creditRepayYesTime" />
	    <result column="create_date" property="createDate" />
	    <result column="create_time" property="addTime" />
	    <result column="create_time_int" property="addTimeInt" />
	    <result column="end_time" property="endTime" />
	    <result column="assign_time" property="assignTime" />
	    <result column="assign_num" property="assignNum" />
	    <result column="recover_period" property="recoverPeriod" />
	    <result column="credit_inProgress" property="creditInProgress" />
	    <result column="tenderTime" property="tenderTime" />
	    <result column="borrow_url" property="borrowUrl" />
	</resultMap>


	<!-- 获取可转让的投资返回MAP -->
	<resultMap id="selectTenderToCreditListMap" type="com.hyjf.am.trade.dao.model.customize.AppTenderToCreditListCustomize">
		<!-- 项目编号-->
		<result column="borrow_nid" property="bidNid" jdbcType="VARCHAR" />
		<!-- 预期年化收益率 -->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 项目期限-->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="recover_time" property="recoverTime" jdbcType="VARCHAR" />
		<!-- 可转让本金-->
		<result column="credit_account" property="creditAccount" jdbcType="VARCHAR" />
		<!-- 剩余天数 -->
		<result column="last_days" property="lastDays" jdbcType="VARCHAR" />
		<!-- 立即转让URL -->
		<result column="tender_credit_url" property="tenderCreditUrl" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 获取可转让的投资列表 -->
	<select id="selectTenderToCreditList" resultMap="selectTenderToCreditListMap" parameterType="java.util.Map">
		SELECT
		hb.borrow_nid AS borrow_nid,
		CONCAT(hb.borrow_apr,'%') AS borrow_apr,
		CONCAT(hb.borrow_period,'个月') AS borrow_period,
		hbr.recover_time AS recover_time,
		FORMAT((
		IFNULL(hbr.recover_capital, 0) - IFNULL(hbr.recover_capital_yes, 0) - IFNULL(hbr.credit_amount, 0)
		),2) AS credit_account,
		CONCAT('剩余',(DATEDIFF(
		FROM_UNIXTIME(
		CAST(hb.repay_last_time AS SIGNED),
		'%Y-%m-%d 00:00:00'
		),
		FROM_UNIXTIME(#{nowTime}, '%Y-%m-%d 00:00:00')
		)),'天') AS last_days,
		CONCAT(#{host},'?borrowNid=',hb.borrow_nid,'&amp;tenderNid=',ht.nid,'&amp;sign=',#{sign},'&amp;platform=',#{platform}) AS tender_credit_url
		FROM
		ht_borrow_recover hbr
		LEFT JOIN ht_borrow_tender ht ON ht.borrow_nid = hbr.borrow_nid AND ht.nid = hbr.nid
		LEFT JOIN ht_borrow hb ON hbr.borrow_nid = hb.borrow_nid
		<include refid="TenderToCredit_Where_Clause" />
		ORDER BY
		ht.addtime ASC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>


	<!-- 获取投资记录的投资件数 -->
	<select id="countTenderCreditInvestRecordTotal" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(*)
		FROM ht_credit_tender hydct
		LEFT JOIN ht_r_user hydu ON hydct.user_id = hydu.user_id
		<where>
			hydct.credit_nid = #{creditNid,jdbcType=VARCHAR}
		</where>
	</select>


	<!-- 获取投资记录列表 -->
	<resultMap id="AppCreditTenderInvestMap" type="com.hyjf.am.trade.dao.model.customize.AppTenderCreditInvestListCustomize">
		<id column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="invest_time" property="investTime" jdbcType="VARCHAR" />
	</resultMap>

	<select id="searchTenderCreditInvestList" resultMap="AppCreditTenderInvestMap" parameterType="Map">
		SELECT
		CONCAT(substring(hydu.username,1,1),'**') AS user_name,
		SUBSTRING(FORMAT(hydct.assign_capital,4),1,LENGTH(FORMAT(hydct.assign_capital,4))-2) AS account,
		from_unixtime(
		hydct.create_time,
		'%Y-%m-%d %H:%i:%s'
		) AS invest_time
		FROM ht_credit_tender hydct
		LEFT JOIN ht_r_user hydu ON hydct.user_id = hydu.user_id
		<where>
			hydct.credit_nid = #{creditNid,jdbcType=VARCHAR}
		</where>
		ORDER BY hydct.create_time DESC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>


</mapper>