<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hyjf.am.trade.dao.mapper.customize.BatchBorrowRecoverCustomizeMapper">

	<update id="updateRepayOfBorrowRecover" parameterType="com.hyjf.am.trade.dao.model.auto.BorrowRecover">
		UPDATE ht_borrow_recover hbr SET
			hbr.repay_batch_no = #{repayBatchNo},
			hbr.recover_account_yes = IFNULL(hbr.recover_account_yes,0) + #{recoverAccountYes,jdbcType=DECIMAL},
			hbr.recover_interest_yes = IFNULL(hbr.recover_interest_yes,0) + #{recoverInterestYes,jdbcType=DECIMAL},
			hbr.recover_capital_yes = IFNULL(hbr.recover_capital_yes,0) + #{recoverCapitalYes,jdbcType=DECIMAL},
			hbr.recover_account_wait = IFNULL(hbr.recover_account_wait,0) - #{recoverAccountWait,jdbcType=DECIMAL},
			hbr.recover_interest_wait = IFNULL(hbr.recover_interest_wait,0) - #{recoverInterestWait,jdbcType=DECIMAL},
			hbr.recover_capital_wait = IFNULL(hbr.recover_capital_wait,0) - #{recoverCapitalWait,jdbcType=DECIMAL},
			hbr.repay_charge_interest = IFNULL(hbr.repay_charge_interest,0) + #{repayChargeInterest,jdbcType=DECIMAL},
			hbr.repay_delay_interest = IFNULL(hbr.repay_delay_interest,0) + #{repayDelayInterest,jdbcType=DECIMAL},
			hbr.repay_late_interest = IFNULL(hbr.repay_late_interest,0) + #{repayLateInterest,jdbcType=DECIMAL},
			hbr.recover_fee_yes = IFNULL(hbr.recover_fee_yes,0) + #{recoverFeeYes,jdbcType=DECIMAL}
		WHERE
			hbr.id = #{id,jdbcType=INTEGER}
	</update>
</mapper>