<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BatchCouponTimeoutCustomizeMapper">
	<resultMap id="couponResult" type="com.hyjf.am.trade.dao.model.customize.BatchCouponTimeoutCommonCustomize">
		<!-- 序号借款编号  --> 
		<result column="user_id" property="userId"/>
		<result column="coupon_quota" property="couponQuota"/>
	</resultMap>
	<!-- 查询体验金按收益期限还款的出借 -->
	<select id="selectCouponQuota" resultMap="couponResult" parameterType="java.util.Map">
		
		SELECT
			uc.user_id,
			SUM(c.coupon_quota) coupon_quota
		FROM
			ht_coupon_user uc
		LEFT JOIN ht_coupon_config c ON uc.coupon_code = c.coupon_code
		WHERE
			uc.end_time <![CDATA[>=]]> #{threeBeginDate}
		AND uc.end_time <![CDATA[<]]> #{threeEndDate}
		AND c.coupon_type = 3
		AND uc.used_flag = 0
		AND uc.del_flag = 0
		AND c.del_flag = 0
		GROUP BY uc.user_id
	</select>
	
 
</mapper>