<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.BatchHjhAccedeCustomizeMapper">
	<resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.customize.HjhAccedeCustomize" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="accede_order_id" property="accedeOrderId" jdbcType="VARCHAR" />
		<result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_attribute" property="userAttribute" jdbcType="INTEGER" />
		<result column="invite_user_id" property="inviteUserId" jdbcType="INTEGER" />
		<result column="invite_user_name" property="inviteUserName" jdbcType="VARCHAR" />
		<result column="invite_user_attribute" property="inviteUserAttribute" jdbcType="INTEGER" />
		<result column="invite_user_regionname" property="inviteUserRegionname" jdbcType="VARCHAR" />
		<result column="invite_user_branchname" property="inviteUserBranchname" jdbcType="VARCHAR" />
		<result column="invite_user_departmentname" property="inviteUserDepartmentname" jdbcType="VARCHAR" />
		<result column="accede_account" property="accedeAccount" jdbcType="DECIMAL" />
		<result column="already_invest" property="alreadyInvest" jdbcType="DECIMAL" />
		<result column="client" property="client" jdbcType="TINYINT" />
		<result column="order_status" property="orderStatus" jdbcType="TINYINT" />
		<result column="count_interest_time" property="countInterestTime" jdbcType="INTEGER" />
		<result column="send_status" property="sendStatus" jdbcType="TINYINT" />
		<result column="lock_period" property="lockPeriod" jdbcType="INTEGER" />
		<result column="commission_status" property="commissionStatus" jdbcType="TINYINT" />
		<result column="commission_count_time" property="commissionCountTime" jdbcType="INTEGER" />
		<result column="available_invest_account" property="availableInvestAccount" jdbcType="DECIMAL" />
		<result column="end_date" property="endDate" jdbcType="DATE" />
		<result column="credit_complete_flag" property="creditCompleteFlag" jdbcType="TINYINT" />
		<result column="frost_account" property="frostAccount" jdbcType="DECIMAL" />
		<result column="wait_total" property="waitTotal" jdbcType="DECIMAL" />
		<result column="wait_captical" property="waitCaptical" jdbcType="DECIMAL" />
		<result column="wait_interest" property="waitInterest" jdbcType="DECIMAL" />
		<result column="received_total" property="receivedTotal" jdbcType="DECIMAL" />
		<result column="received_interest" property="receivedInterest" jdbcType="DECIMAL" />
		<result column="received_capital" property="receivedCapital" jdbcType="DECIMAL" />
		<result column="quit_time" property="quitTime" jdbcType="INTEGER" />
		<result column="last_payment_time" property="lastPaymentTime" jdbcType="INTEGER" />
		<result column="acctual_payment_time" property="acctualPaymentTime" jdbcType="INTEGER" />
		<result column="should_pay_total" property="shouldPayTotal" jdbcType="DECIMAL" />
		<result column="should_pay_capital" property="shouldPayCapital" jdbcType="DECIMAL" />
		<result column="should_pay_interest" property="shouldPayInterest" jdbcType="DECIMAL" />
		<result column="expect_apr" property="expectApr" jdbcType="DECIMAL" />
		<result column="fair_value" property="fairValue" jdbcType="DECIMAL" />
		<result column="liquidation_fair_value" property="liquidationFairValue" jdbcType="DECIMAL" />
		<result column="actual_apr" property="actualApr" jdbcType="DECIMAL" />
		<result column="invest_counts" property="investCounts" jdbcType="INTEGER" />
		<result column="match_dates" property="matchDates" jdbcType="TINYINT" />
		<result column="lqd_service_fee" property="lqdServiceFee" jdbcType="DECIMAL" />
		<result column="lqd_service_apr" property="lqdServiceApr" jdbcType="DECIMAL" />
		<result column="invest_service_apr" property="investServiceApr" jdbcType="DECIMAL" />
		<result column="lqd_progress" property="lqdProgress" jdbcType="DECIMAL" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="update_user" property="updateUser" jdbcType="INTEGER" />
		<result column="del_flag" property="delFlag" jdbcType="TINYINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List" >
		id, accede_order_id, plan_nid, user_id, user_name, user_attribute, invite_user_id,
		invite_user_name, invite_user_attribute, invite_user_regionname, invite_user_branchname,
		invite_user_departmentname, accede_account, already_invest, client, order_status,
		count_interest_time, send_status, lock_period, commission_status, commission_count_time,
		available_invest_account, end_date, credit_complete_flag, frost_account, wait_total,
		wait_captical, wait_interest, received_total, received_interest, received_capital,
		quit_time, last_payment_time, acctual_payment_time, should_pay_total, should_pay_capital,
		should_pay_interest, expect_apr, fair_value, liquidation_fair_value, actual_apr,
		invest_counts, match_dates, lqd_service_fee, lqd_service_apr, invest_service_apr,
		lqd_progress, create_user, update_user, del_flag, create_time, update_time
	</sql>
	<select id="selectHjhAutoTenderList" resultMap="BaseResultMap" parameterType="java.util.Map">
		<!--   	自动投标成功的回款复投 -->
		(
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		ht_hjh_accede
		WHERE
		Order_Status = 2
		AND Available_Invest_Account <![CDATA[>=]]> #{minRetenderAccount}
		ORDER BY
		id ASC
		)
		UNION ALL
		<!-- 	自动出借中的出借 -->
		(
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		ht_hjh_accede
		WHERE
		Order_Status = 0
		<!-- 		AND Available_Invest_Account <![CDATA[>=]]> #{minTenderAccount} -->
		ORDER BY
		id ASC
		)
		UNION ALL
		<!-- 	锁定中的回款复投 -->
		(
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		ht_hjh_accede
		WHERE
		Order_Status = 3
		AND Available_Invest_Account <![CDATA[>=]]> #{minRetenderAccount}
		AND end_date <![CDATA[>=]]>
		date_add(curdate(), INTERVAL #{liquidateDays} DAY)
		ORDER BY
		id ASC
		)
	</select>

	<!-- 计划放款后计划订单冻结金额变化  -->
	<update id="updateOfPlanLoansTender" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAccede">
		update ht_hjh_accede
		set
		frost_account = IFNULL(frost_account,0) - #{frostAccount,jdbcType=DECIMAL}
		where
		id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 更新待收收益  -->
	<update id="updateInterest" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAccede">
		update ht_hjh_accede
		set
		wait_total = IFNULL(wait_total,0) + #{waitTotal,jdbcType=DECIMAL},
		wait_captical = IFNULL(wait_captical,0) + #{waitCaptical,jdbcType=DECIMAL},
		wait_interest = IFNULL(wait_interest,0) + #{waitInterest,jdbcType=DECIMAL}
		where
		id = #{id,jdbcType=INTEGER}
	</update>

	<!--add 汇计划三期 计算匹配期处理 liubin 20180515 start-->
	<!-- 更新匹配期  -->
	<update id="updateMatchDates" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAccede">
		UPDATE ht_hjh_accede
		SET
		match_dates = IF(datediff(now(),create_time) >= 99,99,datediff(now(),create_time))
		WHERE
		order_status <![CDATA[<]]> 3;
	</update>
	<!--add 汇计划三期 计算匹配期处理 liubin 20180515 end-->

	<!--如果订单状态异常时，且开始计息时间为空时也是要拿这个当前时间－授权服务时间-->
	<update id="updateMatchDatesTwo" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAccede">
        UPDATE ht_hjh_accede
        SET
            match_dates = IF(datediff(now(),create_time) >= 99,99,datediff(now(),create_time))
        WHERE
			MOD(order_status, 10) <![CDATA[<]]> 3 AND
			create_time BETWEEN STR_TO_DATE(CONCAT(#{startTime}, '00:00:00'), '%Y-%m-%d %H:%i:%s') AND
								STR_TO_DATE(CONCAT(#{endTime}, '23:59:59'), '%Y-%m-%d %H:%i:%s')
    </update>
	<!-- add 获取发生异常且开始计息时间为空的的数据并更新其匹配期 huanghui 20181129 end-->
</mapper>