<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.CouponCustomizeMapper">

   <resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.customize.CouponCustomize" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
        <result column="coupon_user_code" property="couponUserCode" jdbcType="VARCHAR" />
        <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
        <result column="coupon_quota" property="couponQuota" jdbcType="DECIMAL" />
        <result column="coupon_system" property="couponSystem" jdbcType="INTEGER" />
        <result column="project_expiration_type" property="projectExpirationType" jdbcType="INTEGER" />
        <result column="project_expiration_length" property="projectExpirationLength" jdbcType="INTEGER" />
        <result column="project_expiration_length_min" property="projectExpirationLengthMin" jdbcType="INTEGER" />
        <result column="project_expiration_length_max" property="projectExpirationLengthMax" jdbcType="INTEGER" />
        <result column="project_type" property="projectType" jdbcType="VARCHAR" />
        <result column="tender_quota_type" property="tenderQuotaType" jdbcType="INTEGER" />
        <result column="tender_quota" property="tenderQuota" jdbcType="INTEGER" />
        <result column="tender_quota_min" property="tenderQuotaMin" jdbcType="INTEGER" />
        <result column="tender_quota_max" property="tenderQuotaMax" jdbcType="INTEGER" />
        <result column="end_time" property="endTime" jdbcType="INTEGER" />
        <result column="used_flag" property="usedFlag" jdbcType="INTEGER" />
        <result column="update_time" property="userUpdateTime" jdbcType="INTEGER" />
        <result column="add_flg" property="addFlg" jdbcType="INTEGER" />
        <result column="coupon_profit_time" property="couponProfitTime" jdbcType="INTEGER" />
        <result column="repay_time_config" property="repayTimeConfig" jdbcType="INTEGER" />
        <result column="coupon_profit_time" property="couponProfitTime" jdbcType="INTEGER" />
    </resultMap>

	<resultMap id="BorrowTenderCpnResultMap" type="com.hyjf.am.trade.dao.model.auto.BorrowTenderCpn" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="nid" property="nid" jdbcType="VARCHAR" />
		<result column="account_tender" property="accountTender" jdbcType="DECIMAL" />
		<result column="account" property="account" jdbcType="DECIMAL" />
		<result column="change_status" property="changeStatus" jdbcType="TINYINT" />
		<result column="change_userid" property="changeUserid" jdbcType="INTEGER" />
		<result column="change_period" property="changePeriod" jdbcType="INTEGER" />
		<result column="tender_status" property="tenderStatus" jdbcType="TINYINT" />
		<result column="tender_nid" property="tenderNid" jdbcType="VARCHAR" />
		<result column="tender_award_account" property="tenderAwardAccount" jdbcType="DECIMAL" />
		<result column="recover_full_status" property="recoverFullStatus" jdbcType="TINYINT" />
		<result column="recover_fee" property="recoverFee" jdbcType="DECIMAL" />
		<result column="recover_type" property="recoverType" jdbcType="VARCHAR" />
		<result column="recover_account_all" property="recoverAccountAll" jdbcType="DECIMAL" />
		<result column="recover_account_interest" property="recoverAccountInterest" jdbcType="DECIMAL" />
		<result column="recover_account_yes" property="recoverAccountYes" jdbcType="DECIMAL" />
		<result column="recover_account_interest_yes" property="recoverAccountInterestYes" jdbcType="DECIMAL" />
		<result column="recover_account_capital_yes" property="recoverAccountCapitalYes" jdbcType="DECIMAL" />
		<result column="recover_account_wait" property="recoverAccountWait" jdbcType="DECIMAL" />
		<result column="recover_account_interest_wait" property="recoverAccountInterestWait" jdbcType="DECIMAL" />
		<result column="recover_account_capital_wait" property="recoverAccountCapitalWait" jdbcType="DECIMAL" />
		<result column="recover_times" property="recoverTimes" jdbcType="INTEGER" />
		<result column="recover_advance_fee" property="recoverAdvanceFee" jdbcType="DECIMAL" />
		<result column="recover_late_fee" property="recoverLateFee" jdbcType="DECIMAL" />
		<result column="tender_award_fee" property="tenderAwardFee" jdbcType="DECIMAL" />
		<result column="loan_amount" property="loanAmount" jdbcType="DECIMAL" />
		<result column="loan_fee" property="loanFee" jdbcType="DECIMAL" />
		<result column="contents" property="contents" jdbcType="VARCHAR" />
		<result column="auto_status" property="autoStatus" jdbcType="TINYINT" />
		<result column="web_status" property="webStatus" jdbcType="TINYINT" />
		<result column="api_status" property="apiStatus" jdbcType="TINYINT" />
		<result column="add_ip" property="addIp" jdbcType="VARCHAR" />
		<result column="period_status" property="periodStatus" jdbcType="TINYINT" />
		<result column="isok" property="isok" jdbcType="TINYINT" />
		<result column="is_report" property="isReport" jdbcType="TINYINT" />
		<result column="flag" property="flag" jdbcType="TINYINT" />
		<result column="activity_flag" property="activityFlag" jdbcType="TINYINT" />
		<result column="client" property="client" jdbcType="TINYINT" />
		<result column="web" property="web" jdbcType="TINYINT" />
		<result column="invite_user_name" property="inviteUserName" jdbcType="VARCHAR" />
		<result column="invite_branch_id" property="inviteBranchId" jdbcType="INTEGER" />
		<result column="invite_branch_name" property="inviteBranchName" jdbcType="VARCHAR" />
		<result column="invite_department_id" property="inviteDepartmentId" jdbcType="INTEGER" />
		<result column="invite_department_name" property="inviteDepartmentName" jdbcType="VARCHAR" />
		<result column="tender_user_attribute" property="tenderUserAttribute" jdbcType="INTEGER" />
		<result column="invite_user_attribute" property="inviteUserAttribute" jdbcType="INTEGER" />
		<result column="order_date" property="orderDate" jdbcType="VARCHAR" />
		<result column="loan_ordid" property="loanOrdid" jdbcType="VARCHAR" />
		<result column="invite_user_id" property="inviteUserId" jdbcType="INTEGER" />
		<result column="invite_region_id" property="inviteRegionId" jdbcType="INTEGER" />
		<result column="invite_region_name" property="inviteRegionName" jdbcType="VARCHAR" />
		<result column="tender_user_name" property="tenderUserName" jdbcType="VARCHAR" />
		<result column="tender_type" property="tenderType" jdbcType="TINYINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>


    <select id="getCouponUser" resultMap="BaseResultMap" parameterType="java.util.Map">
	    SELECT
	    	cu.id id,
			cc.coupon_code,
			cc.coupon_type,
			cc.coupon_system,
			<!-- 如果是加息券后面有两位小数且最后一位不为0就保留两位小数，否则保留1位小数 mod by hesy 20190425-->
		REPLACE(IF(cc.coupon_type=2,IF(Left(RIGHT(cc.coupon_quota,3),1)='.' AND RIGHT(RIGHT(cc.coupon_quota,3),1)!='0',FORMAT(cc.coupon_quota, 2),FORMAT(cc.coupon_quota, 1)),FORMAT(cc.coupon_quota, 0)),',','') AS coupon_quota,
			cc.project_expiration_type,
			cc.project_expiration_length,
			cc.project_expiration_length_min,
			cc.project_expiration_length_max,
			cc.project_type,
			cc.tender_quota_type,
			cc.tender_quota,
			cc.tender_quota_min,
			cc.tender_quota_max,
			cu.coupon_user_code,
			cu.end_time,
			cu.used_flag,
			cu.update_time,
			cc.add_flag add_flg,
			cc.coupon_profit_time coupon_profit_time,
			cc.repay_time_config repayTimeConfig,
			cc.coupon_profit_time couponProfitTime
		FROM
			ht_coupon_user cu
		INNER JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		WHERE
			cu.id = #{couponGrantId}
		AND cu.user_id=#{userId}
		AND cu.del_flag = 0
		AND cc.del_flag = 0
	</select>

	<select id="getCouponTenderByTender" resultMap="BorrowTenderCpnResultMap" parameterType="java.util.Map">
		SELECT
			bt.*
		FROM
			ht_borrow_tender_cpn bt
		LEFT JOIN ht_coupon_real_tender crt ON crt.coupon_tender_id = bt.nid
		LEFT JOIN ht_coupon_tender ct ON bt.nid = ct.order_id
		WHERE
			bt.user_id = #{userId} AND bt.borrow_nid=#{borrowNid}  AND crt.real_tender_id=#{logOrdId} AND ct.coupon_grant_id=#{couponGrantId}
	</select>

	<select id="selectCouponConfigByGrantId" resultMap="BaseResultMap" parameterType="java.util.Map">
	    SELECT
			cc.coupon_code,
			cc.coupon_type,
			cc.coupon_system,
			cc.coupon_quota,
			cc.project_expiration_type,
			cc.project_expiration_length,
			cc.project_expiration_length_min,
			cc.project_expiration_length_max,
			cc.project_type,
			cc.tender_quota_type,
			cc.tender_quota,
			cc.tender_quota_min,
			cc.tender_quota_max,
			cu.coupon_user_code,
			cu.end_time,
			cu.used_flag,
			cu.update_time,
			cc.add_flg add_flg,
			cc.coupon_profit_time coupon_profit_time,
			cc.repay_time_config repayTimeConfig,
			cc.coupon_profit_time couponProfitTime
		FROM
			ht_coupon_user cu
		INNER JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		WHERE
			cu.id = #{couponGrantId}
		AND cu.user_id=#{userId}
		AND cu.del_flag = 0
		AND cc.del_flg = 0
	</select>

	<select id="getCouponTenderListByUserIdAndOrderId" resultType="com.hyjf.am.vo.trade.coupon.AppCouponInfoCustomizeVO">
		SELECT  c.coupon_name AS couponName,
				c.coupon_code AS couponCode,
		REPLACE(IF(Left(RIGHT(c.coupon_quota,3),1)='.' AND RIGHT(RIGHT(c.coupon_quota,3),1)!='0',FORMAT(c.coupon_quota, 2),FORMAT(c.coupon_quota, 1)),',','') AS couponQuota,
				c.coupon_type AS couponType,
				d.real_tender_id AS realOrderId,
				t.recover_account_capital_wait AS recoverAccountCapitalWait,
				t.recover_account_interest_wait AS recoverAccountInterestWait,
				t.recover_account_wait AS recoverAaccountWait
		FROM ht_borrow_tender_cpn t
		LEFT JOIN ht_coupon_tender a ON a.order_id = t.nid
		LEFT JOIN ht_coupon_user b ON a.coupon_grant_id = b.id
		LEFT JOIN ht_coupon_config c ON c.coupon_code = b.coupon_code
		LEFT JOIN ht_coupon_real_tender d ON d.coupon_tender_id = t.nid
		WHERE 2 = 2
		<if test="userId != null" >
			AND t.user_id = #{userId}
		</if>
		<if test="orderId != null" >
			AND t.nid = #{orderId}
		</if>
		limit 1
	</select>

	<select id="couponRepaymentPlanList" resultType="com.hyjf.am.vo.trade.repay.CurrentHoldRepayMentPlanListVO">
		SELECT
			hcr.tender_id nid,
			hcr.recover_period recoverPeriod,
			FORMAT(hcr.recover_account,2) recoverAccountWait,
			FORMAT(hcr.recover_capital,2) recoverCapitalWait,
			FORMAT(IF(hcr.recover_capital>0,hcr.recover_account-hcr.recover_capital,hcr.recover_interest),2) recoverInterestWait,
			FORMAT(hcr.recover_account_yes,2) recoverAccount,
			FROM_UNIXTIME(hcr.recover_time, '%Y-%m-%d' ) recoverTime,
			IF(hcr.recover_status=0,'未回款','已回款') recoveStatus
		FROM
			ht_coupon_recover hcr
		WHERE hcr.tender_id=#{nid}
	</select>



	<!-- app 优惠券信息 -->
	<resultMap id="appMyPlanCouponMap" type="com.hyjf.am.vo.trade.coupon.AppCouponCustomizeVO">
		<id column="plan_nid" property="planNid" jdbcType="VARCHAR" />
		<result column="plan_name" property="planName" jdbcType="VARCHAR" />
		<result column="accede_order_id" property="accedeOrderId" jdbcType="VARCHAR" />
		<result column="expect_apr" property="planApr" jdbcType="VARCHAR" />
		<result column="lock_period" property="planPeriod" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="accede_account" property="accedeAccount" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="VARCHAR" />
		<result column="wait_captical" property="waitCaptical" jdbcType="VARCHAR" />
		<result column="wait_interest" property="waitInterest" jdbcType="VARCHAR" />
		<result column="received_total" property="receivedTotal" jdbcType="VARCHAR" />
		<result column="repay_style" property="repayStyle" jdbcType="VARCHAR" />
		<result column="repay_method" property="repayMethod" jdbcType="VARCHAR" />
		<result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
		<result column="recover_status" property="recoverStatus" jdbcType="VARCHAR" />
		<!-- 添加计息时间字段 -->
		<result column="count_interest_time" property="countInterestTime" jdbcType="VARCHAR" />
		<result column="coupon_type" property="couponType" />
		<result column="coupon_quota" property="couponAmount" />
		<result column="recover_account_wait" property="recoverAccountWait" />
		<result column="recover_account_interest_wait" property="recoverAccountInterestWait" />
		<result column="recover_account_capital_wait" property="recoverAccountCapitalWait" />
		<result column="real_tender_id" property="realTenderId" />
	</resultMap>

	<select id="getMyCouponPlanList" resultMap="appMyPlanCouponMap">

		SELECT
		a.plan_nid,
		a.plan_name,
		f.accede_order_id,
		a.expect_apr,
		<!-- a.lock_period, -->
		CASE
		WHEN a.borrow_style ='endday' THEN CONCAT(a.lock_period,'天')
		ELSE CONCAT(a.lock_period,'个月')
		END AS lock_period,
		f.user_id,
		f.accede_account,
		date_format(f.create_time, '%Y-%m-%d %H:%i' ) AS add_time,
		f.wait_captical,
		f.wait_interest,
		f.received_total,
		a.borrow_style repay_style,
		(SELECT hbs.NAME FROM ht_borrow_style hbs where hbs.nid = a.borrow_style limit 1 ) repay_method,
		f.order_status,
		cr.recover_status,
		<!-- 添加计息时间字段 -->
		IFNULL(FROM_UNIXTIME( IF(f.count_interest_time=0,NULL,f.count_interest_time), '%Y-%m-%d' ),'--') AS count_interest_time,
		d.coupon_type,
		CASE d.coupon_type
		WHEN 1 THEN
		CONCAT(
		FORMAT(d.coupon_quota, 2),
		'元'
		)
		WHEN 2 THEN
		CONCAT(IF(Left(RIGHT(d.coupon_quota,3),1)='.' AND RIGHT(RIGHT(d.coupon_quota,3),1)!='0',FORMAT(d.coupon_quota, 2),FORMAT(d.coupon_quota, 1)), '%')
		WHEN 3 THEN
		CONCAT(
		FORMAT(d.coupon_quota, 2),
		'元'
		)
		ELSE
		CONCAT(d.coupon_quota, '%')
		END AS coupon_quota,

		t.recover_account_wait,
		t.recover_account_capital_wait,
		e.real_tender_id,
		CASE WHEN d.coupon_type = 3 THEN t.recover_account_interest_wait - t.recover_account_capital_wait
		ELSE t.recover_account_interest_wait
		END AS recover_account_interest_wait

		FROM
		ht_borrow_tender_cpn t
		INNER JOIN ht_hjh_plan a ON t.borrow_nid = a.plan_nid
		INNER JOIN ht_coupon_tender b ON b.order_id = t.nid
		INNER JOIN ht_coupon_recover cr ON cr.tender_id = t.nid
		INNER JOIN ht_coupon_user c ON b.coupon_grant_id = c.id
		INNER JOIN ht_coupon_config d ON c.coupon_code = d.coupon_code
		LEFT JOIN ht_coupon_real_tender e ON e.coupon_tender_id = t.nid
		LEFT JOIN ht_hjh_accede f on f.accede_order_id = e.real_tender_id
		WHERE t.user_id= #{userId}
		and t.nid = #{accedeOrderId}
	</select>

</mapper>