<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.CouponUserCustomizeMapper">
	<resultMap id="selectCouponUserMap" type="com.hyjf.am.trade.dao.model.customize.CouponUserCustomize">
		<result column="id" property="id" />
	    <result column="coupon_code" property="couponCode" />
	    <result column="coupon_user_code" property="couponUserCode" />
	    <result column="coupon_name" property="couponName" />
	    <result column="coupon_type" property="couponType" />
	    <result column="coupon_quota" property="couponQuota" />
	    <result column="coupon_system" property="couponSystem" />
	    <result column="project_type" property="projectType" />
	    <result column="tender_quota" property="tenderQuota" />
	    <result column="project_expiration_type" property="projectExpirationType" />
	    <result column="coupon_source" property="couponSource" />
	    <result column="coupon_content" property="couponContent" />
	    <result column="user_id" property="userId" />
	    <result column="username" property="username" />
	    <result column="used_flag" property="usedFlag" />
	    <result column="used_flag_View" property="usedFlagView" />
	    <result column="end_time" property="endTime" />
	    <result column="create_time" property="addTime" />
	    <result column="create_user_id" property="addUser" />
	    <result column="update_time" property="updateTime" />
	    <result column="update_user_id" property="updateUser" />
	    <result column="del_flag" property="delFlag" />
	    <result column="detail_url" property="detailUrl" />
	    <result column="channel" property="channel" />
	    <result column="attribute" property="attribute" />
        <result column="activity_id" property="activityId"/>
	</resultMap>
	<sql id="Where_Clause">
		<where>
		    cu.del_flag = 0
		    <if test="userId != null and userId != ''">
				AND cu.user_id = #{userId}
			</if>
			<if test="couponCode != null and couponCode != ''">
				AND cu.coupon_code = #{couponCode}
			</if>
			<if test="couponUserCode != null and couponUserCode != ''">
				AND cu.coupon_user_code = #{couponUserCode}
			</if>
			<if test="username != null and username != ''">
				AND u.username = #{username}
			</if>
			<if test="couponType != null and couponType != ''">
				AND cc.coupon_type = #{couponType}
			</if>
			<if test="usedFlag != null and usedFlag != ''">
				AND cu.used_flag = #{usedFlag}
			</if>
			<if test="couponSource != null and couponSource != ''">
				AND cu.coupon_source = #{couponSource}
			</if>
			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND cu.end_time <![CDATA[>=]]> #{timeStartSrch}
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND cu.end_time <![CDATA[<=]]> #{timeEndSrch}
			</if>
			<if test="timeStartAddSrch != null and timeStartAddSrch != ''">
				AND cu.create_time <![CDATA[>=]]> #{timeStartAddSrch}
			</if>
			<if test="timeEndAddSrch != null and timeEndAddSrch != ''">
				AND cu.create_time <![CDATA[<=]]> #{timeEndAddSrch}
			</if>
		</where>
	</sql>
	
	<select id="selectCouponUserList" resultMap="selectCouponUserMap" parameterType="java.util.Map">
		SELECT
			cu.id,
			cc.coupon_code,
			cu.coupon_user_code,
			cc.coupon_name,
			u.username,
			cu.attribute,
			cu.channel,
			CASE cc.coupon_type
		WHEN 1 THEN
			'体验金'
		WHEN 2 THEN
			'加息券'
		WHEN 3 THEN
			'代金券'
		END AS coupon_type,
		CASE cc.coupon_type
		WHEN 1 THEN
			CONCAT(
				FORMAT(cc.coupon_quota, 2),
				'元'
			)
		WHEN 2 THEN
			CONCAT(cc.coupon_quota, '%')
		WHEN 3 THEN
			CONCAT(
				FORMAT(cc.coupon_quota, 2),
				'元'
			)
		ELSE
			CONCAT(cc.coupon_quota, '%')
		END AS coupon_quota,
		 CASE
		WHEN cu.coupon_source = 1 THEN
			'手动发放'
		WHEN cu.coupon_source = 2 THEN
			'活动发放'
		WHEN cu.coupon_source = 3 THEN
			'会员礼包'
		ELSE
			''
		END AS coupon_source,

		CASE
		WHEN cu.coupon_source = 1 THEN
			cu.content
		ELSE
			IFNULL(cu.content, '')
		END AS coupon_content,
		 FROM_UNIXTIME(
			cu.end_time,
			'%Y-%m-%d'
		) AS end_time,
		 cu.used_flag,
		 CASE
		WHEN cu.used_flag = 0 THEN
			'未使用'
		WHEN cu.used_flag = 1 THEN
			'已使用'
		WHEN cu.used_flag = 2 THEN
			'审核不通过'
		WHEN cu.used_flag = 3 THEN
			'待审核'
		WHEN cu.used_flag = 4 THEN
			'已失效'
		END used_flag_View,
		 FROM_UNIXTIME(
			cu.create_time,
			'%Y-%m-%d %H:%i:%S'
		) AS add_time,
		 cc.coupon_system AS coupon_system,
		 cc.project_type AS project_type,
		 CASE
		WHEN cc.tender_quota_type = 0 THEN
			'出借金额不限'
		WHEN cc.tender_quota_type = 1 THEN
			CONCAT(
				cc.tender_quota_min,
				'元~',
				cc.tender_quota_max,
				'元可用'
			)
		WHEN cc.tender_quota_type = 2 THEN
			CONCAT(
				'满',
				cc.tender_quota,
				'元可用'
			)
		WHEN cc.tender_quota_type = 3 THEN
			CONCAT(
				cc.tender_quota,
				'元（含）内可用'
			)
		ELSE
			'出借金额不限'
		END tender_quota,
		 CASE
		WHEN cc.project_expiration_type = 0 THEN
			'项目期限不限'
		WHEN cc.project_expiration_type = 1 THEN
			CONCAT(
				'等于',
				cc.project_expiration_length,
				'月'
			)
		WHEN cc.project_expiration_type = 2 THEN
			CONCAT(
				cc.project_expiration_length_min,
				'月~',
				cc.project_expiration_length_max,
				'月'
			)
		WHEN cc.project_expiration_type = 3 THEN
			CONCAT(
				'大于等于',
				cc.project_expiration_length,
				'月'
			)
		WHEN cc.project_expiration_type = 4 THEN
			CONCAT(
				'小于等于',
				cc.project_expiration_length,
				'月'
			)
		ELSE
			'项目期限不限'
		END project_expiration_type,
        cu.activity_id
		FROM
			ht_coupon_user cu
		LEFT JOIN ht_r_user u ON cu.user_id = u.user_id
		JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code AND cc.del_flag = 0
		<include refid="Where_Clause" />
		ORDER BY cu.id DESC
		<if test="limitStart !=null and limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
	
    <select id="countCouponUser" resultType="java.lang.Integer" parameterType="java.util.Map">
	    SELECT
			count(cu.id)
		FROM
			ht_coupon_user cu
		JOIN (SELECT coupon_code FROM ht_coupon_config where del_flag = 0) cc ON cu.coupon_code = cc.coupon_code
		<include refid="Where_Clause" />
	</select>

	<resultMap id="selectCouponUserMapForApp" type="com.hyjf.am.trade.dao.model.customize.CouponUserForAppCustomize">
		<result column="id" property="id" />
	    <result column="coupon_type" property="couponType" />
	    <result column="coupon_type_origin" property="couponTypeOrigin" />
	    <result column="coupon_name" property="couponName" />
	    <result column="coupon_quota" property="couponQuota" />
	    <result column="coupon_quota_origin" property="couponQuotaOrigin" />
	    <result column="end_time" property="endTime" />
	    <result column="time" property="time" />
	    <result column="tender_quota" property="tenderQuota" />
	    <result column="detail_url" property="detailUrl" />
	    <result column="coupon_status" property="couponStatus" />
	    <result column="project_type" property="projectType" />
	    <result column="coupon_system" property="operationPlatform" />
	    <result column="tender_quota_origin" property="tenderQuotaOrigin" />
	    <result column="project_expiration_length" property="projectExpirationLength" />
	    <result column="tender_quota_min" property="tenderQuotaMin" />
	    <result column="tender_quota_max" property="tenderQuotaMax" />
	    <result column="tender_quota_value" property="tenderQuotaValue" />
	    <result column="project_expiration_type" property="projectExpirationType" />
	    <result column="project_expiration_length_max" property="projectExpirationLengthMax" />
	    <result column="project_expiration_length_min" property="projectExpirationLengthMin" />
	    <result column="tender_quota_type" property="tenderQuotaType" />
	</resultMap>

	<select id="selectCouponUserListForApp" resultMap="selectCouponUserMapForApp" parameterType="java.util.Map">
		SELECT
			cu.id,cc.coupon_name,CASE cc.coupon_type WHEN 1 THEN '体验金' WHEN 2 THEN '加息券' WHEN 3 THEN '代金券' ELSE '' END AS coupon_type, cc.coupon_type AS coupon_type_origin,
			CASE cc.coupon_type WHEN 2 THEN CONCAT(cc.coupon_quota,'%')  ELSE FORMAT(cc.coupon_quota, 0) END AS coupon_quota,cc.coupon_quota AS coupon_quota_origin,
			CONCAT(FROM_UNIXTIME(cu.create_time, '%Y.%m.%d'), '-', FROM_UNIXTIME(cu.end_time, '%Y.%m.%d'))AS end_time, cc.project_type as project_type,cc.coupon_system as coupon_system,
			cc.tender_quota as tender_quota_origin,cc.project_expiration_length as project_expiration_length,cc.tender_quota_min as tender_quota_min,cc.tender_quota_max as tender_quota_max,
			cc.project_expiration_type as project_expiration_type,cc.project_expiration_length_min as project_expiration_length_min,
			cc.project_expiration_length_max as project_expiration_length_max,cc.tender_quota_type as tender_quota_type,
			CONCAT(FROM_UNIXTIME(cu.create_time, '%Y.%m.%d'), '-', FROM_UNIXTIME(cu.end_time, '%Y.%m.%d'))AS time,
			CASE
			WHEN cc.tender_quota_type = 0 THEN
				'金额不限'
			WHEN cc.tender_quota_type = 1 THEN
				CONCAT(
					cc.tender_quota_min,
					'元~',
					cc.tender_quota_max,
					'元可用'
				)
			WHEN cc.tender_quota_type = 2 THEN
				CONCAT(
					'满',
					cc.tender_quota,
					'元可用'
				)
			WHEN cc.tender_quota_type = 3 THEN
				CONCAT(
					cc.tender_quota,
					'元（含）内可用'
				)
			ELSE
				'不限'
			END tender_quota,
			cc.tender_quota as tender_quota_value,
			CONCAT(#{host},REPLACE('<![CDATA[&id=]]>',' ', ''),cu.id) AS detail_url,
			#{usedFlag} AS coupon_status
		FROM
		    ht_coupon_user cu
		    JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		    LEFT JOIN ht_r_user u ON cu.user_id = u.user_id
		<include refid="Where_Clause" />
		 ORDER BY cu.end_time ,cu.create_time, cu.coupon_code
		<if test="limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>
	</select>
    <select id="countCouponUserForApp" resultType="java.lang.Integer" parameterType="java.util.Map">
	    SELECT
			count(1)
		FROM
		    ht_coupon_user cu
		    JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		    LEFT JOIN ht_r_user u ON cu.user_id = u.user_id
		<include refid="Where_Clause" />
	</select>

	<select id="countCouponValid" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	    SELECT
			count(1)
		FROM
		    ht_coupon_user cu
		WHERE
		    cu.user_id = #{userId} AND cu.used_flag = 0 AND cu.del_flag = 0
	</select>
	
	<select id="selectLatestCouponValidList" resultMap="selectCouponUserMap" parameterType="java.lang.Integer">
	    SELECT
			id, coupon_code, user_id, activity_id, used_flag, end_time, content, audit_content, 
		    delete_content, audit_user, audit_time, create_time, create_user_id, update_time, update_user_id,
		    del_flag
		FROM
		    ht_coupon_user cu
		WHERE
		    cu.user_id = #{userId} AND cu.used_flag = 0 AND cu.del_flag = 0
		ORDER BY cu.create_time desc
	</select>
	
	<select id="selectLatestCouponValidUNReadList" resultMap="selectCouponUserMap" parameterType="java.lang.Integer">
	    SELECT
			id, coupon_code, user_id, activity_id, used_flag, end_time, content, audit_content, 
		    delete_content, audit_user, audit_time, create_time, create_user_id, update_time, update_user_id,
		    del_flag
		FROM
		    ht_coupon_user cu
		WHERE
		    cu.user_id = #{userId} AND cu.used_flag = 0 AND (cu.read_flag = 0 OR cu.read_flag IS NULL) AND cu.del_flag = 0
		ORDER BY cu.create_time desc
	</select>
	
	
	<select id="getCouponUsedCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
	    SELECT
			COUNT(1)
		FROM
			ht_coupon_config c LEFT JOIN ht_coupon_user u ON c.coupon_code = u.coupon_code
		WHERE
			c.id = #{couponId}
			AND u.del_flag=0
	</select>
	
	<resultMap id="couponConfigCustomize2" type="com.hyjf.am.trade.dao.model.customize.CouponConfigCustomizeV2">
	    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
	    <result column="coupon_user_code" property="couponUserCode" jdbcType="VARCHAR" />
	    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
	    <result column="coupon_quota" property="couponQuota" jdbcType="DECIMAL" />
	    <result column="coupon_system" property="couponSystem" jdbcType="INTEGER" />
	    <result column="project_expiration_type" property="projectExpirationType" jdbcType="INTEGER" />
	    <result column="project_expiration_length" property="projectExpirationLength" jdbcType="INTEGER" />
	    <result column="project_expiration_length_min" property="projectExpirationLengthMin" jdbcType="INTEGER" />
	    <result column="project_expiration_length_max" property="projectExpirationLengthMax" jdbcType="INTEGER" />
	    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
	    <result column="tender_quota_type" property="tenderQuotaType" jdbcType="INTEGER" />
	    <result column="tender_quota" property="tenderQuota" jdbcType="INTEGER" />
	    <result column="tender_quota_min" property="tenderQuotaMin" jdbcType="INTEGER" />
	    <result column="tender_quota_max" property="tenderQuotaMax" jdbcType="INTEGER" />
	    <result column="end_time" property="endTime" jdbcType="INTEGER" />
	    <result column="used_flag" property="usedFlag" jdbcType="INTEGER" />
	    <result column="update_time" property="userUpdateTime" jdbcType="INTEGER" />
	    <result column="add_flag" property="addFlag" jdbcType="INTEGER" />
    	<result column="coupon_profit_time" property="couponProfitTime" jdbcType="INTEGER" />
	    <result column="repay_time_config" property="repayTimeConfig" jdbcType="INTEGER" />
	    <result column="coupon_profit_time" property="couponProfitTime" jdbcType="INTEGER" />
	</resultMap>
	<select id="selectCouponConfigByGrantId" resultMap="couponConfigCustomize2" parameterType="java.util.Map">
	    SELECT
			cc.coupon_code,
			cc.coupon_type,
			cc.coupon_system,
			cc.coupon_quota,
			cc.project_expiration_type,
			cc.project_expiration_length,
			cc.project_expiration_length_min,
			cc.project_expiration_length_max,
			cc.project_type,
			cc.tender_quota_type,
			cc.tender_quota,
			cc.tender_quota_min,
			cc.tender_quota_max,
			cu.coupon_user_code,
			cu.end_time,
			cu.used_flag,
			cu.update_time,
			cc.add_flag add_flag,
			cc.coupon_profit_time coupon_profit_time,
			cc.repay_time_config repayTimeConfig,
			cc.coupon_profit_time couponProfitTime
		FROM
			ht_coupon_user cu
		INNER JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		WHERE
			cu.id = #{couponGrantId}
		AND cu.user_id=#{userId}
		AND cu.del_flag = 0
		AND cc.del_flag = 0
	</select>
	
	
	<select id="selectCouponConfigByNid" resultMap="couponConfigCustomize2" parameterType="java.util.Map">
	    SELECT
			cc.coupon_code,
			cc.coupon_type,
			cc.coupon_system,
			cc.coupon_quota,
			cc.project_expiration_type,
			cc.project_expiration_length,
			cc.project_expiration_length_min,
			cc.project_expiration_length_max,
			cc.project_type,
			cc.tender_quota_type,
			cc.tender_quota,
			cc.tender_quota_min,
			cc.tender_quota_max,
			cu.coupon_user_code,
			cu.end_time,
			cu.used_flag,
			cu.update_time,
			cc.add_flag add_flag,
			cc.coupon_profit_time coupon_profit_time,
			cc.repay_time_config repayTimeConfig,
			cc.coupon_profit_time couponProfitTime
		FROM
			ht_borrow_tender_cpn cpn
		INNER JOIN ht_coupon_tender hct ON cpn.nid = hct.order_id
		INNER JOIN ht_coupon_user cu ON hct.coupon_grant_id = cu.id
		INNER JOIN ht_coupon_config cc ON cu.coupon_code = cc.coupon_code
		WHERE
			cpn.nid = #{nid}
		AND cu.del_flag = 0
		AND cc.del_flag = 0
	</select>
	
	<resultMap id="selectDataCenterCouponMap" type="com.hyjf.am.trade.dao.model.customize.DataCenterCouponCustomize">
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="grant_num" property="grantNum" jdbcType="VARCHAR" />
		<result column="used_num" property="usedNum" jdbcType="VARCHAR" />
		<result column="expire_num" property="expireNum" jdbcType="VARCHAR" />
		<result column="recover_interest" property="recoverInterest" jdbcType="VARCHAR" />
		<result column="recived_money" property="recivedMoney" jdbcType="VARCHAR" />
		<result column="norecived_money" property="norecivedMoney" jdbcType="VARCHAR" />
		<result column="wait_recive_money" property="waitReciveMoney" jdbcType="VARCHAR" />
		<result column="expire_recive_money" property="expireReciveMoney" jdbcType="VARCHAR" />
		<result column="real_tender_money" property="realTenderMoney" jdbcType="VARCHAR" />
		
	</resultMap>
	
	<select id="selectDataCenterCouponJXList" resultMap="selectDataCenterCouponMap" parameterType="com.hyjf.am.resquest.trade.DadaCenterCouponCustomizeRequest">
			
			SELECT
					sum(
						CASE
						WHEN u.used_flag = 1 THEN
							1
						ELSE
							0
						END
					) AS used_num,
					sum(
						CASE
						WHEN u.used_flag = 4 THEN
							1
						ELSE
							0
						END
					) AS expire_num,
					COUNT(u.id) grant_num,
					FORMAT(
						SUM(
							IFNULL(cr.recover_account, 0)
						),
						2
					) recover_interest,
					FORMAT(
						sum(
							IFNULL(cr.recover_account_yes, 0)
						),
						2
					) AS recived_money,
					FORMAT(
						sum(
							IFNULL(cr.recover_account, 0)
						) - sum(
							IFNULL(cr.recover_account_yes, 0)
						),
						2
					) AS norecived_money,
					FORMAT(
						sum(IFNULL(bts.account, 0)),
						3
					) real_tender_money
				FROM
					ht_coupon_user u
				LEFT JOIN ht_coupon_config c ON u.coupon_code = c.coupon_code
				LEFT JOIN ht_coupon_tender ct ON u.id = ct.coupon_grant_id
				LEFT JOIN ht_coupon_recover cr ON ct.order_id = cr.tender_id AND cr.recover_period=1
				LEFT JOIN ht_coupon_real_tender rts ON ct.order_id = rts.coupon_tender_id
				LEFT JOIN ht_borrow_tender bts ON rts.real_tender_id = bts.nid
			WHERE
			    c.coupon_type = 2
			AND u.del_flag = 0
			GROUP BY
			   u.coupon_source,u.activity_id
		<if test="limitStart !=null and limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>	</select>
	
	<select id="selectDataCenterCouponDJList" resultMap="selectDataCenterCouponMap" parameterType="com.hyjf.am.resquest.trade.DadaCenterCouponCustomizeRequest">
			
				SELECT
					sum(
						CASE
						WHEN u.used_flag = 1 THEN
							1
						ELSE
							0
						END
					) AS used_num,
					sum(
						CASE
						WHEN u.used_flag = 4 THEN
							1
						ELSE
							0
						END
					) AS expire_num,
					COUNT(u.id) grant_num,
					FORMAT(
						SUM(
							IFNULL(cr.recover_account, 0)
						),
						2
					) recover_interest,
					FORMAT(
						sum(
							IFNULL(cr.recover_account_yes, 0)
						),
						2
					) AS recived_money,
					FORMAT(
						sum(
							IFNULL(cr.recover_account, 0)
						) - sum(
							IFNULL(cr.recover_account_yes, 0)
						),
						2
					) AS norecived_money,
					FORMAT(
						sum(IFNULL(bts.account, 0)),
						3
					) real_tender_money
				FROM
					ht_coupon_user u
				LEFT JOIN ht_coupon_config c ON u.coupon_code = c.coupon_code
				LEFT JOIN ht_coupon_tender ct ON u.id = ct.coupon_grant_id
				LEFT JOIN ht_coupon_recover cr ON ct.order_id = cr.tender_id AND cr.recover_period=1
				LEFT JOIN ht_coupon_real_tender rts ON ct.order_id = rts.coupon_tender_id
				LEFT JOIN ht_borrow_tender bts ON rts.real_tender_id = bts.nid
			WHERE
			    c.coupon_type = 3
			AND u.del_flag = 0
			GROUP BY
			   u.coupon_source,u.activity_id
		<if test="limitStart !=null and limitStart >= 0" >
	      LIMIT #{limitStart} , #{limitEnd}
	    </if>	</select>
	
</mapper>