<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.HjhBailConfigCustomizeMapper">


    <select id="updateRepayInstitutionAmount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        UPDATE hyjf_hjh_bail_config
        SET remain_mark_line = remain_mark_line + #{amount,jdbcType=DECIMAL},
            loan_balance = loan_balance - #{amount,jdbcType=DECIMAL},
            repayed_capital = repayed_capital + #{amount,jdbcType=DECIMAL}
        WHERE
            inst_code = #{instCode,jdbcType=VARCHAR}
    </select>

    <select id="updateLoanInstitutionAmount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        UPDATE hyjf_hjh_bail_config
        SET remain_mark_line = remain_mark_line + #{amount,jdbcType=DECIMAL},
        loan_Balance = loan_Balance - #{amount,jdbcType=DECIMAL},
        new_credit_line = new_credit_line + #{amount,jdbcType=DECIMAL},
        loan_mark_line = loan_mark_line - #{amount,jdbcType=DECIMAL}
        WHERE
        inst_code = #{instCode,jdbcType=VARCHAR}
    </select>

    <select id="updateForSendBorrow" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        UPDATE hyjf_hjh_bail_config
        SET remain_mark_line = remain_mark_line - #{amount,jdbcType=DECIMAL},
            cyc_loan_total = cyc_loan_total + #{amount,jdbcType=DECIMAL},
            loan_mark_line = loan_mark_line + #{amount,jdbcType=DECIMAL},
            loan_balance = loan_balance + #{amount,jdbcType=DECIMAL},
            his_loan_total = his_loan_total + #{amount,jdbcType=DECIMAL}
        WHERE
            inst_code = #{instCode,jdbcType=VARCHAR}
    </select>

</mapper>