<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.HjhDebtDetailCustomizeMapper">

	<resultMap id="BaseResultMap" type="com.hyjf.am.trade.dao.model.auto.HjhDebtDetail" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="user_id" property="userId" jdbcType="INTEGER" />
	    <result column="user_name" property="userName" jdbcType="VARCHAR" />
	    <result column="borrow_user_id" property="borrowUserId" jdbcType="INTEGER" />
	    <result column="borrow_user_name" property="borrowUserName" jdbcType="VARCHAR" />
	    <result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
	    <result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
	    <result column="borrow_apr" property="borrowApr" jdbcType="DECIMAL" />
	    <result column="borrow_period" property="borrowPeriod" jdbcType="INTEGER" />
	    <result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
	    <result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
	    <result column="plan_order_id" property="planOrderId" jdbcType="VARCHAR" />
	    <result column="invest_order_id" property="investOrderId" jdbcType="VARCHAR" />
	    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
	    <result column="credit_nid" property="creditNid" jdbcType="VARCHAR" />
	    <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
	    <result column="order_type" property="orderType" jdbcType="TINYINT" />
	    <result column="account" property="account" jdbcType="DECIMAL" />
	    <result column="loan_time" property="loanTime" jdbcType="INTEGER" />
	    <result column="loan_capital" property="loanCapital" jdbcType="DECIMAL" />
	    <result column="loan_interest" property="loanInterest" jdbcType="DECIMAL" />
	    <result column="repay_period" property="repayPeriod" jdbcType="TINYINT" />
	    <result column="repay_time" property="repayTime" jdbcType="INTEGER" />
	    <result column="repay_action_time" property="repayActionTime" jdbcType="INTEGER" />
	    <result column="repay_capital_yes" property="repayCapitalYes" jdbcType="DECIMAL" />
	    <result column="repay_interest_yes" property="repayInterestYes" jdbcType="DECIMAL" />
	    <result column="repay_capital_wait" property="repayCapitalWait" jdbcType="DECIMAL" />
	    <result column="repay_interest_wait" property="repayInterestWait" jdbcType="DECIMAL" />
	    <result column="repay_status" property="repayStatus" jdbcType="TINYINT" />
	    <result column="manage_fee" property="manageFee" jdbcType="DECIMAL" />
	    <result column="service_fee" property="serviceFee" jdbcType="DECIMAL" />
	    <result column="advance_status" property="advanceStatus" jdbcType="TINYINT" />
	    <result column="advance_days" property="advanceDays" jdbcType="INTEGER" />
	    <result column="advance_interest" property="advanceInterest" jdbcType="DECIMAL" />
	    <result column="late_days" property="lateDays" jdbcType="INTEGER" />
	    <result column="late_interest" property="lateInterest" jdbcType="DECIMAL" />
	    <result column="delay_days" property="delayDays" jdbcType="INTEGER" />
	    <result column="delay_interest" property="delayInterest" jdbcType="DECIMAL" />
	    <result column="repay_order_id" property="repayOrderId" jdbcType="VARCHAR" />
	    <result column="repay_order_date" property="repayOrderDate" jdbcType="VARCHAR" />
	    <result column="expire_fair_value" property="expireFairValue" jdbcType="DECIMAL" />
	    <result column="last_liquidation_time" property="lastLiquidationTime" jdbcType="INTEGER" />
	    <result column="status" property="status" jdbcType="TINYINT" />
	    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
	    <result column="client" property="client" jdbcType="TINYINT" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="create_time" property="createTime" jdbcType="INTEGER" />
	    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
	    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
	    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
	    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
	    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
	    <result column="source_type" property="sourceType" jdbcType="INTEGER" />
		<result column="credit_times" property="creditTimes" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, user_name, borrow_user_id, borrow_user_name, borrow_nid, borrow_name, 
    borrow_apr, borrow_period, borrow_style, plan_nid, plan_order_id, invest_order_id, order_id, credit_nid, 
    order_date, order_type, account, loan_time, loan_capital, loan_interest, repay_period, 
    repay_time, repay_action_time, repay_capital_yes, repay_interest_yes, repay_capital_wait, 
    repay_interest_wait, repay_status, manage_fee, service_fee, advance_status, advance_days, 
    advance_interest, late_days, late_interest, delay_days, delay_interest, repay_order_id, 
    repay_order_date, expire_fair_value, last_liquidation_time, `status`, del_flag, client, 
    remark,create_time, create_user_id, create_user_name, update_time, update_user_id,
    update_user_name,credit_times
  </sql>
	
  <select id="selectDebtDetailForLiquidation" resultMap="BaseResultMap" parameterType="String" >
	    select 
	    t.id, t.user_id, t.user_name, t.borrow_user_id, t.borrow_user_name, t.borrow_nid, t.borrow_name, 
	    t.borrow_apr, t.borrow_period, t.borrow_style, t.plan_nid, t.plan_order_id, t.invest_order_id, t.order_id, t.credit_nid, 
	    t.order_date, t.order_type, t.account, t.loan_time, t.loan_capital, t.loan_interest, t.repay_period, 
	    t.repay_time, t.repay_action_time, t.repay_capital_yes, t.repay_interest_yes, t.repay_capital_wait, 
	    t.repay_interest_wait, t.repay_status, t.manage_fee, t.service_fee, t.advance_status, t.advance_days, 
	    t.advance_interest, t.late_days, t.late_interest, t.delay_days, t.delay_interest, t.repay_order_id, 
	    t.repay_order_date, t.expire_fair_value, t.last_liquidation_time, t.`status`, t.del_flag, t.client, 
	    t.remark, t.create_time, t.create_user_id, t.create_user_name, t.update_time, t.update_user_id, t.source_type,
	    t.update_user_name,t.credit_times
	    FROM
		ht_hjh_debt_detail t
		WHERE t.status=1
		AND plan_order_id = #{accedeOrderId}
		AND t.repay_period = (
			SELECT
				min(repay_period)
			FROM
				ht_hjh_debt_detail
			WHERE
			repay_status = 0
			AND status=1	
			AND order_id=t.order_id
		)
  </select>

  <select id="selectLastDebtDetailRepayed" resultMap="BaseResultMap" parameterType="String" >
	    select 
	    <include refid="Base_Column_List" />
	    FROM
			ht_hjh_debt_detail
		WHERE
			order_id = #{orderId}
		AND repay_status = 1
		AND status=1
		ORDER BY
			repay_period DESC
		LIMIT 1;
  </select>
  
  <select id="selectDebtDetailCurRepayPeriod" resultMap="BaseResultMap" parameterType="String" >
	    select 
	    <include refid="Base_Column_List" />
	    FROM
			ht_hjh_debt_detail
		WHERE
			order_id = #{orderId}
		AND UNIX_TIMESTAMP(FROM_UNIXTIME(repay_time,'%Y-%m-%d')) - UNIX_TIMESTAMP(DATE_FORMAT(now(),'%Y-%m-%d')) >= 0
		AND status = 1
		AND repay_status = 0
		ORDER BY
			repay_period ASC
		LIMIT 1;
  </select>

  <select id="selectDebtDetailCurRepayPeriodByDate" resultMap="BaseResultMap" parameterType="String" >
        select
        <include refid="Base_Column_List" />
        FROM
        ht_hjh_debt_detail
        WHERE
        order_id = #{orderId}
        AND repay_time >= UNIX_TIMESTAMP(#{dualDate})
        AND status = 1
        AND repay_status = 0
        ORDER BY
        repay_period ASC
        LIMIT 1;
    </select>

	<!-- 查询当前时间所在的计息期间-->
	<select id="selectDebtDetailCurPeriod" resultMap="BaseResultMap" parameterType="String" >
		select
		<include refid="Base_Column_List" />
		FROM
		ht_hjh_debt_detail
		WHERE
		order_id = #{orderId}
		AND UNIX_TIMESTAMP(FROM_UNIXTIME(repay_time,'%Y-%m-%d')) - UNIX_TIMESTAMP(DATE_FORMAT(now(),'%Y-%m-%d')) >= 0
		AND status = 1
		ORDER BY
		repay_period ASC
		LIMIT 1;
	</select>

    <!-- 查询当前时间所在的计息期间-->
    <select id="selectDebtDetailCurPeriodByDate" resultMap="BaseResultMap" parameterType="String" >
        select
        <include refid="Base_Column_List" />
        FROM
        ht_hjh_debt_detail
        WHERE
        order_id = #{orderId}
        AND repay_time >= UNIX_TIMESTAMP(#{dualDate})
        AND status = 1
        ORDER BY
        repay_period ASC
        LIMIT 1;
    </select>
  <select id="selectDebtDetailLastRepay" resultMap="BaseResultMap" parameterType="String"  >
	    select 
	    <include refid="Base_Column_List" />
	    FROM
			ht_hjh_debt_detail
		WHERE
			order_id = #{orderId}
		AND repay_period = #{repayPeriod}
		AND status = 1
		LIMIT 1;
  </select>
  
  <select id="selectDebtDetailNoRepay" resultMap="BaseResultMap" parameterType="String"  >
	    select 
	    <include refid="Base_Column_List" />
	    FROM
			ht_hjh_debt_detail
		WHERE
			order_id = #{orderId}
		AND repay_status = 0
		AND status = 1
  </select>
  
  <update id="updateDetailDelFlagToOne">
	  	UPDATE ht_hjh_debt_detail
			SET del_flag = 1,
			loan_capital = repay_capital_wait,
			loan_interest = repay_interest_wait
		WHERE
			order_id = #{orderId};
  </update>
  <!--清算时,更新计划订单的公允价值等 -->
  <update id="updateLiquidationHjhAccede" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAccede">
	  UPDATE ht_hjh_accede
        SET
			 fair_value = #{fairValue,jdbcType=DECIMAL},
			 lqd_service_apr = #{lqdServiceApr,jdbcType=DECIMAL},
			 liquidation_fair_value = #{liquidationFairValue,jdbcType=DECIMAL},
			 lqd_progress = #{lqdProgress,jdbcType=DECIMAL}
	  WHERE
	     	 accede_order_id = #{accedeOrderId};
  </update>

	<!--计算时,更新计划订单的公允价值等 -->
	<update id="updateCalculateHjhAccede" parameterType="com.hyjf.am.trade.dao.model.auto.HjhAccede">
		UPDATE ht_hjh_accede
		SET
			fair_value = #{fairValue,jdbcType=DECIMAL},
			lqd_service_apr = #{lqdServiceApr,jdbcType=DECIMAL},
			lqd_progress = #{lqdProgress,jdbcType=DECIMAL}
		WHERE
			accede_order_id = #{accedeOrderId};
	</update>

	<!-- 检索还款日为T日（预估日）  当前有效的债权 -->
	<select id="selectDebtDetailToDate" resultMap="BaseResultMap" parameterType="String">
		select
		<include refid="Base_Column_List" />
		FROM
		ht_hjh_debt_detail
		WHERE
		repay_time
		BETWEEN UNIX_TIMESTAMP(CONCAT(#{expectTime},'00:00:00'))
		END UNIX_TIMESTAMP(CONCAT(#{expectTime},'23:59:59'))
		AND (repay_capital_wait + repay_interest_wait) <![CDATA[<]]> 10
		AND repay_status = 0
		AND del_flag = 0
		AND status = 1;
	</select>

</mapper>