<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.PoundageDetailCustomizeMapper">

    <insert id="insertTimerPoundageDetailList">
		insert into ht_poundage_detail (nid,borrow_nid,borrow_type,create_time,usernname,invite_region_name,source,amount,invite_user_id,ledger_id,ledger_time,poundage_type)
			(SELECT
						bt.nid,
						bt.borrow_nid,
						bpt.borrow_name as borrowType,
						br.create_time,
						hu.username,
						bt.invite_region_name as inviteRegionName,
						'服务费' AS source,
						truncate(bt.loan_fee * oatp.service_ratio,2) AS amount,
						bt.invite_user_id as inviteUserId,
						oatp.id as ledgerId,
						UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)) as ledgerTime,
						'投资人分账'
					FROM
						ht_borrow_tender bt
					INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
					INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
					LEFT JOIN ht_borrow_recover br ON br.borrow_nid = bt.borrow_nid
					AND br.nid = bt.nid
					LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
					LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
					INNER join (
						select od.name,hpl.id,hpl.service_ratio,hpl.project_type,hpl.source  from ht_poundage_ledger hpl
						inner join ht_r_oa_department od on od.id = hpl.investor_company_id
					where hpl.type = 1 and if(hpl.source =0,1=1,hpl.source = 1) and hpl.status=0
					) oatp on oatp.name = bt.invite_region_name
					WHERE
						(
							b.`status` in (4,5)
							OR (
								b.`status` = 3
								AND b.reverify_status &lt;> 0
							)
						)
					AND br.create_time >= CONCAT(UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),'')
					AND br.create_time &lt; CONCAT(UNIX_TIMESTAMP(curdate()),'')
					AND bt.invite_department_id IS NOT NULL
					AND bt.invite_department_id > 0
					AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type)))
					union all

					 (SELECT
							bt.nid,
							bt.borrow_nid,
							bpt.borrow_name,
							br.recover_yestime,
							hu.username,
							br.invite_region_name,
							'管理费' AS serviceName,
							truncate(br.recover_fee * oatp.manage_ratio,2) AS service_price,
							if(bt.invite_user_id =0,bt.user_id,bt.invite_user_id),
							oatp.id,
							UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
							'投资人分账'
						FROM
							ht_borrow AS b
						INNER JOIN ht_borrow_tender  AS bt ON bt.borrow_nid = b.borrow_nid
						INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
						INNER JOIN ht_borrow_recover AS br ON br.borrow_nid = b.borrow_nid and bt.user_id = br.user_id
						LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
						LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
						INNER join (
							select od.name,hpl.id,hpl.manage_ratio,hpl.project_type,hpl.source  from ht_poundage_ledger hpl
							inner join ht_r_oa_department od on od.id = hpl.investor_company_id
						where hpl.type = 1 and if(hpl.source =0,1=1,hpl.source = 3)  and hpl.status=0
					) oatp on oatp.name = bt.invite_region_name
						WHERE
						 br.recover_yestime >= CONCAT(UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),'')
						AND br.recover_yestime &lt; CONCAT(UNIX_TIMESTAMP(curdate()),'')
						AND br.recover_status = 1
						AND bt.invite_department_id IS NOT NULL
						AND bt.invite_department_id > 0
						AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type))
						AND b.borrow_style not in ('principal','month','endmonth')
						AND bt.nid not in (select credit_tender_nid from ht_credit_tender))

					union all

					(SELECT
								ct.assign_nid,
								ct.bid_nid,
								bpt.borrow_name,
								ct.create_time,
								hu.username,
								ct.invite_user_regionname,
								'债转服务费' AS serviceName,
								truncate(ct.credit_fee * oatp.credit_ratio,2) AS credit_fee,
								hui.user_id,
								oatp.id,
								UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
								'投资人分账'
							FROM
								ht_credit_tender ct
							LEFT JOIN ht_borrow b ON b.borrow_nid = ct.bid_nid
							LEFT JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
							LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
							LEFT JOIN ht_r_user hu ON hu.user_id = ct.user_id
							LEFT JOIN ht_r_user hui ON hui.username = ct.invite_user_name
							INNER join (
									select od.name,hpl.id,hpl.credit_ratio,hpl.project_type,hpl.source from ht_poundage_ledger hpl
									inner join ht_r_oa_department od on od.id = hpl.investor_company_id
								where hpl.type = 1 and if(hpl.source =0,1=1,hpl.source = 2) and hpl.status=0
							) oatp on oatp.name = ct.invite_user_regionname
							WHERE
							 ct.create_time >= UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))
							AND ct.create_time &lt; UNIX_TIMESTAMP(curdate())
							AND ct.invite_user_regionname IS NOT NULL
							AND ct.invite_user_regionname != ''
							AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type)))

					union all

					(SELECT
									hcr.assign_nid,
									hcr.bid_nid,
									bpt.borrow_name,
									hcr.assign_repay_yes_time,
									hu.username,
									ct.invite_user_regionname,
									'管理费' AS serviceName,
									truncate(hcr.manage_fee  * oatp.manage_ratio,2) AS credit_fee,
									hui.user_id,
									oatp.id,
									UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
									'投资人分账'
								FROM
									ht_credit_repay hcr
								LEFT JOIN ht_credit_tender ct ON ct.credit_nid = hcr.credit_nid and ct.user_id = hcr.user_id
								LEFT JOIN ht_borrow b ON b.borrow_nid = ct.bid_nid
								LEFT JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
								LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
								LEFT JOIN ht_r_user hu ON hu.user_id = ct.user_id
								LEFT JOIN ht_r_user hui ON hui.username = ct.invite_user_name
								INNER join (
									select od.name,hpl.id,hpl.manage_ratio,hpl.project_type,hpl.source   from ht_poundage_ledger hpl
									inner join ht_r_oa_department od on od.id = hpl.investor_company_id
									where hpl.type = 1 and if(hpl.source =0,1=1,hpl.source = 3) and hpl.status=0
								) oatp on oatp.name = ct.invite_user_regionname
								WHERE
								 hcr.assign_repay_yes_time >= UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))
								AND hcr.assign_repay_yes_time &lt; UNIX_TIMESTAMP(curdate())
								AND	hcr.`status` = 1
								AND ct.invite_user_regionname IS NOT NULL
								AND ct.invite_user_regionname != ''
								AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type))
								AND b.borrow_style not in ('principal','month','endmonth'))
			union ALL
			(SELECT
						'--',
						bt.borrow_nid,
						bpt.borrow_name as borrowType,
						br.create_time,
						'--',
						'--',
						'服务费' AS source,
						truncate(sum(bt.loan_fee) * oatp.service_ratio,2) AS amount,
						0,
						oatp.id as ledgerId,
						UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)) as ledgerTime,
						'借款人分账'
					FROM
						ht_borrow_tender bt
					INNER JOIN ht_borrow b ON bt.borrow_nid = b.borrow_nid
					INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
					LEFT JOIN ht_borrow_recover br ON br.borrow_nid = bt.borrow_nid
					AND br.nid = bt.nid
					LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
					LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
					INNER join (
						select hsc.cooperate_num,hpl.user_id,hpl.id,hpl.service_ratio,hpl.project_type,hpl.source  from ht_poundage_ledger hpl
						left join ht_sub_commission_list_config hsc on hsc.user_id = hpl.user_id
					where hpl.type = 2 and if(hpl.source =0,1=1,hpl.source = 1) and hpl.status=0
					) oatp on oatp.cooperate_num = bi.inst_code
					WHERE
						(
							b.`status` in (4,5)
							OR (
								b.`status` = 3
								AND b.reverify_status &lt;> 0
							)
						)
					AND br.create_time >= CONCAT(UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),'')
					AND br.create_time &lt; CONCAT(UNIX_TIMESTAMP(curdate()),'')
					AND bt.invite_department_id IS NOT NULL
					AND bt.invite_department_id > 0
					AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type))
			group by bt.borrow_nid,oatp.id)
			union all

			(SELECT
							'--',
							br.borrow_nid,
							bpt.borrow_name,
							br.recover_yestime,
							'--',
							'--',
							'管理费' AS serviceName,
							truncate(sum(br.recover_fee) * oatp.manage_ratio,2) AS service_price,
							0,
							oatp.id,
							UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
							'借款人分账'
						FROM
							ht_borrow AS b
						INNER JOIN ht_borrow_recover AS br ON br.borrow_nid = b.borrow_nid
						INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
						LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
						LEFT JOIN ht_r_user hu ON hu.user_id = br.user_id
					INNER join (
						select hsc.cooperate_num,hpl.user_id,hpl.id,hpl.manage_ratio,hpl.project_type,hpl.source  from ht_poundage_ledger hpl
						left join ht_sub_commission_list_config hsc on hsc.user_id = hpl.user_id
					where hpl.type = 2 and if(hpl.source =0,1=1,hpl.source = 3) and hpl.status=0
					) oatp on oatp.cooperate_num = bi.inst_code
						WHERE
						 br.recover_yestime >= CONCAT(UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),'')
						AND br.recover_yestime &lt; CONCAT(UNIX_TIMESTAMP(curdate()),'')
						AND br.recover_status = 1
						AND br.invite_department_id IS NOT NULL
						AND br.invite_department_id > 0
						AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type))
						AND b.borrow_style not in ('principal','month','endmonth')
			group by br.borrow_nid,oatp.id)

union all
	  (SELECT
							bt.nid,
							bt.borrow_nid,
							bpt.borrow_name,
							br.recover_yestime,
							hu.username,
							bt.invite_region_name,
							'管理费' AS serviceName,
							truncate((br.recover_fee_yes-br.credit_manage_fee) * oatp.manage_ratio,2) AS service_price,
							if(bt.invite_user_id =0,bt.user_id,bt.invite_user_id),
							oatp.id,
							UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
							'投资人分账'
						FROM
							ht_borrow AS b
						INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
						INNER JOIN ht_borrow_tender AS bt ON bt.borrow_nid = b.borrow_nid
						INNER JOIN ht_borrow_recover_plan AS br ON br.borrow_nid = b.borrow_nid and bt.user_id = br.user_id
						LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
						LEFT JOIN ht_r_user hu ON hu.user_id = bt.user_id
						INNER join (
							select od.name,hpl.id,hpl.manage_ratio,hpl.project_type,hpl.source  from ht_poundage_ledger hpl
							inner join ht_r_oa_department od on od.id = hpl.investor_company_id
						where hpl.type = 1 and if(hpl.source =0,1=1,hpl.source = 3)  and hpl.status=0
					) oatp on oatp.name = bt.invite_region_name
						WHERE
						 br.recover_yestime >= CONCAT(UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),'')
						AND br.recover_yestime &lt; CONCAT(UNIX_TIMESTAMP(curdate()),'')
						AND br.recover_status = 1
						AND bt.invite_department_id IS NOT NULL
						AND bt.invite_department_id > 0
						AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type)))

UNION ALL
					(SELECT
									hcr.assign_nid,
									hcr.bid_nid,
									bpt.borrow_name,
									hcr.assign_repay_yes_time,
									hu.username,
									ct.invite_user_regionname,
									'管理费' AS serviceName,
									truncate(hcr.manage_fee  * oatp.manage_ratio,2) AS credit_fee,
									if(hu1.user_id =0,ct.user_id,hu1.user_id),
									oatp.id,
									UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
									'投资人分账'
								FROM
									ht_credit_repay hcr
								LEFT JOIN ht_credit_tender ct on ct.assign_nid = hcr.assign_nid and ct.user_id = hcr.user_id
								LEFT JOIN ht_borrow b ON b.borrow_nid = hcr.bid_nid
								LEFT JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
								LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
								LEFT JOIN ht_r_user hu ON hu.user_id = ct.user_id
								LEFT JOIN ht_r_user hu1 ON hu1.username = ct.invite_user_name
								INNER join (
									select od.name,hpl.id,hpl.manage_ratio,hpl.project_type,hpl.source   from ht_poundage_ledger hpl
									inner join ht_r_oa_department od on od.id = hpl.investor_company_id
									where hpl.type = 1 and if(hpl.source =0,1=1,hpl.source = 3) and hpl.status=0
								) oatp on oatp.name = ct.invite_user_regionname
								WHERE
								 hcr.assign_repay_yes_time >= UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))
								AND hcr.assign_repay_yes_time &lt; UNIX_TIMESTAMP(curdate())
								AND	hcr.`status` = 1
								AND ct.invite_user_regionname IS NOT NULL
								AND ct.invite_user_regionname != ''
								AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type)))

union  all

					(SELECT
							'--',
							br.borrow_nid,
							bpt.borrow_name,
							br.recover_yestime,
							'--',
							'--',
							'管理费' AS serviceName,
							truncate(sum(br.recover_fee_yes) * oatp.manage_ratio,2) AS service_price,
							0,
							oatp.id,
							UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),
							'借款人分账'
						FROM
							ht_borrow AS b
						INNER JOIN ht_borrow_recover_plan AS br ON br.borrow_nid = b.borrow_nid
						INNER JOIN ht_borrow_info bi ON bi.borrow_nid = b.borrow_nid
						LEFT JOIN ht_borrow_project_type bpt ON bpt.borrow_cd = bi.project_type
						LEFT JOIN ht_r_user hu ON hu.user_id = br.user_id
					INNER join (
						select hsc.cooperate_num,hpl.user_id,hpl.id,hpl.manage_ratio,hpl.project_type,hpl.source  from ht_poundage_ledger hpl
						left join ht_sub_commission_list_config hsc on hsc.user_id = hpl.user_id
					where hpl.type = 2 and if(hpl.source =0,1=1,hpl.source = 3) and hpl.status=0
					) oatp on oatp.cooperate_num = bi.inst_code
						WHERE
						 br.recover_yestime >= CONCAT(UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)),'')
						AND br.recover_yestime &lt; CONCAT(UNIX_TIMESTAMP(curdate()),'')
						AND br.recover_status = 1
						AND br.invite_department_id IS NOT NULL
						AND br.invite_department_id > 0
						AND (oatp.project_type = 0 or FIND_IN_SET(bpt.id,oatp.project_type))
			group by br.borrow_nid,oatp.id)
    </insert>

    <insert id="insertTimerPoundageList">
    	insert into ht_poundage (user_id,amount,quantity,poundage_time,status,create_time,ledger_id)
		SELECT
				hpl.user_id,
			(select sum(hpd.amount) from ht_poundage_detail hpd where hpd.ledger_id = hpl.id
			and hpd.ledger_time = UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))) as amount,
			(select count(hpd.id) from ht_poundage_detail hpd where hpd.ledger_id = hpl.id
			and hpd.ledger_time = UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))) as quantity,
			UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day)) as poundage_time,
			0 as status,
			unix_timestamp(now()) as create_time,
			hpl.id
			FROM
				ht_poundage_ledger hpl
			left join ht_r_user hu on hu.username = hpl.username
			where  hpl.status=0 and
			(select sum(hpd.amount) from ht_poundage_detail hpd where hpd.ledger_id = hpl.id
			and hpd.ledger_time = UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))) is not null
            and (select sum(hpd.amount) from ht_poundage_detail hpd where hpd.ledger_id = hpl.id
			and hpd.ledger_time = UNIX_TIMESTAMP(date_sub(curdate(),interval 1 day))) != 0

    </insert>


</mapper>

