<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.RepayManageCustomizeMapper">
   <resultMap id="repayListResultMap" type="com.hyjf.am.vo.trade.repay.RepayListCustomizeVO" >
	   <id column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
	   <result column="project_type" property="projectType" jdbcType="VARCHAR" />
	   <result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
	   <result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
	   <result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
	   <result column="borrow_interest" property="borrowInterest" jdbcType="VARCHAR" />
	   <result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
	   <result column="com_or_per" property="comOrPer" jdbcType="VARCHAR" />
	   <result column="loan_time" property="loanTime" jdbcType="VARCHAR" />
	   <result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
	   <result column="borrow_total" property="borrowTotal" jdbcType="VARCHAR" />
	   <result column="repay_time" property="repayTime" jdbcType="VARCHAR" />
	   <result column="repay_status" property="status" jdbcType="VARCHAR" />
	   <result column="borrow_asset_number" property="borrowAssetNumber" jdbcType="VARCHAR" />
	   <result column="repay_money_source" property="repayMoneySource" jdbcType="VARCHAR" />
	   <result column="action_time" property="repayActionTime" jdbcType="VARCHAR" />
	   <result column="capital_yes" property="repayTotal" jdbcType="VARCHAR" />
	   <result column="account_yes" property="accountTotal" jdbcType="VARCHAR" />
	   <result column="repay_period" property="repayPeriod" jdbcType="VARCHAR" />
	   <result column="repay_total" property="repayTotal" jdbcType="VARCHAR" />
	   <result column="repayYesTime" property="repayYesTime" jdbcType="VARCHAR" />
	   <result column="repay_fee" property="repayFee" jdbcType="VARCHAR" />
	   <result column="borrow_all_period" property="borrowAllPeriod" jdbcType="VARCHAR" />
	   <result column="suc_amount" property="yesAccount" jdbcType="VARCHAR" />
	   <result column="suc_time" property="yesAccountTime" jdbcType="VARCHAR" />
	   <result column="real_account_yes" property="realAccountYes" jdbcType="VARCHAR" />
	   <result column="all_repay_fee" property="allRepayFee" jdbcType="VARCHAR" />
	   <result column="batch_service_fee" property="serviceFee" jdbcType="VARCHAR" />
	   <result column="plan_nid" property="planNid" jdbcType="VARCHAR" />
	   <result column="current_period" property="currentPeriod" jdbcType="VARCHAR" />
	   <result column="borrow_period_int" property="borrowPeriodInt" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectRepayList" resultMap="repayListResultMap" parameterType="java.util.Map">
		SELECT
		hbap.suc_amount,
		hbap.batch_service_fee,
		DATE_FORMAT(
		hbap.update_time,
		'%Y-%m-%d'
		) AS suc_time,
		hydb.borrow_nid,
		hbi.`name` AS borrow_name,
		hydbpt.borrow_name AS project_type_name,
		hbi.project_type,
		hydb.borrow_style,
		hydb.borrow_apr AS borrow_interest,
		hbi.borrow_asset_number AS borrow_asset_number,
		CASE
		WHEN hydb.borrow_style = 'endday' THEN
		CONCAT(hydb.borrow_period, '天')
		ELSE
		CONCAT(
		hydb.borrow_period,
		'个月'
		)
		END AS borrow_period,
		hydb.borrow_period AS borrow_period_int,
		hbi.company_or_personal AS com_or_per,
		FROM_UNIXTIME(
		hydb.verify_time,
		'%Y-%m-%d'
		) AS loan_time,
		hydb.account AS borrow_account,

		IF (
		hydb.`status` = 5,
		hydb.repay_account_yes,
		hydb.repay_account_all
		) AS borrow_total,
		CASE
		WHEN (
		hydb.`status` = 4
		AND hydb.repay_full_status = 0
		) THEN
		CASE
		WHEN EXISTS (
		SELECT
		1
		FROM
		ht_borrow_apicron hydba
		WHERE
		hydba.borrow_nid = hydb.borrow_nid
		AND hydba.api_type = 1
		AND hydba.`status` <![CDATA[<>]]> 6
		) THEN
		'2'
		ELSE
		'0'
		END
		WHEN (hydb.`status` = 5) THEN
		'1'
		ELSE
		''
		END AS `repay_status`,
		FROM_UNIXTIME(
		hydbr.repay_time,
		'%Y-%m-%d'
		) AS repay_time,
		hba.is_repay_org_flag AS repay_money_source,
		FROM_UNIXTIME(
		hydbr.repay_action_time,
		'%Y-%m-%d'
		) AS action_time,
		hydbr.repay_capital_yes AS capital_yes,
		hydbr.repay_account_yes AS account_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_account
		ELSE
		plan.repay_account
		END AS real_account_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_fee
		ELSE
		plan.repay_fee
		END AS repay_fee,
		hydbr.repay_fee AS all_repay_fee,
		hydb.plan_nid,
		CASE WHEN hydb.borrow_style in ('endday','end')
		THEN 1
		ELSE hydb.borrow_period - hydbr.repay_period + 1
		END AS current_period
		FROM
		ht_borrow hydb
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hbi.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid
		AND hba.api_type = 1
		AND hba.`status` <![CDATA[<>]]> 6
		AND CASE WHEN hydb.borrow_style in ('endday','end')
		THEN hba.period_now = 1
		ELSE hba.period_now = (hydb.borrow_period - hydbr.repay_period + 1)
		END
		LEFT JOIN ht_borrow_apicron hbap ON hbap.borrow_nid = hydb.borrow_nid
		AND hbap.api_type = 0
		AND hbap.`status` = 6
		LEFT JOIN ht_borrow_repay_plan plan ON plan.borrow_nid = hydb.borrow_nid
		AND plan.repay_period = (
		hydb.borrow_period - hydbr.repay_period + 1
		)
		<include refid="Where_Clause_Repay_List" />
		ORDER BY
		<include refid="Where_order_Repay" />
		<if test="limitStart != null and limitEnd !=null and limitStart != -1 and limitEnd !=-1" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
    </select>
	<select id="selectRepayCount" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(hydb.borrow_nid) AS total
		FROM
		ht_borrow hydb
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hbi.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid AND hba.api_type = 1 AND hba.`status` <![CDATA[<>]]> 6
		<include refid="Where_Clause_Repay_List" />
	</select>
	<sql id="Where_Clause_Repay_List">
		<where>
			(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
			AND hydb.user_id = #{userId,jdbcType=VARCHAR}
			<if test="status == null or status =='' ">
				AND (( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				OR ( hydb.`status` = 5))
			</if>
			<if test="status != null and status !=''">
				<if test="status == '0'.toString()">
					AND ( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				</if>
				<if test="status == '1'.toString()">
					AND ( hydb.`status` = 5 )
				</if>
			</if>

			<if test="startDate != null and startDate != ''">
				AND hydbr.repay_time <![CDATA[>=]]> unix_timestamp(CONCAT(#{startDate,jdbcType=VARCHAR},' 0:0:0'))
			</if>
			<if test="endDate != null and endDate != ''">
				AND hydbr.repay_time <![CDATA[<=]]> unix_timestamp(CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59'))
			</if>

			<if test="borrowNid != null and borrowNid !=''">
				AND hydbr.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
			</if>
		</where>
	</sql>
	<sql id="Where_order_Repay">

		<if test="(repayTimeOrder == null or repayTimeOrder =='') and (checkTimeOrder == null or checkTimeOrder =='')">
			repay_status,hydbr.repay_time
		</if>
		<if test="repayTimeOrder != null and repayTimeOrder !=''">
			hydbr.repay_time
			<if test="repayTimeOrder == '1'.toString()">
				DESC
			</if>
		</if>
		<if test="checkTimeOrder != null and checkTimeOrder !=''">
			hbap.update_time
			<if test="checkTimeOrder == '1'.toString()">
				DESC
			</if>
		</if>
	</sql>

	<select id="selectOrgRepayList" resultMap="repayListResultMap" parameterType="Map">
		SELECT
		hydb.borrow_nid,
		hbi.`name` AS borrow_name,
		hydbpt.borrow_name AS project_type,
		hydb.borrow_style,
		hydb.borrow_apr AS borrow_interest,
		hbi.borrow_asset_number AS borrow_asset_number,
		CASE
		WHEN hydb.borrow_style = 'endday' THEN
		CONCAT(hydb.borrow_period, '天')
		ELSE
		CONCAT(
		hydb.borrow_period,
		'个月'
		)
		END AS borrow_period,
        hydb.borrow_period AS borrow_period_int,
		hbi.company_or_personal AS com_or_per,
		FROM_UNIXTIME(
		hydb.verify_time,
		'%Y-%m-%d'
		) AS loan_time,
		hydb.account AS borrow_account,
		hydb.repay_account_all AS borrow_total,
		CASE
		WHEN (
		hydb.`status` = 4
		AND hydb.repay_full_status = 0
		) THEN
		CASE
		WHEN EXISTS (
		SELECT
		1
		FROM
		ht_borrow_apicron hydba
		WHERE
		hydba.borrow_nid = hydb.borrow_nid
		AND hydba.api_type = 1
		AND hydba. STATUS <![CDATA[<>]]> 6
		) THEN
		'2'
		ELSE
		'0'
		END
		WHEN (hydb.`status` = 5) THEN
		'1'
		ELSE
		''
		END AS `repay_status`,
		FROM_UNIXTIME(
		hydbr.repay_time,
		'%Y-%m-%d'
		) AS repay_time,
		FROM_UNIXTIME(
		hydbr.repay_action_time,
		'%Y-%m-%d'
		) AS action_time,
		hba.is_repay_org_flag AS repay_money_source,
		hydbr.repay_capital_yes AS capital_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_account
		ELSE
		plan.repay_account
		END AS account_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_account
		ELSE
		plan.repay_account
		END AS real_account_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_fee
		ELSE
		plan.repay_fee
		END AS repay_fee,
		hydbr.repay_fee AS all_repay_fee,
		hydbr.repay_period,
		hydb.borrow_period AS borrow_all_period,
		CASE
		WHEN hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end' THEN
		FROM_UNIXTIME(
		hydbr.repay_time,
		'%Y-%m-%d'
		)
		ELSE
		FROM_UNIXTIME(plan.repay_time, '%Y-%m-%d')
		END AS repayYesTime,
		CASE WHEN hydb.borrow_style in ('endday','end')
		THEN 1
		ELSE hydb.borrow_period - hydbr.repay_period + 1
		END AS current_period
		FROM
		ht_borrow hydb
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_r_user u ON hbi.repay_org_user_id = u.user_id
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hbi.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid
		AND hba.api_type = 1
		AND hba.`status` <![CDATA[<>]]> 6
		AND CASE WHEN hydb.borrow_style in ('endday','end')
		THEN hba.period_now = 1
		ELSE hba.period_now = (hydb.borrow_period - hydbr.repay_period + 1)
		END
		LEFT JOIN ht_borrow_repay_plan plan ON plan.borrow_nid = hydb.borrow_nid
		AND plan.repay_period = (
		hydb.borrow_period - hydbr.repay_period + 1
		)
		<if test="repayStatus != null and repayStatus != ''">
            LEFT JOIN
            (select orgLog.del_flag,orgLog.borrow_nid from ht_bank_repay_org_freeze_log orgLog inner join ht_borrow hb ON orgLog.borrow_nid = hb.borrow_nid
            AND orgLog.del_flag = 0 union all
            select borLog.del_flag,borLog.borrow_nid from ht_bank_repay_freeze_log borLog inner join ht_borrow hb ON borLog.borrow_nid = hb.borrow_nid
            AND borLog.del_flag = 0
            ) log on log.borrow_nid = hydb.borrow_nid
        </if>
		<include refid="Where_Clause_Repay_Org_List" />
		ORDER BY hydbr.repay_status, hydbr.repay_time
		<if test="repayTimeOrder == 1" >
			DESC
		</if>
		<if test="limitStart != null and limitEnd !=null and limitStart != -1 and limitEnd !=-1" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectOrgRepayCount" resultType="java.lang.Integer" parameterType="Map">
		SELECT
		COUNT(hydb.borrow_nid) AS total
		FROM
		ht_borrow hydb
		LEFT JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid AND hba.api_type = 1 AND hba.`status` <![CDATA[<>]]> 6
		AND CASE WHEN hydb.borrow_style in ('endday','end')
		THEN hba.period_now = 1
		ELSE hba.period_now = (hydb.borrow_period - hydbr.repay_period + 1)
		END
		<if test="repayStatus != null and repayStatus != ''">
			LEFT JOIN
			(select orgLog.del_flag,orgLog.borrow_nid from ht_bank_repay_org_freeze_log orgLog inner join ht_borrow hb ON orgLog.borrow_nid = hb.borrow_nid
			AND orgLog.del_flag = 0 union all
			select borLog.del_flag,borLog.borrow_nid from ht_bank_repay_freeze_log borLog inner join ht_borrow hb ON borLog.borrow_nid = hb.borrow_nid
			AND borLog.del_flag = 0
			) log on log.borrow_nid = hydb.borrow_nid
		</if>
		<include refid="Where_Clause_Repay_Org_List" />
	</select>
	<sql id="Where_Clause_Repay_Org_List">
		<where>
			(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
			AND hbi.repay_org_user_id = #{userId,jdbcType=VARCHAR}
			<if test="status == null or status =='' ">
				AND (( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				OR ( hydb.`status` = 5))
			</if>
			<if test="status != null and status !=''">
				<if test="status == '0'.toString()">
					AND ( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				</if>
				<if test="status == '1'.toString()">
					AND ( hydb.`status` = 5 )
				</if>
			</if>
			<if test="startDate != null and startDate != ''">
				AND hydbr.repay_time <![CDATA[>=]]> unix_timestamp(CONCAT(#{startDate},' 0:0:0'))
			</if>
			<if test="endDate != null and endDate != ''">
				AND hydbr.repay_time <![CDATA[<=]]> unix_timestamp(CONCAT(#{endDate,jdbcType=VARCHAR},' 23:59:59'))
			</if>

			<if test="repayStatus != null and repayStatus != ''">
				AND hba.id is null
				AND log.del_flag is null
			</if>

			<if test="borrowNid != null and borrowNid !=''">
				AND hydbr.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
			</if>
		</where>
	</sql>

	<select id="searchOrgRepayedList" resultMap="repayListResultMap" parameterType="Map">
		SELECT
		hydb.borrow_nid,
		hbi.`name` AS borrow_name,
		hydbpt.borrow_name AS project_type,
		hydb.borrow_style,
		hydb.borrow_apr AS borrow_interest,
		FROM_UNIXTIME(
		hydbr.repay_time,
		'%Y-%m-%d'
		) AS repay_time,
		CASE WHEN hba.is_repay_org_flag = 1 THEN '机构垫付' ELSE '借款人还款' END AS repay_money_source,
		FROM_UNIXTIME(
		hydbr.repay_action_time,
		'%Y-%m-%d'
		) AS action_time,
		hydbr.repay_capital_yes AS capital_yes,
		hydbr.repay_account_yes AS account_yes,
		hba.period_now AS repay_period,
		hba.batch_amount AS repay_total,
		CASE WHEN hydb.borrow_style = 'endday' or hydb.borrow_style = 'end' THEN FROM_UNIXTIME(hydbr.repay_time,'%Y-%m-%d')
		ELSE FROM_UNIXTIME(hbrp.repay_time,'%Y-%m-%d') END AS repayYesTime,
        hydb.borrow_period AS borrow_period_int,
		CASE WHEN hydb.borrow_style in ('endday','end')
		THEN 1
		ELSE hydb.borrow_period - hydbr.repay_period + 1
		END AS current_period
		FROM
		ht_borrow_apicron hba
		INNER JOIN ht_borrow hydb ON hba.borrow_nid = hydb.borrow_nid
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_repay_plan hbrp ON hbrp.borrow_nid = hydb.borrow_nid AND hba.period_now = hbrp.repay_period
		<where>
			hba.status = 6
			AND hba.api_type = 1
			AND hbi.repay_org_user_id = #{userId}
			<if test="startDate != null and startDate != ''">
				AND hydbr.repay_time <![CDATA[>=]]> unix_timestamp(#{startDate,jdbcType=VARCHAR})
			</if>
			<if test="endDate != null and endDate != ''">
				AND hydbr.repay_time <![CDATA[<=]]> unix_timestamp(#{endDate,jdbcType=VARCHAR})
			</if>
			<if test="borrowNid != null and borrowNid !=''">
				AND hydbr.borrow_nid like CONCAT('%', #{borrowNid}, '%')
			</if>
		</where>
		ORDER BY hba.create_time
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<select id="selectOrgRepayedCount" resultType="java.lang.Integer" parameterType="Map">
		SELECT
			count(hba.id) as total
        FROM
		ht_borrow_apicron hba
		INNER JOIN ht_borrow hydb ON hba.borrow_nid = hydb.borrow_nid
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_repay_plan hbrp ON hbrp.borrow_nid = hydb.borrow_nid AND hba.period_now = hbrp.repay_period
		<where>
			hba.status = 6
			AND hba.api_type = 1
			AND hbi.repay_org_user_id = #{userId}
			<if test="startDate != null and startDate != ''">
				AND hydbr.repay_time <![CDATA[>=]]> unix_timestamp(#{startDate,jdbcType=VARCHAR})
			</if>
			<if test="endDate != null and endDate != ''">
				AND hydbr.repay_time <![CDATA[<=]]> unix_timestamp(#{endDate,jdbcType=VARCHAR})
			</if>
			<if test="borrowNid != null and borrowNid !=''">
				AND hydbr.borrow_nid like CONCAT('%', #{borrowNid}, '%')
			</if>
		</where>
	</select>

	<select id="selectUserRepayFeeWaitTotal" resultType="java.math.BigDecimal" parameterType="Map">
		SELECT
		IFNULL(SUM(IFNULL(hydbr.repay_fee,0)),0) AS all_repay_fee
		FROM
		ht_borrow hydb
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		where
		(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
		AND hydb.user_id = #{userId,jdbcType=VARCHAR}
		AND ( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
	</select>
	<select id="selectOrgRepayFeeWaitTotal" resultType="java.math.BigDecimal" parameterType="Map">
		SELECT
		hydbr.repay_fee AS all_repay_fee,
		FROM
		ht_borrow hydb
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_users u ON hbi.repay_org_user_id= u.user_id
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		WHERE
		(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
		AND hbi.repay_org_user_id = #{userId,jdbcType=VARCHAR}
		AND ( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
	</select>
	<!-- 待垫付总额 -->
	<select id="selectRepayOrgRepaywait" resultType="Map" parameterType="java.lang.Integer">
		SELECT
		IF (
			sum(b.repay_account_wait) IS NULL,
			0,
			sum(b.repay_account_wait)
		) AS repay_account_wait,
		IF (
			sum(b.repay_account_interest_wait) IS NULL,
			0,
			sum(b.repay_account_interest_wait)
		) AS repay_account_interest_wait,
		IF (
			sum(b.repay_account_capital_wait) IS NULL,
			0,
			sum(b.repay_account_capital_wait)
		) AS repay_account_capital_wait
		FROM
			ht_borrow b
		INNER JOIN ht_borrow_info hbi ON b.borrow_nid = hbi.borrow_nid
		WHERE
			b.`status` = 4
		AND hbi.repay_org_user_id = #{userId}
	</select>

	<select id="selectOrgRepayWaitTotal" resultType="DECIMAL" parameterType="Map">
		SELECT
			sum(
			CASE
			WHEN (
			hydb.borrow_style = 'endday'
			OR hydb.borrow_style = 'end'
			) THEN
			hydbr.repay_account
			ELSE
			plan.repay_account
			END + CASE
			WHEN (
			hydb.borrow_style = 'endday'
			OR hydb.borrow_style = 'end'
			) THEN
			hydbr.repay_fee
			ELSE
			plan.repay_fee
			END
			) AS waitTotal
		FROM
		ht_borrow hydb
		INNER JOIN ht_borrow_info hbi ON hydb.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_r_user u ON hbi.repay_org_user_id = u.user_id
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hbi.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid
		AND hba.api_type = 1
		AND hba.`status` <![CDATA[<>]]> 6
		AND CASE WHEN hydb.borrow_style in ('endday','end')
		THEN hba.period_now = 1
		ELSE hba.period_now = (hydb.borrow_period - hydbr.repay_period + 1)
		END
		LEFT JOIN ht_borrow_repay_plan plan ON plan.borrow_nid = hydb.borrow_nid
		AND plan.repay_period = (
		hydb.borrow_period - hydbr.repay_period + 1
		)
		<if test="repayStatus != null and repayStatus != ''">
			LEFT JOIN
			(select orgLog.del_flag,orgLog.borrow_nid from ht_bank_repay_org_freeze_log orgLog inner join ht_borrow hb ON orgLog.borrow_nid = hb.borrow_nid
			AND orgLog.del_flag = 0 union all
			select borLog.del_flag,borLog.borrow_nid from ht_bank_repay_freeze_log borLog inner join ht_borrow hb ON borLog.borrow_nid = hb.borrow_nid
			AND borLog.del_flag = 0
			) log on log.borrow_nid = hydb.borrow_nid
		</if>
		<include refid="Where_Clause_Repay_Org_List" />
	</select>

    <select id="selectUserBorrowAccountTotal" resultType="java.math.BigDecimal" parameterType="Map">
		SELECT
		IFNULL(SUM(IFNULL(hydb.account,0)),0) AS accountTotal
		FROM
		ht_borrow hydb
		where
		 hydb.user_id = #{userId,jdbcType=VARCHAR}
	</select>

	<resultMap id="repayPlanListResultMap" type="com.hyjf.am.vo.trade.repay.RepayPlanListVO" >
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="repay_time" property="repayTime" jdbcType="VARCHAR" />
		<result column="repay_capital" property="repayCapital" jdbcType="VARCHAR" />
		<result column="repay_interest" property="repayInterest" jdbcType="VARCHAR" />
		<result column="repay_fee" property="repayFee" jdbcType="VARCHAR" />
		<result column="repay_account_yes" property="repayAccountYes" jdbcType="VARCHAR" />
		<result column="repay_yestime" property="repayYestime" jdbcType="VARCHAR" />
		<result column="period" property="period" jdbcType="VARCHAR" />
		<result column="repay_status" property="repayStatus" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 还款期次列表 -->
	<select id="selectRepayPlanList" resultMap="repayPlanListResultMap" parameterType="Map">
		SELECT
			plan.borrow_nid,
			FROM_UNIXTIME(plan.repay_time, '%Y-%m-%d') AS repay_time,
			plan.repay_capital,
			plan.repay_interest,
			plan.repay_fee,
			plan.repay_account_yes,
			IFNULL(FROM_UNIXTIME(
				IF(plan.repay_yestime=0,null,plan.repay_yestime),
				'%Y-%m-%d'
			),'') AS repay_yestime,
		  CONCAT(plan.repay_period,'/',b.borrow_period) AS period,
			IF(plan.repay_status=0,'未还款','已还款') AS repay_status
		FROM
			ht_borrow_repay_plan plan
		JOIN ht_borrow b ON plan.borrow_nid = b.borrow_nid
		WHERE plan.borrow_nid = #{borrowNid}
	</select>
</mapper>