<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.TenderCreditCustomizeMapper">

	<!-- 获取可转让的投资返回MAP -->
	<resultMap id="selectBorrowRecoverListMap" type="com.hyjf.am.trade.dao.model.customize.TenderCreditCustomize">
		<!-- 借款标题 -->
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<!-- 借款编号 -->
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<!-- 项目类型 -->
		<result column="borrow_type" property="borrowType" jdbcType="VARCHAR" />
		<!-- 年化收益 -->
		<result column="borrow_apr" property="borrowApr" jdbcType="VARCHAR" />
		<!-- 借款总金额 -->
		<result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
		<!-- 还款方式 -->
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<!-- 投资时间 -->
		<result column="tender_time" property="tenderTime" jdbcType="VARCHAR" />
		<!-- 投资订单号 -->
		<result column="tender_nid" property="tenderNid" jdbcType="VARCHAR" />
		<!-- 投资本金 -->
		<result column="invest_account" property="investAccount" jdbcType="VARCHAR" />
		<!-- 债转本金 -->
		<result column="credit_account" property="creditAccount" jdbcType="VARCHAR" />
		<!-- 最后还款时间 -->
		<result column="repay_last_time" property="repayLastTime" jdbcType="VARCHAR" />
		<!-- 剩余天数 -->
		<result column="last_days" property="lastDays" jdbcType="VARCHAR" />
		<!-- 融资期限 -->
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<!-- 持有期限 -->
		<result column="tender_period" property="tenderPeriod" jdbcType="VARCHAR" />
		<!-- 时间 -->
		<result column="recover_time" property="recoverTime" jdbcType="VARCHAR" />
		<!-- 当前期数 -->
		<result column="period_now" property="periodNow" jdbcType="VARCHAR" />
		<!-- 还款方式名 -->
		<result column="borrow_style_name" property="borrowStyleName" jdbcType="VARCHAR" />
		
	</resultMap>
	<!-- 获取可转让的投资查询条件 -->
	<sql id="TenderToCredit_Where_Clause">
		<where>
			<if test="borrowNid != null and borrowNid != ''">
				AND hbr.borrow_nid = #{borrowNid}
			</if>
			<if test="tenderNid != null and tenderNid != ''">
				AND hbr.nid = #{tenderNid}
			</if>
			AND	hbr.recover_status = 0
			AND hb.project_type != 8
			AND hb.project_type != 13
			AND hb.plan_nid IS NULL
			AND bi.inst_code = 10000000
			AND hb.repay_last_time <![CDATA[>=]]> (#{nowTime} + 24 * 3600 * 30)
			AND hb.borrow_style != 'month'
			AND hb.borrow_style != 'principal'
			<!-- AND bi.advance_status != 3 -->
			AND hbr.delay_days = 0
			AND hbr.credit_time <![CDATA[<=]]> (#{nowTime} - 3600 * 24 * 3)
			AND hbr.recover_capital <![CDATA[>=]]> 1000
			AND (hbr.recover_capital-credit_amount) <![CDATA[>=]]> 1000
			AND hbr.create_time <![CDATA[<=]]> (#{nowTime} - 3600 * 24 * 30) 
			AND hbr.recover_time <![CDATA[>=]]> (#{nowTime} + 24 * 3600 * 3)
			AND hbr.create_time <![CDATA[<=]]> (#{nowTime} - 24 * 3600 * 3)
			AND CAST(IFNULL(hbr.repay_orddate,0) AS SIGNED)  <![CDATA[<]]> FROM_UNIXTIME((#{nowTime} - 24 * 3600 * 3),'%Y%m%d')
			AND hbr.user_id = #{userId}
			<!-- 分期标提前还款该月不允许债转 -->
			AND (
				CASE
				WHEN hb.borrow_style = 'endmonth' THEN
					(
						SELECT
							hbrp.recover_status AS recoverPlanStatus
						FROM
							ht_borrow_recover_plan hbrp
						WHERE
							hbrp.borrow_nid = hbr.borrow_nid
						AND hbrp.tender_id = hbr.tender_id
						AND hbrp.recover_period = (
							hb.borrow_period - hbr.recover_period + 1
						)
					)
				ELSE
					(hbr.recover_status)
				END
			)<![CDATA[<>]]>1
		</where>
	</sql>
	<!-- 获取可转让的投资列表 -->
	<select id="selectTenderToCreditList" resultMap="selectBorrowRecoverListMap" parameterType="java.util.Map">
	  SELECT * FROM 
		(SELECT
			hb.name AS borrow_name,
			hb.borrow_nid AS borrow_nid,
			hb.project_type AS borrow_type,
			hb.borrow_apr AS borrow_apr,
			hb.account AS borrow_account,
			CASE WHEN hb.borrow_style = 'endday' THEN CONCAT(hb.borrow_period, '天') ELSE CONCAT(hb.borrow_period, '个月') END borrow_period,
			hb.borrow_style AS borrow_style,
			CASE WHEN hb.borrow_style = 'endday' OR hb.borrow_style = 'end' THEN 1
			WHEN hb.borrow_style = 'endmonth' THEN hb.borrow_period - hbr.recover_period END AS period_now,
			bs.`name` AS borrow_style_name,
			hbr.recover_time AS recover_time,
			(DATEDIFF(
				FROM_UNIXTIME(
					CAST(#{nowTime} AS SIGNED),
					'%Y-%m-%d 00:00:00'
				),
				FROM_UNIXTIME(hb.recover_last_time, '%Y-%m-%d 00:00:00')
			)) AS tender_period,
			FROM_UNIXTIME( IFNULL(ht.addtime,0), '%Y-%m-%d %H:%i:%s' ) AS tender_time,
			hbr.nid AS tender_nid,
			hbr.recover_capital AS invest_account,
			(
				IFNULL(hbr.recover_capital, 0) - IFNULL(hbr.recover_capital_yes, 0) - IFNULL(hbr.credit_amount, 0)
			) AS credit_account,
			FROM_UNIXTIME(
				CAST(hb.repay_last_time AS SIGNED),
				'%Y-%m-%d'
			) AS repay_last_time,
			(DATEDIFF(
				FROM_UNIXTIME(
					CAST(hb.repay_last_time AS SIGNED),
					'%Y-%m-%d 00:00:00'
				),
				FROM_UNIXTIME(#{nowTime}, '%Y-%m-%d 00:00:00')
			)) AS last_days
		FROM
			ht_borrow_recover hbr
		LEFT JOIN ht_borrow_tender ht ON ht.borrow_nid = hbr.borrow_nid AND ht.nid = hbr.nid
		LEFT JOIN ht_borrow hb ON hbr.borrow_nid = hb.borrow_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = hb.borrow_style
		<include refid="TenderToCredit_Where_Clause" />
		) t1 
		<if test="tenderTimeSort != null and tenderTimeSort != ''">
			ORDER BY tender_time ${tenderTimeSort}
		</if>
		<if test="creditAccountSort != null and creditAccountSort != ''">
			ORDER BY credit_account ${creditAccountSort}
		</if>
		<if test="tenderPeriodSort != null and tenderPeriodSort != ''">
			ORDER BY tender_period ${tenderPeriodSort}
		</if>
		<if test="remainDaysSort != null and remainDaysSort != ''">
			ORDER BY last_days ${remainDaysSort}
		</if>
		
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	<!-- 获取可转让的投资列表总数 -->
	<select id="countTenderToCredit" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			 COUNT(hbr.nid) AS total
		FROM
			ht_borrow_recover hbr
		LEFT JOIN ht_borrow hb ON hbr.borrow_nid = hb.borrow_nid
		<include refid="TenderToCredit_Where_Clause" /> 
	</select>
	
	<!-- 统计可转让本金和 -->
	<select id="selectCanCreditMoneyTotal" resultType="java.math.BigDecimal" parameterType="java.util.Map">
		SELECT
			IFNULL(SUM(
				IFNULL(hbr.recover_capital, 0) - IFNULL(hbr.recover_capital_yes, 0) - IFNULL(hbr.credit_amount, 0)
			),0) AS credit_account
		FROM
			ht_borrow_recover hbr
		LEFT JOIN ht_borrow_tender ht ON ht.borrow_nid = hbr.borrow_nid AND ht.nid = hbr.nid
		LEFT JOIN ht_borrow hb ON hbr.borrow_nid = hb.borrow_nid
		LEFT JOIN ht_borrow_info bi ON bi.borrow_nid = hb.borrow_nid
		<include refid="TenderToCredit_Where_Clause" />
	</select>
	
	<!-- 统计转让中本金和 -->
	<select id="selectInCreditMoneyTotal" resultType="java.math.BigDecimal" parameterType="java.util.Map">
	  	select 
	      IFNULL(SUM(IFNULL(credit_capital,0)),0) AS credit_capital
	    from ht_borrow_credit INNER JOIN ht_borrow ON ht_borrow_credit.bid_nid = ht_borrow.borrow_nid
	    INNER JOIN ht_borrow_style hbs ON ht_borrow.borrow_style = hbs.nid
	    LEFT JOIN ht_borrow_tender hbt ON ht_borrow_credit.bid_nid = hbt.borrow_nid AND ht_borrow_credit.tender_nid = hbt.nid
	    <where>
	    	credit_status = 0 
			<if test="userId != null and userId != '' and userId != 0">
				AND credit_user_id = #{userId}
			</if>
		</where>

	</select>
	
	<!-- 统计已转让本金和 -->
	<select id="selectCreditSuccessMoneyTotal" resultType="java.math.BigDecimal" parameterType="java.util.Map">
	  	select 
	      IFNULL(SUM(IFNULL(credit_capital_assigned,0)),0) AS credit_capital
	    from ht_borrow_credit INNER JOIN ht_borrow ON ht_borrow_credit.bid_nid = ht_borrow.borrow_nid
	    INNER JOIN ht_borrow_style hbs ON ht_borrow.borrow_style = hbs.nid
	    LEFT JOIN ht_borrow_tender hbt ON ht_borrow_credit.bid_nid = hbt.borrow_nid AND ht_borrow_credit.tender_nid = hbt.nid
	    <where>
	    	1=1
			<if test="userId != null and userId != '' and userId != 0">
				AND credit_user_id = #{userId}
			</if>
		</where>

	</select>
	
	<!-- 获取投资人当天债转的条数 -->
	<select id="tenderAbleToCredit" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
			COUNT(hbc.credit_id)
		FROM
			ht_borrow_credit hbc
		<where>
			<if test="userId != null and userId != '' and userId != 0">
				AND hbc.credit_user_id = #{userId}
			</if>
			<if test="nowDate != null and nowDate != '' and nowDate !=0">
				AND hbc.create_date = #{nowDate}
			</if>
		</where>
	</select>

	<resultMap id="CreditBaseResultMap" type="com.hyjf.am.trade.dao.model.customize.TenderCreditDetailCustomize" >
	    <id column="credit_id" property="creditId" />
	    <result column="credit_nid" property="creditNid" />
	    <result column="credit_user_id" property="creditUserId" />
	    <result column="bid_nid" property="bidNid" />
	    <result column="bid_apr" property="bidApr" />
	    <result column="bid_name" property="bidName" />
	    <result column="borrow_style" property="borrowStyle" />
	    <result column="borrow_style_name" property="borrowStyleName" />
	    <result column="tender_nid" property="tenderNid" />
	    <result column="credit_status" property="creditStatus" />
	    <result column="credit_order" property="creditOrder" />
	    <result column="credit_period" property="creditPeriod" />
	    <result column="credit_term" property="creditTerm" />
	    <result column="credit_capital" property="creditCapital" />
	    <result column="credit_account" property="creditAccount" />
	    <result column="credit_interest" property="creditInterest" />
	    <result column="credit_interest_advance" property="creditInterestAdvance" />
	    <result column="credit_discount" property="creditDiscount" />
	    <result column="credit_income" property="creditIncome" />
	    <result column="credit_fee" property="creditFee" />
	    <result column="credit_price" property="creditPrice" />
	    <result column="credit_capital_assigned" property="creditCapitalAssigned" />
	    <result column="credit_interest_assigned" property="creditInterestAssigned" />
	    <result column="credit_repay_account" property="creditRepayAccount" />
	    <result column="credit_repay_capital" property="creditRepayCapital" />
	    <result column="credit_repay_interest" property="creditRepayInterest" />
	    <result column="credit_repay_end_time" property="creditRepayEndTime" />
	    <result column="credit_repay_last_time" property="creditRepayLastTime" />
	    <result column="credit_repay_next_time" property="creditRepayNextTime" />
	    <result column="credit_repay_yes_time" property="creditRepayYesTime" />
	    <result column="create_date" property="createDate" />
	    <result column="add_time" property="addTime" />
	    <result column="add_time_int" property="addTimeInt" />
	    <result column="end_time" property="endTime" />
	    <result column="assign_time" property="assignTime" />
	    <result column="assign_num" property="assignNum" />
	    <result column="recover_period" property="recoverPeriod" />
	    <result column="credit_inProgress" property="creditInProgress" />
	    <result column="tenderTime" property="tenderTime" />
	    <result column="tender_period" property="tenderPeriod" />
	    <result column="last_days" property="lastDays" />
	    <result column="receivedAccount" property="receivedAccount" />
	    <result column="project_name" property="projectName" />
	</resultMap>
	<sql id="Credit_Base_Column_List" >
	    credit_id, 
	    credit_nid, 
	    credit_user_id,
	    bid_nid, 
	    bid_apr, 
	    bid_name, 
	    borrow_style,
	    hbs.name AS borrow_style_name,
	    ht_borrow_credit.tender_nid,
	    credit_status, 
	    credit_order, 
	    credit_period, 
	    credit_term, 
	    credit_capital, 
	    credit_account, 
	    credit_interest, 
	    credit_interest_advance, 
	    credit_discount, 
	    credit_income, 
	    credit_fee, 
	    credit_price, 
	    credit_capital_assigned, 
	    credit_interest_assigned, 
	    credit_repay_account, 
	    credit_repay_capital, 
	    credit_repay_interest, 
	    CASE
		WHEN credit_repay_end_time != 0 THEN
			FROM_UNIXTIME(credit_repay_end_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_end_time,
		CASE
		WHEN credit_repay_last_time != 0 THEN
			FROM_UNIXTIME(credit_repay_last_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_last_time,
		CASE
		WHEN credit_repay_next_time != 0 THEN
			FROM_UNIXTIME(credit_repay_next_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_next_time,
		CASE
		WHEN credit_repay_yes_time != 0 THEN
			FROM_UNIXTIME(credit_repay_yes_time, '%Y-%m-%d')
		ELSE
			''
		END AS credit_repay_yes_time,
	    create_date, 
	    CASE
		WHEN add_time != 0 THEN
			FROM_UNIXTIME(add_time, '%Y-%m-%d %H:%i:%s')
		ELSE
			''
		END AS add_time,
		add_time AS add_time_int,
		CASE
		WHEN end_time != 0 THEN
			FROM_UNIXTIME(end_time, '%Y-%m-%d %H:%i:%s')
		ELSE
			''
		END AS end_time,
		CASE
		WHEN assign_time != 0 THEN
			FROM_UNIXTIME(assign_time, '%Y-%m-%d %H:%i:%s')
		ELSE
			''
		END AS assign_time,
		assign_num, 
	    recover_period,
	   case when credit_capital>credit_capital_assigned and truncate(credit_capital_assigned/credit_capital*100,2)=100.00 then 99 else truncate(credit_capital_assigned/credit_capital*100,2) end   AS credit_inProgress
	</sql>
	
	<!-- 点击购买后对债转进行投资详情 -->
	<select id="selectWebCreditTenderDetail" resultType="com.hyjf.am.trade.dao.model.customize.TenderToCreditDetailCustomize" parameterType="java.util.Map">
		SELECT	hb.project_type type,
			hb.company_or_personal AS comOrPer,
			hb.borrow_nid AS borrowNid,
			hb.borrow_apr AS borrowApr,
			hb.borrow_style AS borrowStyle,
			hbc.credit_nid AS creditNid,
			hbc.tender_nid AS tenderNid,
			hbc.credit_capital AS creditCapital,
			(
				hbc.credit_capital - hbc.credit_capital_assigned
			) AS creditAssignCapital,
			hbc.credit_discount AS creditDiscount,
			hbc.credit_term AS creditTerm,
			hbc.credit_term_hold AS creditTermHold,
		CASE
		WHEN hb.borrow_style = 'endday' THEN
			CONCAT(hb.borrow_period, '天')
		ELSE
			CONCAT(hb.borrow_period, '个月')
		END borrowPeriod,
		 hbc.credit_price AS creditPrice,
		 FROM_UNIXTIME(
			hbc.add_time,
			'%Y-%m-%d %H:%i:%s'
		) AS creditTime,
		 hbc.add_time AS creditTimeInt,
		 hui.truename AS creditUserTrueName,
		 hbc.credit_user_id AS creditUserId,
		 hbc.credit_repay_end_time AS creditRepayEndTime,
		 	CASE
				WHEN hb.`status` = 0
				AND hb.verify_status = 1 THEN
					'10'
				WHEN hb.`status` = 1
				AND hb.borrow_status = 1
				AND hb.borrow_account_yes <![CDATA[<]]> hb.account
				AND (
					hb.verify_time + (
						hb.borrow_valid_time * 24 * 60 * 60
					) > UNIX_TIMESTAMP(NOW())
				) THEN
					'11'
				WHEN hb.`status` = 1
				AND hb.reverify_time = '0'
				AND (
					(
						hb.reverify_status = 0
						AND hb.borrow_account_yes >= hb.account
					)
					OR (
						hb.verify_time + (
							hb.borrow_valid_time * 24 * 60 * 60
						) <![CDATA[<]]> UNIX_TIMESTAMP(NOW())
					)
				) THEN
					'12'
				WHEN hb.`status` = 3
				AND hb.repay_full_status = 0 THEN
					'13'
				WHEN hb.`status` = 3
				AND hb.repay_full_status = 1 THEN
					'14'
				<!-- WHEN hb.`status` = 2 THEN
					'15' -->
				ELSE
					''
				END AS `status`	
		FROM
			ht_borrow_credit hbc
		LEFT JOIN ht_borrow hb ON hbc.bid_nid = hb.borrow_nid
		LEFT JOIN ht_users hu ON hu.user_id = hbc.credit_user_id
		LEFT JOIN ht_users_info hui ON hui.user_id = hu.user_id
		WHERE
			hbc.credit_nid = #{creditNid}
	</select>

	<resultMap id="creditTendeListMap" type="com.hyjf.am.trade.dao.model.customize.CreditTenderListCustomize">
		<!-- id -->
		<result column="id" property="id" jdbcType="VARCHAR" />
		<!-- 承接用户名-->
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<!-- 承接用户是否vip -->
		<result column="is_vip" property="isVip" jdbcType="VARCHAR" />
		<!-- 用户承接本金 -->
		<result column="assign_capital" property="assignCapital" jdbcType="VARCHAR" />
		<!-- 承接时间 -->
		<result column="assign_time" property="assignTime" jdbcType="VARCHAR" />
		<!-- 承接平台 -->
		<result column="client" property="client" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 点击购买后对债转进行投资详情(汇计划) -->
	<select id="selectHJHWebCreditTenderDetail" resultType="com.hyjf.am.trade.dao.model.customize.TenderToCreditDetailCustomize" parameterType="java.util.Map">
	SELECT	
		hb.project_type type,
		hb.company_or_personal AS comOrPer,
		hb.borrow_nid AS borrowNid,
		hb.borrow_apr AS borrowApr,
		hb.borrow_style AS borrowStyle,
		hbc.credit_nid AS creditNid,
		hbc.invest_order_id AS tenderNid,
		hbc.credit_capital AS creditCapital,
		(
			hbc.credit_capital - hbc.credit_capital_assigned
		) AS creditAssignCapital,
		0 AS creditDiscount,
		hbc.credit_term AS creditTerm,
		0 AS creditTermHold,
		CASE
		WHEN hb.borrow_style = 'endday' THEN
			CONCAT(hb.borrow_period, '天')
		ELSE
			CONCAT(hb.borrow_period, '个月')
		END borrowPeriod,

		hbc.credit_price AS creditPrice,
	 
		FROM_UNIXTIME(
			hdct.create_time,
			'%Y-%m-%d %H:%i:%s'
		) AS signTime,
		
		FROM_UNIXTIME(
			hbc.create_time,
			'%Y-%m-%d %H:%i:%s'
		) AS creditTime,

		hbc.create_time AS creditTimeInt,
		hui.truename AS creditUserTrueName,
	
		hbc.user_id AS creditUserId,
		hbc.credit_repay_end_time AS creditRepayEndTime,
		
		CASE
			WHEN hb.`status` = 0
			AND hb.verify_status = 1 THEN '10'
			WHEN hb.`status` = 1
			AND hb.borrow_status = 1
			AND hb.borrow_account_yes <![CDATA[<]]> hb.account
			AND (
				hb.verify_time + (
					hb.borrow_valid_time * 24 * 60 * 60
				) > UNIX_TIMESTAMP(NOW())
			) THEN '11'
			WHEN hb.`status` = 1
			AND hb.reverify_time = '0'
			AND (
				(
					hb.reverify_status = 0
					AND hb.borrow_account_yes >= hb.account
				)
				OR (
					hb.verify_time + (
						hb.borrow_valid_time * 24 * 60 * 60
					) <![CDATA[<]]> UNIX_TIMESTAMP(NOW())
				)
			) THEN
				'12'
			WHEN hb.`status` = 3
			AND hb.repay_full_status = 0 THEN
				'13'
			WHEN hb.`status` = 3
			AND hb.repay_full_status = 1 THEN
				'14'
			<!-- WHEN hb.`status` = 2 THEN
				'15' -->
			ELSE
				''
			END AS `status`
	FROM
		hyjf_hjh_debt_credit hbc
		
	LEFT JOIN ht_borrow hb ON hbc.borrow_nid = hb.borrow_nid
	LEFT JOIN ht_users hu ON hu.user_id = hbc.user_id
	LEFT JOIN ht_users_info hui ON hui.user_id = hu.user_id
	LEFT JOIN hyjf_hjh_debt_credit_tender hdct ON hdct.credit_nid = hbc.credit_nid
	WHERE
		hbc.credit_nid = #{creditNid}
		and hdct.assign_order_id=#{assignOrderId}
	</select>
	
	
	<select id="selectWebCreditTenderDetailForContract" resultType="com.hyjf.am.trade.dao.model.customize.TenderToCreditDetailCustomize" parameterType="java.util.Map">
		SELECT	hb.project_type type,
			hb.company_or_personal AS comOrPer,
			hb.borrow_nid AS borrowNid,
			hb.borrow_apr AS borrowApr,
			hb.borrow_style AS borrowStyle,
			hbc.credit_nid AS creditNid,
			hbc.tender_nid AS tenderNid,
			hbc.credit_capital AS creditCapital,
			(
				hbc.credit_capital - hbc.credit_capital_assigned
			) AS creditAssignCapital,
			hbc.credit_discount AS creditDiscount,
			hbc.credit_term AS creditTerm,
			hbc.credit_term_hold AS creditTermHold,
		CASE
		WHEN hb.borrow_style = 'endday' THEN
			CONCAT(hb.borrow_period, '天')
		ELSE
			CONCAT(hb.borrow_period, '个月')
		END borrowPeriod,
		 hbc.credit_price AS creditPrice,
		 FROM_UNIXTIME(
			hbc.add_time,
			'%Y-%m-%d %H:%i:%s'
		) AS creditTime,
		 hbc.add_time AS creditTimeInt,
		 hui.truename AS creditUserTrueName,
		 hbc.credit_user_id AS creditUserId,
		 hbc.credit_repay_end_time AS creditRepayEndTime,
		 	CASE
				WHEN hb.`status` = 0
				AND hb.verify_status = 1 THEN
					'10'
				WHEN hb.`status` = 1
				AND hb.borrow_status = 1
				AND hb.borrow_account_yes <![CDATA[<]]> hb.account
				AND (
					hb.verify_time + (
						hb.borrow_valid_time * 24 * 60 * 60
					) > UNIX_TIMESTAMP(NOW())
				) THEN
					'11'
				WHEN hb.`status` = 1
				AND hb.reverify_time = '0'
				AND (
					(
						hb.reverify_status = 0
						AND hb.borrow_account_yes >= hb.account
					)
					OR (
						hb.verify_time + (
							hb.borrow_valid_time * 24 * 60 * 60
						) <![CDATA[<]]> UNIX_TIMESTAMP(NOW())
					)
				) THEN
					'12'
				WHEN hb.`status` = 3
				AND hb.repay_full_status = 0 THEN
					'13'
				WHEN hb.`status` = 3
				AND hb.repay_full_status = 1 THEN
					'14'
				<!-- WHEN hb.`status` = 2 THEN
					'15' -->
				ELSE
					''
				END AS `status`,
				
				FROM_UNIXTIME(
					hhh.add_time,
					'%Y-%m-%d'
				) AS signTime
				
		FROM
			ht_borrow_credit hbc
		LEFT JOIN ht_credit_tender hhh ON hbc.credit_nid = hhh.credit_nid
		LEFT JOIN ht_borrow hb ON hbc.bid_nid = hb.borrow_nid
		LEFT JOIN ht_users hu ON hu.user_id = hbc.credit_user_id
		LEFT JOIN ht_users_info hui ON hui.user_id = hu.user_id
		WHERE
			hbc.credit_nid = #{creditNid}
			AND
			hhh.assign_nid = #{assignNid}
			
	</select>
	<!-- 已承接或查看购买债转总数 -->
	<select id="countCreditTenderAssigned" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT
		COUNT(hct.assign_id) AS total
		FROM
		ht_credit_tender hct
		LEFT JOIN ht_borrow_credit hbc ON hct.credit_nid=hbc.credit_nid AND hct.credit_tender_nid=hbc.tender_nid
		<where>
			<if test="userId != null and userId != ''">
				AND hct.user_id = #{userId}
			</if>
			<if test="creditUserId != null and creditUserId != ''">
				AND hbc.credit_user_id = #{creditUserId}
			</if>
			<if test="creditNid != null and creditNid != ''">
				AND hbc.credit_nid = #{creditNid}
			</if>
			<if test="creditStatus != null and creditStatus != ''">
				AND hbc.credit_status = #{creditStatus}
			</if>
		</where>
	</select>

	<!-- 已承接或查看购买债转详情查询 -->
	<select id="selectCreditTenderAssigned" resultType="com.hyjf.am.trade.dao.model.customize.TenderCreditAssignedCustomize" parameterType="java.util.Map">
		SELECT
			hct.assign_id AS assignId,
			hct.user_id AS userId,
			hct.credit_user_id AS creditUserId,
			hct.`status` AS `status`,
			hct.bid_nid AS bidNid,
			hct.credit_nid AS creditNid,
			hct.credit_tender_nid AS creditTenderNid,
			hct.assign_nid AS assignNid,
			hct.assign_capital AS assignCapital,
			hct.assign_account AS assignAccount,
			hct.assign_interest AS assignInterest,
			hct.assign_interest_advance AS assignInterestAdvance,
			hct.assign_price AS assignPrice,
			hct.assign_pay AS assignPay,
			hct.assign_repay_account AS assignRepayAccount,
			hct.assign_repay_capital AS assignRepayCapital,
			hct.assign_repay_interest AS assignRepayInterest,
			CASE
			WHEN hct.assign_repay_end_time != 0 THEN
			FROM_UNIXTIME( hct.assign_repay_end_time, '%Y-%m-%d' )
			ELSE
			NULL
			END AS assignRepayEndTime,
			CASE
			WHEN hct.assign_repay_last_time != 0 THEN
			FROM_UNIXTIME( hct.assign_repay_last_time, '%Y-%m-%d' )
			ELSE
			NULL
			END AS assignRepayLastTime,
			CASE
			WHEN hct.assign_repay_next_time != 0 THEN
			FROM_UNIXTIME( hct.assign_repay_next_time, '%Y-%m-%d' )
			ELSE
			NULL
			END AS assignRepayNextTime,
			CASE
			WHEN hct.assign_repay_yes_time != 0 THEN
			FROM_UNIXTIME( hct.assign_repay_yes_time, '%Y-%m-%d' )
			ELSE
			NULL
			END AS assignRepayYesTime,
			hct.assign_repay_period AS assignRepayPeriod,
			DATE_FORMAT(hct.assign_create_date,'%Y-%m-%d') AS assignCreateDate,
			hct.credit_fee AS creditFee,
			DATE_FORMAT(hct.create_time,'%Y-%m-%d %H:%i:%s') AS createTime,
			DATE_FORMAT(hct.create_time,'%Y-%m-%d') AS createTimeDay,
			DATE_FORMAT(hct.create_time,'%H:%i:%s') AS createTimeHour,
			hbc.credit_term AS creditTerm,
			hbc.bid_apr AS bidApr,
			hbc.credit_discount AS creditDiscount,
			DATE_FORMAT( hbt.create_time, '%Y-%m-%d' ) AS tenderTime,
			hui.username AS creditAssignUserTrueName
		FROM
			ht_credit_tender hct
			LEFT JOIN ht_borrow_credit hbc ON hct.credit_nid=hbc.credit_nid AND hct.credit_tender_nid=hbc.tender_nid
			LEFT JOIN ht_borrow_tender hbt ON hbc.tender_nid=hbt.nid AND hbc.bid_nid=hbt.borrow_nid
			LEFT JOIN ht_r_user hui ON hui.user_id = hct.user_id
		<where>
			<if test="userId != null and userId != ''">
				AND hct.user_id = #{userId}
			</if>
			<if test="creditUserId != null and creditUserId != ''">
				AND hbc.credit_user_id = #{creditUserId}
			</if>
			<if test="creditNid != null and creditNid != ''">
				AND hbc.credit_nid = #{creditNid}
			</if>
			<if test="creditStatus != null and creditStatus != ''">
				AND hbc.credit_status = #{creditStatus}
			</if>
		</where>
		ORDER BY
		hct.create_time DESC
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<!-- 债转承接数据统计 -->
	<select id="selectCreditTenderAssignedStatistic" resultType="com.hyjf.am.trade.dao.model.customize.TenderCreditAssignedStatisticCustomize" parameterType="java.util.Map">
		SELECT
			IFNULL(SUM(IFNULL(hct.assign_capital,0)),0) AS assignCapital,
			IFNULL(SUM(IFNULL(hct.assign_interest_advance,0)),0) AS assignInterestAdvance,
			IFNULL(SUM(IFNULL(hct.assign_pay,0) - IFNULL(hct.credit_fee,0)),0) AS moneyGet,
			IFNULL(SUM(IFNULL(hct.credit_fee,0)),0) AS creditFee,
			hbc.credit_capital AS creditCapital,
			hbc.bid_nid AS bidNid,
			DATE_FORMAT(hbc.create_time,'%Y-%m-%d %H:%i') AS createTime
		FROM
			ht_credit_tender hct
			LEFT JOIN ht_borrow_credit hbc ON hct.credit_nid=hbc.credit_nid AND hct.credit_tender_nid=hbc.tender_nid
			LEFT JOIN ht_borrow_tender hbt ON hbc.tender_nid=hbt.nid AND hbc.bid_nid=hbt.borrow_nid
		<where>
			<if test="userId != null and userId != ''">
				AND hct.user_id = #{userId}
			</if>
			<if test="creditUserId != null and creditUserId != ''">
				AND hbc.credit_user_id = #{creditUserId}
			</if>
			<if test="creditNid != null and creditNid != ''">
				AND hbc.credit_nid = #{creditNid}
			</if>
			<if test="creditStatus != null and creditStatus != ''">
				AND hbc.credit_status = #{creditStatus}
			</if>
		</where>
	</select>
	
</mapper>