<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.UserLargeScreenCustomizeMapper">

    <!-- 运营部总业绩（元） -->
    <select id="getTotalAmount" resultType="com.hyjf.am.vo.api.UserLargeScreenVO">
        select ROUND(IFNULL(SUM(money),0)/10000,0) as totalAmount  from ht_user_operate_list where operating=1  and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')
    </select>
    <!-- 本月运营部业绩完成分布 -->
    <select id="getAchievementDistributionList" resultType="com.hyjf.am.vo.api.EchartsResultVO">
       select ROUND(IFNULL(SUM(money),0)/10000,0) as money , customer_group as customerGroup
       from ht_user_operate_list where operating=1  and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY customer_group
    </select>

    <!-- 规模业绩 -->
    <select id="getScalePerformance" resultType="com.hyjf.am.vo.api.UserLargeScreenVO">
           select
        (select ROUND(IFNULL(SUM(money),0)/10000,0)  from ht_user_operate_list where operating=1 and customer_group =1 and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')) as scalePerformanceNew,

        (select ROUND(IFNULL(SUM(money),0)/10000,0)  from ht_user_operate_list where operating=1 and customer_group =2 and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')) as scalePerformanceOld

        from ht_user_operate_list LIMIT 0,1
    </select>
    <!-- 坐席月规模业绩 -->
    <select id="getMonthScalePerformanceList" resultType="com.hyjf.am.vo.api.EchartsResultVO">
      select IFNULL(SUM(money),0)  as money,current_owner as currentOwner,customer_group as customerGroup  from ht_user_operate_list where operating=1 and customer_group =1 and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY current_owner -- 坐席月规模业绩（新客组）
      UNION ALL
      select IFNULL(SUM(money),0)  as money,current_owner as currentOwner,customer_group as customerGroup  from ht_user_operate_list where operating=1 and customer_group =2 and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY current_owner -- 坐席月规模业绩（老客组）

    </select>

    <!-- 坐席月回款情况 -->
    <select id="getMonthReceivedPayments" resultType="com.hyjf.am.vo.api.EchartsResultVO">


        SELECT  IFNULL(t3.money,0)as money,t3.currentOwner,t3.customerGroup,IFNULL(t2.money2,0) as money2 FROM(

        (select  ROUND(IFNULL(SUM(t1.money),0)/10000,0) as money,t1.current_owner as currentOwner ,t1.customer_group as customerGroup
        from  ht_user_operate_list t1   where   t1.operating=3 and t1.customer_group =1
        and t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND t1.create_time &lt;  DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')
        GROUP BY currentOwner) t3
        LEFT JOIN
        (SELECT ROUND(IFNULL(SUM(old_money),0)/10000,0) as money2,customer_name as currentOwner,customer_group as customerGroup FROM ht_repayment_plan where customer_name IS NOT null and customer_group =1 and repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND repayment_time &lt;  DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY customer_name  ) t2

        on t3.currentOwner = t2.currentOwner
        )
        UNION
        SELECT  IFNULL(t3.money,0) as money,t2.currentOwner,t2.customerGroup,IFNULL(t2.money2,0)as money2 FROM(

        (select  ROUND(IFNULL(SUM(t1.money),0)/10000,0) as money,t1.current_owner as currentOwner ,t1.customer_group as customerGroup
        from  ht_user_operate_list t1   where   t1.operating=3 and t1.customer_group =1
        and t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND t1.create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')
        GROUP BY currentOwner) t3
        RIGHT  JOIN
        (SELECT ROUND(IFNULL(SUM(old_money),0)/10000,0) as money2,customer_name as currentOwner,customer_group as customerGroup FROM ht_repayment_plan where customer_name IS NOT null and customer_group =1 and repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND repayment_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY customer_name  ) t2

        on t3.currentOwner = t2.currentOwner
        )



        UNION ALL


        SELECT  IFNULL(t3.money,0)as money,t3.currentOwner,t3.customerGroup,IFNULL(t2.money2,0) as money2 FROM(

        (select  ROUND(IFNULL(SUM(t1.money),0)/10000,0) as money,t1.current_owner as currentOwner ,t1.customer_group as customerGroup
        from  ht_user_operate_list t1   where   t1.operating=3 and t1.customer_group =2
        and t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND t1.create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')
        GROUP BY currentOwner) t3
        LEFT JOIN
        (SELECT ROUND(IFNULL(SUM(old_money),0)/10000,0) as money2,customer_name as currentOwner,customer_group as customerGroup FROM ht_repayment_plan where customer_name IS NOT null and customer_group =2 and repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND repayment_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY customer_name  ) t2

        on t3.currentOwner = t2.currentOwner
        )
        UNION
        SELECT  IFNULL(t3.money,0) as money,t2.currentOwner,t2.customerGroup,IFNULL(t2.money2,0)as money2 FROM(

        (select  ROUND(IFNULL(SUM(t1.money),0)/10000,0) as money,t1.current_owner as currentOwner ,t1.customer_group as customerGroup
        from  ht_user_operate_list t1   where   t1.operating=3 and t1.customer_group =2
        and t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND t1.create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00')
        GROUP BY currentOwner) t3
        RIGHT  JOIN
        (SELECT ROUND(IFNULL(SUM(old_money),0)/10000,0) as money2,customer_name as currentOwner,customer_group as customerGroup FROM ht_repayment_plan where customer_name IS NOT null and customer_group =2 and repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-01 00:00:00') AND repayment_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 MONTH),'%Y-%m-01 00:00:00') GROUP BY customer_name  ) t2

        on t3.currentOwner = t2.currentOwner
        )

    </select>
    <select id="getUserCapitalDetails" resultType="com.hyjf.am.vo.api.UserCapitalDetailsVO">

      select  user_name userName,current_owner currentOwner,operating operating,IFNULL(money,0) money,IFNULL(year_money,0) yearMoney,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s')  createTime
      from  ht_user_operate_list where operating &lt;&gt; 3 and current_owner is not null
      and create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND create_time &lt; DATE_FORMAT(DATE_ADD(NOW(),INTERVAL 1 DAY),'%Y-%m-%d 00:00:00')
      ORDER  BY create_time DESC
    </select>

    <!-- 坐席日规模业绩 -->
    <select id="getDayScalePerformanceList" resultType="com.hyjf.am.vo.api.EchartsResultVO">
        SELECT
            ROUND(IFNULL(SUM(money), 0), 0) AS money,
            current_owner AS currentOwner,
            customer_group AS customerGroup
        FROM
            ht_user_operate_list
        WHERE
            operating = 1
        AND customer_group = 1
        AND create_time BETWEEN str_to_date(
            DATE_FORMAT(NOW(), '%Y-%m-%d'),
            '%Y-%m-%d %H:%i:%s'
        )
        AND DATE_ADD(
            DATE_ADD(
                str_to_date(
                    DATE_FORMAT(NOW(), '%Y-%m-%d'),
                    '%Y-%m-%d %H:%i:%s'
                ),
                INTERVAL 1 DAY
            ),
            INTERVAL - 1 SECOND
        )
        GROUP BY
            current_owner -- 坐席日规模业绩（新客组）
        UNION ALL
            SELECT
                ROUND(IFNULL(SUM(money), 0), 0) AS money,
                current_owner AS currentOwner,
                customer_group AS customerGroup
            FROM
                ht_user_operate_list
            WHERE
                operating = 1
            AND customer_group = 2
            AND create_time BETWEEN str_to_date(
                DATE_FORMAT(NOW(), '%Y-%m-%d'),
                '%Y-%m-%d %H:%i:%s'
            )
            AND DATE_ADD(
                DATE_ADD(
                    str_to_date(
                        DATE_FORMAT(NOW(), '%Y-%m-%d'),
                        '%Y-%m-%d %H:%i:%s'
                    ),
                    INTERVAL 1 DAY
                ),
                INTERVAL - 1 SECOND
            )
            GROUP BY
                current_owner -- 坐席日规模业绩（老客组）
    </select>

    <!-- 坐席日回款情况 -->
    <select id="getDayReceivedPayments" resultType="com.hyjf.am.vo.api.EchartsResultVO">
        SELECT
            IFNULL(t3.money, 0) AS money,
            t3.currentOwner,
            t3.customerGroup,
            IFNULL(t2.money2, 0) AS money2
        FROM
            (
                (
                    SELECT
                        ROUND(IFNULL(SUM(t1.money), 0), 0) AS money,
                        t1.current_owner AS currentOwner,
                        t1.customer_group AS customerGroup
                    FROM
                        ht_user_operate_list t1
                    WHERE
                        t1.operating = 3
                    AND t1.customer_group = 1

                    AND t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND t1.create_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')

                    GROUP BY
                        currentOwner
                ) t3
                LEFT JOIN (
                    SELECT
                        ROUND(IFNULL(SUM(money), 0), 0) AS money2,
                        customer_name AS currentOwner,
                        customer_group AS customerGroup
                    FROM
                        ht_repayment_plan
                    WHERE
                        customer_name IS NOT NULL
                    AND customer_group = 1
                    AND repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND repayment_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')

                    GROUP BY
                        customer_name
                ) t2 ON t3.currentOwner = t2.currentOwner
            )
        UNION
            SELECT
                IFNULL(t3.money, 0) AS money,
                t2.currentOwner,
                t2.customerGroup,
                IFNULL(t2.money2, 0) AS money2
            FROM
                (
                    (
                        SELECT
                            ROUND(IFNULL(SUM(t1.money), 0), 0) AS money,
                            t1.current_owner AS currentOwner,
                            t1.customer_group AS customerGroup
                        FROM
                            ht_user_operate_list t1
                        WHERE
                            t1.operating = 3
                        AND t1.customer_group = 1
                        AND t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND t1.create_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')


                        GROUP BY
                            currentOwner
                    ) t3
                    RIGHT JOIN (
                        SELECT
                            ROUND(IFNULL(SUM(money), 0), 0) AS money2,
                            customer_name AS currentOwner,
                            customer_group AS customerGroup
                        FROM
                            ht_repayment_plan
                        WHERE
                            customer_name IS NOT NULL
                        AND customer_group = 1

                        AND repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND repayment_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')

                        GROUP BY
                            customer_name
                    ) t2 ON t3.currentOwner = t2.currentOwner
                )
            UNION ALL
                SELECT
                    IFNULL(t3.money, 0) AS money,
                    t3.currentOwner,
                    t3.customerGroup,
                    IFNULL(t2.money2, 0) AS money2
                FROM
                    (
                        (
                            SELECT
                                ROUND(IFNULL(SUM(t1.money), 0), 0) AS money,
                                t1.current_owner AS currentOwner,
                                t1.customer_group AS customerGroup
                            FROM
                                ht_user_operate_list t1
                            WHERE
                                t1.operating = 3
                            AND t1.customer_group = 2
                            AND t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND t1.create_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
                            GROUP BY
                                currentOwner
                        ) t3
                        LEFT JOIN (
                            SELECT
                                ROUND(IFNULL(SUM(money), 0), 0) AS money2,
                                customer_name AS currentOwner,
                                customer_group AS customerGroup
                            FROM
                                ht_repayment_plan
                            WHERE
                                customer_name IS NOT NULL
                            AND customer_group = 2
                            AND repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND repayment_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')

                            GROUP BY
                                customer_name
                        ) t2 ON t3.currentOwner = t2.currentOwner
                    )
                UNION
                    SELECT
                        IFNULL(t3.money, 0) AS money,
                        t2.currentOwner,
                        t2.customerGroup,
                        IFNULL(t2.money2, 0) AS money2
                    FROM
                        (
                            (
                                SELECT
                                    ROUND(IFNULL(SUM(t1.money), 0), 0) AS money,
                                    t1.current_owner AS currentOwner,
                                    t1.customer_group AS customerGroup
                                FROM
                                    ht_user_operate_list t1
                                WHERE
                                    t1.operating = 3
                                AND t1.customer_group = 2
                                AND t1.create_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND t1.create_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
                                GROUP BY
                                    currentOwner
                            ) t3
                            RIGHT JOIN (
                                SELECT
                                    ROUND(IFNULL(SUM(money), 0), 0) AS money2,
                                    customer_name AS currentOwner,
                                    customer_group AS customerGroup
                                FROM
                                    ht_repayment_plan
                                WHERE
                                    customer_name IS NOT NULL
                                AND customer_group = 2
                               AND repayment_time &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') AND repayment_time &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
                                GROUP BY
                                    customer_name
                            ) t2 ON t3.currentOwner = t2.currentOwner
                        )
    </select>

    <!-- 本月数据统计 坐席、充值 -->
    <select id="getMonthDataStatisticsO" resultType="com.hyjf.am.vo.api.MonthDataStatisticsVO">
               SELECT
            ROUND(SUM(recharge), 0) AS recharge,
            currentOwner,
            customerGroup
        FROM
            (
                SELECT
                    IFNULL(SUM(money), 0) AS recharge,
                    current_owner AS currentOwner,
                    customer_group AS customerGroup
                FROM
                    ht_user_operate_list
                WHERE
                    operating = 2
                AND customer_group = 1
                AND create_time BETWEEN DATE_FORMAT(
                    CURDATE(),
                    '%Y-%m-01 00:00:00'
                )
                AND DATE_FORMAT(
                    LAST_DAY(CURDATE()),
                    '%Y-%m-%d 23:59:59'
                )
                GROUP BY
                    current_owner
                UNION ALL
                    SELECT
                        IFNULL(SUM(t1.money), 0) AS recharge,
                        t2.current_owner AS currentOwner,
                        t2.customer_group AS customerGroup
                    FROM
                        `ht_account_recharge` t1
                    INNER JOIN ht_user_operate_list t2 ON t1.user_id = t2.user_id
                    WHERE
                        t1.TYPE = 0
                    AND t1.create_time BETWEEN DATE_FORMAT(
                        CURDATE(),
                        '%Y-%m-01 00:00:00'
                    )
                    AND DATE_FORMAT(
                        LAST_DAY(CURDATE()),
                        '%Y-%m-%d 23:59:59'
                    )
                    AND t2.operating = 2
                    AND t2.customer_group = 1
                    AND t2.create_time BETWEEN DATE_FORMAT(
                        CURDATE(),
                        '%Y-%m-01 00:00:00'
                    )
                    AND DATE_FORMAT(
                        LAST_DAY(CURDATE()),
                        '%Y-%m-%d 23:59:59'
                    )
                    GROUP BY
                        current_owner
            ) t1
        GROUP BY
            currentOwner

            UNION ALL


        SELECT
            ROUND(SUM(recharge), 0) AS recharge,
            currentOwner,
            customerGroup
        FROM
            (
                SELECT
                    IFNULL(SUM(money), 0) AS recharge,
                    current_owner AS currentOwner,
                    customer_group AS customerGroup
                FROM
                    ht_user_operate_list
                WHERE
                    operating = 2
                AND customer_group = 2
                AND create_time BETWEEN DATE_FORMAT(
                    CURDATE(),
                    '%Y-%m-01 00:00:00'
                )
                AND DATE_FORMAT(
                    LAST_DAY(CURDATE()),
                    '%Y-%m-%d 23:59:59'
                )
                GROUP BY
                    current_owner
                UNION ALL
                    SELECT
                        IFNULL(SUM(t1.money), 0) AS recharge,
                        t2.current_owner AS currentOwner,
                        t2.customer_group AS customerGroup
                    FROM
                        `ht_account_recharge` t1
                    INNER JOIN ht_user_operate_list t2 ON t1.user_id = t2.user_id
                    WHERE
                        t1.TYPE = 0
                    AND t1.create_time BETWEEN DATE_FORMAT(
                        CURDATE(),
                        '%Y-%m-01 00:00:00'
                    )
                    AND DATE_FORMAT(
                        LAST_DAY(CURDATE()),
                        '%Y-%m-%d 23:59:59'
                    )
                    AND t2.operating = 2
                    AND t2.customer_group = 2
                    AND t2.create_time BETWEEN DATE_FORMAT(
                        CURDATE(),
                        '%Y-%m-01 00:00:00'
                    )
                    AND DATE_FORMAT(
                        LAST_DAY(CURDATE()),
                        '%Y-%m-%d 23:59:59'
                    )
                    GROUP BY
                        current_owner
            ) t1
        GROUP BY
            currentOwner
    </select>

    <!-- 本月数据统计 坐席、提现 -->
    <select id="getMonthDataStatisticsT" resultType="com.hyjf.am.vo.api.MonthDataStatisticsVO">
        SELECT
            ROUND(IFNULL(SUM(money), 0), 0) AS withdraw,
            current_owner AS currentOwner,
            customer_group AS customerGroup
        FROM
            ht_user_operate_list
        WHERE
            operating = 4
        AND customer_group = 1
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
        GROUP BY
            current_owner
        UNION ALL
            SELECT
                ROUND(IFNULL(SUM(money), 0), 0) AS withdraw,
                current_owner AS currentOwner,
                customer_group AS customerGroup
            FROM
                ht_user_operate_list
            WHERE
                operating = 4
            AND customer_group = 2
            AND create_time BETWEEN DATE_FORMAT(
                CURDATE(),
                '%Y-%m-01 00:00:00'
            )
            AND DATE_FORMAT(
                LAST_DAY(CURDATE()),
                '%Y-%m-%d 23:59:59'
            )
            GROUP BY
                current_owner
    </select>

    <!-- 本月数据统计 坐席、年化业绩 -->
    <select id="getMonthDataStatisticsFo" resultType="com.hyjf.am.vo.api.MonthDataStatisticsVO">
        SELECT
            ROUND(IFNULL(SUM(year_money), 0), 0) AS yearMoney,
            current_owner AS currentOwner,
            customer_group AS customerGroup
        FROM
            ht_user_operate_list
        WHERE
            operating = 1
        AND customer_group = 1
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
        GROUP BY
            current_owner
        UNION ALL
            SELECT
                ROUND(IFNULL(SUM(year_money), 0), 0) AS yearMoney,
                current_owner AS currentOwner,
                customer_group AS customerGroup
            FROM
                ht_user_operate_list
            WHERE
                operating = 1
            AND customer_group = 2
            AND create_time BETWEEN DATE_FORMAT(
                CURDATE(),
                '%Y-%m-01 00:00:00'
            )
            AND DATE_FORMAT(
                LAST_DAY(CURDATE()),
                '%Y-%m-%d 23:59:59'
            )
            GROUP BY
                current_owner
    </select>

    <!-- 本月数据统计 坐席、回款 -->
    <select id="getMonthDataStatisticsFi" resultType="com.hyjf.am.vo.api.MonthDataStatisticsVO">
        SELECT
            ROUND(IFNULL(SUM(money), 0), 0) AS received,
            current_owner AS currentOwner,
            customer_group AS customerGroup
        FROM
            ht_user_operate_list
        WHERE
            operating = 3
        AND customer_group = 1
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
        GROUP BY
            current_owner
        UNION ALL
            SELECT
                ROUND(IFNULL(SUM(money), 0), 0) AS received,
                current_owner AS currentOwner,
                customer_group AS customerGroup
            FROM
                ht_user_operate_list
            WHERE
                operating = 3
            AND customer_group = 2
            AND create_time BETWEEN DATE_FORMAT(
                CURDATE(),
                '%Y-%m-01 00:00:00'
            )
            AND DATE_FORMAT(
                LAST_DAY(CURDATE()),
                '%Y-%m-%d 23:59:59'
            )
            GROUP BY
                current_owner
    </select>

    <!-- 运营部-充值 -->
    <select id="getOperMonthPerformanceDataO" resultType="com.hyjf.am.vo.api.OperMonthPerformanceDataVO">
        SELECT
	ROUND(SUM(recharge), 0) AS recharge
    FROM
	(
		SELECT
			IFNULL(SUM(money), 0) AS recharge
		FROM
			ht_user_operate_list
		WHERE
			operating = 2
		AND create_time BETWEEN DATE_FORMAT(
			CURDATE(),
			'%Y-%m-01 00:00:00'
		)
		AND DATE_FORMAT(
			LAST_DAY(CURDATE()),
			'%Y-%m-%d 23:59:59'
		)
		UNION ALL
			SELECT
				IFNULL(SUM(t1.money), 0) AS recharge
			FROM
				`ht_account_recharge` t1
			INNER JOIN ht_user_operate_list t2 ON t1.user_id = t2.user_id
			WHERE
				t1.TYPE = 0
			AND t1.create_time BETWEEN DATE_FORMAT(
				CURDATE(),
				'%Y-%m-01 00:00:00'
			)
			AND DATE_FORMAT(
				LAST_DAY(CURDATE()),
				'%Y-%m-%d 23:59:59'
			)
			AND t2.operating = 2
			AND t2.create_time BETWEEN DATE_FORMAT(
				CURDATE(),
				'%Y-%m-01 00:00:00'
			)
			AND DATE_FORMAT(
				LAST_DAY(CURDATE()),
				'%Y-%m-%d 23:59:59'
			)
	) t1
    </select>

    <!-- 运营部-提现 -->
    <select id="getOperMonthPerformanceDataT" resultType="com.hyjf.am.vo.api.OperMonthPerformanceDataVO">
        SELECT
            IFNULL(SUM(money), 0) AS withdraw
        FROM
            ht_user_operate_list
        WHERE
            operating = 4
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
    </select>

    <!-- 运营部-投资 -->
    <select id="getOperMonthPerformanceDataTh" resultType="com.hyjf.am.vo.api.OperMonthPerformanceDataVO">
        SELECT
            ROUND(IFNULL(SUM(money), 0), 0) AS invest
        FROM
            ht_user_operate_list
        WHERE
            operating = 1
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
    </select>

    <!-- 运营部-回款 -->
    <select id="getOperMonthPerformanceDataFi" resultType="com.hyjf.am.vo.api.OperMonthPerformanceDataVO">
        SELECT
            ROUND(IFNULL(SUM(money), 0), 0) AS allRepay
        FROM
            ht_user_operate_list
        WHERE
            operating = 3
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
    </select>

    <!-- 运营部-待回款 -->
    <select id="getOperMonthPerformanceDataFo" resultType="com.hyjf.am.vo.api.OperMonthPerformanceDataVO">
        SELECT
            ROUND(IFNULL(SUM(old_money), 0), 0) AS allWaitRepay
        FROM
            ht_repayment_plan
        WHERE
            create_time BETWEEN DATE_FORMAT(
                CURDATE(),
                '%Y-%m-01 00:00:00'
            )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
    </select>

    <!-- 运营部-年化业绩 -->
    <select id="getOperMonthPerformanceDataSi" resultType="com.hyjf.am.vo.api.OperMonthPerformanceDataVO">
        SELECT
            ROUND(IFNULL(SUM(year_money), 0), 0) AS yearAmount
        FROM
            ht_user_operate_list
        WHERE
            operating = 1
        AND create_time BETWEEN DATE_FORMAT(
            CURDATE(),
            '%Y-%m-01 00:00:00'
        )
        AND DATE_FORMAT(
            LAST_DAY(CURDATE()),
            '%Y-%m-%d 23:59:59'
        )
    </select>
</mapper>