<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.WDZJCustomizeMapper" >
	<resultMap id="BorrowListResultMap" type="com.hyjf.am.trade.dao.model.customize.WDZJBorrowListDataCustomize" >
		<collection property="subscribes" column="borrow_nid"  select="selectTenderList" />
	</resultMap>
	<resultMap id="TenderListResultMap" type="com.hyjf.am.trade.dao.model.customize.WDZJTenderListDataCustomize" >
	</resultMap>
	<resultMap id="PreapysListCustomize" type="com.hyjf.am.trade.dao.model.customize.WDZJPreapysListCustomize" >
	</resultMap>
	<select id="selectBorrowList" parameterType="map" resultMap="BorrowListResultMap">
		SELECT
		hb.borrow_nid AS projectId,
		hb.borrow_nid AS userName,
		hb.borrow_nid,
		hbi.finance_purpose AS title,
		hb.account AS amount,
		hb.borrow_account_scale AS `schedule`,
		CONCAT(hb.borrow_apr, '%') AS interestRate,
		hb.borrow_period AS deadline,

		IF (
		hb.borrow_style = 'endday',
		'天',
		'月'
		) AS deadlineUnit,
		CASE
		WHEN hb.borrow_style = 'end' THEN
		'1'
		WHEN hb.borrow_style = 'endday' THEN
		'1'
		WHEN hb.borrow_style = 'endmonth' THEN
		'5'
		WHEN hb.borrow_style = 'principal' THEN
		'6'
		WHEN hb.borrow_style = 'month' THEN
		'2'
		ELSE
		''
		END AS `repaymentType`,
		CASE
		WHEN hbi.asset_attributes = '1' THEN
		'抵押标'
		WHEN hbi.asset_attributes = '2' THEN
		'质押标'
		WHEN hbi.asset_attributes = '3' THEN
		'信用标'
		WHEN hbi.asset_attributes = '4' THEN
		'债权转让标'
		WHEN hbi.asset_attributes = '5' THEN
		'净值标'
		ELSE
		'信用标'
		END AS `type`,
		CONCAT(
		'https://www.hyjf.com/bank/web/borrow/getBorrowDetail.do?borrowNid=',
		hb.borrow_nid
		) AS loanUrl,
		date_format(
		br.create_time,
		'%Y-%m-%d %H:%i:%s'
		) AS successTime,
		0 AS reward
		FROM
		ht_borrow_repay br
		JOIN ht_borrow hb ON br.borrow_nid = hb.borrow_nid
		JOIN ht_borrow_info hbi ON hb.borrow_nid = hbi.borrow_nid
		WHERE
		UNIX_TIMESTAMP(br.create_time) >= #{timeStart}
		AND UNIX_TIMESTAMP(br.create_time) <![CDATA[<=]]> #{timeEnd}
		UNION ALL
		SELECT
		tt.projectId,
		tt.userName,
		tt.borrow_nid,
		tt.title,
		tt.amount,
		tt.`schedule`,
		tt.interestRate,
		tt.deadline,
		tt.deadlineUnit,
		tt.repaymentType,
		tt.`type`,
		tt.loanUrl,
		FROM_UNIXTIME(
		tt.end_time,
		'%Y-%m-%d %H:%i:%s'
		) AS successTime,
		tt.reward
		FROM
		(
		SELECT
		bc.credit_nid AS projectId,
		bc.credit_nid AS userName,
		bc.credit_nid AS borrow_nid,
		hbi.finance_purpose AS title,
		bc.credit_capital AS amount,
		100 AS `schedule`,
		CONCAT(bc.bid_apr, '%') AS interestRate,
		bc.credit_term AS deadline,
		'天' AS deadlineUnit,
		1 AS repaymentType,
		'债权转让标' AS `type`,
		CONCAT(
		'https://www.hyjf.com/bank/user/credit/webcredittender.do?creditNid=',
		bc.credit_nid
		) AS loanUrl,
		(
		SELECT
		ct.create_time
		FROM
		ht_credit_tender ct
		WHERE
		ct.credit_nid = bc.credit_nid
		ORDER BY
		ct.assign_id DESC
		LIMIT 1
		) AS end_time,
		0 AS reward
		FROM
		ht_borrow_credit bc
		INNER JOIN ht_borrow hb ON bc.bid_nid = hb.borrow_nid
		JOIN ht_borrow_info hbi ON hb.borrow_nid = hbi.borrow_nid
		WHERE
		bc.credit_status = '2'
		) tt
		WHERE
		tt.end_time >= #{timeStart}
		AND tt.end_time <![CDATA[<=]]> #{timeEnd}
		UNION ALL
		SELECT
		tt.projectId,
		tt.userName,
		tt.borrow_nid,
		tt.title,
		tt.amount,
		tt.`schedule`,
		tt.interestRate,
		tt.deadline,
		tt.deadlineUnit,
		tt.repaymentType,
		tt.`type`,
		tt.loanUrl,
		FROM_UNIXTIME(
		tt.end_time,
		'%Y-%m-%d %H:%i:%s'
		) AS successTime,
		tt.reward
		FROM
		(
		SELECT
		dc.credit_nid AS projectId,
		dc.credit_nid AS userName,
		dc.credit_nid AS borrow_nid,
		hbi.finance_purpose AS title,
		dc.credit_capital AS amount,
		100 AS `schedule`,
		CONCAT(dc.actual_apr, '%') AS interestRate,
		dc.remain_days AS deadline,
		'天' AS deadlineUnit,
		'1' AS `repaymentType`,
		'债权转让标' AS `type`,
		CONCAT(
		'https://www.hyjf.com/bank/web/borrow/getBorrowDetail.do?borrowNid=',
		b.borrow_nid
		) AS loanUrl,
		(
		SELECT
		ct.create_time
		FROM
		ht_hjh_debt_credit_tender ct
		WHERE
		ct.credit_nid = dc.credit_nid
		ORDER BY
		ct.id DESC
		LIMIT 1
		) AS end_time,
		0 AS reward
		FROM
		ht_hjh_debt_credit dc
		INNER JOIN ht_borrow b ON dc.borrow_nid = b.borrow_nid
		JOIN ht_borrow_info hbi ON b.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_hjh_plan dp ON dp.plan_nid = dc.plan_nid
		LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
		WHERE
		dc.credit_status = 2
		) tt

		WHERE tt.end_time >= #{timeStart}
		AND tt.end_time <![CDATA[<=]]> #{timeEnd}
		<if test="limitStart != null and limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>

	<select id="countBorrowList" parameterType="map" resultType="int">
  SELECT COUNT(t2.projectId) from (SELECT
		hb.borrow_nid AS projectId
	FROM
		ht_borrow_repay br
	JOIN ht_borrow hb ON br.borrow_nid = hb.borrow_nid
	WHERE
		UNIX_TIMESTAMP(br.create_time) >= #{timeStart}
	AND UNIX_TIMESTAMP(br.create_time) <![CDATA[<=]]> #{timeEnd}
	UNION ALL
		SELECT
			tt.projectId
		FROM
			(
				SELECT
					bc.credit_nid AS projectId,
					bc.credit_nid AS userName,
					bc.credit_nid AS borrow_nid,
					hbi.finance_purpose AS title,
					bc.credit_capital AS amount,
					100 AS `schedule`,
					CONCAT(bc.bid_apr, '%') AS interestRate,
					bc.credit_term AS deadline,
					'天' AS deadlineUnit,
					1 AS repaymentType,
					'债权转让标' AS `type`,
					CONCAT(
						'https://www.hyjf.com/bank/user/credit/webcredittender.do?creditNid=',
						bc.credit_nid
					) AS loanUrl,
					(
						SELECT
							ct.create_time
						FROM
							ht_credit_tender ct
						WHERE
							ct.credit_nid = bc.credit_nid
						ORDER BY
							ct.assign_id DESC
						LIMIT 1
					) AS end_time,
					0 AS reward
				FROM
					ht_borrow_credit bc
				INNER JOIN ht_borrow hb ON bc.bid_nid = hb.borrow_nid
				JOIN ht_borrow_info hbi ON hb.borrow_nid = hbi.borrow_nid
				WHERE
					bc.credit_status = '2'
			) tt
		WHERE
		  tt.end_time >= #{timeStart}
			AND tt.end_time <![CDATA[<=]]> #{timeEnd}
		UNION ALL
			SELECT
				tt.projectId
			FROM
				(
					SELECT
						dc.credit_nid AS projectId,
						dc.credit_nid AS userName,
						dc.credit_nid AS borrow_nid,
						hbi.finance_purpose AS title,
						dc.credit_capital AS amount,
						100 AS `schedule`,
						CONCAT(dc.actual_apr, '%') AS interestRate,
						dc.remain_days AS deadline,
						'天' AS deadlineUnit,
						'1' AS `repaymentType`,
						'债权转让标' AS `type`,
						CONCAT(
							'https://www.hyjf.com/bank/web/borrow/getBorrowDetail.do?borrowNid=',
							b.borrow_nid
						) AS loanUrl,
						(
							SELECT
								ct.create_time
							FROM
								ht_hjh_debt_credit_tender ct
							WHERE
								ct.credit_nid = dc.credit_nid
							ORDER BY
								ct.id DESC
							LIMIT 1
						) AS end_time,
						0 AS reward
					FROM
						ht_hjh_debt_credit dc
					INNER JOIN ht_borrow b ON dc.borrow_nid = b.borrow_nid
					JOIN ht_borrow_info hbi ON b.borrow_nid = hbi.borrow_nid
					INNER JOIN ht_hjh_plan dp ON dp.plan_nid = dc.plan_nid
					LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
					WHERE
						dc.credit_status = 2
				) tt

			WHERE tt.end_time >= #{timeStart}
	        AND tt.end_time <![CDATA[<=]]> #{timeEnd}) t2
  </select>

	<select id="sumBorrowAmount" parameterType="map" resultType="string">
	select IFNULL(SUM(t2.amount),0) amountTotal from (SELECT
		hb.account AS amount
	FROM
		ht_borrow_repay br
	JOIN ht_borrow hb ON br.borrow_nid = hb.borrow_nid
	WHERE
		UNIX_TIMESTAMP(br.create_time) >= #{timeStart}
	AND UNIX_TIMESTAMP(br.create_time) <![CDATA[<=]]> #{timeEnd}
	UNION ALL
		SELECT
			tt.amount
		FROM
			(
				SELECT
					bc.credit_nid AS projectId,
					bc.credit_nid AS userName,
					bc.credit_nid AS borrow_nid,
					hbi.finance_purpose AS title,
					bc.credit_capital AS amount,
					100 AS `schedule`,
					CONCAT(bc.bid_apr, '%') AS interestRate,
					bc.credit_term AS deadline,
					'天' AS deadlineUnit,
					1 AS repaymentType,
					'债权转让标' AS `type`,
					CONCAT(
						'https://www.hyjf.com/bank/user/credit/webcredittender.do?creditNid=',
						bc.credit_nid
					) AS loanUrl,
					(
						SELECT
							ct.create_time
						FROM
							ht_credit_tender ct
						WHERE
							ct.credit_nid = bc.credit_nid
						ORDER BY
							ct.assign_id DESC
						LIMIT 1
					) AS end_time,
					0 AS reward
				FROM
					ht_borrow_credit bc
				INNER JOIN ht_borrow hb ON bc.bid_nid = hb.borrow_nid
				JOIN ht_borrow_info hbi ON hb.borrow_nid = hbi.borrow_nid
				WHERE
					bc.credit_status = '2'
			) tt
		WHERE
		  tt.end_time >= #{timeStart}
			AND tt.end_time <![CDATA[<=]]> #{timeEnd}
		UNION ALL
			SELECT
				tt.amount
			FROM
				(
					SELECT
						dc.credit_nid AS projectId,
						dc.credit_nid AS userName,
						dc.credit_nid AS borrow_nid,
						hbi.finance_purpose AS title,
						dc.credit_capital AS amount,
						100 AS `schedule`,
						CONCAT(dc.actual_apr, '%') AS interestRate,
						dc.remain_days AS deadline,
						'天' AS deadlineUnit,
						'1' AS `repaymentType`,
						'债权转让标' AS `type`,
						CONCAT(
							'https://www.hyjf.com/bank/web/borrow/getBorrowDetail.do?borrowNid=',
							b.borrow_nid
						) AS loanUrl,
						(
							SELECT
								ct.create_time
							FROM
								ht_hjh_debt_credit_tender ct
							WHERE
								ct.credit_nid = dc.credit_nid
							ORDER BY
								ct.id DESC
							LIMIT 1
						) AS end_time,
						0 AS reward
					FROM
						ht_hjh_debt_credit dc
					INNER JOIN ht_borrow b ON dc.borrow_nid = b.borrow_nid
					JOIN ht_borrow_info hbi ON b.borrow_nid = hbi.borrow_nid
					INNER JOIN ht_hjh_plan dp ON dp.plan_nid = dc.plan_nid
					LEFT JOIN ht_borrow_style bs ON bs.nid = b.borrow_style
					WHERE
						dc.credit_status = 2
				) tt

			WHERE tt.end_time >= #{timeStart}
	        AND tt.end_time <![CDATA[<=]]> #{timeEnd}) t2
  </select>


	<select id="selectTenderList" parameterType="map" resultMap="TenderListResultMap">
  	SELECT
		hu.user_id AS subscribeUserName,
		t.account AS amount,
		t.account AS validAmount,
		date_format(t.create_time, '%Y-%m-%d %H:%i:%s') AS addDate,
		'1' AS STATUS,
		IF (
			t.accede_order_id IS NULL,
			0,
			1
		)
		 AS type
	FROM
		ht_borrow_tender t
	JOIN ht_r_user hu ON t.user_id = hu.user_id
	WHERE t.borrow_nid = #{projectId}
	UNION ALL
		SELECT
			hu.user_id AS subscribeUserName,
			ct.assign_capital AS amount,
			ct.assign_capital AS validAmount,
			date_format(ct.create_time, '%Y-%m-%d %H:%i:%s') AS addDate,
			'1' AS STATUS,
			0 AS type
		FROM
			ht_credit_tender ct
		INNER JOIN ht_borrow_credit bc ON bc.bid_nid = ct.bid_nid
		AND bc.credit_nid = ct.credit_nid
		JOIN ht_r_user hu ON ct.user_id = hu.user_id
		WHERE ct.credit_nid = #{projectId}
		UNION ALL
			SELECT
				hu.user_id AS subscribeUserName,
				ct.assign_capital AS amount,
				ct.assign_capital AS validAmount,
				date_format(
					ct.create_time,
					'%Y-%m-%d %H:%i:%s'
				) AS addDate,
				'1' AS STATUS,
				0 AS type
			FROM
				ht_hjh_debt_credit_tender ct
			INNER JOIN ht_hjh_debt_credit bc ON bc.borrow_nid = ct.borrow_nid
			AND bc.credit_nid = ct.credit_nid
			JOIN ht_r_user hu ON ct.user_id = hu.user_id
			WHERE ct.credit_nid = #{projectId}
  </select>
	<select id="selectPreapysList" parameterType="map" resultMap="PreapysListCustomize">
		SELECT
		hb.borrow_nid AS projectId,
		'天' AS deadlineUnit,
		ROUND(
		(
		br.repay_yestime - br.create_time
		) / (60 * 60 * 24)
		) AS deadline
		FROM
		ht_borrow_repay br
		JOIN ht_borrow hb ON br.borrow_nid = hb.borrow_nid
		WHERE
		br.advance_status = '1'
		AND br.repay_status = '1'
		AND repay_yestime >= #{timeStart}
		AND repay_yestime <![CDATA[<=]]> #{timeEnd}
		<if test="limitStart != null and limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>
	<select id="countPreapysList" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			ht_borrow_repay
		WHERE
			advance_status = '1'
		AND repay_status = '1'
		AND repay_yestime >= #{timeStart}
		AND repay_yestime <![CDATA[<=]]> #{timeEnd}
  </select>
</mapper>