<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.WebUserRepayListCustomizeMapper">

	<sql id="Where_Clause_Repay_List">
		<where>
			(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
			AND hydb.user_id = #{userId,jdbcType=VARCHAR}
			<if test="status == null or status =='' ">
				AND (( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				OR ( hydb.`status` = 5))
			</if>
			<if test="status != null and status !=''">
				<if test="status == '0'.toString()">
					AND ( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				</if>
				<if test="status == '1'.toString()">
					AND ( hydb.`status` = 5 )
				</if>
			</if>
			
			<if test="startDate != null and startDate != ''">
				AND hydbr.repay_time <![CDATA[>=]]> unix_timestamp(#{startDate,jdbcType=VARCHAR})
			</if>
			<if test="endDate != null and endDate != ''">
				AND hydbr.repay_time <![CDATA[<=]]> unix_timestamp(#{endDate,jdbcType=VARCHAR})
			</if>
			
			<if test="borrowNid != null and borrowNid !=''">
				AND hydbr.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
			</if>
		</where>
	</sql>
	<!-- add by cwyang 还款列表增加到账时间和到账金额排序 -->
	<sql id="Where_order_Repay">
	
		<if test="(repayTimeOrder == null or repayTimeOrder =='') and (checkTimeOrder == null or checkTimeOrder =='')">
			repay_status,hydbr.repay_time
		</if>
		<if test="repayTimeOrder != null and repayTimeOrder !=''">
			hydbr.repay_time
			<if test="repayTimeOrder == '1'.toString()">
			 	 DESC
			</if>
		</if>
		<if test="checkTimeOrder != null and checkTimeOrder !=''">
			hbap.update_time
			<if test="checkTimeOrder == '1'.toString()">
			 	 DESC
			</if>
		</if>
	</sql>
	
	<resultMap id="UserRepayListMap" type="com.hyjf.am.vo.trade.repay.WebUserRepayProjectListCustomizeVO">
		<id column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_type_name" property="projectTypeName" jdbcType="VARCHAR" />
		<result column="borrow_style" property="borrowStyle" jdbcType="VARCHAR" />
		<result column="borrow_name" property="borrowName" jdbcType="VARCHAR" />
		<result column="borrow_interest" property="borrowInterest" jdbcType="VARCHAR" />
		<result column="borrow_period" property="borrowPeriod" jdbcType="VARCHAR" />
		<result column="com_or_per" property="comOrPer" jdbcType="VARCHAR" />
		<result column="loan_time" property="loanTime" jdbcType="VARCHAR" />
		<result column="borrow_account" property="borrowAccount" jdbcType="VARCHAR" />
		<result column="borrow_total" property="borrowTotal" jdbcType="VARCHAR" />
		<result column="repay_time" property="repayTime" jdbcType="VARCHAR" />
		<result column="repay_status" property="status" jdbcType="VARCHAR" />
		<result column="borrow_asset_number" property="borrowAssetNumber" jdbcType="VARCHAR" />
		<result column="repay_money_source" property="repayMoneySource" jdbcType="VARCHAR" />
		<result column="action_time" property="repayActionTime" jdbcType="VARCHAR" />
		<result column="capital_yes" property="repayTotal" jdbcType="VARCHAR" />
		<result column="account_yes" property="accountTotal" jdbcType="VARCHAR" />
		<result column="repay_period" property="repayPeriod" jdbcType="VARCHAR" />
		<result column="repay_total" property="repayTotal" jdbcType="VARCHAR" />
		<result column="repayYesTime" property="repayYesTime" jdbcType="VARCHAR" />
		<result column="repay_fee" property="repayFee" jdbcType="VARCHAR" />
		<result column="borrow_all_period" property="borrowAllPeriod" jdbcType="VARCHAR" />
		<result column="suc_amount" property="yesAccount" jdbcType="VARCHAR" />
		<result column="suc_time" property="yesAccountTime" jdbcType="VARCHAR" />
		<result column="real_account_yes" property="realAccountYes" jdbcType="VARCHAR" />
		<result column="all_repay_fee" property="allRepayFee" jdbcType="VARCHAR" />
		<result column="batch_service_fee" property="serviceFee" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectUserRepayProjectList" resultMap="UserRepayListMap" parameterType="Map">
		SELECT
			hbap.suc_amount,
			hbap.batch_service_fee,
		    DATE_FORMAT(hbap.update_time,'%Y-%m-%d') AS suc_time,
			hydb.borrow_nid,
			o.name as borrow_name,
			hydbpt.borrow_name AS project_type_name,
			hydb.project_type,
			hydb.borrow_style,
			hydb.borrow_apr AS borrow_interest,
		    o.borrow_asset_number as borrow_asset_number,
			CASE
				WHEN hydb.borrow_style = 'endday' 
					THEN CONCAT(hydb.borrow_period, '天')
				ELSE
					CONCAT(hydb.borrow_period,'个月')
				END AS borrow_period,
			o.company_or_personal AS com_or_per,
			FROM_UNIXTIME(
				hydb.verify_time,'%Y-%m-%d'
				) AS loan_time,
			hydb.account AS borrow_account,
			IF(hydb.`status` = 5,hydb.repay_account_yes,hydb.repay_account_all) AS borrow_total,
		 	CASE 
        		WHEN ( hydb.`status` = 4 AND hydb.repay_full_status = 0 ) THEN
   					CASE
   						<!--还款中  -->
						WHEN EXISTS ( SELECT 1 FROM ht_borrow_apicron hydba WHERE hydba.borrow_nid = hydb.borrow_nid AND hydba.api_type = 1 AND hydba.`status` <![CDATA[<>]]> 6) THEN '2'
						<!--未还款  -->
						ELSE '0'
					END
				<!--已还款  -->		
        		WHEN ( hydb.`status` = 5) THEN '1'	
			ELSE
			  ''
			END AS `repay_status`,
			FROM_UNIXTIME(hydbr.repay_time,'%Y-%m-%d') AS repay_time,
			hba.is_repay_org_flag AS repay_money_source,
			FROM_UNIXTIME(
				hydbr.repay_action_time,
				'%Y-%m-%d'
			) AS action_time,
			hydbr.repay_capital_yes AS capital_yes,
			hydbr.repay_account_yes AS account_yes,
			CASE
				WHEN (
					hydb.borrow_style = 'endday'
					OR hydb.borrow_style = 'end'
				) THEN
					hydbr.repay_account
				ELSE
					plan.repay_account
				END AS real_account_yes,
			CASE
				WHEN (
					hydb.borrow_style = 'endday'
					OR hydb.borrow_style = 'end'
				) THEN
					hydbr.repay_fee
				ELSE
					plan.repay_fee
				END AS repay_fee,
			hydbr.repay_fee AS all_repay_fee
		FROM
			ht_borrow hydb
		left join ht_borrow_info o on hydb.borrow_nid = o.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid AND hba.api_type = 1 AND hba.`status` <![CDATA[<>]]> 6
		    AND CASE WHEN hydb.borrow_style in ('endday','end')
             THEN hba.period_now = 1
             ELSE hba.period_now = (hydb.borrow_period - hydbr.repay_period + 1)
             END
		LEFT JOIN ht_borrow_apicron hbap ON hbap.borrow_nid = hydb.borrow_nid AND hbap.api_type = 0 AND hbap.`status` = 6
		LEFT JOIN ht_borrow_repay_plan plan ON plan.borrow_nid = hydb.borrow_nid
		AND plan.repay_period = (
			hydb.borrow_period - hydbr.repay_period + 1
		)
		<include refid="Where_Clause_Repay_List" />
		ORDER BY 
		<include refid="Where_order_Repay" />
		<if test="limitStart != null and limitEnd !=null" >
	      LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
	    </if>
	</select>
	<!-- modify by cwyang 垫付机构添加还款来源确认前台显示什么按钮 -->
	<select id="selectOrgRepayProjectList" resultMap="UserRepayListMap" parameterType="Map">
		SELECT
		hydb.borrow_nid,
		o.name as borrow_name,
		hydbpt.borrow_name AS project_type,
		hydb.borrow_style,
		hydb.borrow_apr AS borrow_interest,
		o.borrow_asset_number as borrow_asset_number,
		CASE
		WHEN hydb.borrow_style = 'endday'
		THEN CONCAT(hydb.borrow_period, '天')
		ELSE
		CONCAT(hydb.borrow_period,'个月')
		END AS borrow_period,
		o.company_or_personal AS com_or_per,
		FROM_UNIXTIME(
		hydb.verify_time,'%Y-%m-%d'
		) AS loan_time,
		hydb.account AS borrow_account,
		hydb.repay_account_all AS borrow_total,
		CASE
		WHEN ( hydb.`status` = 4 AND hydb.repay_full_status = 0 ) THEN
		CASE
		<!--还款中  -->
		WHEN EXISTS ( SELECT 1 FROM ht_borrow_apicron hydba WHERE hydba.borrow_nid = hydb.borrow_nid AND hydba.api_type = 1 AND hydba.status <![CDATA[<>]]> 6) THEN '2'
		<!--未还款  -->
		ELSE '0'
		END
		<!--已还款  -->
		WHEN ( hydb.`status` = 5) THEN '1'
		ELSE
		''
		END AS `repay_status`,
		FROM_UNIXTIME(hydbr.repay_time,'%Y-%m-%d') AS repay_time,
		FROM_UNIXTIME(
		hydbr.repay_action_time,
		'%Y-%m-%d'
		) AS action_time,
		hba.is_repay_org_flag AS repay_money_source,
		hydbr.repay_capital_yes AS capital_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_account
		ELSE
		plan.repay_account
		END AS account_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_account
		ELSE
		plan.repay_account
		END AS real_account_yes,
		CASE
		WHEN (
		hydb.borrow_style = 'endday'
		OR hydb.borrow_style = 'end'
		) THEN
		hydbr.repay_fee
		ELSE
		plan.repay_fee
		END AS repay_fee,
		hydbr.repay_fee AS all_repay_fee,
		hydbr.repay_period,
		hydb.borrow_period AS borrow_all_period,
		CASE WHEN hydb.borrow_style = 'endday' or hydb.borrow_style = 'end' THEN FROM_UNIXTIME(hydbr.repay_time,'%Y-%m-%d')
		ELSE FROM_UNIXTIME(plan.repay_time,'%Y-%m-%d') END AS repayYesTime
		FROM
		ht_borrow hydb
		<!-- INNER JOIN ht_users u ON hydb.repay_org_user_id= u.user_id -->
		left join ht_borrow_info o on hydb.borrow_nid = o.borrow_nid
		LEFT JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_repay hydbr ON hydbr.borrow_nid = hydb.borrow_nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid AND hba.api_type = 1 AND hba.`status` <![CDATA[<>]]> 6
		AND CASE WHEN hydb.borrow_style in ('endday','end')
		THEN hba.period_now = 1
		ELSE hba.period_now = (hydb.borrow_period - hydbr.repay_period + 1)
		END
		LEFT JOIN ht_borrow_repay_plan plan ON plan.borrow_nid = hydb.borrow_nid
		AND plan.repay_period = (
		hydb.borrow_period - hydbr.repay_period + 1
		)
		<include refid="Where_Clause_Repay_Org_List" />
		ORDER BY repay_status, hydbr.repay_time
		<if test="repayTimeOrder == 1" >
			DESC
		</if>
		<if test="limitStart != null and limitEnd !=null" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>
	<sql id="Where_Clause_Repay_Org_List">
		<where>
			(hydbpt.borrow_project_type ='HZT' OR hydbpt.borrow_project_type ='HXF')
			AND hydb.repay_org_user_id = #{userId,jdbcType=VARCHAR}
			<if test="status == null or status =='' ">
				AND (( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				OR ( hydb.`status` = 5))
			</if>
			<if test="status != null and status !=''">
				<if test="status == '0'.toString()">
					AND ( hydb.`status` = 4 AND hydb.repay_full_status = 0 )
				</if>
				<if test="status == '1'.toString()">
					AND ( hydb.`status` = 5 )
				</if>
			</if>
			<if test="startDate != null and startDate != ''">
				AND hydbr.repay_time <![CDATA[>=]]> unix_timestamp(#{startDate,jdbcType=VARCHAR})
			</if>
			<if test="endDate != null and endDate != ''">
				AND hydbr.repay_time <![CDATA[<=]]> unix_timestamp(#{endDate,jdbcType=VARCHAR})
			</if>

			<if test="repayStatus != null and repayStatus != ''">
				AND hba.id is null
			</if>

			<if test="borrowNid != null and borrowNid !=''">
				AND hydbr.borrow_nid LIKE CONCAT( #{borrowNid}, '%')
			</if>
		</where>
	</sql>
	<resultMap id="BorrowInfoMap" type="com.hyjf.am.trade.dao.model.customize.WebUserTransferBorrowInfoCustomize">
		<result column="borrow_nid" property="borrowNid"/>
		<result column="plan_nid" property="planNid"/>
		<result column="borrow_period" property="borrowPeriod"/>
		<result column="account" property="account"/>
		<result column="suc_amount" property="sucSmount"/>
		<result column="borrow_apr" property="borrowApr"/>
		<result column="send_time" property="sendTime"/>
		<result column="full_time" property="borrowFullTime"/>
		<result column="borrow_style" property="borrowStyle"/>
		<result column="recover_last_time" property="recoverLastTime"/>
		<result column="project_type" property="projectType"/>
		<result column="borrow_status" property="borrowStatus"/>
		<result column="batch_service_fee" property="serviceFee"/>
		<!--<result column="borrow_extra_yield" property="borrowExtraYield"/>-->
	</resultMap>

	<select id="getBorrowInfo" resultMap="BorrowInfoMap" parameterType="Map">
		select
		hydb.borrow_nid,
		hba.batch_service_fee,
		hydb.plan_nid,
		hydb.borrow_period,
		hydb.account,
		hba.suc_amount,
		hydb.borrow_apr,
		hydb.borrow_apr,
		CASE
		WHEN hydb.`status` = 1 AND hydb.verify_status = 3
		THEN FROM_UNIXTIME( hydb.ontime, '%Y-%m-%d %H:%i' )
		ELSE
		FROM_UNIXTIME(
		hydb.verify_time,
		'%Y-%m-%d %H:%i'
		)
		END AS send_time,
		FROM_UNIXTIME(
		hydb.borrow_full_time,
		'%Y-%m-%d %H:%i'
		) AS full_time,
		hydbs.name as borrow_style,
		FROM_UNIXTIME(hydb.recover_last_time, '%Y-%m-%d %H:%i') AS recover_last_time,
		hydb.project_type,
-- 		hydb.borrow_extra_yield,
		CASE
		WHEN hydb.`status` = 1 AND hydb.verify_status = 3 THEN '10'
		WHEN hydb.`status` = 2 AND hydb.borrow_full_status = 0
		AND (
		hydb.verify_time + (
		hydb.borrow_valid_time * 24 * 60 * 60
		) > UNIX_TIMESTAMP(NOW())
		) THEN
		'11'
		WHEN hydb.`status` = 3
		THEN
		'12'
		WHEN hydb.`status` = 4 THEN
		'13'
		WHEN hydb.`status` = 5 THEN
		'14'
		ELSE
		''
		END AS borrow_status
		from ht_borrow hydb
		LEFT JOIN ht_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		LEFT JOIN ht_borrow_apicron hba ON hba.borrow_nid = hydb.borrow_nid AND hba.api_type = 0 AND hba.`status` = 6
		<where>
			hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		</where>
	</select>

	<select id="selectUserRepayTransferListTotalByCreditTender" resultType="java.lang.Integer" parameterType="Map">
		select COUNT(1) from ht_credit_tender where bid_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>

	<select id="selectUserRepayTransferListTotalByHjhCreditTender" resultType="java.lang.Integer" parameterType="Map">
		select COUNT(1) from ht_hjh_debt_credit_tender where borrow_nid = #{borrowNid,jdbcType=VARCHAR}
	</select>

	<resultMap id="HjhCreditTenderListMap" type="com.hyjf.am.trade.dao.model.customize.WebUserRepayTransferCustomize">
		<result column="credit_user_id" property="creditUserId" jdbcType="VARCHAR" />
		<result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
		<result column="user_name" property="undertakerUserName" jdbcType="VARCHAR" />
		<result column="assign_order_date" property="assignOrderDate" />
		<result column="assign_capital" property="assignCapital" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectUserRepayTransferListByHjhCreditTender" resultMap="HjhCreditTenderListMap" parameterType="Map">
		select credit_user_id, user_name,credit_user_name, DATE_FORMAT(create_time, '%Y-%m-%d %k:%i')AS assign_order_date, assign_account, assign_capital from ht_hjh_debt_credit_tender
		where borrow_nid = #{borrowNid,jdbcType=VARCHAR}
		<if test="limitStart != null and limitStart >= 0 and limitEnd !=null and limitEnd >= 0" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>

	<resultMap id="CreditTenderListMap" type="com.hyjf.am.trade.dao.model.customize.WebUserRepayTransferCustomize">
		<result column="credit_user_id" property="creditUserId" jdbcType="VARCHAR" />
		<result column="credit_user_name" property="creditUserName" jdbcType="VARCHAR" />
		<result column="undertaker_user_name" property="undertakerUserName" jdbcType="VARCHAR" />
		<result column="assign_order_date" property="assignOrderDate" />
		<result column="assign_capital" property="assignCapital" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectUserRepayTransferListByCreditTender" resultMap="CreditTenderListMap" parameterType="Map">
		select
		u.username as undertaker_user_name,
		ct.credit_user_id,
		hu.username as credit_user_name,
		ct.assign_capital,
		ct.assign_price,
		DATE_FORMAT(ct.create_time, '%Y-%m-%d %k:%i')AS assign_order_date,
		ct.assign_pay
		from ht_credit_tender ct
		LEFT JOIN ht_r_user u on u.user_id = ct.user_id
		LEFT JOIN ht_r_user hu on hu.user_id = ct.credit_user_id
		where bid_nid = #{borrowNid,jdbcType=VARCHAR}
		<if test="limitStart != null and limitStart >= 0 and limitEnd !=null and limitEnd >= 0" >
			LIMIT #{limitStart,jdbcType=INTEGER} , #{limitEnd,jdbcType=INTEGER}
		</if>
	</select>
	<select id="getWaitRepayManageFee" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(htbr.repay_fee),0)
		FROM
		ht_borrow htb
		LEFT JOIN ht_borrow_project_type htbpt ON htbpt.borrow_cd = htb.project_type
		LEFT JOIN ht_borrow_repay htbr ON htbr.borrow_nid = htb.borrow_nid
		LEFT JOIN ht_borrow_apicron htba ON htba.borrow_nid = htb.borrow_nid
		AND htba.api_type = 1 AND htba.`status` = 6 AND htba.period_now = 1
		WHERE (htbpt.borrow_project_type = 'HZT' OR htbpt.borrow_project_type = 'HXF')
		AND htb.borrow_style in ('endday','end') AND htba.id is null AND htb.user_id = #{userId}
		AND ((htb.`status` = 4 AND htb.repay_full_status = 0) OR (htb.`status` = 8 AND htb.repay_full_status = 0) )
	</select>
	<select id="getWaitRepayPlanManageFee" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(htbr.repay_fee),0)
		FROM
		ht_borrow htb
		LEFT JOIN ht_borrow_project_type htbpt ON htbpt.borrow_cd = htb.project_type
		LEFT JOIN ht_borrow_repay_plan htbr ON htbr.borrow_nid = htb.borrow_nid
		LEFT JOIN ht_borrow_apicron htba ON htba.borrow_nid = htb.borrow_nid
		AND htba.api_type = 1 AND htba.`status` = 6 AND htba.period_now = htbr.repay_period
		WHERE (htbpt.borrow_project_type = 'HZT' OR htbpt.borrow_project_type = 'HXF')
		AND htba.id is null AND htb.user_id = #{userId}
		AND ((htb.`status` = 4 AND htb.repay_full_status = 0) OR (htb.`status` = 8 AND htb.repay_full_status = 0))
	</select>
	<select id="getOrgWaitRepayManageFee" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(htbr.repay_fee),0)
		FROM
		ht_borrow htb
		INNER JOIN ht_borrow_info htbi ON htb.borrow_nid = htbi.borrow_nid
		LEFT JOIN ht_borrow_project_type htbpt ON htbpt.borrow_cd = htb.project_type
		LEFT JOIN ht_borrow_repay htbr ON htbr.borrow_nid = htb.borrow_nid
		LEFT JOIN ht_borrow_apicron htba ON htba.borrow_nid = htb.borrow_nid
		AND htba.api_type = 1 AND htba.`status` = 6 AND htba.period_now = 1
		WHERE (htbpt.borrow_project_type = 'HZT' OR htbpt.borrow_project_type = 'HXF')
		AND htb.borrow_style in ('endday','end') AND htba.id is null AND htbi.repay_org_user_id = #{userId}
		AND ((htb.`status` = 4 AND htb.repay_full_status = 0) OR (htb.`status` = 8 AND htb.repay_full_status = 0))
	</select>
	<select id="getOrgWaitRepayPlanManageFee" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(htbr.repay_fee),0)
		FROM
		ht_borrow htb
		INNER JOIN ht_borrow_info htbi ON htb.borrow_nid = htbi.borrow_nid
		LEFT JOIN ht_borrow_project_type htbpt ON htbpt.borrow_cd = htb.project_type
		LEFT JOIN ht_borrow_repay_plan htbr ON htbr.borrow_nid = htb.borrow_nid
		LEFT JOIN ht_borrow_apicron htba ON htba.borrow_nid = htb.borrow_nid
		AND htba.api_type = 1 AND htba.`status` = 6 AND htba.period_now = htbr.repay_period
		WHERE (htbpt.borrow_project_type = 'HZT' OR htbpt.borrow_project_type = 'HXF')
		AND htba.id is null AND htbi.repay_org_user_id = #{userId}
		AND ((htb.`status` = 4 AND htb.repay_full_status = 0) OR (htb.`status` = 8 AND htb.repay_full_status = 0))
	</select>
    <select id="getFailCredit" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*) FROM
		ht_hjh_plan_borrow_tmp tmp
		JOIN ht_hjh_debt_credit hhdc ON hhdc.credit_nid = tmp.borrow_nid
		WHERE tmp.borrow_type = 1 AND hhdc.borrow_nid = #{borrowNid}
	</select>
</mapper>