<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.WrbQueryCustomizeMapper">
	<resultMap id="getDaySumMap" type="com.hyjf.am.vo.api.WrbDaySumCustomize">
		<result column="lend_count" property="lend_count" jdbcType="INTEGER"></result>
		<result column="borrow_count" property="borrow_count" jdbcType="INTEGER"></result>
		<result column="invest_all_money" property="invest_all_money" jdbcType="DECIMAL"></result>
		<result column="fc_all_wait_back_money" property="fc_all_wait_back_money" jdbcType="DECIMAL"></result>
		<result column="all_wait_back_money" property="all_wait_back_money" jdbcType="DECIMAL"></result>
	</resultMap>
	<sql id="invest_record_sql">
		<where>
			<if test="userId != null">
				hbt.user_id = #{userId}
			</if>
			<if test="nid != null">
				AND hbt.nid = #{nid}
			</if>
			<if test="status == 0">
				AND hb.status <![CDATA[ <> ]]> 5 AND hb.status <![CDATA[ <> ]]> 6
			</if>
			<if test="status == 1">
				AND hb.status = 5
			</if>
			<if test="status == 2">
				AND 1 = 2
			</if>
			<if test="startTime != null">
				AND hbt.addtime <![CDATA[ >= ]]> #{startTime}
			</if>
			<if test="endTime != null">
				AND hbt.addtime <![CDATA[ <= ]]> #{endTime}
			</if>
		</where>
	</sql>

	<sql id="Where_Clause_New">
		<where>
			<if test="borrowNid != null and borrowNid != ''">
				hydb.borrow_nid = #{borrowNid,jdbcType=VARCHAR}
			</if>
			<if test="projectType != null and projectType != ''">
				AND hydbpt.borrow_project_type = #{projectType,jdbcType=VARCHAR}
			</if>
			<if test="borrowClass != null and borrowClass != ''">
				AND hydbpt.borrow_class = #{borrowClass,jdbcType=VARCHAR}
			</if>
			<if test="borrowClass == null or borrowClass == ''">
				<!-- 第三方接口拉取排除  新手汇 员工贷 现金贷 -->
				<!-- 新手汇  -->
				AND hydbpt.borrow_class <![CDATA[<>]]> 'NEW'
				<!--员工贷 -->
				AND hydbpt.borrow_cd <![CDATA[<>]]> '14'
				<!--现金贷 -->
				AND hydbpt.borrow_cd <![CDATA[<>]]> '15'
				<!-- 尊享汇  -->
				<!-- AND hydbpt.borrow_class <![CDATA[<>]]> 'ZXH' -->
				<!-- 融通宝  -->
				<!-- AND hydbpt.borrow_class <![CDATA[<>]]> 'RTB' -->
				<!--   AND hydb.project_type <![CDATA[<>]]> '12'  -->
				<!-- 汇直投列表数据过滤:只显示有效的项目 -->
				<if test="projectType == 'HZT'">
					AND CASE
					WHEN ( hydb.`status` = 1 AND hydb.verify_status = 3)
						THEN
							hydb.ontime + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() )
						ELSE
							hydb.verify_time + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() )
					END
				</if>
			</if>
			<if test="status == null or status == ''">
				AND
		        (
		           ( hydb.`status` = 1 AND hydb.verify_status = 3 )
					OR ( hydb.`status` = 2 AND hydb.verify_time + (hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
					OR ( hydb.`status` = 3 )
					OR ( hydb.`status` = 4 )
		        )
			</if>
			<!-- 第三方接口拉取排除  汇计划标的 -->
			AND plan_nid IS NULL
			
			<if test="status != null and status != ''">
				<!-- 获取 等待出借中 -->
				<if test="status == '1'.toString()">
				AND ( hydb.`status` = 1 AND hydb.verify_status = 3 )
				</if>
				<!-- 获取 出借中 -->
				<if test="status == '2'.toString()">
				AND ( hydb.`status` = 2 AND hydb.verify_time + ( hydb.borrow_valid_time * 24 * 60 *60 ) <![CDATA[>]]> UNIX_TIMESTAMP( NOW() ) )
				</if>
				<!-- 获取 投标结束 -->
				<if test="status == '3'.toString()">
				AND (hydb.`status` = 3)
				</if>
				<!-- 获取 还款中 -->
				<if test="status == '4'.toString()">
				AND ( hydb.`status` = 4)
				</if>
				<!-- 已还款 -->
				<if test="status == '5'.toString()">
				AND ( hydb.`status` = 5)
				</if>
			</if>
			AND hydb.is_show <![CDATA[<>]]> 1
		</where>
	</sql>

	<resultMap id="borrowListMap" type="com.hyjf.am.trade.dao.model.customize.WrbBorrowListCustomize">
		<id column="invest_id" property="invest_id"/>
		<id column="invest_title" property="invest_title"/>
		<id column="invest_url" property="invest_url"/>
		<id column="time_limit" property="time_limit"/>
		<id column="time_limit_desc" property="time_limit_desc"/>
		<id column="buy_limit" property="buy_limit"/>
		<id column="buy_unit" property="buy_unit"/>
		<id column="invested_amount" property="invested_amount"/>
		<id column="total_amount" property="total_amount"/>
		<id column="rate" property="rate"/>
		<id column="progress" property="progress"/>
		<id column="start_time" property="start_time"/>
		<id column="payback_way" property="payback_way"/>
		<id column="invest_condition" property="invest_condition"/>
		<id column="project_description" property="project_description"/>
		<id column="lose_invest" property="lose_invest"/>
	</resultMap>

<select id="searchBorrowListByNid" resultMap="borrowListMap">
		SELECT
			hydb.borrow_nid invest_id,
			hbi.`name` AS invest_title,
            CONCAT('/borrow/',  hydb.borrow_nid) invest_url,
			CASE WHEN hydb.borrow_style = 'endday' THEN hydb.borrow_period ELSE hydb.borrow_period*30 END AS time_limit,
			CASE WHEN hydb.borrow_style = 'endday' THEN CONCAT(hydb.borrow_period,'天') ELSE CONCAT(hydb.borrow_period, '个月') END time_limit_desc ,
			hbi.tender_account_max buy_limit,
			hbi.tender_account_min buy_unit,
			hydb.borrow_account_yes invested_amount,
			hydb.account total_amount,
			hydb.borrow_apr rate,
			hydb.borrow_account_scale progress,
			CASE
			WHEN hydb.`status` = 1 AND hydb.verify_status =3
				THEN FROM_UNIXTIME( hydb.ontime, '%Y-%m-%d %H:%i:%s' )
			ELSE ''
			END AS start_time,
			hydbs.`name` AS payback_way,
			hydbpt.borrow_name AS invest_condition,
			hbi.borrow_contents AS project_description,
			'0' lose_invest,
			hydb.status borrow_status
		FROM
			ht_borrow hydb
	    INNER JOIN ht_borrow_info hbi on hydb.borrow_nid = hbi.borrow_nid
		INNER JOIN ht_borrow_project_type hydbpt ON hydbpt.borrow_cd = hydb.project_type
		LEFT JOIN ht_borrow_style hydbs ON hydb.borrow_style = hydbs.nid
		<include refid="Where_Clause_New" />
		ORDER BY
			hydb.`status` ASC,
			CASE
				WHEN hydb.`status` = '1' AND hydb.verify_status = 3 AND hydb.ontime IS NOT NULL AND LENGTH(trim(hydb.ontime)) <![CDATA[>]]> 1
				THEN
					hydb.ontime
			END ASC,
			CASE
				WHEN hydb.`status` = '2'
				THEN hydb.borrow_account_scale
			END DESC,
			CASE
				WHEN hydb.`status` = '2'
				THEN hydb.verify_time
			END DESC,
			CASE
				WHEN hydb.`status` = '3'
				THEN hydb.borrow_full_time
			END DESC,
			CASE
				WHEN hydb.`status` = '4'
				THEN hydb.borrow_full_time
			END DESC
			
			limit 0,100
</select>

	<resultMap id="borrowTenderMap" type="com.hyjf.am.trade.dao.model.customize.WrbBorrowTenderCustomize">
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="addtime" property="investTime" jdbcType="VARCHAR"/>
		<result column="nid" property="nid" jdbcType="VARCHAR"/>
		<result column="account" property="account" jdbcType="DECIMAL"/>
	</resultMap>

	<select id="selectWrbBorrowTender" resultMap="borrowTenderMap">
		select  t.user_id,
		DATE_FORMAT(t.create_time,'%Y-%m-%d %H:%i:%s')AS addtime,
		t.nid,
		t.account
		FROM ht_borrow_tender t
		WHERE t.borrow_nid = #{borrowNid}
		AND t.create_time >= #{investTime}
	</select>

	<resultMap id="borrowTenderSumMap" type="com.hyjf.am.trade.dao.model.customize.WrbBorrowTenderSumCustomize">
		<result column="first_invest_time" property="firstInvestTime" jdbcType="VARCHAR"/>
		<result column="last_invest_time" property="lastInvestTime" jdbcType="VARCHAR"/>
		<result column="all_investors" property="allInvestors" jdbcType="VARCHAR"/>
		<result column="invest_all_money" property="investAllMoney" jdbcType="DECIMAL"/>
		<result column="borrow_id" property="borrowId" jdbcType="DECIMAL"/>
	</resultMap>

	<select id="getBorrowTenderByBorrowNidAndTime" resultMap="borrowTenderSumMap">
		select  DATE_FORMAT(MIN(t.create_time),'%Y-%m-%d %H:%i:%s') AS first_invest_time,
		DATE_FORMAT(MAX(t.create_time),'%Y-%m-%d %H:%i:%s') AS last_invest_time,
		COUNT(*) AS all_investors,
		SUM(t.account) AS invest_all_money,
		i.user_id AS borrow_id
		FROM ht_borrow_tender t LEFT JOIN ht_borrow i ON i.borrow_nid = t.borrow_nid
		WHERE t.borrow_nid = #{borrowNid}
		AND t.create_time >= #{investTime}
	</select>


	<select id="getDaySum" resultMap="getDaySumMap">
		SELECT
		(
		SELECT
		COUNT(DISTINCT user_id)
		FROM
		ht_borrow
		WHERE
		create_time <![CDATA[>=]]> #{timeStart}
		AND create_time <![CDATA[<=]]> #{timeEnd}
		) AS borrow_count,
		(
		SELECT
		COUNT(DISTINCT user_id)
		FROM
		ht_borrow_tender
		WHERE
		create_time<![CDATA[>=]]> #{timeStart}
		AND create_time<![CDATA[<=]]> #{timeEnd}
		) AS lend_count,
		(
		SELECT
		SUM(account)
		FROM
		ht_borrow_tender
		WHERE
		create_time <![CDATA[>=]]> #{timeStart}
		AND create_time <![CDATA[<=]]> #{timeEnd}
		) AS invest_all_money,
		(
		SELECT
		SUM(recover_account_capital_wait)
		FROM
		ht_borrow_tender
		) AS all_wait_back_money,
		(
		SELECT
		SUM(recover_account_capital_wait)
		FROM
		ht_borrow_tender
		WHERE tender_from = 'wrb'
		) AS fc_all_wait_back_money
	</select>



	<select id="getInvestRecord" resultType="com.hyjf.am.trade.dao.model.customize.WrbInvestRecordCustomize">
		SELECT
		DATE_FORMAT(hbt.create_time, '%Y-%c-%d %h:%i:%s') AS invest_time,
		hbt.account AS invest_money,
		hbt.recover_account_capital_yes AS all_back_principal,
		hbt.recover_account_interest_yes AS all_back_interest,
		hbt.recover_account_interest AS all_interest,
		cpn.tender_award_account AS invest_reward,
		hbt.nid AS invest_record_id,
		info.project_name AS project_title,
		hb.borrow_nid AS project_id,
		CONCAT("/borrow/",hb.borrow_nid) AS project_url,
		hb.borrow_apr AS project_rate,
		CASE WHEN hb.borrow_style = 'endday' THEN hb.borrow_period ELSE hb.borrow_period*30 END AS project_timelimit,
		CASE WHEN hb.borrow_style = 'endday' THEN CONCAT(hb.borrow_period,'天') ELSE CONCAT(hb.borrow_period, '个月') END AS project_timelimit_desc,
		CASE WHEN hb.status = 2 THEN -1 WHEN hb.status = 4 THEN 0 WHEN hb.status = 5 THEN 1 END AS invest_status,
		0 AS is_auto_bid,
		CASE WHEN hbt.client = 0 THEN 1 WHEN hbt.client = 2 THEN 2 WHEN hbt.client = 3 THEN 2 ELSE 0 END AS suorce,
		hbs.`name` AS payback_way,
		CASE WHEN r.credit_status = 0 THEN 0 ELSE 1 END AS attorn_state,
		CASE WHEN r.credit_status = 0 THEN '' ELSE FROM_UNIXTIME(hbc.create_time) END AS attorn_time
		FROM
		ht_borrow_tender hbt
		LEFT JOIN ht_borrow hb ON hbt.borrow_nid = hb.borrow_nid
		LEFT JOIN ht_borrow_credit hbc ON hbc.tender_nid = hbt.nid
		LEFT JOIN ht_borrow_style hbs ON hb.borrow_style = hbs.nid
		LEFT JOIN ht_borrow_tender_cpn cpn ON hbt.nid=cpn.nid
		LEFT JOIN ht_borrow_info info ON info.borrow_nid=hbt.borrow_nid
		left join ht_borrow_recover r on hbt.nid = r.nid
		<include refid="invest_record_sql"/>
		ORDER BY hbt.id DESC
		<if test="limitStart != null and limitEnd != null">
			LIMIT #{limitStart}, #{limitEnd}
		</if>
	</select>

	<select id="getRecover" resultType="com.hyjf.am.trade.dao.model.customize.WrbRecoverCustomize">
SELECT
		CASE WHEN hbr.recover_status = 0 THEN FROM_UNIXTIME(hbr.recover_time, '%d') ELSE '' END AS monthly_back_date,
		CASE WHEN hbr.recover_status = 0 THEN FROM_UNIXTIME(hbr.recover_time, '%Y-%c-%d') ELSE  '' END AS next_back_date,
		CASE WHEN hbr.recover_status = 0 THEN hbr.recover_account END AS next_back_money,
		CASE WHEN hbr.recover_status = 0 THEN hbr.recover_capital END AS next_back_principal,
		CASE WHEN hbr.recover_status = 0 THEN hbr.recover_interest END AS next_back_interest,
		CASE WHEN hbr.advance_status = 1 AND hbr.charge_days > 8 THEN 1 ELSE 0 END AS back_early_state,
		CASE WHEN hbr.advance_status = 1 AND hbr.charge_days > 8 THEN FROM_UNIXTIME(hbr.recover_yestime, '%Y-%c-%d %h:%i:%s') ELSE '' END AS back_early_time
		FROM ht_borrow_tender hbt
		inner JOIN ht_borrow_recover hbr ON hbt.nid = hbr.nid
    	inner JOIN ht_borrow_recover_plan p ON hbr.borrow_nid=p.borrow_nid
		WHERE hbt.nid = #{nid}
	</select>

	<select id="getRecoverPlan" resultType="com.hyjf.am.trade.dao.model.customize.WrbRecoverCustomize">
		SELECT
		CASE WHEN hbrp.recover_status = 0 THEN FROM_UNIXTIME(hbrp.recover_time, '%d') ELSE '' END AS monthly_back_date,
		CASE WHEN hbrp.recover_status = 0 THEN FROM_UNIXTIME(hbrp.recover_time, '%Y-%c-%d') ELSE  '' END AS next_back_date,
		CASE WHEN hbrp.recover_status = 0 THEN hbrp.recover_account END AS next_back_money,
		CASE WHEN hbrp.recover_status = 0 THEN hbrp.recover_capital END AS next_back_principal,
		CASE WHEN hbrp.recover_status = 0 THEN hbrp.recover_interest END AS next_back_interest
		FROM ht_borrow_tender hbt
		inner JOIN ht_borrow_recover_plan hbrp ON hbt.nid = hbrp.nid
		WHERE hbt.nid = #{nid}
	</select>
</mapper>