<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hyjf.am.trade.dao.mapper.customize.admin.AdminBorrowLogCustomizeMapper">

	<sql id="Where_Clause">
		<where>
			<if test="borrowNidSrch != null and borrowNidSrch != ''">
				AND b.borrow_nid LIKE CONCAT('%', #{borrowNidSrch}, '%')
			</if>
			<if test="borrowStatusSrch != null and borrowStatusSrch != ''">
				AND b.borrow_status LIKE CONCAT('%', #{borrowStatusSrch}, '%')
			</if>
			<if test="typeSrch != null and typeSrch != ''">
				AND b.type LIKE CONCAT('%', #{typeSrch}, '%')
			</if>
			<!-- 标的状态 -->
			<if test="createUserNameSrch != null and createUserNameSrch != ''">
				AND b.create_user_name = #{createUserNameSrch}
			</if>

			<if test="timeStartSrch != null and timeStartSrch != ''">
				AND FROM_UNIXTIME( b.create_time, '%Y-%m-%d' ) <![CDATA[>=]]> #{timeStartSrch}
			</if>
			<if test="timeEndSrch != null and timeEndSrch != ''">
				AND FROM_UNIXTIME( b.create_time, '%Y-%m-%d' ) <![CDATA[<=]]> #{timeEndSrch}
			</if>
		</where>
	</sql>
	<select id="countBorrowLog" resultType="java.lang.Integer" parameterType="com.hyjf.am.resquest.admin.BorrowLogRequset">
		SELECT
		COUNT(1)
		FROM
		ht_borrow_log b
		<include refid="Where_Clause" />
	</select>

	<resultMap id="selectBorrowLogListMap" type="com.hyjf.am.trade.dao.model.customize.admin.BorrowLogCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_status" property="borrowStatus" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="del_flg" property="delFlg" jdbcType="TINYINT" />
	</resultMap>

	<select id="selectBorrowLogList" resultMap="selectBorrowLogListMap" parameterType="com.hyjf.am.resquest.admin.BorrowLogRequset">
		SELECT
		b.borrow_nid,
		b.borrow_status,
		b.type,
		b.remark,
		b.create_user_name,
		FROM_UNIXTIME( b.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
		b.del_flg
		FROM
		ht_borrow_log b
		<include refid="Where_Clause" />
		ORDER BY
		<if test="col != null and col != '' and sort != null and sort != ''">
			${col} ${sort},
		</if>
		b.create_time DESC, b.id DESC
		<if test="limitStart >= 0" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>



	<!-- 导出 -->
	<resultMap id="exportBorrowLogListMap" type="com.hyjf.am.trade.dao.model.customize.admin.BorrowLogCustomize">
		<result column="borrow_nid" property="borrowNid" jdbcType="VARCHAR" />
		<result column="borrow_status" property="borrowStatus" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="del_flg" property="delFlg" jdbcType="TINYINT" />
	</resultMap>
	<select id="exportBorrowLogList" resultMap="exportBorrowLogListMap" parameterType="com.hyjf.am.resquest.admin.BorrowLogRequset">
		SELECT
		b.borrow_nid,
		b.borrow_status,
		b.type,
		b.remark,
		b.create_user_name,
		FROM_UNIXTIME( b.create_time, '%Y-%m-%d %H:%i:%s' ) AS create_time,
		b.del_flg
		FROM
		hyjf_borrow_log b
		<include refid="Where_Clause" />
		ORDER BY
		<if test="col != null and col != '' and sort != null and sort != ''">
			${col} ${sort},
		</if>
		b.create_time DESC, b.id DESC
		<if test="limitStart >= 0" >
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</select>
</mapper>