<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
		namespace="com.hyjf.am.trade.dao.mapper.customize.admin.HjhInfoAccountBalanceCustomizeMapper">
	<!--汇计划资本按天统计及预估表列表 -->
	<resultMap id="selectHjhAccountBalanceMap" type="com.hyjf.am.vo.admin.HjhAccountBalanceVO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="rpt_date" property="rptDate" jdbcType="DATE" />
		<result column="invest_account" property="investAccount"
				jdbcType="DECIMAL" />
		<result column="credit_account" property="creditAccount"
				jdbcType="DECIMAL" />
		<result column="reinvest_account" property="reinvestAccount"
				jdbcType="DECIMAL" />
		<result column="add_account" property="addAccount" jdbcType="DECIMAL" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="del_flag" property="delFlag" jdbcType="TINYINT" />
	</resultMap>


	<resultMap id="RM_HjhAccountBalance"
			   type="com.hyjf.am.vo.admin.HjhAccountBalanceVO">
		<result property="id" column="id" />
		<result property="rptDate" column="rptDate" />
		<result property="investAccount" column="investAccount" />
		<result property="creditAccount" column="creditAccount" />
		<result property="reinvestAccount" column="reinvestAccount" />
		<result property="addAccount" column="addAccount" />
		<result property="createUser" column="createUser" />
		<result property="createTime" column="createTime" />
		<result property="updateUser" column="updateUser" />
		<result property="updateTime" column="updateTime" />
		<result property="delFlag" column="delFlag" />
		<result property="dataFormt" column="dataFormt" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="HjhAccountBalance_columns">
		<![CDATA[
		id as id ,rpt_date as rptDate ,invest_account as investAccount,credit_account as creditAccount,
		reinvest_account as reinvestAccount,add_account as addAccount,create_user as createUser,
		create_time as createTime,update_user as updateUser,update_time as updateTime,del_flag as delFlag
	    ]]>
	</sql>

	<!-- mysql 分页尾 -->
	<sql id="pagination_Tail">
		<if test="limitStart >= 0">
			LIMIT #{limitStart} , #{limitEnd}
		</if>
	</sql>

	<sql id="HjhAccountBalance_findPage_where">
		<where>
			<if test="idSer != null and idSer != ''">
				AND HjhAccountBalance.id = #{idSer}
			</if>
			<if test="addTimeStart != null and addTimeStart != ''">
				AND HjhAccountBalance.rpt_date &gt;= DATE_FORMAT(#{addTimeStart},'%Y-%m-%d')
			</if>
			<if test="addTimeEnd != null and addTimeEnd != ''">
				AND HjhAccountBalance.rpt_date &lt;= DATE_FORMAT(#{addTimeEnd},'%Y-%m-%d')
			</if>
			<if test="investAccountSer != null and investAccountSer != ''">
				AND HjhAccountBalance.invest_account = #{investAccountSer}
			</if>
			<if test="creditAccountSer != null and creditAccountSer != ''">
				AND HjhAccountBalance.credit_account = #{creditAccountSer}
			</if>
			<if test="reinvestAccountSer != null and reinvestAccountSer != ''">
				AND HjhAccountBalance.reinvest_account = #{reinvestAccountSer}
			</if>
			<if test="addAccountSer != null and addAccountSer != ''">
				AND HjhAccountBalance.add_account = #{addAccountSer}
			</if>
			<if test="createUserSer != null and createUserSer != ''">
				AND HjhAccountBalance.create_user = #{createUserSer}
			</if>
			<if test="createTimeSer != null and createTimeSer != ''">
				AND HjhAccountBalance.create_time = #{createTimeSer}
			</if>
			<if test="updateUserSer != null and updateUserSer != ''">
				AND HjhAccountBalance.update_user = #{updateUserSer}
			</if>
			<if test="updateTimeSer != null and updateTimeSer != ''">
				AND HjhAccountBalance.update_time = #{updateTimeSer}
			</if>
			<if test="delFlgSer != null and delFlgSer != ''">
				AND HjhAccountBalance.del_flag = #{delFlgSer}
			</if>
		</where>
	</sql>

	<select id="getHjhAccountBalancecount" resultType="java.lang.Integer">
		SELECT count(*) FROM ht_hjh_account_balance HjhAccountBalance
		<include refid="HjhAccountBalance_findPage_where" />
	</select>

	<select id="getHjhAccountBalanceMonthCount" resultType="java.lang.Integer">
		select count(1) from (SELECT sum(invest_account) FROM
		ht_hjh_account_balance HjhAccountBalance group by
		DATE_FORMAT(rpt_date,'%Y-%m')) dddd;
	</select>
	<select id="getHjhAccountBalanceMonthCountNew" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from (
		SELECT sum(invest_account)
		FROM ht_hjh_account_balance HjhAccountBalance
		where rpt_date &gt;= STR_TO_DATE(#{addTimeStart},"%Y-%m-%d")AND rpt_date &lt;= STR_TO_DATE(#{addTimeEnd},"%Y-%m-%d")
		group by DATE_FORMAT(rpt_date,'%Y-%m')
		) ffff
	</select>

	<select id="getHjhAccountBalanceList" resultMap="RM_HjhAccountBalance">
		SELECT <include refid="HjhAccountBalance_columns" /> FROM ht_hjh_account_balance
		HjhAccountBalance
		<include refid="HjhAccountBalance_findPage_where"/>
		<include refid="pagination_Tail"/>

	</select>

	<select id="getHjhAccountBalanceMonthList" resultMap="RM_HjhAccountBalance">
		select DATE_FORMAT(rpt_date,'%Y-%m')as dataFormt ,sum(invest_account) as
		'investAccount',sum(credit_account) as 'creditAccount'
		,sum(reinvest_account)as 'reinvestAccount',sum(add_account)as
		'addAccount'
		from ht_hjh_account_balance
		group by DATE_FORMAT(rpt_date,'%Y-%m')
		order by rpt_date desc
		<include refid="pagination_Tail" />
	</select>

</mapper>