<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyjf.am.trade.dao.mapper.customize.admin.SmsCodeCustomizeMapper">

	<select id="queryUser" resultType="java.lang.String" parameterType="java.util.Map">
		SELECT
		mobile
		FROM
		(
		SELECT
		sum(t.account) AS money,
		t.user_id,
		r.mobile
		FROM
		ht_borrow_tender t
		LEFT JOIN ht_r_user r ON t.user_id = r.user_id
		<where>
			<if test="add_time_begin != null" >
				AND t.create_time  <![CDATA[>=]]> #{add_time_begin}
			</if>
			<if test="add_time_end != null" >
				AND t.create_time  <![CDATA[<=]]> #{add_time_end}
			</if>
		</where>
		GROUP BY
		user_id
		<if test="add_money_count != null" >
			HAVING
			money > #{add_money_count,jdbcType=DECIMAL}
		</if>
		) tmp
	</select>

</mapper>