@media screen and (max-width: 768px) {
    .container{
        width: 90%;
        max-width: 1100px;
        margin:0 5%;
        padding:0 20px;
    }
    a.logo{
        margin-left:-20px;
    }
    .fast-sq .fast-login label {
        width: 100%;
        max-width: 320px;
    }
    .fast-sq .check{
        padding:0;
        height:auto;
        min-height: 25px;
        text-align:center;
        width: 100%;
        max-width: 386px;
        font-size: 13px;
    }
    .fast-sq .check label{
        display: inline-block;
        vertical-align: top;
    }
    .fast-sq .check a {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    .fast-sq .btn-sq{
        width: 100%;
        max-width: 320px;
        background-color: #b3d4fc;
    }
    .forget{
        display: none;
    }
    .fast-sq .welcome{
        line-height: 20px;
    }
    .fast-sq .tit{
        padding-top: 25px;
    }
    .container.result{
        height: auto;
        min-height: 300px;
        padding-bottom:30px;
    }
}